{
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "protocol": "rest",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "revision": "20230221",
  "servicePath": "",
  "name": "doubleclicksearch",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "IdMappingFile": {
      "properties": {},
      "type": "object",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "id": "IdMappingFile"
    },
    "ConversionList": {
      "type": "object",
      "id": "ConversionList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        },
        "conversion": {
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          },
          "type": "array"
        }
      },
      "description": "A list of conversions."
    },
    "ReportRequest": {
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportRequest",
      "properties": {
        "rowCount": {
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`."
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "downloadFormat": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32",
          "type": "integer"
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            }
          }
        },
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "values": {
                "type": "array",
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300."
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          }
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "adId": {
              "type": "string",
              "format": "int64",
              "description": "DS ad ID."
            },
            "agencyId": {
              "description": "DS agency ID.",
              "format": "int64",
              "type": "string"
            },
            "engineAccountId": {
              "type": "string",
              "description": "DS engine account ID.",
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "DS advertiser ID."
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "DS campaign ID."
            }
          },
          "type": "object"
        }
      }
    },
    "CustomMetric": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        }
      },
      "description": "A message containing the custom metric.",
      "id": "CustomMetric"
    },
    "SavedColumnList": {
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        }
      },
      "id": "SavedColumnList",
      "type": "object",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list."
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "id": "UpdateAvailabilityResponse",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being returned."
        }
      },
      "description": "The response to a update availability request."
    },
    "ReportRow": {
      "type": "object",
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      }
    },
    "Report": {
      "type": "object",
      "properties": {
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows."
        },
        "rowCount": {
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32"
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "type": "string",
                "format": "int64"
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              }
            }
          }
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        }
      },
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files."
    },
    "SavedColumn": {
      "properties": {
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A saved column",
      "id": "SavedColumn"
    },
    "ReportApiColumnSpec": {
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        }
      },
      "id": "ReportApiColumnSpec",
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "Availability": {
      "id": "Availability",
      "type": "object",
      "properties": {
        "agencyId": {
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "DS agency ID."
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "availabilityTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS advertiser ID."
        },
        "segmentationId": {
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "CustomDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomDimension",
      "description": "A message containing the custom dimension."
    },
    "Conversion": {
      "type": "object",
      "description": "A conversion containing data relevant to DoubleClick Search.",
      "properties": {
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "DS advertiser ID.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "type": "string",
          "description": "DS campaign ID."
        },
        "customMetric": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "engineAccountId": {
          "format": "int64",
          "description": "DS engine account ID.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "adId": {
          "description": "DS ad ID.",
          "format": "int64",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "conversionModifiedTimestamp": {
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        },
        "quantityMillis": {
          "format": "int64",
          "description": "The quantity of this conversion, in millis.",
          "type": "string"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "countMillis": {
          "format": "int64",
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "clickId": {
          "type": "string",
          "description": "DS click ID for the conversion."
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "criterionId": {
          "format": "int64",
          "type": "string",
          "description": "DS criterion (keyword) ID."
        },
        "dsConversionId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "productGroupId": {
          "format": "int64",
          "description": "DS product group ID.",
          "type": "string"
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        }
      },
      "id": "Conversion"
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "description": "The request to update availability."
    }
  },
  "id": "doubleclicksearch:v2",
  "version": "v2",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "Search Ads 360 API",
  "resources": {
    "reports": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.get",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Polls for the status of a report request.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the report request being polled."
            }
          },
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "parameterOrder": [
            "reportId"
          ]
        },
        "getFile": {
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "reportFragment": {
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "location": "path",
              "description": "The index of the report fragment to download.",
              "required": true
            },
            "reportId": {
              "description": "ID of the report.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "useMediaDownloadService": true,
          "id": "doubleclicksearch.reports.getFile",
          "description": "Downloads a report file encoded in UTF-8."
        },
        "getIdMappingFile": {
          "parameters": {
            "agencyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Legacy SA360 agency ID."
            },
            "advertiserId": {
              "location": "path",
              "description": "Legacy SA360 advertiser ID.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "response": {
            "$ref": "IdMappingFile"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping"
        },
        "request": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "description": "Inserts a report request into the reporting system.",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "flatPath": "doubleclicksearch/v2/reports"
        },
        "generate": {
          "request": {
            "$ref": "ReportRequest"
          },
          "description": "Generates and returns a report immediately.",
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "path": "doubleclicksearch/v2/reports/generate",
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "conversion": {
      "methods": {
        "updateAvailability": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability"
        },
        "getByCustomerId": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "endDate": {
              "format": "int32",
              "required": true,
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "type": "integer",
              "location": "query"
            },
            "rowCount": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "maximum": "1000",
              "required": true,
              "description": "The number of conversions to return per call."
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "location": "query"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "location": "query"
            },
            "startRow": {
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "location": "query",
              "format": "uint32"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "agencyId": {
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "location": "query",
              "type": "string"
            },
            "startDate": {
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "maximum": "99991231"
            },
            "customerId": {
              "type": "string",
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path"
            }
          },
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "PUT",
          "id": "doubleclicksearch.conversion.update",
          "path": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "flatPath": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {}
        },
        "get": {
          "parameters": {
            "agencyId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Numeric ID of the agency.",
              "location": "path"
            },
            "startRow": {
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "type": "integer",
              "required": true
            },
            "adGroupId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "location": "query"
            },
            "engineAccountId": {
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "rowCount": {
              "minimum": "1",
              "description": "The number of conversions to return per call.",
              "location": "query",
              "required": true,
              "maximum": "1000",
              "type": "integer",
              "format": "int32"
            },
            "campaignId": {
              "format": "int64",
              "description": "Numeric ID of the campaign.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the advertiser."
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query",
              "type": "string"
            },
            "criterionId": {
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "type": "string"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "maximum": "99991231",
              "required": true,
              "type": "integer",
              "minimum": "20091101",
              "format": "int32"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "location": "query",
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "format": "int32"
            }
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "id": "doubleclicksearch.conversion.get",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "insert": {
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "id": "doubleclicksearch.conversion.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": []
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "DS ID of the advertiser.",
              "type": "string"
            },
            "agencyId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "DS ID of the agency."
            }
          },
          "id": "doubleclicksearch.savedColumns.list",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "response": {
            "$ref": "SavedColumnList"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ]
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "canonicalName": "Doubleclicksearch"
}
