{
  "discoveryVersion": "v1",
  "id": "webrisk:v1",
  "title": "Web Risk API",
  "ownerDomain": "google.com",
  "version_module": true,
  "baseUrl": "https://webrisk.googleapis.com/",
  "resources": {
    "threatLists": {
      "methods": {
        "computeDiff": {
          "id": "webrisk.threatLists.computeDiff",
          "parameters": {
            "constraints.supportedCompressions": {
              "enum": [
                "COMPRESSION_TYPE_UNSPECIFIED",
                "RAW",
                "RICE"
              ],
              "repeated": true,
              "description": "The compression types supported by the client.",
              "type": "string",
              "enumDescriptions": [
                "Unknown.",
                "Raw, uncompressed data.",
                "Rice-Golomb encoded data."
              ],
              "location": "query"
            },
            "constraints.maxDiffEntries": {
              "description": "The maximum size in number of entries. The diff will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no diff size limit is set.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "versionToken": {
              "location": "query",
              "type": "string",
              "format": "byte",
              "description": "The current version token of the client for the requested list (the client version that was received from the last successful diff). If the client does not have a version token (this is the first time calling ComputeThreatListDiff), this may be left empty and a full database snapshot will be returned."
            },
            "threatType": {
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ],
              "description": "Required. The threat list to update. Only a single ThreatType should be specified per request. If you want to handle multiple ThreatTypes, you must make one request per ThreatType.",
              "type": "string",
              "location": "query"
            },
            "constraints.maxDatabaseEntries": {
              "location": "query",
              "description": "Sets the maximum number of entries that the client is willing to have in the local database. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
              "type": "integer",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the most recent threat list diffs. These diffs should be applied to a local database of hashes to keep it up-to-date. If the local database is empty or excessively out-of-date, a complete snapshot of the database will be returned. This Method only updates a single ThreatList at a time. To update multiple ThreatList databases, this method needs to be called once for each list.",
          "response": {
            "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponse"
          },
          "parameterOrder": [],
          "path": "v1/threatLists:computeDiff",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/threatLists:computeDiff"
        }
      }
    },
    "uris": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/uris:search",
          "parameters": {
            "uri": {
              "type": "string",
              "location": "query",
              "description": "Required. The URI to be checked for matches."
            },
            "threatTypes": {
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ],
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "location": "query",
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified."
            }
          },
          "id": "webrisk.uris.search",
          "parameterOrder": [],
          "description": "This method is used to check whether a URI is on a given threatList. Multiple threatLists may be searched in a single query. The response will list all requested threatLists the URI was found to match. If the URI is not found on any of the requested ThreatList an empty response will be returned.",
          "httpMethod": "GET",
          "path": "v1/uris:search",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchUrisResponse"
          }
        }
      }
    },
    "hashes": {
      "methods": {
        "search": {
          "path": "v1/hashes:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "hashPrefix": {
              "location": "query",
              "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. For JSON requests, this field is base64-encoded. Note that if this parameter is provided by a URI, it must be encoded using the web safe base64 variant (RFC 4648).",
              "format": "byte",
              "type": "string"
            },
            "threatTypes": {
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ],
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/hashes:search",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponse"
          },
          "parameterOrder": [],
          "description": "Gets the full hashes that match the requested hash prefix. This is used after a hash prefix is looked up in a threatList and there is a match. The client side threatList only holds partial hashes so the client must query this method to determine if there is a full hash match of a threat.",
          "id": "webrisk.hashes.search"
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "webrisk.projects.operations.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}"
            },
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                }
              },
              "id": "webrisk.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "path": "v1/{+name}/operations",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "id": "webrisk.projects.operations.delete",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              }
            },
            "cancel": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "webrisk.projects.operations.cancel",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleLongrunningCancelOperationRequest"
              }
            }
          }
        },
        "uris": {
          "methods": {
            "submit": {
              "httpMethod": "POST",
              "id": "webrisk.projects.uris.submit",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Submits a URI suspected of containing malicious content to be reviewed. Returns a google.longrunning.Operation which, once the review is complete, is updated with its result. You can use the [Pub/Sub API] (https://cloud.google.com/pubsub) to receive notifications for the returned Operation. If the result verifies the existence of malicious content, the site will be added to the [Google's Social Engineering lists] (https://support.google.com/webmasters/answer/6350487/) in order to protect users that could get exposed to this threat in the future. Only allowlisted projects can use this method during Early Access. Please reach out to Sales or your customer engineer to obtain access.",
              "request": {
                "$ref": "GoogleCloudWebriskV1SubmitUriRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/uris:submit",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\".",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/uris:submit"
            }
          }
        },
        "submissions": {
          "methods": {
            "create": {
              "id": "webrisk.projects.submissions.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/submissions",
              "description": "Creates a Submission of a URI suspected of containing phishing content to be reviewed. If the result verifies the existence of malicious phishing content, the site will be added to the [Google's Social Engineering lists](https://support.google.com/webmasters/answer/6350487/) in order to protect users that could get exposed to this threat in the future. Only allowlisted projects can use this method during Early Access. Please reach out to Sales or your customer engineer to obtain access.",
              "response": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\"."
                }
              },
              "request": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "flatPath": "v1/projects/{projectsId}/submissions",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "revision": "20230226",
  "servicePath": "",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/web-risk/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "rootUrl": "https://webrisk.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "webrisk",
  "schemas": {
    "GoogleCloudWebriskV1SubmitUriRequest": {
      "id": "GoogleCloudWebriskV1SubmitUriRequest",
      "properties": {
        "submission": {
          "description": "Required. The submission that contains the URI to be scanned.",
          "$ref": "GoogleCloudWebriskV1Submission"
        }
      },
      "description": "Request to send a potentially malicious URI to WebRisk.",
      "type": "object"
    },
    "GoogleCloudWebriskV1RiceDeltaEncoding": {
      "type": "object",
      "id": "GoogleCloudWebriskV1RiceDeltaEncoding",
      "properties": {
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64",
          "type": "string"
        },
        "riceParameter": {
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "format": "int32"
        },
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        },
        "encodedData": {
          "type": "string",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "format": "byte"
        }
      },
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum": {
      "type": "object",
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "format": "byte"
        }
      },
      "description": "The expected state of a client's local database."
    },
    "GoogleCloudWebriskV1ThreatEntryRemovals": {
      "properties": {
        "riceIndices": {
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "rawIndices": {
          "$ref": "GoogleCloudWebriskV1RawIndices",
          "description": "The raw removal indices for a local list."
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1ThreatEntryRemovals",
      "description": "Contains the set of entries to remove from a local database."
    },
    "GoogleCloudWebriskV1SubmitUriMetadata": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Latest update time of the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation time of the operation."
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "The operation is currently running.",
            "The operation finished with a success status.",
            "The operation was cancelled.",
            "The operation finished with a failure status.",
            "The operation was closed with no action taken."
          ]
        }
      },
      "description": "Metadata for the Submit URI long-running operation.",
      "type": "object",
      "id": "GoogleCloudWebriskV1SubmitUriMetadata"
    },
    "GoogleCloudWebriskV1RawIndices": {
      "properties": {
        "indices": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The indices to remove from a lexicographically-sorted local list."
        }
      },
      "id": "GoogleCloudWebriskV1RawIndices",
      "type": "object",
      "description": "A set of raw indices to remove from a local list."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      }
    },
    "GoogleCloudWebriskV1SearchHashesResponse": {
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchHashesResponse",
      "properties": {
        "threats": {
          "description": "The full hashes that matched the requested prefixes. The hash will be populated in the key.",
          "items": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponseThreatHash"
          },
          "type": "array"
        },
        "negativeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "For requested entities that did not match the threat list, how long to cache the response until."
        }
      }
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponse": {
      "type": "object",
      "properties": {
        "checksum": {
          "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided diff. If the client state doesn't match the expected state, the client must discard this diff and retry later."
        },
        "recommendedNextDiff": {
          "description": "The soonest the client should wait before issuing any diff request. Querying sooner is unlikely to produce a meaningful diff. Waiting longer is acceptable considering the use case. If this field is not set clients may update as soon as they want.",
          "format": "google-datetime",
          "type": "string"
        },
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "DIFF",
            "RESET"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates resets the client's entire local database. This means that either the client had no state, was seriously out-of-date, or the client is believed to be corrupt."
          ],
          "description": "The type of response. This may indicate that an action must be taken by the client when the response is received.",
          "type": "string"
        },
        "removals": {
          "$ref": "GoogleCloudWebriskV1ThreatEntryRemovals",
          "description": "A set of entries to remove from a local threat type's list. This field may be empty."
        },
        "newVersionToken": {
          "description": "The new opaque client version token. This should be retained by the client and passed into the next call of ComputeThreatListDiff as 'version_token'. A separate version token should be stored and used for each threatList.",
          "format": "byte",
          "type": "string"
        },
        "additions": {
          "$ref": "GoogleCloudWebriskV1ThreatEntryAdditions",
          "description": "A set of entries to add to a local threat type's list."
        }
      },
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponse"
    },
    "GoogleCloudWebriskV1SearchHashesResponseThreatHash": {
      "description": "Contains threat information on a matching hash.",
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchHashesResponseThreatHash",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
        },
        "threatTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "A list of extended coverage social engineering URIs targeting any platform."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ]
          },
          "description": "The ThreatList this threat belongs to. This must contain at least one entry.",
          "type": "array"
        },
        "hash": {
          "format": "byte",
          "type": "string",
          "description": "A 32 byte SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Contains a `SubmitUriMetadata` object."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Matches the `/v1/{project-name}/operations/{operation-id}` pattern.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1Submission": {
      "type": "object",
      "properties": {
        "threatTypes": {
          "description": "ThreatTypes found to be associated with the submitted URI after reviewing it. This might be empty if the URI was not added to any list.",
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ],
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "A list of extended coverage social engineering URIs targeting any platform."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "type": "string",
          "description": "Required. The URI that is being reported for malicious content to be analyzed."
        }
      },
      "id": "GoogleCloudWebriskV1Submission",
      "description": "Wraps a URI that might be displaying malicious content."
    },
    "GoogleCloudWebriskV1ThreatEntryAdditions": {
      "description": "Contains the set of entries to add to a local database. May contain a combination of compressed and raw data in a single response.",
      "id": "GoogleCloudWebriskV1ThreatEntryAdditions",
      "properties": {
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding"
        },
        "rawHashes": {
          "items": {
            "$ref": "GoogleCloudWebriskV1RawHashes"
          },
          "type": "array",
          "description": "The raw SHA256-formatted entries. Repeated to allow returning sets of hashes with different prefix sizes."
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchUrisResponseThreatUri": {
      "description": "Contains threat information on a matching uri.",
      "properties": {
        "threatTypes": {
          "type": "array",
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ],
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "A list of extended coverage social engineering URIs targeting any platform."
            ],
            "type": "string"
          },
          "description": "The ThreatList this threat belongs to."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchUrisResponseThreatUri"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchUrisResponse": {
      "properties": {
        "threat": {
          "description": "The threat list matches. This might be empty if the URI is on no list.",
          "$ref": "GoogleCloudWebriskV1SearchUrisResponseThreatUri"
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchUrisResponse"
    },
    "GoogleCloudWebriskV1RawHashes": {
      "type": "object",
      "description": "The uncompressed threat entries in hash format. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URI. Used for sending ThreatEntryAdditons to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "properties": {
        "prefixSize": {
          "type": "integer",
          "format": "int32",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash). In practice this is almost always 4, except in exceptional circumstances."
        },
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudWebriskV1RawHashes"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    }
  },
  "protocol": "rest",
  "canonicalName": "Web Risk",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://webrisk.mtls.googleapis.com/",
  "batchPath": "batch",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    }
  }
}
