{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20230228",
  "title": "My Business Q&A API",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.create",
              "path": "v1/{+parent}",
              "description": "Adds a question for the specified location.",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the location to write a question for.",
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path"
                }
              },
              "httpMethod": "POST"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.patch",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. Only question text can be updated."
                },
                "name": {
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "path": "v1/{+name}",
              "description": "Updates a specific question written by the current user.",
              "request": {
                "$ref": "Question"
              },
              "response": {
                "$ref": "Question"
              }
            },
            "delete": {
              "description": "Deletes a specific question written by the current user.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "mybusinessqanda.locations.questions.delete",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\""
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                },
                "parent": {
                  "description": "Required. The name of the location to fetch questions for.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "required": true
                },
                "answersPerQuestion": {
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string"
                }
              },
              "id": "mybusinessqanda.locations.questions.list",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "flatPath": "v1/locations/{locationsId}/questions",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "delete": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to delete an answer for."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}/answers:delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes the answer written by the current user to a question."
                },
                "upsert": {
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Answer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the question to write an answer for."
                    }
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "path": "v1/{+parent}/answers:upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert"
                },
                "list": {
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "path": "v1/{+parent}/answers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the question to fetch answers for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Returns the paginated list of answers for a specified question."
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "My Business Q&A",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "schemas": {
    "Author": {
      "description": "Represents the author of a question or answer",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "type": {
          "type": "string",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ]
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        }
      },
      "id": "Author",
      "type": "object"
    },
    "Question": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the question was written.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "author": {
          "$ref": "Author",
          "readOnly": true,
          "description": "Output only. The author of the question."
        },
        "upvoteCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of upvotes for the question.",
          "format": "int32"
        },
        "totalAnswerCount": {
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "topAnswers": {
          "items": {
            "$ref": "Answer"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)"
        }
      },
      "id": "Question",
      "description": "Represents a single question and some of its answers."
    },
    "ListQuestionsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages."
        },
        "questions": {
          "description": "The requested questions,",
          "items": {
            "$ref": "Question"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        }
      },
      "id": "ListQuestionsResponse",
      "description": "Response message for QuestionsAndAnswers.ListQuestions"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      },
      "type": "object",
      "id": "UpsertAnswerRequest"
    },
    "Answer": {
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified."
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the answer. Will only be set during list operations."
        },
        "upvoteCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of upvotes for the answer.",
          "format": "int32"
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters."
        }
      },
      "type": "object",
      "id": "Answer",
      "description": "Represents an answer to a question"
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "id": "ListAnswersResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer"
        },
        "answers": {
          "type": "array",
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/my-business/",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "name": "mybusinessqanda",
  "version": "v1",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "batchPath": "batch",
  "basePath": "",
  "id": "mybusinessqanda:v1",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": ""
}
