{
  "discoveryVersion": "v1",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "title": "Security Command Center API",
  "kind": "discovery#restDescription",
  "schemas": {
    "Edge": {
      "id": "Edge",
      "type": "object",
      "properties": {
        "source": {
          "description": "This is the resource name of the source node.",
          "type": "string"
        },
        "destination": {
          "description": "This is the resource name of the destination node.",
          "type": "string"
        }
      },
      "description": "Represents a connection between a source node and a destination node in this exposure path."
    },
    "Details": {
      "id": "Details",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of subscription",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription.",
            "The demo subscription for channel partners."
          ]
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the subscription has or will end."
        },
        "startTime": {
          "description": "The time the subscription has or will start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a subscription."
    },
    "Subscription": {
      "description": "Resource capturing the state of an organization's subscription.",
      "type": "object",
      "properties": {
        "tier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard tier.",
            "The premium tier."
          ],
          "description": "The tier of SCC features this organization currently has access to."
        },
        "details": {
          "$ref": "Details",
          "description": "The details of the most recent active subscription. If there has never been a subscription this will be empty."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the subscription. Format: organizations/{organization}/subscription"
        }
      },
      "id": "Subscription"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the mute config."
        },
        "name": {
          "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name to be displayed for the mute config."
        },
        "filter": {
          "type": "string",
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "name": {
          "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the BigQuery export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        },
        "principal": {
          "type": "string",
          "description": "Output only. The service account that needs permission to create table and upload data to the BigQuery dataset.",
          "readOnly": true
        },
        "mostRecentEditor": {
          "type": "string",
          "description": "Output only. Email address of the user who last edited the BigQuery export. This field is set by the server and will be ignored if provided on export creation or update.",
          "readOnly": true
        },
        "dataset": {
          "type": "string",
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery Dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_)."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the BigQuery export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string"
        },
        "description": {
          "description": "The description of the export (max of 1024 characters).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configures how to deliver Findings to BigQuery Instance."
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "description": "Label represents a generic name=value label. Label has separate name and value fields to support filtering with contains().",
      "properties": {
        "name": {
          "description": "Label name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Label value."
        }
      }
    },
    "ContainerThreatDetectionSettings": {
      "description": "Resource capturing the settings for the Container Threat Detection service.",
      "properties": {
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Container Threat Detection for scanning. Service accounts are scoped at the project level meaning this field will be empty at any level above a project.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
          "type": "string"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        }
      },
      "type": "object",
      "id": "ContainerThreatDetectionSettings"
    },
    "EnvironmentVariable": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Environment variable name as a JSON encoded string.",
          "type": "string"
        },
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        }
      },
      "id": "EnvironmentVariable",
      "description": "EnvironmentVariable is a name-value pair to store environment variables for Process."
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "properties": {
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        }
      },
      "description": "Cloud SCC's Notification"
    },
    "RapidVulnerabilityDetectionSettings": {
      "description": "Resource capturing the settings for the Rapid Vulnerability Detection service.",
      "type": "object",
      "id": "RapidVulnerabilityDetectionSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings"
        },
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        }
      }
    },
    "NodePool": {
      "description": "Provides GKE Node Pool information.",
      "properties": {
        "name": {
          "description": "Kubernetes Node pool name.",
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array",
          "description": "Nodes associated with the finding."
        }
      },
      "id": "NodePool",
      "type": "object"
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      },
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "Folder": {
      "id": "Folder",
      "type": "object",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        },
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "description": "Message that contains the resource name and display name of a folder resource."
    },
    "GoogleCloudSecuritycenterV1ExposurePath": {
      "properties": {
        "exposedResource": {
          "description": "The leaf node of this exposure path.",
          "$ref": "GoogleCloudSecuritycenterV1ExposedResource"
        },
        "pathNodes": {
          "type": "array",
          "description": "A list of nodes that exist in this exposure path.",
          "items": {
            "$ref": "PathNode"
          }
        },
        "edges": {
          "description": "A list of the edges between nodes in this exposure path.",
          "items": {
            "$ref": "Edge"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Exposure Path Name e.g.: `organizations/123/attackExposureResults/456/exposurePaths/789`"
        }
      },
      "description": "A path that an attacker could take to reach an exposed resource.",
      "id": "GoogleCloudSecuritycenterV1ExposurePath",
      "type": "object"
    },
    "Compliance": {
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "id": "Compliance",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "Policies within the standard/benchmark e.g. A.12.4.1",
          "type": "array"
        },
        "standard": {
          "description": "Refers to industry wide standards or benchmarks e.g. \"cis\", \"pci\", \"owasp\", etc.",
          "type": "string"
        },
        "version": {
          "description": "Version of the standard/benchmark e.g. 1.1",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecurityCenterSettings": {
      "description": "Resource capturing the settings for Security Center.",
      "properties": {
        "onboardingTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when the customer organization was onboarded to SCC.",
          "readOnly": true
        },
        "orgServiceAccount": {
          "readOnly": true,
          "description": "Output only. The organization level service account to be used for security center components.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the SecurityCenterSettings. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
          "type": "string"
        },
        "logSinkProject": {
          "type": "string",
          "description": "The resource name of the project to send logs to. This project must be part of the organization this resource resides in. The format is `projects/{project_id}`. An empty value disables logging. This value is only referenced by services that support log sink. Please refer to the documentation for an updated list of compatible services. This may only be specified for organization level onboarding."
        }
      },
      "type": "object",
      "id": "SecurityCenterSettings"
    },
    "Access": {
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\""
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key used to create or exchange credentials for authenticating the service account making the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\" ",
          "type": "string"
        },
        "callerIp": {
          "type": "string",
          "description": "Caller's IP address, such as \"1.1.1.1\"."
        },
        "callerIpGeo": {
          "description": "The caller IP's geolocation, which identifies where the call came from.",
          "$ref": "Geolocation"
        },
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user (or service account on behalf of third party principal) making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id).",
          "type": "string"
        },
        "userAgentFamily": {
          "description": "What kind of user agent is associated, for example operating system shells, embedded or stand-alone applications, etc.",
          "type": "string"
        },
        "methodName": {
          "type": "string",
          "description": "The method that the service account called, e.g. \"SetIamPolicy\"."
        },
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array",
          "description": "Identity delegation history of an authenticated service account that makes the request. It contains information on the real authorities that try to access GCP resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events."
        },
        "userName": {
          "description": "A string that represents the username of a user, user account, or other entity involved in the access event. What the entity is and what its role in the access event is depends on the finding that this field appears in. The entity is likely not an IAM principal, but could be a user that is logged into an operating system, if the finding is VM-related, or a user that is logged into some type of application that is involved in the access event.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents an access event.",
      "id": "Access"
    },
    "YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string",
          "description": "The name of the YARA rule."
        }
      },
      "type": "object",
      "id": "YaraRuleSignature",
      "description": "A signature corresponding to a YARA rule."
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "type": "string",
          "description": "The duration between asset discovery run start and end",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "description": "A resource value config is a mapping configuration of user's tag values to resource values. Used by the attack path simulation.",
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "properties": {
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with \"AND\" of other resources. E.g. \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "description": "Required. Tag values combined with AND to check against. Values in the form \"tagValues/123\" E.g. [ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ] https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name for the resource value config",
          "type": "string"
        },
        "resourceValue": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "description": "Required. Resource value level this expression represents",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "type": "string"
        },
        "scope": {
          "description": "Project or folder to scope this config to. For example, \"project/456\" would apply this config only to resources in \"project/456\" scope will be checked with \"AND\" of other resources.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MitreAttack": {
      "properties": {
        "additionalTactics": {
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ]
          },
          "type": "array"
        },
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ]
          },
          "type": "array"
        },
        "version": {
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\".",
          "type": "string"
        },
        "primaryTactic": {
          "type": "string",
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "additionalTechniques": {
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques.",
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ]
          }
        }
      },
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
      "id": "MitreAttack"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project id that the resource belongs to."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization."
        }
      }
    },
    "PathNode": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Human readable name of this resource."
        },
        "associatedFindings": {
          "description": "The findings associated with this node in the exposure path.",
          "items": {
            "$ref": "AssociatedFinding"
          },
          "type": "array"
        },
        "resource": {
          "description": "The name of the resource at this point in the exposure path. The format of the name is: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource type of this resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types",
          "type": "string"
        }
      },
      "id": "PathNode",
      "description": "Represents one point that an attacker passes through in this exposure path."
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "description": "The details pertaining to specific contacts",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          },
          "description": "A list of contacts"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        }
      },
      "description": "Security Command Center's Notification",
      "type": "object"
    },
    "Reference": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527."
        },
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        }
      },
      "description": "Additional Links",
      "id": "Reference"
    },
    "Vulnerability": {
      "properties": {
        "cve": {
          "$ref": "Cve",
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        }
      },
      "id": "Vulnerability",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object"
    },
    "Finding": {
      "id": "Finding",
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "properties": {
        "muteInitiator": {
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "type": "string"
        },
        "contacts": {
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "type": "object"
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Contains more detail about the finding."
        },
        "connections": {
          "type": "array",
          "description": "Contains information about the IP connection associated with the finding.",
          "items": {
            "$ref": "Connection"
          }
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "kernelRootkit": {
          "description": "Kernel Rootkit signature.",
          "$ref": "KernelRootkit"
        },
        "externalSystems": {
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "iamBindings": {
          "items": {
            "$ref": "IamBinding"
          },
          "type": "array",
          "description": "Represents IAM bindings associated with the Finding."
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "File associated with the finding."
        },
        "access": {
          "$ref": "Access",
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc."
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "nextSteps": {
          "type": "string",
          "description": "Next steps associate to the finding."
        },
        "exfiltration": {
          "$ref": "Exfiltration",
          "description": "Represents exfiltration associated with the Finding."
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "type": "string"
        },
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "description": "Represents operating system processes associated with the Finding.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string",
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "Containers associated with the finding. containers provides information for both Kubernetes and non-Kubernetes containers."
        },
        "findingClass": {
          "description": "The class of the finding.",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "type": "string"
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "database": {
          "description": "Database associated with the finding.",
          "$ref": "Database"
        },
        "indicator": {
          "$ref": "Indicator",
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\"."
        },
        "mute": {
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "muteUpdateTime": {
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "vulnerability": {
          "description": "Represents vulnerability-specific fields like CVE and CVSS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Vulnerability"
        },
        "severity": {
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "compliances": {
          "description": "Contains compliance information for security standards associated to the finding.",
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        }
      }
    },
    "ProcessSignature": {
      "properties": {
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature",
          "description": "Signature indicating that a binary family was matched."
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature",
          "description": "Signature indicating that a YARA rule was matched."
        }
      },
      "type": "object",
      "description": "Indicates what signature matched this process.",
      "id": "ProcessSignature"
    },
    "Detection": {
      "id": "Detection",
      "description": "Memory hash detection contributing to the binary family match.",
      "type": "object",
      "properties": {
        "percentPagesMatched": {
          "type": "number",
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "format": "double"
        },
        "binary": {
          "type": "string",
          "description": "The name of the binary associated with the memory hash signature detection."
        }
      }
    },
    "Geolocation": {
      "properties": {
        "regionCode": {
          "description": "A CLDR.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Geolocation",
      "description": "Represents a geographical location for a given access."
    },
    "Connection": {
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "id": "Connection",
      "properties": {
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "type": "string"
        },
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "type": "integer"
        },
        "sourcePort": {
          "description": "Source port.",
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        }
      }
    },
    "IamBinding": {
      "properties": {
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Cloud Platform resource, e.g. \"foo@google.com\"."
        },
        "action": {
          "description": "The action that was performed on a Binding.",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\".",
          "type": "string"
        }
      },
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state.",
      "id": "IamBinding",
      "type": "object"
    },
    "ExfilResource": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource's URI (https://google.aip.dev/122#full-resource-names)"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subcomponents of the asset that is exfiltrated - these could be URIs used during exfiltration, table names, databases, filenames, etc. For example, multiple tables may be exfiltrated from the same CloudSQL instance, or multiple files from the same Cloud Storage bucket."
        }
      },
      "id": "ExfilResource",
      "description": "Resource that has been exfiltrated or exfiltrated_to.",
      "type": "object"
    },
    "Kubernetes": {
      "description": "Kubernetes-related attributes.",
      "id": "Kubernetes",
      "type": "object",
      "properties": {
        "pods": {
          "items": {
            "$ref": "Pod"
          },
          "description": "Kubernetes Pods associated with the finding. This field will contain Pod records for each container that is owned by a Pod.",
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "description": "Provides Kubernetes role binding information for findings that involve RoleBindings or ClusterRoleBindings."
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array",
          "description": "Provides Kubernetes Node information."
        },
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "type": "array",
          "description": "Provides Kubernetes role information for findings that involve Roles or ClusterRoles."
        },
        "accessReviews": {
          "description": "Provides information on any Kubernetes access reviews (i.e. privilege checks) relevant to the finding.",
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          },
          "description": "GKE Node Pools associated with the finding. This field will contain NodePool information for each Node, when it is available."
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object",
      "description": "Representation of third party SIEM/SOAR fields within SCC.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system."
        },
        "assignees": {
          "type": "array",
          "description": "References primary/secondary etc assignees in the external system.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\""
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system.",
          "format": "google-datetime"
        },
        "externalUid": {
          "type": "string",
          "description": "Identifier that's used to track the given finding in the external system."
        }
      }
    },
    "Pod": {
      "description": "Kubernetes Pod.",
      "id": "Pod",
      "type": "object",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "Pod containers associated with this finding, if any."
        },
        "name": {
          "type": "string",
          "description": "Kubernetes Pod name."
        },
        "ns": {
          "type": "string",
          "description": "Kubernetes Pod namespace."
        },
        "labels": {
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      }
    },
    "Role": {
      "type": "object",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "description": "Role type.",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string"
        },
        "ns": {
          "description": "Role namespace.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Role name."
        }
      },
      "id": "Role",
      "description": "Kubernetes Role or ClusterRole."
    },
    "Node": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Full Resource name of the Compute Engine VM running the cluster node."
        }
      },
      "type": "object",
      "description": "Kubernetes Nodes associated with the finding.",
      "id": "Node"
    },
    "GoogleCloudSecuritycenterV1ExposedResource": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Human readable name of the resource that is exposed."
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of the exposed resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        },
        "resourceValue": {
          "enumDescriptions": [
            "The resource value isn't specified.",
            "This is a low value resource.",
            "This is a medium value resource.",
            "This is a high value resource."
          ],
          "description": "How valuable this resource is.",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "RESOURCE_VALUE_LOW",
            "RESOURCE_VALUE_MEDIUM",
            "RESOURCE_VALUE_HIGH"
          ],
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "The name of the resource that is exposed. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "methods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ways in which this resource is exposed. Examples: Read, Write"
        },
        "name": {
          "description": "Exposed Resource Name e.g.: `organizations/123/attackExposureResults/456/exposedResources/789`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExposedResource",
      "description": "A resource that is exposed as a result of a finding."
    },
    "Config": {
      "description": "Configuration of a module.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The state of enablement for the module at its level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        }
      },
      "id": "Config"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      }
    },
    "AccessReview": {
      "description": "Conveys information about a Kubernetes access review (e.g. kubectl auth can-i ...) that was involved in a finding.",
      "id": "AccessReview",
      "properties": {
        "verb": {
          "type": "string",
          "description": "Verb is a Kubernetes resource API verb, like: get, list, watch, create, update, delete, proxy. \"*\" means all."
        },
        "subresource": {
          "type": "string",
          "description": "Subresource is the optional subresource type."
        },
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        },
        "group": {
          "description": "Group is the API Group of the Resource. \"*\" means all.",
          "type": "string"
        },
        "version": {
          "description": "Version is the API Version of the Resource. \"*\" means all.",
          "type": "string"
        },
        "resource": {
          "description": "Resource is the optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of the resource being requested. Empty means all."
        }
      },
      "type": "object"
    },
    "WebSecurityScannerSettings": {
      "properties": {
        "serviceEnablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "modules": {
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
        }
      },
      "type": "object",
      "id": "WebSecurityScannerSettings",
      "description": "Resource capturing the settings for the Web Security Scanner service."
    },
    "Cve": {
      "properties": {
        "upstreamFixAvailable": {
          "type": "boolean",
          "description": "Whether upstream fix is available for the CVE."
        },
        "cvssv3": {
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document",
          "$ref": "Cvssv3"
        },
        "references": {
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        }
      },
      "description": "CVE stands for Common Vulnerabilities and Exposures. More information: https://cve.mitre.org",
      "id": "Cve",
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of CloudSQL instances or Cloud Spanner instances), or the database instance itself. Some database resources may not have the full resource name populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. CloudSQL databases). In these cases only the display name will be provided.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full resource name of the database the user connected to, if it is supported by CAI. (https://google.aip.dev/122#full-resource-names)"
        },
        "displayName": {
          "description": "The human readable name of the database the user connected to.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "The username used to connect to the DB. This may not necessarily be an IAM principal, and has no required format."
        },
        "query": {
          "description": "The SQL statement associated with the relevant access.",
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "description": "The target usernames/roles/groups of a SQL privilege grant (not an IAM policy change).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AssociatedFinding": {
      "description": "A finding that is associated with this node in the exposure path.",
      "type": "object",
      "properties": {
        "canonicalFindingName": {
          "description": "Canonical name of the associated findings. Example: organizations/123/sources/456/findings/789",
          "type": "string"
        },
        "findingCategory": {
          "description": "The additional taxonomy group within findings from a given source.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Full resource name of the finding."
        }
      },
      "id": "AssociatedFinding"
    },
    "ServiceAccountDelegationInfo": {
      "description": "Identity delegation history of an authenticated service account.",
      "properties": {
        "principalEmail": {
          "type": "string",
          "description": "The email address of a Google account."
        },
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        }
      },
      "id": "ServiceAccountDelegationInfo",
      "type": "object"
    },
    "Exfiltration": {
      "type": "object",
      "description": "Exfiltration represents a data exfiltration attempt of one or more sources to one or more targets. Sources represent the source of data that is exfiltrated, and Targets represents the destination the data was copied to.",
      "id": "Exfiltration",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          },
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data."
        },
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array",
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source."
        }
      }
    },
    "Cvssv3": {
      "id": "Cvssv3",
      "type": "object",
      "properties": {
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible."
        },
        "baseScore": {
          "format": "double",
          "description": "The base score is a function of the base metric scores.",
          "type": "number"
        },
        "integrityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability."
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "type": "string"
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ]
        },
        "privilegesRequired": {
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "userInteraction": {
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string",
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability."
        }
      },
      "description": "Common Vulnerability Scoring System version 3."
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "properties": {
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "severity": {
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string",
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        }
      }
    },
    "Indicator": {
      "id": "Indicator",
      "type": "object",
      "properties": {
        "uris": {
          "type": "array",
          "description": "The list of URIs associated to the Findings.",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "ipAddresses": {
          "description": "The list of IP addresses that are associated with the finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "description": "List of domains associated to the Finding.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise)."
    },
    "Subject": {
      "description": "Represents a Kubernetes Subject.",
      "type": "object",
      "id": "Subject",
      "properties": {
        "name": {
          "description": "Name for subject.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace for subject.",
          "type": "string"
        },
        "kind": {
          "description": "Authentication type for subject.",
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as Secrets.",
            "Collection of users."
          ]
        }
      }
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "An email address. For example, \"`person123@company.com`\"."
        }
      },
      "description": "The email address of a contact."
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "Container": {
      "description": "Container associated with the finding.",
      "id": "Container",
      "properties": {
        "imageId": {
          "type": "string",
          "description": "Optional container image id, when provided by the container runtime. Uniquely identifies the container image launched using a container image digest."
        },
        "labels": {
          "description": "Container labels, as provided by the container runtime.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "name": {
          "type": "string",
          "description": "Container name."
        },
        "uri": {
          "type": "string",
          "description": "Container image URI provided when configuring a pod/container. May identify a container image version using mutable tags."
        }
      },
      "type": "object"
    },
    "OnboardingState": {
      "description": "Resource capturing onboarding information for a given CRM resource.",
      "id": "OnboardingState",
      "properties": {
        "name": {
          "description": "The resource name of the OnboardingState. Format: organizations/{organization}/onboardingState Format: folders/{folder}/onboardingState Format: projects/{project}/onboardingState",
          "type": "string"
        },
        "onboardingLevel": {
          "enum": [
            "ONBOARDING_LEVEL_UNSPECIFIED",
            "ONBOARDING_LEVEL_PROJECT",
            "ONBOARDING_LEVEL_ORGANIZATION"
          ],
          "enumDescriptions": [
            "Unused.",
            "This resource is onboarded at the project level. Only possible for projects.",
            "This resource is onboarded at the organization level. Possible for organizations, folders, and projects."
          ],
          "type": "string",
          "description": "Describes the level a given organization, folder, or project is onboarded with SCC. If the resource wasn't onboarded, NOT_FOUND would have been thrown."
        }
      },
      "type": "object"
    },
    "SecurityHealthAnalyticsSettings": {
      "description": "Resource capturing the settings for the Security Health Analytics service.",
      "properties": {
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Security Health Analytics detectors.",
          "type": "string",
          "readOnly": true
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        }
      },
      "id": "SecurityHealthAnalyticsSettings",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "id": "GoogleCloudSecuritycenterV1Resource",
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The full resource type of the resource."
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of the resource."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "type": "array",
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "items": {
            "$ref": "Folder"
          }
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        }
      },
      "type": "object"
    },
    "File": {
      "type": "object",
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter",
      "id": "File",
      "properties": {
        "size": {
          "format": "int64",
          "description": "Size of the file in bytes.",
          "type": "string"
        },
        "sha256": {
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file.",
          "type": "string"
        },
        "partiallyHashed": {
          "description": "True when the hash covers only a prefix of the file.",
          "type": "boolean"
        },
        "contents": {
          "description": "Prefix of the file contents as a JSON encoded string. (Currently only populated for Malicious Script Executed findings.)",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Absolute path of the file as a JSON encoded string."
        },
        "hashedSize": {
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Binding",
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "properties": {
        "role": {
          "$ref": "Role",
          "description": "The Role or ClusterRole referenced by the binding."
        },
        "subjects": {
          "items": {
            "$ref": "Subject"
          },
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests.",
          "type": "array"
        },
        "ns": {
          "type": "string",
          "description": "Namespace for binding."
        },
        "name": {
          "description": "Name for binding.",
          "type": "string"
        }
      }
    },
    "EventThreatDetectionSettings": {
      "properties": {
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "modules": {
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "name": {
          "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Resource capturing the settings for the Event Threat Detection service.",
      "id": "EventThreatDetectionSettings"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "type": "string",
          "description": "The duration between asset discovery run start and end",
          "format": "google-duration"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
[...]
