{
  "name": "managedidentities",
  "basePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://managedidentities.mtls.googleapis.com/",
  "title": "Managed Service for Microsoft Active Directory API",
  "ownerName": "Google",
  "canonicalName": "Managed Service for Microsoft Active Directory Consumer API",
  "discoveryVersion": "v1",
  "id": "managedidentities:v1alpha1",
  "schemas": {
    "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was last modified.",
          "type": "string"
        },
        "maintenanceSettings": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
          "description": "Optional. The MaintenanceSettings associated with instance."
        },
        "tenantProjectId": {
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "type": "string",
          "readOnly": true
        },
        "maintenancePolicyNames": {
          "description": "Optional. Deprecated. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For complete details of MaintenancePolicy, please refer to go/cloud-saas-mw-ug.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "producerMetadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "type": "object"
        },
        "softwareVersions": {
          "type": "object",
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sloMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
        },
        "provisionedResources": {
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
        },
        "instanceType": {
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not.",
          "type": "string"
        },
        "consumerDefinedName": {
          "type": "string",
          "description": "consumer_defined_name is the name that is set by the consumer. On the other hand Name field represents system-assigned id of an instance so consumers are not necessarily aware of it. consumer_defined_name is used for notification/UI purposes for consumer to recognize their instances."
        },
        "notificationParameters": {
          "type": "object",
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
          }
        },
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "state": {
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "type": "string"
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
          }
        }
      }
    },
    "OnPremDomainDetails": {
      "id": "OnPremDomainDetails",
      "properties": {
        "disableSidFiltering": {
          "type": "boolean",
          "description": "Optional. Option to disable SID filtering."
        },
        "domainName": {
          "type": "string",
          "description": "Required. FQDN of the on-prem domain being migrated."
        }
      },
      "type": "object",
      "description": "OnPremDomainDetails is the message which contains details of on-prem domain which is trusted and needs to be migrated."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
      "description": "Describes provisioned dataplane resources.",
      "properties": {
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        },
        "resourceUrl": {
          "type": "string",
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
        }
      }
    },
    "WeeklyCycle": {
      "properties": {
        "schedule": {
          "items": {
            "$ref": "Schedule"
          },
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window."
        }
      },
      "description": "Time window specified for weekly operations.",
      "id": "WeeklyCycle",
      "type": "object"
    },
    "GoogleCloudManagedidentitiesV1alpha1OpMetadata": {
      "id": "GoogleCloudManagedidentitiesV1alpha1OpMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SQLIntegration": {
      "description": "Represents the SQL instance integrated with AD.",
      "id": "SQLIntegration",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not Set",
            "The sqlIntegration is being created.",
            "The sqlIntegration is being deleted.",
            "The sqlIntegration is ready."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "READY"
          ],
          "description": "Output only. The current state of the managed OU."
        },
        "name": {
          "description": "The unique name of the sql integration in the form of `projects/{project_id}/locations/global/domains/{domain_name}/sqlIntegrations/{sql_integration}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time for this SQL instance."
        },
        "sqlInstance": {
          "type": "string",
          "description": "The full resource name of an integrated sql instance"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the instance was created."
        }
      },
      "type": "object"
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Configure the schedule.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time within the window to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string"
        },
        "day": {
          "description": "Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "ListDomainsResponse": {
      "id": "ListDomainsResponse",
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "$ref": "Domain"
          },
          "description": "A list of Managed Identities Service domains in the project."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "ResetAdminPasswordRequest": {
      "id": "ResetAdminPasswordRequest",
      "properties": {},
      "type": "object"
    },
    "ListBackupsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of Cloud AD backups in the domain."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "description": "ListBackupsResponse is the response message for ListBackups method.",
      "id": "ListBackupsResponse"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object",
      "id": "Location"
    },
    "TimeOfDay": {
      "properties": {
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ReconfigureTrustRequest": {
      "properties": {
        "trust": {
          "description": "The domain trust resource with updated dns conditional forwarder.",
          "$ref": "Trust"
        }
      },
      "type": "object",
      "id": "ReconfigureTrustRequest"
    },
    "GoogleCloudManagedidentitiesV1OpMetadata": {
      "type": "object",
      "id": "GoogleCloudManagedidentitiesV1OpMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
      "type": "object",
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "properties": {
        "tier": {
          "type": "string",
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
          },
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        }
      }
    },
    "ResetAdminPasswordResponse": {
      "properties": {
        "password": {
          "description": "A random password. See admin for more information.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResetAdminPasswordResponse"
    },
    "LDAPSSettings": {
      "id": "LDAPSSettings",
      "type": "object",
      "properties": {
        "certificate": {
          "description": "Output only. The certificate used to configure LDAPS. Certificates can be chained with a maximum length of 15.",
          "readOnly": true,
          "$ref": "Certificate"
        },
        "certificatePfx": {
          "format": "byte",
          "description": "Input only. The uploaded PKCS12-formatted certificate to configure LDAPS with. It will enable the domain controllers in this domain to accept LDAPS connections (either LDAP over SSL/TLS or the StartTLS operation). A valid certificate chain must form a valid x.509 certificate chain (or be comprised of a single self-signed certificate. It must be encrypted with either: 1) PBES2 + PBKDF2 + AES256 encryption and SHA256 PRF; or 2) pbeWithSHA1And3-KeyTripleDES-CBC Private key must be included for the leaf / single self-signed certificate. Note: For a fqdn your-example-domain.com, the wildcard fqdn is *.your-example-domain.com. Specifically the leaf certificate must have: - Either a blank subject or a subject with CN matching the wildcard fqdn. - Exactly two SANs - the fqdn and wildcard fqdn. - Encipherment and digital key signature key usages. - Server authentication extended key usage (OID=1.3.6.1.5.5.7.3.1) - Private key must be in one of the following formats: RSA, ECDSA, ED25519. - Private key must have appropriate key length: 2048 for RSA, 256 for ECDSA - Signature algorithm of the leaf certificate cannot be MD2, MD5 or SHA1.",
          "type": "string"
        },
        "certificatePassword": {
          "description": "Input only. The password used to encrypt the uploaded pfx certificate.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the LDAPS settings. Uses the form: `projects/{project}/locations/{location}/domains/{domain}`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last update time."
        },
        "state": {
          "description": "Output only. The current state of this LDAPS settings.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UPDATING",
            "ACTIVE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not Set",
            "The LDAPS setting is being updated.",
            "The LDAPS setting is ready.",
            "The LDAPS setting is not applied correctly."
          ],
          "type": "string"
        }
      },
      "description": "LDAPSSettings represents the ldaps settings for domain resource. LDAP is the Lightweight Directory Access Protocol, defined in https://tools.ietf.org/html/rfc4511. The settings object configures LDAP over SSL/TLS, whether it is over port 636 or the StartTLS operation. If LDAPSSettings is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DetachTrustRequest": {
      "properties": {
        "trust": {
          "$ref": "Trust",
          "description": "The domain trust resource to removed."
        }
      },
      "type": "object",
      "id": "DetachTrustRequest"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "Certificate": {
      "type": "object",
      "id": "Certificate",
      "properties": {
        "thumbprint": {
          "type": "string",
          "description": "The certificate thumbprint which uniquely identifies the certificate."
        },
        "expireTime": {
          "description": "The certificate expire time.",
          "format": "google-datetime",
          "type": "string"
        },
        "issuingCertificate": {
          "description": "The issuer of this certificate.",
          "$ref": "Certificate"
        },
        "subject": {
          "description": "The certificate subject.",
          "type": "string"
        },
        "subjectAlternativeName": {
          "description": "The additional hostnames for the domain.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Certificate used to configure LDAPS."
    },
    "MaintenancePolicy": {
      "description": "LINT.IfChange Defines policies to service maintenance events.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "type": "string",
          "description": "Optional. The state of the policy.",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "name": {
          "type": "string",
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the resource was updated."
        }
      },
      "id": "MaintenancePolicy",
      "type": "object"
    },
    "EnableMigrationRequest": {
      "type": "object",
      "id": "EnableMigrationRequest",
      "description": "EnableMigrationRequest is the request message for EnableMigration method.",
      "properties": {
        "migratingDomains": {
          "type": "array",
          "items": {
            "$ref": "OnPremDomainDetails"
          },
          "description": "Required. List of the on-prem domains to be migrated."
        }
      }
    },
    "Backup": {
      "description": "Represents a Managed Microsoft Identities backup.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Backup type not specified.",
            "Backup was manually created.",
            "Backup was automatically created.",
            "Backup was taken as part of Schema Extension request."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "SCHEDULED",
            "SCHEMA_EXTENSION"
          ],
          "description": "Output only. Indicates whether it’s an on-demand backup or scheduled."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the backups was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Last update time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. A short description of the backup.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current status of this backup, if available."
        },
        "state": {
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Backup is being created.",
            "Backup has been created and validated.",
            "Backup has been created but failed validation.",
            "Backup is being deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "DELETING"
          ]
        },
        "name": {
          "description": "Output only. The unique name of the Backup in the form of projects/{project_id}/locations/global/domains/{domain_name}/backups/{name}",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Backup"
    },
    "DailyCycle": {
      "id": "DailyCycle",
      "type": "object",
      "description": "Time window specified for daily operations.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "UpdatePolicy": {
      "description": "Maintenance policy applicable to instance updates.",
      "type": "object",
      "properties": {
        "channel": {
          "description": "Optional. Relative scheduling channel applied to resource.",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "type": "string",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. User can specify zero or more non-overlapping deny periods. Maximum number of deny_maintenance_periods expected is one."
        }
      },
      "id": "UpdatePolicy"
    },
    "Peering": {
      "properties": {
        "statusMessage": {
          "description": "Output only. Additional information about the current status of this peering, if available.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique name of the peering in this scope including projects and location using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`."
        },
        "domainResource": {
          "description": "Required. Full domain resource path for the Managed AD Domain involved in peering. The resource path should be in the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the instance was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "authorizedNetwork": {
          "description": "Required. The full names of the Google Compute Engine [networks](/compute/docs/networks-and-firewalls#networks) to which the instance is connected. Caller needs to make sure that CIDR subnets do not overlap between networks, else peering creation will fail.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "Peering is being created.",
            "Peering is connected.",
            "Peering is disconnected.",
            "Peering is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CONNECTED",
            "DISCONNECTED",
            "DELETING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of this Peering."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        }
      },
      "description": "Represents a Managed Microsoft Identities Peering.",
      "id": "Peering",
      "type": "object"
    },
    "CheckMigrationPermissionRequest": {
      "id": "CheckMigrationPermissionRequest",
      "type": "object",
      "description": "CheckMigrationPermissionRequest is the request message for CheckMigrationPermission method.",
      "properties": {}
    },
    "ExtendSchemaRequest": {
      "description": "ExtendSchemaRequest is the request message for ExtendSchema method.",
      "id": "ExtendSchemaRequest",
      "type": "object",
      "properties": {
        "fileContents": {
          "type": "string",
          "format": "byte",
          "description": "File uploaded as a byte stream input."
        },
        "gcsPath": {
          "description": "File stored in Cloud Storage bucket and represented in the form projects/{project_id}/buckets/{bucket_name}/objects/{object_name} File should be in the same project as the domain.",
          "type": "string"
        },
        "description": {
          "description": "Required. Description for Schema Change.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
      "properties": {
        "eligible": {
          "type": "boolean",
          "description": "Whether an instance is eligible or ineligible."
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      },
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "type": "object"
    },
    "ListSQLIntegrationsResponse": {
      "description": "ListSQLIntegrationsResponse is the response message for ListSQLIntegrations method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "sqlIntegrations": {
          "description": "A list of SQLIntegrations of a domain.",
          "items": {
            "$ref": "SQLIntegration"
          },
          "type": "array"
        }
      },
      "id": "ListSQLIntegrationsResponse"
    },
    "GoogleCloudManagedidentitiesV1beta1OpMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudManagedidentitiesV1beta1OpMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "description": "Contains notification related data.",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "properties": {
        "eligibilities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          },
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "ValidateTrustRequest": {
      "type": "object",
      "id": "ValidateTrustRequest",
      "properties": {
        "trust": {
          "$ref": "Trust",
          "description": "The domain trust to validate trust state for."
        }
      }
    },
    "DenyMaintenancePeriod": {
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
        }
      },
      "type": "object",
      "id": "DenyMaintenancePeriod"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "type": "object",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
      "properties": {
        "maintenancePolicies": {
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For complete details of MaintenancePolicy, please refer to go/cloud-saas-mw-ug. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          }
        },
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "isRollback": {
          "type": "boolean",
          "description": "Optional. If the update call is triggered from rollback, set the value as true."
        }
      }
    },
    "RestoreDomainRequest": {
      "id": "RestoreDomainRequest",
      "description": "RestoreDomainRequest is the request received by RestoreDomain rpc",
      "type": "object",
      "properties": {
        "backupId": {
          "type": "string",
          "description": "Required. ID of the backup to be restored"
        }
      }
    },
    "Trust": {
      "description": "Represents a relationship between two domains which makes it possible for users in one domain to be authenticated by a dc in another domain. Refer https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc731335(v%3dws.10) If the trust is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state.",
      "properties": {
        "trustHandshakeSecret": {
          "description": "Input only, and will not be stored. The trust secret used for handshake with target domain.",
          "type": "string"
        },
        "trustType": {
          "type": "string",
          "description": "The type of trust represented by the trust resource.",
          "enumDescriptions": [
            "Not Set",
            "The forest trust.",
            "The external domain trust."
          ],
          "enum": [
            "TRUST_TYPE_UNSPECIFIED",
            "FOREST",
            "EXTERNAL"
          ]
        },
        "lastKnownTrustConnectedHeartbeatTime": {
          "description": "Output only. The last heartbeat time when the trust was known to be connected.",
          "type": "string",
          "format": "google-datetime"
        },
        "selectiveAuthentication": {
          "description": "The trust authentication type which decides whether the trusted side has forest/domain wide access or selective access to approved set of resources.",
          "type": "boolean"
        },
        "trustDirection": {
          "type": "string",
          "enumDescriptions": [
            "Not Set",
            "The inbound direction represents the trusting side.",
            "The outboud direction represents the trusted side.",
            "The bidirectional direction represents the trusted / trusting side."
          ],
          "enum": [
            "TRUST_DIRECTION_UNSPECIFIED",
            "INBOUND",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ],
          "description": "The trust direction decides the current domain is trusted, trusting or both."
        },
        "targetDomainName": {
          "type": "string",
          "description": "The fully qualified target domain name which will be in trust with current domain."
        },
        "updateTime": {
          "description": "Output only. Last update time.",
          "type": "string",
          "format": "google-datetime"
        },
        "stateDescription": {
          "description": "Output only. Additional information about the current state of this trust, if available.",
          "type": "string"
        },
        "targetDnsIpAddresses": {
          "description": "The target dns server ip addresses which can resolve the remote domain involved in trust.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the instance was created."
        },
        "state": {
          "enumDescriptions": [
            "Not Set",
            "Domain trust is being created.",
            "Domain trust is being updated.",
            "Domain trust is being deleted.",
            "Domain trust is connected.",
            "Domain trust is disconnected."
          ],
          "description": "Output only. The current state of this trust.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "CONNECTED",
            "DISCONNECTED"
          ]
        }
      },
      "id": "Trust",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "type": "object",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "properties": {
        "canReschedule": {
          "type": "boolean",
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "rolloutManagementPolicy": {
          "type": "string",
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled end time for the maintenance."
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListPeeringsResponse": {
      "properties": {
        "peerings": {
          "type": "array",
          "description": "A list of Managed Identities Service Peerings in the project.",
          "items": {
            "$ref": "Peering"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListPeeringsResponse",
      "description": "ListPeeringsResponse is the response message for ListPeerings method.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "Expr": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        },
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        }
      },
      "type": "object",
      "description": "MaintenanceWindow definition."
    },
    "CheckMigrationPermissionResponse": {
      "id": "CheckMigrationPermissionResponse",
      "description": "CheckMigrationPermissionResponse is the response message for CheckMigrationPermission method.",
      "properties": {
        "onpremDomains": {
          "items": {
            "$ref": "OnPremDomainSIDDetails"
          },
          "type": "array",
          "description": "The state of SID filtering of all the domains which has trust established."
        },
        "state": {
          "description": "The state of DomainMigration.",
          "enumDescriptions": [
            "DomainMigration is in unspecified state.",
            "Domain Migration is Disabled.",
            "Domain Migration is Enabled.",
            "Domain Migration is not in valid state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "NEEDS_MAINTENANCE"
          ]
        }
      },
      "type": "object"
    },
    "AttachTrustRequest": {
      "id": "AttachTrustRequest",
      "properties": {
        "trust": {
          "$ref": "Trust",
          "description": "The domain trust resource."
        }
      },
      "type": "object"
    },
    "OnPremDomainSIDDetails": {
      "id": "OnPremDomainSIDDetails",
      "description": "OnPremDomainDetails is the message which contains details of on-prem domain which is trusted and needs to be migrated.",
      "type": "object",
      "properties": {
        "sidFilteringState": {
          "description": "Current SID filtering state.",
          "enum": [
            "SID_FILTERING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "SID Filtering is in unspecified state.",
            "SID Filtering is Enabled.",
            "SID Filtering is Disabled."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "FQDN of the on-prem domain being migrated."
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      }
    },
    "DisableMigrationRequest": {
      "type": "object",
      "description": "DisableMigrationRequest is the request message for DisableMigration method.",
      "id": "DisableMigrationRequest",
      "properties": {}
    },
    "DomainJoinMachineRequest": {
      "description": "DomainJoinMachineRequest is the request message for DomainJoinMachine method",
      "id": "DomainJoinMachineRequest",
      "properties": {
        "vmIdToken": {
          "type": "string",
          "description": "Required. Full instance id token of compute engine VM to verify instance identity. More about this: https://cloud.google.com/compute/docs/instances/verifying-instance-identity#request_signature"
        },
        "ouName": {
          "type": "string",
          "description": "Optional. OU name where the VM needs to be domain joined"
        }
      },
      "type": "object"
    },
    "Domain": {
      "id": "Domain",
      "type": "object",
      "description": "If the domain is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state.",
      "properties": {
        "managedIdentitiesAdminName": {
          "type": "string",
          "description": "Optional. Name of customer-visible admin used to perform Active Directory operations. If not specified `setupadmin` would be used."
        },
        "auditLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Configuration for audit logs. True if audit logs are enabled, else false. Default is audit logs disabled."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update time. Synthetic field is populated automatically by CCFE.",
          "format": "google-datetime"
        },
        "trusts": {
          "type": "array",
          "description": "Output only. The current trusts associated with the domain.",
          "items": {
            "$ref": "Trust"
          }
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Additional information about the current status of this domain, if available."
        },
        "reservedIpRange": {
          "type": "string",
          "description": "Required. The CIDR range of internal addresses that are reserved for this domain. Reserved networks must be /24 or larger. Ranges must be unique and non-overlapping with existing subnets in [Domain].[authorized_networks]."
        },
        "fqdn": {
          "description": "Output only. Fully-qualified domain name of the exposed domain used by clients to connect to the service. Similar to what would be chosen for an Active Directory that is set up on an internal network.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Unique name of the domain in this scope including projects and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "ManagedIdentities domain is being created.",
            "ManagedIdentities domain has been created and is fully usable.",
            "ManagedIdentities domain configuration is being updated.",
            "ManagedIdentities domain is being deleted.",
            "ManagedIdentities domain is being repaired and may be unusable. Details can be found in the `status_message` field.",
            "ManagedIdentities domain is undergoing maintenance.",
            "ManagedIdentities domain is not serving customer requests."
          ],
          "description": "Output only. The current state of this domain.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "PERFORMING_MAINTENANCE",
            "DOWN"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the instance was created. Synthetic field is populated automatically by CCFE. go/ccfe-synthetic-field-user-guide"
        },
        "authorizedNetworks": {
          "type": "array",
          "description": "Optional. The full names of the Google Compute Engine [networks](/compute/docs/networks-and-firewalls#networks) to which the instance is connected. Network can be added using UpdateDomain later. Domain is only available on network part of authorized_networks. Caller needs to make sure that CIDR subnets do not overlap between networks, else domain creation will fail.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata"
        },
        "locations": {
          "description": "Required. Locations where domain needs to be provisioned. regions e.g. us-west1 or us-east4 Service supports up to 4 locations at once. Each location will use a /26 block.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DomainJoinMachineResponse": {
      "description": "DomainJoinMachineResponse is the response message for DomainJoinMachine method",
      "id": "DomainJoinMachineResponse",
      "properties": {
        "domainJoinBlob": {
          "type": "string",
          "description": "Offline domain join blob as the response"
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
      "properties": {
        "perSliEligibility": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
        },
        "nodeId": {
          "type": "string",
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id."
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        }
      },
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "managedidentities.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}/locations",
              "id": "managedidentities.projects.locations.list",
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              }
            }
          },
          "resources": {
            "global": {
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.operations.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha1/{+name}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled.",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                    },
                    "delete": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource to be deleted.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha1/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "id": "managedidentities.projects.locations.global.operations.delete"
                    },
                    "get": {
                      "id": "managedidentities.projects.locations.global.operations.get",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation resource."
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "list": {
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedidentities.projects.locations.global.operations.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The standard list page size."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "path": "v1alpha1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/operations"
                    }
                  }
                },
                "peerings": {
                  "methods": {
                    "get": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "id": "managedidentities.projects.locations.global.peerings.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Peering"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single Peering.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "required": true,
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`"
                        }
                      },
                      "path": "v1alpha1/{+name}"
                    },
                    "testIamPermissions": {
                      "path": "v1alpha1/{+resource}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "id": "managedidentities.projects.locations.global.peerings.testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:testIamPermissions",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      }
                    },
                    "list": {
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the domain location using the form: `projects/{project_id}/locations/global`",
                          "pattern": "^projects/[^/]+/locations/global$"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter specifying constraints of a list operation. For example, `peering.authoized_network =\"/projects/myprojectid\"`."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "id": "managedidentities.projects.locations.global.peerings.list",
                      "response": {
                        "$ref": "ListPeeringsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha1/{+parent}/peerings",
                      "description": "Lists Peerings in a given project.",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Peering"
                      },
                      "description": "Updates the labels for specified Peering.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.patch",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Peering: * `labels`",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Output only. Unique name of the peering in this scope including projects and location using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`.",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "id": "managedidentities.projects.locations.global.peerings.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha1/{+name}",
                      "description": "Deletes identified Peering.",
                      "parameters": {
                        "name": {
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "setIamPolicy": {
                      "httpMethod": "POST",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "location": "path",
                          "required": true,
[...]
