{
  "version_module": true,
  "canonicalName": "Firebase Hosting",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "revision": "20230226",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "name": "firebasehosting",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Firebase Hosting API",
  "kind": "discovery#restDescription",
  "description": "The Firebase Hosting REST API enables programmatic and customizable management and deployments to your Firebase-hosted sites. Use this REST API to create and manage channels and sites as well as to deploy new or updated hosting configurations and content files.",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "batchPath": "batch",
  "id": "firebasehosting:v1beta1",
  "version": "v1beta1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "firebasehosting.projects.operations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}"
            }
          }
        },
        "sites": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firebasehosting.projects.sites.list",
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "ListSitesResponse"
              },
              "path": "v1beta1/{+parent}/sites",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.projects.sites.delete"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified Hosting Site.",
              "response": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID"
                }
              },
              "id": "firebasehosting.projects.sites.get"
            },
            "create": {
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true
                },
                "siteId": {
                  "type": "string",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "location": "query"
                }
              },
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/sites",
              "request": {
                "$ref": "Site"
              },
              "id": "firebasehosting.projects.sites.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Site"
              }
            },
            "updateConfig": {
              "id": "firebasehosting.projects.sites.updateConfig",
              "response": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "request": {
                "$ref": "SiteConfig"
              },
              "httpMethod": "PATCH",
              "description": "Sets the Hosting metadata for a specific site.",
              "parameters": {
                "name": {
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.patch",
              "description": "Updates attributes of the specified Hosting Site.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510)."
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your Site that you want to update."
                }
              },
              "request": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Site"
              }
            },
            "getConfig": {
              "parameters": {
                "name": {
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$"
                }
              },
              "httpMethod": "GET",
              "id": "firebasehosting.projects.sites.getConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "description": "Gets the Hosting metadata for a specific site.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "id": "firebasehosting.projects.sites.versions.get",
                  "response": {
                    "$ref": "Version"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}"
                },
                "clone": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "path": "v1beta1/{+parent}/versions:clone",
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "description": "Deletes the specified version."
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "required": true
                    },
                    "versionId": {
                      "type": "string",
                      "location": "query",
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                    },
                    "sizeBytes": {
                      "type": "string",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "location": "query",
                      "format": "int64"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "Version"
                  },
                  "path": "v1beta1/{+parent}/versions",
                  "description": "Creates a new version for the specified site.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.create",
                  "request": {
                    "$ref": "Version"
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "id": "firebasehosting.projects.sites.versions.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+parent}/versions",
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site."
                },
                "populateFiles": {
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "path": "v1beta1/{+parent}:populateFiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "path": "v1beta1/{+parent}/files",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                        },
                        "status": {
                          "location": "query",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "description": " The type of files that should be listed for the specified version.",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "id": "firebasehosting.projects.sites.versions.files.list"
                    }
                  }
                }
              }
            },
            "domains": {
              "methods": {
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Gets a domain mapping on the specified site.",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the domain configuration to get.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET"
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                    }
                  },
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Domain"
                  },
                  "id": "firebasehosting.projects.sites.domains.update"
                },
                "create": {
                  "description": "Creates a domain mapping on the specified site.",
                  "response": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.domains.create",
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/domains"
                },
                "list": {
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "description": "Lists the domains for the specified site.",
                  "path": "v1beta1/{+parent}/domains",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The page size to return. Defaults to 50.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.domains.list"
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the domain association to delete.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "releases": {
              "methods": {
                "get": {
                  "id": "firebasehosting.projects.sites.releases.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "httpMethod": "GET",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "id": "firebasehosting.projects.sites.releases.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "id": "firebasehosting.projects.sites.releases.create",
                  "response": {
                    "$ref": "Release"
                  },
                  "path": "v1beta1/{+parent}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string"
                    },
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "channels": {
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "httpMethod": "GET",
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100."
                        },
                        "parent": {
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+parent}/releases"
                    },
                    "create": {
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "response": {
                        "$ref": "Release"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "path": "v1beta1/{+parent}/releases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "versionName": {
                          "location": "query",
                          "type": "string",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                        },
                        "parent": {
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "Release"
                      },
                      "httpMethod": "POST"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                      "path": "v1beta1/{+name}",
                      "id": "firebasehosting.projects.sites.channels.releases.get",
                      "response": {
                        "$ref": "Release"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "id": "firebasehosting.projects.sites.channels.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "firebasehosting.projects.sites.channels.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "channelId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/channels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new channel in the specified site.",
                  "request": {
                    "$ref": "Channel"
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "A comma-separated list of fields to be updated in this request."
                    },
                    "name": {
                      "type": "string",
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Channel"
                  },
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Channel"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "id": "firebasehosting.projects.sites.channels.list",
                  "path": "v1beta1/{+parent}/channels",
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    },
    "sites": {
      "methods": {
        "updateConfig": {
          "id": "firebasehosting.sites.updateConfig",
          "request": {
            "$ref": "SiteConfig"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "required": true,
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "path": "v1beta1/{+name}",
          "description": "Sets the Hosting metadata for a specific site.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "SiteConfig"
          }
        },
        "getConfig": {
          "description": "Gets the Hosting metadata for a specific site.",
          "response": {
            "$ref": "SiteConfig"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "firebasehosting.sites.getConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "pattern": "^sites/[^/]+/config$"
            }
          }
        }
      },
      "resources": {
        "domains": {
          "methods": {
            "get": {
              "description": "Gets a domain mapping on the specified site.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain configuration to get.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.domains.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "update": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firebasehosting.sites.domains.update",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "response": {
                "$ref": "Domain"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Domain"
              }
            },
            "create": {
              "description": "Creates a domain mapping on the specified site.",
              "path": "v1beta1/{+parent}/domains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Domain"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.create",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "id": "firebasehosting.sites.domains.list",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+parent}/domains",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The page size to return. Defaults to 50."
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Lists the domains for the specified site.",
              "response": {
                "$ref": "ListDomainsResponse"
              }
            },
            "delete": {
              "id": "firebasehosting.sites.domains.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the existing domain mapping on the specified site.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain association to delete.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}"
            }
          }
        },
        "releases": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                  "type": "string",
                  "pattern": "^sites/[^/]+/releases/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Release"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases/{releasesId}",
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.releases.get"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+parent}/releases",
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.releases.list",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "type": "integer"
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string"
                },
                "versionName": {
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Release"
              },
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.releases.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "Release"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/releases",
              "flatPath": "v1beta1/sites/{sitesId}/releases"
            }
          }
        },
        "versions": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}",
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "id": "firebasehosting.sites.versions.get"
            },
            "populateFiles": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$"
                }
              },
              "id": "firebasehosting.sites.versions.populateFiles",
              "httpMethod": "POST",
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}:populateFiles",
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "description": " Adds content files to the specified version. Each file must be under 2 GB."
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                },
                "filter": {
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "firebasehosting.sites.versions.list",
              "path": "v1beta1/{+parent}/versions"
            },
            "create": {
              "id": "firebasehosting.sites.versions.create",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "response": {
                "$ref": "Version"
              },
              "description": "Creates a new version for the specified site.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "pattern": "^sites/[^/]+$",
                  "type": "string"
                },
                "sizeBytes": {
                  "location": "query",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "format": "int64",
                  "type": "string"
                },
                "versionId": {
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/versions",
              "request": {
                "$ref": "Version"
              }
            },
            "patch": {
              "id": "firebasehosting.sites.versions.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "PATCH",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Version"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "clone": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                }
              },
              "path": "v1beta1/{+parent}/versions:clone",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "id": "firebasehosting.sites.versions.clone",
              "httpMethod": "POST"
            },
            "delete": {
              "id": "firebasehosting.sites.versions.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified version.",
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/files",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "location": "query"
                    },
                    "status": {
                      "type": "string",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "description": " The type of files that should be listed for the specified version.",
                      "location": "query",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ]
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "id": "firebasehosting.sites.versions.files.list"
                }
              }
            }
          }
        },
        "channels": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "parameters": {
                "channelId": {
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/channels",
              "response": {
                "$ref": "Channel"
              },
              "description": "Creates a new channel in the specified site.",
              "id": "firebasehosting.sites.channels.create"
            },
            "patch": {
              "response": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "httpMethod": "PATCH",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "id": "firebasehosting.sites.channels.patch",
              "request": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "location": "path",
                  "pattern": "^sites/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100."
                },
                "pageToken": {
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "id": "firebasehosting.sites.channels.list"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.channels.get",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "description": "Retrieves information for the specified channel of the specified site.",
              "response": {
                "$ref": "Channel"
              }
            },
            "delete": {
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "id": "firebasehosting.sites.channels.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE"
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Release"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "id": "firebasehosting.sites.channels.releases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "POST",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Release"
                  },
                  "id": "firebasehosting.sites.channels.releases.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "versionName": {
                      "location": "query",
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$"
                    }
                  }
                },
                "list": {
                  "id": "firebasehosting.sites.channels.releases.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    }
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            }
          }
        }
[...]
