{
  "batchPath": "batch",
  "title": "Area120 Tables API",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://area120tables.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "name": "area120tables",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "rootUrl": "https://area120tables.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "revision": "20230226",
  "id": "area120tables:v1alpha1",
  "protocol": "rest",
  "resources": {
    "workspaces": {
      "methods": {
        "list": {
          "flatPath": "v1alpha1/workspaces",
          "path": "v1alpha1/workspaces",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists workspaces for the user.",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "id": "area120tables.workspaces.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^workspaces/[^/]+$",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "required": true
            }
          },
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Workspace"
          },
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/{+name}",
          "id": "area120tables.workspaces.get"
        }
      }
    },
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "get": {
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "name": {
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "area120tables.tables.rows.get",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.list",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent table. Format: tables/{table}"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371)."
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                }
              },
              "response": {
                "$ref": "ListRowsResponse"
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows"
            },
            "batchUpdate": {
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "httpMethod": "POST",
              "description": "Updates multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.batchUpdate"
            },
            "batchCreate": {
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "id": "area120tables.tables.rows.batchCreate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                }
              },
              "response": {
                "$ref": "Row"
              },
              "request": {
                "$ref": "Row"
              },
              "id": "area120tables.tables.rows.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Creates a row.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "path": "v1alpha1/{+parent}/rows"
            },
            "batchDelete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "id": "area120tables.tables.rows.batchDelete",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "description": "Deletes multiple rows."
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "id": "area120tables.tables.rows.patch",
              "description": "Updates a row.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Row"
              },
              "parameters": {
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The list of fields to update."
                },
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                }
              }
            },
            "delete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                }
              },
              "id": "area120tables.tables.rows.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Deletes a row.",
              "path": "v1alpha1/{+name}"
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1alpha1/tables/{tablesId}",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "type": "string",
              "pattern": "^tables/[^/]+$"
            }
          },
          "id": "area120tables.tables.get",
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "GET",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "list": {
          "description": "Lists tables for the user.",
          "path": "v1alpha1/tables",
          "flatPath": "v1alpha1/tables",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "id": "area120tables.tables.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100."
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        }
      }
    }
  },
  "version_module": true,
  "version": "v1alpha1",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Area120 Tables",
  "schemas": {
    "LookupDetails": {
      "type": "object",
      "id": "LookupDetails",
      "properties": {
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        },
        "relationshipColumn": {
          "type": "string",
          "description": "The name of the relationship column associated with the lookup."
        }
      },
      "description": "Details about a lookup column whose value comes from the associated relationship."
    },
    "Workspace": {
      "id": "Workspace",
      "description": "A single workspace.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was last updated."
        },
        "tables": {
          "description": "The list of tables in the workspace.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the workspace was created.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        }
      },
      "type": "object"
    },
    "BatchUpdateRowsResponse": {
      "type": "object",
      "id": "BatchUpdateRowsResponse",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows.",
          "type": "array"
        }
      },
      "description": "Response message for TablesService.BatchUpdateRows."
    },
    "SavedView": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display name of the saved view."
        }
      },
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3"
    },
    "RelationshipDetails": {
      "type": "object",
      "id": "RelationshipDetails",
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "description": "Details about a relationship column."
    },
    "BatchDeleteRowsRequest": {
      "id": "BatchDeleteRowsRequest",
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "type": "array"
        }
      },
      "description": "Request message for TablesService.BatchDeleteRows"
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "workspaces": {
          "description": "The list of workspaces.",
          "items": {
            "$ref": "Workspace"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListWorkspacesResponse"
    },
    "BatchCreateRowsRequest": {
      "type": "object",
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "type": "array",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      }
    },
    "BatchCreateRowsResponse": {
      "type": "object",
      "id": "BatchCreateRowsResponse",
      "description": "Response message for TablesService.BatchCreateRows.",
      "properties": {
        "rows": {
          "description": "The created rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "UpdateRowRequest": {
      "type": "object",
      "description": "Request message for TablesService.UpdateRow.",
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        },
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string",
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "updateMask": {
          "description": "The list of fields to update.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateRowRequest"
    },
    "Row": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the row was created."
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "values": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request."
        }
      },
      "type": "object",
      "description": "A single row in a table.",
      "id": "Row"
    },
    "ListRowsResponse": {
      "id": "ListRowsResponse",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The rows from the specified table."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for TablesService.ListRows."
    },
    "DateDetails": {
      "description": "Details about a date column.",
      "id": "DateDetails",
      "properties": {
        "hasTime": {
          "type": "boolean",
          "description": "Whether the date column includes time."
        }
      },
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch."
        }
      },
      "id": "BatchUpdateRowsRequest",
      "type": "object",
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "CreateRowRequest": {
      "description": "Request message for TablesService.CreateRow.",
      "type": "object",
      "id": "CreateRowRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent table where this row will be created. Format: tables/{table}",
          "type": "string"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ]
        },
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        }
      }
    },
    "ListTablesResponse": {
      "description": "Response message for TablesService.ListTables.",
      "type": "object",
      "id": "ListTablesResponse",
      "properties": {
        "tables": {
          "type": "array",
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ColumnDescription": {
      "properties": {
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "dateDetails": {
          "$ref": "DateDetails",
          "description": "Optional. Additional details about a date column."
        },
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "labels": {
          "type": "array",
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "items": {
            "$ref": "LabeledItem"
          }
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        },
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean"
        },
        "readonly": {
          "description": "Optional. Indicates that values for the column cannot be set by the user.",
          "type": "boolean"
        },
        "name": {
          "description": "column name",
          "type": "string"
        }
      },
      "id": "ColumnDescription",
      "description": "Details on a column in the table.",
      "type": "object"
    },
    "LabeledItem": {
      "type": "object",
      "description": "A single item in a labeled column.",
      "properties": {
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        }
      },
      "id": "LabeledItem"
    },
    "Table": {
      "type": "object",
      "id": "Table",
      "properties": {
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "format": "google-datetime",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone of the table. IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the table was created."
        },
        "columns": {
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          },
          "type": "array"
        },
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "type": "array",
          "description": "Saved views for this table."
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        }
      },
      "description": "A single table. NextId: 8"
    }
  },
  "description": ""
}
