{
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Bigtable Admin API",
  "id": "bigtableadmin:v2",
  "name": "bigtableadmin",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20230223",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Bigtable Admin",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "ColumnFamilyStats": {
      "properties": {
        "logicalDataBytes": {
          "type": "string",
          "format": "int64",
          "description": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out)."
        },
        "averageCellsPerColumn": {
          "format": "double",
          "description": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field.",
          "type": "number"
        },
        "averageColumnsPerRow": {
          "format": "double",
          "type": "number",
          "description": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field."
        }
      },
      "description": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified.",
      "id": "ColumnFamilyStats",
      "type": "object"
    },
    "AutoscalingLimits": {
      "id": "AutoscalingLimits",
      "properties": {
        "minServeNodes": {
          "type": "integer",
          "description": "Required. Minimum number of nodes to scale down to.",
          "format": "int32"
        },
        "maxServeNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Maximum number of nodes to scale up to."
        }
      },
      "type": "object",
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to."
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "id": "EncryptionConfig"
    },
    "Modification": {
      "properties": {
        "update": {
          "$ref": "ColumnFamily",
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID."
        },
        "id": {
          "type": "string",
          "description": "The ID of the column family to be modified."
        },
        "drop": {
          "type": "boolean",
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists."
        },
        "create": {
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID.",
          "$ref": "ColumnFamily"
        }
      },
      "type": "object",
      "id": "Modification",
      "description": "A create, update, or delete of a particular column family."
    },
    "OptimizeRestoredTableMetadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the restored table being optimized."
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        }
      },
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "type": "object",
      "id": "OptimizeRestoredTableMetadata"
    },
    "PartialUpdateClusterMetadata": {
      "type": "object",
      "id": "PartialUpdateClusterMetadata",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "originalRequest": {
          "$ref": "PartialUpdateClusterRequest",
          "description": "The original request for PartialUpdateCluster."
        }
      },
      "description": "The metadata for the Operation returned by PartialUpdateCluster."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object"
    },
    "UpdateClusterMetadata": {
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "properties": {
        "originalRequest": {
          "$ref": "Cluster",
          "description": "The request that prompted the initiation of this UpdateCluster operation."
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpdateClusterMetadata"
    },
    "RestoreTableRequest": {
      "properties": {
        "backup": {
          "type": "string",
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`."
        }
      },
      "type": "object",
      "description": "The request for RestoreTable.",
      "id": "RestoreTableRequest"
    },
    "GenerateConsistencyTokenResponse": {
      "id": "GenerateConsistencyTokenResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "type": "object",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      }
    },
    "CopyBackupRequest": {
      "description": "The request for CopyBackup.",
      "properties": {
        "sourceBackup": {
          "type": "string",
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup."
        },
        "backupId": {
          "type": "string",
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*."
        }
      },
      "id": "CopyBackupRequest",
      "type": "object"
    },
    "CreateClusterMetadata": {
      "description": "The metadata for the Operation returned by CreateCluster.",
      "properties": {
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "CreateClusterRequest",
          "description": "The request that prompted the initiation of this CreateCluster operation."
        },
        "tables": {
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far.",
          "type": "object"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "CreateClusterMetadata",
      "type": "object"
    },
    "Intersection": {
      "properties": {
        "rules": {
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "items": {
            "$ref": "GcRule"
          },
          "type": "array"
        }
      },
      "id": "Intersection",
      "type": "object",
      "description": "A GcRule which deletes cells matching all of the given rules."
    },
    "CopyBackupMetadata": {
      "properties": {
        "sourceBackupInfo": {
          "description": "Information about the source backup that is being copied from.",
          "$ref": "BackupInfo"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the CopyBackup operation."
        },
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.",
          "type": "string"
        }
      },
      "id": "CopyBackupMetadata",
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup.",
      "type": "object"
    },
    "AppProfile": {
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.",
      "type": "object",
      "id": "AppProfile",
      "properties": {
        "description": {
          "description": "Long form description of the use case for this AppProfile.",
          "type": "string"
        },
        "singleClusterRouting": {
          "description": "Use a single-cluster routing policy.",
          "$ref": "SingleClusterRouting"
        },
        "etag": {
          "type": "string",
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the mean time. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details."
        },
        "name": {
          "type": "string",
          "description": "The unique name of the app profile. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`."
        },
        "multiClusterRoutingUseAny": {
          "$ref": "MultiClusterRoutingUseAny",
          "description": "Use a multi-cluster routing policy."
        }
      }
    },
    "ListBackupsResponse": {
      "description": "The response for ListBackups.",
      "id": "ListBackupsResponse",
      "properties": {
        "backups": {
          "type": "array",
          "description": "The list of matching backups.",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Union": {
      "description": "A GcRule which deletes cells matching any of the given rules.",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Delete cells which would be deleted by any element of `rules`.",
          "items": {
            "$ref": "GcRule"
          }
        }
      },
      "type": "object",
      "id": "Union"
    },
    "OperationProgress": {
      "type": "object",
      "properties": {
        "progressPercent": {
          "format": "int32",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "type": "integer"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the request was received.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "type": "string"
        }
      },
      "id": "OperationProgress",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation."
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "type": "string"
        },
        "failedLocations": {
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clusters": {
          "description": "The list of requested clusters.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "id": "ListClustersResponse"
    },
    "HotTablet": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The start time of the hot tablet.",
          "type": "string"
        },
        "endKey": {
          "type": "string",
          "description": "Tablet End Key (inclusive)."
        },
        "tableName": {
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the hot tablet."
        },
        "startKey": {
          "description": "Tablet Start Key (inclusive).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`."
        },
        "nodeCpuUsagePercent": {
          "format": "float",
          "type": "number",
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "readOnly": true
        }
      },
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "id": "HotTablet"
    },
    "Cluster": {
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "id": "Cluster",
      "properties": {
        "defaultStorageType": {
          "type": "string",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ]
        },
        "name": {
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.",
          "type": "string"
        },
        "serveNodes": {
          "format": "int32",
          "description": "The number of nodes allocated to this cluster. More nodes enable higher throughput and more consistent performance.",
          "type": "integer"
        },
        "clusterConfig": {
          "description": "Configuration for this cluster.",
          "$ref": "ClusterConfig"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        },
        "state": {
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "description": "Output only. The current state of the cluster."
        },
        "location": {
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ColumnFamily": {
      "type": "object",
      "properties": {
        "stats": {
          "$ref": "ColumnFamilyStats",
          "description": "Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above."
        },
        "gcRule": {
          "$ref": "GcRule",
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family."
        }
      },
      "id": "ColumnFamily",
      "description": "A set of columns within a table which share a common configuration."
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "ListHotTabletsResponse": {
      "id": "ListHotTabletsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        },
        "hotTablets": {
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response.",
          "type": "array",
          "items": {
            "$ref": "HotTablet"
          }
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "type": "object"
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      },
      "description": "The metadata for the Operation returned by UpdateInstance."
    },
    "UndeleteTableRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable",
      "properties": {},
      "id": "UndeleteTableRequest",
      "type": "object"
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "properties": {
        "clusterAutoscalingConfig": {
          "description": "Autoscaling configuration for this cluster.",
          "$ref": "ClusterAutoscalingConfig"
        }
      },
      "description": "Configuration for a cluster.",
      "type": "object"
    },
    "MultiClusterRoutingUseAny": {
      "properties": {
        "clusterIds": {
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "id": "MultiClusterRoutingUseAny",
      "type": "object"
    },
    "PartialUpdateInstanceRequest": {
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "id": "PartialUpdateInstanceRequest",
      "properties": {
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "type": "string"
        }
      }
    },
    "CreateTableRequest": {
      "properties": {
        "table": {
          "$ref": "Table",
          "description": "Required. The Table to create."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters."
        },
        "initialSplits": {
          "items": {
            "$ref": "Split"
          },
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) =\u003e {\"a\"}.` - Tablet 2 `[apple, customer_1) =\u003e {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) =\u003e {\"customer_1\"}.` - Tablet 4 `[customer_2, other) =\u003e {\"customer_2\"}.` - Tablet 5 `[other, ) =\u003e {\"other\", \"zz\"}.`",
          "type": "array"
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "id": "CreateTableRequest",
      "type": "object"
    },
    "ListAppProfilesResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "id": "ListAppProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        },
        "appProfiles": {
          "type": "array",
          "items": {
            "$ref": "AppProfile"
          },
          "description": "The list of requested app profiles."
        },
        "failedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`"
        }
      }
    },
    "Table": {
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster.",
      "type": "object",
      "id": "Table",
      "properties": {
        "name": {
          "description": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`",
          "type": "string"
        },
        "clusterStates": {
          "type": "object",
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`",
          "additionalProperties": {
            "$ref": "ClusterState"
          },
          "readOnly": true
        },
        "deletionProtection": {
          "description": "Set to true to make the table protected against data loss. i.e. deleting the following resources through Admin APIs are prohibited: * The table. * The column families in the table. * The instance containing the table. Note one can still delete the data stored in the table through Data APIs.",
          "type": "boolean"
        },
        "columnFamilies": {
          "additionalProperties": {
            "$ref": "ColumnFamily"
          },
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `STATS_VIEW`, `FULL`",
          "type": "object"
        },
        "stats": {
          "$ref": "TableStats",
          "description": "Only available with STATS_VIEW, this includes summary statistics about the entire table contents. For statistics about a specific column family, see ColumnFamilyStats in the mapped ColumnFamily collection above."
        },
        "granularity": {
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS"
          ],
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned. When specified during table creation, MILLIS will be used.",
            "The table keeps data versioned at a granularity of 1ms."
          ],
          "description": "Immutable. The granularity (i.e. `MILLIS`) at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`.",
          "type": "string"
        },
        "restoreInfo": {
          "$ref": "RestoreInfo",
          "readOnly": true,
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "CheckConsistencyRequest": {
      "properties": {
        "consistencyToken": {
          "description": "Required. The token created using GenerateConsistencyToken for the Table.",
          "type": "string"
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "id": "CheckConsistencyRequest",
      "type": "object"
    },
    "CreateInstanceMetadata": {
      "id": "CreateInstanceMetadata",
      "description": "The metadata for the Operation returned by CreateInstance.",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EncryptionInfo": {
      "properties": {
        "kmsKeyVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table."
        },
        "encryptionStatus": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest."
        },
        "encryptionType": {
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "type": "string",
          "description": "Output only. The type of encryption used to protect this resource.",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "readOnly": true
        }
      },
      "id": "EncryptionInfo",
      "type": "object",
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status."
    },
    "ListInstancesResponse": {
      "properties": {
        "instances": {
          "description": "The list of requested instances.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "type": "string"
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array"
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListInstances.",
      "id": "ListInstancesResponse",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      },
      "id": "Policy"
    },
    "ModifyColumnFamiliesRequest": {
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies",
      "id": "ModifyColumnFamiliesRequest",
      "properties": {
        "modifications": {
          "type": "array",
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example).",
          "items": {
            "$ref": "Modification"
          }
        }
      }
    },
    "PartialUpdateClusterRequest": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The subset of Cluster fields which should be replaced."
        }
      },
      "id": "PartialUpdateClusterRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster."
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UndeleteTableMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was cancelled.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the table being restored."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this operation started."
        }
      },
      "id": "UndeleteTableMetadata",
      "type": "object",
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable."
    },
    "TableProgress": {
      "type": "object",
      "id": "TableProgress",
      "description": "Progress info for copying a table's data to the new cluster.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ]
        },
        "estimatedCopiedBytes": {
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "format": "int64",
          "type": "string"
        },
        "estimatedSizeBytes": {
          "description": "Estimate of the size of the table to be copied.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "description": "The type of the instance. Defaults to `PRODUCTION`."
        },
        "labels": {
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion."
        },
        "state": {
          "description": "Output only. The current state of the instance.",
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance."
    },
    "SingleClusterRouting": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "The cluster to which read/write requests should be routed."
        },
        "allowTransactionalWrites": {
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters.",
          "type": "boolean"
        }
      },
      "id": "SingleClusterRouting",
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "type": "object"
    },
    "TableStats": {
      "type": "object",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified.",
      "id": "TableStats",
      "properties": {
        "averageCellsPerColumn": {
          "type": "number",
          "format": "double",
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field."
        },
        "averageColumnsPerRow": {
          "type": "number",
          "format": "double",
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field."
        },
        "logicalDataBytes": {
          "type": "string",
          "format": "int64",
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out)."
        },
        "rowCount": {
          "type": "string",
          "description": "How many rows are in the table.",
          "format": "int64"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GcRule": {
      "properties": {
        "union": {
          "description": "Delete cells that would be deleted by any nested rule.",
          "$ref": "Union"
        },
        "maxNumVersions": {
          "description": "Delete all cells in a column except the most recent N.",
          "type": "integer",
          "format": "int32"
        },
        "maxAge": {
          "type": "string",
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity.",
          "format": "google-duration"
        },
        "intersection": {
          "$ref": "Intersection",
          "description": "Delete cells that would be deleted by every nested rule."
        }
      },
      "type": "object",
      "id": "GcRule",
      "description": "Rule for determining which cells to delete during garbage collection."
    },
    "DropRowRangeRequest": {
      "properties": {
        "rowKeyPrefix": {
          "format": "byte",
          "type": "string",
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length."
        },
        "deleteAllDataFromTable": {
          "type": "boolean",
          "description": "Delete all rows in the table. Setting this to false is a no-op."
        }
      },
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "id": "DropRowRangeRequest",
      "type": "object"
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables",
      "type": "object",
      "properties": {
        "tables": {
          "type": "array",
          "description": "The tables present in the requested instance.",
          "items": {
            "$ref": "Table"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      }
    },
    "UpdateTableMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the table being updated."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this operation started."
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation finished or was canceled.",
          "format": "google-datetime"
        }
      },
      "id": "UpdateTableMetadata",
      "description": "Metadata type for the operation returned by UpdateTable."
    },
    "UpdateAppProfileMetadata": {
      "id": "UpdateAppProfileMetadata",
      "type": "object",
      "properties": {},
      "description": "The metadata for the Operation returned by UpdateAppProfile."
    },
    "CreateInstanceRequest": {
      "id": "CreateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        },
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
          "type": "string"
        },
        "clusters": {
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "type": "object",
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank."
        }
      }
    },
    "ClusterState": {
      "properties": {
        "encryptionInfo": {
          "type": "array",
          "items": {
            "$ref": "EncryptionInfo"
          },
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS.",
          "readOnly": true
        },
        "replicationState": {
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of replication for the table in this cluster."
        }
      },
      "type": "object",
      "description": "The state of a table's data in a particular cluster.",
      "id": "ClusterState"
    },
    "RestoreInfo": {
      "description": "Information about a table restore.",
      "properties": {
        "backupInfo": {
          "description": "Information about the backup used to restore the table. The backup may no longer exist.",
          "$ref": "BackupInfo"
        },
        "sourceType": {
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source.",
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        }
      },
      "type": "object",
      "id": "RestoreInfo"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "AutoscalingTargets": {
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes.",
      "type": "object",
      "properties": {
        "cpuUtilizationPercent": {
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error.",
          "format": "int32",
          "type": "integer"
        },
        "storageUtilizationGibPerNode": {
          "description": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AutoscalingTargets"
    },
    "BackupInfo": {
      "type": "object",
      "id": "BackupInfo",
      "properties": {
        "backup": {
          "readOnly": true,
          "description": "Output only. Name of the backup.",
          "type": "string"
        },
        "sourceBackup": {
          "readOnly": true,
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//backups/.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp."
        },
        "sourceTable": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the table the backup was created from."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "readOnly": true
        }
      },
      "description": "Information about a backup."
    },
    "CreateClusterRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`."
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank."
        },
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "id": "CreateClusterRequest",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object"
    },
    "RestoreTableMetadata": {
      "type": "object",
      "id": "RestoreTableMetadata",
      "properties": {
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "sourceType": {
          "description": "The type of the restore source.",
          "type": "string",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoreTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        },
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        }
      },
      "description": "Metadata type for the long-running operation returned by RestoreTable."
    },
    "CheckConsistencyResponse": {
      "type": "object",
      "properties": {
        "consistent": {
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.",
          "type": "boolean"
        }
      },
      "id": "CheckConsistencyResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency"
    },
    "CreateBackupMetadata": {
      "id": "CreateBackupMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "If set, the time at which this operation finished or was cancelled."
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "sourceTable": {
          "type": "string",
          "description": "The name of the table the backup is created from."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which this operation started.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata type for the operation returned by CreateBackup."
    },
    "GenerateConsistencyTokenRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Split": {
      "type": "object",
      "description": "An initial split point for a newly created table.",
      "id": "Split",
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "Row key to use as an initial tablet boundary."
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table.",
      "properties": {
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//backups/.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Required. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "readOnly": true
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size of the backup in bytes.",
          "type": "string"
        },
        "encryptionInfo": {
          "readOnly": true,
          "description": "Output only. The encryption information for the backup.",
          "$ref": "EncryptionInfo"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "description": "Output only. The current state of the backup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ]
        }
      },
      "type": "object"
    },
    "ClusterAutoscalingConfig": {
      "properties": {
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        },
        "autoscalingLimits": {
          "$ref": "AutoscalingLimits",
          "description": "Required. Autoscaling limits for this cluster."
        }
      },
      "type": "object",
      "id": "ClusterAutoscalingConfig",
      "description": "Autoscaling config for a cluster."
    }
  },
  "documentationLink": "https://cloud.google.com/bigtable/",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        }
      }
    }
  },
  "version": "v2",
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "operations": {
      "methods": {
        "delete": {
          "id": "bigtableadmin.operations.delete",
          "flatPath": "v2/operations/{operationsId}",
          "httpMethod": "DELETE",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "flatPath": "v2/operations/{operationsId}",
          "id": "bigtableadmin.operations.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string",
              "description": "The name of the operation resource.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "cancel": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v2/{+name}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "id": "bigtableadmin.operations.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/operations/{operationsId}:cancel",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "projects": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "bigtableadmin.operations.projects.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v2/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v2/operations/projects/{projectsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^operations/projects/.*$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "id": "bigtableadmin.projects.locations.get"
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
[...]
