{
  "discoveryVersion": "v1",
  "rootUrl": "https://blogger.googleapis.com/",
  "schemas": {
    "Comment": {
      "type": "object",
      "id": "Comment",
      "properties": {
        "blog": {
          "description": "Data about the blog containing this comment.",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The identifier of the blog containing this comment."
            }
          }
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string"
        },
        "inReplyTo": {
          "description": "Data about the comment this is in reply to.",
          "properties": {
            "id": {
              "description": "The identified of the parent of this comment.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "updated": {
          "type": "string",
          "description": "RFC 3339 date-time when this comment was last updated."
        },
        "published": {
          "description": "RFC 3339 date-time when this comment was published.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#comment.",
          "type": "string"
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string"
        },
        "author": {
          "type": "object",
          "properties": {
            "url": {
              "description": "The URL of the creator's Profile page.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "The identifier of the creator."
            },
            "image": {
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The creator's avatar URL."
                }
              },
              "type": "object",
              "description": "The creator's avatar."
            },
            "displayName": {
              "type": "string",
              "description": "The display name."
            }
          },
          "description": "The author of this Comment."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The status of the comment (only populated for admin users).",
          "enum": [
            "LIVE",
            "EMPTIED",
            "PENDING",
            "SPAM"
          ]
        },
        "post": {
          "type": "object",
          "description": "Data about the post containing this comment.",
          "properties": {
            "id": {
              "type": "string",
              "description": "The identifier of the post containing this comment."
            }
          }
        },
        "content": {
          "type": "string",
          "description": "The actual content of the comment. May include HTML markup."
        }
      }
    },
    "CommentList": {
      "id": "CommentList",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The List of Comments for a Post.",
          "items": {
            "$ref": "Comment"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entry. Always blogger#commentList."
        },
        "prevPageToken": {
          "description": "Pagination token to fetch the previous page, if one exists.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the response."
        }
      },
      "type": "object"
    },
    "PostList": {
      "type": "object",
      "id": "PostList",
      "properties": {
        "kind": {
          "description": "The kind of this entity. Always blogger#postList.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Post"
          },
          "description": "The list of Posts for this Blog."
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "Pagination token to fetch the previous page, if one exists.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the response."
        }
      }
    },
    "Page": {
      "id": "Page",
      "properties": {
        "updated": {
          "description": "RFC 3339 date-time when this Page was last updated.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity. This is the name displayed in the Admin user interface."
        },
        "selfLink": {
          "type": "string",
          "description": "The API REST URL to fetch this resource from."
        },
        "trashed": {
          "description": "RFC 3339 date-time when this Page was trashed.",
          "type": "string"
        },
        "status": {
          "description": "The status of the page for admin resources (either LIVE or DRAFT).",
          "enum": [
            "LIVE",
            "DRAFT",
            "SOFT_TRASHED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "url": {
          "description": "The URL that this Page is displayed at.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier for this resource."
        },
        "content": {
          "type": "string",
          "description": "The body content of this Page, in HTML."
        },
        "blog": {
          "type": "object",
          "properties": {
            "id": {
              "description": "The identifier of the blog containing this page.",
              "type": "string"
            }
          },
          "description": "Data about the blog containing this Page."
        },
        "published": {
          "type": "string",
          "description": "RFC 3339 date-time when this Page was published."
        },
        "author": {
          "type": "object",
          "description": "The author of this Page.",
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string"
            },
            "image": {
              "properties": {
                "url": {
                  "description": "The creator's avatar URL.",
                  "type": "string"
                }
              },
              "description": "The creator's avatar.",
              "type": "object"
            },
            "url": {
              "type": "string",
              "description": "The URL of the creator's Profile page."
            },
            "id": {
              "type": "string",
              "description": "The identifier of the creator."
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#page."
        }
      },
      "type": "object"
    },
    "Blog": {
      "id": "Blog",
      "type": "object",
      "properties": {
        "customMetaData": {
          "description": "The JSON custom meta-data for the Blog.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "LIVE",
            "DELETED"
          ],
          "type": "string",
          "description": "The status of the blog."
        },
        "posts": {
          "properties": {
            "items": {
              "type": "array",
              "items": {
                "$ref": "Post"
              },
              "description": "The List of Posts for this Blog."
            },
            "totalItems": {
              "description": "The count of posts in this blog.",
              "format": "int32",
              "type": "integer"
            },
            "selfLink": {
              "description": "The URL of the container for posts in this blog.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The container of posts in this blog."
        },
        "updated": {
          "type": "string",
          "description": "RFC 3339 date-time when this blog was last updated."
        },
        "pages": {
          "description": "The container of pages in this blog.",
          "properties": {
            "totalItems": {
              "format": "int32",
              "type": "integer",
              "description": "The count of pages in this blog."
            },
            "selfLink": {
              "description": "The URL of the container for pages in this blog.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "locale": {
          "properties": {
            "country": {
              "description": "The country this blog's locale is set to.",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The language this blog is authored in."
            },
            "variant": {
              "description": "The language variant this blog is authored in.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The locale this Blog is set to."
        },
        "published": {
          "description": "RFC 3339 date-time when this blog was published.",
          "type": "string"
        },
        "description": {
          "description": "The description of this blog. This is displayed underneath the title.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The API REST URL to fetch this resource from."
        },
        "url": {
          "type": "string",
          "description": "The URL where this blog is published."
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this blog. This is displayed as the title."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entry. Always blogger#blog."
        }
      }
    },
    "Post": {
      "id": "Post",
      "properties": {
        "author": {
          "type": "object",
          "description": "The author of this Post.",
          "properties": {
            "url": {
              "description": "The URL of the creator's Profile page.",
              "type": "string"
            },
            "displayName": {
              "description": "The display name.",
              "type": "string"
            },
            "id": {
              "description": "The identifier of the creator.",
              "type": "string"
            },
            "image": {
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The creator's avatar URL."
                }
              },
              "description": "The creator's avatar.",
              "type": "object"
            }
          }
        },
        "blog": {
          "type": "object",
          "description": "Data about the blog containing this Post.",
          "properties": {
            "id": {
              "type": "string",
              "description": "The identifier of the Blog that contains this Post."
            }
          }
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "LIVE",
            "DRAFT",
            "SCHEDULED",
            "SOFT_TRASHED"
          ],
          "description": "Status of the post. Only set for admin-level requests.",
          "type": "string"
        },
        "location": {
          "description": "The location for geotagged posts.",
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Location name."
            },
            "lat": {
              "format": "double",
              "description": "Location's latitude.",
              "type": "number"
            },
            "span": {
              "description": "Location's viewport span. Can be used when rendering a map preview.",
              "type": "string"
            },
            "lng": {
              "format": "double",
              "type": "number",
              "description": "Location's longitude."
            }
          }
        },
        "title": {
          "description": "The title of the Post.",
          "type": "string"
        },
        "trashed": {
          "description": "RFC 3339 date-time when this Post was last trashed.",
          "type": "string"
        },
        "url": {
          "description": "The URL where this Post is displayed.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "description": "The list of labels this Post was tagged with.",
          "items": {
            "type": "string"
          }
        },
        "readerComments": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ALLOW",
            "DONT_ALLOW_SHOW_EXISTING",
            "DONT_ALLOW_HIDE_EXISTING"
          ],
          "description": "Comment control and display setting for readers of this post.",
          "type": "string"
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "updated": {
          "description": "RFC 3339 date-time when this Post was last updated.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#post."
        },
        "content": {
          "description": "The content of the Post. May contain HTML markup.",
          "type": "string"
        },
        "titleLink": {
          "description": "The title link URL, similar to atom's related link.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier of this Post."
        },
        "customMetaData": {
          "type": "string",
          "description": "The JSON meta-data for the Post."
        },
        "replies": {
          "type": "object",
          "description": "The container of comments on this Post.",
          "properties": {
            "items": {
              "type": "array",
              "description": "The List of Comments for this Post.",
              "items": {
                "$ref": "Comment"
              }
            },
            "totalItems": {
              "format": "int64",
              "description": "The count of comments on this post.",
              "type": "string"
            },
            "selfLink": {
              "type": "string",
              "description": "The URL of the comments on this post."
            }
          }
        },
        "published": {
          "type": "string",
          "description": "RFC 3339 date-time when this Post was published."
        },
        "images": {
          "description": "Display image for the Post.",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "locale": {
          "type": "object",
          "description": "This user's locale",
          "properties": {
            "country": {
              "type": "string",
              "description": "The country this blog's locale is set to."
            },
            "variant": {
              "description": "The language variant this blog is authored in.",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The language this blog is authored in."
            }
          }
        },
        "url": {
          "type": "string",
          "description": "The user's profile page."
        },
        "displayName": {
          "description": "The display name.",
          "type": "string"
        },
        "about": {
          "type": "string",
          "description": "Profile summary information."
        },
        "id": {
          "description": "The identifier for this User.",
          "type": "string"
        },
        "blogs": {
          "properties": {
            "selfLink": {
              "type": "string",
              "description": "The URL of the Blogs for this user."
            }
          },
          "description": "The container of blogs for this user.",
          "type": "object"
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#user.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "The timestamp of when this profile was created, in seconds since epoch."
        }
      },
      "type": "object",
      "id": "User"
    },
    "BlogPerUserInfo": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "ID of the User."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#blogPerUserInfo."
        },
        "photosAlbumKey": {
          "description": "The Photo Album Key for the user when adding photos to the blog.",
          "type": "string"
        },
        "blogId": {
          "description": "ID of the Blog resource.",
          "type": "string"
        },
        "hasAdminAccess": {
          "type": "boolean",
          "description": "True if the user has Admin level access to the blog."
        },
        "role": {
          "description": "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "READER",
            "AUTHOR",
            "ADMIN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "BlogPerUserInfo",
      "type": "object"
    },
    "PageList": {
      "id": "PageList",
      "properties": {
        "kind": {
          "description": "The kind of this entity. Always blogger#pageList.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to fetch the next page, if one exists."
        },
        "items": {
          "type": "array",
          "description": "The list of Pages for a Blog.",
          "items": {
            "$ref": "Page"
          }
        }
      },
      "type": "object"
    },
    "BlogUserInfo": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#blogUserInfo."
        },
        "blog_user_info": {
          "$ref": "BlogPerUserInfo",
          "description": "Information about a User for the Blog."
        },
        "blog": {
          "$ref": "Blog",
          "description": "The Blog resource."
        }
      },
      "id": "BlogUserInfo",
      "type": "object"
    },
    "BlogList": {
      "id": "BlogList",
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of Blogs this user has Authorship or Admin rights over.",
          "type": "array",
          "items": {
            "$ref": "Blog"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#blogList.",
          "type": "string"
        },
        "blogUserInfos": {
          "items": {
            "$ref": "BlogUserInfo"
          },
          "type": "array",
          "description": "Admin level list of blog per-user information."
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "blogger",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "title": "Blogger API",
  "batchPath": "batch",
  "resources": {
    "comments": {
      "methods": {
        "get": {
          "description": "Gets a comment by blog id, post id and comment id.",
          "id": "blogger.comments.get",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "v2/blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "path": "v2/blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "postId": {
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "flatPath": "v2/blogs/{blogId}/posts/{postId}/comments",
          "description": "Lists comments.",
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "path": "v2/blogs/{blogId}/posts/{postId}/comments",
          "response": {
            "$ref": "CommentList"
          },
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "fetchBodies": {
              "type": "boolean",
              "location": "query"
            },
            "postId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query"
            },
            "blogId": {
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "id": "blogger.comments.list",
          "httpMethod": "GET"
        }
      }
    },
    "blogs": {
      "methods": {
        "list": {
          "path": "v2/users/{userId}/blogs",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "parameters": {
            "userId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "blogger.blogs.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "v2/users/{userId}/blogs",
          "description": "Lists blogs by user id, possibly filtered.",
          "response": {
            "$ref": "BlogList"
          }
        },
        "get": {
          "id": "blogger.blogs.get",
          "description": "Gets a blog by id.",
          "parameterOrder": [
            "blogId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "path": "v2/blogs/{blogId}",
          "response": {
            "$ref": "Blog"
          },
          "parameters": {
            "blogId": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v2/blogs/{blogId}"
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "flatPath": "v2/users/{userId}",
          "description": "Gets a user by user id.",
          "response": {
            "$ref": "User"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "path": "v2/users/{userId}",
          "parameters": {
            "userId": {
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "id": "blogger.users.get"
        }
      }
    },
    "posts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Post"
          },
          "description": "Gets a post by blog id and post id",
          "flatPath": "v2/blogs/{blogId}/posts/{postId}",
          "id": "blogger.posts.get",
          "path": "v2/blogs/{blogId}/posts/{postId}",
          "parameters": {
            "postId": {
              "type": "string",
              "required": true,
              "location": "path"
            },
            "blogId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "blogId",
            "postId"
          ]
        },
        "list": {
          "parameterOrder": [
            "blogId"
          ],
          "httpMethod": "GET",
          "description": "Lists posts.",
          "flatPath": "v2/blogs/{blogId}/posts",
          "response": {
            "$ref": "PostList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "id": "blogger.posts.list",
          "path": "v2/blogs/{blogId}/posts",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "fetchBodies": {
              "type": "boolean",
              "location": "query"
            },
            "startDate": {
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "pages": {
      "methods": {
        "list": {
          "id": "blogger.pages.list",
          "flatPath": "v2/blogs/{blogId}/pages",
          "parameters": {
            "fetchBodies": {
              "location": "query",
              "type": "boolean"
            },
            "blogId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "parameterOrder": [
            "blogId"
          ],
          "description": "Lists pages.",
          "response": {
            "$ref": "PageList"
          },
          "httpMethod": "GET",
          "path": "v2/blogs/{blogId}/pages"
        },
        "get": {
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageId": {
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v2/blogs/{blogId}/pages/{pageId}",
          "description": "Gets a page by blog id and page id.",
          "id": "blogger.pages.get",
          "response": {
            "$ref": "Page"
          },
          "flatPath": "v2/blogs/{blogId}/pages/{pageId}",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ]
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Blogger",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/blogger": {
          "description": "Manage your Blogger account"
        }
      }
    }
  },
  "revision": "20230226",
  "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "servicePath": "",
  "basePath": "",
  "id": "blogger:v2",
  "baseUrl": "https://blogger.googleapis.com/",
  "mtlsRootUrl": "https://blogger.mtls.googleapis.com/",
  "version": "v2",
  "description": "The Blogger API provides access to posts, comments and pages of a Blogger blog.",
  "kind": "discovery#restDescription"
}
