{
  "ownerName": "Google",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "basePath": "/content/v2.1/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "title": "Content API for Shopping",
  "resources": {
    "orders": {
      "methods": {
        "createtestorder": {
          "response": {
            "$ref": "OrdersCreateTestOrderResponse"
          },
          "description": "Sandbox only. Creates a test order.",
          "id": "content.orders.createtestorder",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "OrdersCreateTestOrderRequest"
          },
          "path": "{merchantId}/testorders",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/testorders"
        },
        "rejectreturnlineitem": {
          "flatPath": "{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrdersRejectReturnLineItemRequest"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersRejectReturnLineItemResponse"
          },
          "id": "content.orders.rejectreturnlineitem",
          "httpMethod": "POST",
          "description": "Rejects return on an line item."
        },
        "advancetestorder": {
          "response": {
            "$ref": "OrdersAdvanceTestOrderResponse"
          },
          "httpMethod": "POST",
          "flatPath": "{merchantId}/testorders/{orderId}/advance",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Sandbox only. Moves a test order from state \"`inProgress`\" to state \"`pendingShipment`\".",
          "parameters": {
            "orderId": {
              "location": "path",
              "description": "The ID of the test order to modify.",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "id": "content.orders.advancetestorder",
          "path": "{merchantId}/testorders/{orderId}/advance",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "cancellineitem": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "type": "string",
              "required": true
            }
          },
          "id": "content.orders.cancellineitem",
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          },
          "description": "Cancels a line item, making a full refund.",
          "flatPath": "{merchantId}/orders/{orderId}/cancelLineItem",
          "path": "{merchantId}/orders/{orderId}/cancelLineItem",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "returnrefundlineitem": {
          "description": "Returns and refunds a line item. Note that this method can only be called on fully shipped orders. The Orderreturns API is the preferred way to handle returns after you receive a return from a customer. You can use Orderreturns.list or Orderreturns.get to search for the return, and then use Orderreturns.processreturn to issue the refund. If the return cannot be found, then we recommend using this API to issue a refund.",
          "flatPath": "{merchantId}/orders/{orderId}/returnRefundLineItem",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "orderId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the order.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "request": {
            "$ref": "OrdersReturnRefundLineItemRequest"
          },
          "path": "{merchantId}/orders/{orderId}/returnRefundLineItem",
          "response": {
            "$ref": "OrdersReturnRefundLineItemResponse"
          },
          "id": "content.orders.returnrefundlineitem",
          "httpMethod": "POST"
        },
        "gettestordertemplate": {
          "response": {
            "$ref": "OrdersGetTestOrderTemplateResponse"
          },
          "path": "{merchantId}/testordertemplates/{templateName}",
          "flatPath": "{merchantId}/testordertemplates/{templateName}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "templateName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account."
            },
            "country": {
              "type": "string",
              "description": "The country of the template to retrieve. Defaults to \"`US`\".",
              "location": "query"
            },
            "templateName": {
              "type": "string",
              "enumDescriptions": [
                "Get `template1`.",
                "Get `template2`.",
                "Get `template1A`.",
                "Get `template1B`.",
                "Get `template3`.",
                "Get `template4`."
              ],
              "enum": [
                "TEMPLATE1",
                "TEMPLATE2",
                "TEMPLATE1A",
                "TEMPLATE1B",
                "TEMPLATE3",
                "TEMPLATE4"
              ],
              "location": "path",
              "required": true,
              "description": "The name of the template to retrieve."
            }
          },
          "description": "Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox.",
          "id": "content.orders.gettestordertemplate"
        },
        "updatelineitemshippingdetails": {
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersUpdateLineItemShippingDetailsResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the order.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64"
            }
          },
          "id": "content.orders.updatelineitemshippingdetails",
          "description": "Updates ship by and delivery by dates for a line item.",
          "flatPath": "{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "request": {
            "$ref": "OrdersUpdateLineItemShippingDetailsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/orders/{orderId}/updateLineItemShippingDetails"
        },
        "updatemerchantorderid": {
          "response": {
            "$ref": "OrdersUpdateMerchantOrderIdResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersUpdateMerchantOrderIdRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "path": "{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "description": "Updates the merchant order ID for a given order.",
          "parameters": {
            "orderId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the order.",
              "required": true
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.updatemerchantorderid"
        },
        "refundorder": {
          "description": "Issues a partial or total refund for an order.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrdersRefundOrderRequest"
          },
          "id": "content.orders.refundorder",
          "path": "{merchantId}/orders/{orderId}/refundorder",
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the order to refund."
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "response": {
            "$ref": "OrdersRefundOrderResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "{merchantId}/orders/{orderId}/refundorder"
        },
        "list": {
          "flatPath": "{merchantId}/orders",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "acknowledged": {
              "location": "query",
              "type": "boolean",
              "description": "Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged orders are returned. "
            },
            "placedDateStart": {
              "description": "Obtains orders placed after this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "statuses": {
              "enumDescriptions": [
                "Return orders with status `active`. The `active` status includes `pendingShipment` and `partiallyShipped` orders.",
                "Return orders with status `completed`. The `completed` status includes `shipped`, `partiallyDelivered`, `delivered`, `partiallyReturned`, `returned`, and `canceled` orders.",
                "Return orders with status `canceled`.",
                "Return orders with status `inProgress`.",
                "Return orders with status `pendingShipment`.",
                "Return orders with status `partiallyShipped`.",
                "Return orders with status `shipped`.",
                "Return orders with status `partiallyDelivered`.",
                "Return orders with status `delivered`.",
                "Return orders with status `partiallyReturned`.",
                "Return orders with status `returned`."
              ],
              "repeated": true,
              "enum": [
                "ACTIVE",
                "COMPLETED",
                "CANCELED",
                "IN_PROGRESS",
                "PENDING_SHIPMENT",
                "PARTIALLY_SHIPPED",
                "SHIPPED",
                "PARTIALLY_DELIVERED",
                "DELIVERED",
                "PARTIALLY_RETURNED",
                "RETURNED"
              ],
              "location": "query",
              "description": "Obtains orders that match any of the specified statuses. Note that `active` is a shortcut for `pendingShipment` and `partiallyShipped`, and `completed` is a shortcut for `shipped`, `partiallyDelivered`, `delivered`, `partiallyReturned`, `returned`, and `canceled`.",
              "type": "string"
            },
            "placedDateEnd": {
              "description": "Obtains orders placed before this date (exclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "Order results by placement date in descending or ascending order. Acceptable values are: - placedDateAsc - placedDateDesc ",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.",
              "format": "uint32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "description": "Lists the orders in your Merchant Center account.",
          "httpMethod": "GET",
          "path": "{merchantId}/orders",
          "id": "content.orders.list",
          "response": {
            "$ref": "OrdersListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createtestreturn": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Sandbox only. Creates a test return.",
          "httpMethod": "POST",
          "path": "{merchantId}/orders/{orderId}/testreturn",
          "flatPath": "{merchantId}/orders/{orderId}/testreturn",
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          },
          "id": "content.orders.createtestreturn",
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "parameters": {
            "orderId": {
              "required": true,
              "type": "string",
              "description": "The ID of the order.",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          }
        },
        "instorerefundlineitem": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the order."
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "flatPath": "{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "description": "Deprecated. Notifies that item return and refund was handled directly by merchant outside of Google payments processing (for example, cash refund done in store). Note: We recommend calling the returnrefundlineitem method to refund in-store returns. We will issue the refund directly to the customer. This helps to prevent possible differences arising between merchant and Google transaction records. We also recommend having the point of sale system communicate with Google to ensure that customers do not receive a double refund by first refunding through Google then through an in-store return.",
          "response": {
            "$ref": "OrdersInStoreRefundLineItemResponse"
          },
          "id": "content.orders.instorerefundlineitem",
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersInStoreRefundLineItemRequest"
          }
        },
        "setlineitemmetadata": {
          "description": "Sets (or overrides if it already exists) merchant provided annotations in the form of key-value pairs. A common use case would be to supply us with additional structured information about a line item that cannot be provided through other methods. Submitted key-value pairs can be retrieved as part of the orders resource.",
          "response": {
            "$ref": "OrdersSetLineItemMetadataResponse"
          },
          "request": {
            "$ref": "OrdersSetLineItemMetadataRequest"
          },
          "id": "content.orders.setlineitemmetadata",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/orders/{orderId}/setLineItemMetadata",
          "httpMethod": "POST",
          "path": "{merchantId}/orders/{orderId}/setLineItemMetadata",
          "parameters": {
            "orderId": {
              "type": "string",
              "description": "The ID of the order.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "get": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "orderId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the order.",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Retrieves an order from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Order"
          },
          "path": "{merchantId}/orders/{orderId}",
          "flatPath": "{merchantId}/orders/{orderId}",
          "id": "content.orders.get",
          "httpMethod": "GET"
        },
        "getbymerchantorderid": {
          "id": "content.orders.getbymerchantorderid",
          "parameterOrder": [
            "merchantId",
            "merchantOrderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersGetByMerchantOrderIdResponse"
          },
          "description": "Retrieves an order using merchant order ID.",
          "httpMethod": "GET",
          "parameters": {
            "merchantOrderId": {
              "location": "path",
              "required": true,
              "description": "The merchant order ID to be looked for.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true
            }
          },
          "path": "{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "flatPath": "{merchantId}/ordersbymerchantid/{merchantOrderId}"
        },
        "refunditem": {
          "request": {
            "$ref": "OrdersRefundItemRequest"
          },
          "httpMethod": "POST",
          "flatPath": "{merchantId}/orders/{orderId}/refunditem",
          "response": {
            "$ref": "OrdersRefundItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path"
            },
            "orderId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the order to refund."
            }
          },
          "path": "{merchantId}/orders/{orderId}/refunditem",
          "description": "Issues a partial or total refund for items and shipment.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.refunditem"
        },
        "shiplineitems": {
          "request": {
            "$ref": "OrdersShipLineItemsRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          },
          "description": "Marks line item(s) as shipped.",
          "path": "{merchantId}/orders/{orderId}/shipLineItems",
          "id": "content.orders.shiplineitems",
          "flatPath": "{merchantId}/orders/{orderId}/shipLineItems",
          "response": {
            "$ref": "OrdersShipLineItemsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "canceltestorderbycustomer": {
          "httpMethod": "POST",
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "parameters": {
            "orderId": {
              "description": "The ID of the test order to cancel.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "flatPath": "{merchantId}/testorders/{orderId}/cancelByCustomer",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.canceltestorderbycustomer",
          "path": "{merchantId}/testorders/{orderId}/cancelByCustomer",
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          }
        },
        "captureOrder": {
          "request": {
            "$ref": "CaptureOrderRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "id": "content.orders.captureOrder",
          "response": {
            "$ref": "CaptureOrderResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "path": "{merchantId}/orders/{orderId}/captureOrder",
          "flatPath": "{merchantId}/orders/{orderId}/captureOrder",
          "parameters": {
            "orderId": {
              "description": "Required. The ID of the Order.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true
            }
          },
          "description": "Capture funds from the customer for the current order total. This method should be called after the merchant verifies that they are able and ready to start shipping the order. This method blocks until a response is received from the payment processsor. If this method succeeds, the merchant is guaranteed to receive funds for the order after shipment. If the request fails, it can be retried or the order may be cancelled. This method cannot be called after the entire order is already shipped. A rejected error code is returned when the payment service provider has declined the charge. This indicates a problem between the PSP and either the merchant's or customer's account. Sometimes this error will be resolved by the customer. We recommend retrying these errors once per day or cancelling the order with reason `failedToCaptureFunds` if the items cannot be held."
        },
        "acknowledge": {
          "id": "content.orders.acknowledge",
          "flatPath": "{merchantId}/orders/{orderId}/acknowledge",
          "description": "Marks an order as acknowledged.",
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the order.",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "path": "{merchantId}/orders/{orderId}/acknowledge",
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          }
        },
        "cancel": {
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the order to cancel.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.cancel",
          "flatPath": "{merchantId}/orders/{orderId}/cancel",
          "description": "Cancels all line items in an order, making a full refund.",
          "path": "{merchantId}/orders/{orderId}/cancel",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "updateshipment": {
          "flatPath": "{merchantId}/orders/{orderId}/updateShipment",
          "id": "content.orders.updateshipment",
          "response": {
            "$ref": "OrdersUpdateShipmentResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersUpdateShipmentRequest"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            }
          },
          "description": "Updates a shipment's status, carrier, and/or tracking ID.",
          "path": "{merchantId}/orders/{orderId}/updateShipment"
        }
      }
    },
    "orderreturns": {
      "resources": {
        "labels": {
          "methods": {
            "create": {
              "path": "{merchantId}/orderreturns/{returnId}/labels",
              "description": "Links a return shipping label to a return id. You can only create one return label per return id. Since the label is sent to the buyer, the linked return label cannot be updated or deleted. If you try to create multiple return shipping labels for a single return id, every create request except the first will fail.",
              "parameters": {
                "merchantId": {
                  "type": "string",
                  "description": "Required. The merchant the Return Shipping Label belongs to.",
                  "format": "int64",
                  "location": "path",
                  "required": true
                },
                "returnId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Provide the Google-generated merchant order return ID.",
                  "required": true
                }
              },
              "response": {
                "$ref": "ReturnShippingLabel"
              },
              "id": "content.orderreturns.labels.create",
              "parameterOrder": [
                "merchantId",
                "returnId"
              ],
              "request": {
                "$ref": "ReturnShippingLabel"
              },
              "flatPath": "{merchantId}/orderreturns/{returnId}/labels",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      },
      "methods": {
        "process": {
          "description": "Processes return in your Merchant Center account.",
          "path": "{merchantId}/orderreturns/{returnId}/process",
          "flatPath": "{merchantId}/orderreturns/{returnId}/process",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "returnId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the return."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "OrderreturnsProcessResponse"
          },
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "request": {
            "$ref": "OrderreturnsProcessRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orderreturns.process"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true
            },
            "returnId": {
              "description": "Merchant order return ID generated by Google.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.orderreturns.get",
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "description": "Retrieves an order return from your Merchant Center account.",
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "httpMethod": "GET",
          "path": "{merchantId}/orderreturns/{returnId}",
          "flatPath": "{merchantId}/orderreturns/{returnId}"
        },
        "list": {
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "description": "Lists order returns in your Merchant Center account.",
          "flatPath": "{merchantId}/orderreturns",
          "httpMethod": "GET",
          "path": "{merchantId}/orderreturns",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "createdEndDate": {
              "type": "string",
              "location": "query",
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format."
            },
            "acknowledged": {
              "type": "boolean",
              "description": "Obtains order returns that match the acknowledgement status. When set to true, obtains order returns that have been acknowledged. When false, obtains order returns that have not been acknowledged. When not provided, obtains order returns regardless of their acknowledgement status. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged order returns are returned. ",
              "location": "query"
            },
            "shipmentTypes": {
              "description": "Obtains order returns that match any shipment type provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment types.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "enum": [
                "BY_MAIL",
                "RETURNLESS",
                "CONTACT_CUSTOMER_SUPPORT"
              ],
              "enumDescriptions": [
                "Return shipments with type `byMail` only.",
                "Return shipments with type `returnless` only.",
                "Return shipments with type `contactCustomerSupport` only."
              ]
            },
            "shipmentTrackingNumbers": {
              "location": "query",
              "description": "Obtains order returns with the specified tracking numbers. If this parameter is provided, createdStartDate, createdEndDate, shipmentType, shipmentStatus, shipmentState and acknowledged parameters must be not set. Note: if googleOrderId and shipmentTrackingNumber parameters are provided, the obtained results will include all order returns that either match the specified order id or the specified tracking number.",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "createdStartDate": {
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "enum": [
                "RETURN_CREATION_TIME_DESC",
                "RETURN_CREATION_TIME_ASC"
              ],
              "type": "string",
              "enumDescriptions": [
                "Return results in descending order.",
                "Return results in ascending order."
              ],
              "location": "query",
              "description": "Return the results in the specified order."
            },
            "shipmentStates": {
              "repeated": true,
              "enumDescriptions": [
                "Return shipments with `new` state only.",
                "Return shipments with `shipped` state only.",
                "Return shipments with `completed` state only.",
                "Return shipments with `undeliverable` state only.",
                "Return shipments with `pending` state only."
              ],
              "type": "string",
              "location": "query",
              "description": "Obtains order returns that match any shipment state provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment states.",
              "enum": [
                "NEW",
                "SHIPPED",
                "COMPLETED",
                "UNDELIVERABLE",
                "PENDING"
              ]
            },
            "googleOrderIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Obtains order returns with the specified order ids. If this parameter is provided, createdStartDate, createdEndDate, shipmentType, shipmentStatus, shipmentState and acknowledged parameters must be not set. Note: if googleOrderId and shipmentTrackingNumber parameters are provided, the obtained results will include all order returns that either match the specified order id or the specified tracking number."
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "required": true
            },
            "shipmentStatus": {
              "enum": [
                "NEW",
                "IN_PROGRESS",
                "PROCESSED"
              ],
              "enumDescriptions": [
                "Return shipments with `new` status only.",
                "Return shipments with `inProgress` status only.",
                "Return shipments with `processed` status only."
              ],
              "type": "string",
              "description": "Obtains order returns that match any shipment status provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment statuses.",
              "repeated": true,
              "location": "query"
            }
          },
          "id": "content.orderreturns.list",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "acknowledge": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrderreturnsAcknowledgeResponse"
          },
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "id": "content.orderreturns.acknowledge",
          "path": "{merchantId}/orderreturns/{returnId}/acknowledge",
          "flatPath": "{merchantId}/orderreturns/{returnId}/acknowledge",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "returnId": {
              "type": "string",
              "description": "The ID of the return.",
              "location": "path",
              "required": true
            }
          },
          "description": "Acks an order return in your Merchant Center account.",
          "request": {
            "$ref": "OrderreturnsAcknowledgeRequest"
          }
        },
        "createorderreturn": {
          "httpMethod": "POST",
          "path": "{merchantId}/orderreturns/createOrderReturn",
          "request": {
            "$ref": "OrderreturnsCreateOrderReturnRequest"
          },
          "flatPath": "{merchantId}/orderreturns/createOrderReturn",
          "id": "content.orderreturns.createorderreturn",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Create return in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrderreturnsCreateOrderReturnResponse"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          }
        }
      }
    },
    "productstatuses": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ProductStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "id": "content.productstatuses.get",
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            }
          },
          "path": "{merchantId}/productstatuses/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Gets the status of a product from your Merchant Center account."
        },
        "custombatch": {
          "description": "Gets the statuses of multiple products in a single request.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "productstatuses/batch",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productstatuses.custombatch",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "path": "productstatuses/batch"
        },
        "list": {
          "path": "{merchantId}/productstatuses",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of product statuses to return in the response, used for paging."
            },
            "destinations": {
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/productstatuses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "httpMethod": "GET",
          "id": "content.productstatuses.list",
          "description": "Lists the statuses of the products in your Merchant Center account."
        }
      },
      "resources": {
        "repricingreports": {
          "methods": {
            "list": {
              "parameters": {
                "endDate": {
                  "type": "string",
                  "location": "query",
                  "description": "Gets Repricing reports on and before this date in the merchant's timezone. You can only retrieve data up to 7 days ago (default) or earlier. Format is YYYY-MM-DD."
                },
                "ruleId": {
                  "location": "query",
                  "description": "Id of the Repricing rule. If specified, only gets this rule's reports.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of days of reports to return. There can be more than one rule report returned per day. For example, if 3 rule types got applied to the same product within a 24-hour period, then a page_size of 1 will return 3 rule reports. The page size defaults to 50 and values above 1000 are coerced to 1000. This service may return fewer days of reports than this value, for example, if the time between your start and end date is less than the page size."
                },
                "productId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Id of the Repricing product. Also known as the [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id)",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "location": "query"
                },
                "startDate": {
                  "description": "Gets Repricing reports on and after this date in the merchant's timezone, up to one year ago. Do not use a start date later than 7 days ago (default). Format is YYYY-MM-DD.",
                  "location": "query",
                  "type": "string"
                },
                "merchantId": {
                  "description": "Required. Id of the merchant who owns the Repricing rule.",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListRepricingProductReportsResponse"
              },
              "id": "content.productstatuses.repricingreports.list",
              "description": "Lists the metrics report for a given Repricing product.",
              "flatPath": "{merchantId}/productstatuses/{productId}/repricingreports",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "merchantId",
                "productId"
              ],
              "path": "{merchantId}/productstatuses/{productId}/repricingreports"
            }
          }
        }
      }
    },
    "productdeliverytime": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productdeliverytime.get",
          "response": {
            "$ref": "ProductDeliveryTime"
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "description": "Gets `productDeliveryTime` by `productId`.",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "required": true,
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "{merchantId}/productdeliverytime/{productId}"
        },
        "delete": {
          "parameters": {
            "productId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The Content API ID of the product, in the form `channel:contentLanguage:targetCountry:offerId`."
            },
            "merchantId": {
              "location": "path",
              "description": "Required. The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productdeliverytime.delete",
          "description": "Deletes the delivery time of a product.",
          "path": "{merchantId}/productdeliverytime/{productId}",
          "flatPath": "{merchantId}/productdeliverytime/{productId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "productId"
          ]
        },
        "create": {
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/productdeliverytime",
          "id": "content.productdeliverytime.create",
          "request": {
            "$ref": "ProductDeliveryTime"
          },
          "httpMethod": "POST",
          "description": "Creates or updates the delivery time of a product.",
          "parameters": {
            "merchantId": {
              "description": "The Google merchant ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/productdeliverytime",
          "response": {
            "$ref": "ProductDeliveryTime"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "listlinks": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}/listlinks",
          "httpMethod": "GET",
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true,
              "format": "uint64"
            },
            "maxResults": {
              "description": "The maximum number of links to return in the response, used for pagination. The minimum allowed value is 5 results per page. If provided value is lower than 5, it will be automatically increased to 5.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the account for which to list links."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}/listlinks",
          "id": "content.accounts.listlinks"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "If set, only the accounts with the given name (case sensitive) will be returned.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "location": "query"
            },
            "view": {
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/accounts",
          "path": "{merchantId}/accounts",
          "httpMethod": "GET",
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "id": "content.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsListResponse"
          }
        },
        "custombatch": {
          "path": "accounts/batch",
          "id": "content.accounts.custombatch",
          "parameterOrder": [],
          "flatPath": "accounts/batch",
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          }
        },
        "authinfo": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {},
          "path": "accounts/authinfo",
          "flatPath": "accounts/authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "description": "Returns information about the authenticated user.",
          "id": "content.accounts.authinfo"
        },
        "get": {
          "description": "Retrieves a Merchant Center account.",
          "path": "{merchantId}/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "id": "content.accounts.get",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            },
            "view": {
              "type": "string",
              "enumDescriptions": [
                "Default. View is populated with Merchant Center fields.",
                "View is populated with Comparison Shopping Services fields."
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "location": "query",
              "enum": [
                "MERCHANT",
                "CSS"
              ]
            }
          }
        },
        "delete": {
          "description": "Deletes a Merchant Center sub-account.",
          "httpMethod": "DELETE",
          "flatPath": "{merchantId}/accounts/{accountId}",
          "id": "content.accounts.delete",
          "path": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account.",
              "required": true
            },
            "force": {
              "description": "Option to delete sub-accounts with products. The default value is false.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatelabels": {
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account.",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account whose labels are updated.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "{merchantId}/accounts/{accountId}/updatelabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.updatelabels",
          "flatPath": "{merchantId}/accounts/{accountId}/updatelabels",
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          }
        },
        "verifyphonenumber": {
          "request": {
            "$ref": "VerifyPhoneNumberRequest"
          },
          "path": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "VerifyPhoneNumberResponse"
          },
          "flatPath": "{merchantId}/accounts/{accountId}/verifyphonenumber",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the account."
            }
          },
          "description": "Validates verification code to verify phone number for the account. If successful this will overwrite the value of `accounts.businessinformation.phoneNumber`. Only verified phone number will replace an existing verified phone number.",
          "id": "content.accounts.verifyphonenumber"
        },
        "claimwebsite": {
          "id": "content.accounts.claimwebsite",
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Claims the website of a Merchant Center sub-account.",
          "httpMethod": "POST",
          "parameters": {
            "overwrite": {
              "description": "Only available to selected merchants, for example multi-client accounts (MCAs) and their sub-accounts. When set to `True`, this option removes any existing claim on the requested website and replaces it with a claim from the account that makes the request.",
              "type": "boolean",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account whose website is claimed.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          }
        },
        "insert": {
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account."
            }
          },
          "path": "{merchantId}/accounts",
          "description": "Creates a Merchant Center sub-account.",
          "flatPath": "{merchantId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "requestphoneverification": {
          "response": {
            "$ref": "RequestPhoneVerificationResponse"
          },
          "description": "Request verification code to start phone verification.",
          "request": {
            "$ref": "RequestPhoneVerificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "id": "content.accounts.requestphoneverification",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "Required. The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "accountId": {
              "description": "Required. The ID of the account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "path": "{merchantId}/accounts/{accountId}/requestphoneverification",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "link": {
          "path": "{merchantId}/accounts/{accountId}/link",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "id": "content.accounts.link",
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the account that should be linked.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "accountId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account.",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          },
          "path": "{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          },
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Account"
          },
          "id": "content.accounts.update",
          "flatPath": "{merchantId}/accounts/{accountId}"
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                },
                "accountId": {
                  "required": true,
                  "description": "Required. The account id for whose labels are to be listed.",
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                }
              },
              "flatPath": "accounts/{accountId}/labels",
              "description": "Lists the labels assigned to an account.",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "path": "accounts/{accountId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "id": "content.accounts.labels.list"
            },
            "create": {
              "path": "accounts/{accountId}/labels",
              "id": "content.accounts.labels.create",
              "description": "Creates a new label, not assigned to any account.",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/{accountId}/labels",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The id of the account this label belongs to.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "path": "accounts/{accountId}/labels/{labelId}",
              "parameters": {
                "labelId": {
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The id of the label to delete.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The id of the account that owns the label.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "id": "content.accounts.labels.delete",
              "httpMethod": "DELETE"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/{accountId}/labels/{labelId}",
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "description": "Updates a label.",
              "parameters": {
                "labelId": {
                  "required": true,
                  "description": "Required. The id of the label to update.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The id of the account this label belongs to.",
                  "required": true
                }
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "flatPath": "accounts/{accountId}/labels/{labelId}",
              "httpMethod": "PATCH",
              "id": "content.accounts.labels.patch",
              "request": {
                "$ref": "AccountLabel"
              }
            }
          }
        },
        "credentials": {
          "methods": {
            "create": {
              "response": {
                "$ref": "AccountCredentials"
              },
              "path": "accounts/{accountId}/credentials",
              "flatPath": "accounts/{accountId}/credentials",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Required. The merchant id of the account these credentials belong to.",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "AccountCredentials"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Uploads credentials for the Merchant Center account. If credentials already exist for this Merchant Center account and purpose, this method updates them.",
              "id": "content.accounts.credentials.create"
            }
          }
        },
        "returncarrier": {
          "methods": {
            "patch": {
              "id": "content.accounts.returncarrier.patch",
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "parameters": {
                "carrierAccountId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "description": "Updates a return carrier in the merchant account.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked."
                }
              },
              "description": "Lists available return carriers in the merchant account.",
              "flatPath": "accounts/{accountId}/returncarrier",
              "parameterOrder": [
                "accountId"
              ],
              "path": "accounts/{accountId}/returncarrier",
              "id": "content.accounts.returncarrier.list",
              "response": {
                "$ref": "ListAccountReturnCarrierResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "carrierAccountId": {
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "type": "string"
                }
              },
              "path": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "id": "content.accounts.returncarrier.delete",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "flatPath": "accounts/{accountId}/returncarrier/{carrierAccountId}",
              "description": "Delete a return carrier in the merchant account.",
              "httpMethod": "DELETE"
            },
            "create": {
              "httpMethod": "POST",
              "id": "content.accounts.returncarrier.create",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Links return carrier to a merchant account.",
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "flatPath": "accounts/{accountId}/returncarrier",
              "parameters": {
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                }
              },
              "path": "accounts/{accountId}/returncarrier"
            }
          }
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "content.pubsubnotificationsettings.get",
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to get pubsub notification settings.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "path": "{merchantId}/pubsubnotificationsettings",
          "response": {
            "$ref": "PubsubNotificationSettings"
          }
        },
        "update": {
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.pubsubnotificationsettings.update",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "flatPath": "{merchantId}/pubsubnotificationsettings",
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "path": "{merchantId}/pubsubnotificationsettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the account.",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          },
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name shouldn't be provided as part of the request."
        }
      }
    },
    "returnpolicy": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "description": "Gets a return policy of the Merchant Center account.",
          "id": "content.returnpolicy.get",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The Merchant Center account to get a return policy for.",
              "location": "path",
              "required": true
            },
            "returnPolicyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Return policy ID generated by Google."
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "flatPath": "{merchantId}/returnpolicy/{returnPolicyId}",
          "path": "{merchantId}/returnpolicy/{returnPolicyId}",
          "response": {
            "$ref": "ReturnPolicy"
          }
        },
        "custombatch": {
          "request": {
            "$ref": "ReturnpolicyCustomBatchRequest"
          },
          "parameterOrder": [],
          "id": "content.returnpolicy.custombatch",
          "description": "Batches multiple return policy related calls in a single request.",
          "httpMethod": "POST",
          "response": {
            "$ref": "ReturnpolicyCustomBatchResponse"
          },
          "parameters": {},
          "path": "returnpolicy/batch",
          "flatPath": "returnpolicy/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The Merchant Center account to insert a return policy for.",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "path": "{merchantId}/returnpolicy",
          "description": "Inserts a return policy for the Merchant Center account.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/returnpolicy",
          "response": {
            "$ref": "ReturnPolicy"
          },
          "request": {
            "$ref": "ReturnPolicy"
          },
          "id": "content.returnpolicy.insert"
        },
        "list": {
          "id": "content.returnpolicy.list",
          "flatPath": "{merchantId}/returnpolicy",
          "response": {
            "$ref": "ReturnpolicyListResponse"
          },
          "path": "{merchantId}/returnpolicy",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The Merchant Center account to list return policies for.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the return policies of the Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "{merchantId}/returnpolicy/{returnPolicyId}",
          "flatPath": "{merchantId}/returnpolicy/{returnPolicyId}",
          "parameters": {
            "returnPolicyId": {
              "description": "Return policy ID generated by Google.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "description": "The Merchant Center account from which to delete the given return policy.",
              "location": "path",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "description": "Deletes a return policy for the given Merchant Center account.",
          "id": "content.returnpolicy.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "regions": {
      "methods": {
        "get": {
          "id": "content.regions.get",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "response": {
            "$ref": "Region"
          },
          "path": "{merchantId}/regions/{regionId}",
          "description": "Retrieves a region defined in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to retrieve region definition.",
              "type": "string",
              "format": "int64"
            },
            "regionId": {
              "required": true,
              "description": "Required. The id of the region to retrieve.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/regions/{regionId}",
          "httpMethod": "GET"
        },
        "create": {
          "httpMethod": "POST",
          "id": "content.regions.create",
          "response": {
            "$ref": "Region"
          },
          "request": {
            "$ref": "Region"
          },
          "description": "Creates a region definition in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/regions",
          "path": "{merchantId}/regions",
          "parameters": {
            "regionId": {
              "description": "Required. The id of the region to create.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "int64",
              "location": "path",
              "description": "Required. The id of the merchant for which to create region definition.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "flatPath": "{merchantId}/regions/{regionId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The id of the merchant for which to delete region definition."
            },
            "regionId": {
              "required": true,
              "description": "Required. The id of the region to delete.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a region definition from your Merchant Center account.",
          "path": "{merchantId}/regions/{regionId}",
          "id": "content.regions.delete",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ]
        },
        "patch": {
          "path": "{merchantId}/regions/{regionId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. The id of the merchant for which to update region definition.",
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "regionId": {
              "description": "Required. The id of the region to update.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "content.regions.patch",
          "httpMethod": "PATCH",
          "flatPath": "{merchantId}/regions/{regionId}",
          "response": {
            "$ref": "Region"
          },
          "description": "Updates a region definition in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Region"
          },
          "parameterOrder": [
            "merchantId",
            "regionId"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListRegionsResponse"
          },
          "id": "content.regions.list",
          "flatPath": "{merchantId}/regions",
          "path": "{merchantId}/regions",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The id of the merchant for which to list region definitions.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
[...]
