{
  "baseUrl": "https://sqladmin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "sqladmin",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "revision": "20230211",
  "protocol": "rest",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "path": "v1/projects/{project}/operations",
          "flatPath": "v1/projects/{project}/operations",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "OperationsListResponse"
          },
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of operations per response."
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "id": "sql.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/operations/{operation}",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "path": "v1/projects/{project}/operations/{operation}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "operation": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Instance operation ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.operations.get",
          "httpMethod": "GET"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "id": "sql.backupRuns.insert",
          "description": "Creates a new backup run on demand.",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "BackupRun"
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.backupRuns.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the backup taken by a backup run.",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "id": {
              "type": "string",
              "location": "path",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.",
              "required": true,
              "format": "int64"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "description": "The ID of this backup run.",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "id": "sql.backupRuns.get",
          "description": "Retrieves a resource containing information about a backup run.",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "BackupRun"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of backup runs per response."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "id": "sql.backupRuns.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns"
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "startExternalSync": {
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "description": "Start External primary instance migration.",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "httpMethod": "POST",
              "id": "sql.projects.instances.startExternalSync",
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "verifyExternalSyncSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "parameters": {
                "instance": {
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path"
                },
                "project": {
                  "required": true,
                  "location": "path",
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Verify External primary instance external sync settings.",
              "httpMethod": "POST"
            },
            "rescheduleMaintenance": {
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Reschedules the maintenance on the given instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "id": "sql.projects.instances.rescheduleMaintenance",
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the instance.",
                  "location": "path"
                },
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "response": {
            "$ref": "FlagsListResponse"
          },
          "path": "v1/flags",
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/flags",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [],
          "id": "sql.flags.list",
          "description": "Lists all available database flags for Cloud SQL instances."
        }
      }
    },
    "connect": {
      "methods": {
        "generateEphemeralCert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "id": "sql.connect.generateEphemeral",
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "id": "sql.connect.get",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "ConnectSettings"
          },
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "parameters": {
            "readTime": {
              "format": "google-datetime",
              "location": "query",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          }
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/tiers",
          "parameterOrder": [
            "project"
          ],
          "id": "sql.tiers.list",
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For more information, see https://cloud.google.com/sql/pricing.",
          "path": "v1/projects/{project}/tiers",
          "response": {
            "$ref": "TiersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project for which to list tiers.",
              "required": true
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "response": {
            "$ref": "User"
          },
          "description": "Retrieves a resource containing information about a user.",
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "User of the instance.",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of a user of the instance."
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "sql.users.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}",
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/users/{name}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users",
          "description": "Deletes a user from a Cloud SQL instance.",
          "id": "sql.users.delete",
          "parameters": {
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "host": {
              "location": "query",
              "description": "Host of the user in the instance.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE"
        },
        "insert": {
          "httpMethod": "POST",
          "id": "sql.users.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "User"
          },
          "path": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "description": "Creates a new user in a Cloud SQL instance."
        },
        "update": {
          "request": {
            "$ref": "User"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            }
          },
          "description": "Updates an existing user in a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.users.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users"
        },
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            }
          },
          "description": "Lists users in the specified Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.list",
          "response": {
            "$ref": "UsersListResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "instances": {
      "methods": {
        "restart": {
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "id": "sql.instances.restart",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Restarts a Cloud SQL instance.",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance to be restarted.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          }
        },
        "clone": {
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the source as well as the clone Cloud SQL instance."
            },
            "instance": {
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "patch": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.patch",
          "response": {
            "$ref": "Operation"
          },
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "httpMethod": "PATCH"
        },
        "restoreBackup": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          }
        },
        "rotateServerCa": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "id": "sql.instances.rotateServerCa",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa"
        },
        "promoteReplica": {
          "id": "sql.instances.promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.",
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "import": {
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "path": "v1/projects/{project}/instances/{instance}/import",
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "sql.instances.import"
        },
        "startReplica": {
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            }
          },
          "id": "sql.instances.startReplica",
          "description": "Starts the replication in the read replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/startReplica"
        },
        "insert": {
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "v1/projects/{project}/instances",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.insert",
          "description": "Creates a new Cloud SQL instance."
        },
        "listServerCas": {
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "id": "sql.instances.listServerCas",
          "path": "v1/projects/{project}/instances/{instance}/listServerCas"
        },
        "delete": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be deleted.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.delete",
          "httpMethod": "DELETE",
          "description": "Deletes a Cloud SQL instance."
        },
        "export": {
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance to be exported.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.export",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "path": "v1/projects/{project}/instances/{instance}/export",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "failover": {
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "path": "v1/projects/{project}/instances/{instance}/failover",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "id": "sql.instances.failover",
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "addServerCa": {
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "id": "sql.instances.addServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/addServerCa",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          }
        },
        "resetSslConfig": {
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.resetSslConfig",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "stopReplica": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/stopReplica",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ID of the project that contains the read replica."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica",
          "description": "Stops the replication in the read replica instance.",
          "id": "sql.instances.stopReplica"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "InstancesListResponse"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "type": "integer"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/projects/{project}/instances",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "description": "Lists instances under a given project.",
          "id": "sql.instances.list",
          "path": "v1/projects/{project}/instances"
        },
        "demoteMaster": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.demoteMaster",
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster"
        },
        "truncateLog": {
          "id": "sql.instances.truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the Cloud SQL project.",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog"
        },
        "get": {
          "path": "v1/projects/{project}/instances/{instance}",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.get",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "response": {
            "$ref": "DatabaseInstance"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "path": "v1/projects/{project}/instances/{instance}",
          "id": "sql.instances.update",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          }
        }
      }
    },
    "databases": {
      "methods": {
        "update": {
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "request": {
            "$ref": "Database"
          },
          "httpMethod": "PUT",
          "id": "sql.databases.update",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "get": {
          "id": "sql.databases.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "database": {
              "required": true,
              "description": "Name of the database in the instance.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "response": {
            "$ref": "Database"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.patch",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "database": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the database to be updated in the instance."
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "Database"
          },
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "httpMethod": "PATCH"
        },
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.insert",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Database"
          }
        },
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.list",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "description": "Lists databases in the specified Cloud SQL instance."
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.delete",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "database": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Name of the database to be deleted in the instance."
            }
          },
          "description": "Deletes a database from a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "sslCerts": {
      "methods": {
        "delete": {
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "sha1Fingerprint": {
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "id": "sql.sslCerts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.get",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "sha1Fingerprint": {
              "description": "Sha1 FingerPrint.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "response": {
            "$ref": "SslCert"
          }
        },
        "insert": {
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "id": "sql.sslCerts.insert",
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted."
        },
        "list": {
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "sql.sslCerts.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all of the current SSL certificates for the instance."
        },
        "createEphemeral": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "id": "sql.sslCerts.createEphemeral",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "SslCert"
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "batchPath": "batch",
  "id": "sqladmin:v1",
  "description": "API for Cloud SQL database instance management",
  "version": "v1",
  "title": "Cloud SQL Admin API",
  "schemas": {
    "MySqlSyncConfig": {
      "description": "MySQL-specific external server sync settings.",
      "id": "MySqlSyncConfig",
      "type": "object",
      "properties": {
        "initialSyncFlags": {
          "description": "Flags to use for the initial dump.",
          "items": {
            "$ref": "SyncFlags"
          },
          "type": "array"
        }
      }
    },
    "InstancesDemoteMasterRequest": {
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "description": "Database demote primary instance request.",
      "type": "object",
      "id": "InstancesDemoteMasterRequest"
    },
    "DatabaseFlags": {
      "type": "object",
      "description": "Database flags for Cloud SQL instances.",
      "id": "DatabaseFlags",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation."
        },
        "value": {
          "type": "string",
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value."
        }
      }
    },
    "InstancesTruncateLogRequest": {
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "type": "object",
      "description": "Instance truncate log request.",
      "id": "InstancesTruncateLogRequest"
    },
    "InstancesCloneRequest": {
      "description": "Database instance clone request.",
      "properties": {
        "cloneContext": {
          "description": "Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      },
      "id": "InstancesCloneRequest",
      "type": "object"
    },
    "Flag": {
      "type": "object",
      "description": "A flag resource.",
      "properties": {
        "requiresRestart": {
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.",
          "type": "boolean"
        },
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "For `INTEGER` flags, the maximum allowed value."
        },
        "minValue": {
          "format": "int64",
          "type": "string",
          "description": "For `INTEGER` flags, the minimum allowed value."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#flag`."
        },
        "allowedStringValues": {
          "description": "For `STRING` flags, a list of strings that the value can be set to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "appliesTo": {
          "items": {
            "type": "string",
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_9_6",
              "POSTGRES_10",
              "POSTGRES_11",
              "POSTGRES_12",
              "POSTGRES_13",
              "POSTGRES_14",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "MYSQL_8_0_27",
              "MYSQL_8_0_28",
              "MYSQL_8_0_29",
              "MYSQL_8_0_30",
              "MYSQL_8_0_31",
              "MYSQL_8_0_32",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB"
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 11.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database major version is MySQL 8.0 and the minor version is 27.",
              "The database major version is MySQL 8.0 and the minor version is 28.",
              "The database major version is MySQL 8.0 and the minor version is 29.",
              "The database major version is MySQL 8.0 and the minor version is 30.",
              "The database major version is MySQL 8.0 and the minor version is 31.",
              "The database major version is MySQL 8.0 and the minor version is 32.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web."
            ]
          },
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "array"
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "type": "string",
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags that do not take a value, such as `skip_grant_tables`.",
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ]
        },
        "allowedIntValues": {
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Flag"
    },
    "FlagsListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Flag"
          },
          "description": "List of flags.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `sql#flagsList`.",
          "type": "string"
        }
      },
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery."
          ],
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "type": "string",
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART"
          ]
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be populated."
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "status": {
          "description": "The status of an operation.",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        },
        "targetLink": {
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "Name of the database instance related to this operation."
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        }
      },
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource."
    },
    "InstancesExportRequest": {
      "id": "InstancesExportRequest",
      "properties": {
        "exportContext": {
          "$ref": "ExportContext",
          "description": "Contains details about the export operation."
        }
      },
      "description": "Database instance export request.",
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "properties": {
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable."
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL collation value."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#database`."
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        }
      },
      "type": "object",
      "description": "Represents a SQL database on the Cloud SQL instance."
    },
    "BinLogCoordinates": {
      "id": "BinLogCoordinates",
      "properties": {
        "binLogPosition": {
          "type": "string",
          "description": "Position (offset) within the binary log file.",
          "format": "int64"
        },
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#binLogCoordinates`."
        }
      },
      "description": "Binary log coordinates.",
      "type": "object"
    },
    "ConnectSettings": {
      "type": "object",
      "properties": {
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11`, `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ]
        },
        "backendType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ]
        },
        "kind": {
          "description": "This is always `sql#connectSettings`.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "region": {
          "type": "string",
          "description": "The cloud region for the instance. For example, `us-central1`, `europe-west1`. The region cannot be changed after instance creation."
        }
      },
      "id": "ConnectSettings",
      "description": "Connect settings retrieval response."
    },
    "FailoverContext": {
      "properties": {
        "settingsVersion": {
          "format": "int64",
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#failoverContext`.",
          "type": "string"
        }
      },
      "id": "FailoverContext",
      "type": "object",
      "description": "Database instance failover context."
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest",
      "properties": {
        "syncMode": {
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "description": "External sync mode",
          "type": "string",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ]
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "Optional. MySQL-specific settings for start external sync."
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        }
      },
      "description": "Instance verify external sync settings request."
    },
    "SqlInstancesStartExternalSyncRequest": {
      "properties": {
        "skipVerification": {
          "description": "Whether to skip the verification step (VESS).",
          "type": "boolean"
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "MySQL-specific settings for start external sync."
        },
        "syncMode": {
          "type": "string",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "description": "External sync mode."
        }
      },
      "type": "object",
      "description": "Instance start external sync request.",
      "id": "SqlInstancesStartExternalSyncRequest"
    },
    "Settings": {
      "type": "object",
      "description": "Database instance settings.",
      "properties": {
        "storageAutoResizeLimit": {
          "format": "int64",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string"
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "type": "string",
          "format": "int64"
        },
        "denyMaintenancePeriods": {
          "description": "Deny maintenance periods",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "connectorEnforcement": {
          "type": "string",
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors). Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ]
        },
        "insightsConfig": {
          "$ref": "InsightsConfig",
          "description": "Insights configuration, for now relevant only for Postgres."
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "databaseFlags": {
          "type": "array",
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Configuration to protect against accidental instance deletion."
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance.",
          "type": "string"
        },
        "replicationType": {
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string",
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ]
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances.",
          "type": "string"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
[...]
