{
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "id": "manufacturers:v1",
  "basePath": "",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "title": "Manufacturer Center API",
  "ownerName": "Google",
  "version": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "description": "Public API for managing Manufacturer Center related data.",
  "name": "manufacturers",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Manufacturer Center",
  "batchPath": "batch",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "get": {
              "parameters": {
                "include": {
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query",
                  "repeated": true,
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true
                },
                "name": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "response": {
                "$ref": "Product"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "httpMethod": "GET",
              "id": "manufacturers.accounts.products.get"
            },
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the product from a Manufacturer Center account.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.delete"
            },
            "list": {
              "flatPath": "v1/accounts/{accountsId}/products",
              "id": "manufacturers.accounts.products.list",
              "path": "v1/{+parent}/products",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "location": "query",
                  "type": "string"
                },
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListProductsResponse"
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "parameterOrder": [
                "parent"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "path": "v1/{+parent}/products/{+name}",
              "id": "manufacturers.accounts.products.update",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "Attributes"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/productCertifications"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error."
                    },
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}"
                },
                "delete": {
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/manufacturers/",
  "revision": "20230209",
  "schemas": {
    "ProductDetail": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      },
      "id": "ProductDetail",
      "type": "object",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
    },
    "ListProductCertificationsResponse": {
      "description": "Response for ListProductCertifications method.",
      "id": "ListProductCertificationsResponse",
      "type": "object",
      "properties": {
        "productCertifications": {
          "type": "array",
          "description": "The product certifications from the specified certification body.",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "description": "Product certification data.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637."
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array"
        },
        "destinationStatuses": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The statuses of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array"
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "certification": {
          "type": "array",
          "items": {
            "$ref": "Certification"
          },
          "description": "Required. A list of certifications to link to the described product."
        }
      },
      "type": "object"
    },
    "Price": {
      "properties": {
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        },
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        }
      },
      "description": "A price.",
      "type": "object",
      "id": "Price"
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "properties": {
        "products": {
          "items": {
            "$ref": "Product"
          },
          "description": "List of the products.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        }
      },
      "type": "object"
    },
    "DestinationStatus": {
      "type": "object",
      "description": "The destination status.",
      "id": "DestinationStatus",
      "properties": {
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "description": "The status of the destination.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ]
        }
      }
    },
    "Capacity": {
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "properties": {
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        },
        "value": {
          "format": "int64",
          "description": "The numeric value of the capacity.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Capacity"
    },
    "Count": {
      "id": "Count",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        },
        "value": {
          "format": "int64",
          "description": "The numeric value of the number of products in a package.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
    },
    "Product": {
      "id": "Product",
      "description": "Product data.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account."
        },
        "targetCountry": {
          "type": "string",
          "description": "The target country of the product as a CLDR territory code (for example, US)."
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The status of the destinations."
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        }
      }
    },
    "Certification": {
      "description": "Description of a certification.",
      "properties": {
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. A custom value of the certification."
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Certification"
    },
    "VoluntaryNutritionFact": {
      "type": "object",
      "id": "VoluntaryNutritionFact",
      "properties": {
        "dailyPercentage": {
          "type": "number",
          "description": "Daily percentage.",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "Name."
        },
        "value": {
          "$ref": "FloatUnit",
          "description": "Value."
        }
      },
      "description": "Voluntary Nutrition Facts."
    },
    "Grocery": {
      "id": "Grocery",
      "properties": {
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "type": "number",
          "format": "double"
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Derived nutrition claim."
        }
      },
      "type": "object"
    },
    "Issue": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue."
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "resolution": {
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "type": "string",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue."
        },
        "type": {
          "type": "string",
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc."
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        }
      },
      "id": "Issue",
      "description": "Product issue."
    },
    "Attributes": {
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "properties": {
        "targetClientId": {
          "type": "string",
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "$ref": "Price",
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price."
        },
        "includedDestination": {
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "productDetail": {
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "sizeType": {
          "items": {
            "type": "string"
          },
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "array"
        },
        "imageLink": {
          "$ref": "Image",
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image."
        },
        "excludedDestination": {
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "flavor": {
          "type": "string",
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor."
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "richProductContent": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865"
        },
        "productType": {
          "type": "array",
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "items": {
            "type": "string"
          }
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "gtin": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title."
        },
        "additionalImageLink": {
          "items": {
            "$ref": "Image"
          },
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array"
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "FeatureDescription": {
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        },
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "type": "string",
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly"
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "description": "The status of the image. @OutputOnly",
          "type": "string"
        }
      },
      "description": "An image.",
      "id": "Image"
    },
    "Nutrition": {
      "type": "object",
      "properties": {
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "sodiumDailyPercentage": {
          "type": "number",
          "description": "Sodium daily percentage.",
          "format": "double"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalCarbohydrateDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total carbohydrate daily percentage."
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "ironDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Iron daily percentage."
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "calciumDailyPercentage": {
          "type": "number",
          "description": "Calcium daily percentage.",
          "format": "double"
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "totalFatDailyPercentage": {
          "format": "double",
          "description": "Total fat daily percentage.",
          "type": "number"
        },
        "folateMcgDfe": {
          "format": "double",
          "description": "Folate mcg DFE.",
          "type": "number"
        },
        "vitaminDDailyPercentage": {
          "format": "double",
          "description": "Vitamin D daily percentage.",
          "type": "number"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "description": "Cholesterol daily percentage.",
          "type": "number"
        },
        "dietaryFiberDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Dietary fiber daily percentage."
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "folateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Folate daily percentage."
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "type": "string",
          "description": "Nutrition fact measure."
        },
        "transFatDailyPercentage": {
          "type": "number",
          "description": "Trans fat daily percentage.",
          "format": "double"
        },
        "totalSugarsDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Total sugars daily percentage."
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Potassium daily percentage."
        },
        "calcium": {
          "$ref": "FloatUnit",
          "description": "Calcium."
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "proteinDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Protein daily percentage."
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "description": "Added sugars daily percentage.",
          "format": "double"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        }
      },
      "id": "Nutrition"
    },
    "FloatUnit": {
      "properties": {
        "unit": {
          "description": "unit.",
          "type": "string"
        },
        "amount": {
          "description": "amount.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "FloatUnit",
      "description": "Combination of float amount and unit."
    }
  },
  "baseUrl": "https://manufacturers.googleapis.com/",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/"
}
