{
  "kind": "discovery#restDescription",
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "title": "Gmail Postmaster Tools API",
  "discoveryVersion": "v1",
  "basePath": "",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "name": "gmailpostmastertools",
  "id": "gmailpostmastertools:v1beta1",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster.readonly": {
          "description": "See email traffic metrics for the domains you have registered in Gmail Postmaster Tools"
        }
      }
    }
  },
  "schemas": {
    "Domain": {
      "id": "Domain",
      "type": "object",
      "description": "A registered domain resource in the Postmaster API.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp when the user registered this domain. Assigned by the server.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Domain. Domain names have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com)."
        },
        "permission": {
          "description": "User’s permission for this domain. Assigned by the server.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "OWNER",
            "READER",
            "NONE"
          ],
          "enumDescriptions": [
            "The default value and should never be used explicitly.",
            "User has read access to the domain and can share access with others.",
            "User has read access to the domain.",
            "User doesn't have permission to access information about the domain. User did not verify ownership of domain nor was access granted by other domain owners."
          ],
          "type": "string"
        }
      }
    },
    "TrafficStats": {
      "properties": {
        "dmarcSuccessRatio": {
          "type": "number",
          "format": "double",
          "description": "The ratio of mail that passed [DMARC](https://dmarc.org/) alignment checks vs all mail received from the domain that successfully authenticated with either of [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/)."
        },
        "deliveryErrors": {
          "description": "Delivery errors for the domain. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "type": "array",
          "items": {
            "$ref": "DeliveryError"
          }
        },
        "spammyFeedbackLoops": {
          "description": "Spammy [Feedback loop identifiers] (https://support.google.com/mail/answer/6254652) with their individual spam rates. This metric only pertains to traffic that is authenticated by [DKIM](http://www.dkim.org/).",
          "type": "array",
          "items": {
            "$ref": "FeedbackLoop"
          }
        },
        "spfSuccessRatio": {
          "description": "The ratio of mail that successfully authenticated with SPF vs. all mail that attempted to authenticate with [SPF](http://www.openspf.org/). Spoofed mail is excluded.",
          "format": "double",
          "type": "number"
        },
        "outboundEncryptionRatio": {
          "description": "The ratio of outgoing mail (from Gmail) that was accepted over secure transport (TLS).",
          "type": "number",
          "format": "double"
        },
        "userReportedSpamRatio": {
          "type": "number",
          "format": "double",
          "description": "The ratio of user-report spam vs. email that was sent to the inbox. This metric only pertains to emails authenticated by [DKIM](http://www.dkim.org/)."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the traffic statistics. Traffic statistic names have the form `domains/{domain}/trafficStats/{date}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com) of the domain this traffic statistics pertains to and date is the date in yyyymmdd format that these statistics corresponds to. For example: domains/mymail.mydomain.com/trafficStats/20160807"
        },
        "dkimSuccessRatio": {
          "description": "The ratio of mail that successfully authenticated with DKIM vs. all mail that attempted to authenticate with [DKIM](http://www.dkim.org/). Spoofed mail is excluded.",
          "format": "double",
          "type": "number"
        },
        "inboundEncryptionRatio": {
          "format": "double",
          "description": "The ratio of incoming mail (to Gmail), that passed secure transport (TLS) vs all mail received from that domain. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "type": "number"
        },
        "domainReputation": {
          "enumDescriptions": [
            "The default value which should never be used explicitly. This represents the state where no reputation information is available.",
            "Has a good track record of a very low spam rate, and complies with Gmail's sender guidelines. Mail will rarely be marked by the spam filter.",
            "Known to send good mail, but is prone to sending a low volume of spam intermittently. Most of the email from this entity will have a fair deliverability rate, except when there is a notable increase in spam levels.",
            "Known to send a considerable volume of spam regularly, and mail from this sender will likely be marked as spam.",
            "History of sending an enormously high volume of spam. Mail coming from this entity will almost always be rejected at SMTP level or marked as spam."
          ],
          "description": "Reputation of the domain.",
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ],
          "type": "string"
        },
        "ipReputations": {
          "type": "array",
          "description": "Reputation information pertaining to the IP addresses of the email servers for the domain. There is exactly one entry for each reputation category except REPUTATION_CATEGORY_UNSPECIFIED.",
          "items": {
            "$ref": "IpReputation"
          }
        }
      },
      "id": "TrafficStats",
      "description": "Email traffic statistics pertaining to a specific date.",
      "type": "object"
    },
    "FeedbackLoop": {
      "id": "FeedbackLoop",
      "description": "[Feedback loop](https://support.google.com/mail/answer/6254652) identifier information.",
      "properties": {
        "spamRatio": {
          "type": "number",
          "description": "The ratio of user marked spam messages with the identifier vs the total number of inboxed messages with that identifier.",
          "format": "double"
        },
        "id": {
          "type": "string",
          "description": "Feedback loop identifier that uniquely identifies individual campaigns."
        }
      },
      "type": "object"
    },
    "DeliveryError": {
      "description": "Metric on a particular delivery error type.",
      "properties": {
        "errorClass": {
          "description": "The class of delivery error.",
          "enumDescriptions": [
            "The default value which should never be used explicitly.",
            "Delivery of message has been rejected.",
            "Temporary failure of message delivery to the recipient."
          ],
          "enum": [
            "DELIVERY_ERROR_CLASS_UNSPECIFIED",
            "PERMANENT_ERROR",
            "TEMPORARY_ERROR"
          ],
          "type": "string"
        },
        "errorType": {
          "description": "The type of delivery error.",
          "enum": [
            "DELIVERY_ERROR_TYPE_UNSPECIFIED",
            "RATE_LIMIT_EXCEEDED",
            "SUSPECTED_SPAM",
            "CONTENT_SPAMMY",
            "BAD_ATTACHMENT",
            "BAD_DMARC_POLICY",
            "LOW_IP_REPUTATION",
            "LOW_DOMAIN_REPUTATION",
            "IP_IN_RBL",
            "DOMAIN_IN_RBL",
            "BAD_PTR_RECORD"
          ],
          "enumDescriptions": [
            "The default value which should never be used explicitly.",
            "The Domain or IP is sending traffic at a suspiciously high rate, due to which temporary rate limits have been imposed. The limit will be lifted when Gmail is confident enough of the nature of the traffic.",
            "The traffic is suspected to be spam, by Gmail, for various reasons.",
            "The traffic is suspected to be spammy, specific to the content.",
            "Traffic contains attachments not supported by Gmail.",
            "The sender domain has set up a DMARC rejection policy.",
            "The IP reputation of the sending IP is very low.",
            "The Domain reputation of the sending domain is very low.",
            "The IP is listed in one or more public [Real-time Blackhole Lists](http://en.wikipedia.org/wiki/DNSBL). Work with the RBL to get your IP delisted.",
            "The Domain is listed in one or more public [Real-time Blackhole Lists](http://en.wikipedia.org/wiki/DNSBL). Work with the RBL to get your domain delisted.",
            "The sending IP is missing a [PTR record](https://support.google.com/domains/answer/3251147#ptr)."
          ],
          "type": "string"
        },
        "errorRatio": {
          "description": "The ratio of messages where the error occurred vs all authenticated traffic.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "DeliveryError",
      "type": "object"
    },
    "ListDomainsResponse": {
      "type": "object",
      "id": "ListDomainsResponse",
      "properties": {
        "domains": {
          "description": "The list of domains.",
          "items": {
            "$ref": "Domain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response message for ListDomains."
    },
    "ListTrafficStatsResponse": {
      "description": "Response message for ListTrafficStats.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "trafficStats": {
          "type": "array",
          "description": "The list of TrafficStats.",
          "items": {
            "$ref": "TrafficStats"
          }
        }
      },
      "id": "ListTrafficStatsResponse"
    },
    "IpReputation": {
      "description": "IP Reputation information for a set of IPs in a specific reputation category.",
      "id": "IpReputation",
      "properties": {
        "sampleIps": {
          "items": {
            "type": "string"
          },
          "description": "A sample of IPs in this reputation category.",
          "type": "array"
        },
        "reputation": {
          "description": "The reputation category this IP reputation represents.",
          "enumDescriptions": [
            "The default value which should never be used explicitly. This represents the state where no reputation information is available.",
            "Has a good track record of a very low spam rate, and complies with Gmail's sender guidelines. Mail will rarely be marked by the spam filter.",
            "Known to send good mail, but is prone to sending a low volume of spam intermittently. Most of the email from this entity will have a fair deliverability rate, except when there is a notable increase in spam levels.",
            "Known to send a considerable volume of spam regularly, and mail from this sender will likely be marked as spam.",
            "History of sending an enormously high volume of spam. Mail coming from this entity will almost always be rejected at SMTP level or marked as spam."
          ],
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ],
          "type": "string"
        },
        "ipCount": {
          "type": "string",
          "description": "Total number of unique IPs in this reputation category. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "int64"
        },
        "numIps": {
          "format": "int64",
          "type": "string",
          "description": "Total number of unique IPs in this reputation category. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/). Deprecated to be complied with ApiLinter for Quantities. Use ip_count instead."
        }
      },
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/gmail/postmaster",
  "resources": {
    "domains": {
      "resources": {
        "trafficStats": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^domains/[^/]+/trafficStats/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the traffic statistics to get. E.g., domains/mymail.mydomain.com/trafficStats/20160807.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster.readonly"
              ],
              "description": "Get traffic statistics for a domain on a specific date. Returns PERMISSION_DENIED if user does not have permission to access TrafficStats for the domain.",
              "response": {
                "$ref": "TrafficStats"
              },
              "id": "gmailpostmastertools.domains.trafficStats.get",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/domains/{domainsId}/trafficStats/{trafficStatsId}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. Server may return fewer TrafficStats than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "format": "int32"
                },
                "endDate.year": {
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "location": "query"
                },
                "startDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^domains/[^/]+$",
                  "location": "path",
                  "description": "The resource name of the domain whose traffic statistics we'd like to list. It should have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name."
                },
                "startDate.day": {
                  "type": "integer",
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32"
                },
                "endDate.month": {
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "location": "query"
                },
                "startDate.year": {
                  "format": "int32",
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any. This is the value of ListTrafficStatsResponse.next_page_token returned from the previous call to `ListTrafficStats` method.",
                  "type": "string",
                  "location": "query"
                },
                "endDate.day": {
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "List traffic statistics for all available days. Returns PERMISSION_DENIED if user does not have permission to access TrafficStats for the domain.",
              "flatPath": "v1beta1/domains/{domainsId}/trafficStats",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster.readonly"
              ],
              "path": "v1beta1/{+parent}/trafficStats",
              "response": {
                "$ref": "ListTrafficStatsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "gmailpostmastertools.domains.trafficStats.list",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "list": {
          "flatPath": "v1beta1/domains",
          "response": {
            "$ref": "ListDomainsResponse"
          },
          "id": "gmailpostmastertools.domains.list",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster.readonly"
          ],
          "httpMethod": "GET",
          "path": "v1beta1/domains",
          "parameterOrder": [],
          "description": "Lists the domains that have been registered by the client. The order of domains in the response is unspecified and non-deterministic. Newly created domains will not necessarily be added to the end of this list.",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer domains than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The next_page_token value returned from a previous List request, if any. This is the value of ListDomainsResponse.next_page_token returned from the previous call to `ListDomains` method."
            }
          }
        },
        "get": {
          "description": "Gets a specific domain registered by the client. Returns NOT_FOUND if the domain does not exist.",
          "httpMethod": "GET",
          "id": "gmailpostmastertools.domains.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/postmaster.readonly"
          ],
          "response": {
            "$ref": "Domain"
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/domains/{domainsId}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^domains/[^/]+$",
              "location": "path",
              "description": "The resource name of the domain. It should have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Postmaster Tools",
  "version": "v1beta1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "revision": "20230228",
  "servicePath": ""
}
