{
  "version_module": true,
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "version": "v1",
  "id": "verifiedaccess:v1",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "challenge": {
      "methods": {
        "verify": {
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "flatPath": "v1/challenge:verify",
          "description": "VerifyChallengeResponse API",
          "id": "verifiedaccess.challenge.verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameterOrder": [],
          "path": "v1/challenge:verify"
        },
        "create": {
          "request": {
            "$ref": "Empty"
          },
          "path": "v1/challenge",
          "flatPath": "v1/challenge",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "description": "CreateChallenge API",
          "id": "verifiedaccess.challenge.create",
          "httpMethod": "POST",
          "response": {
            "$ref": "Challenge"
          },
          "parameters": {}
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "name": "verifiedaccess",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "verifiedaccess",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "description": "signed ChallengeResponse",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        }
      },
      "id": "VerifyChallengeResponseRequest",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "VerifyChallengeResponseResult": {
      "type": "object",
      "properties": {
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "id": "VerifyChallengeResponseResult"
    },
    "SignedData": {
      "id": "SignedData",
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "signature": {
          "format": "byte",
          "description": "The signature of the data field.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The data to be signed."
        }
      }
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object",
      "properties": {
        "challenge": {
          "$ref": "SignedData",
          "description": "Generated challenge"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "id": "Challenge"
    }
  },
  "basePath": "",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "title": "Chrome Verified Access API",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "revision": "20230214"
}
