{
  "baseUrl": "https://tagmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/tag-manager",
  "revision": "20230222",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1",
  "id": "tagmanager:v1",
  "canonicalName": "Tag Manager",
  "ownerDomain": "google.com",
  "basePath": "",
  "protocol": "rest",
  "servicePath": "",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Tag Manager API",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "batchPath": "batch",
  "name": "tagmanager",
  "resources": {
    "accounts": {
      "methods": {
        "update": {
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The GTM Account ID."
            },
            "fingerprint": {
              "type": "string",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "path": "tagmanager/v1/accounts/{accountId}",
          "description": "Updates a GTM Account.",
          "parameterOrder": [
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "request": {
            "$ref": "Account"
          },
          "id": "tagmanager.accounts.update",
          "httpMethod": "PUT",
          "flatPath": "tagmanager/v1/accounts/{accountId}"
        },
        "get": {
          "path": "tagmanager/v1/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "description": "The GTM Account ID.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "tagmanager.accounts.get",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "parameterOrder": [
            "accountId"
          ],
          "description": "Gets a GTM Account."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {},
          "flatPath": "tagmanager/v1/accounts",
          "parameterOrder": [],
          "id": "tagmanager.accounts.list",
          "description": "Lists all GTM Accounts that a user has access to.",
          "path": "tagmanager/v1/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          }
        }
      },
      "resources": {
        "containers": {
          "methods": {
            "update": {
              "id": "tagmanager.accounts.containers.update",
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "containerId": {
                  "description": "The GTM Container ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                },
                "fingerprint": {
                  "location": "query",
                  "type": "string",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage."
                }
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "request": {
                "$ref": "Container"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "PUT",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "description": "Updates a Container."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.containers.list",
              "description": "Lists all Containers that belongs to a GTM Account."
            },
            "delete": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "description": "Deletes a Container.",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "required": true
                },
                "containerId": {
                  "description": "The GTM Container ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "id": "tagmanager.accounts.containers.delete"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "httpMethod": "POST",
              "id": "tagmanager.accounts.containers.create",
              "description": "Creates a Container.",
              "response": {
                "$ref": "Container"
              }
            },
            "get": {
              "description": "Gets a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.get",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "parameters": {
                "containerId": {
                  "description": "The GTM Container ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
            }
          },
          "resources": {
            "move_folders": {
              "methods": {
                "update": {
                  "parameters": {
                    "tagId": {
                      "type": "string",
                      "repeated": true,
                      "description": "The tags to be moved to the folder.",
                      "location": "query"
                    },
                    "triggerId": {
                      "repeated": true,
                      "location": "query",
                      "type": "string",
                      "description": "The triggers to be moved to the folder."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "variableId": {
                      "repeated": true,
                      "description": "The variables to be moved to the folder.",
                      "type": "string",
                      "location": "query"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "request": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "description": "Moves entities to a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ]
                }
              }
            },
            "triggers": {
              "methods": {
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Trigger.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.delete"
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Gets a GTM Trigger.",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameters": {
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Creates a GTM Trigger.",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "httpMethod": "POST"
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "description": "Updates a GTM Trigger.",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "type": "string"
                    },
                    "triggerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Trigger ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "PUT"
                },
                "list": {
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Lists all GTM Triggers of a Container.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.list"
                }
              }
            },
            "environments": {
              "methods": {
                "update": {
                  "id": "tagmanager.accounts.containers.environments.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Updates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "environmentId": {
                      "location": "path",
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Environment.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.get",
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Gets a GTM Environment."
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.create",
                  "description": "Creates a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments"
                }
              }
            },
            "variables": {
              "methods": {
                "update": {
                  "request": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Updates a GTM Variable."
                },
                "create": {
                  "response": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.create",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Creates a GTM Variable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "request": {
                    "$ref": "Variable"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.variables.get",
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Gets a GTM Variable.",
                  "parameters": {
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ]
                },
                "list": {
                  "description": "Lists all GTM Variables of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables"
                },
                "delete": {
                  "description": "Deletes a GTM Variable.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "variableId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    }
                  },
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "parameters": {
                    "environmentId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Environment ID."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update"
                }
              }
            },
            "folders": {
              "methods": {
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.folders.get",
                  "description": "Gets a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "parameters": {
                    "folderId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "response": {
                    "$ref": "Folder"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "request": {
                    "$ref": "Folder"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.folders.create"
                },
                "list": {
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Folders of a Container.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "update": {
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage."
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "folderId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Folder ID."
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.folders.update",
                  "description": "Updates a GTM Folder.",
                  "response": {
                    "$ref": "Folder"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "delete": {
                  "parameters": {
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "description": "Deletes a GTM Folder.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.delete"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "parameters": {
                        "folderId": {
                          "required": true,
                          "description": "The GTM Folder ID.",
                          "type": "string",
                          "location": "path"
                        },
                        "accountId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The GTM Account ID."
                        },
                        "containerId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The GTM Container ID."
                        }
                      },
                      "description": "List all entities in a GTM Folder.",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities"
                    }
                  }
                }
              }
            },
            "tags": {
              "methods": {
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "parameters": {
                    "tagId": {
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets a GTM Tag."
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "description": "Lists all GTM Tags of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "id": "tagmanager.accounts.containers.tags.list",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListTagsResponse"
                  }
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.tags.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Creates a GTM Tag.",
                  "request": {
                    "$ref": "Tag"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags"
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Tag.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "tagId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ]
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "request": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Updates a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.update",
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "tagId": {
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              }
            },
            "versions": {
              "methods": {
                "undelete": {
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "httpMethod": "POST",
                  "description": "Undeletes a Container Version.",
                  "parameters": {
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "description": "Deletes a Container Version."
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameters": {
                    "includeDeleted": {
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "default": "false",
                      "type": "boolean",
                      "location": "query"
                    },
                    "headers": {
                      "default": "false",
                      "type": "boolean",
                      "description": "Retrieve headers only when true.",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all Container Versions of a GTM Container.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.versions.list"
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Updates a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Creates a Container Version.",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "restore": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "httpMethod": "POST",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "containerVersionId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container Version ID."
                    }
                  }
                },
                "get": {
                  "description": "Gets a Container Version.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}"
                },
                "publish": {
                  "httpMethod": "POST",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container Version ID."
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "description": "Publishes a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  }
                }
              }
            }
          }
        },
        "permissions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.permissions.list"
            },
            "update": {
              "parameters": {
                "permissionId": {
                  "type": "string",
                  "location": "path",
                  "description": "The GTM User ID.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Updates a user's Account & Container Permissions.",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.update",
              "request": {
                "$ref": "UserAccess"
              },
              "response": {
                "$ref": "UserAccess"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.delete",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.permissions.create",
              "description": "Creates a user's Account & Container Permissions.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "request": {
                "$ref": "UserAccess"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions"
            },
            "get": {
              "description": "Gets a user's Account & Container Permissions.",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "GET",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.get",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            }
          }
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "schemas": {
    "TeardownTag": {
      "type": "object",
      "id": "TeardownTag",
      "properties": {
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        },
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        }
      }
    },
    "ContainerAccess": {
      "id": "ContainerAccess",
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update"
        },
        "permission": {
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          },
          "type": "array"
        }
      },
      "description": "Defines the Google Tag Manager Container access permissions."
    },
    "Account": {
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "shareData": {
          "type": "boolean",
          "description": "Whether the account shares data anonymously with Google and others. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Account display name. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update"
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account"
    },
    "FolderEntities": {
      "properties": {
        "variable": {
          "type": "array",
          "description": "The list of variables inside the folder.",
          "items": {
            "$ref": "Variable"
          }
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The list of tags inside the folder."
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The list of triggers inside the folder."
        }
      },
      "description": "Represents a Google Tag Manager Folder's contents.",
      "id": "FolderEntities",
      "type": "object"
    },
    "ListContainersResponse": {
      "id": "ListContainersResponse",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account."
        }
      },
      "type": "object",
      "description": "List Containers Response."
    },
    "Macro": {
      "properties": {
        "type": {
          "type": "string",
          "description": "GTM Macro Type. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a macro. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update",
          "type": "string",
          "format": "int64"
        },
        "notes": {
          "description": "User notes on how to apply this macro in the container. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Macro as computed at storage time. This value is recomputed whenever the macro is modified.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Macro display name. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "description": "The macro's parameters. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update",
          "items": {
            "$ref": "Parameter"
          }
        },
        "macroId": {
          "type": "string",
          "description": "The Macro ID uniquely identifies the GTM Macro."
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a macro. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update",
          "type": "string",
          "format": "int64"
        },
        "enablingRuleId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For mobile containers only: A list of rule IDs for enabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "disablingRuleId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of rule IDs for disabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update"
        }
      },
      "id": "Macro",
      "type": "object",
      "description": "Represents a Google Tag Manager Macro."
    },
    "ListAccountUsersResponse": {
      "id": "ListAccountUsersResponse",
      "properties": {
        "userAccess": {
          "description": "All GTM AccountUsers of a GTM Account.",
          "items": {
            "$ref": "UserAccess"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "List AccountUsers Response."
    },
    "Folder": {
      "type": "object",
      "id": "Folder",
      "description": "Represents a Google Tag Manager Folder.",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        },
        "name": {
          "description": "Folder display name. @mutable tagmanager.accounts.containers.folders.create @mutable tagmanager.accounts.containers.folders.update",
          "type": "string",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.folders.create",
              "tagmanager.accounts.containers.folders.update"
            ]
          }
        }
      }
    },
    "SetupTag": {
      "properties": {
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        },
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        }
      },
      "id": "SetupTag",
      "type": "object"
    },
    "Rule": {
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "The Rule ID uniquely identifies the GTM Rule."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this rule in the container. @mutable tagmanager.accounts.containers.rules.create @mutable tagmanager.accounts.containers.rules.update"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Rule as computed at storage time. This value is recomputed whenever the rule is modified."
        },
        "condition": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The list of conditions that make up this rule (implicit AND between them). @mutable tagmanager.accounts.containers.rules.create @mutable tagmanager.accounts.containers.rules.update",
          "type": "array"
        },
        "name": {
          "description": "Rule display name. @mutable tagmanager.accounts.containers.rules.create @mutable tagmanager.accounts.containers.rules.update",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Rule",
      "description": "Represents a Google Tag Manager Rule."
    },
    "UserAccess": {
      "id": "UserAccess",
      "description": "Represents a user's permissions to an account and its container.",
      "type": "object",
      "properties": {
        "permissionId": {
          "description": "Account Permission ID.",
          "type": "string"
        },
        "emailAddress": {
          "description": "User's email address. @mutable tagmanager.accounts.permissions.create",
          "type": "string",
          "annotations": {
            "required": [
              "tagmanager.accounts.permissions.create"
            ]
          }
        },
        "accountAccess": {
          "$ref": "AccountAccess",
          "annotations": {
            "required": [
              "tagmanager.accounts.permissions.create"
            ]
          },
          "description": "GTM Account access permissions. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update"
        },
        "containerAccess": {
          "type": "array",
          "description": "GTM Container access permissions. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      }
    },
    "ListTagsResponse": {
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container.",
          "type": "array"
        }
      },
      "id": "ListTagsResponse",
      "description": "List Tags Response."
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The variable's parameters. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update"
        },
        "scheduleEndMs": {
          "format": "int64",
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a variable. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update"
        },
        "enablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Variable display name. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.variables.create",
              "tagmanager.accounts.containers.variables.update"
            ]
          }
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "type": {
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.variables.create",
              "tagmanager.accounts.containers.variables.update"
            ]
          },
          "description": "GTM Variable Type. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this variable in the container. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "disablingTriggerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Variable"
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "description": "All Environments of a GTM Container.",
          "items": {
            "$ref": "Environment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListEnvironmentsResponse",
      "description": "List Environments Response."
    },
    "Condition": {
      "properties": {
        "type": {
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of operator for this condition. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update",
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.triggers.create",
              "tagmanager.accounts.containers.triggers.update"
            ]
          }
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update",
          "items": {
            "$ref": "Parameter"
          },
          "annotations": {
            "required": [
              "tagmanager.accounts.containers.triggers.create",
              "tagmanager.accounts.containers.triggers.update"
            ]
          },
          "type": "array"
        }
      },
      "description": "Represents a predicate.",
      "id": "Condition",
      "type": "object"
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "type": "object",
      "id": "ListFoldersResponse",
      "properties": {
        "folders": {
          "description": "All GTM Folders of a GTM Container.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        }
      }
    },
    "Trigger": {
      "type": "object",
      "description": "Represents a Google Tag Manager Trigger",
      "properties": {
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "$ref": "Parameter",
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update",
[...]
