{
  "id": "admin:datatransfer_v1",
  "version": "datatransfer_v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "kind": "discovery#restDescription",
  "title": "Admin SDK API",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/admin-sdk/",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      }
    },
    "DataTransfer": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer"
    },
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](/admin-sdk/data-transfer/reference/rest/v1/applications/list) method."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "transferParams": {
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      }
    },
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](/admin-sdk/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      },
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "properties": {
        "applications": {
          "type": "array",
          "items": {
            "$ref": "Application"
          },
          "description": "The list of applications that support data transfer and are also installed for the customer."
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationsListResponse"
    },
    "DataTransfersListResponse": {
      "properties": {
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        }
      },
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "packagePath": "admin",
  "canonicalName": "DataTransfer",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230212",
  "resources": {
    "transfers": {
      "methods": {
        "insert": {
          "id": "datatransfer.transfers.insert",
          "response": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "flatPath": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "description": "Inserts a data transfer request. See the [Transfer parameters](/admin-sdk/data-transfer/v1/parameters) reference for specific application requirements.",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "admin/datatransfer/v1/transfers"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "location": "query",
              "maximum": "500",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32"
            },
            "status": {
              "type": "string",
              "description": "Status of the transfer.",
              "location": "query"
            },
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "datatransfer.transfers.list",
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        },
        "get": {
          "id": "datatransfer.transfers.get",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameterOrder": [
            "dataTransferId"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID."
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "datatransfer.applications.list",
          "flatPath": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "path": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "maximum": "500",
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list."
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves information about an application for the given application ID.",
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "ID of the application resource to be retrieved.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "datatransfer.applications.get",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://admin.googleapis.com/",
  "name": "admin",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  }
}
