{
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "revision": "20230227",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "schemas": {
    "EscalateCaseRequest": {
      "id": "EscalateCaseRequest",
      "properties": {
        "escalation": {
          "description": "The escalation object to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      },
      "type": "object",
      "description": "The request message for the EscalateCase endpoint."
    },
    "DiffChecksumsResponse": {
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "chunkSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffChecksumsResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "DiffVersionResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DiffVersionResponse",
      "type": "object"
    },
    "Comment": {
      "description": "A comment associated with a support case.",
      "id": "Comment",
      "properties": {
        "plainTextBody": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An automatically generated plain text version of body with all rich text syntax stripped."
        },
        "body": {
          "description": "The full comment body. Maximum of 120000 characters. This can contain rich text syntax.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for the comment."
        },
        "creator": {
          "description": "Output only. The user or Google Support agent created this comment.",
          "$ref": "Actor",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this comment was created."
        }
      },
      "type": "object"
    },
    "CloseCaseRequest": {
      "id": "CloseCaseRequest",
      "description": "The request message for the CloseCase endpoint.",
      "properties": {},
      "type": "object"
    },
    "DiffDownloadResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object"
    },
    "CaseClassification": {
      "id": "CaseClassification",
      "description": "A classification object with a product type and value.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the classification.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`."
        }
      }
    },
    "Escalation": {
      "properties": {
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        },
        "reason": {
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "type": "string",
          "description": "Required. The reason why the Case is being escalated."
        }
      },
      "id": "Escalation",
      "type": "object",
      "description": "An escalation of a support case."
    },
    "SearchCaseClassificationsResponse": {
      "id": "SearchCaseClassificationsResponse",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "properties": {
        "caseClassifications": {
          "description": "The classifications retrieved.",
          "items": {
            "$ref": "CaseClassification"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object"
    },
    "ContentTypeInfo": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromUrlPath": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "ContentTypeInfo"
    },
    "Case": {
      "description": "A support case.",
      "id": "Case",
      "properties": {
        "state": {
          "description": "Output only. The current status of the support case.",
          "readOnly": true,
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "displayName": {
          "description": "The short summary of the issue reported in this case.",
          "type": "string"
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "description": "The priority of this case. If this is set, do not set severity."
        },
        "languageCode": {
          "type": "string",
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours"
        },
        "severity": {
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "description": "The severity of this case. Deprecated. Use priority instead.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ]
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "updateTime": {
          "description": "Output only. The time this case was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "creator": {
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support.",
          "$ref": "Actor"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the case."
        },
        "subscriberEmailAddresses": {
          "items": {
            "type": "string"
          },
          "description": "The email addresses to receive updates on this case.",
          "type": "array"
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this case was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "DiffUploadRequest": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffUploadRequest",
      "properties": {
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "DownloadParameters": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        }
      },
      "id": "DownloadParameters"
    },
    "Media": {
      "id": "Media",
      "type": "object",
      "properties": {
        "compositeMedia": {
          "items": {
            "$ref": "CompositeMedia"
          },
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "array"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "md5Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "mediaId": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha256Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "$ref": "ContentTypeInfo",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "timestamp": {
          "format": "uint64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "type": "object",
      "properties": {
        "uploadMetadataContainer": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "readToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobGeneration": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadReadHandle": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CompositeMedia": {
      "properties": {
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer",
          "format": "uint32"
        },
        "blobRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "sha1Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "CompositeMedia"
    },
    "SearchCasesResponse": {
      "properties": {
        "cases": {
          "description": "The list of Case associated with the cloud resource, after any filters have been applied.",
          "items": {
            "$ref": "Case"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object",
      "description": "The response message for the SearchCases endpoint.",
      "id": "SearchCasesResponse"
    },
    "CreateAttachmentRequest": {
      "type": "object",
      "id": "CreateAttachmentRequest",
      "description": "The request message for the CreateAttachment endpoint.",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      }
    },
    "ObjectId": {
      "properties": {
        "objectName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "generation": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "ObjectId"
    },
    "ListAttachmentsResponse": {
      "description": "The response message for the ListAttachments endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "type": "array",
          "description": "The list of attachments associated with the given case."
        }
      },
      "id": "ListAttachmentsResponse",
      "type": "object"
    },
    "WorkflowOperationMetadata": {
      "id": "WorkflowOperationMetadata",
      "type": "object",
      "properties": {
        "workflowOperationType": {
          "type": "string",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "description": "Which version of the workflow service this operation came from.",
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ]
        },
        "namespace": {
          "type": "string",
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved."
        },
        "operationAction": {
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "type": "string",
          "description": "The type of action the operation is classified as."
        }
      },
      "description": "Metadata about the operation. Used to lookup the current status."
    },
    "DiffUploadResponse": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffUploadResponse"
    },
    "ListCommentsResponse": {
      "type": "object",
      "id": "ListCommentsResponse",
      "description": "The response message for the ListComments endpoint.",
      "properties": {
        "comments": {
          "type": "array",
          "description": "The list of Comments associated with the given Case.",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      }
    },
    "ListCasesResponse": {
      "description": "The response message for the ListCases endpoint.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of cases associated with the cloud resource, after any filters have been applied."
        }
      },
      "id": "ListCasesResponse",
      "type": "object"
    },
    "Actor": {
      "id": "Actor",
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "properties": {
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "googleSupport": {
          "description": "Output only. Whether the actor is a Google support actor.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Attachment": {
      "properties": {
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true,
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the attachment.",
          "readOnly": true
        },
        "sizeBytes": {
          "description": "Output only. The size of the attachment in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a file attached to a support case.",
      "id": "Attachment"
    }
  },
  "id": "cloudsupport:v2beta",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "resources": {
    "caseClassifications": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "cloudsupport.caseClassifications.search",
          "flatPath": "v2beta/caseClassifications:search",
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\".",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            },
            "query": {
              "location": "query",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request."
            }
          },
          "path": "v2beta/caseClassifications:search",
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The resource name of the attachment to be downloaded.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Media"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "useMediaDownloadService": true,
          "path": "v2beta/{+name}:download",
          "id": "cloudsupport.media.download"
        },
        "upload": {
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "path": "v2beta/{+parent}/attachments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "parent": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "type": "string"
            }
          },
          "id": "cloudsupport.media.upload",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments"
        }
      }
    },
    "attachments": {
      "methods": {
        "create": {
          "id": "cloudsupport.attachments.create",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/attachments",
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "path": "v2beta/{+parent}/attachments",
          "response": {
            "$ref": "Attachment"
          },
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "pattern": "^[^/]+/[^/]+$",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "cases": {
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "description": "Retrieve all attachments associated with a support case.",
              "id": "cloudsupport.cases.attachments.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100."
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of Case object for which attachments should be listed."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2beta/{+parent}/attachments",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "comments": {
          "methods": {
            "list": {
              "description": "Retrieve all Comments associated with the Case object.",
              "httpMethod": "GET",
              "path": "v2beta/{+parent}/comments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10."
                },
                "parent": {
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "id": "cloudsupport.cases.comments.list",
              "response": {
                "$ref": "ListCommentsResponse"
              }
            },
            "create": {
              "path": "v2beta/{+parent}/comments",
              "id": "cloudsupport.cases.comments.create",
              "response": {
                "$ref": "Comment"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Comment"
              },
              "description": "Add a new comment to the specified Case. The comment object must have the following fields set: body.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "patch": {
          "id": "cloudsupport.cases.patch",
          "response": {
            "$ref": "Case"
          },
          "path": "v2beta/{+name}",
          "description": "Update the specified case. Only a subset of fields can be updated.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "description": "A list of attributes of the case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields are updated. WARNING: If you do not provide a field mask, then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses, then subscriber_email_addresses is updated to empty.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "The resource name for the case.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "close": {
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.close",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "path": "v2beta/{+name}:close",
          "description": "Close the specified case.",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          }
        },
        "create": {
          "httpMethod": "POST",
          "description": "Create a new case and associate it with the given Cloud resource. The case object must have the following fields set: display_name, description, classification, and severity.",
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudsupport.cases.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Case"
          },
          "path": "v2beta/{+parent}/cases",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "parent": {
              "description": "Required. The name of the Cloud resource under which the case should be created.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases"
        },
        "escalate": {
          "path": "v2beta/{+name}:escalate",
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "httpMethod": "POST",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "cloudsupport.cases.escalate",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "response": {
            "$ref": "Case"
          }
        },
        "list": {
          "parameters": {
            "filter": {
              "location": "query",
              "description": "An expression written in filter language. If non-empty, the query returns the cases that match the filter. Else, the query doesn't filter the cases. Filter expressions use the following fields with the operators equals (`=`) and `AND`: - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. Examples: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "format": "int32"
            },
            "parent": {
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "type": "string",
              "required": true
            }
          },
          "id": "cloudsupport.cases.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Retrieve all cases under the specified parent. Note: Listing cases under an Organization returns only the cases directly parented by that organization. To retrieve all cases under an organization, including cases parented by projects under that organization, use `cases.search`.",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListCasesResponse"
          },
          "path": "v2beta/{+parent}/cases",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases"
        },
        "get": {
          "path": "v2beta/{+name}",
          "description": "Retrieve the specified case.",
          "id": "cloudsupport.cases.get",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          }
        },
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "query": {
              "location": "query",
              "description": "An expression written in filter language. A query uses the following fields with the operators equals (`=`) and `AND`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. - `billingAccount`: A billing account in the form `billingAccounts/` You must specify eitehr `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` retricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `billing_account=\"billingAccounts/123456-A0B0C0-CUZ789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v2beta/cases:search",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "path": "v2beta/cases:search",
          "id": "cloudsupport.cases.search",
          "description": "Search cases using the specified query."
        }
      }
    }
  },
  "canonicalName": "Cloud Support",
  "ownerName": "Google",
  "batchPath": "batch",
  "version_module": true,
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "name": "cloudsupport",
  "servicePath": "",
  "version": "v2beta",
  "title": "Google Cloud Support API"
}
