{
  "basePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "id": "pagespeedonline:v5",
  "version": "v5",
  "ownerName": "Google",
  "schemas": {
    "Bucket": {
      "properties": {
        "max": {
          "format": "int32",
          "type": "integer",
          "description": "Upper bound for a bucket's range."
        },
        "min": {
          "format": "int32",
          "description": "Lower bound for a bucket's range.",
          "type": "integer"
        },
        "proportion": {
          "format": "double",
          "type": "number",
          "description": "The proportion of data in this bucket."
        }
      },
      "id": "Bucket",
      "type": "object",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min \u003c= x \u003c max, In millisecond."
    },
    "PagespeedApiPagespeedResponseV5": {
      "description": "The Pagespeed API response object.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        }
      },
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "Categories": {
      "type": "object",
      "description": "The categories in a Lighthouse run.",
      "id": "Categories",
      "properties": {
        "accessibility": {
          "$ref": "LighthouseCategoryV5",
          "description": "The accessibility category, containing all accessibility related audits."
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        },
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      }
    },
    "UserPageLoadMetricV5": {
      "properties": {
        "median": {
          "type": "integer",
          "format": "int32",
          "description": "The median number of the metric, in millisecond."
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "distributions": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1."
        },
        "percentile": {
          "format": "int32",
          "type": "integer",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."
        }
      },
      "type": "object",
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5"
    },
    "LighthouseResultV5": {
      "properties": {
        "audits": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR."
        },
        "stackPacks": {
          "type": "array",
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings."
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "categoryGroups": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "description": "Map of category groups in the LHR."
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`."
        },
        "timing": {
          "$ref": "Timing",
          "description": "Timing information for this LHR."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        }
      },
      "description": "The Lighthouse result object.",
      "type": "object",
      "id": "LighthouseResultV5"
    },
    "CategoryGroupV5": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      },
      "description": "Message containing a category",
      "id": "CategoryGroupV5"
    },
    "Timing": {
      "type": "object",
      "properties": {
        "total": {
          "type": "number",
          "description": "The total duration of Lighthouse's run.",
          "format": "double"
        }
      },
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run."
    },
    "ConfigSettings": {
      "properties": {
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "emulatedFormFactor": {
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "type": "string"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop."
        }
      },
      "id": "ConfigSettings",
      "type": "object",
      "description": "Message containing the configuration settings for the Lighthouse run."
    },
    "PagespeedVersion": {
      "id": "PagespeedVersion",
      "properties": {
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        }
      },
      "type": "object",
      "description": "The Pagespeed Version object."
    },
    "RendererFormattedStrings": {
      "properties": {
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "opportunityResourceColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings opportunity of an audit."
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message holding the formatted strings used in the renderer.",
      "id": "RendererFormattedStrings"
    },
    "LighthouseCategoryV5": {
      "id": "LighthouseCategoryV5",
      "description": "A Lighthouse category.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "auditRefs": {
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category."
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        }
      }
    },
    "PagespeedApiLoadingExperienceV5": {
      "type": "object",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "properties": {
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        },
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of .",
          "type": "object"
        }
      },
      "id": "PagespeedApiLoadingExperienceV5"
    },
    "LighthouseAuditResultV5": {
      "id": "LighthouseAuditResultV5",
      "type": "object",
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "numericValue": {
          "format": "double",
          "type": "number",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "id": {
          "type": "string",
          "description": "The audit's id."
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Freeform details section of the audit."
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "warnings": {
          "type": "any",
          "description": "Possible warnings that occurred in the audit, can be null."
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "title": {
          "type": "string",
          "description": "The human readable title."
        }
      }
    },
    "StackPack": {
      "id": "StackPack",
      "properties": {
        "descriptions": {
          "type": "object",
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The stack pack title."
        },
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        }
      },
      "description": "Message containing Stack Pack information.",
      "type": "object"
    },
    "AuditRefs": {
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object",
      "id": "AuditRefs",
      "properties": {
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "relevantAudits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one."
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double",
          "type": "number"
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        }
      }
    },
    "RuntimeError": {
      "type": "object",
      "id": "RuntimeError",
      "properties": {
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The enumerated Lighthouse Error code."
        }
      },
      "description": "Message containing a runtime error config."
    },
    "I18n": {
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "id": "I18n"
    },
    "Environment": {
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment",
      "properties": {
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "benchmarkIndex": {
          "type": "number",
          "format": "double",
          "description": "The benchmark index number that indicates rough device class."
        },
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "scopes": [
            "openid"
          ],
          "parameterOrder": [
            "url"
          ],
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "path": "pagespeedonline/v5/runPagespeed",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET",
          "parameters": {
            "utm_campaign": {
              "location": "query",
              "description": "Campaign name for analytics.",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "type": "string",
              "description": "The locale used to localize formatted results"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query",
              "type": "string"
            },
            "url": {
              "location": "query",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true,
              "type": "string",
              "description": "Required. The URL to fetch and analyze"
            },
            "utm_source": {
              "location": "query",
              "type": "string",
              "description": "Campaign source for analytics."
            },
            "category": {
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO"
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines."
              ]
            },
            "strategy": {
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "location": "query",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "type": "string"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "name": "pagespeedonline",
  "protocol": "rest",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "revision": "20230224",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "title": "PageSpeed Insights API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "servicePath": "",
  "canonicalName": "Pagespeed Insights"
}
