{
  "name": "tasks",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "basePath": "",
  "documentationLink": "https://developers.google.com/tasks/",
  "servicePath": "",
  "rootUrl": "https://tasks.googleapis.com/",
  "title": "Tasks API",
  "protocol": "rest",
  "canonicalName": "Tasks",
  "baseUrl": "https://tasks.googleapis.com/",
  "schemas": {
    "Task": {
      "properties": {
        "updated": {
          "description": "Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string"
        },
        "links": {
          "items": {
            "properties": {
              "link": {
                "type": "string",
                "description": "The URL."
              },
              "type": {
                "description": "Type of the link, e.g. \"email\".",
                "type": "string"
              },
              "description": {
                "description": "The description. In HTML speak: Everything between \u003ca\u003e and \u003c/a\u003e.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Collection of links. This collection is read-only."
        },
        "title": {
          "type": "string",
          "description": "Title of the task."
        },
        "notes": {
          "description": "Notes describing the task. Optional.",
          "type": "string"
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
        },
        "due": {
          "type": "string",
          "description": "Due date of the task (as a RFC 3339 timestamp). Optional. The due date only records date information; the time portion of the timestamp is discarded when setting the due date. It isn't possible to read or write the time that a task is due via the API."
        },
        "id": {
          "type": "string",
          "description": "Task identifier."
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. The default is False.",
          "type": "boolean"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the \"move\" method to move the task under a different parent or to the top level."
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#task\".",
          "type": "string"
        },
        "position": {
          "description": "String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the \"move\" method to move the task to another position.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Task"
    },
    "Tasks": {
      "id": "Tasks",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Collection of tasks."
        }
      }
    },
    "TaskLists": {
      "properties": {
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "Collection of task lists.",
          "items": {
            "$ref": "TaskList"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        }
      },
      "type": "object",
      "id": "TaskLists"
    },
    "TaskList": {
      "id": "TaskList",
      "properties": {
        "title": {
          "description": "Title of the task list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "type": "string",
          "description": "Task list identifier."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "selfLink": {
          "description": "URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskList\".",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "tasks:v1",
  "version": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "tasks": {
      "methods": {
        "move": {
          "response": {
            "$ref": "Task"
          },
          "description": "Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.move",
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            },
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional."
            },
            "previous": {
              "type": "string",
              "location": "query",
              "description": "New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "update": {
          "request": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Updates the specified task.",
          "id": "tasks.tasks.update",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PUT",
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "required": true,
              "location": "path",
              "description": "Task identifier.",
              "type": "string"
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          }
        },
        "clear": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "id": "tasks.tasks.clear",
          "path": "tasks/v1/lists/{tasklist}/clear",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST",
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list."
        },
        "delete": {
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Deletes the specified task from the task list.",
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "id": "tasks.tasks.delete",
          "httpMethod": "DELETE"
        },
        "get": {
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "type": "string",
              "location": "path",
              "description": "Task identifier.",
              "required": true
            }
          },
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.get",
          "description": "Returns the specified task.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "GET"
        },
        "patch": {
          "id": "tasks.tasks.patch",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "tasklist": {
              "type": "string",
              "required": true,
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Task"
          },
          "description": "Updates the specified task. This method supports patch semantics.",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PATCH"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "GET",
          "description": "Returns all tasks in the specified task list.",
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasks.list",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100).",
              "format": "int32"
            },
            "completedMin": {
              "location": "query",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string"
            },
            "tasklist": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Task list identifier."
            },
            "dueMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "completedMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "updatedMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            },
            "dueMin": {
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "showCompleted": {
              "type": "boolean",
              "description": "Flag indicating whether completed tasks are returned in the result. Optional. The default is True. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Tasks"
          }
        },
        "insert": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "request": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            },
            "previous": {
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "Task"
          },
          "description": "Creates a new task on the specified task list.",
          "id": "tasks.tasks.insert"
        }
      }
    },
    "tasklists": {
      "methods": {
        "update": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Updates the authenticated user's specified task list.",
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "request": {
            "$ref": "TaskList"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.update"
        },
        "insert": {
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/users/@me/lists",
          "id": "tasks.tasklists.insert",
          "description": "Creates a new task list and adds it to the authenticated user's task lists.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists"
        },
        "get": {
          "description": "Returns the authenticated user's specified task list.",
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.get",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "GET",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "TaskList"
          }
        },
        "delete": {
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the authenticated user's specified task list.",
          "id": "tasks.tasklists.delete",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "parameterOrder": [
            "tasklist"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "id": "tasks.tasklists.patch",
          "request": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "list": {
          "path": "tasks/v1/users/@me/lists",
          "parameterOrder": [],
          "description": "Returns all the authenticated user's task lists.",
          "response": {
            "$ref": "TaskLists"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100).",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying the result page to return. Optional.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "flatPath": "tasks/v1/users/@me/lists",
          "id": "tasks.tasklists.list"
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20230226",
  "ownerDomain": "google.com"
}
