{
  "protocol": "rest",
  "title": "Campaign Manager 360 API",
  "canonicalName": "Dfareporting",
  "version": "v3.5",
  "servicePath": "dfareporting/v3.5/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "revision": "20230210",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "schemas": {
    "InventoryItemsListResponse": {
      "description": "Inventory item List Response",
      "id": "InventoryItemsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "inventoryItems": {
          "items": {
            "$ref": "InventoryItem"
          },
          "description": "Inventory item collection",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#inventoryItemsListResponse\"."
        }
      }
    },
    "PricingSchedulePricingPeriod": {
      "description": "Pricing Period",
      "properties": {
        "units": {
          "type": "string",
          "description": "Units of this pricing period. Acceptable values are 0 to 10000000000, inclusive.",
          "format": "int64"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "rateOrCostNanos": {
          "type": "string",
          "description": "Rate or cost of this pricing period in nanos (i.e., multipled by 1000000000). Acceptable values are 0 to 1000000000000000000, inclusive.",
          "format": "int64"
        },
        "pricingComment": {
          "description": "Comments for this pricing period.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        }
      },
      "type": "object",
      "id": "PricingSchedulePricingPeriod"
    },
    "TargetableRemarketingListsListResponse": {
      "description": "Targetable remarketing list response",
      "type": "object",
      "id": "TargetableRemarketingListsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "targetableRemarketingLists": {
          "type": "array",
          "description": "Targetable remarketing list collection.",
          "items": {
            "$ref": "TargetableRemarketingList"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\"."
        }
      }
    },
    "PlacementStrategiesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\"."
        },
        "placementStrategies": {
          "description": "Placement strategy collection.",
          "type": "array",
          "items": {
            "$ref": "PlacementStrategy"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "PlacementStrategiesListResponse",
      "description": "Placement Strategy List Response",
      "type": "object"
    },
    "ConnectionTypesListResponse": {
      "type": "object",
      "properties": {
        "connectionTypes": {
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          },
          "description": "Collection of connection types such as broadband and mobile."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        }
      },
      "description": "Connection Type List Response",
      "id": "ConnectionTypesListResponse"
    },
    "DynamicTargetingKeysListResponse": {
      "description": "Dynamic Targeting Key List Response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\"."
        },
        "dynamicTargetingKeys": {
          "type": "array",
          "description": "Dynamic targeting key collection.",
          "items": {
            "$ref": "DynamicTargetingKey"
          }
        }
      },
      "id": "DynamicTargetingKeysListResponse"
    },
    "KeyValueTargetingExpression": {
      "description": "Key Value Targeting Expression.",
      "id": "KeyValueTargetingExpression",
      "properties": {
        "expression": {
          "description": "Keyword expression being targeted by the ad.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserRolePermissionGroup": {
      "type": "object",
      "id": "UserRolePermissionGroup",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this user role permission.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this user role permission group."
        }
      },
      "description": "Represents a grouping of related user role permissions."
    },
    "Campaign": {
      "description": "Contains properties of a Campaign Manager campaign.",
      "properties": {
        "nielsenOcrEnabled": {
          "type": "boolean",
          "description": "Whether Nielsen reports are enabled for this campaign."
        },
        "adBlockingConfiguration": {
          "$ref": "AdBlockingConfiguration",
          "description": "Ad blocking settings for this campaign."
        },
        "additionalCreativeOptimizationConfigurations": {
          "type": "array",
          "description": "Additional creative optimization configurations for the campaign.",
          "items": {
            "$ref": "CreativeOptimizationConfiguration"
          }
        },
        "defaultLandingPageId": {
          "type": "string",
          "description": "The default landing page ID for this campaign.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "audienceSegmentGroups": {
          "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups.",
          "items": {
            "$ref": "AudienceSegmentGroup"
          },
          "type": "array"
        },
        "advertiserId": {
          "description": "Advertiser ID of this campaign. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "advertiserGroupId": {
          "format": "int64",
          "description": "Advertiser group ID of the associated advertiser.",
          "type": "string"
        },
        "name": {
          "description": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser.",
          "type": "string"
        },
        "createInfo": {
          "description": "Information about the creation of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "defaultClickThroughEventTagProperties": {
          "description": "Click-through event tag ID override properties for this campaign.",
          "$ref": "DefaultClickThroughEventTagProperties"
        },
        "archived": {
          "type": "boolean",
          "description": "Whether this campaign has been archived."
        },
        "accountId": {
          "description": "Account ID of this campaign. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "creativeOptimizationConfiguration": {
          "description": "Creative optimization configuration for the campaign.",
          "$ref": "CreativeOptimizationConfiguration"
        },
        "measurementPartnerLink": {
          "$ref": "MeasurementPartnerCampaignLink",
          "description": "Measurement partner campaign link for tag wrapping."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "comment": {
          "description": "Arbitrary comments about this campaign. Must be less than 256 characters long.",
          "type": "string"
        },
        "eventTagOverrides": {
          "items": {
            "$ref": "EventTagOverride"
          },
          "description": "Overrides that can be used to activate or deactivate advertiser event tags.",
          "type": "array"
        },
        "externalId": {
          "description": "External ID for this campaign.",
          "type": "string"
        },
        "traffickerEmails": {
          "type": "array",
          "description": "Campaign trafficker contact emails.",
          "items": {
            "type": "string"
          }
        },
        "billingInvoiceCode": {
          "description": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\"."
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "clickThroughUrlSuffixProperties": {
          "$ref": "ClickThroughUrlSuffixProperties",
          "description": "Click-through URL suffix override properties for this campaign."
        },
        "creativeGroupIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of creative group IDs that are assigned to the campaign."
        },
        "id": {
          "type": "string",
          "description": "ID of this campaign. This is a read-only auto-generated field.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Campaign"
    },
    "SubaccountsListResponse": {
      "description": "Subaccount List Response",
      "id": "SubaccountsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "subaccounts": {
          "description": "Subaccount collection.",
          "type": "array",
          "items": {
            "$ref": "Subaccount"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        }
      }
    },
    "LastModifiedInfo": {
      "description": "Modification timestamp.",
      "id": "LastModifiedInfo",
      "type": "object",
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FsCommand": {
      "properties": {
        "windowWidth": {
          "description": "Width of the window.",
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32",
          "type": "integer"
        },
        "windowHeight": {
          "format": "int32",
          "description": "Height of the window.",
          "type": "integer"
        },
        "positionOption": {
          "description": "Position in the browser where the window will open.",
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "top": {
          "type": "integer",
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "FsCommand.",
      "id": "FsCommand"
    },
    "RemarketingListShare": {
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers.",
      "id": "RemarketingListShare",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\"."
        },
        "sharedAccountIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Accounts that the remarketing list is shared with."
        },
        "sharedAdvertiserIds": {
          "type": "array",
          "description": "Advertisers that the remarketing list is shared with.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "remarketingListId": {
          "type": "string",
          "format": "int64",
          "description": "Remarketing list ID. This is a read-only, auto-generated field."
        }
      },
      "type": "object"
    },
    "RichMediaExitOverride": {
      "type": "object",
      "description": "Rich Media Exit Override.",
      "properties": {
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true."
        },
        "exitId": {
          "description": "ID for the override to refer to a specific exit in the creative.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RichMediaExitOverride"
    },
    "PlacementGroupsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\"."
        },
        "placementGroups": {
          "type": "array",
          "description": "Placement group collection.",
          "items": {
            "$ref": "PlacementGroup"
          }
        }
      },
      "description": "Placement Group List Response",
      "id": "PlacementGroupsListResponse",
      "type": "object"
    },
    "AdvertiserGroupsListResponse": {
      "id": "AdvertiserGroupsListResponse",
      "description": "Advertiser Group List Response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\".",
          "type": "string"
        },
        "advertiserGroups": {
          "type": "array",
          "description": "Advertiser group collection.",
          "items": {
            "$ref": "AdvertiserGroup"
          }
        }
      },
      "type": "object"
    },
    "DfpSettings": {
      "description": "Google Ad Manager Settings",
      "id": "DfpSettings",
      "properties": {
        "programmaticPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts programmatic placements."
        },
        "dfpNetworkName": {
          "type": "string",
          "description": "Ad Manager network name for this directory site."
        },
        "publisherPortalOnly": {
          "type": "boolean",
          "description": "Whether this directory site is available only via Publisher Portal."
        },
        "dfpNetworkCode": {
          "type": "string",
          "description": "Ad Manager network code for this directory site."
        },
        "pubPaidPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts publisher-paid tags."
        }
      },
      "type": "object"
    },
    "FileList": {
      "type": "object",
      "description": "List of files for a report.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The files returned in this response."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\"."
        }
      },
      "id": "FileList"
    },
    "AdSlot": {
      "properties": {
        "linkedPlacementId": {
          "description": "ID of the placement from an external platform that is linked to this ad slot.",
          "format": "int64",
          "type": "string"
        },
        "compatibility": {
          "description": "Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "name": {
          "description": "Name of this ad slot.",
          "type": "string"
        },
        "height": {
          "type": "string",
          "format": "int64",
          "description": "Height of this ad slot."
        },
        "width": {
          "format": "int64",
          "type": "string",
          "description": "Width of this ad slot."
        },
        "paymentSourceType": {
          "enum": [
            "PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID",
            "PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Payment source type of this ad slot."
        },
        "comment": {
          "description": "Comment for this ad slot.",
          "type": "string"
        },
        "primary": {
          "description": "Primary ad slot of a roadblock inventory item.",
          "type": "boolean"
        }
      },
      "description": "Ad Slot",
      "type": "object",
      "id": "AdSlot"
    },
    "CountriesListResponse": {
      "properties": {
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "type": "array",
          "description": "Country collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\"."
        }
      },
      "type": "object",
      "description": "Country List Response",
      "id": "CountriesListResponse"
    },
    "PathReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH\".",
      "properties": {
        "channelGroupings": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"channelGroupings\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "pathFilters": {
          "description": "Dimensions which are compatible to be selected in the \"pathFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathReportCompatibleFields.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PathReportCompatibleFields"
    },
    "UserRolePermissionsListResponse": {
      "id": "UserRolePermissionsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\".",
          "type": "string"
        },
        "userRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "User role permission collection."
        }
      },
      "description": "User Role Permission List Response"
    },
    "OperatingSystemVersionsListResponse": {
      "type": "object",
      "id": "OperatingSystemVersionsListResponse",
      "description": "Operating System Version List Response",
      "properties": {
        "operatingSystemVersions": {
          "description": "Operating system version collection.",
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        }
      }
    },
    "DirectorySite": {
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this directory site."
        },
        "interstitialTagFormats": {
          "type": "array",
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" ",
          "items": {
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "inpageTagFormats": {
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" ",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "settings": {
          "$ref": "DirectorySiteSettings",
          "description": "Directory site settings."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "url": {
          "description": "URL of this directory site.",
          "type": "string"
        }
      },
      "id": "DirectorySite"
    },
    "LookbackConfiguration": {
      "description": "Lookback configuration settings.",
      "properties": {
        "postImpressionActivitiesDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        },
        "clickDuration": {
          "type": "integer",
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive."
        }
      },
      "type": "object",
      "id": "LookbackConfiguration"
    },
    "Project": {
      "id": "Project",
      "type": "object",
      "description": "Contains properties of a Planning project.",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this project.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this project."
        },
        "clientName": {
          "description": "Name of the project client.",
          "type": "string"
        },
        "id": {
          "description": "ID of this project. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "clientBillingCode": {
          "type": "string",
          "description": "Client billing code of this project."
        },
        "targetClicks": {
          "format": "int64",
          "description": "Number of clicks that the advertiser is targeting.",
          "type": "string"
        },
        "targetCpmNanos": {
          "type": "string",
          "format": "int64",
          "description": "CPM that the advertiser is targeting."
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this project."
        },
        "targetCpcNanos": {
          "type": "string",
          "description": "CPC that the advertiser is targeting.",
          "format": "int64"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#project\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this project.",
          "format": "int64"
        },
        "budget": {
          "description": "Budget of this project in the currency specified by the current account. The value stored in this field represents only the non-fractional amount. For example, for USD, the smallest value that can be represented by this field is 1 US dollar.",
          "type": "string",
          "format": "int64"
        },
        "targetConversions": {
          "type": "string",
          "description": "Number of conversions that the advertiser is targeting.",
          "format": "int64"
        },
        "overview": {
          "type": "string",
          "description": "Overview of this project."
        },
        "targetImpressions": {
          "format": "int64",
          "type": "string",
          "description": "Number of impressions that the advertiser is targeting."
        },
        "audienceAgeGroup": {
          "description": "Audience age group of this project.",
          "type": "string",
          "enum": [
            "PLANNING_AUDIENCE_AGE_18_24",
            "PLANNING_AUDIENCE_AGE_25_34",
            "PLANNING_AUDIENCE_AGE_35_44",
            "PLANNING_AUDIENCE_AGE_45_54",
            "PLANNING_AUDIENCE_AGE_55_64",
            "PLANNING_AUDIENCE_AGE_65_OR_MORE",
            "PLANNING_AUDIENCE_AGE_UNKNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "audienceGender": {
          "type": "string",
          "description": "Audience gender of this project.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLANNING_AUDIENCE_GENDER_MALE",
            "PLANNING_AUDIENCE_GENDER_FEMALE"
          ]
        },
        "targetCpaNanos": {
          "description": "CPA that the advertiser is targeting.",
          "format": "int64",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this project."
        },
        "targetCpmActiveViewNanos": {
          "format": "int64",
          "description": "vCPM from Active View that the advertiser is targeting.",
          "type": "string"
        }
      }
    },
    "CreativeGroupsListResponse": {
      "type": "object",
      "description": "Creative Group List Response",
      "id": "CreativeGroupsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\"."
        },
        "creativeGroups": {
          "items": {
            "$ref": "CreativeGroup"
          },
          "description": "Creative group collection.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      }
    },
    "DateRange": {
      "description": "Represents a date range.",
      "type": "object",
      "id": "DateRange",
      "properties": {
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dateRange."
        },
        "relativeDateRange": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The date range relative to the date of when the report is run.",
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "type": "string"
        }
      }
    },
    "MeasurementPartnerWrappingData": {
      "id": "MeasurementPartnerWrappingData",
      "type": "object",
      "properties": {
        "measurementPartner": {
          "type": "string",
          "description": "Measurement partner used for wrapping the placement.",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "wrappedTag": {
          "type": "string",
          "description": "Tag provided by the measurement partner during wrapping."
        },
        "tagWrappingMode": {
          "enum": [
            "NONE",
            "BLOCKING",
            "MONITORING",
            "MONITORING_ONLY",
            "VIDEO_PIXEL_MONITORING",
            "TRACKING",
            "VPAID_MONITORING",
            "VPAID_BLOCKING",
            "NON_VPAID_MONITORING",
            "VPAID_ONLY_MONITORING",
            "VPAID_ONLY_BLOCKING",
            "VPAID_ONLY_FILTERING",
            "VPAID_FILTERING",
            "NON_VPAID_FILTERING"
          ],
          "type": "string",
          "description": "Measurement mode for the wrapped placement.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "linkStatus": {
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Placement wrapping status.",
          "type": "string"
        }
      },
      "description": "Placement tag wrapping"
    },
    "FloodlightActivitiesGenerateTagResponse": {
      "type": "object",
      "description": "Floodlight Activity GenerateTag Response",
      "properties": {
        "globalSiteTagGlobalSnippet": {
          "type": "string",
          "description": "The global snippet section of a global site tag. The global site tag sets new cookies on your domain, which will store a unique identifier for a user or the ad click that brought the user to your site. Learn more."
        },
        "floodlightActivityTag": {
          "type": "string",
          "description": "Generated tag for this Floodlight activity. For global site tags, this is the event snippet."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesGenerateTagResponse\".",
          "type": "string"
        }
      },
      "id": "FloodlightActivitiesGenerateTagResponse"
    },
    "Country": {
      "description": "Contains information about a country that can be targeted by ads.",
      "type": "object",
      "properties": {
        "sslEnabled": {
          "type": "boolean",
          "description": "Whether ad serving supports secure servers in this country."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\"."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code."
        },
        "dartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of this country. This is the ID used for targeting and generating reports."
        },
        "name": {
          "description": "Name of this country.",
          "type": "string"
        }
      },
      "id": "Country"
    },
    "ListPopulationClause": {
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "id": "ListPopulationClause",
      "properties": {
        "terms": {
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "items": {
            "$ref": "ListPopulationTerm"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EventTag": {
      "id": "EventTag",
      "properties": {
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "urlEscapeLevels": {
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "format": "int32",
          "type": "integer"
        },
        "campaignId": {
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ]
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this event tag. This is a read-only field that can be left blank."
        },
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field."
        },
        "url": {
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long."
        },
        "subaccountId": {
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "enabledByDefault": {
          "type": "boolean",
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads."
        },
        "siteIds": {
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "siteFilterType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ]
        },
        "status": {
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ENABLED",
            "DISABLED"
          ]
        },
        "advertiserId": {
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this event tag. This is a read-only, auto-generated field."
        }
      },
      "description": "Contains properties of an event tag.",
      "type": "object"
    },
    "MobileApp": {
      "type": "object",
      "properties": {
        "directory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Mobile app directory.",
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ]
        },
        "publisherName": {
          "description": "Publisher name.",
          "type": "string"
        },
        "id": {
          "description": "ID of this mobile app.",
          "type": "string"
        },
        "title": {
          "description": "Title of this mobile app.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        }
      },
      "id": "MobileApp",
      "description": "Contains information about a mobile app. Used as a landing page deep link."
    },
    "PlacementsListResponse": {
      "description": "Placement List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "placements": {
          "description": "Placement collection.",
          "type": "array",
          "items": {
            "$ref": "Placement"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlacementsListResponse"
    },
    "AdsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "ads": {
          "type": "array",
          "items": {
            "$ref": "Ad"
          },
          "description": "Ad collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\".",
          "type": "string"
        }
      },
      "description": "Ad List Response",
      "id": "AdsListResponse",
      "type": "object"
    },
    "Ad": {
      "id": "Ad",
      "description": "Contains properties of a Campaign Manager ad.",
      "properties": {
        "createInfo": {
          "description": "Information about the creation of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\"."
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "compatibility": {
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "comments": {
          "type": "string",
          "description": "Comments for this ad."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this ad. This is a required field on insertion."
        },
        "targetingTemplateId": {
          "type": "string",
          "format": "int64",
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "creativeRotation": {
          "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment .",
          "$ref": "CreativeRotation"
        },
        "placementAssignments": {
          "items": {
            "$ref": "PlacementAssignment"
          },
          "description": "Placement assignments for this ad.",
          "type": "array"
        },
        "dayPartTargeting": {
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DayPartTargeting"
        },
        "id": {
          "format": "int64",
          "description": "ID of this ad. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Default click-through event tag properties for this ad."
        },
        "archived": {
          "description": "Whether this ad is archived. When true, active must be false.",
          "type": "boolean"
        },
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "dynamicClickTracker": {
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "AD_SERVING_STANDARD_AD",
            "AD_SERVING_DEFAULT_AD",
            "AD_SERVING_CLICK_TRACKER",
            "AD_SERVING_TRACKING",
            "AD_SERVING_BRAND_SAFE_AD"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of ad. This is a required field on insertion. Note that default ads ( AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource).",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "creativeGroupAssignments": {
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "type": "array",
          "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments."
        },
        "name": {
          "description": "Name of this ad. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "remarketingListExpression": {
          "$ref": "ListTargetingExpression",
          "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this ad. This is a required field on insertion.",
          "type": "string"
        },
        "clickThroughUrlSuffixProperties": {
          "$ref": "ClickThroughUrlSuffixProperties",
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative."
        },
        "audienceSegmentId": {
          "type": "string",
          "format": "int64",
          "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "eventTagOverrides": {
          "type": "array",
          "description": "Event tag overrides for this ad.",
          "items": {
            "$ref": "EventTagOverride"
          }
        },
        "deliverySchedule": {
          "$ref": "DeliverySchedule",
          "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD."
        },
        "clickThroughUrl": {
          "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER.",
          "$ref": "ClickThroughUrl"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this ad is active. When true, archived must be false."
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "sslRequired": {
          "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this ad. This is a read-only field that can be left blank."
        },
        "size": {
          "$ref": "Size",
          "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD."
        },
        "geoTargeting": {
          "$ref": "GeoTargeting",
          "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "subaccountId": {
          "description": "Subaccount ID of this ad. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CampaignCreativeAssociationsListResponse": {
      "type": "object",
      "description": "Campaign Creative Association List Response",
      "id": "CampaignCreativeAssociationsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
          "type": "string"
        },
        "campaignCreativeAssociations": {
          "description": "Campaign creative association collection",
          "items": {
            "$ref": "CampaignCreativeAssociation"
          },
          "type": "array"
        }
      }
    },
    "FloodlightActivitiesListResponse": {
      "description": "Floodlight Activity List Response",
      "type": "object",
      "id": "FloodlightActivitiesListResponse",
      "properties": {
        "floodlightActivities": {
          "items": {
            "$ref": "FloodlightActivity"
          },
          "type": "array",
          "description": "Floodlight activity collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "UserProfile": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "subAccountId": {
          "format": "int64",
          "type": "string",
          "description": "The sub account ID this profile belongs to if applicable."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The account ID to which this profile belongs."
        },
        "accountName": {
          "type": "string",
          "description": "The account name this profile belongs to."
        },
        "userName": {
          "type": "string",
          "description": "The user name."
        },
        "profileId": {
          "format": "int64",
          "description": "The unique ID of the user profile.",
          "type": "string"
        },
        "subAccountName": {
          "type": "string",
          "description": "The sub account name this profile belongs to if applicable."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfile\"."
        }
      },
      "id": "UserProfile",
      "description": "A UserProfile resource lets you list all DFA user profiles that are associated with a Google user account. The profile_id needs to be specified in other API requests. "
    },
    "CrossDimensionReachReportCompatibleFields": {
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "properties": {
        "overlapMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report."
        },
        "breakdown": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        }
      },
      "id": "CrossDimensionReachReportCompatibleFields"
    },
    "DisjunctiveMatchStatement": {
      "type": "object",
      "id": "DisjunctiveMatchStatement",
      "description": "Represents a Disjunctive Match Statement resource, which is a conjunction (and) of disjunctive (or) boolean statements.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#disjunctiveMatchStatement."
        },
        "eventFilters": {
          "type": "array",
          "items": {
            "$ref": "EventFilter"
          },
          "description": "The event filters contained within this disjunctive match statement."
        }
      }
    },
    "FloodlightActivityDynamicTag": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this tag."
        },
        "id": {
          "type": "string",
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "tag": {
          "type": "string",
          "description": "Tag code."
        }
      },
      "id": "FloodlightActivityDynamicTag",
      "description": "Dynamic Tag",
      "type": "object"
    },
    "Dimension": {
      "properties": {
        "name": {
          "description": "The dimension name, e.g. dfa:advertiser",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimension."
        }
      },
      "type": "object",
      "id": "Dimension",
      "description": "Represents a dimension."
    },
    "AccountUserProfilesListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "accountUserProfiles": {
          "type": "array",
          "items": {
            "$ref": "AccountUserProfile"
          },
          "description": "Account user profile collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\"."
        }
      },
      "id": "AccountUserProfilesListResponse",
      "description": "Account User Profile List Response"
    },
    "LandingPage": {
      "type": "object",
      "id": "LandingPage",
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "properties": {
        "deepLinks": {
          "description": "Links that will direct the user to a mobile app, if installed.",
          "type": "array",
          "items": {
            "$ref": "DeepLink"
          }
        },
        "id": {
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\".",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this landing page. This is a required field.",
          "format": "int64"
        },
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long."
        },
        "archived": {
          "description": "Whether this landing page has been archived.",
          "type": "boolean"
        }
      }
    },
    "Advertiser": {
      "id": "Advertiser",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "defaultClickThroughEventTagId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns."
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. "
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "suspended": {
          "description": "Suspension status of this advertiser.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "status": {
          "description": "Status of this advertiser.",
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "advertiserGroupId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\"."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this advertiser. This is a read-only, auto-generated field."
        },
        "defaultEmail": {
          "type": "string",
          "description": "Default email address used in sender field for tag emails."
        },
        "originalFloodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement."
        }
      },
      "description": "Contains properties of a Campaign Manager advertiser."
    },
    "Creative": {
      "properties": {
        "clickTags": {
          "type": "array",
          "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "$ref": "ClickTag"
          }
        },
        "creativeFieldAssignments": {
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "items": {
            "$ref": "CreativeFieldAssignment"
          },
          "type": "array"
        },
        "totalFileSize": {
          "type": "string",
          "format": "int64",
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "obaIcon": {
          "$ref": "ObaIcon",
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "archived": {
          "type": "boolean",
          "description": "Whether the creative is archived. Applicable to all creative types."
        },
        "additionalSizes": {
          "items": {
            "$ref": "Size"
          },
          "type": "array",
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE."
        },
        "adTagKeys": {
          "type": "array",
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "items": {
            "type": "string"
          }
        },
        "skippable": {
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name of the creative. This is a required field and must be less than 256 characters long. Applicable to all creative types."
        },
        "autoAdvanceImages": {
          "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY.",
          "type": "boolean"
        },
        "adParameters": {
          "type": "string",
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID."
        },
        "renderingId": {
          "type": "string",
          "format": "int64",
          "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types."
        },
        "backupImageTargetWindow": {
          "$ref": "TargetWindow",
          "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "allowScriptAccess": {
          "type": "boolean",
          "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE."
        },
        "dynamicAssetSelection": {
          "description": "Set this to true to enable the use of rules to target individual assets in this creative. When set to true creativeAssetSelection must be set. This also controls asset-level companions. When this is true, companion creatives should be assigned to creative assets. Learn more. Applicable to INSTREAM_VIDEO creatives.",
          "type": "boolean"
        },
        "authoringSource": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\"."
        },
        "latestTraffickedCreativeId": {
          "format": "int64",
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "backupImageClickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE."
        },
        "renderingIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "creativeAssetSelection": {
          "description": "Required if dynamicAssetSelection is true.",
          "$ref": "CreativeAssetSelection"
        },
        "thirdPartyUrls": {
          "description": "Third-party URLs for tracking in-stream creative events. Applicable to the following creative types: all INSTREAM_VIDEO, all INSTREAM_AUDIO, and all VPAID.",
          "type": "array",
          "items": {
            "$ref": "ThirdPartyTrackingUrl"
          }
        },
        "type": {
          "description": "Type of this creative. This is a required field. Applicable to all creative types. *Note:* FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMAGE",
            "DISPLAY_REDIRECT",
            "CUSTOM_DISPLAY",
            "INTERNAL_REDIRECT",
            "CUSTOM_DISPLAY_INTERSTITIAL",
            "INTERSTITIAL_INTERNAL_REDIRECT",
            "TRACKING_TEXT",
            "RICH_MEDIA_DISPLAY_BANNER",
            "RICH_MEDIA_INPAGE_FLOATING",
            "RICH_MEDIA_IM_EXPAND",
            "RICH_MEDIA_DISPLAY_EXPANDING",
            "RICH_MEDIA_DISPLAY_INTERSTITIAL",
            "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
            "RICH_MEDIA_MOBILE_IN_APP",
            "FLASH_INPAGE",
            "INSTREAM_VIDEO",
            "VPAID_LINEAR_VIDEO",
            "VPAID_NON_LINEAR_VIDEO",
            "INSTREAM_VIDEO_REDIRECT",
            "RICH_MEDIA_PEEL_DOWN",
            "HTML5_BANNER",
            "DISPLAY",
            "DISPLAY_IMAGE_GALLERY",
            "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
            "INSTREAM_AUDIO"
          ]
        },
        "universalAdId": {
          "$ref": "UniversalAdId",
          "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO and INSTREAM_VIDEO and VPAID."
        },
        "backupImageFeatures": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "type": "string"
          },
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array"
        },
        "fsCommand": {
          "$ref": "FsCommand",
          "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE."
        },
        "creativeAssets": {
          "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
          "items": {
            "$ref": "CreativeAsset"
          },
          "type": "array"
        },
        "studioTraffickedCreativeId": {
          "format": "int64",
          "type": "string",
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "authoringTool": {
          "type": "string",
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "NINJA",
            "SWIFFY"
          ]
        },
        "studioAdvertiserId": {
          "type": "string",
          "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64"
        },
        "backupImageReportingLabel": {
          "type": "string",
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "type": "string"
        },
        "commercialId": {
          "type": "string",
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives."
        },
        "htmlCode": {
          "type": "string",
          "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA."
        },
        "progressOffset": {
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "VideoOffset"
        },
        "id": {
          "format": "int64",
          "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.",
          "type": "string"
        },
        "counterCustomEvents": {
          "type": "array",
          "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "active": {
          "description": "Whether the creative is active. Applicable to all creative types.",
          "type": "boolean"
        },
        "size": {
          "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA.",
          "$ref": "Size"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this creative. This is a required field. Applicable to all creative types."
        },
        "convertFlashToHtml5": {
          "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "artworkType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "studioCreativeId": {
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "overrideCss": {
          "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "sslOverride": {
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.",
          "type": "boolean"
        },
        "companionCreatives": {
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "redirectUrl": {
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT",
          "type": "string"
        },
        "requiredFlashVersion": {
          "type": "integer",
          "format": "int32",
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "requiredFlashPluginVersion": {
          "type": "string",
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "customKeyValues": {
          "items": {
            "type": "string"
          },
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array"
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "type": "string",
          "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA."
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "type": "string",
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types."
        },
        "subaccountId": {
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "format": "int64",
          "type": "string"
        },
        "sslCompliant": {
          "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types.",
          "type": "boolean"
        },
        "mediaDescription": {
          "type": "string",
          "description": "Description of the audio or video ad. Applicable to the following creative types: all INSTREAM_VIDEO, INSTREAM_AUDIO, and all VPAID."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE."
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Creative last modification information. This is a read-only field. Applicable to all creative types."
        },
        "timerCustomEvents": {
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "mediaDuration": {
          "description": "Creative audio or video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, INSTREAM_AUDIO, all RICH_MEDIA, and all VPAID.",
          "format": "float",
          "type": "number"
        },
        "compatibility": {
          "items": {
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" ",
          "type": "array"
        },
        "htmlCodeLocked": {
          "description": "Whether HTML code is generated by Campaign Manager or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER.",
          "type": "boolean"
        },
        "exitCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        }
      },
      "id": "Creative",
      "description": "Contains properties of a Creative.",
      "type": "object"
    },
    "ClickThroughUrl": {
      "id": "ClickThroughUrl",
      "description": "Click-through URL",
      "type": "object",
      "properties": {
        "landingPageId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false."
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        },
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "type": "string",
[...]
