{
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "version": "v1",
  "protocol": "rest",
  "revision": "20230220",
  "discoveryVersion": "v1",
  "rootUrl": "https://dataplex.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "id": "dataplex:v1",
  "schemas": {
    "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime": {
      "type": "object",
      "description": "Container Image Runtime Configuration used with Batch execution.",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime",
      "properties": {
        "image": {
          "description": "Optional. Container image to use.",
          "type": "string"
        },
        "pythonPackages": {
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Optional. Override to common configuration of open source components installed on the Dataproc cluster. The properties to set on daemon config files. Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. For more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "javaJars": {
          "description": "Optional. A list of Java JARS to add to the classpath. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1SessionEventQueryDetail": {
      "description": "Execution details of the query.",
      "id": "GoogleCloudDataplexV1SessionEventQueryDetail",
      "properties": {
        "resultSizeBytes": {
          "type": "string",
          "description": "The size of results the query produced.",
          "format": "int64"
        },
        "queryText": {
          "description": "The query text executed.",
          "type": "string"
        },
        "dataProcessedBytes": {
          "type": "string",
          "description": "The data processed by the query.",
          "format": "int64"
        },
        "queryId": {
          "description": "The unique Query id identifying the query.",
          "type": "string"
        },
        "engine": {
          "enumDescriptions": [
            "An unspecified Engine type.",
            "Spark-sql engine is specified in Query.",
            "BigQuery engine is specified in Query."
          ],
          "type": "string",
          "description": "Query Execution engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "SPARK_SQL",
            "BIGQUERY"
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time taken for execution of the query."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "type": "object",
      "properties": {
        "disableTypeInference": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean)."
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        }
      },
      "description": "Describe JSON data format.",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions"
    },
    "GoogleCloudDataplexV1DataAttributeBinding": {
      "description": "DataAttributeBinding represents binding of attributes to resources. Eg: Bind 'CustomerInfo' entity with 'PII' attribute.",
      "id": "GoogleCloudDataplexV1DataAttributeBinding",
      "properties": {
        "paths": {
          "description": "Optional. The list of paths for items within the associated resource (eg. columns within a table) along with attribute bindings.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBindingPath"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the Data Attribute Binding, of the form: projects/{project_number}/locations/{location}/dataAttributeBindings/{data_attribute_binding_id}",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "resource": {
          "description": "Optional. Immutable. The resource name of the resource that is associated to attributes. Presently, only entity resource is supported in the form: projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/entities/{entity_id} Must belong in the same project and region as the attribute binding, and there can only exist one active binding for a resource.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the DataAttributeBinding. This ID will be different if the DataAttributeBinding is deleted and re-created with the same name."
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of attributes to be associated with the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Etags must be used when calling the DeleteDataAttributeBinding and the UpdateDataAttributeBinding method."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels for the DataAttributeBinding."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DataAttributeBinding."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the DataAttributeBinding was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the DataAttributeBinding was created.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "description": "Describes JSON data format.",
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}"
        }
      },
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "type": "object"
    },
    "GoogleCloudDataplexV1RunTaskResponse": {
      "id": "GoogleCloudDataplexV1RunTaskResponse",
      "type": "object",
      "properties": {
        "job": {
          "description": "Jobs created by RunTask API.",
          "$ref": "GoogleCloudDataplexV1Job"
        }
      }
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "id": "GoogleCloudDataplexV1ActionMissingData",
      "description": "Action details for absence of data detected by discovery.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatus": {
      "type": "object",
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatus",
      "description": "Provides compatibility information for various metadata stores.",
      "properties": {
        "hiveMetastore": {
          "readOnly": true,
          "description": "Output only. Whether this entity is compatible with Hive Metastore.",
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        },
        "bigquery": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
          "description": "Output only. Whether this entity is compatible with BigQuery."
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataAttributeBindingPath": {
      "description": "Represents a subresource of a given resource, and associated bindings with it.",
      "id": "GoogleCloudDataplexV1DataAttributeBindingPath",
      "type": "object",
      "properties": {
        "attributes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of attributes to be associated with the path of the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}",
          "type": "array"
        },
        "name": {
          "description": "Required. The name identifier of the path. Nested columns should be of the form: 'country.state.city'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation",
      "properties": {},
      "description": "Evaluates whether each column value is null.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Content": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/content/{content_id}"
        },
        "description": {
          "description": "Optional. Description of the content.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the content. This ID will be different if the content is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "dataText": {
          "description": "Required. Content data in string format.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User defined labels for the content.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "path": {
          "description": "Required. The path for the Content file, represented as directory structure. Unique within a lake. Limited to alphanumerics, hyphens, underscores, dots and slashes.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the content was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sqlScript": {
          "description": "Sql Script related configurations.",
          "$ref": "GoogleCloudDataplexV1ContentSqlScript"
        },
        "notebook": {
          "$ref": "GoogleCloudDataplexV1ContentNotebook",
          "description": "Notebook related configurations."
        },
        "createTime": {
          "description": "Output only. Content creation time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDataplexV1Content",
      "description": "Content represents a user-visible notebook or a sql script"
    },
    "GoogleCloudDataplexV1ListJobsResponse": {
      "properties": {
        "jobs": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Job"
          },
          "type": "array",
          "description": "Jobs under a given task."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "List jobs response.",
      "id": "GoogleCloudDataplexV1ListJobsResponse"
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "properties": {
        "headerRows": {
          "format": "int32",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0.",
          "type": "integer"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified.",
          "type": "string"
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter used to separate values. Defaults to ','."
        },
        "quote": {
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified.",
          "type": "string"
        }
      },
      "description": "Describes CSV and similar semi-structured data formats.",
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListEntitiesResponse": {
      "id": "GoogleCloudDataplexV1ListEntitiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Entity"
          },
          "description": "Entities in the specified parent zone.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "List metadata entities response."
    },
    "GoogleCloudDataplexV1DataProfileResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResult",
      "properties": {
        "profile": {
          "description": "The profile information per field.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfile"
        },
        "rowCount": {
          "description": "The count of rows scanned.",
          "format": "int64",
          "type": "string"
        },
        "scannedData": {
          "description": "The data scanned for this result.",
          "$ref": "GoogleCloudDataplexV1ScannedData"
        }
      },
      "description": "DataProfileResult defines the output of DataProfileScan. Each field of the table will have field type specific profile result."
    },
    "GoogleCloudDataplexV1ScannedData": {
      "description": "The data scanned during processing (e.g. in incremental DataScan)",
      "properties": {
        "incrementalField": {
          "description": "The range denoted by values of an incremental field",
          "$ref": "GoogleCloudDataplexV1ScannedDataIncrementalField"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ScannedData"
    },
    "GoogleCloudDataplexV1ListDataScanJobsResponse": {
      "description": "List DataScanJobs response.",
      "id": "GoogleCloudDataplexV1ListDataScanJobsResponse",
      "type": "object",
      "properties": {
        "dataScanJobs": {
          "description": "DataScanJobs (BASIC view only) under a given dataScan.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScanJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "The name of the table containing invalid data."
        },
        "existingSchema": {
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types.",
          "type": "string"
        },
        "sampledDataLocations": {
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference.",
          "type": "array"
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "schemaChange": {
          "type": "string",
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ]
        }
      },
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "description": "Action details for incompatible schemas detected by discovery."
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatus": {
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatus",
      "description": "Status of discovery for an asset.",
      "properties": {
        "state": {
          "description": "The current status of the discovery feature.",
          "enumDescriptions": [
            "State is unspecified.",
            "Discovery for the asset is scheduled.",
            "Discovery for the asset is running.",
            "Discovery for the asset is currently paused (e.g. due to a lack of available resources). It will be automatically resumed.",
            "Discovery for the asset is disabled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "IN_PROGRESS",
            "PAUSED",
            "DISABLED"
          ]
        },
        "lastRunTime": {
          "format": "google-datetime",
          "description": "The start time of the last discovery run.",
          "type": "string"
        },
        "lastRunDuration": {
          "description": "The duration of the last discovery run.",
          "format": "google-duration",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Additional information about the current state."
        },
        "stats": {
          "description": "Data Stats of the asset reported by discovery.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last update time of the status."
        }
      }
    },
    "GoogleCloudDataplexV1DataQualitySpec": {
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRule"
          },
          "description": "The list of rules to evaluate against a data source. At least one rule is required."
        }
      },
      "description": "DataQualityScan related setting.",
      "id": "GoogleCloudDataplexV1DataQualitySpec"
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "type": "object",
      "description": "Describe CSV and similar semi-structured data formats.",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter being used to separate values. This defaults to ','."
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
    },
    "GoogleCloudDataplexV1EnvironmentSessionStatus": {
      "id": "GoogleCloudDataplexV1EnvironmentSessionStatus",
      "description": "Status of sessions created for this environment.",
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Output only. Queries over sessions to mark whether the environment is currently active or not",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "properties": {
        "lakeId": {
          "description": "The id of the associated lake.",
          "type": "string"
        },
        "assetId": {
          "description": "The id of the associated asset.",
          "type": "string"
        },
        "dataLocation": {
          "type": "string",
          "description": "The data location associated with the event."
        },
        "zoneId": {
          "description": "The id of the associated zone.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "partition": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
          "description": "Details about the partition associated with the event."
        },
        "type": {
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED"
          ],
          "type": "string",
          "description": "The type of the event being logged."
        },
        "entity": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
          "description": "Details about the entity associated with the event."
        },
        "action": {
          "description": "Details about the action associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails"
        },
        "config": {
          "description": "Details about discovery configuration in effect.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEvent",
      "description": "The payload associated with Discovery data processing."
    },
    "GoogleCloudDataplexV1ListSessionsResponse": {
      "id": "GoogleCloudDataplexV1ListSessionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "sessions": {
          "type": "array",
          "description": "Sessions under a given environment.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Session"
          }
        }
      },
      "description": "List sessions response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1CancelJobRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDataplexV1CancelJobRequest",
      "description": "Cancel task jobs."
    },
    "GoogleCloudDataplexV1DataProfileResultProfileField": {
      "description": "A field within a table.",
      "properties": {
        "type": {
          "description": "The field data type. Possible values include: STRING BYTE INT64 INT32 INT16 DOUBLE FLOAT DECIMAL BOOLEAN BINARY TIMESTAMP DATE TIME NULL RECORD",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the field."
        },
        "mode": {
          "type": "string",
          "description": "The mode of the field. Possible values include: REQUIRED, if it is a required field. NULLABLE, if it is an optional field. REPEATED, if it is a repeated field."
        },
        "profile": {
          "description": "Profile information for the corresponding field.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileField"
    },
    "GoogleCloudDataplexV1StorageFormatIcebergOptions": {
      "description": "Describes Iceberg data format.",
      "id": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
      "properties": {
        "metadataLocation": {
          "description": "Optional. The location of where the iceberg metadata is present, must be within the table path",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1StorageFormat": {
      "properties": {
        "format": {
          "readOnly": true,
          "description": "Output only. The data format associated with the stored data, which represents content type values. The value is inferred from mime type.",
          "enumDescriptions": [
            "Format unspecified.",
            "Parquet-formatted structured data.",
            "Avro-formatted structured data.",
            "Orc-formatted structured data.",
            "Csv-formatted semi-structured data.",
            "Json-formatted semi-structured data.",
            "Image data formats (such as jpg and png).",
            "Audio data formats (such as mp3, and wav).",
            "Video data formats (such as mp4 and mpg).",
            "Textual data formats (such as txt and xml).",
            "TensorFlow record format.",
            "Data that doesn't match a specific format.",
            "Data of an unknown format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARQUET",
            "AVRO",
            "ORC",
            "CSV",
            "JSON",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "TEXT",
            "TFRECORD",
            "OTHER",
            "UNKNOWN"
          ],
          "type": "string"
        },
        "json": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatJsonOptions"
        },
        "compressionFormat": {
          "description": "Optional. The compression type associated with the stored data. If unspecified, the data is uncompressed.",
          "enumDescriptions": [
            "CompressionFormat unspecified. Implies uncompressed data.",
            "GZip compressed set of files.",
            "BZip2 compressed set of files."
          ],
          "type": "string",
          "enum": [
            "COMPRESSION_FORMAT_UNSPECIFIED",
            "GZIP",
            "BZIP2"
          ]
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The mime type descriptor for the data. Must match the pattern {type}/{subtype}. Supported values: application/x-parquet application/x-avro application/x-orc application/x-tfrecord application/x-parquet+iceberg application/x-avro+iceberg application/x-orc+iceberg application/json application/{subtypes} text/csv text/ image/{image subtype} video/{video subtype} audio/{audio subtype}"
        },
        "iceberg": {
          "$ref": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
          "description": "Optional. Additional information about iceberg tables."
        },
        "csv": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatCsvOptions"
        }
      },
      "id": "GoogleCloudDataplexV1StorageFormat",
      "description": "Describes the format of the data within its storage location.",
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions": {
      "description": "Describe JSON data format.",
      "properties": {
        "disableTypeInference": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean)."
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
    },
    "GoogleCloudDataplexV1JobEvent": {
      "type": "object",
      "id": "GoogleCloudDataplexV1JobEvent",
      "properties": {
        "state": {
          "description": "The job state on completion.",
          "enumDescriptions": [
            "Unspecified job state.",
            "Job successfully completed.",
            "Job was unsuccessful.",
            "Job was cancelled by the user.",
            "Job was cancelled or aborted via the service executing the job."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "ABORTED"
          ],
          "type": "string"
        },
        "serviceJob": {
          "type": "string",
          "description": "The reference to the job within the service."
        },
        "endTime": {
          "type": "string",
          "description": "The time when the job ended running.",
          "format": "google-datetime"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "The unique id identifying the job."
        },
        "service": {
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified service.",
            "Cloud Dataproc."
          ],
          "description": "The service used to execute the job."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified job type.",
            "Spark jobs.",
            "Notebook jobs."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPARK",
            "NOTEBOOK"
          ],
          "description": "The type of the job."
        },
        "startTime": {
          "type": "string",
          "description": "The time when the job started running.",
          "format": "google-datetime"
        },
        "retries": {
          "description": "The number of retries.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The payload associated with Job logs that contains events describing jobs that have run within a Lake."
    },
    "GoogleCloudDataplexV1EnvironmentSessionSpec": {
      "description": "Configuration for sessions created for this environment.",
      "properties": {
        "maxIdleDuration": {
          "type": "string",
          "description": "Optional. The idle time configuration of the session. The session will be auto-terminated at the end of this period.",
          "format": "google-duration"
        },
        "enableFastStartup": {
          "description": "Optional. If True, this causes sessions to be pre-created and available for faster startup to enable interactive exploration use-cases. This defaults to False to avoid additional billed charges. These can only be set to True for the environment with name set to \"default\", and with default configuration.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentSessionSpec"
    },
    "GoogleCloudDataplexV1ListTasksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "tasks": {
          "description": "Tasks under the given parent lake.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Task"
          },
          "type": "array"
        }
      },
      "description": "List tasks response.",
      "id": "GoogleCloudDataplexV1ListTasksResponse",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for TestIamPermissions method.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Session": {
      "description": "Represents an active analyze session running for a user.",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Output only. Email of user running the session.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/environment/{environment_id}/sessions/{session_id}"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of Session",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Session start time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Session"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpec": {
      "description": "Configuration for the underlying infrastructure used to run workloads.",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpec",
      "properties": {
        "vpcNetwork": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
          "description": "Vpc network."
        },
        "batch": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources",
          "description": "Compute resources needed for a Task when using Dataproc Serverless."
        },
        "containerImage": {
          "description": "Container Image Runtime Configuration.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork": {
      "properties": {
        "networkTags": {
          "type": "array",
          "description": "Optional. List of network tags to apply to the job.",
          "items": {
            "type": "string"
          }
        },
        "subNetwork": {
          "type": "string",
          "description": "Optional. The Cloud VPC sub-network in which the job is run."
        },
        "network": {
          "description": "Optional. The Cloud VPC network in which the job is run. By default, the Cloud VPC network named Default within the project is used.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
      "description": "Cloud VPC Network used to run the infrastructure.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListZonesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "zones": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Zone"
          },
          "description": "Zones under the given parent lake.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1ListZonesResponse",
      "description": "List zones response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1SchemaSchemaField": {
      "properties": {
        "mode": {
          "description": "Required. Additional field semantics.",
          "enumDescriptions": [
            "Mode unspecified.",
            "The field has required semantics.",
            "The field has optional semantics, and may be null.",
            "The field has repeated (0 or more) semantics, and is a list of values."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "REQUIRED",
            "NULLABLE",
            "REPEATED"
          ]
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          },
          "description": "Optional. Any nested field for complex types."
        },
        "description": {
          "description": "Optional. User friendly field description. Must be less than or equal to 1024 characters.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "type": "string",
          "description": "Required. The type of field."
        },
        "name": {
          "description": "Required. The name of the field. Must contain only letters, numbers and underscores, with a maximum length of 767 characters, and must begin with a letter or underscore.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1SchemaSchemaField",
      "type": "object",
      "description": "Represents a column field within a table schema."
    },
    "GoogleCloudDataplexV1ActionInvalidDataFormat": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataFormat",
      "type": "object",
      "properties": {
        "expectedFormat": {
          "description": "The expected data format of the entity.",
          "type": "string"
        },
        "newFormat": {
          "type": "string",
          "description": "The new unexpected data format within the entity."
        },
        "sampledDataLocations": {
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference.",
          "type": "array"
        }
      },
      "description": "Action details for invalid or unsupported data files detected by discovery."
    },
    "GoogleCloudDataplexV1Schema": {
      "description": "Schema information describing the structure and layout of the data.",
      "type": "object",
      "properties": {
        "partitionFields": {
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          }
        },
        "fields": {
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          },
          "type": "array"
        },
        "partitionStyle": {
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ],
          "description": "Optional. The structure of paths containing partition data within the entity.",
          "type": "string",
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs://bucket/path/to/table/dt=2019-10-31/lang=en, gs://bucket/path/to/table/dt=2019-10-31/lang=en/late."
          ]
        },
        "userManaged": {
          "type": "boolean",
          "description": "Required. Set to true if user-managed or false if managed by Dataplex. The default is false (managed by Dataplex). Set to falseto enable Dataplex discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex treats schema input by the user as though produced by a previous Dataplex discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex will not change schema fields."
        }
      },
      "id": "GoogleCloudDataplexV1Schema"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      },
      "description": "Associates members, or principals, with a role."
    },
    "GoogleCloudDataplexV1OperationMetadata": {
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of a long-running operation.",
      "id": "GoogleCloudDataplexV1OperationMetadata"
    },
    "GoogleCloudDataplexV1ContentNotebook": {
      "description": "Configuration for Notebook content.",
      "properties": {
        "kernelType": {
          "enum": [
            "KERNEL_TYPE_UNSPECIFIED",
            "PYTHON3"
          ],
          "description": "Required. Kernel Type of the notebook.",
          "type": "string",
          "enumDescriptions": [
            "Kernel Type unspecified.",
            "Python 3 Kernel."
          ]
        }
      },
      "id": "GoogleCloudDataplexV1ContentNotebook",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionInvalidDataOrganization": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
      "description": "Action details for invalid data arrangement.",
      "properties": {}
    },
    "GoogleCloudDataplexV1ZoneResourceSpec": {
      "id": "GoogleCloudDataplexV1ZoneResourceSpec",
      "description": "Settings for resources attached as assets within a zone.",
      "type": "object",
      "properties": {
        "locationType": {
          "enumDescriptions": [
            "Unspecified location type.",
            "Resources that are associated with a single region.",
            "Resources that are associated with a multi-region location."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "SINGLE_REGION",
            "MULTI_REGION"
          ],
          "description": "Required. Immutable. The location type of the resources that are allowed to be attached to the assets within this zone.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Spark properties to provide configuration for use in sessions created for this environment. The properties to set on daemon config files. Property keys are specified in prefix:property format. The prefix must be \"spark\"."
        },
        "javaLibraries": {
          "type": "array",
          "description": "Optional. List of Java jars to be included in the runtime environment. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar",
          "items": {
            "type": "string"
          }
        },
        "pythonPackages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz"
        },
        "imageVersion": {
          "description": "Required. Dataplex Image version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime",
      "description": "Software Runtime Configuration to run Analyze.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition",
      "properties": {
        "expectedStructure": {
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ],
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ],
          "description": "The issue type of InvalidDataPartition.",
          "type": "string"
        }
      },
      "description": "Action details for invalid or unsupported partitions detected by discovery.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo": {
      "description": "The profile information for an integer type field.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo",
      "properties": {
        "quartiles": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3."
        },
        "average": {
          "description": "Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "double",
          "type": "number"
        },
        "min": {
          "type": "string",
          "description": "Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64",
          "description": "Maximum of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "standardDeviation": {
          "description": "Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDataplexV1RunTaskRequest": {
      "type": "object",
      "id": "GoogleCloudDataplexV1RunTaskRequest",
      "properties": {}
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results.",
      "properties": {
        "passed": {
          "type": "boolean",
          "description": "Whether the dimension passed or failed."
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskExecutionStatus": {
      "description": "Status of the task execution (e.g. Jobs).",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of the status."
        },
        "latestJob": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1Job",
          "description": "Output only. latest job execution"
        }
      },
      "id": "GoogleCloudDataplexV1TaskExecutionStatus"
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatusStats": {
      "description": "The aggregated data statistics for the asset reported by discovery.",
      "properties": {
        "dataItems": {
          "description": "The count of data items within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "dataSize": {
          "description": "The number of stored data bytes within the referenced resource.",
          "format": "int64",
          "type": "string"
        },
        "filesets": {
          "type": "string",
          "description": "The count of fileset entities within the referenced resource.",
          "format": "int64"
        },
        "tables": {
          "type": "string",
          "format": "int64",
          "description": "The count of table entities within the referenced resource."
        }
      },
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatusStats",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo": {
      "properties": {
        "standardDeviation": {
          "format": "double",
          "description": "Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number"
        },
        "max": {
          "description": "Maximum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        },
        "average": {
          "format": "double",
          "type": "number",
          "description": "Average of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "min": {
          "description": "Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        },
        "quartiles": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "type": "array"
        }
      },
      "description": "The profile information for a double type field.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo"
    },
    "GoogleCloudDataplexV1Job": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Job",
      "description": "A job represents an instance of a task.",
      "properties": {
        "retryCount": {
          "type": "integer",
          "description": "Output only. The number of times the job has been retried (excluding the initial attempt).",
          "format": "uint32",
          "readOnly": true
        },
        "serviceJob": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full resource name for the job run under a particular service."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the job ended."
        },
        "state": {
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is running.",
            "The job is cancelling.",
            "The job cancellation was successful.",
            "The job completed successfully.",
            "The job is no longer running due to an error.",
            "The job was cancelled outside of Dataplex."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "description": "Output only. Execution state for the job.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the job.",
          "readOnly": true,
          "type": "string"
        },
        "service": {
          "enumDescriptions": [
            "Service used to run the job is unspecified.",
            "Dataproc service is used to run this job."
          ],
          "description": "Output only. The underlying service running a job.",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the job, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/tasks/{task_id}/jobs/{job_id}.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the job was started.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityResult": {
      "properties": {
        "dimensionPassed": {
          "additionalProperties": {
            "type": "boolean"
          },
          "description": "The result of each dimension for data quality result. The key of the map is the name of the dimension. The value is the bool value depicting whether the dimension result was pass or not.",
          "type": "object"
        },
        "rowCount": {
          "description": "The count of rows processed in the data scan job.",
          "format": "int64",
          "type": "string"
        },
        "passed": {
          "type": "boolean",
          "description": "Whether the data quality result was pass or not."
        }
      },
      "description": "Data quality result for data scan job.",
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityResult",
      "type": "object"
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpec": {
      "description": "Configuration for the underlying infrastructure used to run workloads.",
      "type": "object",
      "properties": {
        "osImage": {
          "$ref": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime",
          "description": "Required. Software Runtime Configuration for analyze interactive workloads."
        },
        "compute": {
          "description": "Optional. Compute resources needed for analyze interactive workloads.",
          "$ref": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources"
        }
      },
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpec"
    },
    "GoogleCloudDataplexV1AssetStatus": {
      "description": "Aggregated status of the underlying assets of a lake or zone.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetStatus",
      "properties": {
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "activeAssets": {
          "format": "int32",
          "description": "Number of active assets.",
          "type": "integer"
        },
        "securityPolicyApplyingAssets": {
          "type": "integer",
          "description": "Number of assets that are in process of updating the security policy on attached resources.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "properties": {
        "readAccessMode": {
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "type": "string",
          "description": "Optional. Determines how read permissions are handled for each asset and their associated tables. Only available to storage buckets assets.",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ]
        },
        "name": {
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects/{project_number}/buckets/{bucket_id} projects/{project_number}/datasets/{dataset_id}",
          "type": "string"
        },
        "type": {
          "description": "Required. Immutable. Type of resource.",
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ]
        }
      },
      "id": "GoogleCloudDataplexV1AssetResourceSpec",
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanExecutionSpec": {
      "properties": {
        "field": {
          "type": "string",
          "description": "Immutable. The unnested field (of type Date or Timestamp) that contains values which monotonically increase over time.If not specified, a data scan will run for all data in the table."
        },
        "trigger": {
          "$ref": "GoogleCloudDataplexV1Trigger",
          "description": "Optional. Spec related to how often and when a scan should be triggered.If not specified, the default is OnDemand, which means the scan will not run until the user calls RunDataScan API."
        }
      },
      "description": "DataScan execution settings.",
      "id": "GoogleCloudDataplexV1DataScanExecutionSpec",
      "type": "object"
    },
    "GoogleCloudDataplexV1Action": {
      "description": "Action represents an issue requiring administrator action for resolution.",
      "type": "object",
      "id": "GoogleCloudDataplexV1Action",
      "properties": {
        "unauthorizedResource": {
          "description": "Details for issues related to lack of permissions to access data resources.",
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource"
        },
        "detectTime": {
          "format": "google-datetime",
          "description": "The time that the issue was detected.",
          "type": "string"
        },
        "missingData": {
          "description": "Details for issues related to absence of data within managed resources.",
          "$ref": "GoogleCloudDataplexV1ActionMissingData"
        },
        "lake": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "type": "string"
        },
        "incompatibleDataSchema": {
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
          "description": "Details for issues related to incompatible schemas detected within data."
        },
        "issue": {
          "type": "string",
          "description": "Detailed description of the issue requiring action."
        },
        "category": {
          "description": "The category of issue associated with the action.",
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}.",
          "type": "string",
          "readOnly": true
        },
        "zone": {
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "type": "string",
          "readOnly": true
        },
        "asset": {
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "readOnly": true,
          "type": "string"
        },
        "invalidDataPartition": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition",
          "description": "Details for issues related to invalid or unsupported data partition structure."
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        },
        "invalidDataOrganization": {
          "description": "Details for issues related to invalid data arrangement.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization"
        },
        "dataLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id)."
        },
        "missingResource": {
          "description": "Details for issues related to absence of a managed resource.",
          "$ref": "GoogleCloudDataplexV1ActionMissingResource"
        },
        "invalidDataFormat": {
          "description": "Details for issues related to invalid or unsupported data formats.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataAttributeBindingsResponse": {
      "id": "GoogleCloudDataplexV1ListDataAttributeBindingsResponse",
      "description": "List DataAttributeBindings response.",
      "properties": {
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "dataAttributeBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBinding"
          },
          "description": "DataAttributeBindings under the given parent Location."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRule": {
      "type": "object",
      "description": "A rule captures data quality intent about a data source.",
      "properties": {
        "column": {
          "description": "Optional. The unnested column which this rule is evaluated against.",
          "type": "string"
        },
        "setExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleSetExpectation",
          "description": "ColumnMap rule which evaluates whether each column value is contained by a specified set."
        },
        "rowConditionExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation",
          "description": "Table rule which evaluates whether each row passes the specified condition."
        },
        "tableConditionExpectation": {
          "description": "Table rule which evaluates whether the provided expression is true.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation"
        },
        "regexExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRegexExpectation",
          "description": "ColumnMap rule which evaluates whether each column value matches a specified regex."
        },
        "statisticRangeExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation",
          "description": "ColumnAggregate rule which evaluates whether the column aggregate statistic lies between a specified range."
        },
        "threshold": {
          "description": "Optional. The minimum ratio of passing_rows / total_rows required to pass this rule, with a range of 0.0, 1.0.0 indicates default value (i.e. 1.0).",
          "format": "double",
          "type": "number"
        },
        "uniquenessExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation",
          "description": "ColumnAggregate rule which evaluates whether the column has duplicates."
        },
        "nonNullExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation",
          "description": "ColumnMap rule which evaluates whether each column value is null."
        },
        "dimension": {
          "type": "string",
          "description": "Required. The dimension a rule belongs to. Results are also aggregated at the dimension level. Supported dimensions are \"COMPLETENESS\", \"ACCURACY\", \"CONSISTENCY\", \"VALIDITY\", \"UNIQUENESS\", \"INTEGRITY\""
        },
        "ignoreNull": {
          "type": "boolean",
          "description": "Optional. Rows with null values will automatically fail a rule, unless ignore_null is true. In that case, such null rows are trivially considered passing.Only applicable to ColumnMap rules."
        },
        "rangeExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation",
          "description": "ColumnMap rule which evaluates whether each column value lies between a specified range."
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRule"
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "description": "Action details for resource references in assets that cannot be located.",
      "properties": {}
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileResult": {
      "properties": {
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of rows processed in the data scan job."
        }
      },
      "type": "object",
      "description": "Data profile result for data scan job.",
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileResult"
    },
    "GoogleCloudDataplexV1DataQualityRuleRangeExpectation": {
      "type": "object",
      "properties": {
        "strictMaxEnabled": {
          "type": "boolean",
          "description": "Optional. Whether each value needs to be strictly lesser than ('\u003c') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false."
        },
        "minValue": {
          "description": "Optional. The minimum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "maxValue": {
          "description": "Optional. The maximum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "strictMinEnabled": {
          "type": "boolean",
          "description": "Optional. Whether each value needs to be strictly greater than ('\u003e') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false."
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation",
      "description": "Evaluates whether each column value lies between a specified range."
    },
    "GoogleCloudDataplexV1Zone": {
      "id": "GoogleCloudDataplexV1Zone",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the zone.",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the zone."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "RAW",
            "CURATED"
          ],
          "description": "Required. Immutable. The type of the zone.",
          "enumDescriptions": [
            "Zone type not specified.",
            "A zone that contains data that needs further processing before it is considered generally ready for consumption and analytics workloads.",
            "A zone that contains data that is considered to be ready for broader consumption and analytics workloads. Curated structured data stored in Cloud Storage must conform to certain file formats (parquet, avro and orc) and organized in a hive-compatible directory layout."
          ]
        },
        "resourceSpec": {
          "$ref": "GoogleCloudDataplexV1ZoneResourceSpec",
          "description": "Required. Specification of the resources that are referenced by the assets within this zone."
        },
        "updateTime": {
          "description": "Output only. The time when the zone was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data in this zone."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User defined labels for the zone.",
          "type": "object"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the zone. This ID will be different if the zone is deleted and re-created with the same name.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the zone was created."
        },
        "assetStatus": {
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the zone."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}."
        }
      },
      "description": "A zone represents a logical group of related assets within a lake. A zone can be used to map to organizational structure or represent stages of data readiness from raw to curated. It provides managing behavior that is shared or inherited by all contained assets."
    },
    "GoogleCloudDataplexV1DataQualityRuleSetExpectation": {
      "type": "object",
      "description": "Evaluates whether each column value is contained by a specified set.",
      "properties": {
        "values": {
          "description": "Expected values for the column value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleSetExpectation"
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "description": "Task scheduling and trigger settings.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ],
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "format": "google-datetime"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks."
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *. This field is required for RECURRING tasks.",
          "type": "string"
        },
        "maxRetries": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task."
        }
      },
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation": {
      "type": "object",
      "description": "Evaluates whether the column aggregate statistic lies between a specified range.",
      "id": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "The minimum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided."
        },
        "strictMinEnabled": {
          "description": "Whether column statistic needs to be strictly greater than ('\u003e') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false.",
          "type": "boolean"
        },
        "strictMaxEnabled": {
          "description": "Whether column statistic needs to be strictly lesser than ('\u003c') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        },
        "maxValue": {
          "description": "The maximum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "statistic": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified statistic type",
            "Evaluate the column mean",
            "Evaluate the column min",
            "Evaluate the column max"
          ],
          "enum": [
            "STATISTIC_UNDEFINED",
            "MEAN",
            "MIN",
            "MAX"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1Lake": {
      "properties": {
        "assetStatus": {
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the lake.",
          "$ref": "GoogleCloudDataplexV1AssetStatus"
        },
        "createTime": {
          "description": "Output only. The time when the lake was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "metastore": {
          "$ref": "GoogleCloudDataplexV1LakeMetastore",
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association."
        },
        "description": {
          "description": "Optional. Description of the lake.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the lake.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the lake.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metastoreStatus": {
          "description": "Output only. Metastore status of the lake.",
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the lake was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake."
        }
      },
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata.",
      "type": "object",
      "id": "GoogleCloudDataplexV1Lake"
    },
    "GoogleCloudDataplexV1DataScanEvent": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message describing the data scan job event."
        },
        "dataProfile": {
          "description": "Data profile result for data profile type data scan.",
          "$ref": "GoogleCloudDataplexV1DataScanEventDataProfileResult"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the data scan job started to run."
        },
        "dataQuality": {
          "$ref": "GoogleCloudDataplexV1DataScanEventDataQualityResult",
          "description": "Data quality result for data quality type data scan."
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL"
          ],
          "enumDescriptions": [
            "An unspecified scope type.",
            "Data scan runs on all of the data.",
            "Data scan runs on incremental data."
          ],
          "description": "The scope of the data scan (e.g. full, incremental)."
        },
        "dataSource": {
          "description": "The data source of the data scan",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified job state.",
            "Data scan started.",
            "Data scan successfully completed.",
            "Data scan was unsuccessful.",
            "Data scan was cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The status of the data scan job.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the data scan.",
          "enum": [
            "SCAN_TYPE_UNSPECIFIED",
            "DATA_PROFILE",
            "DATA_QUALITY"
          ],
          "enumDescriptions": [
            "An unspecified data scan type.",
            "Data scan for data profile.",
            "Data scan for data quality."
          ]
        },
        "endTime": {
          "description": "The time when the data scan job finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "ON_DEMAND",
            "SCHEDULE"
          ],
          "description": "The trigger type of the data scan job.",
          "enumDescriptions": [
            "An unspecified trigger type.",
            "Data scan triggers on demand.",
            "Data scan triggers as per schedule."
          ],
          "type": "string"
        },
        "specVersion": {
          "type": "string",
          "description": "A version identifier of the spec which was used to execute this job."
        },
        "jobId": {
          "description": "The identifier of the specific data scan job this log entry is for.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataScanEvent",
      "description": "These messages contain information about the execution of a datascan. The monitored resource is 'DataScan'"
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "id": "GoogleCloudDataplexV1SchemaPartitionField",
      "properties": {
        "name": {
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore..",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "description": "Required. Immutable. The type of field."
        }
      },
      "type": "object",
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for SetIamPolicy method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleCloudDataplexV1DataScanExecutionStatus": {
      "id": "GoogleCloudDataplexV1DataScanExecutionStatus",
      "type": "object",
      "description": "Status of the data scan execution.",
      "properties": {
        "latestJobEndTime": {
          "type": "string",
          "description": "The time when the latest DataScanJob ended.",
          "format": "google-datetime"
        },
        "latestJobStartTime": {
          "description": "The time when the latest DataScanJob started.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation",
      "properties": {},
      "description": "Evaluates whether the column has duplicates.",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for TestIamPermissions method.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo",
      "properties": {
        "maxLength": {
          "description": "Maximum length of non-null values in the scanned data.",
          "type": "string",
          "format": "int64"
        },
        "averageLength": {
          "format": "double",
          "description": "Average length of non-null values in the scanned data.",
          "type": "number"
        },
        "minLength": {
          "type": "string",
          "description": "Minimum length of non-null values in the scanned data.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The profile information for a string type field."
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions",
      "description": "Describe CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "format": "int32",
          "type": "integer"
        },
[...]
