{
  "servicePath": "analytics/v3/",
  "title": "Google Analytics API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "rootUrl": "https://analytics.googleapis.com/",
  "description": "Views and manages your Google Analytics data.",
  "discoveryVersion": "v1",
  "resources": {
    "userDeletion": {
      "resources": {
        "userDeletionRequest": {
          "methods": {
            "upsert": {
              "httpMethod": "POST",
              "response": {
                "$ref": "UserDeletionRequest"
              },
              "path": "userDeletion/userDeletionRequests:upsert",
              "description": "Insert or update a user deletion requests.",
              "id": "analytics.userDeletion.userDeletionRequest.upsert",
              "request": {
                "$ref": "UserDeletionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.user.deletion"
              ]
            }
          }
        }
      }
    },
    "provisioning": {
      "methods": {
        "createAccountTree": {
          "response": {
            "$ref": "AccountTreeResponse"
          },
          "id": "analytics.provisioning.createAccountTree",
          "path": "provisioning/createAccountTree",
          "description": "Provision account.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "request": {
            "$ref": "AccountTreeRequest"
          }
        },
        "createAccountTicket": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountTicket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "request": {
            "$ref": "AccountTicket"
          },
          "description": "Creates an account ticket.",
          "path": "provisioning/createAccountTicket",
          "id": "analytics.provisioning.createAccountTicket"
        }
      }
    },
    "management": {
      "resources": {
        "customDimensions": {
          "methods": {
            "insert": {
              "request": {
                "$ref": "CustomDimension"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "httpMethod": "POST",
              "id": "analytics.management.customDimensions.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID for the custom dimension to create."
                }
              },
              "description": "Create a new custom dimension.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomDimension"
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists custom dimensions to which the user has access.",
              "id": "analytics.management.customDimensions.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom dimensions to retrieve."
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "CustomDimensions"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions"
            },
            "patch": {
              "response": {
                "$ref": "CustomDimension"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "customDimensionId": {
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID for the custom dimension to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "type": "boolean",
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set."
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "id": "analytics.management.customDimensions.patch",
              "request": {
                "$ref": "CustomDimension"
              }
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "id": "analytics.management.customDimensions.get",
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Get a custom dimension to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom dimension to retrieve."
                },
                "customDimensionId": {
                  "description": "The ID of the custom dimension to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "update": {
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom dimension to update.",
                  "required": true
                },
                "customDimensionId": {
                  "location": "path",
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "default": "false",
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set."
                }
              },
              "description": "Updates an existing custom dimension.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "httpMethod": "PUT",
              "id": "analytics.management.customDimensions.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomDimension"
              }
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "insert": {
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "description": "Create a new profile filter link.",
              "id": "analytics.management.profileFilterLinks.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Profile ID to create filter link for.",
                  "pattern": "\\d+"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Web property Id to create profile filter link for.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "description": "Account ID to create profile filter link for.",
                  "pattern": "\\d+",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "patch": {
              "parameters": {
                "profileId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Profile ID to which filter link belongs",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property Id to which profile filter link belongs",
                  "location": "path",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "linkId": {
                  "description": "ID of the profile filter link to be updated.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which profile filter link belongs.",
                  "pattern": "\\d+",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "id": "analytics.management.profileFilterLinks.patch",
              "httpMethod": "PATCH"
            },
            "update": {
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileFilterLinks.update",
              "description": "Update an existing profile filter link.",
              "parameters": {
                "linkId": {
                  "required": true,
                  "description": "ID of the profile filter link to be updated.",
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+:\\d+"
                },
                "webPropertyId": {
                  "description": "Web property Id to which profile filter link belongs",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path",
                  "description": "Profile ID to which filter link belongs",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "pattern": "\\d+",
                  "required": true,
                  "description": "Account ID to which profile filter link belongs.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              }
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileFilterLinks.delete",
              "parameters": {
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "description": "Web property Id to which the profile filter link belongs.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to which the profile filter link belongs.",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "description": "ID of the profile filter link to delete.",
                  "type": "string",
                  "pattern": "\\d+:\\d+",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "description": "Profile ID to which the filter link belongs.",
                  "pattern": "\\d+",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Delete a profile filter link.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "httpMethod": "DELETE"
            },
            "list": {
              "parameters": {
                "profileId": {
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to retrieve profile filter links for.",
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path"
                },
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of profile filter links to include in this response."
                }
              },
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileFilterLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "description": "Lists all profile filter links for a profile."
            },
            "get": {
              "parameters": {
                "profileId": {
                  "pattern": "\\d+",
                  "description": "Profile ID to retrieve filter link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve profile filter link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property Id to retrieve profile filter link for.",
                  "location": "path",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "id": "analytics.management.profileFilterLinks.get",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Returns a single profile filter link."
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "httpMethod": "POST",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "id": "analytics.management.clientId.hashClientId",
              "description": "Hashes the given Client ID.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "path": "management/clientId:hashClientId"
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "delete": {
              "id": "analytics.management.profileUserLinks.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "description": "Removes a user from the given view (profile).",
              "parameters": {
                "webPropertyId": {
                  "description": "Web Property ID to delete the user link for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "linkId": {
                  "type": "string",
                  "location": "path",
                  "description": "Link ID to delete the user link for.",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to delete the user link for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "update": {
              "description": "Updates permissions for an existing user on the given view (profile).",
              "request": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.profileUserLinks.update",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "profileId": {
                  "description": "View (Profile ID) to update the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to update the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to update the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web Property ID to update the user link for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "insert": {
              "id": "analytics.management.profileUserLinks.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "description": "Adds a new user to the given view (profile).",
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web Property ID to create the user link for.",
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to create the user link for.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists profile-user links for a given view (profile).",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "parameters": {
                "max-results": {
                  "description": "The maximum number of profile-user links to include in this response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID which the given view (profile) belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analytics.management.profileUserLinks.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks"
            }
          }
        },
        "profiles": {
          "methods": {
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "description": "Lists views (profiles) to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.profiles.list",
              "response": {
                "$ref": "Profiles"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access."
                },
                "start-index": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "max-results": {
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "id": "analytics.management.profiles.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "parameters": {
                "profileId": {
                  "type": "string",
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to which the view (profile) belongs",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              }
            },
            "insert": {
              "response": {
                "$ref": "Profile"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to create the view (profile) for.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to create the view (profile) for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.insert",
              "httpMethod": "POST",
              "description": "Create a new view (profile)."
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Updates an existing view (profile).",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.update",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to which the view (profile) belongs",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}"
            },
            "get": {
              "description": "Gets a view (profile) to which the user has access.",
              "response": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.get",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the view (profile) for.",
                  "location": "path",
                  "required": true,
                  "pattern": "[0-9]+"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "pattern": "[0-9]+",
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "id": "analytics.management.profiles.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Deletes a view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the view (profile) to be deleted.",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to delete the view (profile) for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to delete the view (profile) for.",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "goals": {
          "methods": {
            "insert": {
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to create the goal for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to create the goal for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to create the goal for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "analytics.management.goals.insert",
              "response": {
                "$ref": "Goal"
              },
              "description": "Create a new goal.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Goal"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals"
            },
            "update": {
              "httpMethod": "PUT",
              "description": "Updates an existing goal.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Goal"
              },
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "goalId": {
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the goal.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analytics.management.goals.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}"
            },
            "patch": {
              "response": {
                "$ref": "Goal"
              },
              "description": "Updates an existing goal. This method supports patch semantics.",
              "parameters": {
                "goalId": {
                  "location": "path",
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the goal."
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to update the goal.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to update the goal."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "httpMethod": "PATCH",
              "id": "analytics.management.goals.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Goal"
              }
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to retrieve the goal for.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to retrieve the goal for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Goal ID to retrieve the goal for."
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the goal for."
                }
              },
              "id": "analytics.management.goals.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Goal"
              },
              "description": "Gets a goal to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Goals"
              },
              "httpMethod": "GET",
              "id": "analytics.management.goals.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameters": {
                "start-index": {
                  "location": "query",
                  "format": "int32",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "minimum": "1"
                },
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "max-results": {
                  "format": "int32",
                  "description": "The maximum number of goals to include in this response.",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string"
                }
              },
              "description": "Lists goals to which the user has access."
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "response": {
                "$ref": "Segments"
              },
              "parameters": {
                "start-index": {
                  "location": "query",
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1",
                  "type": "integer"
                },
                "max-results": {
                  "description": "The maximum number of segments to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "path": "management/segments",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists segments to which the user has access.",
              "id": "analytics.management.segments.list"
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "webPropertyId": {
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID which the given web property belongs to.",
                  "location": "path",
                  "type": "string"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Lists webProperty-user links for a given web property.",
              "response": {
                "$ref": "EntityUserLinks"
              },
              "id": "analytics.management.webpropertyUserLinks.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "parameters": {
                "linkId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Link ID to update the account-user link for."
                },
                "accountId": {
                  "description": "Account ID to update the account-user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to update the account-user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Updates permissions for an existing user on the given web property.",
              "id": "analytics.management.webpropertyUserLinks.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "PUT"
            },
            "delete": {
              "id": "analytics.management.webpropertyUserLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "linkId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Link ID to delete the user link for."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web Property ID to delete the user link for."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Removes a user from the given web property.",
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}"
            },
            "insert": {
              "description": "Adds a new user to the given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to create the user link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "analytics.management.webpropertyUserLinks.insert",
              "response": {
                "$ref": "EntityUserLink"
              }
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "AccountSummaries"
              },
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "id": "analytics.management.accountSummaries.list",
              "path": "management/accountSummaries"
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "delete": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "location": "path"
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Link ID to delete the user link for."
                }
              },
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "id": "analytics.management.accountUserLinks.delete",
              "description": "Removes a user from the given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "insert": {
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "analytics.management.accountUserLinks.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Adds a new user to the given account.",
              "path": "management/accounts/{accountId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST"
            },
            "update": {
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "linkId": {
                  "type": "string",
                  "description": "Link ID to update the account-user link for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the account-user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.accountUserLinks.update",
              "description": "Updates permissions for an existing user on the given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "httpMethod": "PUT"
            },
            "list": {
              "id": "analytics.management.accountUserLinks.list",
              "description": "Lists account-user links for a given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve the user links for."
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of account-user links to include in this response."
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "management/accounts/{accountId}/entityUserLinks",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              }
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "list": {
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "type": "integer"
                }
              },
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "httpMethod": "GET",
              "response": {
                "$ref": "EntityAdWordsLinks"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.list"
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to."
                }
              },
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Updates an existing webProperty-Google Ads link.",
              "request": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads link for."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to."
                }
              }
            },
            "insert": {
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to create the link for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "description": "ID of the Google Analytics account to create the link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates a webProperty-Google Ads link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks"
            },
            "patch": {
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Web property-Google Ads link ID."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics."
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Deletes a web property-Google Ads link.",
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to delete the Google Ads link for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property Google Ads link ID."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "uploads": {
          "methods": {
            "get": {
              "id": "analytics.management.uploads.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List uploads to which the user has access.",
              "parameters": {
                "customDataSourceId": {
                  "required": true,
                  "description": "Custom data source Id for upload to retrieve.",
                  "pattern": ".{22}",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property Id for the upload to retrieve.",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account Id for the upload to retrieve."
                },
                "uploadId": {
                  "type": "string",
                  "location": "path",
                  "pattern": ".{22}",
                  "required": true,
                  "description": "Upload Id to retrieve."
                }
              },
              "response": {
                "$ref": "Upload"
              }
            },
            "deleteUploadData": {
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "httpMethod": "POST",
              "id": "analytics.management.uploads.deleteUploadData",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the uploads to be deleted."
                },
                "customDataSourceId": {
                  "description": "Custom data source Id for the uploads to be deleted.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": ".{22}"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to be deleted."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "description": "Delete data associated with a previous upload.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List uploads to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "required": true,
                  "description": "Web property Id for the uploads to retrieve.",
                  "location": "path"
                },
                "customDataSourceId": {
                  "type": "string",
                  "pattern": ".{22}",
                  "required": true,
                  "location": "path",
                  "description": "Custom data source Id for uploads to retrieve."
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "minimum": "1",
                  "description": "The maximum number of uploads to include in this response."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account Id for the uploads to retrieve.",
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string"
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "response": {
                "$ref": "Uploads"
              },
              "id": "analytics.management.uploads.list"
            },
            "uploadData": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "description": "Upload data for a custom data source.",
              "response": {
                "$ref": "Upload"
              },
              "parameters": {
                "customDataSourceId": {
                  "type": "string",
                  "description": "Custom data source Id to which the data being uploaded belongs.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "pattern": "UA-\\d+-\\d+",
                  "location": "path",
                  "description": "Web property UA-string associated with the upload."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account Id associated with the upload.",
                  "pattern": "\\d+",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "id": "analytics.management.uploads.uploadData",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "1GB"
              }
            }
          }
        },
        "customMetrics": {
          "methods": {
            "get": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom metric to retrieve.",
                  "type": "string",
                  "required": true
                },
                "customMetricId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the custom metric to retrieve.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom metric to retrieve."
                }
              },
              "id": "analytics.management.customMetrics.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomMetric"
              },
              "description": "Get a custom metric to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}"
            },
            "patch": {
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "id": "analytics.management.customMetrics.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              },
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "location": "query",
                  "default": "false"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom metric to update.",
                  "required": true,
                  "type": "string"
                },
                "customMetricId": {
                  "required": true,
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom metric to update."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomMetric"
              }
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "CustomMetrics"
              },
              "description": "Lists custom metrics to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metrics to retrieve.",
                  "required": true
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of custom metrics to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "type": "string",
                  "location": "path"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "id": "analytics.management.customMetrics.list"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "description": "Updates an existing custom metric.",
              "request": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "PUT",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom metric to update.",
                  "type": "string",
                  "required": true
                },
                "customMetricId": {
                  "description": "Custom metric ID for the custom metric to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom metric to update.",
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customMetrics.update"
            },
            "insert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customMetrics.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID for the custom metric to create.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimension to create."
                }
              },
              "response": {
                "$ref": "CustomMetric"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Create a new custom metric."
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "delete": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to delete the unsampled report for.",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to delete the unsampled reports for.",
                  "required": true,
                  "type": "string"
                },
                "unsampledReportId": {
                  "required": true,
                  "description": "ID of the unsampled report to be deleted.",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to delete the unsampled report for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "id": "analytics.management.unsampledReports.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes an unsampled report."
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "location": "path"
                },
                "unsampledReportId": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the unsampled report to retrieve.",
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to retrieve unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "id": "analytics.management.unsampledReports.get",
              "description": "Returns a single unsampled report."
            },
            "insert": {
              "response": {
                "$ref": "UnsampledReport"
              },
              "id": "analytics.management.unsampledReports.insert",
              "description": "Create a new unsampled report.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Web property ID to create the unsampled report for."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to create the unsampled report for."
                }
              },
              "request": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Lists unsampled reports to which the user has access.",
              "httpMethod": "GET",
              "id": "analytics.management.unsampledReports.list",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "type": "integer",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "required": true,
                  "type": "string"
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "response": {
                "$ref": "UnsampledReports"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "description": "Lists all accounts to which the user has access.",
              "path": "management/accounts",
              "id": "analytics.management.accounts.list",
              "response": {
                "$ref": "Accounts"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "max-results": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of accounts to include in this response.",
                  "type": "integer"
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "filters": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Filter"
              },
              "request": {
                "$ref": "Filter"
              },
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Updates an existing filter. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to which the filter belongs.",
                  "required": true
                },
                "filterId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "ID of the filter to be updated."
                }
              },
              "id": "analytics.management.filters.patch"
            },
            "insert": {
              "description": "Create a new filter.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Filter"
[...]
