{
  "basePath": "",
  "mtlsRootUrl": "https://mybusinessverifications.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "My Business Verifications API",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/my-business/",
  "baseUrl": "https://mybusinessverifications.googleapis.com/",
  "revision": "20230228",
  "servicePath": "",
  "discoveryVersion": "v1",
  "name": "mybusinessverifications",
  "id": "mybusinessverifications:v1",
  "version": "v1",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "canonicalName": "My Business Verifications",
  "batchPath": "batch",
  "schemas": {
    "FetchVerificationOptionsRequest": {
      "description": "Request message for Verifications.FetchVerificationOptions.",
      "id": "FetchVerificationOptionsRequest",
      "properties": {
        "context": {
          "$ref": "ServiceBusinessContext",
          "description": "Optional. Extra context information for the verification of service businesses. Can only be applied to the locations whose business type is CUSTOMER_LOCATION_ONLY. Specifying an accurate address could enable more options. INVALID_ARGUMENT will be thrown if it is set for other business types of locations."
        },
        "languageCode": {
          "description": "Required. The BCP 47 language code representing the language that is to be used for the verification process. Available options vary by language.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerificationOption": {
      "type": "object",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "Method to verify the location.",
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER"
          ],
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "This option may not be available for all locations."
          ]
        },
        "addressData": {
          "description": "Set only if the method is MAIL.",
          "$ref": "AddressVerificationData"
        },
        "phoneNumber": {
          "description": "Set only if the method is PHONE_CALL or SMS. Phone number that the PIN will be sent to.",
          "type": "string"
        },
        "emailData": {
          "$ref": "EmailVerificationData",
          "description": "Set only if the method is EMAIL."
        },
        "announcement": {
          "type": "string",
          "description": "Set only if the method is VETTED_PARTNER."
        }
      },
      "id": "VerificationOption",
      "description": "The verification option represents how to verify the location (indicated by verification method) and where the verification will be sent to (indicated by display data)."
    },
    "WaitForVoiceOfMerchant": {
      "description": "Indicates that the location will gain voice of merchant after passing review.",
      "properties": {},
      "type": "object",
      "id": "WaitForVoiceOfMerchant"
    },
    "EmailVerificationData": {
      "description": "Display data for verifications through email.",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain name in the email address. e.g. \"gmail.com\" in foo@gmail.com"
        },
        "isUserNameEditable": {
          "type": "boolean",
          "description": "Whether client is allowed to provide a different user name."
        },
        "user": {
          "type": "string",
          "description": "User name in the email address. e.g. \"foo\" in foo@gmail.com"
        }
      },
      "id": "EmailVerificationData"
    },
    "GenerateVerificationTokenRequest": {
      "description": "Request message for Verifications.GenerateVerificationToken.",
      "id": "GenerateVerificationTokenRequest",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Required. The target location. Note: The location information should exactly match the target Location, otherwise the generated verification token won't be able to verify the target Location."
        }
      },
      "type": "object"
    },
    "VoiceOfMerchantState": {
      "id": "VoiceOfMerchantState",
      "type": "object",
      "description": "Response message for VoiceOfMerchant.GetVoiceOfMerchantState.",
      "properties": {
        "resolveOwnershipConflict": {
          "$ref": "ResolveOwnershipConflict",
          "description": "This location duplicates another location that is in good standing. If you have access to the location in good standing, use that location's id to perform operations. Otherwise, request access from the current owner."
        },
        "complyWithGuidelines": {
          "$ref": "ComplyWithGuidelines",
          "description": "The location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177) and requires additional steps for reinstatement. To fix this issue, consult the [Help Center Article](https://support.google.com/business/answer/4569145)."
        },
        "hasBusinessAuthority": {
          "type": "boolean",
          "description": "Indicates whether the location has the authority (ownership) over the business on Google. If true, another location cannot take over and become the dominant listing on Maps. However, edits will not become live unless Voice of Merchant is gained (i.e. has_voice_of_merchant is true)."
        },
        "verify": {
          "$ref": "Verify",
          "description": "Start or continue the verification process."
        },
        "hasVoiceOfMerchant": {
          "type": "boolean",
          "description": "Indicates whether the location is in good standing and has control over the business on Google. Any edits made to the location will propagate to Maps after passing the review phase."
        },
        "waitForVoiceOfMerchant": {
          "description": "Wait to gain Voice of Merchant. The location is under review for quality purposes.",
          "$ref": "WaitForVoiceOfMerchant"
        }
      }
    },
    "CompleteVerificationResponse": {
      "properties": {
        "verification": {
          "$ref": "Verification",
          "description": "The completed verification."
        }
      },
      "description": "Response message for Verifications.CompleteVerificationAction.",
      "type": "object",
      "id": "CompleteVerificationResponse"
    },
    "Verification": {
      "properties": {
        "method": {
          "description": "The method of the verification.",
          "type": "string",
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER"
          ],
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "This option may not be available for all locations."
          ]
        },
        "state": {
          "description": "The state of the verification.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value, will result in errors.",
            "The verification is pending.",
            "The verification is completed.",
            "The verification is failed."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the verification is requested."
        },
        "announcement": {
          "description": "Optional. Response announcement set only if the method is VETTED_PARTNER.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the verification.",
          "type": "string"
        }
      },
      "description": "A verification represents a verification attempt on a location.",
      "id": "Verification",
      "type": "object"
    },
    "Verify": {
      "id": "Verify",
      "type": "object",
      "description": "Indicates that the location requires verification. Contains information about the current verification actions performed on the location.",
      "properties": {
        "hasPendingVerification": {
          "type": "boolean",
          "description": "Indicates whether a verification process has already started, and can be completed by the location."
        }
      }
    },
    "ResolveOwnershipConflict": {
      "properties": {},
      "type": "object",
      "id": "ResolveOwnershipConflict",
      "description": "Indicates that the location duplicates another location that is in good standing."
    },
    "ServiceBusinessContext": {
      "description": "Additional data for service business verification.",
      "type": "object",
      "properties": {
        "address": {
          "$ref": "PostalAddress",
          "description": "The verification address of the location. It is used to either enable more verification options or send a postcard."
        }
      },
      "id": "ServiceBusinessContext"
    },
    "FetchVerificationOptionsResponse": {
      "description": "Response message for Verifications.FetchVerificationOptions.",
      "id": "FetchVerificationOptionsResponse",
      "properties": {
        "options": {
          "description": "The available verification options.",
          "type": "array",
          "items": {
            "$ref": "VerificationOption"
          }
        }
      },
      "type": "object"
    },
    "ListVerificationsResponse": {
      "description": "Response message for Verifications.ListVerifications.",
      "properties": {
        "nextPageToken": {
          "description": "If the number of verifications exceeded the requested page size, this field will be populated with a token to fetch the next page of verification on a subsequent call. If there are no more attributes, this field will not be present in the response.",
          "type": "string"
        },
        "verifications": {
          "description": "List of the verifications.",
          "type": "array",
          "items": {
            "$ref": "Verification"
          }
        }
      },
      "type": "object",
      "id": "ListVerificationsResponse"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "websiteUri": {
          "type": "string",
          "description": "Optional. A URL for this business. If possible, use a URL that represents this individual business location instead of a generic website/URL that represents all locations, or the brand."
        },
        "primaryPhone": {
          "description": "Optional. A phone number that connects to your individual business location as directly as possible. Use a local phone number instead of a central, call center helpline number whenever possible.",
          "type": "string"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Required. A precise, accurate address to describe your business location. PO boxes or mailboxes located at remote locations are not acceptable. At this time, you can specify a maximum of five `address_lines` values in the address."
        },
        "name": {
          "type": "string",
          "description": "Required. Location name should reflect your business's real-world name, as used consistently on your storefront, website, and stationery, and as known to customers. Any additional information, when relevant, can be included in other fields of the resource (for example, `Address`, `Categories`). Don't add unnecessary information to your name (for example, prefer \"Google\" over \"Google Inc. - Mountain View Corporate Headquarters\"). Don't include marketing taglines, store codes, special characters, hours or closed/open status, phone numbers, website URLs, service/product information, location/address or directions, or containment information (for example, \"Chase ATM in Duane Reade\")."
        },
        "primaryCategoryId": {
          "description": "Required. Id of the category that best describes the core business this location engages in. e.g. gcid:bakery.",
          "type": "string"
        }
      },
      "description": "A subset of location info. See the [help center article] (https://support.google.com/business/answer/3038177) for a detailed description of these fields, or the [category endpoint](/my-business/reference/rest/v4/categories) for a list of valid business categories.",
      "type": "object"
    },
    "AddressVerificationData": {
      "description": "Display data for verifications through postcard.",
      "type": "object",
      "properties": {
        "expectedDeliveryDaysRegion": {
          "description": "Expected number of days it takes to deliver a postcard to the address's region.",
          "type": "integer",
          "format": "int32"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Address that a postcard can be sent to."
        },
        "business": {
          "type": "string",
          "description": "Merchant's business name."
        }
      },
      "id": "AddressVerificationData"
    },
    "CompleteVerificationRequest": {
      "type": "object",
      "description": "Request message for Verifications.CompleteVerificationAction.",
      "properties": {
        "pin": {
          "type": "string",
          "description": "Required. PIN code received by the merchant to complete the verification."
        }
      },
      "id": "CompleteVerificationRequest"
    },
    "VerificationToken": {
      "description": "Token generated by a vetted [partner](https://support.google.com/business/answer/7674102).",
      "id": "VerificationToken",
      "properties": {
        "tokenString": {
          "description": "The token string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateVerificationTokenResponse": {
      "type": "object",
      "description": "Response message for Verifications.GenerateVerificationToken.",
      "properties": {
        "token": {
          "description": "The generated token to verify the location.",
          "$ref": "VerificationToken"
        }
      },
      "id": "GenerateVerificationTokenResponse"
    },
    "VerifyLocationRequest": {
      "properties": {
        "phoneNumber": {
          "description": "Optional. The input for PHONE_CALL/SMS method The phone number that should be called or be sent SMS to. It must be one of the phone numbers in the eligible options.",
          "type": "string"
        },
        "mailerContact": {
          "type": "string",
          "description": "Optional. The input for ADDRESS method. Contact name the mail should be sent to."
        },
        "emailAddress": {
          "type": "string",
          "description": "Optional. The input for EMAIL method. Email address where the PIN should be sent to. An email address is accepted only if it is one of the addresses provided by FetchVerificationOptions. If the EmailVerificationData has is_user_name_editable set to true, the client may specify a different user name (local-part) but must match the domain name."
        },
        "context": {
          "description": "Optional. Extra context information for the verification of service businesses. It is only required for the locations whose business type is CUSTOMER_LOCATION_ONLY. For ADDRESS verification, the address will be used to send out postcard. For other methods, it should be the same as the one that is passed to GetVerificationOptions. INVALID_ARGUMENT will be thrown if it is set for other types of business locations.",
          "$ref": "ServiceBusinessContext"
        },
        "token": {
          "description": "Optional. The input for VETTED_PARTNER method available to select [partners.](https://support.google.com/business/answer/7674102) The input is not needed for a vetted account. Token that is associated to the location. Token that is associated to the location.",
          "$ref": "VerificationToken"
        },
        "method": {
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER"
          ],
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "This option may not be available for all locations."
          ],
          "description": "Required. Verification method.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP 47 language code representing the language that is to be used for the verification process."
        }
      },
      "type": "object",
      "id": "VerifyLocationRequest",
      "description": "Request message for Verifications.VerifyLocation."
    },
    "PostalAddress": {
      "properties": {
        "addressLines": {
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          }
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.).",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire)."
        },
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        }
      },
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "id": "PostalAddress",
      "type": "object"
    },
    "VerifyLocationResponse": {
      "id": "VerifyLocationResponse",
      "type": "object",
      "properties": {
        "verification": {
          "$ref": "Verification",
          "description": "The created verification request."
        }
      },
      "description": "Response message for Verifications.VerifyLocation."
    },
    "ComplyWithGuidelines": {
      "properties": {
        "recommendationReason": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The business location is suspended. To fix this issue, consult the [Help Center article](https://support.google.com/business/answer/4569145).",
            "The business location is disabled. To fix this issue, consult the [Help Center article](https://support.google.com/business/answer/9334246)."
          ],
          "description": "The reason why the location is being recommended to comply with guidelines.",
          "enum": [
            "RECOMMENDATION_REASON_UNSPECIFIED",
            "BUSINESS_LOCATION_SUSPENDED",
            "BUSINESS_LOCATION_DISABLED"
          ]
        }
      },
      "description": "Indicates that the location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177).",
      "id": "ComplyWithGuidelines",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "verificationTokens": {
      "methods": {
        "generate": {
          "response": {
            "$ref": "GenerateVerificationTokenResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1/verificationTokens:generate",
          "description": "Generates a token for the provided location data as a vetted [partner](https://support.google.com/business/answer/7674102). Throws PERMISSION_DENIED if the caller is not a vetted partner account. Throws FAILED_PRECONDITION if the caller's VettedStatus is INVALID.",
          "httpMethod": "POST",
          "path": "v1/verificationTokens:generate",
          "request": {
            "$ref": "GenerateVerificationTokenRequest"
          },
          "parameters": {},
          "id": "mybusinessverifications.verificationTokens.generate"
        }
      }
    },
    "locations": {
      "methods": {
        "getVoiceOfMerchantState": {
          "id": "mybusinessverifications.locations.getVoiceOfMerchantState",
          "flatPath": "v1/locations/{locationsId}/VoiceOfMerchantState",
          "description": "Gets the VoiceOfMerchant state.",
          "response": {
            "$ref": "VoiceOfMerchantState"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}/VoiceOfMerchantState",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^locations/[^/]+$",
              "description": "Required. Resource name of the location.",
              "location": "path",
              "required": true
            }
          }
        },
        "verify": {
          "description": "Starts the verification process for a location.",
          "request": {
            "$ref": "VerifyLocationRequest"
          },
          "path": "v1/{+name}:verify",
          "flatPath": "v1/locations/{locationsId}:verify",
          "httpMethod": "POST",
          "id": "mybusinessverifications.locations.verify",
          "parameters": {
            "name": {
              "pattern": "^locations/[^/]+$",
              "location": "path",
              "description": "Required. Resource name of the location to verify.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "VerifyLocationResponse"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "fetchVerificationOptions": {
          "parameters": {
            "location": {
              "description": "Required. The location to verify.",
              "pattern": "^locations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "FetchVerificationOptionsRequest"
          },
          "flatPath": "v1/locations/{locationsId}:fetchVerificationOptions",
          "description": "Reports all eligible verification options for a location in a specific language.",
          "id": "mybusinessverifications.locations.fetchVerificationOptions",
          "parameterOrder": [
            "location"
          ],
          "path": "v1/{+location}:fetchVerificationOptions",
          "response": {
            "$ref": "FetchVerificationOptionsResponse"
          }
        }
      },
      "resources": {
        "verifications": {
          "methods": {
            "list": {
              "id": "mybusinessverifications.locations.verifications.list",
              "path": "v1/{+parent}/verifications",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVerificationsResponse"
              },
              "flatPath": "v1/locations/{locationsId}/verifications",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "How many verification to include per page. Minimum is 1, and the default and maximum page size is 100.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Resource name of the location that verification requests belong to.",
                  "location": "path",
                  "pattern": "^locations/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "If specified, returns the next page of verifications.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List verifications of a location, ordered by create time."
            },
            "complete": {
              "description": "Completes a `PENDING` verification. It is only necessary for non `AUTO` verification methods. `AUTO` verification request is instantly `VERIFIED` upon creation.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CompleteVerificationRequest"
              },
              "flatPath": "v1/locations/{locationsId}/verifications/{verificationsId}:complete",
              "path": "v1/{+name}:complete",
              "httpMethod": "POST",
              "response": {
                "$ref": "CompleteVerificationResponse"
              },
              "id": "mybusinessverifications.locations.verifications.complete",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the verification to complete.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/verifications/[^/]+$"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "The My Business Verifications API provides an interface for taking verifications related actions for locations.",
  "version_module": true,
  "ownerName": "Google",
  "rootUrl": "https://mybusinessverifications.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
