{
  "version_module": true,
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "discoveryVersion": "v1",
  "id": "cloudsupport:v2beta",
  "resources": {
    "attachments": {
      "methods": {
        "create": {
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudsupport.attachments.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "path": "v2beta/{+parent}/attachments",
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+$"
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/attachments",
          "httpMethod": "POST"
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "id": "cloudsupport.caseClassifications.search",
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out."
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\".",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v2beta/caseClassifications:search",
          "path": "v2beta/caseClassifications:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "id": "cloudsupport.media.upload",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "Attachment"
          },
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached."
            }
          },
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "path": "v2beta/{+parent}/attachments",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            }
          }
        },
        "download": {
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.media.download",
          "path": "v2beta/{+name}:download",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The resource name of the attachment to be downloaded.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$"
            }
          },
          "useMediaDownloadService": true,
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "response": {
            "$ref": "Media"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "cases": {
      "resources": {
        "comments": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudsupport.cases.comments.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Add a new comment to the specified Case. The comment object must have the following fields set: body.",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "httpMethod": "POST",
              "response": {
                "$ref": "Comment"
              },
              "request": {
                "$ref": "Comment"
              },
              "path": "v2beta/{+parent}/comments"
            },
            "list": {
              "httpMethod": "GET",
              "id": "cloudsupport.cases.comments.list",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "path": "v2beta/{+parent}/comments",
              "description": "Retrieve all Comments associated with the Case object.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "parameters": {
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "attachments": {
          "methods": {
            "list": {
              "id": "cloudsupport.cases.attachments.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "description": "Retrieve all attachments associated with a support case.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of Case object for which attachments should be listed.",
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v2beta/{+parent}/attachments"
            }
          }
        }
      },
      "methods": {
        "create": {
          "request": {
            "$ref": "Case"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The name of the Cloud resource under which the case should be created.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+$"
            }
          },
          "description": "Create a new case and associate it with the given Cloud resource. The case object must have the following fields set: display_name, description, classification, and severity.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.create",
          "path": "v2beta/{+parent}/cases"
        },
        "search": {
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "id": "cloudsupport.cases.search",
          "parameters": {
            "query": {
              "type": "string",
              "description": "An expression written in filter language. A query uses the following fields with the operators equals (`=`) and `AND`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. - `billingAccount`: A billing account in the form `billingAccounts/` You must specify eitehr `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` retricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `billing_account=\"billingAccounts/123456-A0B0C0-CUZ789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Search cases using the specified query.",
          "httpMethod": "GET",
          "flatPath": "v2beta/cases:search",
          "parameterOrder": [],
          "path": "v2beta/cases:search"
        },
        "close": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "id": "cloudsupport.cases.close",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The fully qualified name of the case resource to be closed."
            }
          },
          "path": "v2beta/{+name}:close",
          "response": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Close the specified case.",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CloseCaseRequest"
          }
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The fully qualified name of a case to be retrieved."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "httpMethod": "GET",
          "path": "v2beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieve the specified case.",
          "id": "cloudsupport.cases.get"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "path": "v2beta/{+name}",
          "description": "Update the specified case. Only a subset of fields can be updated.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The resource name for the case."
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "A list of attributes of the case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields are updated. WARNING: If you do not provide a field mask, then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses, then subscriber_email_addresses is updated to empty.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.patch"
        },
        "list": {
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "description": "Retrieve all cases under the specified parent. Note: Listing cases under an Organization returns only the cases directly parented by that organization. To retrieve all cases under an organization, including cases parented by projects under that organization, use `cases.search`.",
          "path": "v2beta/{+parent}/cases",
          "parameters": {
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "required": true
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "format": "int32"
            },
            "filter": {
              "description": "An expression written in filter language. If non-empty, the query returns the cases that match the filter. Else, the query doesn't filter the cases. Filter expressions use the following fields with the operators equals (`=`) and `AND`: - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. Examples: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "id": "cloudsupport.cases.list"
        },
        "escalate": {
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "id": "cloudsupport.cases.escalate",
          "httpMethod": "POST",
          "path": "v2beta/{+name}:escalate",
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "request": {
            "$ref": "EscalateCaseRequest"
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "revision": "20230224",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Support",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Cloud Support API",
  "batchPath": "batch",
  "schemas": {
    "Actor": {
      "properties": {
        "googleSupport": {
          "readOnly": true,
          "description": "Output only. Whether the actor is a Google support actor.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        }
      },
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "id": "Actor",
      "type": "object"
    },
    "CaseClassification": {
      "type": "object",
      "description": "A classification object with a product type and value.",
      "id": "CaseClassification",
      "properties": {
        "id": {
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the classification."
        }
      }
    },
    "ContentTypeInfo": {
      "type": "object",
      "properties": {
        "fromHeader": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "ContentTypeInfo",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Media": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadParameters": {
          "$ref": "DownloadParameters",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "mediaId": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha256Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "compositeMedia": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "array",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "diffVersionResponse": {
          "$ref": "DiffVersionResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffUploadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadResponse"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer",
          "format": "uint32"
        },
        "timestamp": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint64",
          "type": "string"
        },
        "referenceType": {
          "type": "string",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffDownloadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffDownloadResponse"
        },
        "isPotentialRetry": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "Media"
    },
    "CompositeMedia": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "md5Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ]
        }
      },
      "type": "object",
      "id": "CompositeMedia"
    },
    "ListCommentsResponse": {
      "id": "ListCommentsResponse",
      "type": "object",
      "description": "The response message for the ListComments endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "comments": {
          "description": "The list of Comments associated with the given Case.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      }
    },
    "DiffDownloadResponse": {
      "type": "object",
      "id": "DiffDownloadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      }
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "properties": {
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobGeneration": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadReadHandle": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "properties": {
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "chunkSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "CloseCaseRequest": {
      "properties": {},
      "id": "CloseCaseRequest",
      "type": "object",
      "description": "The request message for the CloseCase endpoint."
    },
    "SearchCasesResponse": {
      "id": "SearchCasesResponse",
      "description": "The response message for the SearchCases endpoint.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of Case associated with the cloud resource, after any filters have been applied.",
          "type": "array"
        }
      }
    },
    "ObjectId": {
      "id": "ObjectId",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "generation": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "ListAttachmentsResponse": {
      "id": "ListAttachmentsResponse",
      "type": "object",
      "description": "The response message for the ListAttachments endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "description": "The list of attachments associated with the given case.",
          "items": {
            "$ref": "Attachment"
          }
        }
      }
    },
    "DiffVersionResponse": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffVersionResponse",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "Escalation": {
      "type": "object",
      "id": "Escalation",
      "description": "An escalation of a support case.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Required. The reason why the Case is being escalated.",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ]
        },
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        }
      }
    },
    "DownloadParameters": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "ignoreRange": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        }
      },
      "id": "DownloadParameters"
    },
    "Case": {
      "description": "A support case.",
      "properties": {
        "testCase": {
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the case."
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "description": "The email addresses to receive updates on this case.",
          "items": {
            "type": "string"
          }
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "escalated": {
          "description": "Whether the case is currently escalated.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this case was last updated."
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "type": "string",
          "description": "The priority of this case. If this is set, do not set severity."
        },
        "displayName": {
          "description": "The short summary of the issue reported in this case.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this case was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API.",
          "type": "string"
        },
        "creator": {
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support.",
          "$ref": "Actor"
        },
        "languageCode": {
          "type": "string",
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours"
        },
        "state": {
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "type": "string",
          "description": "Output only. The current status of the support case.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "severity": {
          "description": "The severity of this case. Deprecated. Use priority instead.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "type": "string",
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ]
        }
      },
      "id": "Case",
      "type": "object"
    },
    "CreateAttachmentRequest": {
      "description": "The request message for the CreateAttachment endpoint.",
      "type": "object",
      "id": "CreateAttachmentRequest",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      }
    },
    "Comment": {
      "id": "Comment",
      "description": "A comment associated with a support case.",
      "properties": {
        "plainTextBody": {
          "readOnly": true,
          "description": "Output only. An automatically generated plain text version of body with all rich text syntax stripped.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user or Google Support agent created this comment.",
          "$ref": "Actor",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when this comment was created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for the comment."
        },
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 120000 characters. This can contain rich text syntax."
        }
      },
      "type": "object"
    },
    "DiffUploadResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffUploadResponse",
      "type": "object"
    },
    "WorkflowOperationMetadata": {
      "description": "Metadata about the operation. Used to lookup the current status.",
      "properties": {
        "workflowOperationType": {
          "description": "Which version of the workflow service this operation came from.",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ],
          "type": "string"
        },
        "operationAction": {
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "description": "The type of action the operation is classified as.",
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "type": "string"
        },
        "namespace": {
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved.",
          "type": "string"
        }
      },
      "id": "WorkflowOperationMetadata",
      "type": "object"
    },
    "DiffUploadRequest": {
      "type": "object",
      "id": "DiffUploadRequest",
      "properties": {
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "EscalateCaseRequest": {
      "type": "object",
      "description": "The request message for the EscalateCase endpoint.",
      "properties": {
        "escalation": {
          "$ref": "Escalation",
          "description": "The escalation object to be sent with the escalation request."
        }
      },
      "id": "EscalateCaseRequest"
    },
    "Attachment": {
      "id": "Attachment",
      "description": "Represents a file attached to a support case.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the attachment.",
          "readOnly": true
        },
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The size of the attachment in bytes."
        },
        "mimeType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The MIME type of the attachment (e.g. text/plain)."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the attachment was created."
        },
        "filename": {
          "type": "string",
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`)."
        }
      }
    },
    "SearchCaseClassificationsResponse": {
      "properties": {
        "caseClassifications": {
          "items": {
            "$ref": "CaseClassification"
          },
          "type": "array",
          "description": "The classifications retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "id": "SearchCaseClassificationsResponse"
    },
    "ListCasesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the cloud resource, after any filters have been applied.",
          "type": "array"
        }
      },
      "description": "The response message for the ListCases endpoint.",
      "type": "object",
      "id": "ListCasesResponse"
    }
  },
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "basePath": "",
  "name": "cloudsupport",
  "protocol": "rest",
  "servicePath": "",
  "version": "v2beta"
}
