{
  "rootUrl": "https://classroom.googleapis.com/",
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "baseUrl": "https://classroom.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/classroom/",
  "ownerName": "Google",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "revision": "20230220",
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Google Classroom API",
  "basePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "classroom",
  "resources": {
    "invitations": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
          "parameters": {},
          "parameterOrder": [],
          "path": "v1/invitations",
          "flatPath": "v1/invitations",
          "httpMethod": "POST",
          "id": "classroom.invitations.create",
          "response": {
            "$ref": "Invitation"
          },
          "request": {
            "$ref": "Invitation"
          }
        },
        "delete": {
          "parameters": {
            "id": {
              "required": true,
              "description": "Identifier of the invitation to delete.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/invitations/{id}",
          "path": "v1/invitations/{id}",
          "id": "classroom.invitations.delete",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID."
        },
        "accept": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "path": "v1/invitations/{id}:accept",
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "id": "classroom.invitations.accept",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Identifier of the invitation to accept.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/invitations/{id}:accept",
          "response": {
            "$ref": "Empty"
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "classroom.invitations.list",
          "path": "v1/invitations",
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "flatPath": "v1/invitations",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results."
            },
            "userId": {
              "location": "query",
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "type": "string"
            },
            "courseId": {
              "location": "query",
              "type": "string",
              "description": "Restricts returned invitations to those for a course with the specified identifier."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "response": {
            "$ref": "ListInvitationsResponse"
          },
          "parameterOrder": []
        },
        "get": {
          "path": "v1/invitations/{id}",
          "flatPath": "v1/invitations/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Identifier of the invitation to return.",
              "required": true,
              "type": "string"
            }
          },
          "id": "classroom.invitations.get",
          "response": {
            "$ref": "Invitation"
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID."
        }
      }
    },
    "courses": {
      "resources": {
        "students": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Returns a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "description": "Identifier of the student to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Student"
              },
              "id": "classroom.courses.students.get",
              "path": "v1/courses/{courseId}/students/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Student"
              },
              "response": {
                "$ref": "Student"
              },
              "path": "v1/courses/{courseId}/students",
              "parameterOrder": [
                "courseId"
              ],
              "description": "Adds a user as a student of a course. Domain administrators are permitted to [directly add](https://developers.google.com/classroom/guides/manage-users) users within their domain as students to courses within their domain. Students are permitted to add themselves to a course using an enrollment code. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create students in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a student or teacher in the course.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/students",
              "id": "classroom.courses.students.create",
              "parameters": {
                "enrollmentCode": {
                  "description": "Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              }
            },
            "delete": {
              "path": "v1/courses/{courseId}/students/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "classroom.courses.students.delete",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "parameters": {
                "userId": {
                  "description": "Identifier of the student to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Returns a list of students of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "parameterOrder": [
                "courseId"
              ],
              "id": "classroom.courses.students.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListStudentsResponse"
              },
              "path": "v1/courses/{courseId}/students",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/students"
            }
          }
        },
        "courseWork": {
          "resources": {
            "studentSubmissions": {
              "methods": {
                "reclaim": {
                  "description": "Reclaims a student submission on behalf of the student that owns it. Reclaiming a student submission transfers ownership of attached Drive files to the student and updates the submission state. Only the student that owns the requested student submission may call this method, and only for a student submission that has been turned in. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, unsubmit the requested student submission, or for access errors. * `FAILED_PRECONDITION` if the student submission has not been turned in. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me"
                  ],
                  "parameters": {
                    "id": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Identifier of the student submission."
                    },
                    "courseWorkId": {
                      "description": "Identifier of the course work.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "courseId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                    }
                  },
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "ReclaimStudentSubmissionRequest"
                  },
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                  "httpMethod": "POST",
                  "id": "classroom.courses.courseWork.studentSubmissions.reclaim"
                },
                "patch": {
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "description": "Updates one or more fields of a student submission. See google.classroom.v1.StudentSubmission for details of which fields may be updated and who may change them. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "id": "classroom.courses.courseWork.studentSubmissions.patch",
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "request": {
                    "$ref": "StudentSubmission"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ],
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                    },
                    "courseWorkId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the course work."
                    },
                    "id": {
                      "location": "path",
                      "description": "Identifier of the student submission.",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Mask that identifies which fields on the student submission to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields may be specified by teachers: * `draft_grade` * `assigned_grade`"
                    }
                  }
                },
                "modifyAttachments": {
                  "parameters": {
                    "courseWorkId": {
                      "description": "Identifier of the course work.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "location": "path"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier of the student submission.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ],
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                  "id": "classroom.courses.courseWork.studentSubmissions.modifyAttachments",
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "description": "Modifies attachments of student submission. Attachments may only be added to student submissions belonging to course work objects with a `workType` of `ASSIGNMENT`. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, if the user is not permitted to modify attachments on the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "request": {
                    "$ref": "ModifyAttachmentsRequest"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListStudentSubmissionsResponse"
                  },
                  "id": "classroom.courses.courseWork.studentSubmissions.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "userId": {
                      "description": "Optional argument to restrict returned student work to those owned by the student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "states": {
                      "location": "query",
                      "description": "Requested submission states. If specified, returned student submissions match one of the specified submission states.",
                      "enumDescriptions": [
                        "No state specified. This should never be returned.",
                        "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
                        "Has been created.",
                        "Has been turned in to the teacher.",
                        "Has been returned to the student.",
                        "Student chose to \"unsubmit\" the assignment."
                      ],
                      "repeated": true,
                      "enum": [
                        "SUBMISSION_STATE_UNSPECIFIED",
                        "NEW",
                        "CREATED",
                        "TURNED_IN",
                        "RETURNED",
                        "RECLAIMED_BY_STUDENT"
                      ],
                      "type": "string"
                    },
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "late": {
                      "enumDescriptions": [
                        "No restriction on submission late values specified.",
                        "Return StudentSubmissions where late is true.",
                        "Return StudentSubmissions where late is false."
                      ],
                      "enum": [
                        "LATE_VALUES_UNSPECIFIED",
                        "LATE_ONLY",
                        "NOT_LATE_ONLY"
                      ],
                      "location": "query",
                      "description": "Requested lateness value. If specified, returned student submissions are restricted by the requested value. If unspecified, submissions are returned regardless of `late` value.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                    },
                    "courseWorkId": {
                      "description": "Identifier of the student work to request. This may be set to the string literal `\"-\"` to request student work for all course work in the specified course.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions",
                  "description": "Returns a list of student submissions that the requester is permitted to view, factoring in the OAuth scopes of the request. `-` may be specified as the `course_work_id` to include student submissions for multiple course work items. Course students may only view their own work. Course teachers and domain administrators may view all student submissions. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                    "https://www.googleapis.com/auth/classroom.coursework.students",
                    "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId"
                  ]
                },
                "get": {
                  "description": "Returns a student submission. * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, course work, or student submission or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "httpMethod": "GET",
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "parameters": {
                    "courseId": {
                      "type": "string",
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "required": true,
                      "location": "path"
                    },
                    "courseWorkId": {
                      "description": "Identifier of the course work.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier of the student submission.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                    "https://www.googleapis.com/auth/classroom.coursework.students",
                    "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                  ],
                  "id": "classroom.courses.courseWork.studentSubmissions.get"
                },
                "turnIn": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me"
                  ],
                  "parameters": {
                    "courseWorkId": {
                      "description": "Identifier of the course work.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "id": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the student submission.",
                      "location": "path"
                    },
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "TurnInStudentSubmissionRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "classroom.courses.courseWork.studentSubmissions.turnIn",
                  "description": "Turns in a student submission. Turning in a student submission transfers ownership of attached Drive files to the teacher and may also update the submission state. This may only be called by the student that owns the specified student submission. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, turn in the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn"
                },
                "return": {
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                  "id": "classroom.courses.courseWork.studentSubmissions.return",
                  "description": "Returns a student submission. Returning a student submission transfers ownership of attached Drive files to the student and may also update the submission state. Unlike the Classroom application, returning a student submission does not set assignedGrade to the draftGrade value. Only a teacher of the course that contains the requested student submission may call this method. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, return the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                    },
                    "courseWorkId": {
                      "description": "Identifier of the course work.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "id": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the student submission.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ],
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "ReturnStudentSubmissionRequest"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1/courses/{courseId}/courseWork",
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/courseWork",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ],
              "parameters": {
                "courseWorkStates": {
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for work that has been published. This is the default state.",
                    "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
                    "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
                  ],
                  "location": "query",
                  "enum": [
                    "COURSE_WORK_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "description": "Restriction on the work status to return. Only courseWork that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned."
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported fields are `updateTime` and `dueDate`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `dueDate asc,updateTime desc`, `updateTime,dueDate desc`"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListCourseWorkResponse"
              },
              "description": "Returns a list of course work that the requester is permitted to view. Course students may only view `PUBLISHED` course work. Course teachers and domain administrators may view all course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "id": "classroom.courses.courseWork.list"
            },
            "modifyAssignees": {
              "id": "classroom.courses.courseWork.modifyAssignees",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
              "description": "Modifies assignee mode and options of a coursework. Only a teacher of the course that contains the coursework may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
              "parameters": {
                "id": {
                  "description": "Identifier of the coursework.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "courseId": {
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "ModifyCourseWorkAssigneesRequest"
              },
              "path": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
              "response": {
                "$ref": "CourseWork"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ]
            },
            "patch": {
              "description": "Updates one or more fields of a course work. See google.classroom.v1.CourseWork for details of which fields may be updated and who may change them. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
              "id": "classroom.courses.courseWork.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the course work.",
                  "location": "path",
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Mask that identifies which fields on the course work to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the CourseWork object. If a field that does not support empty values is included in the update mask and not set in the CourseWork object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `due_date` * `due_time` * `max_points` * `scheduled_time` * `submission_modification_mode` * `topic_id`"
                }
              },
              "response": {
                "$ref": "CourseWork"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "request": {
                "$ref": "CourseWork"
              },
              "path": "v1/courses/{courseId}/courseWork/{id}"
            },
            "get": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.courseWork.get",
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "description": "Returns course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ],
              "response": {
                "$ref": "CourseWork"
              },
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course work."
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "create": {
              "request": {
                "$ref": "CourseWork"
              },
              "response": {
                "$ref": "CourseWork"
              },
              "path": "v1/courses/{courseId}/courseWork",
              "flatPath": "v1/courses/{courseId}/courseWork",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "description": "Creates course work. The resulting course work (and corresponding student submissions) are associated with the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to make the request. Classroom API requests to modify course work and student submissions must be made with an OAuth client ID from the associated Developer Console project. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "classroom.courses.courseWork.create"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course work to delete. This identifier is a Classroom-assigned identifier."
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "description": "Deletes a course work. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "httpMethod": "DELETE",
              "id": "classroom.courses.courseWork.delete",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork/{id}"
            }
          }
        },
        "topics": {
          "methods": {
            "get": {
              "path": "v1/courses/{courseId}/topics/{id}",
              "httpMethod": "GET",
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the topic.",
                  "required": true
                },
                "courseId": {
                  "description": "Identifier of the course.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "classroom.courses.topics.get",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "response": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Returns a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or topic, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist."
            },
            "list": {
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                }
              },
              "flatPath": "v1/courses/{courseId}/topics",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListTopicResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "id": "classroom.courses.topics.list",
              "path": "v1/courses/{courseId}/topics",
              "description": "Returns the list of topics that the requester is permitted to view. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "parameterOrder": [
                "courseId"
              ]
            },
            "delete": {
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "Identifier of the topic to delete.",
                  "location": "path",
                  "required": true
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "classroom.courses.topics.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "path": "v1/courses/{courseId}/topics/{id}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "description": "Deletes a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not allowed to delete the requested topic or for access errors. * `FAILED_PRECONDITION` if the requested topic has already been deleted. * `NOT_FOUND` if no course or topic exists with the requested ID.",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            },
            "create": {
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Creates a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create a topic in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "path": "v1/courses/{courseId}/topics",
              "id": "classroom.courses.topics.create",
              "flatPath": "v1/courses/{courseId}/topics",
              "request": {
                "$ref": "Topic"
              },
              "response": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates one or more fields of a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding topic or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist",
              "parameters": {
                "id": {
                  "description": "Identifier of the topic.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Mask that identifies which fields on the topic to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Topic object. If a field that does not support empty values is included in the update mask and not set in the Topic object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified: * `name`",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "request": {
                "$ref": "Topic"
              },
              "path": "v1/courses/{courseId}/topics/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.patch"
            }
          }
        },
        "teachers": {
          "methods": {
            "delete": {
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "id": "classroom.courses.teachers.delete",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "httpMethod": "DELETE",
              "description": "Removes the specified teacher from the specified course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course. * `FAILED_PRECONDITION` if the requested ID belongs to the owner of the course Drive folder. * `FAILED_PRECONDITION` if the course no longer has an active owner.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "required": true
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "id": "classroom.courses.teachers.get",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Teacher"
              },
              "httpMethod": "GET",
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ]
            },
            "list": {
              "path": "v1/courses/{courseId}/teachers",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "parameterOrder": [
                "courseId"
              ],
              "id": "classroom.courses.teachers.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "type": "integer"
                }
              },
              "flatPath": "v1/courses/{courseId}/teachers"
            },
            "create": {
              "path": "v1/courses/{courseId}/teachers",
              "request": {
                "$ref": "Teacher"
              },
              "description": "Creates a teacher of a course. Domain administrators are permitted to [directly add](https://developers.google.com/classroom/guides/manage-users) users within their domain as teachers to courses within their domain. Non-admin users should send an Invitation instead. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "Teacher"
              },
              "flatPath": "v1/courses/{courseId}/teachers",
              "id": "classroom.courses.teachers.create"
            }
          }
        },
        "courseWorkMaterials": {
          "methods": {
            "list": {
              "description": "Returns a list of course work material that the requester is permitted to view. Course students may only view `PUBLISHED` course work material. Course teachers and domain administrators may view all course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "response": {
                "$ref": "ListCourseWorkMaterialResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "id": "classroom.courses.courseWorkMaterials.list",
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer"
                },
                "materialDriveId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional filtering for course work material with at least one Drive material whose ID matches the provided string. If `material_link` is also specified, course work material must have materials matching both filters."
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "courseWorkMaterialStates": {
                  "location": "query",
                  "description": "Restriction on the work status to return. Only course work material that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                  "type": "string",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for course work material that has been published. This is the default state.",
                    "Status for an course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
                    "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
                  ],
                  "enum": [
                    "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "repeated": true
                },
                "materialLink": {
                  "type": "string",
                  "description": "Optional filtering for course work material with at least one link material whose URL partially matches the provided string.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`"
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "id": "classroom.courses.courseWorkMaterials.create",
              "parameterOrder": [
                "courseId"
              ],
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "description": "Creates a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work material in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed or if more than 20 * materials are provided. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "httpMethod": "POST",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "description": "Returns a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work material, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work material does not exist.",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.courseWorkMaterials.get",
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "Identifier of the course work material.",
                  "required": true,
                  "location": "path"
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "response": {
                "$ref": "CourseWorkMaterial"
              }
            },
            "delete": {
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course work material to delete. This identifier is a Classroom-assigned identifier.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "id": "classroom.courses.courseWorkMaterials.delete",
              "httpMethod": "DELETE",
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "description": "Deletes a course work material. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work material item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work material, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            },
            "patch": {
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "parameters": {
                "id": {
                  "description": "Identifier of the course work material.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "courseId": {
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Mask that identifies which fields on the course work material to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the course work material object. If a field that does not support empty values is included in the update mask and not set in the course work material object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `scheduled_time` * `topic_id`"
                }
              },
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "description": "Updates one or more fields of a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if the requested course or course work material does not exist",
              "id": "classroom.courses.courseWorkMaterials.patch"
            }
          }
        },
        "announcements": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "description": "Returns an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or announcement, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or announcement does not exist.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the announcement."
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "httpMethod": "GET",
              "id": "classroom.courses.announcements.get",
              "response": {
                "$ref": "Announcement"
              },
              "path": "v1/courses/{courseId}/announcements/{id}"
            },
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "parameterOrder": [
                "courseId"
              ],
              "request": {
                "$ref": "Announcement"
              },
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "flatPath": "v1/courses/{courseId}/announcements",
              "id": "classroom.courses.announcements.create",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Announcement"
              },
              "path": "v1/courses/{courseId}/announcements"
            },
            "patch": {
              "parameters": {
                "id": {
                  "description": "Identifier of the announcement.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "courseId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `text` * `state` * `scheduled_time`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Announcement"
              },
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "id": "classroom.courses.announcements.patch",
              "httpMethod": "PATCH",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "description": "Updates one or more fields of an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if the requested course or announcement does not exist",
              "request": {
                "$ref": "Announcement"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ]
            },
            "list": {
              "path": "v1/courses/{courseId}/announcements",
              "response": {
                "$ref": "ListAnnouncementsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ],
              "description": "Returns a list of announcements that the requester is permitted to view. Course students may only view `PUBLISHED` announcements. Course teachers and domain administrators may view all announcements. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "parameters": {
                "announcementStates": {
                  "repeated": true,
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for announcement that has been published. This is the default state.",
                    "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
                    "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
                  ],
                  "enum": [
                    "ANNOUNCEMENT_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Restriction on the `state` of announcements returned. If this argument is left unspecified, the default value is `PUBLISHED`."
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`"
                }
              },
              "id": "classroom.courses.announcements.list",
              "flatPath": "v1/courses/{courseId}/announcements"
            },
            "modifyAssignees": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "request": {
                "$ref": "ModifyAnnouncementAssigneesRequest"
              },
              "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "response": {
                "$ref": "Announcement"
              },
              "description": "Modifies assignee mode and options of an announcement. Only a teacher of the course that contains the announcement may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
              "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "parameters": {
                "id": {
                  "description": "Identifier of the announcement.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "classroom.courses.announcements.modifyAssignees"
            },
            "delete": {
              "parameters": {
                "courseId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "description": "Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "id": "classroom.courses.announcements.delete",
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "description": "Deletes an announcement. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            }
          }
        },
        "aliases": {
          "methods": {
            "create": {
              "id": "classroom.courses.aliases.create",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "path": "v1/courses/{courseId}/aliases",
              "request": {
                "$ref": "CourseAlias"
              },
              "flatPath": "v1/courses/{courseId}/aliases",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CourseAlias"
              },
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "POST",
[...]
