{
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "revision": "20230222",
  "canonicalName": "Acceleratedmobilepageurl",
  "version": "v1",
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "parameterOrder": [],
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "path": "v1/ampUrls:batchGet",
          "flatPath": "v1/ampUrls:batchGet"
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "AmpUrlError": {
      "id": "AmpUrlError",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "An optional descriptive error message."
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "errorCode": {
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because it's unable to be found, not able to be accessed by Googlebot, or some other error.",
            "Indicates no AMP URL has been found that corresponds to the requested URL.",
            "Indicates some kind of application error occurred at the server. Client advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL. This is a non-error state, should not be relied upon as a sign of success or failure. It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request URL, but it is not valid AMP HTML."
          ],
          "description": "The error code of an API call.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ]
        }
      },
      "description": "AMP URL Error resource for a requested URL that couldn't be found."
    },
    "BatchGetAmpUrlsRequest": {
      "properties": {
        "urls": {
          "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits)).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lookupStrategy": {
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in the index. Any request URL not found in the index is crawled in realtime to validate if there is a corresponding AMP URL. This strategy has higher coverage but with extra latency introduced by realtime crawling. This is the default strategy. Applications using this strategy should set higher HTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found in index. For applications which need low latency use of IN_INDEX_DOC strategy is recommended."
          ],
          "type": "string",
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ],
          "description": "The lookup_strategy being requested."
        }
      },
      "description": "AMP URL request for a batch of URLs.",
      "type": "object",
      "id": "BatchGetAmpUrlsRequest"
    },
    "AmpUrl": {
      "type": "object",
      "properties": {
        "ampUrl": {
          "description": "The AMP URL pointing to the publisher's web server.",
          "type": "string"
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "cdnAmpUrl": {
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache.",
          "type": "string"
        }
      },
      "description": "AMP URL response for a requested URL.",
      "id": "AmpUrl"
    },
    "BatchGetAmpUrlsResponse": {
      "id": "BatchGetAmpUrlsResponse",
      "properties": {
        "ampUrls": {
          "items": {
            "$ref": "AmpUrl"
          },
          "type": "array",
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once."
        },
        "urlErrors": {
          "type": "array",
          "items": {
            "$ref": "AmpUrlError"
          },
          "description": "The errors for requested URLs that have no AMP URL."
        }
      },
      "description": "Batch AMP URL response.",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://acceleratedmobilepageurl.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "name": "acceleratedmobilepageurl",
  "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). ",
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "documentationLink": "https://developers.google.com/amp/cache/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "id": "acceleratedmobilepageurl:v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  }
}
