{
  "revision": "20230226",
  "discoveryVersion": "v1",
  "name": "acceleratedmobilepageurl",
  "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). ",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Acceleratedmobilepageurl",
  "documentationLink": "https://developers.google.com/amp/cache/",
  "ownerName": "Google",
  "servicePath": "",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "schemas": {
    "AmpUrlError": {
      "type": "object",
      "description": "AMP URL Error resource for a requested URL that couldn't be found.",
      "properties": {
        "errorCode": {
          "description": "The error code of an API call.",
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because it's unable to be found, not able to be accessed by Googlebot, or some other error.",
            "Indicates no AMP URL has been found that corresponds to the requested URL.",
            "Indicates some kind of application error occurred at the server. Client advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL. This is a non-error state, should not be relied upon as a sign of success or failure. It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request URL, but it is not valid AMP HTML."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ]
        },
        "originalUrl": {
          "type": "string",
          "description": "The original non-AMP URL."
        },
        "errorMessage": {
          "type": "string",
          "description": "An optional descriptive error message."
        }
      },
      "id": "AmpUrlError"
    },
    "BatchGetAmpUrlsResponse": {
      "properties": {
        "urlErrors": {
          "items": {
            "$ref": "AmpUrlError"
          },
          "type": "array",
          "description": "The errors for requested URLs that have no AMP URL."
        },
        "ampUrls": {
          "type": "array",
          "items": {
            "$ref": "AmpUrl"
          },
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once."
        }
      },
      "id": "BatchGetAmpUrlsResponse",
      "description": "Batch AMP URL response.",
      "type": "object"
    },
    "AmpUrl": {
      "description": "AMP URL response for a requested URL.",
      "properties": {
        "cdnAmpUrl": {
          "type": "string",
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache."
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "ampUrl": {
          "type": "string",
          "description": "The AMP URL pointing to the publisher's web server."
        }
      },
      "id": "AmpUrl",
      "type": "object"
    },
    "BatchGetAmpUrlsRequest": {
      "type": "object",
      "id": "BatchGetAmpUrlsRequest",
      "description": "AMP URL request for a batch of URLs.",
      "properties": {
        "urls": {
          "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits)).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lookupStrategy": {
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ],
          "type": "string",
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in the index. Any request URL not found in the index is crawled in realtime to validate if there is a corresponding AMP URL. This strategy has higher coverage but with extra latency introduced by realtime crawling. This is the default strategy. Applications using this strategy should set higher HTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found in index. For applications which need low latency use of IN_INDEX_DOC strategy is recommended."
          ],
          "description": "The lookup_strategy being requested."
        }
      }
    }
  },
  "version": "v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "version_module": true,
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "flatPath": "v1/ampUrls:batchGet",
          "parameterOrder": [],
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "path": "v1/ampUrls:batchGet",
          "httpMethod": "POST",
          "description": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "parameters": {}
        }
      }
    }
  },
  "mtlsRootUrl": "https://acceleratedmobilepageurl.mtls.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "id": "acceleratedmobilepageurl:v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "ownerDomain": "google.com"
}
