{
  "canonicalName": "DataTransfer",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "title": "Admin SDK API",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "id": "admin:datatransfer_v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20230212",
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "protocol": "rest",
  "version": "datatransfer_v1",
  "batchPath": "batch",
  "rootUrl": "https://admin.googleapis.com/",
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "packagePath": "admin",
  "schemas": {
    "Application": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](/admin-sdk/data-transfer/reference/rest/v1/applications/list) method."
        }
      },
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object"
    },
    "DataTransfer": {
      "properties": {
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer"
    },
    "ApplicationTransferParam": {
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam"
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationId": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        },
        "applicationTransferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](/admin-sdk/data-transfer/v1/parameters) reference."
        }
      }
    },
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array",
          "description": "List of data transfer requests."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        }
      },
      "id": "DataTransfersListResponse",
      "type": "object"
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applications": {
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          }
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        }
      }
    }
  },
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "id": "datatransfer.transfers.get",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameterOrder": [
            "dataTransferId"
          ],
          "parameters": {
            "dataTransferId": {
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "path": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify the next page in the list."
            },
            "status": {
              "type": "string",
              "description": "Status of the transfer.",
              "location": "query"
            },
            "oldOwnerUserId": {
              "location": "query",
              "description": "Source user's profile ID.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "maximum": "500",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query"
            }
          }
        },
        "insert": {
          "request": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Inserts a data transfer request. See the [Transfer parameters](/admin-sdk/data-transfer/v1/parameters) reference for specific application requirements.",
          "id": "datatransfer.transfers.insert",
          "parameters": {},
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "flatPath": "admin/datatransfer/v1/transfers"
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "type": "integer",
              "location": "query",
              "maximum": "500",
              "format": "int32",
              "minimum": "1"
            },
            "customerId": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          },
          "id": "datatransfer.applications.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "parameterOrder": [],
          "description": "Lists the applications available for data transfer for a customer."
        },
        "get": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "ID of the application resource to be retrieved.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "id": "datatransfer.applications.get",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/admin-sdk/",
  "ownerName": "Google",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true
}
