{
  "ownerDomain": "google.com",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "revision": "20230222",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "An API for managing Drive Labels",
  "documentationLink": "https://developers.google.com/drive/labels",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "baseUrl": "https://drivelabels.googleapis.com/",
  "title": "Drive Labels API",
  "id": "drivelabels:v2",
  "version": "v2",
  "canonicalName": "Drive Labels",
  "resources": {
    "labels": {
      "methods": {
        "get": {
          "flatPath": "v2/labels/{labelsId}",
          "id": "drivelabels.labels.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "location": "path",
              "pattern": "^labels/[^/]+$"
            },
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Get a label by its resource name. Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "list": {
          "parameters": {
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "location": "query",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all Labels within the customer."
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "minimumRole": {
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "description": "Specifies the level of access the user must have on the returned Labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "location": "query",
              "type": "string",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The token of the page to return.",
              "location": "query"
            },
            "publishedOnly": {
              "location": "query",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "type": "boolean"
            },
            "pageSize": {
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          },
          "flatPath": "v2/labels",
          "httpMethod": "GET",
          "description": "List labels.",
          "parameterOrder": [],
          "path": "v2/labels",
          "id": "drivelabels.labels.list"
        }
      }
    }
  },
  "name": "drivelabels",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "basePath": "",
  "schemas": {
    "GoogleAppsDriveLabelsV2Field": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2Field",
      "properties": {
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this field."
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`",
          "readOnly": true
        },
        "lockStatus": {
          "readOnly": true,
          "description": "Output only. The LockStatus of this field.",
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. The lifecycle of this field."
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "publisher": {
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints",
          "readOnly": true
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "readOnly": true
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
          "description": "Selection field options."
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` \u003e 2001-01-01\".",
          "type": "string",
          "readOnly": true
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this field was created."
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
          "readOnly": true
        },
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        }
      },
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "description": "The basic properties of the field.",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "type": "object",
      "description": "Options for the Text field type.",
      "properties": {
        "maxLength": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The maximum valid length of values for the text field."
        },
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2BadgeConfig",
      "properties": {
        "priorityOverride": {
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64"
        },
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        }
      },
      "description": "Badge status of the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        },
        "choices": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          },
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`."
        }
      },
      "type": "object",
      "description": "Options for the selection field type."
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "description": "Contains information about whether a label component should be considered locked.",
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a LabelLock. A label component can be implicitly locked even if it's not the direct target of a LabelLock, in which case this field is set to false.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2Label": {
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label was created.",
          "readOnly": true,
          "type": "string"
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label revision was created.",
          "type": "string",
          "readOnly": true
        },
        "labelType": {
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features."
          ],
          "description": "Required. The type of label.",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities"
        },
        "fields": {
          "description": "List of fields in descending priority order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          }
        },
        "appliedLabelPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "readOnly": true,
          "description": "Output only. Behavior of this label when it's applied to Drive items."
        },
        "disabler": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this label. This value has no meaning when the label is not disabled."
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`",
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label is not disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this label."
        },
        "lockStatus": {
          "readOnly": true,
          "description": "Output only. The LockStatus of this label.",
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "readOnly": true,
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes."
        },
        "revisionCreator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this label revision."
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`",
          "type": "string"
        },
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this label was published. This value has no meaning when the label is not published."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2Label"
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "description": "Basic properties of the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelProperties"
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "properties": {
        "maxEntries": {
          "type": "integer",
          "description": "Maximum number of entries permitted.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "description": "Options for a multi-valued variant of an associated field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "properties": {
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The LockStatus of this choice.",
          "readOnly": true
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
          "readOnly": true
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "id": {
          "type": "string",
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this choice was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "publishTime": {
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints"
        },
        "updateTime": {
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Basic properties of the choice."
        },
        "appliedCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "lifecycle": {
          "readOnly": true,
          "description": "Output only. Lifecycle of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        }
      },
      "description": "Selection field choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "description": "The capabilities related to this choice when editing the choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "description": "Behavior of this label when it's applied to Drive items.",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values are not copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "properties": {
        "foregroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true
        },
        "soloColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Color that can be used for text without a background."
        },
        "backgroundColor": {
          "readOnly": true,
          "description": "Output only. Badge background that pairs with the foreground.",
          "$ref": "GoogleTypeColor"
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        }
      },
      "description": "Response for listing Labels."
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "type": "object",
      "description": "The capabilities related to this field on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Output only. The minimum valid value for the integer field.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "maxValue": {
          "type": "string",
          "description": "Output only. The maximum valid value for the integer field.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "description": "The lifecycle state of an object, such as label, field, or choice. The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -\u003e `PUBLISHED` * `UNPUBLISHED_DRAFT` -\u003e (Deleted) * `PUBLISHED` -\u003e `DISABLED` * `DISABLED` -\u003e `PUBLISHED` * `DISABLED` -\u003e (Deleted) The published and disabled states have some distinct characteristics: * Published—Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes are not permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * Disabled—When disabled, the configured `DisabledPolicy` takes effect.",
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "properties": {
        "hasUnpublishedChanges": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes."
        },
        "state": {
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Output only. The state of the object associated with this lifecycle."
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      },
      "type": "object"
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "properties": {
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "description": "The capabilities related to this label when editing the label.",
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "properties": {
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "format": "int64",
          "description": "Order to display label in a list."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the label should be shown in the UI as disabled."
        }
      },
      "description": "UI display hints for rendering the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints"
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "description": "Options for the date field type.",
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "type": "object",
      "properties": {
        "maxValue": {
          "readOnly": true,
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        },
        "dateFormatType": {
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "type": "string",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale."
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "type": "string",
          "readOnly": true
        },
        "minValue": {
          "readOnly": true,
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "description": "The capabilities a user has on this label's applied metadata.",
      "properties": {
        "canRemove": {
          "type": "boolean",
          "description": "Whether the user can remove this label from items."
        },
        "canApply": {
          "type": "boolean",
          "description": "Whether the user can apply this label to items."
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "type": "object",
      "description": "UI display hints for rendering an option.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "properties": {
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the option should be shown in the UI as disabled."
        },
        "badgePriority": {
          "format": "int64",
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority."
        },
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "type": "object",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints",
      "properties": {
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the field should be shown in the UI as disabled."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "description": "Information about a user.",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the People API to get more information. For example, people/12345678.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UserInfo"
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "description": "Options for the user field type.",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
      "description": "Basic properties of the choice.",
      "properties": {
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled."
        }
      },
      "description": "The capabilities related to this field when editing the field.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      }
    }
  },
  "version_module": true,
  "batchPath": "batch"
}
