{
  "canonicalName": "Cloud Natural Language",
  "name": "language",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/natural-language/",
  "baseUrl": "https://language.googleapis.com/",
  "title": "Cloud Natural Language API",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "id": "language:v1beta2",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "version_module": true,
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1beta2",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "AnalyzeEntitySentimentResponse": {
      "id": "AnalyzeEntitySentimentResponse",
      "properties": {
        "entities": {
          "description": "The recognized entities in the input document with associated sentiments.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        }
      },
      "description": "The entity-level sentiment analysis response message.",
      "type": "object"
    },
    "AnalyzeEntitySentimentRequest": {
      "id": "AnalyzeEntitySentimentRequest",
      "description": "The entity-level sentiment analysis request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "type": "string",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "description": "The encoding type used by the API to calculate offsets."
        }
      },
      "type": "object"
    },
    "PartOfSpeech": {
      "id": "PartOfSpeech",
      "type": "object",
      "description": "Represents part of speech information for a token.",
      "properties": {
        "form": {
          "enumDescriptions": [
            "Form is not applicable in the analyzed language or is not predicted.",
            "Adnomial",
            "Auxiliary",
            "Complementizer",
            "Final ending",
            "Gerund",
            "Realis",
            "Irrealis",
            "Short form",
            "Long form",
            "Order form",
            "Specific form"
          ],
          "description": "The grammatical form.",
          "enum": [
            "FORM_UNKNOWN",
            "ADNOMIAL",
            "AUXILIARY",
            "COMPLEMENTIZER",
            "FINAL_ENDING",
            "GERUND",
            "REALIS",
            "IRREALIS",
            "SHORT",
            "LONG",
            "ORDER",
            "SPECIFIC"
          ],
          "type": "string"
        },
        "person": {
          "enumDescriptions": [
            "Person is not applicable in the analyzed language or is not predicted.",
            "First",
            "Second",
            "Third",
            "Reflexive"
          ],
          "enum": [
            "PERSON_UNKNOWN",
            "FIRST",
            "SECOND",
            "THIRD",
            "REFLEXIVE_PERSON"
          ],
          "type": "string",
          "description": "The grammatical person."
        },
        "gender": {
          "description": "The grammatical gender.",
          "enum": [
            "GENDER_UNKNOWN",
            "FEMININE",
            "MASCULINE",
            "NEUTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Gender is not applicable in the analyzed language or is not predicted.",
            "Feminine",
            "Masculine",
            "Neuter"
          ]
        },
        "mood": {
          "description": "The grammatical mood.",
          "enumDescriptions": [
            "Mood is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Imperative",
            "Indicative",
            "Interrogative",
            "Jussive",
            "Subjunctive"
          ],
          "enum": [
            "MOOD_UNKNOWN",
            "CONDITIONAL_MOOD",
            "IMPERATIVE",
            "INDICATIVE",
            "INTERROGATIVE",
            "JUSSIVE",
            "SUBJUNCTIVE"
          ],
          "type": "string"
        },
        "number": {
          "enumDescriptions": [
            "Number is not applicable in the analyzed language or is not predicted.",
            "Singular",
            "Plural",
            "Dual"
          ],
          "enum": [
            "NUMBER_UNKNOWN",
            "SINGULAR",
            "PLURAL",
            "DUAL"
          ],
          "type": "string",
          "description": "The grammatical number."
        },
        "tag": {
          "enumDescriptions": [
            "Unknown",
            "Adjective",
            "Adposition (preposition and postposition)",
            "Adverb",
            "Conjunction",
            "Determiner",
            "Noun (common and proper)",
            "Cardinal number",
            "Pronoun",
            "Particle or other function word",
            "Punctuation",
            "Verb (all tenses and modes)",
            "Other: foreign words, typos, abbreviations",
            "Affix"
          ],
          "enum": [
            "UNKNOWN",
            "ADJ",
            "ADP",
            "ADV",
            "CONJ",
            "DET",
            "NOUN",
            "NUM",
            "PRON",
            "PRT",
            "PUNCT",
            "VERB",
            "X",
            "AFFIX"
          ],
          "description": "The part of speech tag.",
          "type": "string"
        },
        "voice": {
          "enum": [
            "VOICE_UNKNOWN",
            "ACTIVE",
            "CAUSATIVE",
            "PASSIVE"
          ],
          "enumDescriptions": [
            "Voice is not applicable in the analyzed language or is not predicted.",
            "Active",
            "Causative",
            "Passive"
          ],
          "description": "The grammatical voice.",
          "type": "string"
        },
        "reciprocity": {
          "description": "The grammatical reciprocity.",
          "enumDescriptions": [
            "Reciprocity is not applicable in the analyzed language or is not predicted.",
            "Reciprocal",
            "Non-reciprocal"
          ],
          "type": "string",
          "enum": [
            "RECIPROCITY_UNKNOWN",
            "RECIPROCAL",
            "NON_RECIPROCAL"
          ]
        },
        "aspect": {
          "description": "The grammatical aspect.",
          "enum": [
            "ASPECT_UNKNOWN",
            "PERFECTIVE",
            "IMPERFECTIVE",
            "PROGRESSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Aspect is not applicable in the analyzed language or is not predicted.",
            "Perfective",
            "Imperfective",
            "Progressive"
          ]
        },
        "tense": {
          "description": "The grammatical tense.",
          "type": "string",
          "enum": [
            "TENSE_UNKNOWN",
            "CONDITIONAL_TENSE",
            "FUTURE",
            "PAST",
            "PRESENT",
            "IMPERFECT",
            "PLUPERFECT"
          ],
          "enumDescriptions": [
            "Tense is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Future",
            "Past",
            "Present",
            "Imperfect",
            "Pluperfect"
          ]
        },
        "case": {
          "enumDescriptions": [
            "Case is not applicable in the analyzed language or is not predicted.",
            "Accusative",
            "Adverbial",
            "Complementive",
            "Dative",
            "Genitive",
            "Instrumental",
            "Locative",
            "Nominative",
            "Oblique",
            "Partitive",
            "Prepositional",
            "Reflexive",
            "Relative",
            "Vocative"
          ],
          "type": "string",
          "description": "The grammatical case.",
          "enum": [
            "CASE_UNKNOWN",
            "ACCUSATIVE",
            "ADVERBIAL",
            "COMPLEMENTIVE",
            "DATIVE",
            "GENITIVE",
            "INSTRUMENTAL",
            "LOCATIVE",
            "NOMINATIVE",
            "OBLIQUE",
            "PARTITIVE",
            "PREPOSITIONAL",
            "REFLEXIVE_CASE",
            "RELATIVE_CASE",
            "VOCATIVE"
          ]
        },
        "proper": {
          "type": "string",
          "enum": [
            "PROPER_UNKNOWN",
            "PROPER",
            "NOT_PROPER"
          ],
          "description": "The grammatical properness.",
          "enumDescriptions": [
            "Proper is not applicable in the analyzed language or is not predicted.",
            "Proper",
            "Not proper"
          ]
        }
      }
    },
    "AnalyzeEntitiesResponse": {
      "description": "The entity analysis response message.",
      "type": "object",
      "properties": {
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "description": "The recognized entities in the input document.",
          "type": "array"
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        }
      },
      "id": "AnalyzeEntitiesResponse"
    },
    "AnalyzeSentimentRequest": {
      "type": "object",
      "id": "AnalyzeSentimentRequest",
      "description": "The sentiment analysis request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "type": "string",
          "description": "The encoding type used by the API to calculate sentence offsets for the sentence sentiment.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      }
    },
    "AnnotateTextRequest": {
      "description": "The request message for the text annotation API, which can perform multiple analysis types (sentiment, entities, and syntax) in one call.",
      "id": "AnnotateTextRequest",
      "properties": {
        "features": {
          "$ref": "Features",
          "description": "Required. The enabled features."
        },
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "type": "string",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "description": "The encoding type used by the API to calculate offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        }
      },
      "type": "object"
    },
    "V1Model": {
      "properties": {},
      "description": "Options for the V1 model.",
      "id": "V1Model",
      "type": "object"
    },
    "AnalyzeSyntaxResponse": {
      "properties": {
        "sentences": {
          "description": "Sentences in the input document.",
          "type": "array",
          "items": {
            "$ref": "Sentence"
          }
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        },
        "tokens": {
          "items": {
            "$ref": "Token"
          },
          "description": "Tokens, along with their syntactic information, in the input document.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "AnalyzeSyntaxResponse",
      "description": "The syntax analysis response message."
    },
    "TextSpan": {
      "id": "TextSpan",
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the output text."
        },
        "beginOffset": {
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents an output piece of text."
    },
    "Token": {
      "id": "Token",
      "properties": {
        "partOfSpeech": {
          "$ref": "PartOfSpeech",
          "description": "Parts of speech tag for this token."
        },
        "dependencyEdge": {
          "description": "Dependency tree parse for this token.",
          "$ref": "DependencyEdge"
        },
        "lemma": {
          "description": "[Lemma](https://en.wikipedia.org/wiki/Lemma_%28morphology%29) of the token.",
          "type": "string"
        },
        "text": {
          "description": "The token text.",
          "$ref": "TextSpan"
        }
      },
      "type": "object",
      "description": "Represents the smallest syntactic building block of the text."
    },
    "AnalyzeEntitiesRequest": {
      "id": "AnalyzeEntitiesRequest",
      "type": "object",
      "properties": {
        "encodingType": {
          "description": "The encoding type used by the API to calculate offsets.",
          "type": "string",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "description": "The entity analysis request message."
    },
    "AnalyzeSyntaxRequest": {
      "id": "AnalyzeSyntaxRequest",
      "description": "The syntax analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets."
        }
      },
      "type": "object"
    },
    "ClassificationModelOptions": {
      "id": "ClassificationModelOptions",
      "properties": {
        "v1Model": {
          "$ref": "V1Model",
          "description": "Setting this field will use the V1 model and V1 content categories version. The V1 model is a legacy model; support for this will be discontinued in the future."
        },
        "v2Model": {
          "$ref": "V2Model",
          "description": "Setting this field will use the V2 model with the appropriate content categories version. The V2 model is a better performing model."
        }
      },
      "type": "object",
      "description": "Model options available for classification requests."
    },
    "Entity": {
      "id": "Entity",
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as salience and mentions, with entities.",
      "type": "object",
      "properties": {
        "salience": {
          "type": "number",
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient."
        },
        "name": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "type": {
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected\u003c * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ],
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "type": "string",
          "description": "The entity type."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "sentiment": {
          "$ref": "Sentiment",
          "description": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the aggregate sentiment expressed for this entity in the provided document."
        },
        "mentions": {
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions.",
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          }
        }
      }
    },
    "ClassifyTextResponse": {
      "properties": {
        "categories": {
          "description": "Categories representing the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        }
      },
      "description": "The document classification response message.",
      "type": "object",
      "id": "ClassifyTextResponse"
    },
    "Features": {
      "id": "Features",
      "type": "object",
      "description": "All available features for sentiment, syntax, and semantic analysis. Setting each one to true will enable that specific analysis for the input. Next ID: 11",
      "properties": {
        "classificationModelOptions": {
          "$ref": "ClassificationModelOptions",
          "description": "The model options to use for classification. Defaults to v1 options if not specified. Only used if `classify_text` is set to true."
        },
        "extractDocumentSentiment": {
          "type": "boolean",
          "description": "Extract document-level sentiment."
        },
        "extractEntitySentiment": {
          "description": "Extract entities and their associated sentiment.",
          "type": "boolean"
        },
        "classifyText": {
          "type": "boolean",
          "description": "Classify the full document into categories. If this is true, the API will use the default model which classifies into a [predefined taxonomy](https://cloud.google.com/natural-language/docs/categories)."
        },
        "extractSyntax": {
          "type": "boolean",
          "description": "Extract syntax information."
        },
        "extractEntities": {
          "type": "boolean",
          "description": "Extract entities."
        }
      }
    },
    "Sentiment": {
      "type": "object",
      "description": "Represents the feeling associated with the entire text or entities in the text. Next ID: 6",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "type": "number",
          "format": "float"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        }
      },
      "id": "Sentiment"
    },
    "ClassifyTextRequest": {
      "description": "The document classification request message.",
      "type": "object",
      "id": "ClassifyTextRequest",
      "properties": {
        "classificationModelOptions": {
          "$ref": "ClassificationModelOptions",
          "description": "Model options to use for classification. Defaults to v1 options if not specified."
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      }
    },
    "V2Model": {
      "id": "V2Model",
      "type": "object",
      "description": "Options for the V2 model.",
      "properties": {
        "contentCategoriesVersion": {
          "enumDescriptions": [
            "If `ContentCategoriesVersion` is not specified, this option will default to `V1`.",
            "Legacy content categories of our initial launch in 2017.",
            "Updated content categories in 2022."
          ],
          "description": "The content categories used for classification.",
          "type": "string",
          "enum": [
            "CONTENT_CATEGORIES_VERSION_UNSPECIFIED",
            "V1",
            "V2"
          ]
        }
      }
    },
    "AnnotateTextResponse": {
      "description": "The text annotations response message.",
      "type": "object",
      "id": "AnnotateTextResponse",
      "properties": {
        "tokens": {
          "description": "Tokens, along with their syntactic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "items": {
            "$ref": "Token"
          },
          "type": "array"
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document."
        },
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities."
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "sentences": {
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "type": "array",
          "items": {
            "$ref": "Sentence"
          }
        }
      }
    },
    "DependencyEdge": {
      "description": "Represents dependency parse tree information for a token.",
      "properties": {
        "headTokenIndex": {
          "description": "Represents the head of this token in the dependency tree. This is the index of the token which has an arc going to this token. The index is the position of the token in the array of tokens returned by the API method. If this token is a root token, then the `head_token_index` is its own index.",
          "format": "int32",
          "type": "integer"
        },
        "label": {
          "enum": [
            "UNKNOWN",
            "ABBREV",
            "ACOMP",
            "ADVCL",
            "ADVMOD",
            "AMOD",
            "APPOS",
            "ATTR",
            "AUX",
            "AUXPASS",
            "CC",
            "CCOMP",
            "CONJ",
            "CSUBJ",
            "CSUBJPASS",
            "DEP",
            "DET",
            "DISCOURSE",
            "DOBJ",
            "EXPL",
            "GOESWITH",
            "IOBJ",
            "MARK",
            "MWE",
            "MWV",
            "NEG",
            "NN",
            "NPADVMOD",
            "NSUBJ",
            "NSUBJPASS",
            "NUM",
            "NUMBER",
            "P",
            "PARATAXIS",
            "PARTMOD",
            "PCOMP",
            "POBJ",
            "POSS",
            "POSTNEG",
            "PRECOMP",
            "PRECONJ",
            "PREDET",
            "PREF",
            "PREP",
            "PRONL",
            "PRT",
            "PS",
            "QUANTMOD",
            "RCMOD",
            "RCMODREL",
            "RDROP",
            "REF",
            "REMNANT",
            "REPARANDUM",
            "ROOT",
            "SNUM",
            "SUFF",
            "TMOD",
            "TOPIC",
            "VMOD",
            "VOCATIVE",
            "XCOMP",
            "SUFFIX",
            "TITLE",
            "ADVPHMOD",
            "AUXCAUS",
            "AUXVV",
            "DTMOD",
            "FOREIGN",
            "KW",
            "LIST",
            "NOMC",
            "NOMCSUBJ",
            "NOMCSUBJPASS",
            "NUMC",
            "COP",
            "DISLOCATED",
            "ASP",
            "GMOD",
            "GOBJ",
            "INFMOD",
            "MES",
            "NCOMP"
          ],
          "description": "The parse label for the token.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Abbreviation modifier",
            "Adjectival complement",
            "Adverbial clause modifier",
            "Adverbial modifier",
            "Adjectival modifier of an NP",
            "Appositional modifier of an NP",
            "Attribute dependent of a copular verb",
            "Auxiliary (non-main) verb",
            "Passive auxiliary",
            "Coordinating conjunction",
            "Clausal complement of a verb or adjective",
            "Conjunct",
            "Clausal subject",
            "Clausal passive subject",
            "Dependency (unable to determine)",
            "Determiner",
            "Discourse",
            "Direct object",
            "Expletive",
            "Goes with (part of a word in a text not well edited)",
            "Indirect object",
            "Marker (word introducing a subordinate clause)",
            "Multi-word expression",
            "Multi-word verbal expression",
            "Negation modifier",
            "Noun compound modifier",
            "Noun phrase used as an adverbial modifier",
            "Nominal subject",
            "Passive nominal subject",
            "Numeric modifier of a noun",
            "Element of compound number",
            "Punctuation mark",
            "Parataxis relation",
            "Participial modifier",
            "The complement of a preposition is a clause",
            "Object of a preposition",
            "Possession modifier",
            "Postverbal negative particle",
            "Predicate complement",
            "Preconjunt",
            "Predeterminer",
            "Prefix",
            "Prepositional modifier",
            "The relationship between a verb and verbal morpheme",
            "Particle",
            "Associative or possessive marker",
            "Quantifier phrase modifier",
            "Relative clause modifier",
            "Complementizer in relative clause",
            "Ellipsis without a preceding predicate",
            "Referent",
            "Remnant",
            "Reparandum",
            "Root",
            "Suffix specifying a unit of number",
            "Suffix",
            "Temporal modifier",
            "Topic marker",
            "Clause headed by an infinite form of the verb that modifies a noun",
            "Vocative",
            "Open clausal complement",
            "Name suffix",
            "Name title",
            "Adverbial phrase modifier",
            "Causative auxiliary",
            "Helper auxiliary",
            "Rentaishi (Prenominal modifier)",
            "Foreign words",
            "Keyword",
            "List for chains of comparable items",
            "Nominalized clause",
            "Nominalized clausal subject",
            "Nominalized clausal passive",
            "Compound of numeric modifier",
            "Copula",
            "Dislocated relation (for fronted/topicalized elements)",
            "Aspect marker",
            "Genitive modifier",
            "Genitive object",
            "Infinitival modifier",
            "Measure",
            "Nominal complement of a noun"
          ]
        }
      },
      "type": "object",
      "id": "DependencyEdge"
    },
    "Document": {
      "description": "Represents the input to API methods.",
      "id": "Document",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "type": "string"
        },
        "gcsContentUri": {
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data."
        },
        "language": {
          "type": "string",
          "description": "The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned."
        },
        "boilerplateHandling": {
          "enum": [
            "BOILERPLATE_HANDLING_UNSPECIFIED",
            "SKIP_BOILERPLATE",
            "KEEP_BOILERPLATE"
          ],
          "description": "Indicates how detected boilerplate(e.g. advertisements, copyright declarations, banners) should be handled for this document. If not specified, boilerplate will be treated the same as content.",
          "enumDescriptions": [
            "The boilerplate handling is not specified.",
            "Do not analyze detected boilerplate. Reference web URI is required for detecting boilerplate.",
            "Treat boilerplate the same as content."
          ],
          "type": "string"
        },
        "referenceWebUri": {
          "description": "The web URI where the document comes from. This URI is not used for fetching the content, but as a hint for analyzing the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntityMention": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "PROPER",
            "COMMON"
          ],
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unknown",
            "Proper name",
            "Common noun (or noun compound)"
          ]
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the sentiment expressed for this mention of the entity in the provided document.",
          "$ref": "Sentiment"
        },
        "text": {
          "$ref": "TextSpan",
          "description": "The mention text."
        }
      },
      "description": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported.",
      "id": "EntityMention"
    },
    "ClassificationCategory": {
      "type": "object",
      "id": "ClassificationCategory",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of the category representing the document, from the [predefined taxonomy](https://cloud.google.com/natural-language/docs/categories)."
        }
      },
      "description": "Represents a category returned from the text classifier."
    },
    "AnalyzeSentimentResponse": {
      "type": "object",
      "description": "The sentiment analysis response message.",
      "properties": {
        "documentSentiment": {
          "$ref": "Sentiment",
          "description": "The overall sentiment of the input document."
        },
        "language": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details."
        },
        "sentences": {
          "type": "array",
          "description": "The sentiment for all the sentences in the document.",
          "items": {
            "$ref": "Sentence"
          }
        }
      },
      "id": "AnalyzeSentimentResponse"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Sentence": {
      "description": "Represents a sentence in the input document.",
      "type": "object",
      "id": "Sentence",
      "properties": {
        "text": {
          "description": "The sentence text.",
          "$ref": "TextSpan"
        },
        "sentiment": {
          "$ref": "Sentiment",
          "description": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence."
        }
      }
    }
  },
  "protocol": "rest",
  "revision": "20230222",
  "rootUrl": "https://language.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "documents": {
      "methods": {
        "classifyText": {
          "flatPath": "v1beta2/documents:classifyText",
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "description": "Classifies a document into categories.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1beta2/documents:classifyText",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.documents.classifyText",
          "request": {
            "$ref": "ClassifyTextRequest"
          }
        },
        "analyzeEntitySentiment": {
          "parameterOrder": [],
          "id": "language.documents.analyzeEntitySentiment",
          "response": {
            "$ref": "AnalyzeEntitySentimentResponse"
          },
          "request": {
            "$ref": "AnalyzeEntitySentimentRequest"
          },
          "description": "Finds entities, similar to AnalyzeEntities in the text and analyzes sentiment associated with each entity and its mentions.",
          "flatPath": "v1beta2/documents:analyzeEntitySentiment",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/documents:analyzeEntitySentiment",
          "parameters": {}
        },
        "analyzeEntities": {
          "httpMethod": "POST",
          "id": "language.documents.analyzeEntities",
          "parameterOrder": [],
          "path": "v1beta2/documents:analyzeEntities",
          "parameters": {},
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, salience, mentions for each entity, and other properties.",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "flatPath": "v1beta2/documents:analyzeEntities",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "analyzeSentiment": {
          "description": "Analyzes the sentiment of the provided text.",
          "flatPath": "v1beta2/documents:analyzeSentiment",
          "parameters": {},
          "httpMethod": "POST",
          "id": "language.documents.analyzeSentiment",
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v1beta2/documents:analyzeSentiment"
        },
        "annotateText": {
          "httpMethod": "POST",
          "description": "A convenience method that provides all syntax, sentiment, entity, and classification features in one call.",
          "flatPath": "v1beta2/documents:annotateText",
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "path": "v1beta2/documents:annotateText",
          "parameterOrder": [],
          "id": "language.documents.annotateText",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "AnnotateTextRequest"
          }
        },
        "analyzeSyntax": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "language.documents.analyzeSyntax",
          "parameterOrder": [],
          "path": "v1beta2/documents:analyzeSyntax",
          "response": {
            "$ref": "AnalyzeSyntaxResponse"
          },
          "request": {
            "$ref": "AnalyzeSyntaxRequest"
          },
          "description": "Analyzes the syntax of the text and provides sentence boundaries and tokenization along with part of speech tags, dependency trees, and other properties.",
          "parameters": {},
          "flatPath": "v1beta2/documents:analyzeSyntax"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
