{
  "rootUrl": "https://prod-tt-sasportal.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "SAS Portal Testing",
  "revision": "20230227",
  "baseUrl": "https://prod-tt-sasportal.googleapis.com/",
  "name": "prod_tt_sasportal",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "basePath": "",
  "version": "v1alpha1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "title": "SAS Portal API (Testing)",
  "schemas": {
    "SasPortalDeviceAirInterface": {
      "properties": {
        "supportedSpec": {
          "type": "string",
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration."
        },
        "radioTechnology": {
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "SasPortalDeviceAirInterface",
      "description": "Information about the device's air interface."
    },
    "SasPortalChannelWithScore": {
      "properties": {
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range of the channel."
        },
        "score": {
          "description": "The channel score, normalized to be in the range [0,100].",
          "format": "double",
          "type": "number"
        }
      },
      "description": "The channel with score.",
      "type": "object",
      "id": "SasPortalChannelWithScore"
    },
    "SasPortalTestPermissionsResponse": {
      "description": "Response message for `TestPermissions` method.",
      "type": "object",
      "id": "SasPortalTestPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of permissions that the caller is allowed."
        }
      }
    },
    "SasPortalValidateInstallerRequest": {
      "id": "SasPortalValidateInstallerRequest",
      "properties": {
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for ValidateInstaller."
    },
    "SasPortalTestPermissionsRequest": {
      "id": "SasPortalTestPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestPermissions` method.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the permissions are being requested."
        },
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalMoveDeviceRequest": {
      "description": "Request for MoveDevice.",
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the device under."
        }
      },
      "id": "SasPortalMoveDeviceRequest"
    },
    "SasPortalNode": {
      "description": "The Node.",
      "id": "SasPortalNode",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The node's display name."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name."
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User ids used by the devices belonging to this node."
        }
      }
    },
    "SasPortalListDevicesResponse": {
      "properties": {
        "devices": {
          "type": "array",
          "description": "The devices that match the request.",
          "items": {
            "$ref": "SasPortalDevice"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      },
      "id": "SasPortalListDevicesResponse",
      "type": "object",
      "description": "Response for ListDevices."
    },
    "SasPortalGenerateSecretRequest": {
      "description": "Request for GenerateSecret.",
      "properties": {},
      "type": "object",
      "id": "SasPortalGenerateSecretRequest"
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "properties": {
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalNrqzValidation": {
      "id": "SasPortalNrqzValidation",
      "type": "object",
      "description": "Information about National Radio Quiet Zone validation.",
      "properties": {
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "cpiId": {
          "type": "string",
          "description": "CPI who signed the validation."
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Device latitude that's associated with the validation."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "type": "string",
          "description": "State of the NRQZ validation info."
        },
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "SasPortalListNodesResponse": {
      "id": "SasPortalListNodesResponse",
      "description": "Response for ListNodes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes."
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          },
          "description": "The nodes that match the request."
        }
      },
      "type": "object"
    },
    "SasPortalGenerateSecretResponse": {
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "description": "Response for GenerateSecret.",
      "id": "SasPortalGenerateSecretResponse",
      "type": "object"
    },
    "SasPortalMoveNodeRequest": {
      "id": "SasPortalMoveNodeRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for MoveNode."
    },
    "SasPortalCreateSignedDeviceRequest": {
      "type": "object",
      "id": "SasPortalCreateSignedDeviceRequest",
      "description": "Request for CreateSignedDevice.",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedDevice": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "type": "object",
      "description": "Request for UpdateSignedDevice.",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "type": "string",
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set."
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "id": "SasPortalUpdateSignedDeviceRequest"
    },
    "SasPortalCustomer": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Name of the organization that the customer entity represents."
        },
        "sasUserIds": {
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Entity representing a SAS customer.",
      "id": "SasPortalCustomer",
      "type": "object"
    },
    "SasPortalInstallationParams": {
      "description": "Information about the device installation parameters.",
      "properties": {
        "heightType": {
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ],
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ]
        },
        "antennaBeamwidth": {
          "type": "integer",
          "format": "int32",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices."
        },
        "indoorDeployment": {
          "type": "boolean",
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor."
        },
        "horizontalAccuracy": {
          "type": "number",
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters."
        },
        "antennaModel": {
          "type": "string",
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets."
        },
        "antennaGainNewField": {
          "description": "As above, but as a DoubleValue.",
          "format": "double",
          "type": "number"
        },
        "eirpCapability": {
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer",
          "format": "int32"
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian."
        },
        "height": {
          "type": "number",
          "format": "double",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum."
        },
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number",
          "format": "double"
        },
        "cpeCbsdIndication": {
          "type": "boolean",
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not."
        },
        "eirpCapabilityNewField": {
          "type": "number",
          "description": "As above, but as a DoubleValue.",
          "format": "double"
        },
        "antennaGain": {
          "description": "Peak antenna gain in dBi. This parameter is an integer with a value between -127 and +128 (dBi) inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "antennaDowntilt": {
          "type": "integer",
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32"
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "format": "double"
        },
        "antennaAzimuth": {
          "format": "int32",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        }
      },
      "id": "SasPortalInstallationParams",
      "type": "object"
    },
    "SasPortalDpaMoveList": {
      "id": "SasPortalDpaMoveList",
      "description": "An entry in a DPA's move list.",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        },
        "dpaId": {
          "type": "string",
          "description": "The ID of the DPA."
        }
      },
      "type": "object"
    },
    "SasPortalDeviceModel": {
      "description": "Information about the model of the device.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the device model."
        },
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "hardwareVersion": {
          "type": "string",
          "description": "The hardware version of the device."
        },
        "softwareVersion": {
          "type": "string",
          "description": "The software version of the device."
        }
      },
      "id": "SasPortalDeviceModel"
    },
    "SasPortalStatus": {
      "id": "SasPortalStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalFrequencyRange": {
      "type": "object",
      "id": "SasPortalFrequencyRange",
      "properties": {
        "lowFrequencyMhz": {
          "format": "double",
          "description": "The lowest frequency of the frequency range in MHz.",
          "type": "number"
        },
        "highFrequencyMhz": {
          "type": "number",
          "format": "double",
          "description": "The highest frequency of the frequency range in MHz."
        }
      },
      "description": "Frequency range from `low_frequency` to `high_frequency`."
    },
    "SasPortalSignDeviceRequest": {
      "id": "SasPortalSignDeviceRequest",
      "type": "object",
      "description": "Request for SignDevice.",
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      }
    },
    "SasPortalDeviceConfig": {
      "id": "SasPortalDeviceConfig",
      "properties": {
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "description": "FCC category of the device.",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ]
        },
        "airInterface": {
          "$ref": "SasPortalDeviceAirInterface",
          "description": "Information about this device's air interface."
        },
        "callSign": {
          "type": "string",
          "description": "The call sign of the device operator."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string"
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "state": {
          "description": "State of the configuration.",
          "type": "string",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "measurementCapabilities": {
          "items": {
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "description": "Measurement reporting capabilities of the device.",
          "type": "array"
        }
      },
      "description": "Information about the device configuration.",
      "type": "object"
    },
    "SasPortalGetPolicyRequest": {
      "id": "SasPortalGetPolicyRequest",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "description": "Request message for `GetPolicy` method."
    },
    "SasPortalAssignment": {
      "type": "object",
      "id": "SasPortalAssignment",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`."
        }
      }
    },
    "SasPortalDeviceGrant": {
      "type": "object",
      "id": "SasPortalDeviceGrant",
      "properties": {
        "lastHeartbeatTransmitExpireTime": {
          "format": "google-datetime",
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string"
        },
        "channelType": {
          "description": "Type of channel used.",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "expireTime": {
          "description": "The expiration time of the grant.",
          "format": "google-datetime",
          "type": "string"
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "moveList": {
          "type": "array",
          "description": "The DPA move lists on which this grant appears.",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          }
        },
        "suspensionReason": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If the grant is suspended, the reason(s) for suspension."
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The transmission frequency range."
        },
        "state": {
          "description": "State of the grant.",
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ]
        },
        "maxEirp": {
          "format": "double",
          "type": "number",
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3)."
        }
      },
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device."
    },
    "SasPortalValidateInstallerResponse": {
      "properties": {},
      "id": "SasPortalValidateInstallerResponse",
      "description": "Response for ValidateInstaller.",
      "type": "object"
    },
    "SasPortalListCustomersResponse": {
      "description": "Response for `ListCustomers`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers."
        },
        "customers": {
          "description": "The list of customers that match the request.",
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "type": "array"
        }
      },
      "id": "SasPortalListCustomersResponse",
      "type": "object"
    },
    "SasPortalSetPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetPolicy` method.",
      "id": "SasPortalSetPolicyRequest",
      "properties": {
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        }
      }
    },
    "SasPortalOperation": {
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "SasPortalStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "SasPortalOperation"
    },
    "SasPortalEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "SasPortalEmpty",
      "type": "object"
    },
    "SasPortalMoveDeploymentRequest": {
      "type": "object",
      "id": "SasPortalMoveDeploymentRequest",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under."
        }
      },
      "description": "Request for MoveDeployment."
    },
    "SasPortalPolicy": {
      "properties": {
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "description": "List of assignments",
          "type": "array"
        },
        "etag": {
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Defines an access control policy to the resources.",
      "type": "object",
      "id": "SasPortalPolicy"
    },
    "SasPortalDeviceMetadata": {
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "properties": {
        "commonChannelGroup": {
          "type": "string",
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        },
        "nrqzValidated": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office."
        },
        "nrqzValidation": {
          "readOnly": true,
          "description": "Output only. National Radio Quiet Zone validation info.",
          "$ref": "SasPortalNrqzValidation"
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceMetadata",
      "type": "object"
    },
    "SasPortalListDeploymentsResponse": {
      "description": "Response for ListDeployments.",
      "type": "object",
      "id": "SasPortalListDeploymentsResponse",
      "properties": {
        "deployments": {
          "type": "array",
          "description": "The deployments that match the request.",
          "items": {
            "$ref": "SasPortalDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        }
      }
    },
    "SasPortalDeployment": {
      "id": "SasPortalDeployment",
      "description": "The Deployment.",
      "type": "object",
      "properties": {
        "sasUserIds": {
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The deployment's display name."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "frns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent."
        }
      }
    },
    "SasPortalProvisionDeploymentResponse": {
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      },
      "id": "SasPortalProvisionDeploymentResponse"
    },
    "SasPortalDevice": {
      "type": "object",
      "id": "SasPortalDevice",
      "properties": {
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "grantRangeAllowlists": {
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "type": "array",
          "description": "Only ranges that are within the allowlists are available for new grants."
        },
        "currentChannels": {
          "readOnly": true,
          "description": "Output only. Current channels with scores.",
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "Output only. Device state.",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ]
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          }
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Device display name."
        },
        "serialNumber": {
          "type": "string",
          "description": "A serial number assigned to the device by the device manufacturer."
        },
        "fccId": {
          "type": "string",
          "description": "The FCC identifier of the device."
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "resources": {
    "policies": {
      "methods": {
        "get": {
          "path": "v1alpha1/policies:get",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/policies:get",
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "prod_tt_sasportal.policies.get",
          "httpMethod": "POST"
        },
        "set": {
          "id": "prod_tt_sasportal.policies.set",
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/policies:set",
          "parameters": {},
          "parameterOrder": [],
          "path": "v1alpha1/policies:set"
        },
        "test": {
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "path": "v1alpha1/policies:test",
          "id": "prod_tt_sasportal.policies.test",
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource.",
          "parameterOrder": [],
          "flatPath": "v1alpha1/policies:test"
        }
      }
    },
    "customers": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "flatPath": "v1alpha1/customers/{customersId}",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Fields to be updated.",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^customers/[^/]+$",
              "description": "Output only. Resource name of the customer.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates an existing customer.",
          "id": "prod_tt_sasportal.customers.patch",
          "httpMethod": "PATCH"
        },
        "provisionDeployment": {
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "httpMethod": "POST",
          "id": "prod_tt_sasportal.customers.provisionDeployment",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1alpha1/customers:provisionDeployment",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "description": "Required. The name of the customer.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers/{customersId}",
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "prod_tt_sasportal.customers.get",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Returns a requested customer."
        },
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of customers to return in the response.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "location": "query"
            }
          },
          "flatPath": "v1alpha1/customers",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "httpMethod": "GET",
          "id": "prod_tt_sasportal.customers.list",
          "path": "v1alpha1/customers",
          "description": "Returns a list of requested customers.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ]
        }
      },
      "resources": {
        "deployments": {
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a device under a node or customer.",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "id": "prod_tt_sasportal.customers.deployments.devices.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "createSigned": {
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "id": "prod_tt_sasportal.customers.deployments.devices.createSigned",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    }
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "id": "prod_tt_sasportal.customers.deployments.devices.list",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices"
                }
              }
            }
          },
          "methods": {
            "move": {
              "description": "Moves a deployment under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment to move.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.deployments.move",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move"
            },
            "patch": {
              "description": "Updates an existing deployment.",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "id": "prod_tt_sasportal.customers.deployments.patch",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "delete": {
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "description": "Deletes a deployment.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the deployment.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.deployments.delete"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "id": "prod_tt_sasportal.customers.deployments.create",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "path": "v1alpha1/{+parent}/deployments",
              "description": "Creates a new deployment.",
              "request": {
                "$ref": "SasPortalDeployment"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "id": "prod_tt_sasportal.customers.deployments.get",
              "httpMethod": "GET",
              "description": "Returns a requested deployment."
            },
            "list": {
              "path": "v1alpha1/{+parent}/deployments",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of deployments to return in the response.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists deployments.",
              "id": "prod_tt_sasportal.customers.deployments.list",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              }
            }
          }
        },
        "devices": {
          "methods": {
            "createSigned": {
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "description": "Creates a signed device under a node or customer.",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "prod_tt_sasportal.customers.devices.createSigned",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST"
            },
            "delete": {
              "description": "Deletes a device.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.devices.delete"
            },
            "create": {
              "id": "prod_tt_sasportal.customers.devices.create",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+parent}/devices",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a device under a node or customer.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "path": "v1alpha1/{+parent}/devices",
              "description": "Lists devices under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "id": "prod_tt_sasportal.customers.devices.list",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                },
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "location": "query"
                }
              }
            },
            "updateSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "prod_tt_sasportal.customers.devices.updateSigned",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "description": "Updates a signed device.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "path": "v1alpha1/{+name}:updateSigned",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device to update.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true
                }
              }
            },
            "move": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move.",
                  "required": true
                }
              },
              "description": "Moves a device under another node or customer.",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.devices.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move"
            },
            "get": {
              "description": "Gets details about a device.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "id": "prod_tt_sasportal.customers.devices.get",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "signDevice": {
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.devices.signDevice",
              "description": "Signs a device.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              }
            },
            "patch": {
              "id": "prod_tt_sasportal.customers.devices.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name."
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "description": "Updates a device."
            }
          }
        },
        "nodes": {
          "methods": {
            "create": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "prod_tt_sasportal.customers.nodes.create",
              "path": "v1alpha1/{+parent}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a new node.",
              "httpMethod": "POST"
            },
            "patch": {
              "description": "Updates an existing node.",
              "id": "prod_tt_sasportal.customers.nodes.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalNode"
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "prod_tt_sasportal.customers.nodes.move",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node to move."
                }
              },
              "description": "Moves a node under another node or customer."
            },
            "list": {
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "description": "Lists nodes.",
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "id": "prod_tt_sasportal.customers.nodes.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\"."
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "description": "Deletes a node.",
              "id": "prod_tt_sasportal.customers.nodes.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "id": "prod_tt_sasportal.customers.nodes.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true
                }
              },
              "description": "Returns a requested node."
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists deployments.",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/deployments",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of deployments to return in the response."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "id": "prod_tt_sasportal.customers.nodes.deployments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.deployments.create",
                  "path": "v1alpha1/{+parent}/deployments",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "description": "Creates a new deployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "id": "prod_tt_sasportal.customers.nodes.nodes.list",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "description": "Lists nodes.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "path": "v1alpha1/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\"."
                    },
                    "pageSize": {
                      "description": "The maximum number of nodes to return in the response.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Creates a new node.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.nodes.create",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "request": {
                    "$ref": "SasPortalNode"
                  }
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/devices",
                  "httpMethod": "GET",
                  "description": "Lists devices under a node or customer.",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.devices.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices"
                },
                "createSigned": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "httpMethod": "POST",
                  "id": "prod_tt_sasportal.customers.nodes.devices.createSigned",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a device under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.devices.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "deployments": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the deployment.",
              "required": true,
              "type": "string",
              "pattern": "^deployments/[^/]+$",
              "location": "path"
            }
          },
          "description": "Returns a requested deployment.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "id": "prod_tt_sasportal.deployments.get",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/deployments/{deploymentsId}"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Updates a device.",
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "type": "string"
                }
              },
              "id": "prod_tt_sasportal.deployments.devices.patch",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "description": "Moves a device under another node or customer.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the device to move.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "id": "prod_tt_sasportal.deployments.devices.move",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "id": "prod_tt_sasportal.deployments.devices.get"
            },
            "signDevice": {
              "description": "Signs a device.",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "id": "prod_tt_sasportal.deployments.devices.signDevice",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "delete": {
              "description": "Deletes a device.",
              "httpMethod": "DELETE",
              "id": "prod_tt_sasportal.deployments.devices.delete",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            },
            "updateSigned": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device to update.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "prod_tt_sasportal.deployments.devices.updateSigned",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}:updateSigned",
              "description": "Updates a signed device.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ]
            }
          }
        }
      }
    },
    "nodes": {
      "resources": {
        "deployments": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Lists devices under a node or customer.",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "id": "prod_tt_sasportal.nodes.deployments.devices.list"
                },
                "create": {
                  "path": "v1alpha1/{+parent}/devices",
                  "id": "prod_tt_sasportal.nodes.deployments.devices.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "description": "Creates a device under a node or customer.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "createSigned": {
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a signed device under a node or customer.",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "required": true
                    }
                  },
                  "id": "prod_tt_sasportal.nodes.deployments.devices.createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "httpMethod": "POST"
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "parameters": {
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                },
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "type": "string",
[...]
