{
  "ownerName": "Google",
  "canonicalName": "YouTube",
  "revision": "20230223",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "discoveryVersion": "v1",
  "resources": {
    "comments": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "CommentListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.list",
          "parameters": {
            "textFormat": {
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string",
              "default": "html",
              "location": "query",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "description": "The requested text format for the returned comments."
            },
            "parentId": {
              "type": "string",
              "location": "query",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future."
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true,
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "minimum": "1",
              "maximum": "100",
              "default": "20",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "path": "youtube/v3/comments"
        },
        "delete": {
          "path": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.comments.delete",
          "flatPath": "youtube/v3/comments",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a resource."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "required": true
            }
          },
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "id": "youtube.comments.update"
        },
        "insert": {
          "response": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.insert",
          "path": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/comments"
        },
        "setModerationStatus": {
          "description": "Sets the moderation status of one or more comments.",
          "httpMethod": "POST",
          "id": "youtube.comments.setModerationStatus",
          "parameters": {
            "moderationStatus": {
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED.",
              "location": "query",
              "required": true
            },
            "banAuthor": {
              "location": "query",
              "default": "false",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "type": "boolean"
            },
            "id": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Modifies the moderation status of the comments with the given IDs"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "path": "youtube/v3/comments/setModerationStatus"
        },
        "markAsSpam": {
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Flags the comments with the given IDs as spam in the caller's opinion."
            }
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/comments/markAsSpam",
          "path": "youtube/v3/comments/markAsSpam",
          "id": "youtube.comments.markAsSpam"
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/thumbnails/set",
          "supportsMediaUpload": true,
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "parameterOrder": [
            "videoId"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/thumbnails/set"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            },
            "maxSize": "2097152",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "httpMethod": "POST",
          "parameters": {
            "videoId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/thumbnails/set",
          "id": "youtube.thumbnails.set",
          "response": {
            "$ref": "ThumbnailSetResponse"
          }
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "list": {
          "parameters": {
            "liveChatId": {
              "type": "string",
              "location": "query",
              "description": "The id of the live chat for which comments should be returned.",
              "required": true
            },
            "profileImageSize": {
              "format": "uint32",
              "maximum": "720",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "minimum": "16",
              "type": "integer",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet."
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "type": "string"
            },
            "hl": {
              "type": "string",
              "description": "Specifies the localization language in which the system messages should be returned.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "200",
              "maximum": "2000",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "default": "500"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "path": "youtube/v3/liveChat/messages",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.liveChatMessages.list"
        },
        "delete": {
          "description": "Deletes a chat message.",
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatMessages.delete",
          "path": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          }
        },
        "insert": {
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.liveChatMessages.insert",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "httpMethod": "POST",
          "path": "youtube/v3/liveChat/messages",
          "flatPath": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveChatMessage"
          }
        }
      }
    },
    "videos": {
      "methods": {
        "reportAbuse": {
          "flatPath": "youtube/v3/videos/reportAbuse",
          "description": "Report abuse for a video.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "httpMethod": "POST",
          "id": "youtube.videos.reportAbuse",
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "path": "youtube/v3/videos/reportAbuse",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": []
        },
        "rate": {
          "flatPath": "youtube/v3/videos/rate",
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "parameters": {
            "rating": {
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "required": true,
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "id",
            "rating"
          ],
          "id": "youtube.videos.rate",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos/rate",
          "httpMethod": "POST"
        },
        "list": {
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "VideoListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videos",
          "parameters": {
            "regionCode": {
              "location": "query",
              "type": "string",
              "description": "Use a chart that is specific to the specified region"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "default": "5",
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "maximum": "50",
              "minimum": "1"
            },
            "id": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Return videos with the given ids."
            },
            "locale": {
              "location": "query",
              "type": "string"
            },
            "maxHeight": {
              "location": "query",
              "type": "integer",
              "minimum": "72",
              "maximum": "8192",
              "format": "int32"
            },
            "myRating": {
              "location": "query",
              "type": "string",
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ]
            },
            "maxWidth": {
              "minimum": "72",
              "type": "integer",
              "maximum": "8192",
              "format": "int32",
              "location": "query",
              "description": "Return the player with maximum height specified in"
            },
            "videoCategoryId": {
              "description": "Use chart that is specific to the specified video category",
              "default": "0",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "chart": {
              "type": "string",
              "description": "Return the videos that are in the specified chart.",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "location": "query"
            }
          }
        },
        "getRating": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "response": {
            "$ref": "VideoGetRatingResponse"
          },
          "httpMethod": "GET",
          "path": "youtube/v3/videos/getRating",
          "id": "youtube.videos.getRating",
          "flatPath": "youtube/v3/videos/getRating"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "description": "Deletes a resource.",
          "id": "youtube.videos.delete"
        },
        "insert": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "autoLevels": {
              "location": "query",
              "type": "boolean",
              "description": "Should auto-levels be applied to the upload."
            },
            "notifySubscribers": {
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "stabilize": {
              "location": "query",
              "type": "boolean",
              "description": "Should stabilize be applied to the upload."
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "mediaUpload": {
            "maxSize": "274877906944",
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/videos"
              },
              "simple": {
                "path": "/upload/youtube/v3/videos",
                "multipart": true
              }
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Video"
          },
          "id": "youtube.videos.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Video"
          },
          "path": "youtube/v3/videos",
          "supportsMediaUpload": true,
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/videos"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response."
            }
          },
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "id": "youtube.videos.update",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/videos",
          "request": {
            "$ref": "Video"
          },
          "response": {
            "$ref": "Video"
          },
          "path": "youtube/v3/videos"
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "parameters": {
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet."
            },
            "hl": {
              "type": "string",
              "default": "en-US",
              "location": "query"
            }
          },
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "path": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "id": "youtube.videoAbuseReportReasons.list",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "path": "youtube/v3/subscriptions",
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/subscriptions",
          "parameters": {
            "forChannelId": {
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "location": "query",
              "description": "Return the subscriptions of the given channel owner.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "maximum": "50",
              "default": "5"
            },
            "order": {
              "location": "query",
              "type": "string",
              "default": "relevance",
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "description": "The order of the returned subscriptions",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ]
            },
            "mySubscribers": {
              "location": "query",
              "description": "Return the subscribers of the given channel owner.",
              "type": "boolean"
            },
            "myRecentSubscribers": {
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "mine": {
              "description": "Flag for returning the subscriptions of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "repeated": true
            }
          },
          "id": "youtube.subscriptions.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "flatPath": "youtube/v3/subscriptions",
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Subscription"
          },
          "path": "youtube/v3/subscriptions",
          "response": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.subscriptions.insert",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include."
            }
          }
        },
        "delete": {
          "id": "youtube.subscriptions.delete",
          "path": "youtube/v3/subscriptions",
          "flatPath": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/i18nLanguages",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "type": "string",
              "location": "query",
              "default": "en_US"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet."
            }
          },
          "id": "youtube.i18nLanguages.list",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "path": "youtube/v3/i18nLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "watermarks": {
      "methods": {
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/watermarks/set",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/watermarks/set"
              }
            },
            "maxSize": "10485760",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "path": "youtube/v3/watermarks/set",
          "parameterOrder": [
            "channelId"
          ],
          "description": "Allows upload of watermark image and setting it for a channel.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/watermarks/set",
          "request": {
            "$ref": "InvideoBranding"
          },
          "id": "youtube.watermarks.set",
          "httpMethod": "POST"
        },
        "unset": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/watermarks/unset",
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "id": "youtube.watermarks.unset",
          "path": "youtube/v3/watermarks/unset",
          "description": "Allows removal of channel watermark.",
          "parameterOrder": [
            "channelId"
          ]
        }
      }
    },
    "liveStreams": {
      "methods": {
        "list": {
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status."
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "minimum": "0",
              "type": "integer"
            },
            "id": {
              "location": "query",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.list",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieve the list of streams associated with the given channel. --",
          "httpMethod": "GET"
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveStream"
          },
          "request": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveStreams",
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Inserts a new stream for the authenticated user."
        },
        "update": {
          "response": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveStreams.update",
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing stream for the authenticated user.",
          "request": {
            "$ref": "LiveStream"
          },
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "path": "youtube/v3/liveStreams",
          "httpMethod": "PUT"
        },
        "delete": {
          "id": "youtube.liveStreams.delete",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveStreams",
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "description": "Deletes an existing stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "playlistItems": {
      "methods": {
        "list": {
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlistItems.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "minimum": "0",
              "maximum": "50",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "playlistId": {
              "location": "query",
              "type": "string",
              "description": "Return the playlist items within the given playlist."
            },
            "id": {
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Return the playlist items associated with the given video ID."
            }
          },
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "insert": {
          "flatPath": "youtube/v3/playlistItems",
          "path": "youtube/v3/playlistItems",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "httpMethod": "POST",
          "id": "youtube.playlistItems.insert"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.playlistItems.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems"
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "flatPath": "youtube/v3/playlistItems",
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.update",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "required": true,
              "repeated": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "PUT",
          "path": "youtube/v3/playlistItems"
        }
      }
    },
    "channelSections": {
      "methods": {
        "delete": {
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.delete",
          "description": "Deletes a resource.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "path": "youtube/v3/channelSections",
          "httpMethod": "GET",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "required": true,
              "repeated": true
            },
            "id": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary."
            },
            "mine": {
              "description": "Return the ChannelSections owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "hl": {
              "type": "string",
              "description": "Return content in specified language",
              "location": "query"
            },
            "channelId": {
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.channelSections.list"
        },
        "insert": {
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "id": "youtube.channelSections.insert",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "ChannelSection"
          }
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "PUT",
          "id": "youtube.channelSections.update",
          "flatPath": "youtube/v3/channelSections",
          "description": "Updates an existing resource.",
          "path": "youtube/v3/channelSections",
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          }
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "bind": {
          "response": {
            "$ref": "LiveBroadcast"
          },
          "description": "Bind a broadcast to a stream.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "description": "Broadcast to bind to the stream",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "streamId": {
              "type": "string",
              "location": "query",
              "description": "Stream to bind, if not set unbind the current one."
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "parameterOrder": [
            "id",
            "part"
          ],
          "path": "youtube/v3/liveBroadcasts/bind",
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "id": "youtube.liveBroadcasts.bind",
          "httpMethod": "POST"
        },
        "transition": {
          "id": "youtube.liveBroadcasts.transition",
          "path": "youtube/v3/liveBroadcasts/transition",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameters": {
            "id": {
              "location": "query",
              "description": "Broadcast to transition.",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "broadcastStatus": {
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "description": "The status to which the broadcast is going to transition.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "description": "Transition a broadcast to a given status."
        },
        "insert": {
          "flatPath": "youtube/v3/liveBroadcasts",
          "description": "Inserts a new stream for the authenticated user.",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "request": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.insert",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveBroadcasts",
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          }
        },
        "delete": {
          "path": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveBroadcasts.delete",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Broadcast to delete.",
              "location": "query"
            }
          },
          "description": "Delete a given broadcast.",
          "flatPath": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE"
        },
        "insertCuepoint": {
          "id": "youtube.liveBroadcasts.insertCuepoint",
          "httpMethod": "POST",
          "path": "youtube/v3/liveBroadcasts/cuepoint",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Insert cuepoints in a broadcast",
          "request": {
            "$ref": "Cuepoint"
          },
          "parameterOrder": [],
          "flatPath": "youtube/v3/liveBroadcasts/cuepoint",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
[...]
