{
  "servicePath": "",
  "baseUrl": "https://script.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://script.googleapis.com/",
  "resources": {
    "scripts": {
      "methods": {
        "run": {
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "description": "Runs a function in an Apps Script project. The script project must be deployed for use with the Apps Script API and the calling application must share the same Cloud Platform project. This method requires authorization with an OAuth 2.0 token that includes at least one of the scopes listed in the [Authorization](#authorization-scopes) section; script projects that do not require authorization cannot be executed through this API. To find the correct scopes to include in the authentication token, open the script project **Overview** page and scroll down to \"Project OAuth Scopes.\" The error `403, PERMISSION_DENIED: The caller does not have permission` indicates that the Cloud Platform project used to authorize the request is not the same as the one used by the script.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/scripts/{scriptId}:run",
          "httpMethod": "POST",
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\"",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "script.scripts.run",
          "path": "v1/scripts/{scriptId}:run",
          "request": {
            "$ref": "ExecutionRequest"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "create": {
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "flatPath": "v1/projects",
          "parameterOrder": [],
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "path": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Project"
          },
          "parameters": {},
          "id": "script.projects.create"
        },
        "getContent": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "id": "script.projects.getContent",
          "parameters": {
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "scriptId": {
              "location": "path",
              "type": "string",
              "description": "The script project's Drive ID.",
              "required": true
            }
          },
          "path": "v1/projects/{scriptId}/content",
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/content",
          "httpMethod": "GET",
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "response": {
            "$ref": "Content"
          }
        },
        "get": {
          "response": {
            "$ref": "Project"
          },
          "httpMethod": "GET",
          "description": "Gets a script project's metadata.",
          "path": "v1/projects/{scriptId}",
          "flatPath": "v1/projects/{scriptId}",
          "parameters": {
            "scriptId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The script project's Drive ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.get"
        },
        "updateContent": {
          "flatPath": "v1/projects/{scriptId}/content",
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "id": "script.projects.updateContent",
          "httpMethod": "PUT",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "request": {
            "$ref": "Content"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        },
        "getMetrics": {
          "response": {
            "$ref": "Metrics"
          },
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "path": "v1/projects/{scriptId}/metrics",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "id": "script.projects.getMetrics",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "metricsGranularity": {
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "description": "Required field indicating what granularity of metrics are returned.",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "location": "query"
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query",
              "type": "string"
            },
            "scriptId": {
              "required": true,
              "type": "string",
              "description": "Required field indicating the script to get metrics for.",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "versions": {
          "methods": {
            "create": {
              "id": "script.projects.versions.create",
              "response": {
                "$ref": "Version"
              },
              "request": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "httpMethod": "POST",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/projects/{scriptId}/versions",
              "parameterOrder": [
                "scriptId"
              ],
              "description": "Creates a new immutable version using the current code, with a unique version number."
            },
            "get": {
              "response": {
                "$ref": "Version"
              },
              "id": "script.projects.versions.get",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "httpMethod": "GET",
              "parameters": {
                "versionNumber": {
                  "required": true,
                  "location": "path",
                  "description": "The version number.",
                  "format": "int32",
                  "type": "integer"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets a version of a script project.",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}"
            },
            "list": {
              "description": "List the versions of a script project.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                },
                "pageSize": {
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "id": "script.projects.versions.list",
              "path": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions"
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "description": "Lists the deployments of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "format": "int32"
                }
              },
              "id": "script.projects.deployments.list",
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets a deployment of an Apps Script project.",
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "id": "script.projects.deployments.get",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "GET"
            },
            "update": {
              "parameters": {
                "deploymentId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The deployment ID for this deployment."
                },
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Deployment"
              },
              "description": "Updates a deployment of an Apps Script project.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "id": "script.projects.deployments.update",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "create": {
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Creates a deployment of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                }
              },
              "path": "v1/projects/{scriptId}/deployments",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "DeploymentConfig"
              },
              "response": {
                "$ref": "Deployment"
              },
              "httpMethod": "POST",
              "id": "script.projects.deployments.create",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ]
            },
            "delete": {
              "id": "script.projects.deployments.delete",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Deletes a deployment of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "deploymentId": {
                  "location": "path",
                  "type": "string",
                  "description": "The deployment ID to be undeployed.",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "id": "script.processes.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameters": {
            "userProcessFilter.userAccessLevels": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels."
            },
            "userProcessFilter.scriptId": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "type": "string"
            },
            "userProcessFilter.statuses": {
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED"
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota."
              ],
              "type": "string"
            },
            "userProcessFilter.projectName": {
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.endTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "userProcessFilter.types": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            },
            "userProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            }
          },
          "path": "v1/processes",
          "flatPath": "v1/processes",
          "response": {
            "$ref": "ListUserProcessesResponse"
          }
        },
        "listScriptProcesses": {
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "path": "v1/processes:listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "parameterOrder": [],
          "description": "List information about a script's executed processes, such as process type and current status.",
          "flatPath": "v1/processes:listScriptProcesses",
          "parameters": {
            "scriptProcessFilter.endTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "scriptProcessFilter.userAccessLevels": {
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "type": "string",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "repeated": true
            },
            "scriptProcessFilter.types": {
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process types."
            },
            "scriptId": {
              "location": "query",
              "type": "string",
              "description": "The script ID of the project whose processes are listed."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            },
            "scriptProcessFilter.statuses": {
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED"
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota."
              ]
            },
            "scriptProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.deploymentId": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string"
            }
          },
          "id": "script.processes.listScriptProcesses",
          "httpMethod": "GET"
        }
      }
    }
  },
  "schemas": {
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        },
        "versions": {
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        }
      },
      "description": "Response with the list of the versions for the specified script project."
    },
    "ExecutionError": {
      "type": "object",
      "properties": {
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "type": "array"
        }
      },
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "id": "ExecutionError"
    },
    "Struct": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object",
          "description": "Unordered map of dynamically typed values."
        }
      },
      "description": "`Struct` represents a structured data value, consisting of fields which map to dynamically typed values.",
      "type": "object",
      "id": "Struct"
    },
    "GoogleAppsScriptTypeFunction": {
      "properties": {
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeFunction",
      "description": "Represents a function in a script project."
    },
    "ListDeploymentsResponse": {
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        }
      },
      "id": "ListDeploymentsResponse"
    },
    "Content": {
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The Content resource.",
      "id": "Content"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        }
      },
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "type": "object",
      "id": "Operation"
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "properties": {
        "access": {
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the API executable.",
          "type": "string"
        }
      },
      "description": "API executable entry point configuration.",
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiConfig"
    },
    "Version": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description for this version.",
          "type": "string"
        },
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32",
          "type": "integer"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "createTime": {
          "description": "When the version was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "id": "Version"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client."
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "description": "Web app entry point configuration.",
      "properties": {
        "access": {
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "description": "Who has permission to run the web app.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        },
        "executeAs": {
          "type": "string",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ]
        }
      },
      "type": "object"
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "id": "DeploymentConfig",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description for this deployment.",
          "type": "string"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "manifestFileName": {
          "description": "The manifest file name for this deployment.",
          "type": "string"
        },
        "versionNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The version number on which this deployment is based."
        }
      }
    },
    "ExecuteStreamResponse": {
      "id": "ExecuteStreamResponse",
      "description": "The response for executing or debugging a function in an Apps Script project.",
      "properties": {
        "result": {
          "description": "The result of the execution.",
          "$ref": "ScriptExecutionResult"
        }
      },
      "type": "object"
    },
    "ListUserProcessesResponse": {
      "type": "object",
      "properties": {
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "description": "Response with the list of Process resources.",
      "id": "ListUserProcessesResponse"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point."
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "id": "UpdateDeploymentRequest",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      },
      "description": "Request with deployment information to update an existing deployment."
    },
    "ScriptExecutionResult": {
      "description": "The result of an execution.",
      "type": "object",
      "properties": {
        "returnValue": {
          "$ref": "Value",
          "description": "The returned value of the execution."
        }
      },
      "id": "ScriptExecutionResult"
    },
    "Project": {
      "id": "Project",
      "description": "The script project resource.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the script was last updated."
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who last modified the script."
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This filed is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        }
      }
    },
    "ExecutionRequest": {
      "type": "object",
      "id": "ExecutionRequest",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "properties": {
        "parameters": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional."
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Deployment": {
      "id": "Deployment",
      "properties": {
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        },
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "entryPoints": {
          "type": "array",
          "description": "The deployment's entry points.",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date time stamp."
        }
      },
      "description": "Representation of a single script deployment.",
      "type": "object"
    },
    "Value": {
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "numberValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        },
        "protoValue": {
          "description": "Represents a structured proto value.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "listValue": {
          "$ref": "ListValue",
          "description": "Represents a repeated `Value`."
        },
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ],
          "description": "Represents a null value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "structValue": {
          "description": "Represents a structured value.",
          "$ref": "Struct"
        },
        "dateValue": {
          "description": "Represents a date in ms since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "bytesValue": {
          "description": "Represents raw byte values.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "Value",
      "description": "`Value` represents a dynamically typed value which is the outcome of an executed script."
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "type": "object",
      "description": "A simple user profile resource.",
      "properties": {
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        }
      }
    },
    "CreateProjectRequest": {
      "description": "Request to create a script project. Request to create a script project.",
      "id": "CreateProjectRequest",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "type": "string",
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created."
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "properties": {
        "values": {
          "type": "array",
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      },
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object",
      "id": "GoogleAppsScriptTypeFunctionSet"
    },
    "File": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "createTime": {
          "description": "Creation date timestamp. This read-only field is only visible to users who have WRITER permission for the script project.",
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "type": "string",
          "description": "The file content."
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. This read-only field is only visible to users who have WRITER permission for the script project."
        },
        "updateTime": {
          "description": "Last modified date timestamp. This read-only field is only visible to users who have WRITER permission for the script project.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "The type of the file.",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "type": "string"
        }
      },
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files."
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "properties": {
        "addOnType": {
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types."
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "reportIssueUrl": {
          "type": "string",
          "description": "The add-on's optional report issue URL."
        }
      },
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "type": "object"
    },
    "MetricsValue": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required field indicating the end time of the interval."
        },
        "startTime": {
          "description": "Required field indicating the start time of the interval.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "format": "uint64",
          "description": "Indicates the number of executions counted.",
          "type": "string"
        }
      },
      "description": "Metrics value that holds number of executions counted.",
      "id": "MetricsValue",
      "type": "object"
    },
    "ListScriptProcessesResponse": {
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "description": "Response with the list of Process resources.",
      "type": "object",
      "id": "ListScriptProcessesResponse"
    },
    "ExecutionResponse": {
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "id": "ExecutionResponse",
      "type": "object",
      "properties": {
        "result": {
          "type": "any",
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."
        }
      }
    },
    "ScriptStackTraceElement": {
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "description": "The line number where the script failed.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A stack trace through the script that shows where the execution failed.",
      "id": "ScriptStackTraceElement"
    },
    "Metrics": {
      "id": "Metrics",
      "properties": {
        "failedExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions."
        },
        "activeUsers": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of active users."
        },
        "totalExecutions": {
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array",
          "description": "Number of total executions."
        }
      },
      "type": "object",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "EntryPoint": {
      "properties": {
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        },
        "entryPointType": {
          "description": "The type of the entry point.",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "type": "string",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        },
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        }
      },
      "description": "A configuration that defines how a deployment is accessed externally.",
      "id": "EntryPoint",
      "type": "object"
    },
    "ListValue": {
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "Repeated field of dynamically typed values.",
          "type": "array"
        }
      },
      "description": "`ListValue` is a wrapper around a repeated field of values.",
      "type": "object",
      "id": "ListValue"
    },
    "GoogleAppsScriptTypeProcess": {
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "id": "GoogleAppsScriptTypeProcess",
      "type": "object",
      "properties": {
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "processType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "description": "The executions type.",
          "type": "string"
        },
        "userAccessLevel": {
          "description": "The executing users access level to the script.",
          "type": "string",
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the execution started."
        },
        "duration": {
          "type": "string",
          "description": "Duration the execution spent executing.",
          "format": "google-duration"
        },
        "processStatus": {
          "type": "string",
          "description": "The executions status.",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota."
          ],
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED"
          ]
        }
      }
    }
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "version": "v1",
  "title": "Apps Script API",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "name": "script",
  "kind": "discovery#restDescription",
  "id": "script:v1",
  "description": "Manages and executes Google Apps Script projects. ",
  "revision": "20230219",
  "canonicalName": "Script",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/"
}
