{
  "id": "script:v1",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "revision": "20230219",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "description": "Manages and executes Google Apps Script projects. ",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "script",
  "title": "Apps Script API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        }
      }
    }
  },
  "baseUrl": "https://script.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "rootUrl": "https://script.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Script",
  "schemas": {
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "description": "An API executable entry point.",
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "type": "object"
    },
    "GoogleAppsScriptTypeProcess": {
      "type": "object",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "id": "GoogleAppsScriptTypeProcess",
      "properties": {
        "processStatus": {
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota."
          ],
          "description": "The executions status."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the execution started.",
          "type": "string"
        },
        "projectName": {
          "type": "string",
          "description": "Name of the script being executed."
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "processType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "description": "The executions type.",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "type": "string"
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "format": "google-duration",
          "type": "string"
        },
        "userAccessLevel": {
          "description": "The executing users access level to the script.",
          "type": "string",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ]
        }
      }
    },
    "Struct": {
      "type": "object",
      "id": "Struct",
      "properties": {
        "fields": {
          "type": "object",
          "description": "Unordered map of dynamically typed values.",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "description": "`Struct` represents a structured data value, consisting of fields which map to dynamically typed values."
    },
    "ScriptExecutionResult": {
      "id": "ScriptExecutionResult",
      "type": "object",
      "description": "The result of an execution.",
      "properties": {
        "returnValue": {
          "description": "The returned value of the execution.",
          "$ref": "Value"
        }
      }
    },
    "Deployment": {
      "type": "object",
      "description": "Representation of a single script deployment.",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last modified date time stamp.",
          "type": "string"
        },
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "The deployment's entry points.",
          "type": "array"
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        }
      },
      "id": "Deployment"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "properties": {
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "addOnType": {
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "type": "string",
          "description": "The add-on's required list of supported container types."
        },
        "title": {
          "type": "string",
          "description": "The add-on's required title."
        }
      }
    },
    "Project": {
      "type": "object",
      "id": "Project",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This filed is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who last modified the script."
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was created."
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was last updated."
        }
      },
      "description": "The script project resource."
    },
    "ListScriptProcessesResponse": {
      "id": "ListScriptProcessesResponse",
      "properties": {
        "processes": {
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array",
          "description": "List of processes matching request parameters."
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "description": "Response with the list of Process resources.",
      "type": "object"
    },
    "ListVersionsResponse": {
      "type": "object",
      "id": "ListVersionsResponse",
      "description": "Response with the list of the versions for the specified script project.",
      "properties": {
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          }
        }
      }
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "description": "A list of functions composing the set.",
          "type": "array"
        }
      },
      "id": "GoogleAppsScriptTypeFunctionSet"
    },
    "Status": {
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. "
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "type": "object",
      "description": "A web application entry point.",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        }
      }
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        },
        "versionNumber": {
          "format": "int32",
          "description": "The version number on which this deployment is based.",
          "type": "integer"
        }
      },
      "id": "DeploymentConfig"
    },
    "ListUserProcessesResponse": {
      "id": "ListUserProcessesResponse",
      "type": "object",
      "description": "Response with the list of Process resources.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        },
        "processes": {
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array",
          "description": "List of processes matching request parameters."
        }
      }
    },
    "ExecuteStreamResponse": {
      "properties": {
        "result": {
          "$ref": "ScriptExecutionResult",
          "description": "The result of the execution."
        }
      },
      "description": "The response for executing or debugging a function in an Apps Script project.",
      "id": "ExecuteStreamResponse",
      "type": "object"
    },
    "ExecutionResponse": {
      "type": "object",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "id": "ExecutionResponse",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      }
    },
    "ExecutionRequest": {
      "type": "object",
      "properties": {
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "devMode": {
          "type": "boolean",
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`."
        }
      },
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "id": "ExecutionRequest"
    },
    "ExecutionError": {
      "type": "object",
      "properties": {
        "scriptStackTraceElements": {
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        },
        "errorType": {
          "type": "string",
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included."
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        }
      },
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "id": "ExecutionError"
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      },
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment."
    },
    "Version": {
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "properties": {
        "createTime": {
          "description": "When the version was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        }
      },
      "type": "object"
    },
    "Metrics": {
      "id": "Metrics",
      "properties": {
        "failedExecutions": {
          "type": "array",
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "activeUsers": {
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array",
          "description": "Number of active users."
        },
        "totalExecutions": {
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array",
          "description": "Number of total executions."
        }
      },
      "type": "object",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "EntryPoint": {
      "description": "A configuration that defines how a deployment is accessed externally.",
      "type": "object",
      "properties": {
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "entryPointType": {
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "type": "string",
          "description": "The type of the entry point."
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        }
      },
      "id": "EntryPoint"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListValue": {
      "type": "object",
      "id": "ListValue",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "Repeated field of dynamically typed values.",
          "type": "array"
        }
      },
      "description": "`ListValue` is a wrapper around a repeated field of values."
    },
    "MetricsValue": {
      "description": "Metrics value that holds number of executions counted.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "uint64",
          "description": "Indicates the number of executions counted."
        },
        "endTime": {
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required field indicating the start time of the interval.",
          "type": "string"
        }
      },
      "id": "MetricsValue"
    },
    "ScriptStackTraceElement": {
      "type": "object",
      "description": "A stack trace through the script that shows where the execution failed.",
      "properties": {
        "function": {
          "type": "string",
          "description": "The name of the function that failed."
        },
        "lineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The line number where the script failed."
        }
      },
      "id": "ScriptStackTraceElement"
    },
    "Operation": {
      "type": "object",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "id": "Operation",
      "properties": {
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "error": {
          "$ref": "Status",
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error."
        }
      }
    },
    "GoogleAppsScriptTypeFunction": {
      "id": "GoogleAppsScriptTypeFunction",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a function in a script project.",
      "type": "object"
    },
    "GoogleAppsScriptTypeUser": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo."
        },
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource."
    },
    "ListDeploymentsResponse": {
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "type": "object",
      "id": "ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        },
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        }
      }
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "properties": {
        "access": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the web app.",
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        },
        "executeAs": {
          "type": "string",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ]
        }
      },
      "description": "Web app entry point configuration.",
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "type": "object"
    },
    "Content": {
      "type": "object",
      "id": "Content",
      "properties": {
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      },
      "description": "The Content resource."
    },
    "Value": {
      "description": "`Value` represents a dynamically typed value which is the outcome of an executed script.",
      "properties": {
        "structValue": {
          "description": "Represents a structured value.",
          "$ref": "Struct"
        },
        "listValue": {
          "description": "Represents a repeated `Value`.",
          "$ref": "ListValue"
        },
        "dateValue": {
          "description": "Represents a date in ms since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "nullValue": {
          "enum": [
            "NULL_VALUE"
          ],
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "description": "Represents a null value."
        },
        "bytesValue": {
          "description": "Represents raw byte values.",
          "type": "string",
          "format": "byte"
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Represents a structured proto value."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        }
      },
      "id": "Value",
      "type": "object"
    },
    "CreateProjectRequest": {
      "type": "object",
      "id": "CreateProjectRequest",
      "description": "Request to create a script project. Request to create a script project.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      }
    },
    "File": {
      "id": "File",
      "properties": {
        "lastModifyUser": {
          "description": "The user who modified the file most recently. This read-only field is only visible to users who have WRITER permission for the script project.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "type": {
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "type": "string",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "description": "The type of the file."
        },
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last modified date timestamp. This read-only field is only visible to users who have WRITER permission for the script project."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation date timestamp. This read-only field is only visible to users who have WRITER permission for the script project."
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files."
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration."
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "id": "script.projects.deployments.update",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Updates a deployment of an Apps Script project.",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "type": "string",
                  "description": "The deployment ID for this deployment.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "id": "script.projects.deployments.list",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                },
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Lists the deployments of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "path": "v1/projects/{scriptId}/deployments"
            },
            "delete": {
              "description": "Deletes a deployment of an Apps Script project.",
              "id": "script.projects.deployments.delete",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID."
                }
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "create": {
              "id": "script.projects.deployments.create",
              "response": {
                "$ref": "Deployment"
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string"
                }
              },
              "path": "v1/projects/{scriptId}/deployments",
              "description": "Creates a deployment of an Apps Script project.",
              "httpMethod": "POST",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "DeploymentConfig"
              }
            },
            "get": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "deploymentId": {
                  "required": true,
                  "description": "The deployment ID.",
                  "type": "string",
                  "location": "path"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "script.projects.deployments.get",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "description": "Gets a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "response": {
                "$ref": "Deployment"
              }
            }
          }
        },
        "versions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "script.projects.versions.list",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/projects/{scriptId}/versions",
              "description": "List the versions of a script project.",
              "parameterOrder": [
                "scriptId"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "description": "Gets a version of a script project.",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "id": "script.projects.versions.get",
              "parameters": {
                "versionNumber": {
                  "format": "int32",
                  "description": "The version number.",
                  "type": "integer",
                  "location": "path",
                  "required": true
                },
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Version"
              },
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}"
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "request": {
                "$ref": "Version"
              },
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "script.projects.versions.create",
              "path": "v1/projects/{scriptId}/versions",
              "parameterOrder": [
                "scriptId"
              ]
            }
          }
        }
      },
      "methods": {
        "updateContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.updateContent",
          "path": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "request": {
            "$ref": "Content"
          },
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "The script project's Drive ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "httpMethod": "PUT",
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        },
        "create": {
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "flatPath": "v1/projects",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameters": {},
          "parameterOrder": [],
          "id": "script.projects.create",
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "response": {
            "$ref": "Project"
          },
          "path": "v1/projects"
        },
        "getMetrics": {
          "response": {
            "$ref": "Metrics"
          },
          "httpMethod": "GET",
          "parameters": {
            "metricsGranularity": {
              "description": "Required field indicating what granularity of metrics are returned.",
              "type": "string",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            },
            "scriptId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required field indicating the script to get metrics for."
            },
            "metricsFilter.deploymentId": {
              "location": "query",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "parameterOrder": [
            "scriptId"
          ],
          "path": "v1/projects/{scriptId}/metrics",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "id": "script.projects.getMetrics"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/projects/{scriptId}",
          "response": {
            "$ref": "Project"
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{scriptId}",
          "description": "Gets a script project's metadata.",
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.get"
        },
        "getContent": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "path": "v1/projects/{scriptId}/content",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "response": {
            "$ref": "Content"
          },
          "id": "script.projects.getContent",
          "flatPath": "v1/projects/{scriptId}/content"
        }
      }
    },
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "path": "v1/processes:listScriptProcesses",
          "parameterOrder": [],
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script ID of the project whose processes are listed.",
              "location": "query"
            },
            "scriptProcessFilter.functionName": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ]
            },
            "scriptProcessFilter.startTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "format": "google-datetime"
            },
            "scriptProcessFilter.types": {
              "repeated": true,
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "type": "string",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.endTime": {
              "type": "string",
              "location": "query",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp."
            },
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "scriptProcessFilter.statuses": {
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota."
              ],
              "type": "string",
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses."
            },
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "flatPath": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "description": "List information about a script's executed processes, such as process type and current status.",
          "id": "script.processes.listScriptProcesses"
        },
        "list": {
          "id": "script.processes.list",
          "flatPath": "v1/processes",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "httpMethod": "GET",
          "path": "v1/processes",
          "parameterOrder": [],
          "parameters": {
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "type": "string",
              "repeated": true
            },
            "userProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "userProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.statuses": {
              "type": "string",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota."
              ],
              "repeated": true,
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses."
            },
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "userProcessFilter.endTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string"
            },
            "userProcessFilter.types": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string."
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "request": {
            "$ref": "ExecutionRequest"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/scripts/{scriptId}:run",
          "description": "Runs a function in an Apps Script project. The script project must be deployed for use with the Apps Script API and the calling application must share the same Cloud Platform project. This method requires authorization with an OAuth 2.0 token that includes at least one of the scopes listed in the [Authorization](#authorization-scopes) section; script projects that do not require authorization cannot be executed through this API. To find the correct scopes to include in the authentication token, open the script project **Overview** page and scroll down to \"Project OAuth Scopes.\" The error `403, PERMISSION_DENIED: The caller does not have permission` indicates that the Cloud Platform project used to authorize the request is not the same as the one used by the script.",
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\"",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v1/scripts/{scriptId}:run",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "id": "script.scripts.run"
        }
      }
    }
  },
  "version": "v1",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "servicePath": ""
}
