{
  "name": "script",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "discoveryVersion": "v1",
  "rootUrl": "https://script.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "description": "Manages and executes Google Apps Script projects. ",
  "basePath": "",
  "batchPath": "batch",
  "canonicalName": "Script",
  "title": "Apps Script API",
  "revision": "20230219",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        }
      }
    }
  },
  "id": "script:v1",
  "schemas": {
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object."
    },
    "ExecutionResponse": {
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      },
      "type": "object",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "id": "ExecutionResponse"
    },
    "Project": {
      "id": "Project",
      "description": "The script project resource.",
      "type": "object",
      "properties": {
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "type": "string",
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This filed is optional, and if not set, a stand-alone script will be created."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was created."
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListValue": {
      "description": "`ListValue` is a wrapper around a repeated field of values.",
      "id": "ListValue",
      "type": "object",
      "properties": {
        "values": {
          "description": "Repeated field of dynamically typed values.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      }
    },
    "Struct": {
      "description": "`Struct` represents a structured data value, consisting of fields which map to dynamically typed values.",
      "properties": {
        "fields": {
          "description": "Unordered map of dynamically typed values.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        }
      },
      "id": "Struct",
      "type": "object"
    },
    "Version": {
      "type": "object",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "id": "Version",
      "properties": {
        "versionNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created."
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the version was created.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "description": "A web application entry point.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        },
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint"
    },
    "Content": {
      "id": "Content",
      "description": "The Content resource.",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "type": "object"
    },
    "EntryPoint": {
      "type": "object",
      "description": "A configuration that defines how a deployment is accessed externally.",
      "id": "EntryPoint",
      "properties": {
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        },
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "entryPointType": {
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "description": "The type of the entry point."
        }
      }
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Last modified date time stamp.",
          "type": "string"
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "The deployment's entry points."
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        },
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      },
      "description": "Representation of a single script deployment.",
      "id": "Deployment"
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "properties": {
        "access": {
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        }
      },
      "description": "API executable entry point configuration.",
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiConfig"
    },
    "Metrics": {
      "properties": {
        "failedExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions."
        },
        "activeUsers": {
          "description": "Number of active users.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "totalExecutions": {
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        }
      },
      "id": "Metrics",
      "type": "object",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "properties": {
        "executeAs": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "type": "string",
          "description": "Who to execute the web app as."
        },
        "access": {
          "description": "Who has permission to run the web app.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "type": "object",
      "description": "Web app entry point configuration.",
      "id": "GoogleAppsScriptTypeWebAppConfig"
    },
    "CreateProjectRequest": {
      "description": "Request to create a script project. Request to create a script project.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "id": "CreateProjectRequest",
      "type": "object"
    },
    "ListVersionsResponse": {
      "type": "object",
      "id": "ListVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list."
        },
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions.",
          "type": "array"
        }
      },
      "description": "Response with the list of the versions for the specified script project."
    },
    "MetricsValue": {
      "type": "object",
      "id": "MetricsValue",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required field indicating the end time of the interval."
        },
        "value": {
          "description": "Indicates the number of executions counted.",
          "format": "uint64",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime"
        }
      },
      "description": "Metrics value that holds number of executions counted."
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "properties": {
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "versionNumber": {
          "format": "int32",
          "description": "The version number on which this deployment is based.",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        }
      },
      "id": "DeploymentConfig",
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      }
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "description": "A list of functions composing the set.",
          "type": "array"
        }
      },
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object"
    },
    "Value": {
      "properties": {
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "description": "Represents a null value.",
          "enum": [
            "NULL_VALUE"
          ]
        },
        "dateValue": {
          "type": "string",
          "format": "int64",
          "description": "Represents a date in ms since the epoch."
        },
        "protoValue": {
          "description": "Represents a structured proto value.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "listValue": {
          "$ref": "ListValue",
          "description": "Represents a repeated `Value`."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "bytesValue": {
          "format": "byte",
          "type": "string",
          "description": "Represents raw byte values."
        },
        "numberValue": {
          "format": "double",
          "description": "Represents a double value.",
          "type": "number"
        },
        "structValue": {
          "description": "Represents a structured value.",
          "$ref": "Struct"
        }
      },
      "type": "object",
      "description": "`Value` represents a dynamically typed value which is the outcome of an executed script.",
      "id": "Value"
    },
    "GoogleAppsScriptTypeFunction": {
      "properties": {
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "type": "string"
          },
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array"
        }
      },
      "description": "Represents a function in a script project.",
      "id": "GoogleAppsScriptTypeFunction",
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "id": "ScriptStackTraceElement",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The line number where the script failed."
        }
      },
      "type": "object",
      "description": "A stack trace through the script that shows where the execution failed."
    },
    "GoogleAppsScriptTypeProcess": {
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "type": "object",
      "properties": {
        "userAccessLevel": {
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "type": "string",
          "description": "The executing users access level to the script.",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ]
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "startTime": {
          "description": "Time the execution started.",
          "format": "google-datetime",
          "type": "string"
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "type": "string",
          "format": "google-duration"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "processType": {
          "type": "string",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "description": "The executions type."
        },
        "processStatus": {
          "description": "The executions status.",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota."
          ],
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeProcess"
    },
    "ExecuteStreamResponse": {
      "description": "The response for executing or debugging a function in an Apps Script project.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The result of the execution.",
          "$ref": "ScriptExecutionResult"
        }
      },
      "id": "ExecuteStreamResponse"
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "properties": {
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        }
      },
      "description": "A simple user profile resource.",
      "type": "object"
    },
    "ExecutionRequest": {
      "properties": {
        "devMode": {
          "type": "boolean",
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`."
        },
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "parameters": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional."
        },
        "function": {
          "type": "string",
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`."
        }
      },
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "type": "object",
      "id": "ExecutionRequest"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListUserProcessesResponse": {
      "id": "ListUserProcessesResponse",
      "type": "object",
      "description": "Response with the list of Process resources.",
      "properties": {
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        }
      }
    },
    "ScriptExecutionResult": {
      "id": "ScriptExecutionResult",
      "properties": {
        "returnValue": {
          "description": "The returned value of the execution.",
          "$ref": "Value"
        }
      },
      "description": "The result of an execution.",
      "type": "object"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "properties": {
        "reportIssueUrl": {
          "type": "string",
          "description": "The add-on's optional report issue URL."
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "addOnType": {
          "description": "The add-on's required list of supported container types.",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        }
      },
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point."
    },
    "ExecutionError": {
      "id": "ExecutionError",
      "type": "object",
      "properties": {
        "scriptStackTraceElements": {
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "type": "array"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        },
        "errorType": {
          "type": "string",
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included."
        }
      },
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects."
    },
    "UpdateDeploymentRequest": {
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "description": "Request with deployment information to update an existing deployment.",
      "id": "UpdateDeploymentRequest",
      "type": "object"
    },
    "ListScriptProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "properties": {
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "description": "List of processes matching request parameters."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        }
      },
      "type": "object",
      "id": "ListScriptProcessesResponse"
    },
    "File": {
      "type": "object",
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "properties": {
        "source": {
          "type": "string",
          "description": "The file content."
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. This read-only field is only visible to users who have WRITER permission for the script project."
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last modified date timestamp. This read-only field is only visible to users who have WRITER permission for the script project.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation date timestamp. This read-only field is only visible to users who have WRITER permission for the script project."
        },
        "type": {
          "type": "string",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "description": "The type of the file."
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        }
      }
    }
  },
  "version": "v1",
  "resources": {
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "delete": {
              "description": "Deletes a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "DELETE",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "deploymentId": {
                  "type": "string",
                  "description": "The deployment ID to be undeployed.",
                  "location": "path",
                  "required": true
                },
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "script.projects.deployments.delete",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "type": "integer"
                }
              },
              "id": "script.projects.deployments.list",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Lists the deployments of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "GET"
            },
            "create": {
              "path": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Creates a deployment of an Apps Script project.",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "id": "script.projects.deployments.create",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.get",
              "description": "Gets a deployment of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                },
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ]
            },
            "update": {
              "response": {
                "$ref": "Deployment"
              },
              "httpMethod": "PUT",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "description": "Updates a deployment of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The deployment ID for this deployment."
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.update"
            }
          }
        },
        "versions": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "description": "Gets a version of a script project.",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "parameters": {
                "versionNumber": {
                  "required": true,
                  "format": "int32",
                  "location": "path",
                  "description": "The version number.",
                  "type": "integer"
                },
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID."
                }
              },
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get"
            },
            "create": {
              "request": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "path": "v1/projects/{scriptId}/versions",
              "id": "script.projects.versions.create",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Version"
              }
            },
            "list": {
              "path": "v1/projects/{scriptId}/versions",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of versions on each returned page. Defaults to 50."
                }
              },
              "httpMethod": "GET",
              "description": "List the versions of a script project.",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "id": "script.projects.versions.list",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ]
            }
          }
        }
      },
      "methods": {
        "getMetrics": {
          "id": "script.projects.getMetrics",
          "parameters": {
            "metricsFilter.deploymentId": {
              "type": "string",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query"
            },
            "metricsGranularity": {
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required field indicating what granularity of metrics are returned."
            },
            "scriptId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required field indicating the script to get metrics for."
            }
          },
          "response": {
            "$ref": "Metrics"
          },
          "path": "v1/projects/{scriptId}/metrics",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "parameterOrder": [
            "scriptId"
          ]
        },
        "create": {
          "parameters": {},
          "response": {
            "$ref": "Project"
          },
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "flatPath": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameterOrder": [],
          "id": "script.projects.create",
          "path": "v1/projects"
        },
        "getContent": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "id": "script.projects.getContent",
          "path": "v1/projects/{scriptId}/content",
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "parameters": {
            "versionNumber": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned."
            },
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "updateContent": {
          "request": {
            "$ref": "Content"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Content"
          },
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.updateContent",
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/content"
        },
        "get": {
          "description": "Gets a script project's metadata.",
          "path": "v1/projects/{scriptId}",
          "id": "script.projects.get",
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "The script project's Drive ID.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "flatPath": "v1/projects/{scriptId}",
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "scriptId"
          ]
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameterOrder": [],
          "id": "script.processes.list",
          "parameters": {
            "userProcessFilter.projectName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query"
            },
            "userProcessFilter.userAccessLevels": {
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "repeated": true
            },
            "userProcessFilter.statuses": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED"
              ]
            },
            "userProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "repeated": true,
              "location": "query",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "type": "string"
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32"
            },
            "userProcessFilter.startTime": {
              "location": "query",
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp."
            },
            "userProcessFilter.functionName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string"
            },
            "userProcessFilter.endTime": {
              "type": "string",
              "location": "query",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp."
            }
          },
          "flatPath": "v1/processes",
          "path": "v1/processes",
          "httpMethod": "GET",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "response": {
            "$ref": "ListUserProcessesResponse"
          }
        },
        "listScriptProcesses": {
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "description": "List information about a script's executed processes, such as process type and current status.",
          "id": "script.processes.listScriptProcesses",
          "parameterOrder": [],
          "flatPath": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameters": {
            "scriptProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.userAccessLevels": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ]
            },
            "scriptProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "scriptProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "scriptProcessFilter.endTime": {
              "location": "query",
              "format": "google-datetime",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp."
            },
            "scriptId": {
              "type": "string",
              "location": "query",
              "description": "The script ID of the project whose processes are listed."
            },
            "scriptProcessFilter.statuses": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota."
              ],
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED"
              ]
            }
          },
          "path": "v1/processes:listScriptProcesses",
          "httpMethod": "GET"
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "path": "v1/scripts/{scriptId}:run",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Runs a function in an Apps Script project. The script project must be deployed for use with the Apps Script API and the calling application must share the same Cloud Platform project. This method requires authorization with an OAuth 2.0 token that includes at least one of the scopes listed in the [Authorization](#authorization-scopes) section; script projects that do not require authorization cannot be executed through this API. To find the correct scopes to include in the authentication token, open the script project **Overview** page and scroll down to \"Project OAuth Scopes.\" The error `403, PERMISSION_DENIED: The caller does not have permission` indicates that the Cloud Platform project used to authorize the request is not the same as the one used by the script.",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\"",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "id": "script.scripts.run",
          "httpMethod": "POST"
        }
      }
    }
  },
  "baseUrl": "https://script.googleapis.com/",
  "kind": "discovery#restDescription"
}
