{
  "baseUrl": "https://toolresults.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://toolresults.googleapis.com/",
  "revision": "20230227",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "batchPath": "batch",
  "canonicalName": "Tool Results",
  "name": "toolresults",
  "ownerName": "Google",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1beta3",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "id": "toolresults:v1beta3",
  "resources": {
    "projects": {
      "methods": {
        "initializeSettings": {
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 90 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A Project id. Required."
            }
          },
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "id": "toolresults.projects.initializeSettings",
          "response": {
            "$ref": "ProjectSettings"
          }
        },
        "getSettings": {
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "A Project id. Required.",
              "type": "string"
            }
          },
          "id": "toolresults.projects.getSettings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "histories": {
          "resources": {
            "executions": {
              "resources": {
                "steps": {
                  "methods": {
                    "publishXunitXmlFiles": {
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required."
                        },
                        "stepId": {
                          "location": "path",
                          "type": "string",
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "A Project id. Required.",
                          "required": true
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "list": {
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "format": "int32"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListStepsResponse"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "response": {
                        "$ref": "Step"
                      },
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "stepId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Step id. Required."
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}"
                    },
                    "create": {
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. A Project id."
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. A History id.",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. An Execution id."
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "request": {
                        "$ref": "Step"
                      },
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.create"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "location": "path"
                        },
                        "requestId": {
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "location": "query",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "stepId": {
                          "location": "path",
                          "description": "A Step id. Required.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "request": {
                        "$ref": "Step"
                      }
                    },
                    "accessibilityClusters": {
                      "parameters": {
                        "locale": {
                          "type": "string",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist"
                    },
                    "getPerfMetricsSummary": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "The cloud project",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "description": "A tool results history ID.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "stepId": {
                          "type": "string",
                          "required": true,
                          "description": "A tool results step ID.",
                          "location": "path"
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "description": "A tool results execution ID.",
                          "type": "string"
                        }
                      },
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist"
                    }
                  },
                  "resources": {
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "parameters": {
                            "executionId": {
                              "type": "string",
                              "required": true,
                              "description": "A tool results execution ID.",
                              "location": "path"
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A tool results history ID.",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "description": "The cloud project",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "stepId": {
                              "type": "string",
                              "description": "A tool results step ID.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create"
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "list": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "historyId": {
                              "required": true,
                              "location": "path",
                              "description": "A History id. Required.",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "executionId": {
                              "description": "A Execution id Required.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query",
                              "type": "string"
                            },
                            "projectId": {
                              "location": "path",
                              "description": "A Project id. Required.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list"
                        },
                        "get": {
                          "parameters": {
                            "projectId": {
                              "required": true,
                              "location": "path",
                              "description": "A Project id. Required.",
                              "type": "string"
                            },
                            "testCaseId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Test Case id. Required."
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path"
                            },
                            "executionId": {
                              "type": "string",
                              "description": "A Execution id Required.",
                              "required": true,
                              "location": "path"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A History id. Required.",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "TestCase"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "httpMethod": "GET",
                          "id": "toolresults.projects.histories.executions.steps.testCases.get"
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "location": "query"
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Required.",
                              "location": "path"
                            },
                            "projectId": {
                              "required": true,
                              "location": "path",
                              "description": "A Project id. Required.",
                              "type": "string"
                            },
                            "historyId": {
                              "required": true,
                              "location": "path",
                              "description": "A History id. Required.",
                              "type": "string"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "An Execution id. Required."
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "parameters": {
                                "executionId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results execution ID."
                                },
                                "stepId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "A tool results step ID."
                                },
                                "projectId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "The cloud project"
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "A sample series id",
                                  "required": true
                                },
                                "historyId": {
                                  "location": "path",
                                  "description": "A tool results history ID.",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "httpMethod": "POST"
                            },
                            "list": {
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "httpMethod": "GET",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "parameters": {
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response"
                                },
                                "executionId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results execution ID.",
                                  "location": "path"
                                },
                                "projectId": {
                                  "required": true,
                                  "description": "The cloud project",
                                  "type": "string",
                                  "location": "path"
                                },
                                "sampleSeriesId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A sample series id",
                                  "location": "path"
                                },
                                "stepId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results step ID."
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000"
                                },
                                "historyId": {
                                  "required": true,
                                  "location": "path",
                                  "description": "A tool results history ID.",
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        }
                      },
                      "methods": {
                        "get": {
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameters": {
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results history ID."
                            },
                            "sampleSeriesId": {
                              "description": "A sample series id",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results execution ID."
                            },
                            "stepId": {
                              "required": true,
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}"
                        },
                        "create": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "parameters": {
                            "executionId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A tool results execution ID."
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A tool results history ID.",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path",
                              "required": true
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "historyId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A tool results history ID."
                            },
                            "projectId": {
                              "location": "path",
                              "description": "The cloud project",
                              "type": "string",
                              "required": true
                            },
                            "filter": {
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "type": "string",
                              "location": "query",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "repeated": true,
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ]
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results step ID."
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "httpMethod": "GET",
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries"
                        }
                      }
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "parameters": {
                        "clusterId": {
                          "required": true,
                          "description": "A Cluster id Required.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Project id. Required."
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A History id. Required."
                        },
                        "executionId": {
                          "required": true,
                          "description": "An Execution id. Required.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "httpMethod": "GET",
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "An Execution id. Required."
                        },
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "A Project id. Required.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ]
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "environmentId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. An Environment id.",
                          "required": true
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id.",
                          "required": true
                        },
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "response": {
                        "$ref": "Environment"
                      }
                    },
                    "list": {
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "historyId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. A History id."
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A continuation token to resume the query at the next item."
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "id": "toolresults.projects.histories.executions.create",
                  "request": {
                    "$ref": "Execution"
                  },
                  "parameters": {
                    "historyId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "A History id. Required."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "A Project id. Required.",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Execution"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "id": "toolresults.projects.histories.executions.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "request": {
                    "$ref": "Execution"
                  },
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameters": {
                    "executionId": {
                      "description": "Required.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                    },
                    "historyId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required.",
                      "location": "path"
                    }
                  },
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "id": "toolresults.projects.histories.executions.get",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "A Project id. Required.",
                      "type": "string"
                    },
                    "historyId": {
                      "location": "path",
                      "type": "string",
                      "description": "A History id. Required.",
                      "required": true
                    },
                    "executionId": {
                      "description": "An Execution id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "A Project id. Required.",
                      "type": "string"
                    },
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "description": "A History id. Required.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A continuation token to resume the query at the next item. Optional."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "id": "toolresults.projects.histories.executions.list",
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameters": {
                "historyId": {
                  "description": "A History id. Required.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "projectId": {
                  "location": "path",
                  "description": "A Project id. Required.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "History"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "id": "toolresults.projects.histories.get"
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "id": "toolresults.projects.histories.create",
              "response": {
                "$ref": "History"
              },
              "parameters": {
                "requestId": {
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "A Project id. Required.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories"
            },
            "list": {
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "filterByName": {
                  "description": "If set, only return histories with the given name. Optional.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "A Project id. Required."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "toolresults.projects.histories.list",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "schemas": {
    "AndroidTestLoop": {
      "properties": {},
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent.",
      "id": "AndroidTestLoop",
      "type": "object"
    },
    "TestCaseReference": {
      "type": "object",
      "description": "A reference to a test case. Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name.",
      "id": "TestCaseReference",
      "properties": {
        "className": {
          "type": "string",
          "description": "The name of the class."
        },
        "testSuiteName": {
          "description": "The name of the test suite to which this test case belongs.",
          "type": "string"
        },
        "name": {
          "description": "The name of the test case. Required.",
          "type": "string"
        }
      }
    },
    "PendingGoogleUpdateInsight": {
      "id": "PendingGoogleUpdateInsight",
      "description": "This insight indicates that the hidden API usage originates from a Google-provided library. Users need not take any action.",
      "properties": {
        "nameOfGoogleLibrary": {
          "type": "string",
          "description": "The name of the Google-provided library with the non-SDK API dependency."
        }
      },
      "type": "object"
    },
    "ListTestCasesResponse": {
      "id": "ListTestCasesResponse",
      "type": "object",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "TestCase"
          },
          "description": "List of test cases.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "description": "Response message for StepService.ListTestCases."
    },
    "InAppPurchasesFound": {
      "id": "InAppPurchasesFound",
      "description": "Additional details of in-app purchases encountered during the crawl.",
      "properties": {
        "inAppPurchasesFlowsStarted": {
          "format": "int32",
          "description": "The total number of in-app purchases flows started.",
          "type": "integer"
        },
        "inAppPurchasesFlowsExplored": {
          "description": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "NonSdkApiUsageViolationReport": {
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "type": "object",
      "id": "NonSdkApiUsageViolationReport",
      "properties": {
        "targetSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the API Level on which the application is designed to run."
        },
        "uniqueApis": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of unique Non-SDK API's accessed."
        },
        "exampleApis": {
          "description": "Examples of the detected API usages.",
          "type": "array",
          "items": {
            "$ref": "NonSdkApi"
          }
        },
        "minSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum API level required for the application to run."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Specification": {
      "id": "Specification",
      "type": "object",
      "description": "The details about how to run the execution.",
      "properties": {
        "androidTest": {
          "description": "An Android mobile test execution specification.",
          "$ref": "AndroidTest"
        },
        "iosTest": {
          "description": "An iOS mobile test execution specification.",
          "$ref": "IosTest"
        }
      }
    },
    "AndroidInstrumentationTest": {
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.",
      "properties": {
        "useOrchestrator": {
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not.",
          "type": "boolean"
        },
        "testPackageId": {
          "type": "string",
          "description": "The java package for the test to be executed. Required"
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. Required"
        },
        "testTargets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run."
        }
      },
      "type": "object",
      "id": "AndroidInstrumentationTest"
    },
    "StartActivityNotFound": {
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "description": "User provided intent failed to resolve to an activity.",
      "id": "StartActivityNotFound",
      "type": "object"
    },
    "Any": {
      "properties": {
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        },
        "typeUrl": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics."
        }
      },
      "description": " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }",
      "id": "Any",
      "type": "object"
    },
    "AndroidTest": {
      "properties": {
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        },
        "testTimeout": {
          "$ref": "Duration",
          "description": "Max time a test is allowed to run before it is automatically cancelled."
        },
        "androidAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "AndroidAppInfo"
        },
        "androidTestLoop": {
          "description": "An Android test loop.",
          "$ref": "AndroidTestLoop"
        },
        "androidRoboTest": {
          "$ref": "AndroidRoboTest",
          "description": "An Android robo test."
        }
      },
      "id": "AndroidTest",
      "description": "An Android mobile test specification.",
      "type": "object"
    },
    "AvailableDeepLinks": {
      "type": "object",
      "id": "AvailableDeepLinks",
      "properties": {},
      "description": "A suggestion to use deep links for a Robo run."
    },
    "Thumbnail": {
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The thumbnail's content type, i.e. \"image/png\". Always set.",
          "type": "string"
        },
        "heightPx": {
          "type": "integer",
          "description": "The height of the thumbnail, in pixels. Always set.",
          "format": "int32"
        },
        "data": {
          "format": "byte",
          "description": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set.",
          "type": "string"
        },
        "widthPx": {
          "description": "The width of the thumbnail, in pixels. Always set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A single thumbnail, with its size and format.",
      "id": "Thumbnail"
    },
    "DetectedAppSplashScreen": {
      "type": "object",
      "id": "DetectedAppSplashScreen",
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).",
      "properties": {}
    },
    "IosAppCrashed": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace, if one is available. Optional."
        }
      },
      "id": "IosAppCrashed",
      "description": "Additional details for an iOS app crash."
    },
    "InsufficientCoverage": {
      "id": "InsufficientCoverage",
      "properties": {},
      "description": "A warning that Robo did not crawl potentially important parts of the app.",
      "type": "object"
    },
    "SkippedDetail": {
      "properties": {
        "incompatibleAppVersion": {
          "type": "boolean",
          "description": "If the App doesn't support the specific API level."
        },
        "incompatibleDevice": {
          "description": "If the requested OS version doesn't run on the specific device model.",
          "type": "boolean"
        },
        "incompatibleArchitecture": {
          "type": "boolean",
          "description": "If the App doesn't run on the specific architecture, for example, x86."
        }
      },
      "description": "Details for an outcome with a SKIPPED outcome summary.",
      "type": "object",
      "id": "SkippedDetail"
    },
    "SafeHtmlProto": {
      "id": "SafeHtmlProto",
      "type": "object",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      }
    },
    "FailedToInstall": {
      "type": "object",
      "properties": {},
      "id": "FailedToInstall",
      "description": "Failed to install the APK."
    },
    "PrimaryStep": {
      "id": "PrimaryStep",
      "properties": {
        "rollUp": {
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "type": "string",
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ]
        },
        "individualOutcome": {
          "type": "array",
          "items": {
            "$ref": "IndividualOutcome"
          },
          "description": "Step Id and outcome of each individual step."
        }
      },
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step.",
      "type": "object"
    },
    "PerformedGoogleLogin": {
      "properties": {},
      "type": "object",
      "id": "PerformedGoogleLogin",
      "description": "A notification that Robo signed in with Google."
    },
    "LogcatCollectionError": {
      "description": "A warning that there were issues in logcat collection.",
      "properties": {},
      "type": "object",
      "id": "LogcatCollectionError"
    },
    "FailureDetail": {
      "type": "object",
      "description": "Details for an outcome with a FAILURE outcome summary.",
      "properties": {
        "notInstalled": {
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
          "type": "boolean"
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start.",
          "type": "boolean"
        },
        "timedOut": {
          "description": "If the test overran some time limit, and that is why it failed.",
          "type": "boolean"
        },
        "crashed": {
          "description": "If the failure was severe because the system (app) under test crashed.",
          "type": "boolean"
        },
        "otherNativeCrash": {
          "type": "boolean",
          "description": "If a native process (including any other than the app) crashed."
        },
        "failedRoboscript": {
          "type": "boolean",
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl."
        },
        "deviceOutOfMemory": {
          "type": "boolean",
          "description": "If the device ran out of memory during a test, causing the test to crash."
        }
      },
      "id": "FailureDetail"
    },
    "BlankScreen": {
      "properties": {
        "screenId": {
          "type": "string",
          "description": "The screen id of the element"
        }
      },
      "type": "object",
      "description": "A warning that Robo encountered a screen that was mostly blank; this may indicate a problem with the app.",
      "id": "BlankScreen"
    },
    "RegionProto": {
      "properties": {
        "topPx": {
          "type": "integer",
          "description": "The top of the rectangle, in pixels. Always set.",
          "format": "int32"
        },
        "heightPx": {
          "format": "int32",
          "type": "integer",
          "description": "The height, in pixels. Always set."
        },
        "widthPx": {
          "format": "int32",
          "description": "The width, in pixels. Always set.",
          "type": "integer"
        },
        "leftPx": {
          "format": "int32",
          "type": "integer",
          "description": "The left side of the rectangle, in pixels. Always set."
        }
      },
      "type": "object",
      "id": "RegionProto",
      "description": "A rectangular region."
    },
    "ListScreenshotClustersResponse": {
      "type": "object",
      "id": "ListScreenshotClustersResponse",
      "properties": {
        "clusters": {
          "items": {
            "$ref": "ScreenshotCluster"
          },
          "description": "The set of clusters associated with an execution Always set",
          "type": "array"
        }
      }
    },
    "MultiStep": {
      "id": "MultiStep",
      "type": "object",
      "properties": {
        "multistepNumber": {
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "type": "integer",
          "format": "int32"
        },
        "primaryStepId": {
          "type": "string",
          "description": "Step Id of the primary (original) step, which might be this step."
        },
        "primaryStep": {
          "$ref": "PrimaryStep",
          "description": "Present if it is a primary (original) step."
        }
      },
      "description": "Details when multiple steps are run with the same configuration as a group."
    },
    "Image": {
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "The thumbnail.",
          "$ref": "Thumbnail"
        },
        "error": {
          "$ref": "Status",
          "description": "An error explaining why the thumbnail could not be rendered."
        },
        "stepId": {
          "description": "The step to which the image is attached. Always set.",
          "type": "string"
        },
        "sourceImage": {
          "$ref": "ToolOutputReference",
          "description": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set."
        }
      },
      "description": "An image, with a link to the main image and a thumbnail.",
      "id": "Image"
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Executions to fetch.",
          "type": "string"
        },
        "executions": {
          "type": "array",
          "description": "Executions. Always set.",
          "items": {
[...]
