{
  "basePath": "",
  "protocol": "rest",
  "revision": "20230228",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "canonicalName": "Tool Results",
  "discoveryVersion": "v1",
  "version": "v1beta3",
  "baseUrl": "https://toolresults.googleapis.com/",
  "title": "Cloud Tool Results API",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://toolresults.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "TestSuiteOverview": {
      "properties": {
        "flakyCount": {
          "description": "Number of flaky test cases, set by the service by rolling up flaky test attempts. Present only for rollup test suite overview at environment level. A step cannot have flaky test cases.",
          "type": "integer",
          "format": "int32"
        },
        "xmlSource": {
          "description": "If this test suite was parsed from XML, this is the URI where the original XML file is stored. Note: Multiple test suites can share the same xml_source Returns INVALID_ARGUMENT if the uri format is not supported. - In create/response: optional - In update request: never",
          "$ref": "FileReference"
        },
        "name": {
          "type": "string",
          "description": "The name of the test suite. - In create/response: always set - In update request: never"
        },
        "totalCount": {
          "type": "integer",
          "description": "Number of test cases, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "format": "int32"
        },
        "skippedCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of test cases not run, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "elapsedTime": {
          "description": "Elapsed time of test suite.",
          "$ref": "Duration"
        },
        "errorCount": {
          "format": "int32",
          "description": "Number of test cases in error, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "type": "integer"
        },
        "failureCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of failed test cases, typically set by the service by parsing the xml_source. May also be set by the user. - In create/response: always set - In update request: never"
        }
      },
      "id": "TestSuiteOverview",
      "description": "A summary of a test suite result either parsed from XML or uploaded directly by a user. Note: the API related comments are for StepService only. This message is also being used in ExecutionService in a read only mode for the corresponding step.",
      "type": "object"
    },
    "InsufficientCoverage": {
      "properties": {},
      "id": "InsufficientCoverage",
      "type": "object",
      "description": "A warning that Robo did not crawl potentially important parts of the app."
    },
    "ListTestCasesResponse": {
      "type": "object",
      "id": "ListTestCasesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "testCases": {
          "description": "List of test cases.",
          "items": {
            "$ref": "TestCase"
          },
          "type": "array"
        }
      },
      "description": "Response message for StepService.ListTestCases."
    },
    "TestCase": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "passed",
            "failed",
            "error",
            "skipped",
            "flaky"
          ],
          "description": "The status of the test case. Required.",
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked. Present only for rollup test cases; test cases from steps that were run with the same configuration had both failure and success outcomes."
          ]
        },
        "testCaseReference": {
          "description": "Test case reference, e.g. name, class name and test suite name. Required.",
          "$ref": "TestCaseReference"
        },
        "toolOutputs": {
          "items": {
            "$ref": "ToolOutputReference"
          },
          "type": "array",
          "description": "References to opaque files of any format output by the tool execution. @OutputOnly"
        },
        "elapsedTime": {
          "description": "The elapsed run time of the test case. Required.",
          "$ref": "Duration"
        },
        "skippedMessage": {
          "type": "string",
          "description": "Why the test case was skipped. Present only for skipped test case"
        },
        "startTime": {
          "$ref": "Timestamp",
          "description": "The start time of the test case."
        },
        "endTime": {
          "$ref": "Timestamp",
          "description": "The end time of the test case."
        },
        "stackTraces": {
          "description": "The stack trace details if the test case failed or encountered an error. The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated. Zero if the test case passed.",
          "items": {
            "$ref": "StackTrace"
          },
          "type": "array"
        },
        "testCaseId": {
          "description": "A unique identifier within a Step for this Test Case.",
          "type": "string"
        }
      },
      "id": "TestCase",
      "type": "object"
    },
    "PerfSampleSeries": {
      "id": "PerfSampleSeries",
      "description": "Resource representing a collection of performance samples (or data points)",
      "properties": {
        "basicPerfSampleSeries": {
          "$ref": "BasicPerfSampleSeries",
          "description": "Basic series represented by a line chart"
        },
        "projectId": {
          "type": "string",
          "description": "The cloud project @OutputOnly"
        },
        "stepId": {
          "type": "string",
          "description": "A tool results step ID. @OutputOnly"
        },
        "sampleSeriesId": {
          "description": "A sample series id @OutputOnly",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "A tool results execution ID. @OutputOnly"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UIElementTooDeep": {
      "type": "object",
      "properties": {
        "depth": {
          "format": "int32",
          "description": "The depth of the screen element",
          "type": "integer"
        },
        "screenStateId": {
          "type": "string",
          "description": "The screen state id of the element"
        },
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        }
      },
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "id": "UIElementTooDeep"
    },
    "NonSdkApiInsight": {
      "description": "Non-SDK API insights (to address debugging solutions).",
      "properties": {
        "exampleTraceMessages": {
          "description": "Optional sample stack traces, for which this insight applies (there should be at least one).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "upgradeInsight": {
          "$ref": "UpgradeInsight",
          "description": "An insight indicating that the hidden API usage originates from the use of a library that needs to be upgraded."
        },
        "matcherId": {
          "description": "A unique ID, to be used for determining the effectiveness of this particular insight in the context of a matcher. (required)",
          "type": "string"
        },
        "pendingGoogleUpdateInsight": {
          "description": "An insight indicating that the hidden API usage originates from a Google-provided library.",
          "$ref": "PendingGoogleUpdateInsight"
        }
      },
      "type": "object",
      "id": "NonSdkApiInsight"
    },
    "MatrixDimensionDefinition": {
      "description": "One dimension of the matrix of different runs of a step.",
      "id": "MatrixDimensionDefinition",
      "properties": {},
      "type": "object"
    },
    "StepSummary": {
      "description": "Lightweight summary of a step within this execution.",
      "type": "object",
      "id": "StepSummary",
      "properties": {}
    },
    "FileReference": {
      "properties": {
        "fileUri": {
          "description": "The URI of a file stored in Google Cloud Storage. For example: http://storage.googleapis.com/mybucket/path/to/test.xml or in gsutil format: gs://mybucket/path/to/test.xml with version-specific info, gs://mybucket/path/to/test.xml#1360383693690000 An INVALID_ARGUMENT error will be returned if the URI format is not supported. - In response: always set - In create/update request: always set",
          "type": "string"
        }
      },
      "description": "A reference to a file.",
      "id": "FileReference",
      "type": "object"
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "An error explaining why the thumbnail could not be rendered."
        },
        "stepId": {
          "description": "The step to which the image is attached. Always set.",
          "type": "string"
        },
        "sourceImage": {
          "$ref": "ToolOutputReference",
          "description": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set."
        },
        "thumbnail": {
          "$ref": "Thumbnail",
          "description": "The thumbnail."
        }
      },
      "description": "An image, with a link to the main image and a thumbnail."
    },
    "AndroidTest": {
      "description": "An Android mobile test specification.",
      "type": "object",
      "id": "AndroidTest",
      "properties": {
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "androidAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "AndroidAppInfo"
        },
        "testTimeout": {
          "$ref": "Duration",
          "description": "Max time a test is allowed to run before it is automatically cancelled."
        },
        "androidTestLoop": {
          "description": "An Android test loop.",
          "$ref": "AndroidTestLoop"
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        }
      }
    },
    "GraphicsStatsBucket": {
      "properties": {
        "frameCount": {
          "description": "Number of frames in the bucket.",
          "format": "int64",
          "type": "string"
        },
        "renderMillis": {
          "format": "int64",
          "description": "Lower bound of render time in milliseconds.",
          "type": "string"
        }
      },
      "id": "GraphicsStatsBucket",
      "type": "object"
    },
    "UsedRoboIgnoreDirective": {
      "type": "object",
      "description": "Additional details of a used Robo directive with an ignore action. Note: This is a different scenario than unused directive.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was ignored."
        }
      },
      "id": "UsedRoboIgnoreDirective"
    },
    "SkippedDetail": {
      "type": "object",
      "id": "SkippedDetail",
      "description": "Details for an outcome with a SKIPPED outcome summary.",
      "properties": {
        "incompatibleArchitecture": {
          "description": "If the App doesn't run on the specific architecture, for example, x86.",
          "type": "boolean"
        },
        "incompatibleDevice": {
          "type": "boolean",
          "description": "If the requested OS version doesn't run on the specific device model."
        },
        "incompatibleAppVersion": {
          "description": "If the App doesn't support the specific API level.",
          "type": "boolean"
        }
      }
    },
    "ResultsStorage": {
      "id": "ResultsStorage",
      "description": "The storage for test results.",
      "type": "object",
      "properties": {
        "xunitXmlFile": {
          "$ref": "FileReference",
          "description": "The path to the Xunit XML file."
        },
        "resultsStoragePath": {
          "description": "The root directory for test results.",
          "$ref": "FileReference"
        }
      }
    },
    "MemoryInfo": {
      "properties": {
        "memoryTotalInKibibyte": {
          "description": "Total memory available on the device in KiB",
          "type": "string",
          "format": "int64"
        },
        "memoryCapInKibibyte": {
          "type": "string",
          "description": "Maximum memory that can be allocated to the process in KiB",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "MemoryInfo"
    },
    "Timestamp": {
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.",
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int64",
          "type": "string",
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive."
        }
      },
      "type": "object",
      "id": "Timestamp"
    },
    "StepLabelsEntry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "StepLabelsEntry"
    },
    "ListScreenshotClustersResponse": {
      "properties": {
        "clusters": {
          "description": "The set of clusters associated with an execution Always set",
          "type": "array",
          "items": {
            "$ref": "ScreenshotCluster"
          }
        }
      },
      "type": "object",
      "id": "ListScreenshotClustersResponse"
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch."
        },
        "environments": {
          "type": "array",
          "description": "Environments. Always set.",
          "items": {
            "$ref": "Environment"
          }
        },
        "historyId": {
          "type": "string",
          "description": "A History id. Always set."
        },
        "projectId": {
          "description": "A Project id. Always set.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "A Execution id Always set."
        }
      },
      "description": "Response message for EnvironmentService.ListEnvironments."
    },
    "PerformedGoogleLogin": {
      "description": "A notification that Robo signed in with Google.",
      "id": "PerformedGoogleLogin",
      "type": "object",
      "properties": {}
    },
    "ScreenshotCluster": {
      "id": "ScreenshotCluster",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "A unique identifier for the cluster. @OutputOnly",
          "type": "string"
        },
        "keyScreen": {
          "$ref": "Screen",
          "description": "A singular screen that represents the cluster as a whole. This screen will act as the \"cover\" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm"
        },
        "screens": {
          "description": "Full list of screens.",
          "items": {
            "$ref": "Screen"
          },
          "type": "array"
        },
        "activity": {
          "type": "string",
          "description": "A string that describes the activity of every screen in the cluster."
        }
      }
    },
    "PrimaryStep": {
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step.",
      "type": "object",
      "id": "PrimaryStep",
      "properties": {
        "individualOutcome": {
          "type": "array",
          "description": "Step Id and outcome of each individual step.",
          "items": {
            "$ref": "IndividualOutcome"
          }
        },
        "rollUp": {
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "type": "string",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ]
        }
      }
    },
    "ToolExecutionStep": {
      "description": "Generic tool step to be used for binaries we do not explicitly support. For example: running cp to copy artifacts from one location to another.",
      "properties": {
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "A Tool execution. - In response: present if set by create/update request - In create/update request: optional"
        }
      },
      "type": "object",
      "id": "ToolExecutionStep"
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "type": "object",
      "description": "Additional details for an iOS app crash.",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "TestExecutionStep": {
      "properties": {
        "testIssues": {
          "items": {
            "$ref": "TestIssue"
          },
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional",
          "type": "array"
        },
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional"
        },
        "testSuiteOverviews": {
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "type": "array",
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)"
        },
        "testTiming": {
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional",
          "$ref": "TestTiming"
        }
      },
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field.",
      "id": "TestExecutionStep",
      "type": "object"
    },
    "AndroidTestLoop": {
      "id": "AndroidTestLoop",
      "type": "object",
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent.",
      "properties": {}
    },
    "BlankScreen": {
      "type": "object",
      "properties": {
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        }
      },
      "description": "A warning that Robo encountered a screen that was mostly blank; this may indicate a problem with the app.",
      "id": "BlankScreen"
    },
    "PerformedMonkeyActions": {
      "properties": {
        "totalActions": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of monkey actions performed during the crawl."
        }
      },
      "type": "object",
      "description": "A notification that Robo performed some monkey actions.",
      "id": "PerformedMonkeyActions"
    },
    "FatalException": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the fatal exception. Optional.",
          "$ref": "StackTrace"
        }
      },
      "description": "Additional details for a fatal exception.",
      "id": "FatalException"
    },
    "TestCaseReference": {
      "id": "TestCaseReference",
      "properties": {
        "name": {
          "description": "The name of the test case. Required.",
          "type": "string"
        },
        "testSuiteName": {
          "description": "The name of the test suite to which this test case belongs.",
          "type": "string"
        },
        "className": {
          "description": "The name of the class.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to a test case. Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name."
    },
    "BatchCreatePerfSamplesResponse": {
      "properties": {
        "perfSamples": {
          "items": {
            "$ref": "PerfSample"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePerfSamplesResponse",
      "type": "object"
    },
    "IosTestLoop": {
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      },
      "description": "A game loop test of an iOS application.",
      "type": "object",
      "id": "IosTestLoop"
    },
    "RegionProto": {
      "type": "object",
      "description": "A rectangular region.",
      "id": "RegionProto",
      "properties": {
        "topPx": {
          "type": "integer",
          "description": "The top of the rectangle, in pixels. Always set.",
          "format": "int32"
        },
        "heightPx": {
          "format": "int32",
          "type": "integer",
          "description": "The height, in pixels. Always set."
        },
        "widthPx": {
          "format": "int32",
          "description": "The width, in pixels. Always set.",
          "type": "integer"
        },
        "leftPx": {
          "description": "The left side of the rectangle, in pixels. Always set.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ToolOutputReference": {
      "properties": {
        "output": {
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set",
          "$ref": "FileReference"
        },
        "testCase": {
          "$ref": "TestCaseReference",
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional"
        }
      },
      "type": "object",
      "description": "A reference to a ToolExecution output file.",
      "id": "ToolOutputReference"
    },
    "ListHistoriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        },
        "histories": {
          "description": "Histories.",
          "type": "array",
          "items": {
            "$ref": "History"
          }
        }
      },
      "description": "Response message for HistoryService.List",
      "id": "ListHistoriesResponse"
    },
    "SuccessDetail": {
      "id": "SuccessDetail",
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process other than the app crashed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Details for an outcome with a SUCCESS outcome summary. LINT.IfChange"
    },
    "TestIssue": {
      "properties": {
        "stackTrace": {
          "description": "Deprecated in favor of stack trace fields inside specific warnings.",
          "$ref": "StackTrace"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified severity. Do not use. For versioning only.",
            "Non critical issue, providing users with some info about the test run.",
            "Non critical issue, providing users with some hints on improving their testing experience, e.g., suggesting to use Game Loops.",
            "Potentially critical issue.",
            "Critical issue."
          ],
          "description": "Severity of issue. Required.",
          "enum": [
            "unspecifiedSeverity",
            "info",
            "suggestion",
            "warning",
            "severe"
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "A brief human-readable message describing the issue. Required."
        },
        "warning": {
          "$ref": "Any",
          "description": "Warning message with additional details of the issue. Should always be a message from com.google.devtools.toolresults.v1.warnings"
        },
        "category": {
          "description": "Category of issue. Required.",
          "enumDescriptions": [
            "Default unspecified category. Do not use. For versioning only.",
            "Issue is not specific to a particular test kind (e.g., a native crash).",
            "Issue is specific to Robo run."
          ],
          "type": "string",
          "enum": [
            "unspecifiedCategory",
            "common",
            "robo"
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type. Do not use. For versioning only.",
            "Issue is a fatal exception.",
            "Issue is a native crash.",
            "Issue is an ANR crash.",
            "Issue is an unused robo directive.",
            "Issue is a suggestion to use orchestrator.",
            "Issue with finding a launcher activity",
            "Issue with resolving a user-provided intent to start an activity",
            "A Robo script was not fully executed.",
            "A Robo script was fully and successfully executed.",
            "The APK failed to install.",
            "The app-under-test has deep links, but none were provided to Robo.",
            "App accessed a non-sdk Api.",
            "App accessed a non-sdk Api (new detailed report)",
            "Robo crawl encountered at least one screen with elements that are not Android UI widgets.",
            "Robo crawl encountered at least one probable login screen.",
            "Robo signed in with Google.",
            "iOS App crashed with an exception.",
            "iOS App crashed without an exception (e.g. killed).",
            "Robo crawl involved performing some monkey actions.",
            "Robo crawl used a Robo directive.",
            "Robo crawl used a Robo directive to ignore an UI element.",
            "Robo did not crawl some potentially important parts of the app.",
            "Robo crawl involved some in-app purchases.",
            "Crash dialog was detected during the test execution",
            "UI element depth is greater than the threshold",
            "Blank screen is found in the Robo crawl",
            "Overlapping UI elements are found in the Robo crawl",
            "An uncaught Unity exception was detected (these don't crash apps).",
            "Device running out of memory was detected",
            "Problems detected while collecting logcat",
            "Robo detected a splash screen provided by app (vs. Android OS splash screen)."
          ],
          "enum": [
            "unspecifiedType",
            "fatalException",
            "nativeCrash",
            "anr",
            "unusedRoboDirective",
            "compatibleWithOrchestrator",
            "launcherActivityNotFound",
            "startActivityNotFound",
            "incompleteRoboScriptExecution",
            "completeRoboScriptExecution",
            "failedToInstall",
            "availableDeepLinks",
            "nonSdkApiUsageViolation",
            "nonSdkApiUsageReport",
            "encounteredNonAndroidUiWidgetScreen",
            "encounteredLoginScreen",
            "performedGoogleLogin",
            "iosException",
            "iosCrash",
            "performedMonkeyActions",
            "usedRoboDirective",
            "usedRoboIgnoreDirective",
            "insufficientCoverage",
            "inAppPurchases",
            "crashDialogError",
            "uiElementsTooDeep",
            "blankScreen",
            "overlappingUiElements",
            "unityException",
            "deviceOutOfMemory",
            "logcatCollectionError",
            "detectedAppSplashScreen"
          ],
          "description": "Type of issue. Required."
        }
      },
      "description": "An issue detected occurring during a test execution.",
      "type": "object",
      "id": "TestIssue"
    },
    "InAppPurchasesFound": {
      "id": "InAppPurchasesFound",
      "properties": {
        "inAppPurchasesFlowsStarted": {
          "description": "The total number of in-app purchases flows started.",
          "type": "integer",
          "format": "int32"
        },
        "inAppPurchasesFlowsExplored": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU."
        }
      },
      "type": "object",
      "description": "Additional details of in-app purchases encountered during the crawl."
    },
    "CPUInfo": {
      "type": "object",
      "id": "CPUInfo",
      "properties": {
        "numberOfCores": {
          "format": "int32",
          "description": "the number of CPU cores",
          "type": "integer"
        },
        "cpuProcessor": {
          "type": "string",
          "description": "description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'"
        },
        "cpuSpeedInGhz": {
          "format": "float",
          "description": "the CPU clock speed in GHz",
          "type": "number"
        }
      }
    },
    "DeviceOutOfMemory": {
      "type": "object",
      "properties": {},
      "id": "DeviceOutOfMemory",
      "description": "A warning that device ran out of memory"
    },
    "BasicPerfSampleSeries": {
      "type": "object",
      "id": "BasicPerfSampleSeries",
      "properties": {
        "sampleSeriesLabel": {
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "type": "string",
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ]
        },
        "perfUnit": {
          "type": "string",
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "perfMetricType": {
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Encapsulates the metadata for basic sample series represented by a line chart"
    },
    "ListPerfSamplesResponse": {
      "type": "object",
      "properties": {
        "perfSamples": {
          "items": {
            "$ref": "PerfSample"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        }
      },
      "id": "ListPerfSamplesResponse"
    },
    "Specification": {
      "description": "The details about how to run the execution.",
      "id": "Specification",
      "properties": {
        "iosTest": {
          "$ref": "IosTest",
          "description": "An iOS mobile test execution specification."
        },
        "androidTest": {
          "$ref": "AndroidTest",
          "description": "An Android mobile test execution specification."
        }
      },
      "type": "object"
    },
    "FailedToInstall": {
      "type": "object",
      "properties": {},
      "description": "Failed to install the APK.",
      "id": "FailedToInstall"
    },
    "LogcatCollectionError": {
      "id": "LogcatCollectionError",
      "properties": {},
      "type": "object",
      "description": "A warning that there were issues in logcat collection."
    },
    "AppStartTime": {
      "properties": {
        "fullyDrawnTime": {
          "$ref": "Duration",
          "description": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full"
        },
        "initialDisplayTime": {
          "$ref": "Duration",
          "description": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial"
        }
      },
      "type": "object",
      "id": "AppStartTime"
    },
    "SuggestionClusterProto": {
      "type": "object",
      "description": "A set of similar suggestions that we suspect are closely related. This proto and most of the nested protos are branched from foxandcrown.prelaunchreport.service.SuggestionClusterProto, replacing PLR's dependencies with FTL's.",
      "properties": {
        "category": {
          "enum": [
            "unknownCategory",
            "contentLabeling",
            "touchTargetSize",
            "lowContrast",
            "implementation"
          ],
          "type": "string",
          "description": "Category in which these types of suggestions should appear. Always set.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "suggestions": {
          "type": "array",
          "description": "A sequence of suggestions. All of the suggestions within a cluster must have the same SuggestionPriority and belong to the same SuggestionCategory. Suggestions with the same screenshot URL should be adjacent.",
          "items": {
            "$ref": "SuggestionProto"
          }
        }
      },
      "id": "SuggestionClusterProto"
    },
    "CrashDialogError": {
      "id": "CrashDialogError",
      "description": "Crash dialog was detected during the test execution",
      "type": "object",
      "properties": {
        "crashPackage": {
          "description": "The name of the package that caused the dialog.",
          "type": "string"
        }
      }
    },
    "NonSdkApiUsageViolationReport": {
      "id": "NonSdkApiUsageViolationReport",
      "type": "object",
      "properties": {
        "minSdkVersion": {
          "format": "int32",
          "description": "Minimum API level required for the application to run.",
          "type": "integer"
        },
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "format": "int32",
          "type": "integer"
        },
        "uniqueApis": {
          "type": "integer",
          "description": "Total number of unique Non-SDK API's accessed.",
          "format": "int32"
        },
        "exampleApis": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages."
        }
      },
      "description": "Contains a summary and examples of non-sdk API usage violations."
    },
    "IosXcTest": {
      "id": "IosXcTest",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        },
        "xcodeVersion": {
          "description": "Xcode version that the test was run with.",
          "type": "string"
        }
      },
      "description": "A test of an iOS application that uses the XCTest framework.",
      "type": "object"
    },
    "OverlappingUIElements": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Resource names of the overlapping screen elements",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "screenId": {
          "description": "The screen id of the elements",
          "type": "string"
        }
      },
      "id": "OverlappingUIElements",
      "description": "A warning that Robo encountered a screen that has overlapping clickable elements; this may indicate a potential UI issue."
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes).",
      "properties": {
        "dimensionValue": {
          "items": {
            "$ref": "EnvironmentDimensionValueEntry"
          },
          "type": "array",
          "description": "Dimension values describing the environment. Dimension values always consist of \"Model\", \"Version\", \"Locale\", and \"Orientation\". - In response: always set - In create request: always set - In update request: never set"
        },
        "resultsStorage": {
          "$ref": "ResultsStorage",
          "description": "The location where output files are stored in the user bucket."
        },
        "completionTime": {
          "description": "Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE.",
          "$ref": "Timestamp"
        },
        "shardSummaries": {
          "items": {
            "$ref": "ShardSummary"
          },
          "description": "Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService.",
          "type": "array"
        },
        "projectId": {
          "type": "string",
          "description": "Output only. A Project id."
        },
        "creationTime": {
          "description": "Output only. The time when the Environment was created.",
          "$ref": "Timestamp"
        },
        "environmentId": {
          "type": "string",
          "description": "Output only. An Environment id."
        },
        "environmentResult": {
          "description": "Merged result of the environment.",
          "$ref": "MergedResult"
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27."
        },
        "historyId": {
          "description": "Output only. A History id.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Output only. An Execution id."
        }
      }
    },
    "UpgradeInsight": {
      "id": "UpgradeInsight",
      "properties": {
        "upgradeToVersion": {
          "type": "string",
          "description": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem"
        },
        "packageName": {
          "type": "string",
          "description": "The name of the package to be upgraded."
        }
      },
      "type": "object",
      "description": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SuggestionProto": {
      "type": "object",
      "id": "SuggestionProto",
      "properties": {
        "priority": {
          "enum": [
            "unknownPriority",
            "error",
            "warning",
            "info"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Relative importance of a suggestion. Always set."
        },
        "title": {
          "description": "General title for the suggestion, in the user's language, without markup. Always set.",
          "type": "string"
        },
        "secondaryPriority": {
          "type": "number",
          "description": "Relative importance of a suggestion as compared with other suggestions that have the same priority and category. This is a meaningless value that can be used to order suggestions that are in the same category and have the same priority. The larger values have higher priority (i.e., are more important). Optional.",
          "format": "double"
        },
        "shortMessage": {
          "$ref": "SafeHtmlProto",
          "description": "Concise message, in the user's language, representing the suggestion, which may contain markup. Always set."
        },
        "longMessage": {
          "description": "Message, in the user's language, explaining the suggestion, which may contain markup. Always set.",
          "$ref": "SafeHtmlProto"
        },
        "screenId": {
          "type": "string",
          "description": "ID of the screen for the suggestion. It is used for getting the corresponding screenshot path. For example, screen_id \"1\" corresponds to \"1.png\" file in GCS. Always set."
        },
        "resourceName": {
          "type": "string",
          "description": "Reference to a view element, identified by its resource name, if it has one."
        },
        "helpUrl": {
          "type": "string",
          "description": "Reference to a help center article concerning this type of suggestion. Always set."
        },
        "pseudoResourceId": {
          "type": "string",
          "description": "A somewhat human readable identifier of the source view, if it does not have a resource_name. This is a path within the accessibility hierarchy, an element with resource name; similar to an XPath."
        },
        "region": {
          "description": "Region within the screenshot that is relevant to this suggestion. Optional.",
          "$ref": "RegionProto"
        }
      }
    },
    "ListStepsResponse": {
      "type": "object",
      "description": "Response message for StepService.List.",
      "id": "ListStepsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more steps to read, by calling list again with this value in the page_token field.",
          "type": "string"
        },
        "steps": {
          "type": "array",
          "description": "Steps.",
          "items": {
            "$ref": "Step"
          }
        }
      }
    },
    "FailureDetail": {
      "id": "FailureDetail",
      "type": "object",
      "description": "Details for an outcome with a FAILURE outcome summary.",
      "properties": {
        "notInstalled": {
          "type": "boolean",
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform."
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start.",
          "type": "boolean"
        },
        "timedOut": {
          "type": "boolean",
          "description": "If the test overran some time limit, and that is why it failed."
        },
        "otherNativeCrash": {
          "description": "If a native process (including any other than the app) crashed.",
          "type": "boolean"
        },
        "failedRoboscript": {
          "type": "boolean",
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl."
        },
        "crashed": {
          "type": "boolean",
          "description": "If the failure was severe because the system (app) under test crashed."
        },
        "deviceOutOfMemory": {
          "type": "boolean",
          "description": "If the device ran out of memory during a test, causing the test to crash."
        }
      }
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "properties": {
        "distinctScreens": {
          "description": "Number of encountered distinct screens with non Android UI widgets.",
          "type": "integer",
          "format": "int32"
        },
        "screenIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subset of screens which contain non Android UI widgets."
        }
      },
      "description": "Additional details about encountered screens with elements that are not Android UI widgets.",
      "type": "object",
      "id": "EncounteredNonAndroidUiWidgetScreen"
    },
    "TestTiming": {
      "properties": {
        "testProcessDuration": {
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional",
          "$ref": "Duration"
        }
      },
      "description": "Testing timing break down to know phases.",
      "type": "object",
      "id": "TestTiming"
    },
    "ProjectSettings": {
      "id": "ProjectSettings",
      "properties": {
        "defaultBucket": {
          "type": "string",
          "description": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional"
        },
        "name": {
          "type": "string",
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set"
        }
      },
      "type": "object",
      "description": "Per-project settings for the Tool Results service."
    },
    "PublishXunitXmlFilesRequest": {
      "description": "Request message for StepService.PublishXunitXmlFiles.",
      "id": "PublishXunitXmlFilesRequest",
      "type": "object",
      "properties": {
        "xunitXmlFiles": {
          "items": {
            "$ref": "FileReference"
          },
          "description": "URI of the Xunit XML files to publish. The maximum size of the file this reference is pointing to is 50MB. Required.",
          "type": "array"
        }
      }
    },
    "UnspecifiedWarning": {
      "type": "object",
      "id": "UnspecifiedWarning",
      "description": "Default unspecified warning.",
      "properties": {}
    },
    "MergedResult": {
      "properties": {
        "testSuiteOverviews": {
          "description": "The combined and rolled-up result of each test suite that was run as part of this environment. Combining: When the test cases from a suite are run in different steps (sharding), the results are added back together in one overview. (e.g., if shard1 has 2 failures and shard2 has 1 failure than the overview failure_count = 3). Rollup: When test cases from the same suite are run multiple times (flaky), the results are combined (e.g., if testcase1.run1 fails, testcase1.run2 passes, and both testcase2.run1 and testcase2.run2 fail then the overview flaky_count = 1 and failure_count = 1).",
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "description": "State of the resource",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ]
        },
        "outcome": {
          "$ref": "Outcome",
          "description": "Outcome of the resource"
        }
      },
      "description": "Merged test result for environment. If the environment has only one step (no reruns or shards), then the merged result is the same as the step result. If the environment has multiple shards and/or reruns, then the results of shards and reruns that belong to the same environment are merged into one environment result.",
      "id": "MergedResult",
      "type": "object"
    },
    "IndividualOutcome": {
      "type": "object",
      "id": "IndividualOutcome",
      "properties": {
        "runDuration": {
          "description": "How long it took for this step to run.",
          "$ref": "Duration"
        },
        "outcomeSummary": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ]
        },
        "stepId": {
          "type": "string"
        },
        "multistepNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0."
        }
      },
      "description": "Step Id and outcome of each individual step that was run as a group with other steps with the same configuration."
    },
    "IosAppInfo": {
      "properties": {
        "name": {
          "description": "The name of the app. Required",
          "type": "string"
        }
      },
      "type": "object",
      "description": "iOS app information",
      "id": "IosAppInfo"
    },
    "Execution": {
      "type": "object",
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable. Next tag: 16",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set"
        },
        "completionTime": {
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "state": {
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional"
        },
        "dimensionDefinitions": {
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set",
          "type": "array",
          "items": {
            "$ref": "MatrixDimensionDefinition"
          }
        },
        "outcome": {
          "$ref": "Outcome",
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional"
        },
        "creationTime": {
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "specification": {
          "$ref": "Specification",
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional"
        },
        "testExecutionMatrixId": {
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set",
          "type": "string"
        }
      },
      "id": "Execution"
    },
    "ToolExecution": {
      "type": "object",
      "description": "An execution of an arbitrary tool. It could be a test runner or a tool copying artifacts or deploying code.",
      "id": "ToolExecution",
      "properties": {
        "toolLogs": {
          "items": {
            "$ref": "FileReference"
          },
          "type": "array",
          "description": "References to any plain text logs output the tool execution. This field can be set before the tool has exited in order to be able to have access to a live view of the logs while the tool is running. The maximum allowed number of tool logs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list"
        },
        "exitCode": {
          "description": "Tool execution exit code. This field will be set once the tool has exited. - In response: present if set by create/update request - In create request: optional - In update request: optional, a FAILED_PRECONDITION error will be returned if an exit_code is already set.",
          "$ref": "ToolExitCode"
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution. The maximum allowed number of tool outputs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list",
          "items": {
            "$ref": "ToolOutputReference"
          },
          "type": "array"
        },
        "commandLineArguments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The full tokenized command line including the program name (equivalent to argv in a C program). - In response: present if set by create request - In create request: optional - In update request: never set"
        }
      }
    },
    "ListPerfSampleSeriesResponse": {
      "id": "ListPerfSampleSeriesResponse",
      "properties": {
        "perfSampleSeries": {
          "type": "array",
          "items": {
            "$ref": "PerfSampleSeries"
          },
          "description": "The resulting PerfSampleSeries sorted by id"
        }
      },
      "type": "object"
    },
    "IosRoboTest": {
      "id": "IosRoboTest",
      "description": "A Robo test for an iOS application.",
      "type": "object",
      "properties": {}
    },
    "IosTest": {
      "id": "IosTest",
      "properties": {
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "An iOS XCTest."
        },
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "iosAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "IosAppInfo"
        },
        "iosTestLoop": {
          "description": "An iOS test loop.",
          "$ref": "IosTestLoop"
        }
      },
      "type": "object",
      "description": "A iOS mobile test specification"
    },
    "PendingGoogleUpdateInsight": {
      "description": "This insight indicates that the hidden API usage originates from a Google-provided library. Users need not take any action.",
      "id": "PendingGoogleUpdateInsight",
      "type": "object",
      "properties": {
        "nameOfGoogleLibrary": {
          "type": "string",
          "description": "The name of the Google-provided library with the non-SDK API dependency."
        }
      }
    },
    "StartActivityNotFound": {
      "description": "User provided intent failed to resolve to an activity.",
      "id": "StartActivityNotFound",
      "properties": {
        "uri": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShardSummary": {
      "description": "Result summary for a shard in an environment.",
      "id": "ShardSummary",
      "type": "object",
      "properties": {
        "shardResult": {
          "description": "Merged result of the shard.",
          "$ref": "MergedResult"
        },
        "runs": {
          "description": "Summaries of the steps belonging to the shard. With flaky_test_attempts enabled from TestExecutionService, more than one run (Step) can present. And the runs will be sorted by multistep_number.",
          "type": "array",
          "items": {
            "$ref": "StepSummary"
          }
        }
      }
    },
    "Any": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "format": "byte"
        },
        "typeUrl": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics."
        }
      },
      "id": "Any",
      "description": " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }",
      "type": "object"
    },
    "DetectedAppSplashScreen": {
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).",
      "properties": {},
      "type": "object",
      "id": "DetectedAppSplashScreen"
    },
    "BatchCreatePerfSamplesRequest": {
      "id": "BatchCreatePerfSamplesRequest",
      "description": "The request must provide up to a maximum of 5000 samples to be created; a larger sample size will cause an INVALID_ARGUMENT error",
      "properties": {
        "perfSamples": {
          "description": "The set of PerfSamples to create should not include existing timestamps",
          "items": {
            "$ref": "PerfSample"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AvailableDeepLinks": {
      "properties": {},
      "description": "A suggestion to use deep links for a Robo run.",
      "type": "object",
      "id": "AvailableDeepLinks"
    },
    "Duration": {
      "id": "Duration",
      "properties": {
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years"
        },
        "nanos": {
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years."
    },
    "ListStepThumbnailsResponse": {
      "type": "object",
      "description": "A response containing the thumbnails in a step.",
      "properties": {
        "thumbnails": {
          "description": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep).",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field."
        }
      },
      "id": "ListStepThumbnailsResponse"
    },
    "NonSdkApiUsageViolation": {
      "description": "Additional details for a non-sdk API usage violation.",
      "properties": {
        "uniqueApis": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of unique hidden API's accessed."
        },
        "apiSignatures": {
          "description": "Signatures of a subset of those hidden API's.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "NonSdkApiUsageViolation"
    },
    "LauncherActivityNotFound": {
      "description": "Failed to find the launcher activity of an app.",
      "type": "object",
      "id": "LauncherActivityNotFound",
      "properties": {}
    },
    "ListExecutionsResponse": {
      "type": "object",
      "id": "ListExecutionsResponse",
      "properties": {
        "executions": {
          "description": "Executions. Always set.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Executions to fetch."
        }
      }
    },
    "UsedRoboDirective": {
      "id": "UsedRoboDirective",
      "type": "object",
      "description": "Additional details of a used Robo directive.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was used."
        }
      }
    },
    "ANR": {
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the ANR crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "id": "ANR",
      "description": "Additional details for an ANR crash.",
      "type": "object"
    },
    "History": {
      "id": "History",
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.",
      "properties": {
        "testPlatform": {
          "type": "string",
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
        },
        "name": {
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
        }
      },
      "type": "object"
    },
    "GraphicsStats": {
      "description": "Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+.",
      "type": "object",
      "properties": {
        "slowUiThreadCount": {
          "format": "int64",
          "description": "Total \"slow UI thread\" events.",
          "type": "string"
        },
        "highInputLatencyCount": {
          "type": "string",
          "description": "Total \"high input latency\" events.",
          "format": "int64"
        },
        "missedVsyncCount": {
          "format": "int64",
          "type": "string",
          "description": "Total \"missed vsync\" events."
        },
        "slowBitmapUploadCount": {
          "type": "string",
          "description": "Total \"slow bitmap upload\" events.",
          "format": "int64"
        },
        "jankyFrames": {
          "type": "string",
          "format": "int64",
          "description": "Total frames with slow render time. Should be \u003c= total_frames."
        },
        "slowDrawCount": {
          "format": "int64",
          "type": "string",
          "description": "Total \"slow draw\" events."
        },
        "p99Millis": {
          "description": "99th percentile frame render time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "GraphicsStatsBucket"
          },
          "description": "Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)"
        },
        "p50Millis": {
          "description": "50th percentile frame render time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "p90Millis": {
          "format": "int64",
          "description": "90th percentile frame render time in milliseconds.",
          "type": "string"
        },
        "p95Millis": {
          "description": "95th percentile frame render time in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "totalFrames": {
          "format": "int64",
          "type": "string",
          "description": "Total frames rendered by package."
        }
      },
      "id": "GraphicsStats"
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "type": "object",
      "properties": {
        "heightPx": {
          "description": "The height of the thumbnail, in pixels. Always set.",
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set."
        },
        "contentType": {
          "description": "The thumbnail's content type, i.e. \"image/png\". Always set.",
          "type": "string"
        },
        "widthPx": {
          "description": "The width of the thumbnail, in pixels. Always set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A single thumbnail, with its size and format."
    },
    "ToolExitCode": {
      "description": "Exit code from a tool execution.",
      "properties": {
        "number": {
          "format": "int32",
          "type": "integer",
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set"
        }
      },
      "id": "ToolExitCode",
      "type": "object"
    },
    "StackTrace": {
      "type": "object",
      "description": "A stacktrace.",
      "properties": {
        "exception": {
          "type": "string",
          "description": "The stack trace message. Required"
        }
      },
      "id": "StackTrace"
    },
    "StepDimensionValueEntry": {
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "StepDimensionValueEntry",
      "type": "object"
    },
    "MultiStep": {
      "id": "MultiStep",
      "type": "object",
      "properties": {
        "multistepNumber": {
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "format": "int32",
          "type": "integer"
        },
        "primaryStep": {
          "description": "Present if it is a primary (original) step.",
          "$ref": "PrimaryStep"
        },
        "primaryStepId": {
          "type": "string",
          "description": "Step Id of the primary (original) step, which might be this step."
        }
      },
      "description": "Details when multiple steps are run with the same configuration as a group."
    },
    "PerfSample": {
      "properties": {
        "value": {
          "description": "Value observed",
          "type": "number",
          "format": "double"
        },
        "sampleTime": {
          "description": "Timestamp of collection.",
          "$ref": "Timestamp"
        }
      },
      "description": "Resource representing a single performance measure or data point",
      "type": "object",
      "id": "PerfSample"
    },
    "RoboScriptExecution": {
      "properties": {
        "totalActions": {
          "format": "int32",
          "description": "The total number of actions in the Robo script.",
          "type": "integer"
        },
        "successfulActions": {
          "format": "int32",
          "type": "integer",
          "description": "The number of Robo script actions executed successfully."
        }
      },
      "type": "object",
      "description": "Execution stats for a user-provided Robo script.",
      "id": "RoboScriptExecution"
    },
    "EncounteredLoginScreen": {
      "id": "EncounteredLoginScreen",
      "type": "object",
      "description": "Additional details about encountered login screens.",
      "properties": {
        "screenIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subset of login screens."
        },
        "distinctScreens": {
          "description": "Number of encountered distinct login screens.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Screen": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Model of the device that the screenshot was taken on. Required."
        },
        "version": {
          "description": "OS version of the device that the screenshot was taken on. Required.",
          "type": "string"
        },
        "locale": {
          "description": "Locale of the device that the screenshot was taken on. Required.",
          "type": "string"
        },
        "fileReference": {
          "description": "File reference of the png file. Required.",
          "type": "string"
        }
      },
      "id": "Screen",
      "type": "object"
    },
    "NativeCrash": {
      "description": "Additional details for a native crash.",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the native crash. Optional."
        }
      },
      "id": "NativeCrash",
      "type": "object"
    },
    "EnvironmentDimensionValueEntry": {
      "id": "EnvironmentDimensionValueEntry",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AndroidInstrumentationTest": {
      "id": "AndroidInstrumentationTest",
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.",
      "type": "object",
      "properties": {
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class. Required",
          "type": "string"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        },
        "useOrchestrator": {
          "type": "boolean",
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not."
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NonSdkApi": {
      "id": "NonSdkApi",
      "properties": {
        "list": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Which list this API appears on",
          "type": "string",
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q",
            "GREY_MAX_R"
          ]
        },
        "insights": {
          "items": {
            "$ref": "NonSdkApiInsight"
          },
          "type": "array",
          "description": "Optional debugging insights for non-SDK API violations."
        },
        "exampleStackTraces": {
          "items": {
            "type": "string"
          },
          "description": "Example stack traces of this API being called.",
          "type": "array"
        },
        "apiSignature": {
          "description": "The signature of the Non-SDK API",
          "type": "string"
        },
        "invocationCount": {
          "description": "The total number of times this API was observed to have been called.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "type": "object"
    },
    "ListStepAccessibilityClustersResponse": {
      "properties": {
        "clusters": {
          "description": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster.",
          "type": "array",
          "items": {
            "$ref": "SuggestionClusterProto"
          }
        },
        "name": {
          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents.",
          "type": "string"
        }
      },
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters.",
      "type": "object",
      "id": "ListStepAccessibilityClustersResponse"
    },
    "AndroidRoboTest": {
      "properties": {
        "bootstrapRunnerClass": {
          "type": "string",
          "description": "The runner class for the bootstrap. Optional"
        },
        "maxDepth": {
          "description": "The max depth of the traversal stack Robo can explore. Optional",
          "format": "int32",
          "type": "integer"
        },
        "bootstrapPackageId": {
          "type": "string",
          "description": "The java package for the bootstrap. Optional"
        },
        "maxSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of steps/actions Robo can execute. Default is no limit (0). Optional"
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app. Optional",
          "type": "string"
        }
      },
      "description": "A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes.",
      "type": "object",
      "id": "AndroidRoboTest"
    },
    "PerfMetricsSummary": {
      "description": "A summary of perf metrics collected and performance environment info",
      "type": "object",
      "id": "PerfMetricsSummary",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "A tool results execution ID. @OutputOnly"
        },
        "perfEnvironment": {
          "description": "Describes the environment in which the performance metrics were collected",
          "$ref": "PerfEnvironment"
        },
        "appStartTime": {
          "$ref": "AppStartTime"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "projectId": {
          "description": "The cloud project @OutputOnly",
          "type": "string"
        },
        "stepId": {
          "description": "A tool results step ID. @OutputOnly",
          "type": "string"
        },
        "perfMetrics": {
          "description": "Set of resource collected",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "perfMetricTypeUnspecified",
              "memory",
              "cpu",
              "network",
              "graphics"
            ]
          },
          "type": "array"
        },
        "graphicsStats": {
          "description": "Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run.",
          "$ref": "GraphicsStats"
        }
      }
    },
    "InconclusiveDetail": {
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary.",
      "id": "InconclusiveDetail",
      "type": "object",
      "properties": {
        "infrastructureFailure": {
          "description": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail.",
          "type": "boolean"
        },
        "hasErrorLogs": {
          "description": "If results are being provided to the user in certain cases of infrastructure failures",
          "type": "boolean"
        },
        "abortedByUser": {
          "description": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running.",
          "type": "boolean"
        }
      }
    },
    "PerfEnvironment": {
      "description": "Encapsulates performance environment info",
      "type": "object",
      "id": "PerfEnvironment",
      "properties": {
        "cpuInfo": {
          "$ref": "CPUInfo",
          "description": "CPU related environment info"
        },
        "memoryInfo": {
          "description": "Memory related environment info",
          "$ref": "MemoryInfo"
        }
      }
    },
    "SafeHtmlProto": {
      "type": "object",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "id": "SafeHtmlProto",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      }
    },
    "Outcome": {
      "type": "object",
      "id": "Outcome",
      "description": "Interprets a result so that humans and machines can act on it.",
      "properties": {
        "successDetail": {
          "$ref": "SuccessDetail",
          "description": "More information about a SUCCESS outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SUCCESS. Optional"
        },
        "summary": {
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "description": "The simplest way to interpret a result. Required",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string"
        },
        "skippedDetail": {
          "description": "More information about a SKIPPED outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED. Optional",
          "$ref": "SkippedDetail"
        },
        "inconclusiveDetail": {
          "$ref": "InconclusiveDetail",
          "description": "More information about an INCONCLUSIVE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not INCONCLUSIVE. Optional"
        },
        "failureDetail": {
          "$ref": "FailureDetail",
          "description": "More information about a FAILURE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not FAILURE. Optional"
        }
      }
    },
    "AndroidAppInfo": {
      "properties": {
        "packageName": {
          "description": "The package name of the app. Required.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app. Optional",
          "type": "string"
        },
        "versionCode": {
          "description": "The internal version code of the app. Optional.",
          "type": "string"
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        }
      },
      "id": "AndroidAppInfo",
      "type": "object",
      "description": "Android app information."
    },
    "UnusedRoboDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was unused."
        }
      },
      "id": "UnusedRoboDirective",
      "description": "Additional details of an unused robodirective."
    },
    "Step": {
      "type": "object",
      "id": "Step",
[...]
