{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "title": "Storage Transfer API",
  "id": "storagetransfer:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "revision": "20230209",
  "description": "Transfers data from external data sources to a Google Cloud Storage bucket or between Google Cloud Storage buckets. ",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "schemas": {
    "NotificationConfig": {
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "Required. The `Topic.name` of the Pub/Sub topic to which to publish notifications. Must be of the format: `projects/{project}/topics/{topic}`. Not matching this format results in an INVALID_ARGUMENT error."
        },
        "eventTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "TRANSFER_OPERATION_SUCCESS",
              "TRANSFER_OPERATION_FAILED",
              "TRANSFER_OPERATION_ABORTED"
            ],
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "`TransferOperation` completed with status SUCCESS.",
              "`TransferOperation` completed with status FAILED.",
              "`TransferOperation` completed with status ABORTED."
            ]
          },
          "description": "Event types for which a notification is desired. If empty, send notifications for all event types."
        },
        "payloadFormat": {
          "description": "Required. The desired format of the notification message payloads.",
          "type": "string",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "NONE",
            "JSON"
          ],
          "enumDescriptions": [
            "Illegal value, to avoid allowing a default.",
            "No payload is included with the notification.",
            "`TransferOperation` is [formatted as a JSON response](https://developers.google.com/protocol-buffers/docs/proto3#json), in application/json."
          ]
        }
      },
      "id": "NotificationConfig",
      "description": "Specification to configure notifications published to Pub/Sub. Notifications are published to the customer-provided topic using the following `PubsubMessage.attributes`: * `\"eventType\"`: one of the EventType values * `\"payloadFormat\"`: one of the PayloadFormat values * `\"projectId\"`: the project_id of the `TransferOperation` * `\"transferJobName\"`: the transfer_job_name of the `TransferOperation` * `\"transferOperationName\"`: the name of the `TransferOperation` The `PubsubMessage.data` contains a TransferOperation resource formatted according to the specified `PayloadFormat`."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "EventStream": {
      "description": "Specifies the Event-driven transfer options. Event-driven transfers listen to an event stream to transfer updated files.",
      "properties": {
        "eventStreamStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Specifies the date and time that Storage Transfer Service starts listening for events from this stream. If no start time is specified or start time is in the past, Storage Transfer Service starts listening immediately."
        },
        "eventStreamExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Specifies the data and time at which Storage Transfer Service stops listening for events from this stream. After this time, any transfers in progress will complete, but no new transfers are initiated."
        },
        "name": {
          "description": "Required. Specifies a unique name of the resource such as AWS SQS ARN in the form 'arn:aws:sqs:region:account_id:queue_name', or Pub/Sub subscription resource name in the form 'projects/{project}/subscriptions/{sub}'.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventStream"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "UpdateTransferJobRequest": {
      "properties": {
        "projectId": {
          "description": "Required. The ID of the Google Cloud project that owns the job.",
          "type": "string"
        },
        "updateTransferJobFieldMask": {
          "description": "The field mask of the fields in `transferJob` that are to be updated in this request. Fields in `transferJob` that can be updated are: description, transfer_spec, notification_config, logging_config, and status. To update the `transfer_spec` of the job, a complete transfer specification must be provided. An incomplete specification missing any required fields is rejected with the error INVALID_ARGUMENT.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "transferJob": {
          "description": "Required. The job to update. `transferJob` is expected to specify one or more of five fields: description, transfer_spec, notification_config, logging_config, and status. An `UpdateTransferJobRequest` that specifies other fields are rejected with the error INVALID_ARGUMENT. Updating a job status to DELETED requires `storagetransfer.jobs.delete` permission.",
          "$ref": "TransferJob"
        }
      },
      "type": "object",
      "description": "Request passed to UpdateTransferJob.",
      "id": "UpdateTransferJobRequest"
    },
    "LoggingConfig": {
      "description": "Specifies the logging behavior for transfer operations. For cloud-to-cloud transfers, logs are sent to Cloud Logging. See [Read transfer logs](https://cloud.google.com/storage-transfer/docs/read-transfer-logs) for details. For transfers to or from a POSIX file system, logs are stored in the Cloud Storage bucket that is the source or sink of the transfer. See [Managing Transfer for on-premises jobs] (https://cloud.google.com/storage-transfer/docs/managing-on-prem-jobs#viewing-logs) for details.",
      "id": "LoggingConfig",
      "properties": {
        "enableOnpremGcsTransferLogs": {
          "description": "For transfers with a PosixFilesystem source, this option enables the Cloud Storage transfer logs for this transfer.",
          "type": "boolean"
        },
        "logActions": {
          "items": {
            "enum": [
              "LOGGABLE_ACTION_UNSPECIFIED",
              "FIND",
              "DELETE",
              "COPY"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Listing objects in a bucket.",
              "Deleting objects at the source or the destination.",
              "Copying objects to Google Cloud Storage."
            ],
            "type": "string"
          },
          "description": "Specifies the actions to be logged. If empty, no logs are generated. Not supported for transfers with PosixFilesystem data sources; use enable_onprem_gcs_transfer_logs instead.",
          "type": "array"
        },
        "logActionStates": {
          "description": "States in which `log_actions` are logged. If empty, no logs are generated. Not supported for transfers with PosixFilesystem data sources; use enable_onprem_gcs_transfer_logs instead.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "`LoggableAction` completed successfully. `SUCCEEDED` actions are logged as INFO.",
              "`LoggableAction` terminated in an error state. `FAILED` actions are logged as ERROR."
            ],
            "enum": [
              "LOGGABLE_ACTION_STATE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED"
            ]
          }
        }
      },
      "type": "object"
    },
    "MetadataOptions": {
      "properties": {
        "acl": {
          "type": "string",
          "enum": [
            "ACL_UNSPECIFIED",
            "ACL_DESTINATION_BUCKET_DEFAULT",
            "ACL_PRESERVE"
          ],
          "enumDescriptions": [
            "ACL behavior is unspecified.",
            "Use the destination bucket's default object ACLS, if applicable.",
            "Preserve the object's original ACLs. This requires the service account to have `storage.objects.getIamPolicy` permission for the source object. [Uniform bucket-level access](https://cloud.google.com/storage/docs/uniform-bucket-level-access) must not be enabled on either the source or destination buckets."
          ],
          "description": "Specifies how each object's ACLs should be preserved for transfers between Google Cloud Storage buckets. If unspecified, the default behavior is the same as ACL_DESTINATION_BUCKET_DEFAULT."
        },
        "storageClass": {
          "enumDescriptions": [
            "Storage class behavior is unspecified.",
            "Use the destination bucket's default storage class.",
            "Preserve the object's original storage class. This is only supported for transfers from Google Cloud Storage buckets.",
            "Set the storage class to STANDARD.",
            "Set the storage class to NEARLINE.",
            "Set the storage class to COLDLINE.",
            "Set the storage class to ARCHIVE."
          ],
          "description": "Specifies the storage class to set on objects being transferred to Google Cloud Storage buckets. If unspecified, the default behavior is the same as STORAGE_CLASS_DESTINATION_BUCKET_DEFAULT.",
          "type": "string",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STORAGE_CLASS_DESTINATION_BUCKET_DEFAULT",
            "STORAGE_CLASS_PRESERVE",
            "STORAGE_CLASS_STANDARD",
            "STORAGE_CLASS_NEARLINE",
            "STORAGE_CLASS_COLDLINE",
            "STORAGE_CLASS_ARCHIVE"
          ]
        },
        "gid": {
          "enum": [
            "GID_UNSPECIFIED",
            "GID_SKIP",
            "GID_NUMBER"
          ],
          "description": "Specifies how each file's POSIX group ID (GID) attribute should be handled by the transfer. By default, GID is not preserved. Only applicable to transfers involving POSIX file systems, and ignored for other transfers.",
          "enumDescriptions": [
            "GID behavior is unspecified.",
            "Do not preserve GID during a transfer job.",
            "Preserve GID during a transfer job."
          ],
          "type": "string"
        },
        "symlink": {
          "description": "Specifies how symlinks should be handled by the transfer. By default, symlinks are not preserved. Only applicable to transfers involving POSIX file systems, and ignored for other transfers.",
          "type": "string",
          "enum": [
            "SYMLINK_UNSPECIFIED",
            "SYMLINK_SKIP",
            "SYMLINK_PRESERVE"
          ],
          "enumDescriptions": [
            "Symlink behavior is unspecified.",
            "Do not preserve symlinks during a transfer job.",
            "Preserve symlinks during a transfer job."
          ]
        },
        "temporaryHold": {
          "type": "string",
          "description": "Specifies how each object's temporary hold status should be preserved for transfers between Google Cloud Storage buckets. If unspecified, the default behavior is the same as TEMPORARY_HOLD_PRESERVE.",
          "enum": [
            "TEMPORARY_HOLD_UNSPECIFIED",
            "TEMPORARY_HOLD_SKIP",
            "TEMPORARY_HOLD_PRESERVE"
          ],
          "enumDescriptions": [
            "Temporary hold behavior is unspecified.",
            "Do not set a temporary hold on the destination object.",
            "Preserve the object's original temporary hold status."
          ]
        },
        "kmsKey": {
          "enumDescriptions": [
            "KmsKey behavior is unspecified.",
            "Use the destination bucket's default encryption settings.",
            "Preserve the object's original Cloud KMS customer-managed encryption key (CMEK) if present. Objects that do not use a Cloud KMS encryption key will be encrypted using the destination bucket's encryption settings."
          ],
          "type": "string",
          "description": "Specifies how each object's Cloud KMS customer-managed encryption key (CMEK) is preserved for transfers between Google Cloud Storage buckets. If unspecified, the default behavior is the same as KMS_KEY_DESTINATION_BUCKET_DEFAULT.",
          "enum": [
            "KMS_KEY_UNSPECIFIED",
            "KMS_KEY_DESTINATION_BUCKET_DEFAULT",
            "KMS_KEY_PRESERVE"
          ]
        },
        "timeCreated": {
          "description": "Specifies how each object's `timeCreated` metadata is preserved for transfers between Google Cloud Storage buckets. If unspecified, the default behavior is the same as TIME_CREATED_SKIP.",
          "type": "string",
          "enum": [
            "TIME_CREATED_UNSPECIFIED",
            "TIME_CREATED_SKIP",
            "TIME_CREATED_PRESERVE_AS_CUSTOM_TIME"
          ],
          "enumDescriptions": [
            "TimeCreated behavior is unspecified.",
            "Do not preserve the `timeCreated` metadata from the source object.",
            "Preserves the source object's `timeCreated` metadata in the `customTime` field in the destination object. Note that any value stored in the source object's `customTime` field will not be propagated to the destination object."
          ]
        },
        "uid": {
          "description": "Specifies how each file's POSIX user ID (UID) attribute should be handled by the transfer. By default, UID is not preserved. Only applicable to transfers involving POSIX file systems, and ignored for other transfers.",
          "enum": [
            "UID_UNSPECIFIED",
            "UID_SKIP",
            "UID_NUMBER"
          ],
          "enumDescriptions": [
            "UID behavior is unspecified.",
            "Do not preserve UID during a transfer job.",
            "Preserve UID during a transfer job."
          ],
          "type": "string"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_SKIP",
            "MODE_PRESERVE"
          ],
          "enumDescriptions": [
            "Mode behavior is unspecified.",
            "Do not preserve mode during a transfer job.",
            "Preserve mode during a transfer job."
          ],
          "type": "string",
          "description": "Specifies how each file's mode attribute should be handled by the transfer. By default, mode is not preserved. Only applicable to transfers involving POSIX file systems, and ignored for other transfers."
        }
      },
      "type": "object",
      "id": "MetadataOptions",
      "description": "Specifies the metadata options for running a transfer."
    },
    "ObjectConditions": {
      "type": "object",
      "properties": {
        "includePrefixes": {
          "description": "If you specify `include_prefixes`, Storage Transfer Service uses the items in the `include_prefixes` array to determine which objects to include in a transfer. Objects must start with one of the matching `include_prefixes` for inclusion in the transfer. If exclude_prefixes is specified, objects must not start with any of the `exclude_prefixes` specified for inclusion in the transfer. The following are requirements of `include_prefixes`: * Each include-prefix can contain any sequence of Unicode characters, to a max length of 1024 bytes when UTF8-encoded, and must not contain Carriage Return or Line Feed characters. Wildcard matching and regular expression matching are not supported. * Each include-prefix must omit the leading slash. For example, to include the object `s3://my-aws-bucket/logs/y=2015/requests.gz`, specify the include-prefix as `logs/y=2015/requests.gz`. * None of the include-prefix values can be empty, if specified. * Each include-prefix must include a distinct portion of the object namespace. No include-prefix may be a prefix of another include-prefix. The max size of `include_prefixes` is 1000. For more information, see [Filtering objects from transfers](/storage-transfer/docs/filtering-objects-from-transfers).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxTimeElapsedSinceLastModification": {
          "format": "google-duration",
          "type": "string",
          "description": "Ensures that objects are not transferred if a specific maximum time has elapsed since the \"last modification time\". When a TransferOperation begins, objects with a \"last modification time\" are transferred only if the elapsed time between the start_time of the `TransferOperation`and the \"last modification time\" of the object is less than the value of max_time_elapsed_since_last_modification`. Objects that do not have a \"last modification time\" are also transferred."
        },
        "minTimeElapsedSinceLastModification": {
          "description": "Ensures that objects are not transferred until a specific minimum time has elapsed after the \"last modification time\". When a TransferOperation begins, objects with a \"last modification time\" are transferred only if the elapsed time between the start_time of the `TransferOperation` and the \"last modification time\" of the object is equal to or greater than the value of min_time_elapsed_since_last_modification`. Objects that do not have a \"last modification time\" are also transferred.",
          "type": "string",
          "format": "google-duration"
        },
        "lastModifiedBefore": {
          "description": "If specified, only objects with a \"last modification time\" before this timestamp and objects that don't have a \"last modification time\" are transferred.",
          "format": "google-datetime",
          "type": "string"
        },
        "excludePrefixes": {
          "type": "array",
          "description": "If you specify `exclude_prefixes`, Storage Transfer Service uses the items in the `exclude_prefixes` array to determine which objects to exclude from a transfer. Objects must not start with one of the matching `exclude_prefixes` for inclusion in a transfer. The following are requirements of `exclude_prefixes`: * Each exclude-prefix can contain any sequence of Unicode characters, to a max length of 1024 bytes when UTF8-encoded, and must not contain Carriage Return or Line Feed characters. Wildcard matching and regular expression matching are not supported. * Each exclude-prefix must omit the leading slash. For example, to exclude the object `s3://my-aws-bucket/logs/y=2015/requests.gz`, specify the exclude-prefix as `logs/y=2015/requests.gz`. * None of the exclude-prefix values can be empty, if specified. * Each exclude-prefix must exclude a distinct portion of the object namespace. No exclude-prefix may be a prefix of another exclude-prefix. * If include_prefixes is specified, then each exclude-prefix must start with the value of a path explicitly included by `include_prefixes`. The max size of `exclude_prefixes` is 1000. For more information, see [Filtering objects from transfers](/storage-transfer/docs/filtering-objects-from-transfers).",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedSince": {
          "format": "google-datetime",
          "description": "If specified, only objects with a \"last modification time\" on or after this timestamp and objects that don't have a \"last modification time\" are transferred. The `last_modified_since` and `last_modified_before` fields can be used together for chunked data processing. For example, consider a script that processes each day's worth of data at a time. For that you'd set each of the fields as follows: * `last_modified_since` to the start of the day * `last_modified_before` to the end of the day",
          "type": "string"
        }
      },
      "id": "ObjectConditions",
      "description": "Conditions that determine which objects are transferred. Applies only to Cloud Data Sources such as S3, Azure, and Cloud Storage. The \"last modification time\" refers to the time of the last change to the object's content or metadata — specifically, this is the `updated` property of Cloud Storage objects, the `LastModified` field of S3 objects, and the `Last-Modified` header of Azure blobs. Transfers with a PosixFilesystem source or destination don't support `ObjectConditions`."
    },
    "PauseTransferOperationRequest": {
      "id": "PauseTransferOperationRequest",
      "description": "Request passed to PauseTransferOperation.",
      "type": "object",
      "properties": {}
    },
    "GoogleServiceAccount": {
      "type": "object",
      "id": "GoogleServiceAccount",
      "properties": {
        "subjectId": {
          "description": "Unique identifier for the service account.",
          "type": "string"
        },
        "accountEmail": {
          "description": "Email address of the service account.",
          "type": "string"
        }
      },
      "description": "Google service account"
    },
    "TransferJob": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A unique name (within the transfer project) assigned when the job is created. If this field is empty in a CreateTransferJobRequest, Storage Transfer Service assigns a unique name. Otherwise, the specified name is used as the unique name for this job. If the specified name is in use by a job, the creation request fails with an ALREADY_EXISTS error. This name must start with `\"transferJobs/\"` prefix and end with a letter or a number, and should be no more than 128 characters. For transfers involving PosixFilesystem, this name must start with `transferJobs/OPI` specifically. For all other transfer types, this name must not start with `transferJobs/OPI`. Non-PosixFilesystem example: `\"transferJobs/^(?!OPI)[A-Za-z0-9-._~]*[A-Za-z0-9]$\"` PosixFilesystem example: `\"transferJobs/OPI^[A-Za-z0-9-._~]*[A-Za-z0-9]$\"` Applications must not rely on the enforcement of naming requirements involving OPI. Invalid job names fail with an INVALID_ARGUMENT error."
        },
        "latestOperationName": {
          "description": "The name of the most recently started TransferOperation of this JobConfig. Present if a TransferOperation has been created for this JobConfig.",
          "type": "string"
        },
        "description": {
          "description": "A description provided by the user for the job. Its max length is 1024 bytes when Unicode-encoded.",
          "type": "string"
        },
        "transferSpec": {
          "$ref": "TransferSpec",
          "description": "Transfer specification."
        },
        "loggingConfig": {
          "description": "Logging configuration.",
          "$ref": "LoggingConfig"
        },
        "notificationConfig": {
          "description": "Notification configuration. This is not supported for transfers involving PosixFilesystem.",
          "$ref": "NotificationConfig"
        },
        "status": {
          "description": "Status of the job. This value MUST be specified for `CreateTransferJobRequests`. **Note:** The effect of the new job status takes place during a subsequent job run. For example, if you change the job status from ENABLED to DISABLED, and an operation spawned by the transfer is running, the status change would not affect the current operation.",
          "enumDescriptions": [
            "Zero is an illegal value.",
            "New transfers are performed based on the schedule.",
            "New transfers are not scheduled.",
            "This is a soft delete state. After a transfer job is set to this state, the job and all the transfer executions are subject to garbage collection. Transfer jobs become eligible for garbage collection 30 days after their status is set to `DELETED`."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DELETED"
          ]
        },
        "lastModificationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time that the transfer job was last modified.",
          "type": "string"
        },
        "deletionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time that the transfer job was deleted.",
          "readOnly": true
        },
        "eventStream": {
          "description": "Specifies the event stream for the transfer job for event-driven transfers. When EventStream is specified, the Schedule fields are ignored.",
          "$ref": "EventStream"
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the Google Cloud project that owns the job."
        },
        "creationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time that the transfer job was created.",
          "type": "string"
        },
        "schedule": {
          "description": "Specifies schedule for the transfer job. This is an optional field. When the field is not set, the job never executes a transfer, unless you invoke RunTransferJob or update the job to have a non-empty schedule.",
          "$ref": "Schedule"
        }
      },
      "id": "TransferJob",
      "description": "This resource represents the configuration of a transfer job that runs periodically."
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "repeatInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Interval between the start of each scheduled TransferOperation. If unspecified, the default value is 24 hours. This value may not be less than 1 hour."
        },
        "scheduleStartDate": {
          "$ref": "Date",
          "description": "Required. The start date of a transfer. Date boundaries are determined relative to UTC time. If `schedule_start_date` and start_time_of_day are in the past relative to the job's creation time, the transfer starts the day after you schedule the transfer request. **Note:** When starting jobs at or near midnight UTC it is possible that a job starts later than expected. For example, if you send an outbound request on June 1 one millisecond prior to midnight UTC and the Storage Transfer Service server receives the request on June 2, then it creates a TransferJob with `schedule_start_date` set to June 2 and a `start_time_of_day` set to midnight UTC. The first scheduled TransferOperation takes place on June 3 at midnight UTC."
        },
        "endTimeOfDay": {
          "$ref": "TimeOfDay",
          "description": "The time in UTC that no further transfer operations are scheduled. Combined with schedule_end_date, `end_time_of_day` specifies the end date and time for starting new transfer operations. This field must be greater than or equal to the timestamp corresponding to the combintation of schedule_start_date and start_time_of_day, and is subject to the following: * If `end_time_of_day` is not set and `schedule_end_date` is set, then a default value of `23:59:59` is used for `end_time_of_day`. * If `end_time_of_day` is set and `schedule_end_date` is not set, then INVALID_ARGUMENT is returned."
        },
        "startTimeOfDay": {
          "description": "The time in UTC that a transfer job is scheduled to run. Transfers may start later than this time. If `start_time_of_day` is not specified: * One-time transfers run immediately. * Recurring transfers run immediately, and each day at midnight UTC, through schedule_end_date. If `start_time_of_day` is specified: * One-time transfers run at the specified time. * Recurring transfers run at the specified time each day, through `schedule_end_date`.",
          "$ref": "TimeOfDay"
        },
        "scheduleEndDate": {
          "$ref": "Date",
          "description": "The last day a transfer runs. Date boundaries are determined relative to UTC time. A job runs once per 24 hours within the following guidelines: * If `schedule_end_date` and schedule_start_date are the same and in the future relative to UTC, the transfer is executed only one time. * If `schedule_end_date` is later than `schedule_start_date` and `schedule_end_date` is in the future relative to UTC, the job runs each day at start_time_of_day through `schedule_end_date`."
        }
      },
      "description": "Transfers can be scheduled to recur or to run just once.",
      "type": "object"
    },
    "TransferOperation": {
      "description": "A description of the execution of a transfer.",
      "id": "TransferOperation",
      "properties": {
        "counters": {
          "$ref": "TransferCounters",
          "description": "Information about the progress of the transfer operation."
        },
        "projectId": {
          "description": "The ID of the Google Cloud project that owns the operation.",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of this transfer execution.",
          "type": "string",
          "format": "google-datetime"
        },
        "transferSpec": {
          "description": "Transfer specification.",
          "$ref": "TransferSpec"
        },
        "endTime": {
          "description": "End time of this transfer execution.",
          "format": "google-datetime",
          "type": "string"
        },
        "errorBreakdowns": {
          "type": "array",
          "items": {
            "$ref": "ErrorSummary"
          },
          "description": "Summarizes errors encountered with sample error log entries."
        },
        "name": {
          "type": "string",
          "description": "A globally unique ID assigned by the system."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "PAUSED",
            "SUCCESS",
            "FAILED",
            "ABORTED",
            "QUEUED",
            "SUSPENDING"
          ],
          "description": "Status of the transfer operation.",
          "enumDescriptions": [
            "Zero is an illegal value.",
            "In progress.",
            "Paused.",
            "Completed successfully.",
            "Terminated due to an unrecoverable failure.",
            "Aborted by the user.",
            "Temporarily delayed by the system. No user action is required.",
            "The operation is suspending and draining the ongoing work to completion."
          ],
          "type": "string"
        },
        "transferJobName": {
          "type": "string",
          "description": "The name of the transfer job that triggers this transfer operation."
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "Notification configuration."
        }
      },
      "type": "object"
    },
    "TransferOptions": {
      "properties": {
        "overwriteWhen": {
          "description": "When to overwrite objects that already exist in the sink. If not set, overwrite behavior is determined by overwrite_objects_already_existing_in_sink.",
          "enum": [
            "OVERWRITE_WHEN_UNSPECIFIED",
            "DIFFERENT",
            "NEVER",
            "ALWAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Overwrite behavior is unspecified.",
            "Overwrites destination objects with the source objects, only if the objects have the same name but different HTTP ETags or checksum values.",
            "Never overwrites a destination object if a source object has the same name. In this case, the source object is not transferred.",
            "Always overwrite the destination object with the source object, even if the HTTP Etags or checksum values are the same."
          ]
        },
        "overwriteObjectsAlreadyExistingInSink": {
          "type": "boolean",
          "description": "When to overwrite objects that already exist in the sink. The default is that only objects that are different from the source are ovewritten. If true, all objects in the sink whose name matches an object in the source are overwritten with the source object."
        },
        "metadataOptions": {
          "description": "Represents the selected metadata options for a transfer job.",
          "$ref": "MetadataOptions"
        },
        "deleteObjectsFromSourceAfterTransfer": {
          "type": "boolean",
          "description": "Whether objects should be deleted from the source after they are transferred to the sink. **Note:** This option and delete_objects_unique_in_sink are mutually exclusive."
        },
        "deleteObjectsUniqueInSink": {
          "type": "boolean",
          "description": "Whether objects that exist only in the sink should be deleted. **Note:** This option and delete_objects_from_source_after_transfer are mutually exclusive."
        }
      },
      "id": "TransferOptions",
      "type": "object",
      "description": "TransferOptions define the actions to be performed on objects in a transfer."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "AzureBlobStorageData": {
      "type": "object",
      "description": "An AzureBlobStorageData resource can be a data source, but not a data sink. An AzureBlobStorageData resource represents one Azure container. The storage account determines the [Azure endpoint](https://docs.microsoft.com/en-us/azure/storage/common/storage-create-storage-account#storage-account-endpoints). In an AzureBlobStorageData resource, a blobs's name is the [Azure Blob Storage blob's key name](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#blob-names).",
      "properties": {
        "path": {
          "type": "string",
          "description": "Root path to transfer objects. Must be an empty string or full path name that ends with a '/'. This field is treated as an object prefix. As such, it should generally not begin with a '/'."
        },
        "azureCredentials": {
          "description": "Required. Input only. Credentials used to authenticate API requests to Azure. For information on our data retention policy for user credentials, see [User credentials](/storage-transfer/docs/data-retention#user-credentials).",
          "$ref": "AzureCredentials"
        },
        "storageAccount": {
          "type": "string",
          "description": "Required. The name of the Azure Storage account."
        },
        "container": {
          "type": "string",
          "description": "Required. The container to transfer from the Azure Storage account."
        }
      },
      "id": "AzureBlobStorageData"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HttpData": {
      "description": "An HttpData resource specifies a list of objects on the web to be transferred over HTTP. The information of the objects to be transferred is contained in a file referenced by a URL. The first line in the file must be `\"TsvHttpData-1.0\"`, which specifies the format of the file. Subsequent lines specify the information of the list of objects, one object per list entry. Each entry has the following tab-delimited fields: * **HTTP URL** — The location of the object. * **Length** — The size of the object in bytes. * **MD5** — The base64-encoded MD5 hash of the object. For an example of a valid TSV file, see [Transferring data from URLs](https://cloud.google.com/storage-transfer/docs/create-url-list). When transferring data based on a URL list, keep the following in mind: * When an object located at `http(s)://hostname:port/` is transferred to a data sink, the name of the object at the data sink is `/`. * If the specified size of an object does not match the actual size of the object fetched, the object is not transferred. * If the specified MD5 does not match the MD5 computed from the transferred bytes, the object transfer fails. * Ensure that each URL you specify is publicly accessible. For example, in Cloud Storage you can [share an object publicly] (/storage/docs/cloud-console#_sharingdata) and get a link to it. * Storage Transfer Service obeys `robots.txt` rules and requires the source HTTP server to support `Range` requests and to return a `Content-Length` header in each response. * ObjectConditions have no effect when filtering objects to transfer.",
      "type": "object",
      "properties": {
        "listUrl": {
          "description": "Required. The URL that points to the file that stores the object list entries. This file must allow public access. Currently, only URLs with HTTP and HTTPS schemes are supported.",
          "type": "string"
        }
      },
      "id": "HttpData"
    },
    "TransferSpec": {
      "id": "TransferSpec",
      "description": "Configuration for running a transfer.",
      "type": "object",
      "properties": {
        "awsS3DataSource": {
          "description": "An AWS S3 data source.",
          "$ref": "AwsS3Data"
        },
        "posixDataSource": {
          "description": "A POSIX Filesystem data source.",
          "$ref": "PosixFilesystem"
        },
        "awsS3CompatibleDataSource": {
          "$ref": "AwsS3CompatibleData",
          "description": "An AWS S3 compatible data source."
        },
        "gcsDataSource": {
          "$ref": "GcsData",
          "description": "A Cloud Storage data source."
        },
        "azureBlobStorageDataSource": {
          "$ref": "AzureBlobStorageData",
          "description": "An Azure Blob Storage data source."
        },
        "transferManifest": {
          "$ref": "TransferManifest",
          "description": "A manifest file provides a list of objects to be transferred from the data source. This field points to the location of the manifest file. Otherwise, the entire source bucket is used. ObjectConditions still apply."
        },
        "httpDataSource": {
          "$ref": "HttpData",
          "description": "An HTTP URL data source."
        },
        "posixDataSink": {
          "description": "A POSIX Filesystem data sink.",
          "$ref": "PosixFilesystem"
        },
        "gcsIntermediateDataLocation": {
          "description": "Cloud Storage intermediate data location.",
          "$ref": "GcsData"
        },
        "transferOptions": {
          "description": "If the option delete_objects_unique_in_sink is `true` and time-based object conditions such as 'last modification time' are specified, the request fails with an INVALID_ARGUMENT error.",
          "$ref": "TransferOptions"
        },
        "sourceAgentPoolName": {
          "description": "Specifies the agent pool name associated with the posix data source. When unspecified, the default name is used.",
          "type": "string"
        },
        "gcsDataSink": {
          "$ref": "GcsData",
          "description": "A Cloud Storage data sink."
        },
        "objectConditions": {
          "$ref": "ObjectConditions",
          "description": "Only objects that satisfy these object conditions are included in the set of data source and data sink objects. Object conditions based on objects' \"last modification time\" do not exclude objects in a data sink."
        },
        "sinkAgentPoolName": {
          "description": "Specifies the agent pool name associated with the posix data sink. When unspecified, the default name is used.",
          "type": "string"
        }
      }
    },
    "AwsS3CompatibleData": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Specifies the root path to transfer objects. Must be an empty string or full path name that ends with a '/'. This field is treated as an object prefix. As such, it should generally not begin with a '/'."
        },
        "region": {
          "description": "Specifies the region to sign requests with. This can be left blank if requests should be signed with an empty region.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Required. Specifies the endpoint of the storage service."
        },
        "bucketName": {
          "description": "Required. Specifies the name of the bucket.",
          "type": "string"
        },
        "s3Metadata": {
          "description": "A S3 compatible metadata.",
          "$ref": "S3CompatibleMetadata"
        }
      },
      "id": "AwsS3CompatibleData",
      "description": "An AwsS3CompatibleData resource."
    },
    "AwsS3Data": {
      "description": "An AwsS3Data resource can be a data source, but not a data sink. In an AwsS3Data resource, an object's name is the S3 object's key name.",
      "id": "AwsS3Data",
      "type": "object",
      "properties": {
        "awsAccessKey": {
          "description": "Input only. AWS access key used to sign the API requests to the AWS S3 bucket. Permissions on the bucket must be granted to the access ID of the AWS access key. For information on our data retention policy for user credentials, see [User credentials](/storage-transfer/docs/data-retention#user-credentials).",
          "$ref": "AwsAccessKey"
        },
        "roleArn": {
          "description": "The Amazon Resource Name (ARN) of the role to support temporary credentials via `AssumeRoleWithWebIdentity`. For more information about ARNs, see [IAM ARNs](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns). When a role ARN is provided, Transfer Service fetches temporary credentials for the session using a `AssumeRoleWithWebIdentity` call for the provided role using the GoogleServiceAccount for this project.",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "Required. S3 Bucket name (see [Creating a bucket](https://docs.aws.amazon.com/AmazonS3/latest/dev/create-bucket-get-location-example.html))."
        },
        "path": {
          "description": "Root path to transfer objects. Must be an empty string or full path name that ends with a '/'. This field is treated as an object prefix. As such, it should generally not begin with a '/'.",
          "type": "string"
        }
      }
    },
    "ListAgentPoolsResponse": {
      "type": "object",
      "id": "ListAgentPoolsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The list next page token."
        },
        "agentPools": {
          "type": "array",
          "items": {
            "$ref": "AgentPool"
          },
          "description": "A list of agent pools."
        }
      },
      "description": "Response from ListAgentPools."
    },
    "AgentPool": {
      "id": "AgentPool",
      "type": "object",
      "description": "Represents an On-Premises Agent pool.",
      "properties": {
        "bandwidthLimit": {
          "$ref": "BandwidthLimit",
          "description": "Specifies the bandwidth limit details. If this field is unspecified, the default value is set as 'No Limit'."
        },
        "state": {
          "description": "Output only. Specifies the state of the AgentPool.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This is an initialization state. During this stage, the resources such as Pub/Sub topics are allocated for the AgentPool.",
            "Determines that the AgentPool is created for use. At this state, Agents can join the AgentPool and participate in the transfer jobs in that pool.",
            "Determines that the AgentPool deletion has been initiated, and all the resources are scheduled to be cleaned up and freed."
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. Specifies a unique string that identifies the agent pool. Format: `projects/{project_id}/agentPools/{agent_pool_id}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Specifies the client-specified AgentPool description."
        }
      }
    },
    "RunTransferJobRequest": {
      "properties": {
        "projectId": {
          "description": "Required. The ID of the Google Cloud project that owns the transfer job.",
          "type": "string"
        }
      },
      "description": "Request passed to RunTransferJob.",
      "type": "object",
      "id": "RunTransferJobRequest"
    },
    "TransferCounters": {
      "id": "TransferCounters",
      "properties": {
        "objectsCopiedToSink": {
          "format": "int64",
          "type": "string",
          "description": "Objects that are copied to the data sink."
        },
        "bytesFoundOnlyFromSink": {
          "description": "Bytes found only in the data sink that are scheduled to be deleted.",
          "type": "string",
          "format": "int64"
        },
        "bytesCopiedToSink": {
          "format": "int64",
          "description": "Bytes that are copied to the data sink.",
          "type": "string"
        },
        "objectsFromSourceSkippedBySync": {
          "type": "string",
          "format": "int64",
          "description": "Objects in the data source that are not transferred because they already exist in the data sink."
        },
        "intermediateObjectsFailedCleanedUp": {
          "format": "int64",
          "type": "string",
          "description": "Number of intermediate objects failed cleaned up."
        },
        "bytesFoundFromSource": {
          "format": "int64",
          "description": "Bytes found in the data source that are scheduled to be transferred, excluding any that are filtered based on object conditions or skipped due to sync.",
          "type": "string"
        },
        "objectsFailedToDeleteFromSink": {
          "type": "string",
          "format": "int64",
          "description": "Objects that failed to be deleted from the data sink."
        },
        "intermediateObjectsCleanedUp": {
          "format": "int64",
          "description": "Number of successfully cleaned up intermediate objects.",
          "type": "string"
        },
        "bytesDeletedFromSink": {
          "type": "string",
          "format": "int64",
          "description": "Bytes that are deleted from the data sink."
        },
        "objectsFoundOnlyFromSink": {
          "description": "Objects found only in the data sink that are scheduled to be deleted.",
          "type": "string",
          "format": "int64"
        },
        "objectsDeletedFromSink": {
          "type": "string",
          "description": "Objects that are deleted from the data sink.",
          "format": "int64"
        },
        "objectsFoundFromSource": {
          "description": "Objects found in the data source that are scheduled to be transferred, excluding any that are filtered based on object conditions or skipped due to sync.",
          "type": "string",
          "format": "int64"
        },
        "objectsFromSourceFailed": {
          "type": "string",
          "format": "int64",
          "description": "Objects in the data source that failed to be transferred or that failed to be deleted after being transferred."
        },
        "bytesFailedToDeleteFromSink": {
          "type": "string",
          "format": "int64",
          "description": "Bytes that failed to be deleted from the data sink."
        },
        "objectsDeletedFromSource": {
          "format": "int64",
          "type": "string",
          "description": "Objects that are deleted from the data source."
        },
        "bytesDeletedFromSource": {
          "description": "Bytes that are deleted from the data source.",
          "type": "string",
          "format": "int64"
        },
        "directoriesSuccessfullyListedFromSource": {
          "description": "For transfers involving PosixFilesystem only. Number of successful listings for each directory found at the source.",
          "type": "string",
          "format": "int64"
        },
        "directoriesFailedToListFromSource": {
          "type": "string",
          "format": "int64",
          "description": "For transfers involving PosixFilesystem only. Number of listing failures for each directory found at the source. Potential failures when listing a directory include permission failure or block failure. If listing a directory fails, no files in the directory are transferred."
        },
        "bytesFromSourceFailed": {
          "description": "Bytes in the data source that failed to be transferred or that failed to be deleted after being transferred.",
          "type": "string",
          "format": "int64"
        },
        "bytesFromSourceSkippedBySync": {
          "type": "string",
          "description": "Bytes in the data source that are not transferred because they already exist in the data sink.",
          "format": "int64"
        },
        "directoriesFoundFromSource": {
          "description": "For transfers involving PosixFilesystem only. Number of directories found while listing. For example, if the root directory of the transfer is `base/` and there are two other directories, `a/` and `b/` under this directory, the count after listing `base/`, `base/a/` and `base/b/` is 3.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A collection of counters that report the progress of a transfer operation.",
      "type": "object"
    },
    "AzureCredentials": {
      "description": "Azure credentials For information on our data retention policy for user credentials, see [User credentials](/storage-transfer/docs/data-retention#user-credentials).",
      "id": "AzureCredentials",
      "type": "object",
      "properties": {
        "sasToken": {
          "description": "Required. Azure shared access signature (SAS). For more information about SAS, see [Grant limited access to Azure Storage resources using shared access signatures (SAS)](https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview).",
          "type": "string"
        }
      }
    },
    "AwsAccessKey": {
      "id": "AwsAccessKey",
      "properties": {
        "secretAccessKey": {
          "description": "Required. AWS secret access key. This field is not returned in RPC responses.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Required. AWS access key ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AWS access key (see [AWS Security Credentials](https://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html)). For information on our data retention policy for user credentials, see [User credentials](/storage-transfer/docs/data-retention#user-credentials)."
    },
    "ErrorSummary": {
      "description": "A summary of errors by error code, plus a count and sample error log entries.",
      "type": "object",
      "id": "ErrorSummary",
      "properties": {
        "errorLogEntries": {
          "type": "array",
          "description": "Error samples. At most 5 error log entries are recorded for a given error code for a single transfer operation.",
          "items": {
            "$ref": "ErrorLogEntry"
          }
        },
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string",
          "description": "Required.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        },
        "errorCount": {
          "type": "string",
          "description": "Required. Count of this type of error.",
          "format": "int64"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "BandwidthLimit": {
      "properties": {
        "limitMbps": {
          "type": "string",
          "format": "int64",
          "description": "Bandwidth rate in megabytes per second, distributed across all the agents in the pool."
        }
      },
      "id": "BandwidthLimit",
      "type": "object",
      "description": "Specifies a bandwidth limit for an agent pool."
    },
    "GcsData": {
      "type": "object",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Required. Cloud Storage bucket name. Must meet [Bucket Name Requirements](/storage/docs/naming#requirements)."
        },
        "path": {
          "description": "Root path to transfer objects. Must be an empty string or full path name that ends with a '/'. This field is treated as an object prefix. As such, it should generally not begin with a '/'. The root path value must meet [Object Name Requirements](/storage/docs/naming#objectnames).",
          "type": "string"
        }
      },
      "description": "In a GcsData resource, an object's name is the Cloud Storage object's name and its \"last modification time\" refers to the object's `updated` property of Cloud Storage objects, which changes when the content or the metadata of the object is updated.",
      "id": "GcsData"
    },
    "TransferManifest": {
      "id": "TransferManifest",
      "properties": {
        "location": {
          "type": "string",
          "description": "Specifies the path to the manifest in Cloud Storage. The Google-managed service account for the transfer must have `storage.objects.get` permission for this object. An example path is `gs://bucket_name/path/manifest.csv`."
        }
      },
      "type": "object",
      "description": "Specifies where the manifest is located."
    },
    "ListTransferJobsResponse": {
      "id": "ListTransferJobsResponse",
      "properties": {
        "transferJobs": {
          "items": {
            "$ref": "TransferJob"
          },
          "description": "A list of transfer jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The list next page token.",
          "type": "string"
        }
      },
      "description": "Response from ListTransferJobs.",
      "type": "object"
    },
    "ResumeTransferOperationRequest": {
      "id": "ResumeTransferOperationRequest",
      "type": "object",
      "description": "Request passed to ResumeTransferOperation.",
      "properties": {}
    },
    "PosixFilesystem": {
      "id": "PosixFilesystem",
      "type": "object",
      "description": "A POSIX filesystem resource.",
      "properties": {
        "rootDirectory": {
          "type": "string",
          "description": "Root directory path to the filesystem."
        }
      }
    },
    "S3CompatibleMetadata": {
      "description": "S3CompatibleMetadata contains the metadata fields that apply to the basic types of S3-compatible data providers.",
      "type": "object",
      "properties": {
        "listApi": {
          "enum": [
            "LIST_API_UNSPECIFIED",
            "LIST_OBJECTS_V2",
            "LIST_OBJECTS"
          ],
          "type": "string",
          "description": "The Listing API to use for discovering objects. When not specified, Transfer Service will attempt to determine the right API to use.",
          "enumDescriptions": [
            "ListApi is not specified.",
            "Perform listing using ListObjectsV2 API.",
            "Legacy ListObjects API."
          ]
        },
        "protocol": {
          "type": "string",
          "description": "Specifies the network protocol of the agent. When not specified, the default value of NetworkProtocol NETWORK_PROTOCOL_HTTPS is used.",
          "enum": [
            "NETWORK_PROTOCOL_UNSPECIFIED",
            "NETWORK_PROTOCOL_HTTPS",
            "NETWORK_PROTOCOL_HTTP"
          ],
          "enumDescriptions": [
            "NetworkProtocol is not specified.",
            "Perform requests using HTTPS.",
            "Not recommended: This sends data in clear-text. This is only appropriate within a closed network or for publicly available data. Perform requests using HTTP."
          ]
        },
        "authMethod": {
          "type": "string",
          "enum": [
            "AUTH_METHOD_UNSPECIFIED",
            "AUTH_METHOD_AWS_SIGNATURE_V4",
            "AUTH_METHOD_AWS_SIGNATURE_V2"
          ],
          "enumDescriptions": [
            "AuthMethod is not specified.",
            "Auth requests with AWS SigV4.",
            "Auth requests with AWS SigV2."
          ],
          "description": "Specifies the authentication and authorization method used by the storage service. When not specified, Transfer Service will attempt to determine right auth method to use."
        },
        "requestModel": {
          "type": "string",
          "description": "Specifies the API request model used to call the storage service. When not specified, the default value of RequestModel REQUEST_MODEL_VIRTUAL_HOSTED_STYLE is used.",
          "enumDescriptions": [
            "RequestModel is not specified.",
            "Perform requests using Virtual Hosted Style. Example: https://bucket-name.s3.region.amazonaws.com/key-name",
            "Perform requests using Path Style. Example: https://s3.region.amazonaws.com/bucket-name/key-name"
          ],
          "enum": [
            "REQUEST_MODEL_UNSPECIFIED",
            "REQUEST_MODEL_VIRTUAL_HOSTED_STYLE",
            "REQUEST_MODEL_PATH_STYLE"
          ]
        }
      },
      "id": "S3CompatibleMetadata"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned unique name. The format of `name` is `transferOperations/some/unique/name`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Represents the transfer operation object. To request a TransferOperation object, use transferOperations.get."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ErrorLogEntry": {
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. A URL that refers to the target (a data source, a data sink, or an object) with which the error is associated.",
          "type": "string"
        },
        "errorDetails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of messages that carry the error details."
        }
      },
      "description": "An entry describing an error that has occurred.",
      "id": "ErrorLogEntry"
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "name": "storagetransfer",
  "kind": "discovery#restDescription",
  "baseUrl": "https://storagetransfer.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "rootUrl": "https://storagetransfer.googleapis.com/",
  "resources": {
    "transferJobs": {
      "methods": {
        "run": {
          "request": {
            "$ref": "RunTransferJobRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v1/{+jobName}:run",
          "flatPath": "v1/transferJobs/{transferJobsId}:run",
          "parameterOrder": [
            "jobName"
          ],
          "id": "storagetransfer.transferJobs.run",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "jobName": {
              "required": true,
              "location": "path",
              "pattern": "^transferJobs/.*$",
              "type": "string",
              "description": "Required. The name of the transfer job."
            }
          },
          "description": "Starts a new operation for the specified transfer job. A `TransferJob` has a maximum of one active `TransferOperation`. If this method is called while a `TransferOperation` is active, an error is returned."
        },
        "list": {
          "parameterOrder": [
            "filter"
          ],
          "response": {
            "$ref": "ListTransferJobsResponse"
          },
          "path": "v1/transferJobs",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The list page token.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "Required. A list of query parameters specified as JSON text in the form of: `{\"projectId\":\"my_project_id\", \"jobNames\":[\"jobid1\",\"jobid2\",...], \"jobStatuses\":[\"status1\",\"status2\",...]}` Since `jobNames` and `jobStatuses` support multiple values, their values must be specified with array notation. `projectId` is required. `jobNames` and `jobStatuses` are optional. The valid values for `jobStatuses` are case-insensitive: ENABLED, DISABLED, and DELETED.",
              "type": "string",
              "required": true
            },
            "pageSize": {
              "location": "query",
              "description": "The list page size. The max allowed value is 256.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Lists transfer jobs.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "storagetransfer.transferJobs.list",
          "flatPath": "v1/transferJobs"
        },
        "get": {
          "path": "v1/{+jobName}",
          "httpMethod": "GET",
          "id": "storagetransfer.transferJobs.get",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the Google Cloud project that owns the job.",
              "location": "query",
              "type": "string"
            },
            "jobName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The job to get.",
              "pattern": "^transferJobs/.*$"
            }
          },
          "parameterOrder": [
            "jobName",
            "projectId"
          ],
          "description": "Gets a transfer job.",
          "response": {
            "$ref": "TransferJob"
          },
          "flatPath": "v1/transferJobs/{transferJobsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "jobName",
            "projectId"
          ],
          "path": "v1/{+jobName}",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. The ID of the Google Cloud project that owns the job."
            },
            "jobName": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^transferJobs/.*$",
              "description": "Required. The job to delete."
            }
          },
          "id": "storagetransfer.transferJobs.delete",
          "flatPath": "v1/transferJobs/{transferJobsId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a transfer job. Deleting a transfer job sets its status to DELETED."
        },
        "create": {
          "parameters": {},
          "description": "Creates a transfer job that runs periodically.",
          "parameterOrder": [],
          "request": {
            "$ref": "TransferJob"
          },
          "id": "storagetransfer.transferJobs.create",
          "path": "v1/transferJobs",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TransferJob"
          },
          "httpMethod": "POST",
          "flatPath": "v1/transferJobs"
        },
        "patch": {
          "flatPath": "v1/transferJobs/{transferJobsId}",
          "description": "Updates a transfer job. Updating a job's transfer spec does not affect transfer operations that are running already. **Note:** The job's status field can be modified using this RPC (for example, to set a job's status to DELETED, DISABLED, or ENABLED).",
          "httpMethod": "PATCH",
          "path": "v1/{+jobName}",
          "id": "storagetransfer.transferJobs.patch",
          "parameterOrder": [
            "jobName"
          ],
          "request": {
            "$ref": "UpdateTransferJobRequest"
          },
          "parameters": {
            "jobName": {
              "type": "string",
              "location": "path",
              "pattern": "^transferJobs/.*$",
              "required": true,
              "description": "Required. The name of job to update."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TransferJob"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "agentPools": {
          "methods": {
            "delete": {
              "id": "storagetransfer.projects.agentPools.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/agentPools/{agentPoolsId}",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "description": "Deletes an agent pool.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/agentPools/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the agent pool to delete."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/agentPools/{agentPoolsId}",
              "id": "storagetransfer.projects.agentPools.get",
              "description": "Gets an agent pool.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "AgentPool"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/agentPools/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the agent pool to get."
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "ListAgentPoolsResponse"
              },
              "description": "Lists agent pools.",
              "flatPath": "v1/projects/{projectsId}/agentPools",
              "httpMethod": "GET",
              "path": "v1/projects/{+projectId}/agentPools",
              "id": "storagetransfer.projects.agentPools.list",
              "parameters": {
                "pageToken": {
                  "description": "The list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "An optional list of query parameters specified as JSON text in the form of: `{\"agentPoolNames\":[\"agentpool1\",\"agentpool2\",...]}` Since `agentPoolNames` support multiple values, its values must be specified with array notation. When the filter is either empty or not provided, the list returns all agent pools for the project.",
                  "location": "query"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. The ID of the Google Cloud project that owns the job.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The list page size. The max allowed value is `256`.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AgentPool"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/agentPools/{agentPoolsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "description": "Updates an existing agent pool resource.",
              "id": "storagetransfer.projects.agentPools.patch",
              "request": {
                "$ref": "AgentPool"
              },
              "parameters": {
                "name": {
                  "description": "Required. Specifies a unique string that identifies the agent pool. Format: `projects/{project_id}/agentPools/{agent_pool_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/agentPools/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "The [field mask] (https://developers.google.com/protocol-buffers/docs/reference/google.protobuf) of the fields in `agentPool` to update in this request. The following `agentPool` fields can be updated: * display_name * bandwidth_limit",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              }
            },
            "create": {
              "parameters": {
                "projectId": {
                  "description": "Required. The ID of the Google Cloud project that owns the agent pool.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$"
                },
                "agentPoolId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID of the agent pool to create. The `agent_pool_id` must meet the following requirements: * Length of 128 characters or less. * Not start with the string `goog`. * Start with a lowercase ASCII character, followed by: * Zero or more: lowercase Latin alphabet characters, numerals, hyphens (`-`), periods (`.`), underscores (`_`), or tildes (`~`). * One or more numerals or lowercase ASCII characters. As expressed by the regular expression: `^(?!goog)[a-z]([a-z0-9-._~]*[a-z0-9])?$`."
                }
              },
              "description": "Creates an agent pool resource.",
              "id": "storagetransfer.projects.agentPools.create",
              "response": {
                "$ref": "AgentPool"
              },
              "request": {
                "$ref": "AgentPool"
              },
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1/projects/{+projectId}/agentPools",
              "flatPath": "v1/projects/{projectsId}/agentPools",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "googleServiceAccounts": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleServiceAccount"
          },
          "description": "Returns the Google service account that is used by Storage Transfer Service to access buckets in the project where transfers run or in other projects. Each Google service account is associated with one Google Cloud project. Users should add this service account to the Google Cloud Storage bucket ACLs to grant access to Storage Transfer Service. This service account is created and owned by Storage Transfer Service and can only be used by Storage Transfer Service.",
          "path": "v1/googleServiceAccounts/{projectId}",
          "id": "storagetransfer.googleServiceAccounts.get",
          "flatPath": "v1/googleServiceAccounts/{projectId}",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the Google Cloud project that the Google service account is associated with.",
              "type": "string"
            }
          }
        }
      }
    },
    "transferOperations": {
      "methods": {
        "resume": {
          "id": "storagetransfer.transferOperations.resume",
          "description": "Resumes a transfer operation that is paused.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the transfer operation.",
              "type": "string",
              "pattern": "^transferOperations/.*$",
              "location": "path"
            }
          },
          "path": "v1/{+name}:resume",
          "flatPath": "v1/transferOperations/{transferOperationsId}:resume",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ResumeTransferOperationRequest"
          }
        },
        "get": {
          "id": "storagetransfer.transferOperations.get",
          "path": "v1/{+name}",
          "flatPath": "v1/transferOperations/{transferOperationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string",
              "pattern": "^transferOperations/.*$"
            }
          }
        },
        "pause": {
          "flatPath": "v1/transferOperations/{transferOperationsId}:pause",
          "description": "Pauses a transfer operation.",
          "path": "v1/{+name}:pause",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "PauseTransferOperationRequest"
          },
          "httpMethod": "POST",
          "id": "storagetransfer.transferOperations.pause",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^transferOperations/.*$",
              "description": "Required. The name of the transfer operation."
            }
          }
        },
        "list": {
          "description": "Lists transfer operations. Operations are ordered by their creation time in reverse chronological order.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name",
            "filter"
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "The list page size. The max allowed value is 256.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The list page token.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. A list of query parameters specified as JSON text in the form of: `{\"projectId\":\"my_project_id\", \"jobNames\":[\"jobid1\",\"jobid2\",...], \"operationNames\":[\"opid1\",\"opid2\",...], \"transferStatuses\":[\"status1\",\"status2\",...]}` Since `jobNames`, `operationNames`, and `transferStatuses` support multiple values, they must be specified with array notation. `projectId` is required. `jobNames`, `operationNames`, and `transferStatuses` are optional. The valid values for `transferStatuses` are case-insensitive: IN_PROGRESS, PAUSED, SUCCESS, FAILED, and ABORTED."
            },
            "name": {
              "location": "path",
              "pattern": "^transferOperations$",
              "required": true,
              "description": "Required. The name of the type being listed; must be `transferOperations`.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/transferOperations",
          "path": "v1/{+name}",
          "id": "storagetransfer.transferOperations.list"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/transferOperations/{transferOperationsId}:cancel",
          "path": "v1/{+name}:cancel",
          "id": "storagetransfer.transferOperations.cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "pattern": "^transferOperations/.*$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Cancels a transfer. Use the transferOperations.get method to check if the cancellation succeeded or if the operation completed despite the `cancel` request. When you cancel an operation, the currently running transfer is interrupted. For recurring transfer jobs, the next instance of the transfer job will still run. For example, if your job is configured to run every day at 1pm and you cancel Monday's operation at 1:05pm, Monday's transfer will stop. However, a transfer job will still be attempted on Tuesday. This applies only to currently running operations. If an operation is not currently running, `cancel` does nothing. *Caution:* Canceling a transfer job can leave your data in an unknown state. We recommend that you restore the state at both the destination and the source after the `cancel` request completes so that your data is in a consistent state. When you cancel a job, the next job computes a delta of files and may repair any inconsistent state. For instance, if you run a job every day, and today's job found 10 new files and transferred five files before you canceled the job, tomorrow's transfer operation will compute a new delta with the five files that were not copied today plus any new files discovered tomorrow."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/storage-transfer/docs",
  "mtlsRootUrl": "https://storagetransfer.mtls.googleapis.com/"
}
