{
  "servicePath": "",
  "canonicalName": "Pagespeed Insights",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "revision": "20230224",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "id": "pagespeedonline:v5",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "version": "v5",
  "name": "pagespeedonline",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "title": "PageSpeed Insights API",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "basePath": "",
  "schemas": {
    "LighthouseResultV5": {
      "id": "LighthouseResultV5",
      "properties": {
        "stackPacks": {
          "type": "array",
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings."
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "type": "object"
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object"
        },
        "timing": {
          "$ref": "Timing",
          "description": "Timing information for this LHR."
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "runWarnings": {
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          }
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        }
      },
      "type": "object",
      "description": "The Lighthouse result object."
    },
    "RendererFormattedStrings": {
      "type": "object",
      "description": "Message holding the formatted strings used in the renderer.",
      "id": "RendererFormattedStrings",
      "properties": {
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "type": "string",
          "description": "The label for the initial request in a critical request chain."
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "runtimeSettingsTitle": {
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        }
      }
    },
    "PagespeedVersion": {
      "id": "PagespeedVersion",
      "type": "object",
      "properties": {
        "minor": {
          "type": "string",
          "description": "The minor version number of PageSpeed used to generate these results."
        },
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "description": "The Pagespeed Version object."
    },
    "Timing": {
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "properties": {
        "total": {
          "type": "number",
          "format": "double",
          "description": "The total duration of Lighthouse's run."
        }
      },
      "type": "object"
    },
    "Categories": {
      "id": "Categories",
      "properties": {
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits."
        }
      },
      "description": "The categories in a Lighthouse run.",
      "type": "object"
    },
    "LighthouseAuditResultV5": {
      "id": "LighthouseAuditResultV5",
      "type": "object",
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "numericValue": {
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number",
          "format": "double"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title."
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        }
      }
    },
    "Bucket": {
      "type": "object",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min \u003c= x \u003c max, In millisecond.",
      "id": "Bucket",
      "properties": {
        "min": {
          "format": "int32",
          "description": "Lower bound for a bucket's range.",
          "type": "integer"
        },
        "max": {
          "format": "int32",
          "type": "integer",
          "description": "Upper bound for a bucket's range."
        },
        "proportion": {
          "type": "number",
          "format": "double",
          "description": "The proportion of data in this bucket."
        }
      }
    },
    "CategoryGroupV5": {
      "description": "Message containing a category",
      "type": "object",
      "id": "CategoryGroupV5",
      "properties": {
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      }
    },
    "Environment": {
      "type": "object",
      "properties": {
        "benchmarkIndex": {
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number",
          "format": "double"
        },
        "networkUserAgent": {
          "type": "string",
          "description": "The user agent string that was sent over the network."
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        }
      },
      "id": "Environment",
      "description": "Message containing environment configuration for a Lighthouse run."
    },
    "ConfigSettings": {
      "id": "ConfigSettings",
      "type": "object",
      "properties": {
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "emulatedFormFactor": {
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "formFactor": {
          "type": "string",
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop."
        },
        "onlyCategories": {
          "type": "any",
          "description": "List of categories of audits the run should conduct."
        }
      },
      "description": "Message containing the configuration settings for the Lighthouse run."
    },
    "LighthouseCategoryV5": {
      "type": "object",
      "description": "A Lighthouse category.",
      "id": "LighthouseCategoryV5",
      "properties": {
        "auditRefs": {
          "items": {
            "$ref": "AuditRefs"
          },
          "type": "array",
          "description": "An array of references to all the audit members of this category."
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        }
      }
    },
    "I18n": {
      "id": "I18n",
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      }
    },
    "RuntimeError": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        },
        "code": {
          "type": "string",
          "description": "The enumerated Lighthouse Error code."
        }
      },
      "description": "Message containing a runtime error config.",
      "id": "RuntimeError",
      "type": "object"
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        }
      },
      "id": "PagespeedApiPagespeedResponseV5",
      "description": "The Pagespeed API response object."
    },
    "AuditRefs": {
      "type": "object",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "id": "AuditRefs",
      "properties": {
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        },
        "weight": {
          "type": "number",
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double"
        },
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Any audit IDs closely relevant to this one."
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        }
      }
    },
    "UserPageLoadMetricV5": {
      "id": "UserPageLoadMetricV5",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "median": {
          "type": "integer",
          "description": "The median number of the metric, in millisecond.",
          "format": "int32"
        },
        "distributions": {
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array",
          "items": {
            "$ref": "Bucket"
          }
        },
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A CrUX metric object for a single metric and form factor."
    },
    "StackPack": {
      "id": "StackPack",
      "description": "Message containing Stack Pack information.",
      "type": "object",
      "properties": {
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        }
      }
    },
    "PagespeedApiLoadingExperienceV5": {
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "properties": {
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of .",
          "type": "object"
        }
      }
    }
  },
  "version_module": true,
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "httpMethod": "GET",
          "parameters": {
            "captchaToken": {
              "type": "string",
              "location": "query",
              "description": "The captcha token passed when filling out a captcha."
            },
            "strategy": {
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "type": "string"
            },
            "locale": {
              "location": "query",
              "type": "string",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "description": "The locale used to localize formatted results"
            },
            "utm_campaign": {
              "type": "string",
              "location": "query",
              "description": "Campaign name for analytics."
            },
            "category": {
              "location": "query",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO"
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines."
              ],
              "repeated": true,
              "type": "string",
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run"
            },
            "url": {
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true,
              "description": "Required. The URL to fetch and analyze",
              "type": "string",
              "location": "query"
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "path": "pagespeedonline/v5/runPagespeed",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "scopes": [
            "openid"
          ],
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "parameterOrder": [
            "url"
          ]
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  }
}
