{
  "title": "Cloud Trace API",
  "servicePath": "",
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Cloud Trace",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/trace",
  "fullyEncodeReservedExpansion": true,
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry. ",
  "version": "v2",
  "ownerName": "Google",
  "name": "cloudtrace",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "traces": {
          "methods": {
            "batchWrite": {
              "flatPath": "v2/projects/{projectsId}/traces:batchWrite",
              "path": "v2/{+name}/traces:batchWrite",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.append"
              ],
              "id": "cloudtrace.projects.traces.batchWrite",
              "request": {
                "$ref": "BatchWriteSpansRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the project where the spans belong. The format is `projects/[PROJECT_ID]`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Batch writes new spans to new or existing traces. You cannot update existing spans.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "spans": {
              "methods": {
                "createSpan": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/traces/[^/]+/spans/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. ."
                    }
                  },
                  "description": "Creates a new span.",
                  "id": "cloudtrace.projects.traces.spans.createSpan",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Span"
                  },
                  "flatPath": "v2/projects/{projectsId}/traces/{tracesId}/spans/{spansId}",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/trace.append"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Span"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "cloudtrace:v2",
  "revision": "20230221",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "AttributeValue": {
      "type": "object",
      "description": "The allowed types for `[VALUE]` in a `[KEY]:[VALUE]` attribute.",
      "properties": {
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "A 64-bit signed integer."
        },
        "boolValue": {
          "type": "boolean",
          "description": "A Boolean value represented by `true` or `false`."
        },
        "stringValue": {
          "description": "A string up to 256 bytes long.",
          "$ref": "TruncatableString"
        }
      },
      "id": "AttributeValue"
    },
    "BatchWriteSpansRequest": {
      "type": "object",
      "id": "BatchWriteSpansRequest",
      "description": "The request message for the `BatchWriteSpans` method.",
      "properties": {
        "spans": {
          "description": "Required. A list of new spans. The span names must not match existing spans, otherwise the results are undefined.",
          "type": "array",
          "items": {
            "$ref": "Span"
          }
        }
      }
    },
    "Annotation": {
      "id": "Annotation",
      "description": "Text annotation with a set of attributes.",
      "properties": {
        "description": {
          "$ref": "TruncatableString",
          "description": "A user-supplied message describing the event. The maximum length for the description is 256 bytes."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A set of attributes on the annotation. You can have up to 4 attributes per Annotation."
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "MessageEvent": {
      "properties": {
        "compressedSizeBytes": {
          "description": "The number of compressed bytes sent or received. If missing, the compressed size is assumed to be the same size as the uncompressed size.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "An identifier for the MessageEvent's message that can be used to match `SENT` and `RECEIVED` MessageEvents.",
          "format": "int64"
        },
        "uncompressedSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The number of uncompressed bytes sent or received."
        },
        "type": {
          "enumDescriptions": [
            "Unknown event type.",
            "Indicates a sent message.",
            "Indicates a received message."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SENT",
            "RECEIVED"
          ],
          "description": "Type of MessageEvent. Indicates whether the message was sent or received."
        }
      },
      "id": "MessageEvent",
      "description": "An event describing a message sent/received between Spans.",
      "type": "object"
    },
    "Span": {
      "description": "A span represents a single operation within a trace. Spans can be nested to form a trace tree. Often, a trace contains a root span that describes the end-to-end latency, and one or more subspans for its sub-operations. A trace can also contain multiple root spans, or none at all. Spans do not need to be contiguous. There might be gaps or overlaps between spans in a trace.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The end time of the span. On the client side, this is the time kept by the local machine where the span execution ends. On the server side, this is the time when the server application handler stops running."
        },
        "status": {
          "$ref": "Status",
          "description": "Optional. The final status for this span."
        },
        "sameProcessAsParentSpan": {
          "type": "boolean",
          "description": "Optional. Set this parameter to indicate whether this span is in the same process as its parent. If you do not set this parameter, Trace is unable to take advantage of this helpful information."
        },
        "childSpanCount": {
          "description": "Optional. The number of child spans that were generated while this span was active. If set, allows implementation to detect missing child spans.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. ."
        },
        "spanId": {
          "type": "string",
          "description": "Required. The `[SPAN_ID]` portion of the span's resource name."
        },
        "links": {
          "description": "Links associated with the span. You can have up to 128 links per Span.",
          "$ref": "Links"
        },
        "displayName": {
          "$ref": "TruncatableString",
          "description": "Required. A description of the span's operation (up to 128 bytes). Cloud Trace displays the description in the Cloud console. For example, the display name can be a qualified method name or a file name and a line number where the operation is called. A best practice is to use the same display name within an application and at the same call point. This makes it easier to correlate spans in different traces."
        },
        "startTime": {
          "description": "Required. The start time of the span. On the client side, this is the time kept by the local machine where the span execution starts. On the server side, this is the time when the server's application handler starts running.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeEvents": {
          "$ref": "TimeEvents",
          "description": "A set of time events. You can have up to 32 annotations and 128 message events per span."
        },
        "stackTrace": {
          "description": "Stack trace captured at the start of the span.",
          "$ref": "StackTrace"
        },
        "spanKind": {
          "description": "Optional. Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Do NOT use as default. Implementations MAY assume SpanKind.INTERNAL to be default.",
            "Indicates that the span is used internally. Default value.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request.",
            "Indicates that the span describes producer sending a message to a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. publishing a message to a pubsub service).",
            "Indicates that the span describes consumer receiving a message from a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. receiving a message from a pubsub service subscription)."
          ],
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "INTERNAL",
            "SERVER",
            "CLIENT",
            "PRODUCER",
            "CONSUMER"
          ]
        },
        "parentSpanId": {
          "description": "The `[SPAN_ID]` of this span's parent span. If this is a root span, then this field must be empty.",
          "type": "string"
        },
        "attributes": {
          "description": "A set of attributes on the span. You can have up to 32 attributes per span.",
          "$ref": "Attributes"
        }
      },
      "type": "object",
      "id": "Span"
    },
    "Attributes": {
      "description": "A set of attributes as key-value pairs.",
      "id": "Attributes",
      "type": "object",
      "properties": {
        "attributeMap": {
          "type": "object",
          "additionalProperties": {
            "$ref": "AttributeValue"
          },
          "description": "A set of attributes. Each attribute's key can be up to 128 bytes long. The value can be a string up to 256 bytes, a signed 64-bit integer, or the boolean values `true` or `false`. For example: \"/instance_id\": { \"string_value\": { \"value\": \"my-instance\" } } \"/http/request_bytes\": { \"int_value\": 300 } \"abc.com/myattribute\": { \"bool_value\": false }"
        },
        "droppedAttributesCount": {
          "type": "integer",
          "description": "The number of attributes that were discarded. Attributes can be discarded because their keys are too long or because there are too many attributes. If this value is 0 then all attributes are valid.",
          "format": "int32"
        }
      }
    },
    "Module": {
      "id": "Module",
      "properties": {
        "buildId": {
          "$ref": "TruncatableString",
          "description": "A unique identifier for the module, usually a hash of its contents (up to 128 bytes)."
        },
        "module": {
          "description": "For example: main binary, kernel modules, and dynamic libraries such as libc.so, sharedlib.so (up to 256 bytes).",
          "$ref": "TruncatableString"
        }
      },
      "description": "Binary module.",
      "type": "object"
    },
    "TruncatableString": {
      "id": "TruncatableString",
      "description": "Represents a string that might be shortened to a specified length.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The shortened string. For example, if the original string is 500 bytes long and the limit of the string is 128 bytes, then `value` contains the first 128 bytes of the 500-byte string. Truncation always happens on a UTF8 character boundary. If there are multi-byte characters in the string, then the length of the shortened string might be less than the size limit."
        },
        "truncatedByteCount": {
          "description": "The number of bytes removed from the original string. If this value is 0, then the string was not shortened.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "StackFrames": {
      "type": "object",
      "properties": {
        "droppedFramesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of stack frames that were dropped because there were too many stack frames. If this value is 0, then no stack frames were dropped."
        },
        "frame": {
          "items": {
            "$ref": "StackFrame"
          },
          "description": "Stack frames in this call stack.",
          "type": "array"
        }
      },
      "id": "StackFrames",
      "description": "A collection of stack frames, which can be truncated."
    },
    "StackFrame": {
      "type": "object",
      "description": "Represents a single stack frame in a stack trace.",
      "properties": {
        "sourceVersion": {
          "$ref": "TruncatableString",
          "description": "The version of the deployed source code (up to 128 bytes)."
        },
        "lineNumber": {
          "type": "string",
          "description": "The line number in `file_name` where the function call appears.",
          "format": "int64"
        },
        "columnNumber": {
          "format": "int64",
          "type": "string",
          "description": "The column number where the function call appears, if available. This is important in JavaScript because of its anonymous functions."
        },
        "fileName": {
          "description": "The name of the source file where the function call appears (up to 256 bytes).",
          "$ref": "TruncatableString"
        },
        "functionName": {
          "$ref": "TruncatableString",
          "description": "The fully-qualified name that uniquely identifies the function or method that is active in this frame (up to 1024 bytes)."
        },
        "originalFunctionName": {
          "$ref": "TruncatableString",
          "description": "An un-mangled function name, if `function_name` is mangled. To get information about name mangling, run [this search](https://www.google.com/search?q=cxx+name+mangling). The name can be fully-qualified (up to 1024 bytes)."
        },
        "loadModule": {
          "$ref": "Module",
          "description": "The binary module from where the code was loaded."
        }
      },
      "id": "StackFrame"
    },
    "TimeEvents": {
      "properties": {
        "droppedMessageEventsCount": {
          "format": "int32",
          "description": "The number of dropped message events in all the included time events. If the value is 0, then no message events were dropped.",
          "type": "integer"
        },
        "timeEvent": {
          "type": "array",
          "description": "A collection of `TimeEvent`s.",
          "items": {
            "$ref": "TimeEvent"
          }
        },
        "droppedAnnotationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of dropped annotations in all the included time events. If the value is 0, then no annotations were dropped."
        }
      },
      "id": "TimeEvents",
      "description": "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation on the span, consisting of either user-supplied key:value pairs, or details of a message sent/received between Spans.",
      "type": "object"
    },
    "Links": {
      "description": "A collection of links, which are references from this span to a span in the same or different trace.",
      "id": "Links",
      "type": "object",
      "properties": {
        "link": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "A collection of links."
        },
        "droppedLinksCount": {
          "description": "The number of dropped links after the maximum size was enforced. If this value is 0, then no links were dropped.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The relationship of the two spans is unknown.",
            "The linked span is a child of the current span.",
            "The linked span is a parent of the current span."
          ],
          "description": "The relationship of the current span relative to the linked span.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CHILD_LINKED_SPAN",
            "PARENT_LINKED_SPAN"
          ]
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A set of attributes on the link. Up to 32 attributes can be specified per link."
        },
        "spanId": {
          "description": "The `[SPAN_ID]` for a span within a trace.",
          "type": "string"
        },
        "traceId": {
          "type": "string",
          "description": "The `[TRACE_ID]` for a trace within a project."
        }
      },
      "description": "A pointer from the current span to another span in the same trace or in a different trace. For example, this can be used in batching operations, where a single batch handler processes multiple requests from different traces or when the handler receives a request from a different project.",
      "id": "Link"
    },
    "StackTrace": {
      "id": "StackTrace",
      "properties": {
        "stackFrames": {
          "description": "Stack frames in this stack trace. A maximum of 128 frames are allowed.",
          "$ref": "StackFrames"
        },
        "stackTraceHashId": {
          "description": "The hash ID is used to conserve network bandwidth for duplicate stack traces within a single trace. Often multiple spans will have identical stack traces. The first occurrence of a stack trace should contain both the `stackFrame` content and a value in `stackTraceHashId`. Subsequent spans within the same request can refer to that stack trace by only setting `stackTraceHashId`.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A call stack appearing in a trace.",
      "type": "object"
    },
    "TimeEvent": {
      "description": "A time-stamped annotation or message event in the Span.",
      "id": "TimeEvent",
      "type": "object",
      "properties": {
        "messageEvent": {
          "$ref": "MessageEvent",
          "description": "An event describing a message sent/received between Spans."
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp indicating the time the event occurred."
        },
        "annotation": {
          "$ref": "Annotation",
          "description": "Text annotation with a set of attributes."
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true
}
