{
  "title": "OS Config API",
  "rootUrl": "https://osconfig.googleapis.com/",
  "canonicalName": "OS Config",
  "version": "v1beta",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "basePath": "",
  "servicePath": "",
  "id": "osconfig:v1beta",
  "revision": "20230219",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "patchJobs": {
          "methods": {
            "cancel": {
              "path": "v1beta/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "response": {
                "$ref": "PatchJob"
              },
              "httpMethod": "POST",
              "id": "osconfig.projects.patchJobs.cancel",
              "parameters": {
                "name": {
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              },
              "request": {
                "$ref": "CancelPatchJobRequest"
              }
            },
            "execute": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/patchJobs:execute",
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchJob"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/patchJobs:execute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchJobs.execute",
              "description": "Patch VM instances by creating and running a patch job.",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. In the form of `projects/*`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of instance status to return."
                },
                "filter": {
                  "location": "query",
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of patch jobs.",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchJobs",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "osconfig.projects.patchJobs.list",
              "path": "v1beta/{+parent}/patchJobs"
            },
            "get": {
              "id": "osconfig.projects.patchJobs.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "PatchJob"
              },
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`."
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "description": "Get a list of instance details for a given patch job.",
                  "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "path": "v1beta/{+parent}/instanceDetails"
                }
              }
            }
          }
        },
        "guestPolicies": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete an OS Config guest policy.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "id": "osconfig.projects.guestPolicies.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}"
            },
            "create": {
              "id": "osconfig.projects.guestPolicies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Create an OS Config guest policy.",
              "path": "v1beta/{+parent}/guestPolicies",
              "response": {
                "$ref": "GuestPolicy"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GuestPolicy"
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "parameters": {
                "guestPolicyId": {
                  "description": "Required. The logical name of the guest policy in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`."
                }
              }
            },
            "get": {
              "id": "osconfig.projects.guestPolicies.get",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "response": {
                "$ref": "GuestPolicy"
              },
              "description": "Get an OS Config guest policy."
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "osconfig.projects.guestPolicies.patch",
              "response": {
                "$ref": "GuestPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GuestPolicy"
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "description": "Update an OS Config guest policy.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Field mask that controls which fields of the guest policy should be updated.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of guest policies to return.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to `ListGuestPolicies` that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Get a page of OS Config guest policies.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListGuestPoliciesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "id": "osconfig.projects.guestPolicies.list",
              "path": "v1beta/{+parent}/guestPolicies"
            }
          }
        },
        "zones": {
          "resources": {
            "instances": {
              "methods": {
                "lookupEffectiveGuestPolicy": {
                  "request": {
                    "$ref": "LookupEffectiveGuestPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "id": "osconfig.projects.zones.instances.lookupEffectiveGuestPolicy",
                  "path": "v1beta/{+instance}:lookupEffectiveGuestPolicy",
                  "parameterOrder": [
                    "instance"
                  ],
                  "description": "Lookup the effective guest policy that applies to a VM instance. This lookup merges all policies that are assigned to the instance ancestry.",
                  "parameters": {
                    "instance": {
                      "description": "Required. The VM instance whose policies are being looked up.",
                      "pattern": "^projects/[^/]+/zones/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/zones/{zonesId}/instances/{instancesId}:lookupEffectiveGuestPolicy",
                  "response": {
                    "$ref": "EffectiveGuestPolicy"
                  }
                }
              }
            }
          }
        },
        "patchDeployments": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Get a page of OS Config patch deployments.",
              "id": "osconfig.projects.patchDeployments.list",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/patchDeployments",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100."
                }
              }
            },
            "get": {
              "id": "osconfig.projects.patchDeployments.get",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "description": "Get an OS Config patch deployment.",
              "response": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "osconfig.projects.patchDeployments.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete an OS Config patch deployment.",
              "httpMethod": "DELETE",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`."
                }
              }
            },
            "pause": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "osconfig.projects.patchDeployments.pause",
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "response": {
                "$ref": "PatchDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:pause",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "httpMethod": "POST"
            },
            "resume": {
              "parameterOrder": [
                "name"
              ],
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "id": "osconfig.projects.patchDeployments.resume",
              "response": {
                "$ref": "PatchDeployment"
              },
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`."
                }
              },
              "path": "v1beta/{+name}:resume"
            },
            "patch": {
              "response": {
                "$ref": "PatchDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated."
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "description": "Update an OS Config patch deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.patch",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "request": {
                "$ref": "PatchDeployment"
              }
            },
            "create": {
              "description": "Create an OS Config patch deployment.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "patchDeploymentId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project."
                }
              },
              "path": "v1beta/{+parent}/patchDeployments",
              "request": {
                "$ref": "PatchDeployment"
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.create"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "name": "osconfig",
  "baseUrl": "https://osconfig.googleapis.com/",
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Package": {
      "id": "Package",
      "type": "object",
      "properties": {
        "desiredState": {
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ],
          "description": "The desired_state the agent should maintain for this package. The default is to ensure the package is installed."
        },
        "manager": {
          "enumDescriptions": [
            "The default behavior is ANY.",
            "Apply this package config using the default system package manager.",
            "Apply this package config only if Apt is available on the system.",
            "Apply this package config only if Yum is available on the system.",
            "Apply this package config only if Zypper is available on the system.",
            "Apply this package config only if GooGet is available on the system."
          ],
          "type": "string",
          "description": "Type of package manager that can be used to install this package. If a system does not have the package manager, the package is not installed or removed no error message is returned. By default, or if you specify `ANY`, the agent attempts to install and remove this package using the default package manager. This is useful when creating a policy that applies to different types of systems. The default behavior is ANY.",
          "enum": [
            "MANAGER_UNSPECIFIED",
            "ANY",
            "APT",
            "YUM",
            "ZYPPER",
            "GOO"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the package. A package is uniquely identified for conflict validation by checking the package name and the manager(s) that the package targets."
        }
      },
      "description": "Package is a reference to the software package to be installed or removed. The agent on the VM instance uses the system package manager to apply the config. These are the commands that the agent uses to install or remove packages. Apt install: `apt-get update && apt-get -y install package1 package2 package3` remove: `apt-get -y remove package1 package2 package3` Yum install: `yum -y install package1 package2 package3` remove: `yum -y remove package1 package2 package3` Zypper install: `zypper install package1 package2 package3` remove: `zypper rm package1 package2` Googet install: `googet -noconfirm install package1 package2 package3` remove: `googet -noconfirm remove package1 package2 package3`"
    },
    "SoftwareRecipeArtifactRemote": {
      "id": "SoftwareRecipeArtifactRemote",
      "description": "Specifies an artifact available via some URI.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}."
        },
        "checksum": {
          "description": "Must be provided if `allow_insecure` is `false`. SHA256 checksum in hex format, to compare to the checksum of the artifact. If the checksum is not empty and it doesn't match the artifact then the recipe installation fails before running any of the steps.",
          "type": "string"
        }
      }
    },
    "PatchJobInstanceDetailsSummary": {
      "type": "object",
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "properties": {
        "rebootingInstanceCount": {
          "description": "Number of instances rebooting.",
          "type": "string",
          "format": "int64"
        },
        "succeededRebootRequiredInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that require reboot."
        },
        "postPatchStepInstanceCount": {
          "description": "Number of instances that are running the post-patch step.",
          "type": "string",
          "format": "int64"
        },
        "inactiveInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that are inactive."
        },
        "timedOutInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that exceeded the time out while applying the patch."
        },
        "startedInstanceCount": {
          "type": "string",
          "description": "Number of instances that have started.",
          "format": "int64"
        },
        "ackedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that have acked and will start shortly."
        },
        "notifiedInstanceCount": {
          "type": "string",
          "description": "Number of instances notified about patch job.",
          "format": "int64"
        },
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "type": "string",
          "format": "int64"
        },
        "failedInstanceCount": {
          "description": "Number of instances that failed.",
          "type": "string",
          "format": "int64"
        },
        "noAgentDetectedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
        },
        "prePatchStepInstanceCount": {
          "type": "string",
          "description": "Number of instances that are running the pre-patch step.",
          "format": "int64"
        },
        "applyingPatchesInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are applying patches."
        },
        "succeededInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that have completed successfully."
        },
        "downloadingPatchesInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are downloading patches.",
          "type": "string"
        }
      },
      "id": "PatchJobInstanceDetailsSummary"
    },
    "WeekDayOfMonth": {
      "type": "object",
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "description": "Required. A day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "weekOrdinal": {
          "format": "int32",
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "type": "integer"
        },
        "dayOffset": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second day of the month and this `day_offset` value is set to `3`, the patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, the patches are deployed five days before before the second Tuesday of the month. Allowed values are in range [-30, 30]."
        }
      },
      "id": "WeekDayOfMonth"
    },
    "WeeklySchedule": {
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. Day of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "type": "object",
      "id": "WeeklySchedule",
      "description": "Represents a weekly schedule."
    },
    "RecurringSchedule": {
      "id": "RecurringSchedule",
      "description": "Sets the time for recurring patch deployments.",
      "properties": {
        "timeOfDay": {
          "$ref": "TimeOfDay",
          "description": "Required. Time of the day to run a recurring deployment."
        },
        "lastExecuteTime": {
          "format": "google-datetime",
          "description": "Output only. The time the last patch job ran successfully.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "type": "string"
        },
        "frequency": {
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ],
          "description": "Required. The frequency unit of this recurring schedule.",
          "type": "string"
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone."
        },
        "weekly": {
          "$ref": "WeeklySchedule",
          "description": "Required. Schedule with weekly executions."
        },
        "nextExecuteTime": {
          "description": "Output only. The time the next patch job is scheduled to run.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "CancelPatchJobRequest": {
      "type": "object",
      "id": "CancelPatchJobRequest",
      "description": "Message for canceling a patch job.",
      "properties": {}
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "PausePatchDeploymentRequest": {
      "properties": {},
      "type": "object",
      "description": "A request message for pausing a patch deployment.",
      "id": "PausePatchDeploymentRequest"
    },
    "ExecStepConfig": {
      "type": "object",
      "description": "Common configurations for an ExecStep.",
      "properties": {
        "interpreter": {
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enumDescriptions": [
            "If the interpreter is not specified, the value defaults to `NONE`.",
            "Indicates that the file is run as follows on each operating system: + For Linux VMs, the file is ran as an executable and the interpreter might be parsed from the [shebang line](https://wikipedia.org/wiki/Shebang_(Unix)) of the file. + For Windows VM, this value is not supported.",
            "Indicates that the file is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "type": "string"
        },
        "allowedSuccessCodes": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success."
        },
        "localPath": {
          "description": "An absolute path to the executable on the VM.",
          "type": "string"
        },
        "gcsObject": {
          "description": "A Google Cloud Storage object containing the executable.",
          "$ref": "GcsObject"
        }
      },
      "id": "ExecStepConfig"
    },
    "SoftwareRecipeStepInstallDpkg": {
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      },
      "description": "Installs a deb via dpkg.",
      "type": "object",
      "id": "SoftwareRecipeStepInstallDpkg"
    },
    "PatchInstanceFilterGroupLabel": {
      "id": "PatchInstanceFilterGroupLabel",
      "type": "object",
      "description": "Represents a group of VMs that can be identified as having all these labels, for example \"env=prod and app=web\".",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter."
        }
      }
    },
    "PatchInstanceFilter": {
      "properties": {
        "instanceNamePrefixes": {
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "all": {
          "description": "Target all VM instances in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "zones": {
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groupLabels": {
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          },
          "description": "Targets VM instances matching at least one of these label sets. This allows targeting of disparate groups, for example \"env=prod or env=staging\".",
          "type": "array"
        },
        "instances": {
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PatchInstanceFilter",
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones."
    },
    "AptRepository": {
      "description": "Represents a single Apt package repository. This repository is added to a repo file that is stored at `/etc/apt/sources.list.d/google_osconfig.list`.",
      "type": "object",
      "id": "AptRepository",
      "properties": {
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "type": "array"
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg` containing all the keys in any applied guest policy.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI for this repository.",
          "type": "string"
        },
        "archiveType": {
          "enumDescriptions": [
            "Unspecified.",
            "DEB indicates that the archive contains binary files.",
            "DEB_SRC indicates that the archive contains source files."
          ],
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ],
          "type": "string",
          "description": "Type of archive files in this repository. The default behavior is DEB."
        }
      }
    },
    "PatchRollout": {
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "id": "PatchRollout",
      "type": "object",
      "properties": {
        "disruptionBudget": {
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops.",
          "$ref": "FixedOrPercent"
        },
        "mode": {
          "type": "string",
          "description": "Mode of the patch rollout.",
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ]
        }
      }
    },
    "WindowsUpdateSettings": {
      "description": "Windows patching is performed using the Windows Update Agent.",
      "properties": {
        "exclusivePatches": {
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classifications": {
          "items": {
            "type": "string",
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ],
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ]
          },
          "type": "array",
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied."
        },
        "excludes": {
          "description": "List of KBs to exclude from update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "WindowsUpdateSettings",
      "type": "object"
    },
    "EffectiveGuestPolicySourcedSoftwareRecipe": {
      "properties": {
        "softwareRecipe": {
          "$ref": "SoftwareRecipe",
          "description": "A software recipe to configure on the VM instance."
        },
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        }
      },
      "id": "EffectiveGuestPolicySourcedSoftwareRecipe",
      "type": "object",
      "description": "A guest policy recipe including its source."
    },
    "Assignment": {
      "description": "An assignment represents the group or groups of VM instances that the policy applies to. If an assignment is empty, it applies to all VM instances. Otherwise, the targeted VM instances must meet all the criteria specified. So if both labels and zones are specified, the policy applies to VM instances with those labels and in those zones.",
      "properties": {
        "instanceNamePrefixes": {
          "type": "array",
          "description": "Targets VM instances whose name starts with one of these prefixes. Like labels, this is another way to group VM instances when targeting configs, for example prefix=\"prod-\". Only supported for project-level policies.",
          "items": {
            "type": "string"
          }
        },
        "zones": {
          "description": "Targets instances in any of these zones. Leave empty to target instances in any zone. Zonal targeting is uncommon and is supported to facilitate the management of changes by zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osTypes": {
          "description": "Targets VM instances matching at least one of the following OS types. VM instances must match all supplied criteria for a given OsType to be included.",
          "items": {
            "$ref": "AssignmentOsType"
          },
          "type": "array"
        },
        "groupLabels": {
          "items": {
            "$ref": "AssignmentGroupLabel"
          },
          "type": "array",
          "description": "Targets instances matching at least one of these label sets. This allows an assignment to target disparate groups, for example \"env=prod or env=staging\"."
        },
        "instances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Targets any of the instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`. Instance targeting is uncommon and is supported to facilitate the management of changes by the instance or to target specific VM instances for development and testing. Only supported for project-level policies and must reference instances within this project."
        }
      },
      "id": "Assignment",
      "type": "object"
    },
    "ListPatchJobInstanceDetailsResponse": {
      "description": "A response message for listing the instances details for a patch job.",
      "type": "object",
      "id": "ListPatchJobInstanceDetailsResponse",
      "properties": {
        "patchJobInstanceDetails": {
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "type": "array",
          "description": "A list of instance status."
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "ListPatchJobsResponse": {
      "properties": {
        "patchJobs": {
          "type": "array",
          "items": {
            "$ref": "PatchJob"
          },
          "description": "The list of patch jobs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of results."
        }
      },
      "description": "A response message for listing patch jobs.",
      "type": "object",
      "id": "ListPatchJobsResponse"
    },
    "ZypperSettings": {
      "type": "object",
      "properties": {
        "exclusivePatches": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields.",
          "type": "array"
        },
        "categories": {
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "withUpdate": {
          "description": "Adds the `--with-update` flag, to `zypper patch`.",
          "type": "boolean"
        },
        "withOptional": {
          "description": "Adds the `--with-optional` flag to `zypper patch`.",
          "type": "boolean"
        },
        "severities": {
          "type": "array",
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low.",
          "items": {
            "type": "string"
          }
        },
        "excludes": {
          "description": "List of patches to exclude from update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ZypperSettings",
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual."
    },
    "EffectiveGuestPolicySourcedPackage": {
      "id": "EffectiveGuestPolicySourcedPackage",
      "description": "A guest policy package including its source.",
      "properties": {
        "package": {
          "$ref": "Package",
          "description": "A software package to configure on the VM instance."
        },
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SoftwareRecipeStepInstallRpm": {
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        }
      },
      "id": "SoftwareRecipeStepInstallRpm",
      "description": "Installs an rpm file via the rpm utility.",
      "type": "object"
    },
    "ZypperRepository": {
      "type": "object",
      "description": "Represents a single Zypper package repository. This repository is added to a repo file that is stored at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "properties": {
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts.",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ZypperRepository"
    },
    "PatchConfig": {
      "description": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance.",
      "id": "PatchConfig",
      "properties": {
        "postStep": {
          "$ref": "ExecStep",
          "description": "The `ExecStep` to run after the patch update."
        },
        "windowsUpdate": {
          "description": "Windows update settings. Use this override the default windows patch rules.",
          "$ref": "WindowsUpdateSettings"
        },
        "zypper": {
          "description": "Zypper update settings. Use this setting to override the default `zypper` patch rules.",
          "$ref": "ZypperSettings"
        },
        "preStep": {
          "description": "The `ExecStep` to run before the patch update.",
          "$ref": "ExecStep"
        },
        "goo": {
          "$ref": "GooSettings",
          "description": "Goo update settings. Use this setting to override the default `goo` patch rules."
        },
        "yum": {
          "description": "Yum update settings. Use this setting to override the default `yum` patch rules.",
          "$ref": "YumSettings"
        },
        "rebootConfig": {
          "type": "string",
          "description": "Post-patch reboot settings.",
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ],
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as registry keys on Windows or `/var/run/reboot-required` on APT based systems. On RPM based systems, a set of core system package install times are compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ]
        },
        "apt": {
          "description": "Apt update settings. Use this setting to override the default `apt` patch rules.",
          "$ref": "AptSettings"
        },
        "migInstancesAllowed": {
          "type": "boolean",
          "description": "Allows the patch job to run on Managed instance groups (MIGs)."
        }
      },
      "type": "object"
    },
    "YumRepository": {
      "id": "YumRepository",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        },
        "gpgKeys": {
          "items": {
            "type": "string"
          },
          "description": "URIs of GPG keys.",
          "type": "array"
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the Yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts."
        }
      },
      "type": "object",
      "description": "Represents a single Yum package repository. This repository is added to a repo file that is stored at `/etc/yum.repos.d/google_osconfig.repo`."
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "rolloutState": {
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "type": "string",
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutUpdateTime": {
          "description": "Rollout update time",
          "type": "string",
          "format": "google-datetime"
        },
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        }
      }
    },
    "AssignmentOsType": {
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following following OS version."
        },
        "osShortName": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS short name, for example \"debian\" or \"windows\".",
          "type": "string"
        },
        "osArchitecture": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS architecture.",
          "type": "string"
        }
      },
      "description": "Defines the criteria for selecting VM Instances by OS type.",
      "type": "object",
      "id": "AssignmentOsType"
    },
    "YumSettings": {
      "id": "YumSettings",
      "type": "object",
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "properties": {
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields."
        },
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag."
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        }
      }
    },
    "GooSettings": {
      "properties": {},
      "description": "Googet patching is performed by running `googet update`.",
      "id": "GooSettings",
      "type": "object"
    },
    "SoftwareRecipeArtifact": {
      "type": "object",
      "description": "Specifies a resource to be used in the recipe.",
      "id": "SoftwareRecipeArtifact",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Id of the artifact, which the installation and update steps of this recipe can reference. Artifacts in a recipe cannot have the same id."
        },
        "gcs": {
          "description": "A Google Cloud Storage artifact.",
          "$ref": "SoftwareRecipeArtifactGcs"
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, recipes are subject to validations based on the artifact type: Remote: A checksum must be specified, and only protocols with transport-layer security are permitted. GCS: An object generation number must be specified.",
          "type": "boolean"
        },
        "remote": {
          "description": "A generic remote artifact.",
          "$ref": "SoftwareRecipeArtifactRemote"
        }
      }
    },
    "ListPatchDeploymentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of patch deployments."
        },
        "patchDeployments": {
          "description": "The list of patch deployments.",
          "items": {
            "$ref": "PatchDeployment"
          },
          "type": "array"
        }
      },
      "description": "A response message for listing patch deployments.",
      "id": "ListPatchDeploymentsResponse",
      "type": "object"
    },
    "PatchJobInstanceDetails": {
      "type": "object",
      "id": "PatchJobInstanceDetails",
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "properties": {
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "state": {
          "description": "Current state of instance patch.",
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
          ],
          "type": "string"
        },
        "attemptCount": {
          "type": "string",
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "format": "int64"
        },
        "instanceSystemId": {
          "description": "The unique identifier for the instance. This identifier is defined by the server.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The instance name in the form `projects/*/zones/*/instances/*`"
        }
      }
    },
    "GuestPolicy": {
      "id": "GuestPolicy",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The etag for this guest policy. If this is provided on update, it must match the server's etag."
        },
        "packages": {
          "description": "The software packages to be managed by this policy.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`."
        },
        "recipes": {
          "type": "array",
          "description": "A list of Recipes to install on the VM instance.",
          "items": {
            "$ref": "SoftwareRecipe"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time this guest policy was created.",
          "format": "google-datetime"
        },
        "packageRepositories": {
          "type": "array",
          "items": {
            "$ref": "PackageRepository"
          },
          "description": "A list of package repositories to configure on the VM instance. This is done before any other configs are applied so they can use these repos. Package repositories are only configured if the corresponding package manager(s) are available."
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "Required. Specifies the VM instances that are assigned to this policy. This allows you to target sets or groups of VM instances by different parameters such as labels, names, OS, or zones. If left empty, all VM instances underneath this policy are targeted. At the same level in the resource hierarchy (that is within a project), the service prevents the creation of multiple policies that conflict with each other. For more information, see how the service [handles assignment conflicts](/compute/docs/os-config-management/create-guest-policy#handle-conflicts)."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last time this guest policy was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Description of the guest policy. Length of the description is limited to 1024 characters."
        }
      },
      "description": "An OS Config resource representing a guest configuration policy. These policies represent the desired state for VM instance guest environments including packages to install or remove, package repository configurations, and software to install."
    },
    "FixedOrPercent": {
      "properties": {
        "fixed": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies a fixed value."
        },
        "percent": {
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value."
    },
    "SoftwareRecipeStep": {
      "properties": {
        "fileExec": {
          "description": "Executes an artifact or local file.",
          "$ref": "SoftwareRecipeStepExecFile"
        },
        "rpmInstallation": {
          "$ref": "SoftwareRecipeStepInstallRpm",
          "description": "Installs an rpm file via the rpm utility."
        },
        "msiInstallation": {
          "$ref": "SoftwareRecipeStepInstallMsi",
          "description": "Installs an MSI file."
        },
        "dpkgInstallation": {
          "description": "Installs a deb file via dpkg.",
          "$ref": "SoftwareRecipeStepInstallDpkg"
        },
        "fileCopy": {
          "description": "Copies a file onto the instance.",
          "$ref": "SoftwareRecipeStepCopyFile"
        },
        "archiveExtraction": {
          "$ref": "SoftwareRecipeStepExtractArchive",
          "description": "Extracts an archive into the specified directory."
        },
        "scriptRun": {
          "$ref": "SoftwareRecipeStepRunScript",
          "description": "Runs commands in a shell."
        }
      },
      "description": "An action that can be taken as part of installing or updating a recipe.",
      "type": "object",
      "id": "SoftwareRecipeStep"
    },
    "OSPolicyAssignmentOperationMetadata": {
      "type": "object",
      "properties": {
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rollout update time"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "apiMethod": {
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "The OS policy assignment API method.",
          "type": "string"
        },
        "rolloutState": {
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "type": "string",
          "description": "State of the rollout"
        }
      },
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "id": "OSPolicyAssignmentOperationMetadata"
    },
    "ResumePatchDeploymentRequest": {
      "type": "object",
      "id": "ResumePatchDeploymentRequest",
      "description": "A request message for resuming a patch deployment.",
      "properties": {}
    },
    "SoftwareRecipeStepExtractArchive": {
      "type": "object",
      "description": "Extracts an archive of the type specified in the specified directory.",
      "id": "SoftwareRecipeStepExtractArchive",
      "properties": {
        "destination": {
          "description": "Directory to extract archive to. Defaults to `/` on Linux or `C:\\` on Windows.",
          "type": "string"
        },
        "type": {
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "TAR",
            "TAR_GZIP",
            "TAR_BZIP",
            "TAR_LZMA",
            "TAR_XZ",
            "ZIP"
          ],
          "enumDescriptions": [
            "Indicates that the archive type isn't specified.",
            "Indicates that the archive is a tar archive with no encryption.",
            "Indicates that the archive is a tar archive with gzip encryption.",
            "Indicates that the archive is a tar archive with bzip encryption.",
            "Indicates that the archive is a tar archive with lzma encryption.",
            "Indicates that the archive is a tar archive with xz encryption.",
            "Indicates that the archive is a zip archive."
          ],
          "type": "string",
          "description": "Required. The type of the archive to extract."
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      }
    },
    "OneTimeSchedule": {
      "type": "object",
      "id": "OneTimeSchedule",
      "properties": {
        "executeTime": {
          "format": "google-datetime",
          "description": "Required. The desired patch job execution time.",
          "type": "string"
        }
      },
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
    },
    "ExecStep": {
      "id": "ExecStep",
      "properties": {
        "linuxExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob."
        },
        "windowsExecStepConfig": {
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        }
      },
      "description": "A step that runs an executable for a PatchJob.",
      "type": "object"
    },
    "SoftwareRecipeArtifactGcs": {
      "id": "SoftwareRecipeArtifactGcs",
      "properties": {
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Must be provided if allow_insecure is false. Generation number of the Google Cloud Storage object. `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `1234567`."
        },
        "bucket": {
          "type": "string",
          "description": "Bucket of the Google Cloud Storage object. Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `my-bucket`."
        },
        "object": {
          "type": "string",
          "description": "Name of the Google Cloud Storage object. As specified [here] (https://cloud.google.com/storage/docs/naming#objectnames) Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `foo/bar`."
        }
      },
      "type": "object",
      "description": "Specifies an artifact available as a Google Cloud Storage object."
    },
    "LookupEffectiveGuestPolicyRequest": {
      "type": "object",
      "id": "LookupEffectiveGuestPolicyRequest",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "Version of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that VM instance."
        },
        "osShortName": {
          "description": "Short name of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        },
        "osArchitecture": {
          "type": "string",
          "description": "Architecture of OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance."
        }
      },
      "description": "A request message for getting the effective guest policy assigned to the instance."
    },
    "ExecutePatchJobRequest": {
      "properties": {
        "displayName": {
          "description": "Display name for this patch job. This does not have to be unique.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string"
        },
        "instanceFilter": {
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels.",
          "$ref": "PatchInstanceFilter"
        },
        "rollout": {
          "description": "Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "dryRun": {
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing.",
          "type": "boolean"
        },
        "patchConfig": {
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations.",
          "$ref": "PatchConfig"
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited to 1024 characters."
        }
      },
      "type": "object",
      "description": "A request message to initiate patching across Compute Engine instances.",
      "id": "ExecutePatchJobRequest"
    },
    "PatchDeployment": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. VM instances to patch."
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "lastExecuteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment."
        },
        "recurringSchedule": {
          "description": "Required. Schedule recurring executions.",
          "$ref": "RecurringSchedule"
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the patch deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters."
        },
        "duration": {
          "type": "string",
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "format": "google-duration"
        },
        "rollout": {
          "description": "Optional. Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        }
      },
      "id": "PatchDeployment",
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs)."
    },
    "GooRepository": {
      "type": "object",
      "id": "GooRepository",
      "description": "Represents a Goo package repository. These is added to a repo file that is stored at C:/ProgramData/GooGet/repos/google_osconfig.repo.",
      "properties": {
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The url of the repository."
        }
      }
    },
    "TimeOfDay": {
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "hours": {
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "TimeOfDay"
    },
    "SoftwareRecipeStepInstallMsi": {
      "type": "object",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "allowedExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]"
        },
        "flags": {
          "items": {
            "type": "string"
          },
          "description": "The flags to use when installing the MSI defaults to [\"/i\"] (i.e. the install flag).",
          "type": "array"
        }
      },
      "description": "Installs an MSI file.",
      "id": "SoftwareRecipeStepInstallMsi"
    },
    "AssignmentGroupLabel": {
      "type": "object",
      "id": "AssignmentGroupLabel",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Google Compute Engine instance labels that must be present for an instance to be included in this assignment group."
        }
      },
      "description": "Represents a group of VM intances that can be identified as having all these labels, for example \"env=prod and app=web\"."
    },
    "SoftwareRecipeStepRunScript": {
      "type": "object",
      "properties": {
        "allowedExitCodes": {
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "interpreter": {
          "enumDescriptions": [
            "Default value for ScriptType.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on windows.",
            "Indicates that the script is run with powershell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script is executed directly, which likely only succeed for scripts with [shebang lines](https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "type": "string"
        },
        "script": {
          "description": "Required. The shell script to be executed.",
          "type": "string"
        }
      },
      "id": "SoftwareRecipeStepRunScript",
      "description": "Runs a script through an interpreter."
    },
    "PackageRepository": {
      "description": "A package repository.",
      "id": "PackageRepository",
      "type": "object",
      "properties": {
        "zypper": {
          "$ref": "ZypperRepository",
          "description": "A Zypper Repository."
        },
        "yum": {
          "$ref": "YumRepository",
          "description": "A Yum Repository."
        },
        "apt": {
          "$ref": "AptRepository",
          "description": "An Apt Repository."
        },
        "goo": {
          "$ref": "GooRepository",
          "description": "A Goo Repository."
        }
      }
    },
    "SoftwareRecipeStepCopyFile": {
      "type": "object",
      "description": "Copies the artifact to the specified path on the instance.",
      "properties": {
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "overwrite": {
          "description": "Whether to allow this step to overwrite existing files. If this is false and the file already exists the file is not overwritten and the step is considered a success. Defaults to false.",
          "type": "boolean"
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "Required. The absolute path on the instance to put the file."
        }
      },
      "id": "SoftwareRecipeStepCopyFile"
    },
    "ListGuestPoliciesResponse": {
      "id": "ListGuestPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of guest policies.",
          "type": "string"
        },
        "guestPolicies": {
          "type": "array",
          "items": {
            "$ref": "GuestPolicy"
          },
          "description": "The list of GuestPolicies."
        }
      },
      "type": "object",
      "description": "A response message for listing guest policies."
    },
    "MonthlySchedule": {
      "id": "MonthlySchedule",
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "type": "object",
      "properties": {
        "weekDayOfMonth": {
          "$ref": "WeekDayOfMonth",
          "description": "Required. Week day in a month."
        },
        "monthDay": {
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AptSettings": {
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "id": "AptSettings",
      "type": "object",
      "properties": {
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "type": "array"
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages will be excluded"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead."
        }
      }
    },
    "EffectiveGuestPolicy": {
      "description": "The effective guest policy that applies to a VM instance.",
      "id": "EffectiveGuestPolicy",
      "properties": {
        "packages": {
          "type": "array",
          "description": "List of package configurations assigned to the VM instance.",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackage"
          }
        },
        "softwareRecipes": {
          "type": "array",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedSoftwareRecipe"
          },
          "description": "List of recipes assigned to the VM instance."
        },
        "packageRepositories": {
          "description": "List of package repository configurations assigned to the VM instance.",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackageRepository"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PatchJob": {
      "properties": {
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "errorMessage": {
          "type": "string",
          "description": "If this patch job failed, this message provides information about the failure."
        },
        "name": {
          "type": "string",
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`"
        },
        "patchDeployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the patch deployment that created this patch job."
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Time this patch job was created.",
          "format": "google-datetime"
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "updateTime": {
          "type": "string",
          "description": "Last time this patch job was updated.",
          "format": "google-datetime"
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "format": "google-duration",
[...]
