{
  "fullyEncodeReservedExpansion": true,
  "id": "area120tables:v1alpha1",
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "CreateRowRequest": {
      "description": "Request message for TablesService.CreateRow.",
      "properties": {
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        }
      },
      "id": "CreateRowRequest",
      "type": "object"
    },
    "DateDetails": {
      "properties": {
        "hasTime": {
          "description": "Whether the date column includes time.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Details about a date column.",
      "id": "DateDetails"
    },
    "RelationshipDetails": {
      "id": "RelationshipDetails",
      "description": "Details about a relationship column.",
      "type": "object",
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string"
        }
      }
    },
    "LookupDetails": {
      "id": "LookupDetails",
      "type": "object",
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        },
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        }
      },
      "description": "Details about a lookup column whose value comes from the associated relationship."
    },
    "Table": {
      "properties": {
        "savedViews": {
          "type": "array",
          "items": {
            "$ref": "SavedView"
          },
          "description": "Saved views for this table."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the table. IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        },
        "createTime": {
          "description": "Time when the table was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the table."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Table",
      "description": "A single table. NextId: 8"
    },
    "Row": {
      "description": "A single row in a table.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the row was last updated."
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        },
        "createTime": {
          "description": "Time when the row was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Row"
    },
    "LabeledItem": {
      "id": "LabeledItem",
      "description": "A single item in a labeled column.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        }
      },
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUpdateRowsRequest",
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "BatchDeleteRowsRequest": {
      "type": "object",
      "id": "BatchDeleteRowsRequest",
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "BatchUpdateRowsResponse": {
      "description": "Response message for TablesService.BatchUpdateRows.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The updated rows."
        }
      },
      "type": "object",
      "id": "BatchUpdateRowsResponse"
    },
    "ListWorkspacesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "type": "array",
          "description": "The list of workspaces."
        }
      },
      "type": "object",
      "id": "ListWorkspacesResponse",
      "description": "Response message for TablesService.ListWorkspaces."
    },
    "ListRowsResponse": {
      "type": "object",
      "description": "Response message for TablesService.ListRows.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "rows": {
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "id": "ListRowsResponse"
    },
    "ColumnDescription": {
      "properties": {
        "name": {
          "type": "string",
          "description": "column name"
        },
        "dateDetails": {
          "$ref": "DateDetails",
          "description": "Optional. Additional details about a date column."
        },
        "readonly": {
          "description": "Optional. Indicates that values for the column cannot be set by the user.",
          "type": "boolean"
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        },
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "type": "array",
          "items": {
            "$ref": "LabeledItem"
          }
        },
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        }
      },
      "type": "object",
      "description": "Details on a column in the table.",
      "id": "ColumnDescription"
    },
    "BatchCreateRowsRequest": {
      "type": "object",
      "id": "BatchCreateRowsRequest",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "items": {
            "$ref": "CreateRowRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for TablesService.BatchCreateRows."
    },
    "UpdateRowRequest": {
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "The list of fields to update.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "view": {
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ]
        },
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        }
      }
    },
    "BatchCreateRowsResponse": {
      "description": "Response message for TablesService.BatchCreateRows.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The created rows."
        }
      },
      "type": "object",
      "id": "BatchCreateRowsResponse"
    },
    "Workspace": {
      "id": "Workspace",
      "type": "object",
      "description": "A single workspace.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was last updated."
        },
        "createTime": {
          "description": "Time when the workspace was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "tables": {
          "description": "The list of tables in the workspace.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        }
      }
    },
    "SavedView": {
      "type": "object",
      "description": "A saved view of a table. NextId: 3",
      "properties": {
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display name of the saved view."
        }
      },
      "id": "SavedView"
    },
    "ListTablesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables.",
          "type": "array"
        }
      },
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    }
  },
  "canonicalName": "Area120 Tables",
  "version": "v1alpha1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "batchPath": "batch",
  "baseUrl": "https://area120tables.googleapis.com/",
  "description": "",
  "name": "area120tables",
  "revision": "20230226",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "resources": {
    "workspaces": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "pattern": "^workspaces/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Workspace"
          },
          "id": "area120tables.workspaces.get",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "id": "area120tables.workspaces.list",
          "parameterOrder": [],
          "flatPath": "v1alpha1/workspaces",
          "path": "v1alpha1/workspaces",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Lists workspaces for the user.",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            }
          }
        }
      }
    },
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "batchUpdate": {
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}"
                }
              },
              "description": "Updates multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "id": "area120tables.tables.rows.batchUpdate",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "batchDelete": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "description": "Deletes multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "response": {
                "$ref": "Empty"
              }
            },
            "create": {
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "POST",
              "description": "Creates a row.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "view": {
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "id": "area120tables.tables.rows.create",
              "path": "v1alpha1/{+parent}/rows",
              "request": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string"
                },
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "The list of fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "area120tables.tables.rows.patch",
              "response": {
                "$ref": "Row"
              },
              "request": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "description": "Updates a row.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "delete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+name}",
              "id": "area120tables.tables.rows.delete",
              "parameters": {
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}"
                }
              },
              "description": "Deletes a row.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.get",
              "path": "v1alpha1/{+name}",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameters": {
                "view": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              }
            },
            "list": {
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "path": "v1alpha1/{+parent}/rows",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "location": "query"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent table. Format: tables/{table}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371)."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                }
              },
              "id": "area120tables.tables.rows.list",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows"
            },
            "batchCreate": {
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "httpMethod": "POST",
              "id": "area120tables.tables.rows.batchCreate",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "description": "Creates multiple rows.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "flatPath": "v1alpha1/tables",
          "id": "area120tables.tables.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameterOrder": [],
          "description": "Lists tables for the user.",
          "path": "v1alpha1/tables",
          "parameters": {
            "orderBy": {
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListTablesResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "Table"
          },
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "id": "area120tables.tables.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/tables/{tablesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^tables/[^/]+$",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://area120tables.googleapis.com/",
  "title": "Area120 Tables API"
}
