{
  "name": "libraryagent",
  "id": "libraryagent:v1",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method."
            }
          },
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "libraryagent.shelves.list",
          "flatPath": "v1/shelves",
          "path": "v1/shelves"
        },
        "get": {
          "id": "libraryagent.shelves.get",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "flatPath": "v1/shelves/{shelvesId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the shelf to retrieve.",
              "pattern": "^shelves/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "books": {
          "methods": {
            "borrow": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "path": "v1/{+name}:borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the book to borrow.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.borrow"
            },
            "get": {
              "httpMethod": "GET",
              "id": "libraryagent.shelves.books.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the book to retrieve."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "flatPath": "v1/shelves/{shelvesId}/books",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "path": "v1/{+parent}/books",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "pattern": "^shelves/[^/]+$"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "libraryagent.shelves.books.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "return": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:return",
              "parameters": {
                "name": {
                  "description": "Required. The name of the book to return.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "libraryagent.shelves.books.return",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "httpMethod": "POST",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before."
            }
          }
        }
      }
    }
  },
  "canonicalName": "Libraryagent",
  "version": "v1",
  "description": "A simple Google Example Library API.",
  "kind": "discovery#restDescription",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "batchPath": "batch",
  "protocol": "rest",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20230228",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Library Agent API",
  "schemas": {
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        },
        "shelves": {
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "The list of shelves."
        }
      },
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse"
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "description": "A Shelf contains a collection of books with a theme.",
      "id": "GoogleExampleLibraryagentV1Shelf",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleExampleLibraryagentV1Book": {
      "description": "A single book in the library.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Book",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the book."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "properties": {
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "description": "The list of books.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results."
        }
      },
      "description": "Response message for LibraryAgent.ListBooks.",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "type": "object"
    }
  },
  "basePath": "",
  "ownerName": "Google"
}
