{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "revision": "20230221",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "httpMethod": "POST",
          "id": "driveactivity.activity.query",
          "path": "v2/activity:query",
          "parameterOrder": [],
          "description": "Query past activity in Google Drive.",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "parameters": {},
          "flatPath": "v2/activity:query"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "ownerName": "Google",
  "description": "Provides a historical view of activity in Google Drive.",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/drive/activity/",
  "title": "Drive Activity API",
  "name": "driveactivity",
  "batchPath": "batch",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "schemas": {
    "Actor": {
      "id": "Actor",
      "description": "The actor of a Drive activity.",
      "properties": {
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        }
      },
      "type": "object"
    },
    "Drive": {
      "id": "Drive",
      "type": "object",
      "description": "Information about a shared drive.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      }
    },
    "Upload": {
      "type": "object",
      "description": "An object was uploaded into Drive.",
      "properties": {},
      "id": "Upload"
    },
    "DriveReference": {
      "type": "object",
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      },
      "id": "DriveReference"
    },
    "RestrictionChange": {
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "id": "RestrictionChange",
      "properties": {
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change.",
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ]
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS"
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "When restricted, this prevents actions like copy, download, and print that might result in uncontrolled duplicates of items.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only."
          ],
          "type": "string"
        }
      }
    },
    "New": {
      "properties": {},
      "type": "object",
      "id": "New",
      "description": "An object was created from scratch."
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        }
      },
      "type": "object",
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference",
      "properties": {
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "folder": {
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        }
      },
      "type": "object"
    },
    "Permission": {
      "properties": {
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items."
        }
      },
      "type": "object",
      "description": "The permission setting of an object.",
      "id": "Permission"
    },
    "Impersonation": {
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "type": "object",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation"
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "type": "object",
      "properties": {
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity.",
          "type": "array"
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "type": "string",
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime"
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "type": "array",
          "description": "Details on all actions in this activity."
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array"
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date value."
        }
      },
      "type": "object",
      "id": "Date"
    },
    "TeamDriveReference": {
      "id": "TeamDriveReference",
      "type": "object",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        }
      }
    },
    "Owner": {
      "properties": {
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain of the Drive item owner."
        },
        "user": {
          "$ref": "User",
          "description": "The user that owns the Drive item."
        }
      },
      "id": "Owner",
      "description": "Information about the owner of a Drive item.",
      "type": "object"
    },
    "Assignment": {
      "id": "Assignment",
      "description": "A comment with an assignment.",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "type": "object"
    },
    "TimeRange": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the time range.",
          "type": "string"
        },
        "startTime": {
          "description": "The start of the time range.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Information about time ranges.",
      "id": "TimeRange",
      "type": "object"
    },
    "PermissionChange": {
      "type": "object",
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item.",
      "properties": {
        "removedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change."
        },
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions added by this change."
        }
      }
    },
    "Rename": {
      "id": "Rename",
      "type": "object",
      "description": "An object was renamed.",
      "properties": {
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        },
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        }
      }
    },
    "File": {
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "properties": {},
      "type": "object",
      "id": "File"
    },
    "AppliedLabelChange": {
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      },
      "description": "Label changes that were made on the Target.",
      "id": "AppliedLabelChange"
    },
    "TargetReference": {
      "type": "object",
      "id": "TargetReference",
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "driveItem": {
          "$ref": "DriveItemReference",
          "description": "The target is a Drive item."
        }
      },
      "description": "A lightweight reference to the target of activity."
    },
    "Post": {
      "type": "object",
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string"
        }
      },
      "id": "Post"
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "fieldChanges": {
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        },
        "types": {
          "items": {
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string"
          },
          "description": "The types of changes made to the Label on the Target.",
          "type": "array"
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      },
      "description": "A change made to a Label on the Target.",
      "type": "object"
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "description": "A user whose account has since been deleted.",
      "type": "object",
      "properties": {}
    },
    "SingleUser": {
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "description": "Wrapper for User Field value.",
      "id": "SingleUser",
      "type": "object"
    },
    "FieldValueChange": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable display name for this field."
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of this field. Field IDs are unique within a Label."
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "newValue": {
          "$ref": "FieldValue",
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set."
        }
      },
      "type": "object",
      "id": "FieldValueChange",
      "description": "Change to a Field value."
    },
    "Legacy": {
      "type": "object",
      "properties": {},
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "id": "Legacy"
    },
    "Delete": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "type": "string",
          "description": "The type of delete action taken."
        }
      },
      "description": "An object was deleted.",
      "id": "Delete"
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "type": "string",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      },
      "description": "A change in the object's data leak prevention status.",
      "type": "object",
      "id": "DataLeakPreventionChange"
    },
    "DriveItem": {
      "properties": {
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/drive/v3/web/mime-types."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        }
      },
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder.",
      "type": "object"
    },
    "DriveFile": {
      "properties": {},
      "description": "A Drive item which is a file.",
      "type": "object",
      "id": "DriveFile"
    },
    "TextList": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      },
      "type": "object",
      "id": "TextList",
      "description": "Wrapper for Text List Field value."
    },
    "Domain": {
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        }
      },
      "description": "Information about a domain.",
      "id": "Domain",
      "type": "object"
    },
    "Move": {
      "type": "object",
      "description": "An object was moved.",
      "properties": {
        "addedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The added parent object(s)."
        },
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        }
      },
      "id": "Move"
    },
    "FileComment": {
      "type": "object",
      "id": "FileComment",
      "properties": {
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        }
      },
      "description": "A comment on a file."
    },
    "Create": {
      "id": "Create",
      "properties": {
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        }
      },
      "type": "object",
      "description": "An object was created."
    },
    "Administrator": {
      "description": "Empty message representing an administrator.",
      "properties": {},
      "type": "object",
      "id": "Administrator"
    },
    "Suggestion": {
      "description": "A suggestion.",
      "id": "Suggestion",
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ]
        }
      }
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "type": "object",
      "id": "ConsolidationStrategy",
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        }
      }
    },
    "Comment": {
      "properties": {
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        }
      },
      "id": "Comment",
      "description": "A change about comments on an object.",
      "type": "object"
    },
    "NoConsolidation": {
      "properties": {},
      "type": "object",
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities."
    },
    "KnownUser": {
      "id": "KnownUser",
      "type": "object",
      "properties": {
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        },
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        }
      },
      "description": "A known user."
    },
    "Text": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      },
      "description": "Wrapper for Text Field value.",
      "id": "Text",
      "type": "object"
    },
    "AnonymousUser": {
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "type": "object"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values.",
          "type": "array"
        }
      },
      "id": "SelectionList",
      "type": "object",
      "description": "Wrapper for SelectionList Field value."
    },
    "Action": {
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "The action occurred at this specific time."
        },
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "type": "object",
      "description": "Information about the action.",
      "id": "Action"
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "description": "Response message for querying Drive activity.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "description": "List of activity requested.",
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          }
        }
      },
      "id": "QueryDriveActivityResponse"
    },
    "UnknownUser": {
      "properties": {},
      "type": "object",
      "description": "A user about whom nothing is currently known.",
      "id": "UnknownUser"
    },
    "Target": {
      "properties": {
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        },
        "fileComment": {
          "$ref": "FileComment",
          "description": "The target is a comment on a Drive file."
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        }
      },
      "type": "object",
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/drive/activity/v2#activityhistory)."
    },
    "Folder": {
      "id": "Folder",
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "type": "object",
      "description": "This item is deprecated; please see `DriveFolder` instead."
    },
    "Group": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "id": "Group",
      "description": "Information about a group.",
      "type": "object"
    },
    "Edit": {
      "properties": {},
      "description": "An empty message indicating an object was edited.",
      "type": "object",
      "id": "Edit"
    },
    "QueryDriveActivityRequest": {
      "properties": {
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time \u003e 1452409200000 AND time \u003c= 1492812924310` - `time \u003e= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        },
        "pageSize": {
          "type": "integer",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        }
      },
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity.",
      "type": "object"
    },
    "Selection": {
      "id": "Selection",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Selection value as human-readable display string."
        }
      },
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice."
    },
    "User": {
      "properties": {
        "deletedUser": {
          "$ref": "DeletedUser",
          "description": "A user whose account has since been deleted."
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        }
      },
      "description": "Information about an end user.",
      "type": "object",
      "id": "User"
    },
    "ApplicationReference": {
      "description": "Activity in applications other than Drive.",
      "id": "ApplicationReference",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string",
          "description": "The reference type corresponding to this event."
        }
      },
      "type": "object"
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "type": "object",
      "id": "Anyone",
      "properties": {}
    },
    "Copy": {
      "id": "Copy",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      },
      "type": "object",
      "description": "An object was created by copying an existing object."
    },
    "Restore": {
      "type": "object",
      "id": "Restore",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "description": "A deleted object was restored."
    },
    "ActionDetail": {
      "properties": {
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "type": "object",
      "id": "ActionDetail"
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "The type of Drive folder."
        }
      },
      "id": "DriveFolder"
    },
    "FieldValue": {
      "type": "object",
      "description": "Contains a value of a Field.",
      "id": "FieldValue",
      "properties": {
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        }
      }
    },
    "Integer": {
      "description": "Wrapper for Integer Field value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        }
      },
      "id": "Integer"
    },
    "SystemEvent": {
      "description": "Event triggered by system operations instead of end users.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "id": "SystemEvent",
      "type": "object"
    },
    "UserList": {
      "properties": {
        "values": {
          "description": "User values.",
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array"
        }
      },
      "id": "UserList",
      "type": "object",
      "description": "Wrapper for UserList Field value."
    },
    "SettingsChange": {
      "id": "SettingsChange",
      "description": "Information about settings changes.",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "version_module": true,
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Drive Activity",
  "version": "v2",
  "id": "driveactivity:v2",
  "basePath": "",
  "servicePath": ""
}
