{
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Notice": {
      "type": "object",
      "id": "Notice",
      "properties": {
        "links": {
          "description": "Link to a document containing more information.",
          "type": "array",
          "items": {
            "$ref": "Link"
          }
        },
        "type": {
          "description": "Type values defined in [section 10.2.1 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-10.2.1) specific to a whole response: \"result set truncated due to authorization\", \"result set truncated due to excessive load\", \"result set truncated due to unexplainable reasons\".",
          "type": "string"
        },
        "description": {
          "description": "Description of the notice.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Title of a notice. Example: \"Terms of Service\".",
          "type": "string"
        }
      },
      "description": "Notices object defined in [section 4.3 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-4.3)."
    },
    "RdapResponse": {
      "id": "RdapResponse",
      "type": "object",
      "properties": {
        "lang": {
          "type": "string",
          "description": "Error language code. Error response info fields are defined in [section 6 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-6)."
        },
        "errorCode": {
          "type": "integer",
          "description": "Error HTTP code. Example: \"501\".",
          "format": "int32"
        },
        "notices": {
          "type": "array",
          "items": {
            "$ref": "Notice"
          },
          "description": "Notices applying to this response."
        },
        "jsonResponse": {
          "$ref": "HttpBody",
          "description": "HTTP response with content type set to \"application/json+rdap\"."
        },
        "description": {
          "description": "Error description.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rdapConformance": {
          "description": "RDAP conformance level.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "Error title.",
          "type": "string"
        }
      },
      "description": "Response to a general RDAP query."
    },
    "HttpBody": {
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "Link": {
      "id": "Link",
      "properties": {
        "rel": {
          "type": "string",
          "description": "Relation type of a link. Example: \"previous\"."
        },
        "title": {
          "description": "Title of this link. Example: \"title\".",
          "type": "string"
        },
        "media": {
          "description": "Media type of the link destination. Example: \"screen\".",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "URL giving context for the link. Example: \"http://example.com/current\"."
        },
        "hreflang": {
          "type": "string",
          "description": "Language code of a link. Example: \"en\"."
        },
        "type": {
          "description": "Content type of the link. Example: \"application/json\".",
          "type": "string"
        },
        "href": {
          "type": "string",
          "description": "Target URL of a link. Example: \"http://example.com/previous\"."
        }
      },
      "description": "Links object defined in [section 4.2 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-4.2).",
      "type": "object"
    }
  },
  "rootUrl": "https://domainsrdap.googleapis.com/",
  "baseUrl": "https://domainsrdap.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "servicePath": "",
  "revision": "20230228",
  "version": "v1",
  "protocol": "rest",
  "description": "Read-only public API that lets users search for information about domain names.",
  "name": "domainsrdap",
  "batchPath": "batch",
  "id": "domainsrdap:v1",
  "discoveryVersion": "v1",
  "canonicalName": "Domains RDAP",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/domains/rdap/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://domainsrdap.mtls.googleapis.com/",
  "title": "Domains RDAP API",
  "resources": {
    "domain": {
      "methods": {
        "get": {
          "response": {
            "$ref": "HttpBody"
          },
          "id": "domainsrdap.domain.get",
          "parameterOrder": [
            "domainName"
          ],
          "parameters": {
            "domainName": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Full domain name to look up. Example: \"example.com\""
            }
          },
          "flatPath": "v1/domain/{domainId}",
          "httpMethod": "GET",
          "description": "Look up RDAP information for a domain by name.",
          "path": "v1/domain/{+domainName}"
        }
      }
    },
    "v1": {
      "methods": {
        "getIp": {
          "httpMethod": "GET",
          "id": "domainsrdap.getIp",
          "flatPath": "v1/ip",
          "response": {
            "$ref": "HttpBody"
          },
          "parameterOrder": [],
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameters": {},
          "path": "v1/ip"
        },
        "getNameservers": {
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameters": {},
          "httpMethod": "GET",
          "path": "v1/nameservers",
          "flatPath": "v1/nameservers",
          "response": {
            "$ref": "RdapResponse"
          },
          "id": "domainsrdap.getNameservers",
          "parameterOrder": []
        },
        "getEntities": {
          "path": "v1/entities",
          "flatPath": "v1/entities",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "response": {
            "$ref": "RdapResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {},
          "id": "domainsrdap.getEntities"
        },
        "getDomains": {
          "httpMethod": "GET",
          "parameters": {},
          "response": {
            "$ref": "RdapResponse"
          },
          "parameterOrder": [],
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "id": "domainsrdap.getDomains",
          "path": "v1/domains",
          "flatPath": "v1/domains"
        },
        "getHelp": {
          "parameterOrder": [],
          "parameters": {},
          "id": "domainsrdap.getHelp",
          "response": {
            "$ref": "HttpBody"
          },
          "flatPath": "v1/help",
          "path": "v1/help",
          "description": "Get help information for the RDAP API, including links to documentation.",
          "httpMethod": "GET"
        }
      }
    },
    "nameserver": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "RdapResponse"
          },
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameterOrder": [
            "nameserverId"
          ],
          "parameters": {
            "nameserverId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/nameserver/{nameserverId}",
          "id": "domainsrdap.nameserver.get",
          "path": "v1/nameserver/{nameserverId}"
        }
      }
    },
    "ip": {
      "methods": {
        "get": {
          "response": {
            "$ref": "RdapResponse"
          },
          "parameterOrder": [
            "ipId",
            "ipId1"
          ],
          "path": "v1/ip/{ipId}/{ipId1}",
          "parameters": {
            "ipId1": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "ipId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/ip/{ipId}/{ipId1}",
          "httpMethod": "GET",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "id": "domainsrdap.ip.get"
        }
      }
    },
    "entity": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "RdapResponse"
          },
          "flatPath": "v1/entity/{entityId}",
          "parameterOrder": [
            "entityId"
          ],
          "path": "v1/entity/{entityId}",
          "id": "domainsrdap.entity.get",
          "parameters": {
            "entityId": {
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error."
        }
      }
    },
    "autnum": {
      "methods": {
        "get": {
          "parameters": {
            "autnumId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "RdapResponse"
          },
          "flatPath": "v1/autnum/{autnumId}",
          "httpMethod": "GET",
          "id": "domainsrdap.autnum.get",
          "path": "v1/autnum/{autnumId}",
          "parameterOrder": [
            "autnumId"
          ],
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error."
        }
      }
    }
  },
  "ownerDomain": "google.com"
}
