{
  "rootUrl": "https://securitycenter.googleapis.com/",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "version_module": true,
  "version": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "revision": "20230227",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "canonicalName": "Security Command Center",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "resources": {
    "folders": {
      "resources": {
        "assets": {
          "methods": {
            "list": {
              "description": "Lists an organization's assets.",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/assets",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "readTime": {
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent. The following fields are supported: name update_time resource_properties security_marks.marks security_center_properties.resource_name security_center_properties.resource_display_name security_center_properties.resource_parent security_center_properties.resource_parent_display_name security_center_properties.resource_project security_center_properties.resource_project_display_name security_center_properties.resource_type",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following are the allowed field and operator combinations: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`",
                  "type": "string",
                  "location": "query"
                },
                "fieldMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields."
                },
                "compareDuration": {
                  "description": "When compare_duration is set, the ListAssetsResult's \"state_change\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time.",
                  "format": "google-duration",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent resource that contains the assets. The value that you can specify on parent depends on the method in which you specify parent. You can specify one of the following values: \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/folders/{foldersId}/assets",
              "id": "securitycenter.folders.assets.list"
            },
            "group": {
              "path": "v1/{+parent}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "flatPath": "v1/folders/{foldersId}/assets:group",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The name of the parent to group the assets by. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "securitycenter.folders.assets.group",
              "httpMethod": "POST",
              "description": "Filters an organization's assets and groups them by their specified properties."
            },
            "updateSecurityMarks": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SecurityMarks"
              },
              "description": "Updates security marks.",
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.assets.updateSecurityMarks",
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^folders/[^/]+/assets/[^/]+/securityMarks$",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string",
                  "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time."
                }
              },
              "request": {
                "$ref": "SecurityMarks"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/assets/{assetsId}/securityMarks"
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.notificationConfigs.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "description": "Creates a notification config.",
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the new notification config's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string"
                },
                "configId": {
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must be between 1 and 128 characters and contain alphanumeric characters, underscores, or hyphens only.",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+parent}/notificationConfigs",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "description": "Lists notification configs.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent in which to list the notification configurations. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListNotificationConfigsResponse`; indicates that this is a continuation of a prior `ListNotificationConfigs` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "id": "securitycenter.folders.notificationConfigs.list",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the notification config to get. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "description": "Gets a notification config.",
              "id": "securitycenter.folders.notificationConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the notification config to delete. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "required": true,
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$"
                }
              },
              "description": "Deletes a notification config.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.notificationConfigs.delete"
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\"."
                },
                "updateMask": {
                  "description": "The FieldMask to use when updating the notification config. If empty all mutable fields will be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": " Updates a notification config. The following update fields are allowed: description, pubsub_topic, streaming_config.filter",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+name}",
              "id": "securitycenter.folders.notificationConfigs.patch"
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.muteConfigs.patch",
              "description": "Updates a mute config.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\""
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/muteConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists mute configs.",
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "id": "securitycenter.folders.muteConfigs.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The parent, which owns the collection of mute configs. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListMuteConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMuteConfigs` must match the call that provided the page token."
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "description": "Creates a mute config.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "httpMethod": "POST",
              "id": "securitycenter.folders.muteConfigs.create",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. Resource name of the new mute configs's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string",
                  "location": "path"
                },
                "muteConfigId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum."
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "securitycenter.folders.muteConfigs.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an existing mute config.",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the mute config to delete. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "type": "string"
                }
              }
            },
            "get": {
              "id": "securitycenter.folders.muteConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the mute config to retrieve. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Gets a mute config."
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/findings:bulkMute",
              "id": "securitycenter.folders.findings.bulkMute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent, at which bulk action needs to be applied. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "description": "Kicks off an LRO to bulk mute findings for a parent based on a filter. The parent can be either an organization, folder or project. The findings matched by the filter will be muted after the LRO is done.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/folders/{foldersId}/findings:bulkMute"
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.bigQueryExports.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated."
                }
              },
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "description": "Updates a BigQuery export.",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "securitycenter.folders.bigQueryExports.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an existing BigQuery export.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the BigQuery export to delete. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}"
            },
            "list": {
              "description": "Lists BigQuery exports. Note that when requesting BigQuery exports at a given level all exports under that level are also returned e.g. if requesting BigQuery exports under a folder, then all BigQuery exports immediately under the folder plus the ones created under the projects within the folder are returned.",
              "path": "v1/{+parent}/bigQueryExports",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "id": "securitycenter.folders.bigQueryExports.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The parent, which owns the collection of BigQuery exports. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListBigQueryExports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryExports` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets a BigQuery export.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the BigQuery export to retrieve. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.bigQueryExports.get",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            },
            "create": {
              "path": "v1/{+parent}/bigQueryExports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent resource of the new BigQuery export. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "location": "path"
                },
                "bigQueryExportId": {
                  "location": "query",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                  "type": "string"
                }
              },
              "id": "securitycenter.folders.bigQueryExports.create",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a BigQuery export.",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "flatPath": "v1/folders/{foldersId}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all sources belonging to an organization.",
              "id": "securitycenter.folders.sources.list",
              "path": "v1/{+parent}/sources",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\"."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "resources": {
            "findings": {
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "description": "Updates external system. This is for a given finding.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "id": "securitycenter.folders.sources.findings.externalSystems.patch",
                      "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query",
                          "description": "The FieldMask to use when updating the external system resource. If empty all mutable fields will be updated."
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$",
                          "required": true,
                          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\"",
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "setMute": {
                  "id": "securitycenter.folders.sources.findings.setMute",
                  "response": {
                    "$ref": "Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the mute state of a finding.",
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "path": "v1/{+name}:setMute",
                  "parameters": {
                    "name": {
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "group": {
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\", folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]. To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/-, or projects/{project_id}/sources/-",
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "path": "v1/{+parent}/findings:group",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings:group",
                  "id": "securitycenter.folders.sources.findings.group",
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings, /v1/folders/{folder_id}/sources/-/findings, /v1/projects/{project_id}/sources/-/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setState": {
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "id": "securitycenter.folders.sources.findings.setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the state of a finding.",
                  "path": "v1/{+name}:setState"
                },
                "updateSecurityMarks": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "securitycenter.folders.sources.findings.updateSecurityMarks",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "description": "Updates security marks.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
                    },
                    "startTime": {
                      "location": "query",
                      "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time.",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "SecurityMarks"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}",
                  "id": "securitycenter.folders.sources.findings.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding. When updating a finding, an empty mask is treated as updating all mutable fields and replacing source_properties. Individual source_properties can be added/updated by using \"source_properties.\" in the field mask.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "request": {
                    "$ref": "Finding"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent. The following fields are supported: name parent state category resource_name event_time source_properties security_marks.marks",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id], folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/- or projects/{projects_id}/sources/-",
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "compareDuration": {
                      "format": "google-duration",
                      "type": "string",
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added in any state during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.display_name: `=`, `:`",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields."
                    },
                    "readTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                      "format": "google-datetime"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.sources.findings.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/findings",
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "assets": {
          "methods": {
            "updateSecurityMarks": {
              "response": {
                "$ref": "SecurityMarks"
              },
              "id": "securitycenter.projects.assets.updateSecurityMarks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^projects/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "required": true,
                  "location": "path"
                },
                "startTime": {
                  "type": "string",
                  "location": "query",
                  "format": "google-datetime",
                  "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time."
                }
              },
              "flatPath": "v1/projects/{projectsId}/assets/{assetsId}/securityMarks",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "SecurityMarks"
              },
              "description": "Updates security marks."
            },
            "group": {
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "id": "securitycenter.projects.assets.group",
              "path": "v1/{+parent}/assets:group",
              "flatPath": "v1/projects/{projectsId}/assets:group",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the parent to group the assets by. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "readTime": {
                  "location": "query",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                  "type": "string",
                  "format": "google-datetime"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following are the allowed field and operator combinations: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data."
                },
                "compareDuration": {
                  "format": "google-duration",
                  "description": "When compare_duration is set, the ListAssetsResult's \"state_change\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the parent resource that contains the assets. The value that you can specify on parent depends on the method in which you specify parent. You can specify one of the following values: \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent. The following fields are supported: name update_time resource_properties security_marks.marks security_center_properties.resource_name security_center_properties.resource_display_name security_center_properties.resource_parent security_center_properties.resource_parent_display_name security_center_properties.resource_project security_center_properties.resource_project_display_name security_center_properties.resource_type",
                  "location": "query"
                },
                "fieldMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/assets",
              "httpMethod": "GET",
              "path": "v1/{+parent}/assets",
              "id": "securitycenter.projects.assets.list",
              "description": "Lists an organization's assets."
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "description": "Lists all sources belonging to an organization.",
              "httpMethod": "GET",
              "id": "securitycenter.projects.sources.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32"
                }
              },
              "flatPath": "v1/projects/{projectsId}/sources",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "path": "v1/{+parent}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "setState": {
                  "httpMethod": "POST",
                  "description": "Updates the state of a finding.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.setState",
                  "path": "v1/{+name}:setState",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "response": {
                    "$ref": "Finding"
                  }
                },
                "updateSecurityMarks": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                      "location": "query"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
                    }
                  },
                  "description": "Updates security marks.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.updateSecurityMarks"
                },
                "group": {
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/findings:group",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings, /v1/folders/{folder_id}/sources/-/findings, /v1/projects/{project_id}/sources/-/findings",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\", folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]. To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/-, or projects/{project_id}/sources/-",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.group",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings:group"
                },
                "list": {
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.list",
                  "path": "v1/{+parent}/findings",
                  "parameters": {
                    "filter": {
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.display_name: `=`, `:`",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent. The following fields are supported: name parent state category resource_name event_time source_properties security_marks.marks"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "compareDuration": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added in any state during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id], folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/- or projects/{projects_id}/sources/-",
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "location": "path"
                    },
                    "fieldMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields."
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.patch",
                  "request": {
                    "$ref": "Finding"
                  },
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding. When updating a finding, an empty mask is treated as updating all mutable fields and replacing source_properties. Individual source_properties can be added/updated by using \"source_properties.\" in the field mask.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setMute": {
                  "description": "Updates the mute state of a finding.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "id": "securitycenter.projects.sources.findings.setMute",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Finding"
                  },
                  "path": "v1/{+name}:setMute",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "The FieldMask to use when updating the external system resource. If empty all mutable fields will be updated.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$",
                          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\"",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "httpMethod": "PATCH",
                      "id": "securitycenter.projects.sources.findings.externalSystems.patch",
                      "description": "Updates external system. This is for a given finding.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the BigQuery export to delete. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "securitycenter.projects.bigQueryExports.delete",
              "description": "Deletes an existing BigQuery export.",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists BigQuery exports. Note that when requesting BigQuery exports at a given level all exports under that level are also returned e.g. if requesting BigQuery exports under a folder, then all BigQuery exports immediately under the folder plus the ones created under the projects within the folder are returned.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, which owns the collection of BigQuery exports. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\"."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListBigQueryExports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryExports` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "id": "securitycenter.projects.bigQueryExports.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/bigQueryExports",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports"
            },
            "get": {
              "id": "securitycenter.projects.bigQueryExports.get",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the BigQuery export to retrieve. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "description": "Gets a BigQuery export.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "description": "Updates a BigQuery export.",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "location": "query"
                }
              },
              "id": "securitycenter.projects.bigQueryExports.patch",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "httpMethod": "PATCH"
            },
            "create": {
              "path": "v1/{+parent}/bigQueryExports",
              "description": "Creates a BigQuery export.",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/bigQueryExports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.bigQueryExports.create",
              "parameters": {
                "bigQueryExportId": {
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent resource of the new BigQuery export. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\"."
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.muteConfigs.patch",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "description": "Updates a mute config.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
[...]
