{
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "discoveryVersion": "v1",
  "title": "Data Labeling API",
  "baseUrl": "https://datalabeling.googleapis.com/",
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "servicePath": "",
  "id": "datalabeling:v1beta1",
  "kind": "discovery#restDescription",
  "name": "datalabeling",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "canonicalName": "Data Labeling",
  "rootUrl": "https://datalabeling.googleapis.com/",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "revision": "20230130",
  "batchPath": "batch",
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "evaluationJobs": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\""
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.evaluationJobs.delete",
              "description": "Stops and deletes an evaluation job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE"
            },
            "resume": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:resume",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "id": "datalabeling.projects.evaluationJobs.resume",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume"
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.evaluationJobs.list",
              "parameters": {
                "filter": {
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\"",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty."
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "id": "datalabeling.projects.evaluationJobs.patch",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true,
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas."
                }
              },
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "pause": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:pause",
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "id": "datalabeling.projects.evaluationJobs.pause",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.evaluationJobs.get",
              "parameters": {
                "name": {
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\"",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "description": "Gets an evaluation job by resource name.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an evaluation job.",
              "id": "datalabeling.projects.evaluationJobs.create",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "path": "v1beta1/{+parent}/evaluationJobs",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "datasets": {
          "resources": {
            "text": {
              "methods": {
                "label": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/text:label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalabeling.projects.datasets.text.label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "dataItems": {
              "methods": {
                "list": {
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter is not supported at this moment."
                    },
                    "parent": {
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "path": "v1beta1/{+parent}/dataItems"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "httpMethod": "GET",
                  "id": "datalabeling.projects.datasets.dataItems.get"
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta1/{+parent}/image:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datalabeling.projects.datasets.image.label",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label"
                }
              }
            },
            "annotatedDatasets": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets an annotated dataset by resource name.",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists annotated datasets for a dataset. Pagination is supported.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes an annotated dataset by resource name.",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "path": "v1beta1/{+name}"
                }
              },
              "resources": {
                "feedbackThreads": {
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "type": "string",
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\"",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "description": "List FeedbackMessages with pagination."
                        },
                        "get": {
                          "httpMethod": "GET",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "description": "Get a FeedbackMessage object.",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "path": "v1beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "delete": {
                          "description": "Delete a FeedbackMessage.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete",
                          "path": "v1beta1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE"
                        },
                        "create": {
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "required": true
                            }
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "description": "Create a FeedbackMessage object.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "path": "v1beta1/{+name}",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Delete a FeedbackThread.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$"
                        }
                      },
                      "description": "Get a FeedbackThread object.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\""
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List FeedbackThreads with pagination.",
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list"
                    }
                  }
                },
                "dataItems": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty."
                        },
                        "filter": {
                          "description": "Optional. Filter is not supported at this moment.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/dataItems",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$",
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "path": "v1beta1/{+name}"
                    },
                    "list": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/examples",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Example resource parent.",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "evaluations": {
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "required": true
                        }
                      },
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "httpMethod": "POST"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an evaluation by resource name (to search, use projects.evaluations.search)."
                }
              }
            },
            "video": {
              "methods": {
                "label": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
                    }
                  },
                  "path": "v1beta1/{+parent}/video:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "id": "datalabeling.projects.datasets.video.label",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "path": "v1beta1/{+parent}/datasets",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.datasets.list",
              "description": "Lists datasets under a project. Pagination is supported.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                },
                "filter": {
                  "description": "Optional. Filter on dataset is not supported at this moment.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "datalabeling.projects.datasets.get",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "description": "Gets dataset by resource name.",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}"
            },
            "create": {
              "description": "Creates dataset. If success return a Dataset resource.",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "id": "datalabeling.projects.datasets.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "path": "v1beta1/{+parent}/datasets",
              "parameterOrder": [
                "parent"
              ]
            },
            "importData": {
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData",
              "httpMethod": "POST",
              "id": "datalabeling.projects.datasets.importData",
              "path": "v1beta1/{+name}:importData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "exportData": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "description": "Exports data and annotations from dataset.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:exportData",
              "httpMethod": "POST",
              "id": "datalabeling.projects.datasets.exportData",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "datalabeling.projects.datasets.delete",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a dataset by resource name.",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "id": "datalabeling.projects.operations.get"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}/operations",
              "id": "datalabeling.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "flatPath": "v1beta1/projects/{projectsId}/operations"
            },
            "delete": {
              "id": "datalabeling.projects.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "cancel": {
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "path": "v1beta1/{+name}:cancel",
              "id": "datalabeling.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
            }
          }
        },
        "annotationSpecSets": {
          "methods": {
            "list": {
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.annotationSpecSets.list",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty."
                }
              },
              "httpMethod": "GET",
              "description": "Lists annotation spec sets for a project. Pagination is supported.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes an annotation spec set by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "description": "Creates an annotation spec set by providing a set of labels.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}"
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "description": "Gets an annotation spec set by resource name.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.annotationSpecSets.get",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}"
            }
          }
        },
        "evaluations": {
          "methods": {
            "search": {
              "description": "Searches evaluations within a project.",
              "id": "datalabeling.projects.evaluations.search",
              "path": "v1beta1/{+parent}/evaluations:search",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\"",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              }
            }
          }
        },
        "instructions": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "type": "string",
                  "required": true
                }
              },
              "id": "datalabeling.projects.instructions.create",
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "description": "Creates an instruction for how data should be labeled.",
              "path": "v1beta1/{+parent}/instructions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.instructions.get",
              "description": "Gets an instruction by resource name.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "httpMethod": "DELETE",
              "description": "Deletes an instruction object by resource name.",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.instructions.delete",
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "datalabeling.projects.instructions.list",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "Optional. Filter is not supported at this moment.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists instructions for a project. Pagination is supported.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/instructions"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDatalabelingV1beta1GcsFolderDestination": {
      "type": "object",
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1GcsFolderDestination",
      "description": "Export folder destination of the data."
    },
    "GoogleCloudDatalabelingV1beta1PrCurve": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1PrCurve",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of the label for which the precision-recall curve calculated. If this field is empty, that means the precision-recall curve is an aggregate curve for all labels."
        },
        "areaUnderCurve": {
          "format": "float",
          "description": "Area under the precision-recall curve. Not to be confused with area under a receiver operating characteristic (ROC) curve.",
          "type": "number"
        },
        "meanAveragePrecision": {
          "format": "float",
          "type": "number",
          "description": "Mean average prcision of this curve."
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Entries that make up the precision-recall graph. Each entry is a \"point\" on the graph drawn for a different `confidence_threshold`."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1BoundingPoly": {
      "type": "object",
      "description": "A bounding polygon in the image.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Vertex"
          },
          "description": "The bounding polygon vertices.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1BoundingPoly"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ExampleComparison": {
      "description": "Example comparisons comparing ground truth output and predictions for a specific input.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ExampleComparison",
      "properties": {
        "modelCreatedExamples": {
          "description": "Predictions by the model for the input.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Example"
          }
        },
        "groundTruthExample": {
          "$ref": "GoogleCloudDatalabelingV1beta1Example",
          "description": "The ground truth output for the input."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1CsvInstruction": {
      "type": "object",
      "description": "Deprecated: this instruction format is not supported any more. Instruction from a CSV file.",
      "properties": {
        "gcsFileUri": {
          "type": "string",
          "description": "CSV file for the instruction. Only gcs path is allowed."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1CsvInstruction"
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpec": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
      "properties": {
        "index": {
          "description": "Output only. This is the integer index of the AnnotationSpec. The index for the whole AnnotationSpecSet is sequential starting from 0. For example, an AnnotationSpecSet with classes `dog` and `cat`, might contain one AnnotationSpec with `{ display_name: \"dog\", index: 0 }` and one AnnotationSpec with `{ display_name: \"cat\", index: 1 }`. This is especially useful for model training as it encodes the string labels into numeric values.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the AnnotationSpec. Maximum of 64 characters."
        },
        "description": {
          "description": "Optional. User-provided description of the annotation specification. The description can be up to 10,000 characters long.",
          "type": "string"
        }
      },
      "description": "Container of information related to one possible annotation that can be used in a labeling task. For example, an image classification task where images are labeled as `dog` or `cat` must reference an AnnotationSpec for `dog` and an AnnotationSpec for `cat`.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics": {
      "id": "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics",
      "type": "object",
      "description": "Metrics calculated for an image object detection (bounding box) model.",
      "properties": {
        "prCurve": {
          "description": "Precision-recall curve.",
          "$ref": "GoogleCloudDatalabelingV1beta1PrCurve"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1TimeSegment": {
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Start of the time segment (inclusive), represented as the duration since the example start."
        },
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "End of the time segment (exclusive), represented as the duration since the example start."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1TimeSegment",
      "description": "A time period inside of an example that has a time dimension (e.g. video)."
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata",
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse": {
      "type": "object",
      "description": "Results of listing annotation spec set under a project.",
      "properties": {
        "annotationSpecSets": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
          },
          "type": "array",
          "description": "The list of annotation spec sets."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
    },
    "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse": {
      "description": "Response used for ExportDataset longrunning operation.",
      "id": "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1OutputConfig",
          "description": "Output only. output_config in the ExportData request."
        },
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1LabelStats"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "totalCount": {
          "description": "Output only. Total number of examples requested to export",
          "type": "integer",
          "format": "int32"
        },
        "exportCount": {
          "description": "Output only. Number of examples exported successfully.",
          "type": "integer",
          "format": "int32"
        },
        "dataset": {
          "type": "string",
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\""
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoClassificationOperationMetadata",
      "type": "object",
      "description": "Details of a LabelVideoClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation": {
      "id": "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Image format."
        },
        "annotationColors": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
          },
          "type": "object",
          "description": "The mapping between rgb color and annotation spec. The key is the rgb color represented in format of rgb(0, 0, 0). The value is the AnnotationSpec."
        },
        "imageBytes": {
          "format": "byte",
          "type": "string",
          "description": "A byte string of a full image's color map."
        }
      },
      "type": "object",
      "description": "Image segmentation annotation."
    },
    "GoogleCloudDatalabelingV1beta1TextMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1TextMetadata",
      "properties": {
        "languageCode": {
          "description": "The language of this text, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US.",
          "type": "string"
        }
      },
      "description": "Metadata for the text."
    },
    "GoogleCloudDatalabelingV1beta1Evaluation": {
      "description": "Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully.",
      "id": "GoogleCloudDatalabelingV1beta1Evaluation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp for when this evaluation was created."
        },
        "annotationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation."
        },
        "config": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
          "description": "Output only. Options used in the evaluation job that created this evaluation."
        },
        "evaluatedItemCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes."
        },
        "evaluationMetrics": {
          "description": "Output only. Metrics comparing predictions to ground truth labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationMetrics"
        },
        "evaluationJobRunTime": {
          "description": "Output only. Timestamp for when the evaluation job that created this evaluation ran.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata": {
      "description": "Metadata of a CreateInstruction operation.",
      "id": "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata",
      "properties": {
        "createTime": {
          "description": "Timestamp when create instruction request was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "instruction": {
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}",
          "type": "string"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectTrackingOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectTrackingOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "description": "Details of a LabelVideoObjectTracking operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest": {
      "properties": {
        "job": {
          "description": "Required. The evaluation job to create.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest",
      "description": "Request message for CreateEvaluationJob."
    },
    "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata": {
      "properties": {
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "dataset": {
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when export dataset request was created."
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        }
      },
      "description": "Metadata of an ExportData operation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p1alpha1OutputConfig": {
      "properties": {
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        },
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1GcsDestination"
        }
      },
      "type": "object",
      "description": "The configuration of output data.",
      "id": "GoogleCloudDatalabelingV1p1alpha1OutputConfig"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoEvent operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Annotation": {
      "properties": {
        "annotationSource": {
          "description": "Output only. The source of the annotation.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Answer is provided by a human contributor."
          ],
          "enum": [
            "ANNOTATION_SOURCE_UNSPECIFIED",
            "OPERATOR"
          ]
        },
        "annotationSentiment": {
          "description": "Output only. Sentiment for this annotation.",
          "enum": [
            "ANNOTATION_SENTIMENT_UNSPECIFIED",
            "NEGATIVE",
            "POSITIVE"
          ],
          "enumDescriptions": [
            "",
            "This annotation describes negatively about the data.",
            "This label describes positively about the data."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Unique name of this annotation, format is: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset}/examples/{example_id}/annotations/{annotation_id}"
        },
        "annotationValue": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationValue",
          "description": "Output only. This is the actual annotation value, e.g classification, bounding box values are stored here."
        },
        "annotationMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationMetadata",
          "description": "Output only. Annotation metadata, including information like votes for labels."
        }
      },
      "description": "Annotation for Example. Each example may have one or more annotations. For example in image classification problem, each image might have one or more labels. We call labels binded with this image an Annotation.",
      "id": "GoogleCloudDatalabelingV1beta1Annotation",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig": {
      "type": "object",
      "description": "Config for video object tracking human labeling task.",
      "properties": {
        "overlapLength": {
          "format": "int32",
          "type": "integer",
[...]
