{
  "protocol": "rest",
  "description": "Verifies ownership of websites or domains with Google.",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20191119",
  "documentationLink": "https://developers.google.com/site-verification/",
  "version": "v1",
  "name": "siteVerification",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "false",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "resources": {
    "webResource": {
      "methods": {
        "getToken": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "token",
          "id": "siteVerification.webResource.getToken",
          "description": "Get a verification token for placing on a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Modify the list of owners for your website or domain.",
          "id": "siteVerification.webResource.update",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "path": "webResource/{id}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "id": "siteVerification.webResource.list"
        },
        "insert": {
          "description": "Attempt verification of a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "parameterOrder": [
            "verificationMethod"
          ],
          "id": "siteVerification.webResource.insert",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "description": "The id of a verified site or domain.",
              "type": "string"
            }
          },
          "description": "Relinquish ownership of a website or domain.",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "id": "siteVerification.webResource.delete",
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "patch": {
          "id": "siteVerification.webResource.patch",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Get the most current data for a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.get",
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ]
        }
      }
    }
  },
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "batchPath": "batch/siteVerification/v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "title": "Google Site Verification API",
  "basePath": "/siteVerification/v1/",
  "servicePath": "siteVerification/v1/",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "properties": {
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse"
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "owners": {
          "description": "The email addresses of all verified owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "type": "object",
          "description": "The address and type of a site that is verified or will be verified.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        }
      }
    }
  },
  "id": "siteVerification:v1",
  "ownerName": "Google",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/"
}
