{
  "kind": "discovery#restDescription",
  "name": "verifiedaccess",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "resources": {
    "challenge": {
      "methods": {
        "verify": {
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v2/challenge:verify",
          "description": "Verifies the challenge response.",
          "path": "v2/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "id": "verifiedaccess.challenge.verify",
          "parameterOrder": [],
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        },
        "generate": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Empty"
          },
          "path": "v2/challenge:generate",
          "description": "Generates a new challenge.",
          "id": "verifiedaccess.challenge.generate",
          "parameterOrder": [],
          "response": {
            "$ref": "Challenge"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v2/challenge:generate"
        }
      }
    }
  },
  "canonicalName": "verifiedaccess",
  "servicePath": "",
  "discoveryVersion": "v1",
  "id": "verifiedaccess:v2",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "schemas": {
    "Challenge": {
      "type": "object",
      "id": "Challenge",
      "properties": {
        "challenge": {
          "format": "byte",
          "description": "Generated challenge, the bytes representation of SignedData.",
          "type": "string"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key, the bytes representation of SignedData (this will only be present during key rotation).",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Result message for VerifiedAccess.GenerateChallenge."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "description": "Signed ChallengeResponse.",
      "properties": {
        "expectedIdentity": {
          "type": "string",
          "description": "Optional. Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        },
        "challengeResponse": {
          "format": "byte",
          "description": "Required. The generated response to the challenge, the bytes representation of SignedData.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerifyChallengeResponseResult": {
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "properties": {
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "customerId": {
          "type": "string",
          "description": "Unique customer id that this device belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers"
        },
        "deviceSignal": {
          "type": "string",
          "description": "Device signal in json string representation."
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "keyTrustLevel": {
          "description": "Device attested key trust level.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS device in verified mode.",
            "ChromeOS device in developer mode.",
            "Chrome Browser with the key stored in the device hardware.",
            "Chrome Browser with the key stored at OS level."
          ],
          "type": "string",
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_OS_VERIFIED_MODE",
            "CHROME_OS_DEVELOPER_MODE",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY"
          ]
        },
        "virtualDeviceId": {
          "description": "Virtual device id of the device. The definition of virtual device id is platform-specific.",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult"
    }
  },
  "basePath": "",
  "revision": "20230214",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "title": "Chrome Verified Access API"
}
