{
  "canonicalName": "SA360",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://searchads360.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v0",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "name": "searchads360",
  "id": "searchads360:v0",
  "basePath": "",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20221208",
  "protocol": "rest",
  "ownerName": "Google",
  "baseUrl": "https://searchads360.googleapis.com/",
  "title": "Search Ads 360 Reporting API",
  "rootUrl": "https://searchads360.googleapis.com/",
  "schemas": {
    "GoogleAdsSearchads360V0Common__TargetCpa": {
      "id": "GoogleAdsSearchads360V0Common__TargetCpa",
      "properties": {
        "cpcBidFloorMicros": {
          "format": "int64",
          "description": "Minimum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. This should only be set for portfolio bid strategies.",
          "type": "string"
        },
        "targetCpaMicros": {
          "format": "int64",
          "description": "Average CPA target. This target should be greater than or equal to minimum billable unit based on the currency for the account.",
          "type": "string"
        },
        "cpcBidCeilingMicros": {
          "format": "int64",
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. This should only be set for portfolio bid strategies.",
          "type": "string"
        }
      },
      "description": "An automated bid strategy that sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Errors__SearchAds360Failure": {
      "properties": {
        "requestId": {
          "description": "The unique ID of the request that is used for debugging purposes.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Errors__SearchAds360Error"
          },
          "description": "The list of errors that occurred.",
          "type": "array"
        }
      },
      "id": "GoogleAdsSearchads360V0Errors__SearchAds360Failure",
      "type": "object",
      "description": "Describes how a Search Ads 360 API call failed. It's returned inside google.rpc.Status.details when a call fails."
    },
    "GoogleAdsSearchads360V0Common__TargetCpm": {
      "id": "GoogleAdsSearchads360V0Common__TargetCpm",
      "type": "object",
      "description": "Target CPM (cost per thousand impressions) is an automated bidding strategy that sets bids to optimize performance given the target CPM you set.",
      "properties": {}
    },
    "GoogleAdsSearchads360V0Resources_ConversionAction_AttributionModelSettings": {
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources_ConversionAction_AttributionModelSettings",
      "properties": {
        "dataDrivenModelStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the data-driven attribution model for the conversion action.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The data driven model is available.",
            "The data driven model is stale. It hasn't been updated for at least 7 days. It is still being used, but will become expired if it does not get updated for 30 days.",
            "The data driven model expired. It hasn't been updated for at least 30 days and cannot be used. Most commonly this is because there hasn't been the required number of events in a recent 30-day period.",
            "The data driven model has never been generated. Most commonly this is because there has never been the required number of events in any 30-day period."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "AVAILABLE",
            "STALE",
            "EXPIRED",
            "NEVER_GENERATED"
          ]
        },
        "attributionModel": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "EXTERNAL",
            "GOOGLE_ADS_LAST_CLICK",
            "GOOGLE_SEARCH_ATTRIBUTION_FIRST_CLICK",
            "GOOGLE_SEARCH_ATTRIBUTION_LINEAR",
            "GOOGLE_SEARCH_ATTRIBUTION_TIME_DECAY",
            "GOOGLE_SEARCH_ATTRIBUTION_POSITION_BASED",
            "GOOGLE_SEARCH_ATTRIBUTION_DATA_DRIVEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Uses external attribution.",
            "Attributes all credit for a conversion to its last click.",
            "Attributes all credit for a conversion to its first click using Google Search attribution.",
            "Attributes credit for a conversion equally across all of its clicks using Google Search attribution.",
            "Attributes exponentially more credit for a conversion to its more recent clicks using Google Search attribution (half-life is 1 week).",
            "Attributes 40% of the credit for a conversion to its first and last clicks. Remaining 20% is evenly distributed across all other clicks. This uses Google Search attribution.",
            "Flexible model that uses machine learning to determine the appropriate distribution of credit among clicks using Google Search attribution."
          ],
          "description": "The attribution model type of this conversion action."
        }
      },
      "description": "Settings related to this conversion action's attribution model."
    },
    "GoogleAdsSearchads360V0Services__SearchSearchAds360Response": {
      "id": "GoogleAdsSearchads360V0Services__SearchSearchAds360Response",
      "properties": {
        "summaryRow": {
          "description": "Summary row that contains summary of metrics in results. Summary of metrics means aggregation of metrics across all results, here aggregation could be sum, average, rate, etc.",
          "$ref": "GoogleAdsSearchads360V0Services__SearchAds360Row"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchAds360Row"
          },
          "description": "The list of rows that matched the query."
        },
        "fieldMask": {
          "description": "FieldMask that represents what fields were requested by the user.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "customColumnHeaders": {
          "description": "The headers of the custom columns in the results.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__CustomColumnHeader"
          }
        },
        "totalResultsCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of results that match the query ignoring the LIMIT clause."
        },
        "nextPageToken": {
          "description": "Pagination token used to retrieve the next page of results. Pass the content of this string as the `page_token` attribute of the next request. `next_page_token` is not returned for the last page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for SearchAds360Service.Search."
    },
    "GoogleAdsSearchads360V0Common__TargetImpressionShare": {
      "properties": {
        "location": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ANYWHERE_ON_PAGE",
            "TOP_OF_PAGE",
            "ABSOLUTE_TOP_OF_PAGE"
          ],
          "description": "The targeted location on the search results page.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Any location on the web page.",
            "Top box of ads.",
            "Top slot in the top box of ads."
          ],
          "type": "string"
        },
        "locationFractionMicros": {
          "description": "The chosen fraction of ads to be shown in the targeted location in micros. For example, 1% equals 10,000.",
          "format": "int64",
          "type": "string"
        },
        "cpcBidCeilingMicros": {
          "format": "int64",
          "type": "string",
          "description": "The highest CPC bid the automated bidding system is permitted to specify. This is a required field entered by the advertiser that sets the ceiling and specified in local micros."
        }
      },
      "description": "An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location).",
      "id": "GoogleAdsSearchads360V0Common__TargetImpressionShare",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ManualCpa": {
      "properties": {},
      "description": "Manual bidding strategy that allows advertiser to set the bid per advertiser-specified action.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Common__ManualCpa"
    },
    "GoogleAdsSearchads360V0Common__GenderInfo": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MALE",
            "FEMALE",
            "UNDETERMINED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Male.",
            "Female.",
            "Undetermined gender."
          ],
          "type": "string",
          "description": "Type of the gender."
        }
      },
      "id": "GoogleAdsSearchads360V0Common__GenderInfo",
      "description": "A gender criterion."
    },
    "GoogleAdsSearchads360V0Common__Segments": {
      "description": "Segment only fields.",
      "properties": {
        "device": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MOBILE",
            "TABLET",
            "DESKTOP",
            "CONNECTED_TV",
            "OTHER"
          ],
          "description": "Device to which metrics apply.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Mobile devices with full browsers.",
            "Tablets with full browsers.",
            "Computers.",
            "Smart TVs and game consoles.",
            "Other device types."
          ],
          "type": "string"
        },
        "conversionActionCategory": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Default category.",
            "User visiting a page.",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "Lead-generating action.",
            "Software download action (as for an app).",
            "The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "A call to indicate interest in an advertiser's offering.",
            "A lead conversion imported from an external source into Google Ads.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location with intention to visit.",
            "A click to an advertiser's partner's site.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "A website engagement event such as long site time or a Google Analytics (GA) Smart Goal. Intended to be used for GA, Firebase, GA Gold goal imports.",
            "A visit to a physical store location.",
            "A sale occurring in a physical store.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser (marketing/sales team). In the lead-to-sale journey, advertisers get leads, then act on them by reaching out to the consumer. If the consumer is interested and may end up buying their product, the advertiser marks such leads as \"qualified leads\".",
            "A lead conversion imported from an external source into Google Ads, that has further completed a chosen stage as defined by the lead gen advertiser."
          ],
          "description": "Conversion action category.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DEFAULT",
            "PAGE_VIEW",
            "PURCHASE",
            "SIGNUP",
            "LEAD",
            "DOWNLOAD",
            "ADD_TO_CART",
            "BEGIN_CHECKOUT",
            "SUBSCRIBE_PAID",
            "PHONE_CALL_LEAD",
            "IMPORTED_LEAD",
            "SUBMIT_LEAD_FORM",
            "BOOK_APPOINTMENT",
            "REQUEST_QUOTE",
            "GET_DIRECTIONS",
            "OUTBOUND_CLICK",
            "CONTACT",
            "ENGAGEMENT",
            "STORE_VISIT",
            "STORE_SALE",
            "QUALIFIED_LEAD",
            "CONVERTED_LEAD"
          ]
        },
        "date": {
          "description": "Date to which metrics apply. yyyy-MM-dd format, for example, 2018-04-17.",
          "type": "string"
        },
        "quarter": {
          "type": "string",
          "description": "Quarter as represented by the date of the first day of a quarter. Uses the calendar year for quarters, for example, the second quarter of 2018 starts on 2018-04-01. Formatted as yyyy-MM-dd."
        },
        "year": {
          "type": "integer",
          "description": "Year, formatted as yyyy.",
          "format": "int32"
        },
        "week": {
          "type": "string",
          "description": "Week as defined as Monday through Sunday, and represented by the date of Monday. Formatted as yyyy-MM-dd."
        },
        "conversionActionName": {
          "type": "string",
          "description": "Conversion action name."
        },
        "conversionAction": {
          "type": "string",
          "description": "Resource name of the conversion action."
        },
        "month": {
          "description": "Month as represented by the date of the first day of a month. Formatted as yyyy-MM-dd.",
          "type": "string"
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Monday.",
            "Tuesday.",
            "Wednesday.",
            "Thursday.",
            "Friday.",
            "Saturday.",
            "Sunday."
          ],
          "description": "Day of the week, for example, MONDAY.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "id": "GoogleAdsSearchads360V0Common__Segments",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__ProductGroupView": {
      "id": "GoogleAdsSearchads360V0Resources__ProductGroupView",
      "properties": {
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the product group view. Product group view resource names have the form: `customers/{customer_id}/productGroupViews/{ad_group_id}~{criterion_id}`"
        }
      },
      "description": "A product group view.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__Value": {
      "id": "GoogleAdsSearchads360V0Common__Value",
      "description": "A generic data container.",
      "type": "object",
      "properties": {
        "doubleValue": {
          "type": "number",
          "description": "A double.",
          "format": "double"
        },
        "floatValue": {
          "format": "float",
          "type": "number",
          "description": "A float."
        },
        "booleanValue": {
          "description": "A boolean.",
          "type": "boolean"
        },
        "int64Value": {
          "format": "int64",
          "description": "An int64.",
          "type": "string"
        },
        "stringValue": {
          "description": "A string.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources_Campaign_SelectiveOptimization": {
      "id": "GoogleAdsSearchads360V0Resources_Campaign_SelectiveOptimization",
      "type": "object",
      "description": "Selective optimization setting for this campaign, which includes a set of conversion actions to optimize this campaign towards.",
      "properties": {
        "conversionActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The selected set of conversion actions for optimizing this campaign."
        }
      }
    },
    "GoogleAdsSearchads360V0Services__SearchSearchAds360Request": {
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        },
        "summaryRowSetting": {
          "enumDescriptions": [
            "Not specified.",
            "Represent unknown values of return summary row.",
            "Do not return summary row.",
            "Return summary row along with results. The summary row will be returned in the last batch alone (last batch will contain no results).",
            "Return summary row only and return no results."
          ],
          "description": "Determines whether a summary row will be returned. By default, summary row is not returned. If requested, the summary row will be sent in a response by itself after all other query results are returned.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "NO_SUMMARY_ROW",
            "SUMMARY_ROW_WITH_RESULTS",
            "SUMMARY_ROW_ONLY"
          ]
        },
        "pageToken": {
          "type": "string",
          "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results."
        },
        "pageSize": {
          "format": "int32",
          "description": "Number of elements to retrieve in a single page. When too large a page is requested, the server may decide to further limit the number of returned resources.",
          "type": "integer"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is validated but not executed."
        },
        "returnTotalResultsCount": {
          "description": "If true, the total number of results that match the query ignoring the LIMIT clause will be included in the response. Default is false.",
          "type": "boolean"
        }
      },
      "id": "GoogleAdsSearchads360V0Services__SearchSearchAds360Request",
      "description": "Request message for SearchAds360Service.Search."
    },
    "GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting": {
      "type": "object",
      "description": "Optimization goal setting for this campaign, which includes a set of optimization goal types.",
      "properties": {
        "optimizationGoalTypes": {
          "type": "array",
          "description": "The list of optimization goal types.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Used as a return value only. Represents value unknown in this version.",
              "Optimize for call clicks. Call click conversions are times people selected 'Call' to contact a store after viewing an ad.",
              "Optimize for driving directions. Driving directions conversions are times people selected 'Get directions' to navigate to a store after viewing an ad.",
              "Optimize for pre-registration. Pre-registration conversions are the number of pre-registration signups to receive a notification when the app is released."
            ],
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CALL_CLICKS",
              "DRIVING_DIRECTIONS",
              "APP_PRE_REGISTRATION"
            ]
          }
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting"
    },
    "GoogleAdsSearchads360V0Resources__CampaignBudget": {
      "description": "A campaign budget.",
      "id": "GoogleAdsSearchads360V0Resources__CampaignBudget",
      "type": "object",
      "properties": {
        "deliveryMethod": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "STANDARD",
            "ACCELERATED"
          ],
          "description": "The delivery method that determines the rate at which the campaign budget is spent. Defaults to STANDARD if unspecified in a create operation.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The budget server will throttle serving evenly across the entire time period.",
            "The budget server will not throttle serving, and ads will serve as fast as possible."
          ],
          "type": "string"
        },
        "period": {
          "description": "Immutable. Period over which to spend the budget. Defaults to DAILY if not specified.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DAILY",
            "FIXED_DAILY",
            "CUSTOM_PERIOD"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Daily budget.",
            "Fixed daily budget.",
            "Custom budget, added back in V5. Custom bugdet can be used with total_amount to specify lifetime budget limit."
          ],
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the campaign budget. Campaign budget resource names have the form: `customers/{customer_id}/campaignBudgets/{campaign_budget_id}`"
        },
        "amountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The amount of the budget, in the local currency for the account. Amount is specified in micros, where one million is equivalent to one currency unit. Monthly spend is capped at 30.4 times this amount."
        }
      }
    },
    "GoogleAdsSearchads360V0Resources_Campaign_GeoTargetTypeSetting": {
      "description": "Represents a collection of settings related to ads geotargeting.",
      "type": "object",
      "properties": {
        "positiveGeoTargetType": {
          "description": "The setting used for positive geotargeting in this particular campaign.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "PRESENCE_OR_INTEREST",
            "SEARCH_INTEREST",
            "PRESENCE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Specifies that an ad is triggered if the user is in, or shows interest in, advertiser's targeted locations.",
            "Specifies that an ad is triggered if the user searches for advertiser's targeted locations. This can only be used with Search and standard Shopping campaigns.",
            "Specifies that an ad is triggered if the user is in or regularly in advertiser's targeted locations."
          ]
        },
        "negativeGeoTargetType": {
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Specifies that a user is excluded from seeing the ad if they are in, or show interest in, advertiser's excluded locations.",
            "Specifies that a user is excluded from seeing the ad if they are in advertiser's excluded locations."
          ],
          "description": "The setting used for negative geotargeting in this particular campaign.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "PRESENCE_OR_INTEREST",
            "PRESENCE"
          ]
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_Campaign_GeoTargetTypeSetting"
    },
    "GoogleAdsSearchads360V0Resources__KeywordView": {
      "description": "A keyword view.",
      "id": "GoogleAdsSearchads360V0Resources__KeywordView",
      "properties": {
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the keyword view. Keyword view resource names have the form: `customers/{customer_id}/keywordViews/{ad_group_id}~{criterion_id}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__PercentCpc": {
      "description": "A bidding strategy where bids are a fraction of the advertised price for some good or service.",
      "properties": {
        "enhancedCpcEnabled": {
          "description": "Adjusts the bid for each auction upward or downward, depending on the likelihood of a conversion. Individual bids may exceed cpc_bid_ceiling_micros, but the average bid amount for a campaign should not.",
          "type": "boolean"
        },
        "cpcBidCeilingMicros": {
          "format": "int64",
          "type": "string",
          "description": "Maximum bid limit that can be set by the bid strategy. This is an optional field entered by the advertiser and specified in local micros. Note: A zero value is interpreted in the same way as having bid_ceiling undefined."
        }
      },
      "id": "GoogleAdsSearchads360V0Common__PercentCpc",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Services__CustomColumnHeader": {
      "description": "Message for custom column header.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user defined name of the custom column."
        },
        "id": {
          "format": "int64",
          "description": "The custom column ID.",
          "type": "string"
        },
        "referencesMetrics": {
          "type": "boolean",
          "description": "True when the custom column references metrics."
        }
      },
      "id": "GoogleAdsSearchads360V0Services__CustomColumnHeader"
    },
    "GoogleAdsSearchads360V0Services__SearchAds360Row": {
      "description": "A returned row from the query.",
      "properties": {
        "customer": {
          "$ref": "GoogleAdsSearchads360V0Resources__Customer",
          "description": "The customer referenced in the query."
        },
        "conversionAction": {
          "description": "The conversion action referenced in the query.",
          "$ref": "GoogleAdsSearchads360V0Resources__ConversionAction"
        },
        "campaign": {
          "$ref": "GoogleAdsSearchads360V0Resources__Campaign",
          "description": "The campaign referenced in the query."
        },
        "segments": {
          "$ref": "GoogleAdsSearchads360V0Common__Segments",
          "description": "The segments."
        },
        "metrics": {
          "$ref": "GoogleAdsSearchads360V0Common__Metrics",
          "description": "The metrics."
        },
        "keywordView": {
          "description": "The keyword view referenced in the query.",
          "$ref": "GoogleAdsSearchads360V0Resources__KeywordView"
        },
        "customColumns": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__Value"
          },
          "description": "The custom columns."
        },
        "biddingStrategy": {
          "$ref": "GoogleAdsSearchads360V0Resources__BiddingStrategy",
          "description": "The bidding strategy referenced in the query."
        },
        "campaignBudget": {
          "description": "The campaign budget referenced in the query.",
          "$ref": "GoogleAdsSearchads360V0Resources__CampaignBudget"
        },
        "campaignCriterion": {
          "$ref": "GoogleAdsSearchads360V0Resources__CampaignCriterion",
          "description": "The campaign criterion referenced in the query."
        },
        "adGroup": {
          "description": "The ad group referenced in the query.",
          "$ref": "GoogleAdsSearchads360V0Resources__AdGroup"
        },
        "customerClient": {
          "description": "The CustomerClient referenced in the query.",
          "$ref": "GoogleAdsSearchads360V0Resources__CustomerClient"
        },
        "adGroupCriterion": {
          "$ref": "GoogleAdsSearchads360V0Resources__AdGroupCriterion",
          "description": "The criterion referenced in the query."
        },
        "customerManagerLink": {
          "description": "The CustomerManagerLink referenced in the query.",
          "$ref": "GoogleAdsSearchads360V0Resources__CustomerManagerLink"
        },
        "adGroupBidModifier": {
          "description": "The bid modifier referenced in the query.",
          "$ref": "GoogleAdsSearchads360V0Resources__AdGroupBidModifier"
        },
        "productGroupView": {
          "$ref": "GoogleAdsSearchads360V0Resources__ProductGroupView",
          "description": "The product group view referenced in the query."
        }
      },
      "id": "GoogleAdsSearchads360V0Services__SearchAds360Row",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__FrequencyCapEntry": {
      "id": "GoogleAdsSearchads360V0Common__FrequencyCapEntry",
      "type": "object",
      "properties": {},
      "description": "A rule specifying the maximum number of times an ad (or some set of ads) can be shown to a user over a particular time period."
    },
    "GoogleAdsSearchads360V0Resources__AdGroupCriterion": {
      "description": "An ad group criterion.",
      "type": "object",
      "properties": {
        "keyword": {
          "description": "Immutable. Keyword.",
          "$ref": "GoogleAdsSearchads360V0Common__KeywordInfo"
        },
        "gender": {
          "$ref": "GoogleAdsSearchads360V0Common__GenderInfo",
          "description": "Immutable. Gender."
        },
        "finalUrls": {
          "items": {
            "type": "string"
          },
          "description": "The list of possible final URLs after all cross-domain redirects for the ad.",
          "type": "array"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the ad group criterion. Ad group criterion resource names have the form: `customers/{customer_id}/adGroupCriteria/{ad_group_id}~{criterion_id}`",
          "type": "string"
        },
        "listingGroup": {
          "description": "Immutable. Listing group.",
          "$ref": "GoogleAdsSearchads360V0Common__ListingGroupInfo"
        },
        "qualityInfo": {
          "description": "Output only. Information regarding the quality of the criterion.",
          "$ref": "GoogleAdsSearchads360V0Resources_AdGroupCriterion_QualityInfo",
          "readOnly": true
        },
        "lastModifiedTime": {
          "readOnly": true,
          "description": "Output only. The datetime when this ad group criterion was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format.",
          "type": "string"
        },
        "criterionId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the criterion.",
          "readOnly": true
        },
        "webpage": {
          "description": "Immutable. Webpage",
          "$ref": "GoogleAdsSearchads360V0Common__WebpageInfo"
        },
        "effectiveCpcBidMicros": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The effective CPC (cost-per-click) bid.",
          "readOnly": true
        },
        "cpcBidMicros": {
          "description": "The CPC (cost-per-click) bid.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "KEYWORD",
            "PLACEMENT",
            "MOBILE_APP_CATEGORY",
            "MOBILE_APPLICATION",
            "DEVICE",
            "LOCATION",
            "LISTING_GROUP",
            "AD_SCHEDULE",
            "AGE_RANGE",
            "GENDER",
            "INCOME_RANGE",
            "PARENTAL_STATUS",
            "YOUTUBE_VIDEO",
            "YOUTUBE_CHANNEL",
            "USER_LIST",
            "PROXIMITY",
            "TOPIC",
            "LISTING_SCOPE",
            "LANGUAGE",
            "IP_BLOCK",
            "CONTENT_LABEL",
            "CARRIER",
            "USER_INTEREST",
            "WEBPAGE",
            "OPERATING_SYSTEM_VERSION",
            "APP_PAYMENT_MODEL",
            "MOBILE_DEVICE",
            "CUSTOM_AFFINITY",
            "CUSTOM_INTENT",
            "LOCATION_GROUP",
            "CUSTOM_AUDIENCE",
            "COMBINED_AUDIENCE",
            "KEYWORD_THEME",
            "AUDIENCE",
            "LOCAL_SERVICE_ID"
          ],
          "type": "string",
          "description": "Output only. The type of the criterion.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Keyword, for example, 'mars cruise'.",
            "Placement, also known as Website, for example, 'www.flowers4sale.com'",
            "Mobile application categories to target.",
            "Mobile applications to target.",
            "Devices to target.",
            "Locations to target.",
            "Listing groups to target.",
            "Ad Schedule.",
            "Age range.",
            "Gender.",
            "Income Range.",
            "Parental status.",
            "YouTube Video.",
            "YouTube Channel.",
            "User list.",
            "Proximity.",
            "A topic target on the display network (for example, \"Pets & Animals\").",
            "Listing scope to target.",
            "Language.",
            "IpBlock.",
            "Content Label for category exclusion.",
            "Carrier.",
            "A category the user is interested in.",
            "Webpage criterion for dynamic search ads.",
            "Operating system version.",
            "App payment model.",
            "Mobile device.",
            "Custom affinity.",
            "Custom intent.",
            "Location group.",
            "Custom audience",
            "Combined audience",
            "Smart Campaign keyword theme",
            "Audience",
            "Google Local Services (GLS) Service ID."
          ]
        },
        "status": {
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The ad group criterion is enabled.",
            "The ad group criterion is paused.",
            "The ad group criterion is removed."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED",
            "REMOVED"
          ],
          "description": "The status of the criterion. This is the status of the ad group criterion entity, set by the client. Note: UI reports may incorporate additional information that affects whether a criterion is eligible to run. In some cases a criterion that's REMOVED in the API can still show as enabled in the UI. For example, campaigns by default show to users of all age ranges unless excluded. The UI will show each age range as \"enabled\", since they're eligible to see the ads; but AdGroupCriterion.status will show \"removed\", since no positive criterion was added."
        },
        "adGroup": {
          "type": "string",
          "description": "Immutable. The ad group to which the criterion belongs."
        },
        "engineStatus": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "AD_GROUP_CRITERION_ELIGIBLE",
            "AD_GROUP_CRITERION_INAPPROPRIATE_FOR_CAMPAIGN",
            "AD_GROUP_CRITERION_INVALID_MOBILE_SEARCH",
            "AD_GROUP_CRITERION_INVALID_PC_SEARCH",
            "AD_GROUP_CRITERION_INVALID_SEARCH",
            "AD_GROUP_CRITERION_LOW_SEARCH_VOLUME",
            "AD_GROUP_CRITERION_MOBILE_URL_UNDER_REVIEW",
            "AD_GROUP_CRITERION_PARTIALLY_INVALID",
            "AD_GROUP_CRITERION_TO_BE_ACTIVATED",
            "AD_GROUP_CRITERION_UNDER_REVIEW",
            "AD_GROUP_CRITERION_NOT_REVIEWED",
            "AD_GROUP_CRITERION_ON_HOLD",
            "AD_GROUP_CRITERION_PENDING_REVIEW",
            "AD_GROUP_CRITERION_PAUSED",
            "AD_GROUP_CRITERION_REMOVED",
            "AD_GROUP_CRITERION_APPROVED",
            "AD_GROUP_CRITERION_DISAPPROVED",
            "AD_GROUP_CRITERION_SERVING",
            "AD_GROUP_CRITERION_ACCOUNT_PAUSED"
          ],
          "description": "Output only. The Engine Status for ad group criterion.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Deprecated. Do not use.",
            "Baidu: Bid or quality too low to be displayed.",
            "Baidu: Bid or quality too low for mobile, but eligible to display for desktop.",
            "Baidu: Bid or quality too low for desktop, but eligible to display for mobile.",
            "Baidu: Bid or quality too low to be displayed.",
            "Baidu: Paused by Baidu due to low search volume.",
            "Baidu: Mobile URL in process to be reviewed.",
            "Baidu: The landing page for one device is invalid, while the landing page for the other device is valid.",
            "Baidu: Keyword has been created and paused by Baidu account management, and is now ready for you to activate it.",
            "Baidu: In process to be reviewed by Baidu. Gemini: Criterion under review.",
            "Baidu: Criterion to be reviewed.",
            "Deprecated. Do not use. Previously used by Gemini",
            "Y!J : Criterion pending review",
            "Criterion has been paused.",
            "Criterion has been removed.",
            "Criterion has been approved.",
            "Criterion has been disapproved.",
            "Criterion is active and serving.",
            "Criterion has been paused since the account is paused."
          ]
        },
        "finalUrlSuffix": {
          "type": "string",
          "description": "URL template for appending params to final URL."
        },
        "trackingUrlTemplate": {
          "description": "The URL template for constructing a tracking URL.",
          "type": "string"
        },
        "bidModifier": {
          "type": "number",
          "description": "The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Most targetable criteria types support modifiers.",
          "format": "double"
        },
        "ageRange": {
          "description": "Immutable. Age range.",
          "$ref": "GoogleAdsSearchads360V0Common__AgeRangeInfo"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__AdGroupCriterion"
    },
    "GoogleAdsSearchads360V0Common__LanguageInfo": {
      "description": "A language criterion.",
      "id": "GoogleAdsSearchads360V0Common__LanguageInfo",
      "properties": {
        "languageConstant": {
          "type": "string",
          "description": "The language constant resource name."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__CustomerManagerLink": {
      "properties": {
        "managerLinkId": {
          "format": "int64",
          "description": "Output only. ID of the customer-manager link. This field is read only.",
          "readOnly": true,
          "type": "string"
        },
        "resourceName": {
          "description": "Immutable. Name of the resource. CustomerManagerLink resource names have the form: `customers/{customer_id}/customerManagerLinks/{manager_customer_id}~{manager_link_id}`",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "PENDING",
            "REFUSED",
            "CANCELED"
          ],
          "description": "Status of the link between the customer and the manager.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Indicates current in-effect relationship",
            "Indicates terminated relationship",
            "Indicates relationship has been requested by manager, but the client hasn't accepted yet.",
            "Relationship was requested by the manager, but the client has refused.",
            "Indicates relationship has been requested by manager, but manager canceled it."
          ],
          "type": "string"
        },
        "managerCustomer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The manager customer linked to the customer."
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__CustomerManagerLink",
      "type": "object",
      "description": "Represents customer-manager link relationship."
    },
    "GoogleAdsSearchads360V0Errors__ErrorDetails": {
      "id": "GoogleAdsSearchads360V0Errors__ErrorDetails",
      "properties": {
        "unpublishedErrorCode": {
          "type": "string",
          "description": "The error code that should have been returned, but wasn't. This is used when the error code is not published in the client specified version."
        },
        "quotaErrorDetails": {
          "$ref": "GoogleAdsSearchads360V0Errors__QuotaErrorDetails",
          "description": "Details on the quota error, including the scope (account or developer), the rate bucket name and the retry delay."
        }
      },
      "description": "Additional error details.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__KeywordInfo": {
      "properties": {
        "matchType": {
          "type": "string",
          "description": "The match type of the keyword.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "EXACT",
            "PHRASE",
            "BROAD"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Exact match.",
            "Phrase match.",
            "Broad match."
          ]
        },
        "text": {
          "description": "The text of the keyword (at most 80 characters and 10 words).",
          "type": "string"
        }
      },
      "description": "A keyword criterion.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Common__KeywordInfo"
    },
    "GoogleAdsSearchads360V0Resources__Campaign": {
      "description": "A campaign.",
      "properties": {
        "frequencyCaps": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__FrequencyCapEntry"
          },
          "description": "A list that limits how often each user will see this campaign's ads."
        },
        "adServingOptimizationStatus": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "OPTIMIZE",
            "CONVERSION_OPTIMIZE",
            "ROTATE",
            "ROTATE_INDEFINITELY",
            "UNAVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "Ad serving is optimized based on CTR for the campaign.",
            "Ad serving is optimized based on CTR * Conversion for the campaign. If the campaign is not in the conversion optimizer bidding strategy, it will default to OPTIMIZED.",
            "Ads are rotated evenly for 90 days, then optimized for clicks.",
            "Show lower performing ads more evenly with higher performing ads, and do not optimize.",
            "Ad serving optimization status is not available."
          ],
          "description": "The ad serving optimization status of the campaign."
        },
        "urlExpansionOptOut": {
          "type": "boolean",
          "description": "Represents opting out of URL expansion to more targeted URLs. If opted out (true), only the final URLs in the asset group or URLs specified in the advertiser's Google Merchant Center or business data feeds are targeted. If opted in (false), the entire domain will be targeted. This field can only be set for Performance Max campaigns, where the default value is false."
        },
        "startDate": {
          "description": "The date when campaign started in serving customer's timezone in YYYY-MM-DD format.",
          "type": "string"
        },
        "optimizationGoalSetting": {
          "$ref": "GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting",
          "description": "Optimization goal setting for this campaign, which includes a set of optimization goal types."
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the campaign. Campaign resource names have the form: `customers/{customer_id}/campaigns/{campaign_id}`"
        },
        "networkSettings": {
          "$ref": "GoogleAdsSearchads360V0Resources_Campaign_NetworkSettings",
          "description": "The network settings for the campaign."
        },
        "targetSpend": {
          "description": "Standard Target Spend bidding strategy that automatically sets your bids to help get as many clicks as possible within your budget.",
          "$ref": "GoogleAdsSearchads360V0Common__TargetSpend"
        },
        "name": {
          "description": "The name of the campaign. This field is required and should not be empty when creating new campaigns. It must not contain any null (code point 0x0), NL line feed (code point 0xA) or carriage return (code point 0xD) characters.",
          "type": "string"
        },
        "labels": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The resource names of labels attached to this campaign.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the campaign's creation time, formatted in ISO 8601."
        },
        "targetRoas": {
          "description": "Standard Target ROAS bidding strategy that automatically maximizes revenue while averaging a specific target return on ad spend (ROAS).",
          "$ref": "GoogleAdsSearchads360V0Common__TargetRoas"
        },
        "biddingStrategy": {
          "type": "string",
          "description": "Portfolio bidding strategy used by campaign."
        },
        "engineId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the campaign in the external engine account. This field is for non-Google Ads account only, for example, Yahoo Japan, Microsoft, Baidu etc. For Google Ads entity, use \"campaign.id\" instead."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the campaign."
        },
        "advertisingChannelType": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SEARCH",
            "DISPLAY",
            "SHOPPING",
            "HOTEL",
            "VIDEO",
            "MULTI_CHANNEL",
            "LOCAL",
            "SMART",
            "PERFORMANCE_MAX",
            "LOCAL_SERVICES",
            "DISCOVERY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Search Network. Includes display bundled, and Search+ campaigns.",
            "Google Display Network only.",
            "Shopping campaigns serve on the shopping property and on google.com search results.",
            "Hotel Ads campaigns.",
            "Video campaigns.",
            "App Campaigns, and App Campaigns for Engagement, that run across multiple channels.",
            "Local ads campaigns.",
            "Smart campaigns.",
            "Performance Max campaigns.",
            "Local services campaigns.",
            "Discovery campaigns."
          ],
          "description": "Immutable. The primary serving target for ads within the campaign. The targeting options can be refined in `network_settings`. This field is required and should not be empty when creating new campaigns. Can be set only when creating campaigns. After the campaign is created, the field can not be changed."
        },
        "advertisingChannelSubType": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SEARCH_MOBILE_APP",
            "DISPLAY_MOBILE_APP",
            "SEARCH_EXPRESS",
            "DISPLAY_EXPRESS",
            "SHOPPING_SMART_ADS",
            "DISPLAY_GMAIL_AD",
            "DISPLAY_SMART_CAMPAIGN",
            "VIDEO_OUTSTREAM",
            "VIDEO_ACTION",
            "VIDEO_NON_SKIPPABLE",
            "APP_CAMPAIGN",
            "APP_CAMPAIGN_FOR_ENGAGEMENT",
            "LOCAL_CAMPAIGN",
            "SHOPPING_COMPARISON_LISTING_ADS",
            "SMART_CAMPAIGN",
            "VIDEO_SEQUENCE",
            "APP_CAMPAIGN_FOR_PRE_REGISTRATION",
            "VIDEO_REACH_TARGET_FREQUENCY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used as a return value only. Represents value unknown in this version.",
            "Mobile app campaigns for Search.",
            "Mobile app campaigns for Display.",
            "AdWords express campaigns for search.",
            "AdWords Express campaigns for display.",
            "Smart Shopping campaigns.",
            "Gmail Ad campaigns.",
            "Smart display campaigns.",
            "Video Outstream campaigns.",
            "Video TrueView for Action campaigns.",
            "Video campaigns with non-skippable video ads.",
            "App Campaign that lets you easily promote your Android or iOS app across Google's top properties including Search, Play, YouTube, and the Google Display Network.",
            "App Campaign for engagement, focused on driving re-engagement with the app across several of Google's top properties including Search, YouTube, and the Google Display Network.",
            "Campaigns specialized for local advertising.",
            "Shopping Comparison Listing campaigns.",
            "Standard Smart campaigns.",
            "Video campaigns with sequence video ads.",
            "App Campaign for pre registration, specialized for advertising mobile app pre-registration, that targets multiple advertising channels across Google Play, YouTube and Display Network.",
            "Video reach campaign with Target Frequency bidding strategy."
          ],
          "description": "Immutable. Optional refinement to `advertising_channel_type`. Must be a valid sub-type of the parent channel type. Can be set only when creating campaigns. After campaign is created, the field can not be changed."
        },
        "shoppingSetting": {
          "$ref": "GoogleAdsSearchads360V0Resources_Campaign_ShoppingSetting",
          "description": "The setting for controlling Shopping campaigns."
        },
        "excludedParentAssetFieldTypes": {
          "type": "array",
          "items": {
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "HEADLINE",
              "DESCRIPTION",
              "MANDATORY_AD_TEXT",
              "MARKETING_IMAGE",
              "MEDIA_BUNDLE",
              "YOUTUBE_VIDEO",
              "BOOK_ON_GOOGLE",
              "LEAD_FORM",
              "PROMOTION",
              "CALLOUT",
              "STRUCTURED_SNIPPET",
              "SITELINK",
              "MOBILE_APP",
              "HOTEL_CALLOUT",
              "CALL",
              "PRICE",
              "LONG_HEADLINE",
              "BUSINESS_NAME",
              "SQUARE_MARKETING_IMAGE",
              "PORTRAIT_MARKETING_IMAGE",
              "LOGO",
              "LANDSCAPE_LOGO",
              "VIDEO",
              "CALL_TO_ACTION_SELECTION",
              "AD_IMAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Used for return value only. Represents value unknown in this version.",
              "The asset is linked for use as a headline.",
              "The asset is linked for use as a description.",
              "The asset is linked for use as mandatory ad text.",
              "The asset is linked for use as a marketing image.",
              "The asset is linked for use as a media bundle.",
              "The asset is linked for use as a YouTube video.",
              "The asset is linked to indicate that a hotels campaign is \"Book on Google\" enabled.",
              "The asset is linked for use as a Lead Form extension.",
              "The asset is linked for use as a Promotion extension.",
              "The asset is linked for use as a Callout extension.",
              "The asset is linked for use as a Structured Snippet extension.",
              "The asset is linked for use as a Sitelink extension.",
              "The asset is linked for use as a Mobile App extension.",
              "The asset is linked for use as a Hotel Callout extension.",
              "The asset is linked for use as a Call extension.",
              "The asset is linked for use as a Price extension.",
              "The asset is linked for use as a long headline.",
              "The asset is linked for use as a business name.",
              "The asset is linked for use as a square marketing image.",
              "The asset is linked for use as a portrait marketing image.",
              "The asset is linked for use as a logo.",
              "The asset is linked for use as a landscape logo.",
              "The asset is linked for use as a non YouTube logo.",
              "The asset is linked for use to select a call-to-action.",
              "The asset is linked for use to select an ad image."
            ]
          },
          "description": "The asset field types that should be excluded from this campaign. Asset links with these field types will not be inherited by this campaign from the upper level."
        },
        "biddingStrategySystemStatus": {
          "enumDescriptions": [
            "Signals that an unexpected error occurred, for example, no bidding strategy type was found, or no status information was found.",
            "Used for return value only. Represents value unknown in this version.",
            "The bid strategy is active, and AdWords cannot find any specific issues with the strategy.",
            "The bid strategy is learning because it has been recently created or recently reactivated.",
            "The bid strategy is learning because of a recent setting change.",
            "The bid strategy is learning because of a recent budget change.",
            "The bid strategy is learning because of recent change in number of campaigns, ad groups or keywords attached to it.",
            "The bid strategy depends on conversion reporting and the customer recently modified conversion types that were relevant to the bid strategy.",
            "The bid strategy depends on conversion reporting and the customer recently changed their conversion settings.",
            "The bid strategy is limited by its bid ceiling.",
            "The bid strategy is limited by its bid floor.",
            "The bid strategy is limited because there was not enough conversion traffic over the past weeks.",
            "A significant fraction of keywords in this bid strategy are limited by budget.",
            "The bid strategy cannot reach its target spend because its spend has been de-prioritized.",
            "A significant fraction of keywords in this bid strategy have a low Quality Score.",
            "The bid strategy cannot fully spend its budget because of narrow targeting.",
            "Missing conversion tracking (no pings present) and/or remarketing lists for SSC.",
            "The bid strategy depends on conversion reporting and the customer is lacking conversion types that might be reported against this strategy.",
            "The bid strategy depends on conversion reporting and the customer's conversion settings are misconfigured.",
            "There are campaigns outside the bid strategy that share budgets with campaigns included in the strategy.",
            "The campaign has an invalid strategy type and is not serving.",
            "The bid strategy is not active. Either there are no active campaigns, ad groups or keywords attached to the bid strategy. Or there are no active budgets connected to the bid strategy.",
            "This bid strategy currently does not support status reporting.",
            "There were multiple LEARNING_* system statuses for this bid strategy during the time in question.",
            "There were multiple LIMITED_* system statuses for this bid strategy during the time in question.",
            "There were multiple MISCONFIGURED_* system statuses for this bid strategy during the time in question.",
            "There were multiple system statuses for this bid strategy during the time in question."
          ],
          "type": "string",
          "description": "Output only. The system status of the campaign's bidding strategy.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "LEARNING_NEW",
            "LEARNING_SETTING_CHANGE",
            "LEARNING_BUDGET_CHANGE",
            "LEARNING_COMPOSITION_CHANGE",
            "LEARNING_CONVERSION_TYPE_CHANGE",
            "LEARNING_CONVERSION_SETTING_CHANGE",
            "LIMITED_BY_CPC_BID_CEILING",
            "LIMITED_BY_CPC_BID_FLOOR",
            "LIMITED_BY_DATA",
            "LIMITED_BY_BUDGET",
            "LIMITED_BY_LOW_PRIORITY_SPEND",
            "LIMITED_BY_LOW_QUALITY",
            "LIMITED_BY_INVENTORY",
            "MISCONFIGURED_ZERO_ELIGIBILITY",
            "MISCONFIGURED_CONVERSION_TYPES",
            "MISCONFIGURED_CONVERSION_SETTINGS",
            "MISCONFIGURED_SHARED_BUDGET",
            "MISCONFIGURED_STRATEGY_TYPE",
            "PAUSED",
            "UNAVAILABLE",
            "MULTIPLE_LEARNING",
            "MULTIPLE_LIMITED",
            "MULTIPLE_MISCONFIGURED",
            "MULTIPLE"
          ]
        },
        "targetCpa": {
          "$ref": "GoogleAdsSearchads360V0Common__TargetCpa",
          "description": "Standard Target CPA bidding strategy that automatically sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set."
        },
        "finalUrlSuffix": {
          "type": "string",
          "description": "Suffix used to append query parameters to landing pages that are served with parallel tracking."
        },
        "endDate": {
          "description": "The last day of the campaign in serving customer's timezone in YYYY-MM-DD format. On create, defaults to 2037-12-30, which means the campaign will run indefinitely. To set an existing campaign to run indefinitely, set this field to 2037-12-30.",
          "type": "string"
        },
        "dynamicSearchAdsSetting": {
          "description": "The setting for controlling Dynamic Search Ads (DSA).",
          "$ref": "GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting"
        },
        "biddingStrategyType": {
          "description": "Output only. The type of bidding strategy. A bidding strategy can be created by setting either the bidding scheme to create a standard bidding strategy or the `bidding_strategy` field to create a portfolio bidding strategy. This field is read-only.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Commission is an automatic bidding strategy in which the advertiser pays a certain portion of the conversion value.",
            "Enhanced CPC is a bidding strategy that raises bids for clicks that seem more likely to lead to a conversion and lowers them for clicks where they seem less likely.",
            "Used for return value only. Indicates that a campaign does not have a bidding strategy. This prevents the campaign from serving. For example, a campaign may be attached to a manager bidding strategy and the serving account is subsequently unlinked from the manager account. In this case the campaign will automatically be detached from the now inaccessible manager bidding strategy and transition to the INVALID bidding strategy type.",
            "Manual bidding strategy that allows advertiser to set the bid per advertiser-specified action.",
            "Manual click based bidding where user pays per click.",
            "Manual impression based bidding where user pays per thousand impressions.",
            "A bidding strategy that pays a configurable amount per video view.",
            "A bidding strategy that automatically maximizes number of conversions given a daily budget.",
            "An automated bidding strategy that automatically sets bids to maximize revenue while spending your budget.",
            "Page-One Promoted bidding scheme, which sets max cpc bids to target impressions on page one or page one promoted slots on google.com. This enum value is deprecated.",
            "Percent Cpc is bidding strategy where bids are a fraction of the advertised price for some good or service.",
            "Target CPA is an automated bid strategy that sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set.",
            "Target CPM is an automated bid strategy that sets bids to help get as many impressions as possible at the target cost per one thousand impressions (CPM) you set.",
            "An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location).",
            "Target Outrank Share is an automated bidding strategy that sets bids based on the target fraction of auctions where the advertiser should outrank a specific competitor. This enum value is deprecated.",
            "Target ROAS is an automated bidding strategy that helps you maximize revenue while averaging a specific target Return On Average Spend (ROAS).",
            "Target Spend is an automated bid strategy that sets your bids to help get as many clicks as possible within your budget."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "COMMISSION",
            "ENHANCED_CPC",
            "INVALID",
            "MANUAL_CPA",
            "MANUAL_CPC",
            "MANUAL_CPM",
            "MANUAL_CPV",
            "MAXIMIZE_CONVERSIONS",
            "MAXIMIZE_CONVERSION_VALUE",
            "PAGE_ONE_PROMOTED",
            "PERCENT_CPC",
            "TARGET_CPA",
            "TARGET_CPM",
            "TARGET_IMPRESSION_SHARE",
            "TARGET_OUTRANK_SHARE",
            "TARGET_ROAS",
            "TARGET_SPEND"
          ]
        },
        "realTimeBiddingSetting": {
          "description": "Settings for Real-Time Bidding, a feature only available for campaigns targeting the Ad Exchange network.",
          "$ref": "GoogleAdsSearchads360V0Common__RealTimeBiddingSetting"
        },
        "campaignBudget": {
          "description": "The budget of the campaign.",
          "type": "string"
        },
        "urlCustomParameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__CustomParameter"
          },
          "description": "The list of mappings used to substitute custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`."
        },
        "servingStatus": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SERVING",
            "NONE",
            "ENDED",
            "PENDING",
            "SUSPENDED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ad serving status of the campaign.",
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "Serving.",
            "None.",
            "Ended.",
            "Pending.",
            "Suspended."
          ]
        },
        "geoTargetTypeSetting": {
          "$ref": "GoogleAdsSearchads360V0Resources_Campaign_GeoTargetTypeSetting",
          "description": "The setting for ads geotargeting."
        },
        "maximizeConversionValue": {
          "description": "Standard Maximize Conversion Value bidding strategy that automatically sets bids to maximize revenue while spending your budget.",
          "$ref": "GoogleAdsSearchads360V0Common__MaximizeConversionValue"
        },
        "selectiveOptimization": {
          "description": "Selective optimization setting for this campaign, which includes a set of conversion actions to optimize this campaign towards.",
          "$ref": "GoogleAdsSearchads360V0Resources_Campaign_SelectiveOptimization"
        },
        "percentCpc": {
          "$ref": "GoogleAdsSearchads360V0Common__PercentCpc",
          "description": "Standard Percent Cpc bidding strategy where bids are a fraction of the advertised price for some good or service."
        },
        "maximizeConversions": {
          "$ref": "GoogleAdsSearchads360V0Common__MaximizeConversions",
          "description": "Standard Maximize Conversions bidding strategy that automatically maximizes number of conversions while spending your budget."
        },
        "status": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED",
            "REMOVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Campaign is active and can show ads.",
            "Campaign has been paused by the user.",
            "Campaign has been removed."
          ],
          "description": "The status of the campaign. When a new campaign is added, the status defaults to ENABLED."
        },
        "manualCpa": {
          "$ref": "GoogleAdsSearchads360V0Common__ManualCpa",
          "description": "Standard Manual CPA bidding strategy. Manual bidding strategy that allows advertiser to set the bid per advertiser-specified action. Supported only for Local Services campaigns."
        },
        "targetImpressionShare": {
          "$ref": "GoogleAdsSearchads360V0Common__TargetImpressionShare",
          "description": "Target Impression Share bidding strategy. An automated bidding strategy that sets bids to achieve a chosen percentage of impressions."
        },
        "trackingSetting": {
          "readOnly": true,
          "description": "Output only. Campaign-level settings for tracking information.",
          "$ref": "GoogleAdsSearchads360V0Resources_Campaign_TrackingSetting"
        },
        "manualCpc": {
          "$ref": "GoogleAdsSearchads360V0Common__ManualCpc",
          "description": "Standard Manual CPC bidding strategy. Manual click-based bidding where user pays per click."
        },
        "trackingUrlTemplate": {
          "type": "string",
          "description": "The URL template for constructing a tracking URL."
        },
        "manualCpm": {
          "$ref": "GoogleAdsSearchads360V0Common__ManualCpm",
          "description": "Standard Manual CPM bidding strategy. Manual impression-based bidding where user pays per thousand impressions."
        },
        "targetCpm": {
          "description": "A bidding strategy that automatically optimizes cost per thousand impressions.",
          "$ref": "GoogleAdsSearchads360V0Common__TargetCpm"
        },
        "lastModifiedTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The datetime when this campaign was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format."
        }
      },
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__Campaign"
    },
    "GoogleAdsSearchads360V0Resources__ConversionAction": {
      "properties": {
        "appId": {
          "type": "string",
          "description": "App ID for an app conversion action."
        },
        "includeInClientAccountConversionsMetric": {
          "description": "Whether this conversion action should be included in the \"client_account_conversions\" metric.",
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The ID of the conversion action.",
          "type": "string"
        },
        "ownerCustomer": {
          "description": "Output only. The resource name of the conversion action owner customer, or null if this is a system-defined conversion action.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Immutable. The type of this conversion action.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Conversions that occur when a user clicks on an ad's call extension.",
            "Conversions that occur when a user on a mobile device clicks a phone number.",
            "Conversions that occur when a user downloads a mobile app from the Google Play Store.",
            "Conversions that occur when a user makes a purchase in an app through Android billing.",
            "Call conversions that are tracked by the advertiser and uploaded.",
            "Conversions that are tracked by the advertiser and uploaded with attributed clicks.",
            "Conversions that occur on a webpage.",
            "Conversions that occur when a user calls a dynamically-generated phone number from an advertiser's website.",
            "Store Sales conversion based on first-party or third-party merchant data uploads. Only customers on the allowlist can use store sales direct upload types.",
            "Store Sales conversion based on first-party or third-party merchant data uploads and/or from in-store purchases using cards from payment networks. Only customers on the allowlist can use store sales types. Read only.",
            "Android app first open conversions tracked through Firebase.",
            "Android app in app purchase conversions tracked through Firebase.",
            "Android app custom conversions tracked through Firebase.",
            "iOS app first open conversions tracked through Firebase.",
            "iOS app in app purchase conversions tracked through Firebase.",
            "iOS app custom conversions tracked through Firebase.",
            "Android app first open conversions tracked through Third Party App Analytics.",
            "Android app in app purchase conversions tracked through Third Party App Analytics.",
            "Android app custom conversions tracked through Third Party App Analytics.",
            "iOS app first open conversions tracked through Third Party App Analytics.",
            "iOS app in app purchase conversions tracked through Third Party App Analytics.",
            "iOS app custom conversions tracked through Third Party App Analytics.",
            "Conversions that occur when a user pre-registers a mobile app from the Google Play Store. Read only.",
            "Conversions that track all Google Play downloads which aren't tracked by an app-specific type. Read only.",
            "Floodlight activity that counts the number of times that users have visited a particular webpage after seeing or clicking on one of an advertiser's ads. Read only.",
            "Floodlight activity that tracks the number of sales made or the number of items purchased. Can also capture the total value of each sale. Read only.",
            "Conversions that track local actions from Google's products and services after interacting with an ad. Read only.",
            "Conversions reported when a user submits a lead form. Read only.",
            "Conversions that come from Salesforce. Read only.",
            "Conversions imported from Search Ads 360 Floodlight data. Read only.",
            "Call conversions that occur on Smart campaign Ads without call tracking setup, using Smart campaign custom criteria. Read only.",
            "The user clicks on a call element within Google Maps. Smart campaign only. Read only.",
            "The user requests directions to a business location within Google Maps. Smart campaign only. Read only.",
            "Call conversions that occur on Smart campaign Ads with call tracking setup, using Smart campaign custom criteria. Read only.",
            "Conversions that occur when a user visits an advertiser's retail store. Read only."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "AD_CALL",
            "CLICK_TO_CALL",
            "GOOGLE_PLAY_DOWNLOAD",
            "GOOGLE_PLAY_IN_APP_PURCHASE",
            "UPLOAD_CALLS",
            "UPLOAD_CLICKS",
            "WEBPAGE",
            "WEBSITE_CALL",
            "STORE_SALES_DIRECT_UPLOAD",
            "STORE_SALES",
            "FIREBASE_ANDROID_FIRST_OPEN",
            "FIREBASE_ANDROID_IN_APP_PURCHASE",
            "FIREBASE_ANDROID_CUSTOM",
            "FIREBASE_IOS_FIRST_OPEN",
            "FIREBASE_IOS_IN_APP_PURCHASE",
            "FIREBASE_IOS_CUSTOM",
            "THIRD_PARTY_APP_ANALYTICS_ANDROID_FIRST_OPEN",
            "THIRD_PARTY_APP_ANALYTICS_ANDROID_IN_APP_PURCHASE",
            "THIRD_PARTY_APP_ANALYTICS_ANDROID_CUSTOM",
            "THIRD_PARTY_APP_ANALYTICS_IOS_FIRST_OPEN",
            "THIRD_PARTY_APP_ANALYTICS_IOS_IN_APP_PURCHASE",
            "THIRD_PARTY_APP_ANALYTICS_IOS_CUSTOM",
            "ANDROID_APP_PRE_REGISTRATION",
            "ANDROID_INSTALLS_ALL_OTHER_APPS",
            "FLOODLIGHT_ACTION",
            "FLOODLIGHT_TRANSACTION",
            "GOOGLE_HOSTED",
            "LEAD_FORM_SUBMIT",
            "SALESFORCE",
            "SEARCH_ADS_360",
            "SMART_CAMPAIGN_AD_CLICKS_TO_CALL",
            "SMART_CAMPAIGN_MAP_CLICKS_TO_CALL",
            "SMART_CAMPAIGN_MAP_DIRECTIONS",
            "SMART_CAMPAIGN_TRACKED_CALLS",
            "STORE_VISITS"
          ]
        },
        "clickThroughLookbackWindowDays": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of days that may elapse between an interaction (for example, a click) and a conversion event."
        },
        "status": {
          "description": "The status of this conversion action for conversion event accrual.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Conversions will be recorded.",
            "Conversions will not be recorded.",
            "Conversions will not be recorded and the conversion action will not appear in the UI."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED",
            "HIDDEN"
          ]
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Default category.",
            "User visiting a page.",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "Lead-generating action.",
            "Software download action (as for an app).",
            "The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "A call to indicate interest in an advertiser's offering.",
            "A lead conversion imported from an external source into Google Ads.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location with intention to visit.",
            "A click to an advertiser's partner's site.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "A website engagement event such as long site time or a Google Analytics (GA) Smart Goal. Intended to be used for GA, Firebase, GA Gold goal imports.",
            "A visit to a physical store location.",
            "A sale occurring in a physical store.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser (marketing/sales team). In the lead-to-sale journey, advertisers get leads, then act on them by reaching out to the consumer. If the consumer is interested and may end up buying their product, the advertiser marks such leads as \"qualified leads\".",
            "A lead conversion imported from an external source into Google Ads, that has further completed a chosen stage as defined by the lead gen advertiser."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DEFAULT",
            "PAGE_VIEW",
            "PURCHASE",
            "SIGNUP",
            "LEAD",
            "DOWNLOAD",
            "ADD_TO_CART",
            "BEGIN_CHECKOUT",
            "SUBSCRIBE_PAID",
            "PHONE_CALL_LEAD",
            "IMPORTED_LEAD",
            "SUBMIT_LEAD_FORM",
            "BOOK_APPOINTMENT",
            "REQUEST_QUOTE",
            "GET_DIRECTIONS",
            "OUTBOUND_CLICK",
            "CONTACT",
            "ENGAGEMENT",
            "STORE_VISIT",
            "STORE_SALE",
            "QUALIFIED_LEAD",
            "CONVERTED_LEAD"
          ],
          "description": "The category of conversions reported for this conversion action."
        },
        "name": {
          "description": "The name of the conversion action. This field is required and should not be empty when creating new conversion actions.",
          "type": "string"
        },
        "attributionModelSettings": {
          "$ref": "GoogleAdsSearchads360V0Resources_ConversionAction_AttributionModelSettings",
          "description": "Settings related to this conversion action's attribution model."
        },
        "floodlightSettings": {
          "$ref": "GoogleAdsSearchads360V0Resources_ConversionAction_FloodlightSettings",
          "readOnly": true,
          "description": "Output only. Floodlight settings for Floodlight conversion types."
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the conversion action. Conversion action resource names have the form: `customers/{customer_id}/conversionActions/{conversion_action_id}`"
        },
        "creationTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the Floodlight activity's creation, formatted in ISO 8601.",
          "type": "string"
        },
        "primaryForGoal": {
          "description": "If a conversion action's primary_for_goal bit is false, the conversion action is non-biddable for all campaigns regardless of their customer conversion goal or campaign conversion goal. However, custom conversion goals do not respect primary_for_goal, so if a campaign has a custom conversion goal configured with a primary_for_goal = false conversion action, that conversion action is still biddable. By default, primary_for_goal will be true if not set. In V9, primary_for_goal can only be set to false after creation through an 'update' operation because it's not declared as optional.",
          "type": "boolean"
        },
        "valueSettings": {
          "$ref": "GoogleAdsSearchads360V0Resources_ConversionAction_ValueSettings",
          "description": "Settings related to the value for conversion events associated with this conversion action."
        },
        "includeInConversionsMetric": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this conversion action should be included in the \"conversions\" metric."
        }
      },
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__ConversionAction",
      "description": "A conversion action."
    },
    "GoogleAdsSearchads360V0Common__AgeRangeInfo": {
      "description": "An age range criterion.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Common__AgeRangeInfo",
      "properties": {
        "type": {
          "description": "Type of the age range.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond.",
            "Undetermined age range."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP",
            "AGE_RANGE_UNDETERMINED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Common__MaximizeConversions": {
      "id": "GoogleAdsSearchads360V0Common__MaximizeConversions",
      "properties": {
        "targetCpaMicros": {
          "type": "string",
          "format": "int64",
          "description": "The target cost-per-action (CPA) option. This is the average amount that you would like to spend per conversion action specified in micro units of the bidding strategy's currency. If set, the bid strategy will get as many conversions as possible at or below the target cost-per-action. If the target CPA is not set, the bid strategy will aim to achieve the lowest possible CPA given the budget."
        },
        "cpcBidCeilingMicros": {
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "type": "string",
          "format": "int64"
        },
        "cpcBidFloorMicros": {
          "type": "string",
          "format": "int64",
          "description": "Minimum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only."
        }
      },
      "type": "object",
      "description": "An automated bidding strategy to help get the most conversions for your campaigns while spending your budget."
    },
    "GoogleAdsSearchads360V0Resources_ConversionAction_ValueSettings": {
      "id": "GoogleAdsSearchads360V0Resources_ConversionAction_ValueSettings",
      "type": "object",
      "properties": {
        "defaultValue": {
          "type": "number",
          "description": "The value to use when conversion events for this conversion action are sent with an invalid, disallowed or missing value, or when this conversion action is configured to always use the default value.",
          "format": "double"
        },
        "defaultCurrencyCode": {
          "type": "string",
          "description": "The currency code to use when conversion events for this conversion action are sent with an invalid or missing currency code, or when this conversion action is configured to always use the default value."
        },
        "alwaysUseDefaultValue": {
          "type": "boolean",
          "description": "Controls whether the default value and default currency code are used in place of the value and currency code specified in conversion events for this conversion action."
        }
      },
      "description": "Settings related to the value for conversion events associated with this conversion action."
    },
    "GoogleAdsSearchads360V0Resources__AdGroupBidModifier": {
      "id": "GoogleAdsSearchads360V0Resources__AdGroupBidModifier",
      "type": "object",
      "properties": {
        "bidModifier": {
          "type": "number",
          "format": "double",
          "description": "The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. The range is 1.0 - 6.0 for PreferredContent. Use 0 to opt out of a Device type."
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the ad group bid modifier. Ad group bid modifier resource names have the form: `customers/{customer_id}/adGroupBidModifiers/{ad_group_id}~{criterion_id}`"
        }
      },
      "description": "Represents an ad group bid modifier."
    },
    "GoogleAdsSearchads360V0Common__ManualCpm": {
      "description": "Manual impression-based bidding where user pays per thousand impressions.",
      "id": "GoogleAdsSearchads360V0Common__ManualCpm",
      "properties": {},
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__MaximizeConversionValue": {
      "properties": {
        "targetRoas": {
          "format": "double",
          "description": "The target return on ad spend (ROAS) option. If set, the bid strategy will maximize revenue while averaging the target return on ad spend. If the target ROAS is high, the bid strategy may not be able to spend the full budget. If the target ROAS is not set, the bid strategy will aim to achieve the highest possible ROAS for the budget.",
          "type": "number"
        },
        "cpcBidFloorMicros": {
          "type": "string",
          "description": "Minimum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only.",
          "format": "int64"
        },
        "cpcBidCeilingMicros": {
          "format": "int64",
          "type": "string",
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy. Mutable for portfolio bidding strategies only."
        }
      },
      "description": "An automated bidding strategy to help get the most conversion value for your campaigns while spending your budget.",
      "id": "GoogleAdsSearchads360V0Common__MaximizeConversionValue",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__DeviceInfo": {
      "type": "object",
      "description": "A device criterion.",
      "id": "GoogleAdsSearchads360V0Common__DeviceInfo",
      "properties": {
        "type": {
          "description": "Type of the device.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Mobile devices with full browsers.",
            "Tablets with full browsers.",
            "Computers.",
            "Smart TVs and game consoles.",
            "Other device types."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MOBILE",
            "TABLET",
            "DESKTOP",
            "CONNECTED_TV",
            "OTHER"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__ConversionTrackingSetting": {
      "properties": {
        "conversionTrackingId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The conversion tracking id used for this account. This id doesn't indicate whether the customer uses conversion tracking (conversion_tracking_status does). This field is read-only."
        },
        "acceptedCustomerDataTerms": {
          "readOnly": true,
          "description": "Output only. Whether the customer has accepted customer data terms. If using cross-account conversion tracking, this value is inherited from the manager. This field is read-only. For more information, see https://support.google.com/adspolicy/answer/7475709.",
          "type": "boolean"
        },
        "crossAccountConversionTrackingId": {
          "description": "Output only. The conversion tracking id of the customer's manager. This is set when the customer is opted into cross-account conversion tracking, and it overrides conversion_tracking_id.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "conversionTrackingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Customer does not use any conversion tracking.",
            "The conversion actions are created and managed by this customer.",
            "The conversion actions are created and managed by the manager specified in the request's `login-customer-id`.",
            "The conversion actions are created and managed by a manager different from the customer or manager specified in the request's `login-customer-id`."
          ],
          "description": "Output only. Conversion tracking status. It indicates whether the customer is using conversion tracking, and who is the conversion tracking owner of this customer. If this customer is using cross-account conversion tracking, the value returned will differ based on the `login-customer-id` of the request.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "NOT_CONVERSION_TRACKED",
            "CONVERSION_TRACKING_MANAGED_BY_SELF",
            "CONVERSION_TRACKING_MANAGED_BY_THIS_MANAGER",
            "CONVERSION_TRACKING_MANAGED_BY_ANOTHER_MANAGER"
          ],
          "readOnly": true
        },
        "googleAdsConversionCustomer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the customer where conversions are created and managed. This field is read-only."
        },
        "googleAdsCrossAccountConversionTrackingId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The conversion tracking id of the customer's manager. This is set when the customer is opted into conversion tracking, and it overrides conversion_tracking_id. This field can only be managed through the Google Ads UI. This field is read-only."
        },
        "enhancedConversionsForLeadsEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the customer is opted-in for enhanced conversions for leads. If using cross-account conversion tracking, this value is inherited from the manager. This field is read-only.",
          "type": "boolean"
        }
      },
      "description": "A collection of customer-wide settings related to Search Ads 360 Conversion Tracking.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__ConversionTrackingSetting"
    },
    "GoogleAdsSearchads360V0Resources__CampaignCriterion": {
      "properties": {
        "location": {
          "$ref": "GoogleAdsSearchads360V0Common__LocationInfo",
          "description": "Immutable. Location."
        },
        "language": {
          "description": "Immutable. Language.",
          "$ref": "GoogleAdsSearchads360V0Common__LanguageInfo"
        },
        "locationGroup": {
          "description": "Immutable. Location Group",
          "$ref": "GoogleAdsSearchads360V0Common__LocationGroupInfo"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the criterion.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Keyword, for example, 'mars cruise'.",
            "Placement, also known as Website, for example, 'www.flowers4sale.com'",
            "Mobile application categories to target.",
            "Mobile applications to target.",
            "Devices to target.",
            "Locations to target.",
            "Listing groups to target.",
            "Ad Schedule.",
            "Age range.",
            "Gender.",
            "Income Range.",
            "Parental status.",
            "YouTube Video.",
            "YouTube Channel.",
            "User list.",
            "Proximity.",
            "A topic target on the display network (for example, \"Pets & Animals\").",
            "Listing scope to target.",
            "Language.",
            "IpBlock.",
            "Content Label for category exclusion.",
            "Carrier.",
            "A category the user is interested in.",
            "Webpage criterion for dynamic search ads.",
            "Operating system version.",
            "App payment model.",
            "Mobile device.",
            "Custom affinity.",
            "Custom intent.",
            "Location group.",
            "Custom audience",
            "Combined audience",
            "Smart Campaign keyword theme",
            "Audience",
            "Google Local Services (GLS) Service ID."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "KEYWORD",
            "PLACEMENT",
            "MOBILE_APP_CATEGORY",
            "MOBILE_APPLICATION",
            "DEVICE",
            "LOCATION",
            "LISTING_GROUP",
            "AD_SCHEDULE",
            "AGE_RANGE",
            "GENDER",
            "INCOME_RANGE",
            "PARENTAL_STATUS",
            "YOUTUBE_VIDEO",
            "YOUTUBE_CHANNEL",
            "USER_LIST",
            "PROXIMITY",
            "TOPIC",
            "LISTING_SCOPE",
            "LANGUAGE",
            "IP_BLOCK",
            "CONTENT_LABEL",
            "CARRIER",
            "USER_INTEREST",
            "WEBPAGE",
            "OPERATING_SYSTEM_VERSION",
            "APP_PAYMENT_MODEL",
            "MOBILE_DEVICE",
            "CUSTOM_AFFINITY",
            "CUSTOM_INTENT",
            "LOCATION_GROUP",
            "CUSTOM_AUDIENCE",
            "COMBINED_AUDIENCE",
            "KEYWORD_THEME",
            "AUDIENCE",
            "LOCAL_SERVICE_ID"
          ]
        },
        "negative": {
          "description": "Immutable. Whether to target (`false`) or exclude (`true`) the criterion.",
          "type": "boolean"
        },
        "resourceName": {
          "description": "Immutable. The resource name of the campaign criterion. Campaign criterion resource names have the form: `customers/{customer_id}/campaignCriteria/{campaign_id}~{criterion_id}`",
          "type": "string"
        },
        "device": {
[...]
