{
  "canonicalName": "Cloud Healthcare",
  "mtlsRootUrl": "https://healthcare.mtls.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://healthcare.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Cloud Healthcare API",
  "description": "Manage, store, and access healthcare data in Google Cloud Platform.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta1",
  "basePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://healthcare.googleapis.com/",
  "schemas": {
    "GoogleCloudHealthcareV1beta1DicomStreamConfig": {
      "type": "object",
      "description": "StreamConfig specifies configuration for a streaming DICOM export.",
      "properties": {
        "bigqueryDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1DicomBigQueryDestination",
          "description": "Results are appended to this table. The server creates a new table in the given BigQuery dataset if the specified table does not exist. To enable the Cloud Healthcare API to write to your BigQuery table, you must give the Cloud Healthcare API service account the bigquery.dataEditor role. The service account is: `service-{PROJECT_NUMBER}@gcp-sa-healthcare.iam.gserviceaccount.com`. The PROJECT_NUMBER identifies the project that the DICOM store resides in. To get the project number, go to the Cloud Console Dashboard. It is recommended to not have a custom schema in the destination table which could conflict with the schema created by the Cloud Healthcare API. Instance deletions are not applied to the destination table. The destination's table schema will be automatically updated in case a new instance's data is incompatible with the current schema. The schema should not be updated manually as this can cause incompatibilies that cannot be resolved automatically. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any instance that generates more than 1 MB of BigQuery data will not be streamed. If an instance cannot be streamed to BigQuery, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging))."
        }
      },
      "id": "GoogleCloudHealthcareV1beta1DicomStreamConfig"
    },
    "FhirNotificationConfig": {
      "type": "object",
      "description": "Contains the configuration for FHIR notifications.",
      "id": "FhirNotificationConfig",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. The notification is a `PubsubMessage` with the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It is guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. Note that notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification can't be published to Pub/Sub, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare-api/docs/how-tos/logging)."
        },
        "sendFullResource": {
          "description": "Whether to send full FHIR resource to this Pub/Sub topic for Create and Update operation. Note that setting this to true does not guarantee that all resources will be sent in the format of full FHIR resource. When a resource change is too large or during heavy traffic, only the resource name will be sent. Clients should always check the \"payloadType\" label from a Pub/Sub message to determine whether it needs to fetch the full resource as a separate operation.",
          "type": "boolean"
        }
      }
    },
    "ListConsentArtifactsResponse": {
      "properties": {
        "consentArtifacts": {
          "description": "The returned Consent artifacts. The maximum number of artifacts returned is determined by the value of page_size in the ListConsentArtifactsRequest.",
          "items": {
            "$ref": "ConsentArtifact"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListConsentArtifactsResponse",
      "type": "object"
    },
    "ProgressCounter": {
      "id": "ProgressCounter",
      "properties": {
        "pending": {
          "type": "string",
          "format": "int64",
          "description": "The number of units that are pending in the operation."
        },
        "failure": {
          "format": "int64",
          "type": "string",
          "description": "The number of units that failed in the operation."
        },
        "success": {
          "format": "int64",
          "type": "string",
          "description": "The number of units that succeeded in the operation."
        }
      },
      "type": "object",
      "description": "ProgressCounter provides counters to describe an operation's progress."
    },
    "GoogleCloudHealthcareV1beta1DicomGcsSource": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * '*' to match 0 or more non-separator characters * '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.dcm` imports all files with .dcm extensions in `my-directory/` and its sub-directories. * '?' to match 1 character. All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata."
        }
      },
      "id": "GoogleCloudHealthcareV1beta1DicomGcsSource",
      "description": "Specifies the configuration for importing data from Cloud Storage."
    },
    "EntityMentionRelationship": {
      "description": "Defines directed relationship from one entity mention to another.",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number",
          "description": "The model's confidence in this annotation. A number between 0 and 1."
        },
        "subjectId": {
          "description": "subject_id is the id of the subject entity mention.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "object_id is the id of the object entity mention."
        }
      },
      "type": "object",
      "id": "EntityMentionRelationship"
    },
    "ImportAnnotationsResponse": {
      "id": "ImportAnnotationsResponse",
      "properties": {},
      "type": "object",
      "description": "Final response of importing Annotations in successful case. This structure is included in the response. It is only included when the operation finishes."
    },
    "FhirFilter": {
      "type": "object",
      "description": "Filter configuration.",
      "id": "FhirFilter",
      "properties": {
        "resources": {
          "$ref": "Resources",
          "description": "List of resources to include in the output. If this list is empty or not specified, all resources are included in the output."
        }
      }
    },
    "GoogleCloudHealthcareV1beta1ConsentGcsDestination": {
      "type": "object",
      "description": "The Cloud Storage location for export.",
      "properties": {
        "uriPrefix": {
          "description": "URI for a Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket and directory referenced in `uri_prefix`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudHealthcareV1beta1ConsentGcsDestination"
    },
    "CryptoHashConfig": {
      "properties": {
        "cryptoKey": {
          "format": "byte",
          "type": "string",
          "description": "An AES 128/192/256 bit key. Causes the hash to be computed based on this key. A default key is generated for each Deidentify operation and is used when neither `crypto_key` nor `kms_wrapped` is specified. Must not be set if `kms_wrapped` is set."
        },
        "kmsWrapped": {
          "description": "KMS wrapped key. Must not be set if `crypto_key` is set.",
          "$ref": "KmsWrappedCryptoKey"
        }
      },
      "id": "CryptoHashConfig",
      "type": "object",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. Outputs a base64-encoded representation of the hashed output. For example, `L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=`."
    },
    "AnnotationConfig": {
      "description": "Specifies how to store annotations during de-identification operation.",
      "properties": {
        "annotationStoreName": {
          "description": "The name of the annotation store, in the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}`). * The destination annotation store must be in the same project as the source data. De-identifying data across multiple projects is not supported. * The destination annotation store must exist when using DeidentifyDicomStore or DeidentifyFhirStore. DeidentifyDataset automatically creates the destination annotation store.",
          "type": "string"
        },
        "storeQuote": {
          "description": "If set to true, the sensitive texts are included in SensitiveTextAnnotation of Annotation.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AnnotationConfig"
    },
    "GoogleCloudHealthcareV1beta1FhirBigQueryDestination": {
      "type": "object",
      "description": "The configuration for exporting to BigQuery.",
      "id": "GoogleCloudHealthcareV1beta1FhirBigQueryDestination",
      "properties": {
        "schemaConfig": {
          "$ref": "SchemaConfig",
          "description": "The configuration for the exported BigQuery schema."
        },
        "writeDisposition": {
          "type": "string",
          "description": "Determines if existing data in the destination dataset is overwritten, appended to, or not written if the tables contain data. If a write_disposition is specified, the `force` parameter is ignored.",
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination tables are empty.",
            "Erase all existing data in the destination tables before writing the FHIR resources.",
            "Append data to the destination tables."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        },
        "datasetUri": {
          "description": "BigQuery URI to an existing dataset, up to 2000 characters long, in the format `bq://projectId.bqDatasetId`.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE."
        }
      }
    },
    "ParsedData": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "Segment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The content of an HL7v2 message in a structured format.",
      "id": "ParsedData"
    },
    "GoogleCloudHealthcareV1beta1FhirExportResourcesResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudHealthcareV1beta1FhirExportResourcesResponse",
      "description": "Response when all resources export successfully. This structure is included in the response to describe the detailed outcome after the operation finishes successfully."
    },
    "Attribute": {
      "properties": {
        "attributeDefinitionId": {
          "description": "Indicates the name of an attribute defined in the consent store.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the attribute. Must be an acceptable value as defined in the consent store. For example, if the consent store defines \"data type\" with acceptable values \"questionnaire\" and \"step-count\", when the attribute name is data type, this field must contain one of those values."
        }
      },
      "type": "object",
      "description": "An attribute value for a Consent or User data mapping. Each Attribute must have a corresponding AttributeDefinition in the consent store that defines the default and allowed values.",
      "id": "Attribute"
    },
    "SchemaPackage": {
      "id": "SchemaPackage",
      "type": "object",
      "properties": {
        "ignoreMinOccurs": {
          "type": "boolean",
          "description": "Flag to ignore all min_occurs restrictions in the schema. This means that incoming messages can omit any group, segment, field, component, or subcomponent."
        },
        "types": {
          "items": {
            "$ref": "Hl7TypesConfig"
          },
          "type": "array",
          "description": "Schema type definitions that are layered based on their VersionSources that match the incoming message. Type definitions present in higher indices override those in lower indices with the same type name if their VersionSources all match an incoming message."
        },
        "unexpectedSegmentHandling": {
          "type": "string",
          "description": "Determines how unexpected segments (segments not matched to the schema) are handled.",
          "enum": [
            "UNEXPECTED_SEGMENT_HANDLING_MODE_UNSPECIFIED",
            "FAIL",
            "SKIP",
            "PARSE"
          ],
          "enumDescriptions": [
            "Unspecified handling mode, equivalent to FAIL.",
            "Unexpected segments fail to parse and return an error.",
            "Unexpected segments do not fail, but are omitted from the output.",
            "Unexpected segments do not fail, but are parsed in place and added to the current group. If a segment has a type definition, it is used, otherwise it is parsed as VARIES."
          ]
        },
        "schemas": {
          "type": "array",
          "description": "Schema configs that are layered based on their VersionSources that match the incoming message. Schema configs present in higher indices override those in lower indices with the same message type and trigger event if their VersionSources all match an incoming message.",
          "items": {
            "$ref": "Hl7SchemaConfig"
          }
        },
        "schematizedParsingType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified schematized parsing type, equivalent to `SOFT_FAIL`.",
            "Messages that fail to parse are still stored and ACKed but a parser error is stored in place of the schematized data.",
            "Messages that fail to parse are rejected from ingestion/insertion and return an error code."
          ],
          "description": "Determines how messages that fail to parse are handled.",
          "enum": [
            "SCHEMATIZED_PARSING_TYPE_UNSPECIFIED",
            "SOFT_FAIL",
            "HARD_FAIL"
          ]
        }
      },
      "description": "A schema package contains a set of schemas and type definitions."
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "DeleteTag": {
      "properties": {},
      "type": "object",
      "id": "DeleteTag",
      "description": "Delete tag."
    },
    "SchemaSegment": {
      "properties": {
        "maxOccurs": {
          "description": "The maximum number of times this segment can be present in this group. 0 or -1 means unbounded.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "The Segment type. For example, \"PID\"."
        },
        "minOccurs": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of times this segment can be present in this group."
        }
      },
      "type": "object",
      "id": "SchemaSegment",
      "description": "An HL7v2 Segment."
    },
    "ConsentStore": {
      "type": "object",
      "description": "Represents a consent store.",
      "id": "ConsentStore",
      "properties": {
        "enableConsentCreateOnUpdate": {
          "type": "boolean",
          "description": "Optional. If `true`, UpdateConsent creates the Consent if it does not already exist. If unspecified, defaults to `false`."
        },
        "defaultConsentTtl": {
          "format": "google-duration",
          "description": "Optional. Default time to live for Consents created in this store. Must be at least 24 hours. Updating this field will not affect the expiration time of existing consents.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the consent store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}`. Cannot be changed after creation.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-supplied key-value pairs used to organize consent stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}. Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}. No more than 64 labels can be associated with a given store. For more information: https://cloud.google.com/healthcare/docs/how-tos/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CleanTextField": {
      "id": "CleanTextField",
      "description": "Inspect text and transform sensitive text. Configure using `TextConfig`. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Date, DateTime, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml",
      "properties": {},
      "type": "object"
    },
    "ListUserDataMappingsResponse": {
      "properties": {
        "userDataMappings": {
          "items": {
            "$ref": "UserDataMapping"
          },
          "type": "array",
          "description": "The returned User data mappings. The maximum number of User data mappings returned is determined by the value of page_size in the ListUserDataMappingsRequest."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListUserDataMappingsResponse",
      "type": "object"
    },
    "PatientId": {
      "id": "PatientId",
      "description": "A patient identifier and associated type.",
      "type": "object",
      "properties": {
        "type": {
          "description": "ID type. For example, MRN or NHS.",
          "type": "string"
        },
        "value": {
          "description": "The patient's unique identifier.",
          "type": "string"
        }
      }
    },
    "ConsentEvaluation": {
      "description": "The detailed evaluation of a particular Consent.",
      "type": "object",
      "id": "ConsentEvaluation",
      "properties": {
        "evaluationResult": {
          "type": "string",
          "enumDescriptions": [
            "No evaluation result specified. This option is invalid.",
            "The Consent is not applicable to the requested access determination. For example, the Consent does not apply to the user for which the access determination is requested, or it has a `state` of `REVOKED`, or it has expired.",
            "The Consent does not have a policy that matches the `resource_attributes` of the evaluated resource.",
            "The Consent has at least one policy that matches the `resource_attributes` of the evaluated resource, but no `authorization_rule` was satisfied.",
            "The Consent has at least one policy that matches the `resource_attributes` of the evaluated resource, and at least one `authorization_rule` was satisfied."
          ],
          "description": "The evaluation result.",
          "enum": [
            "EVALUATION_RESULT_UNSPECIFIED",
            "NOT_APPLICABLE",
            "NO_MATCHING_POLICY",
            "NO_SATISFIED_POLICY",
            "HAS_SATISFIED_POLICY"
          ]
        }
      }
    },
    "FilterList": {
      "id": "FilterList",
      "description": "List of infoTypes to be filtered.",
      "properties": {
        "infoTypes": {
          "description": "These infoTypes are based on after the `eval_info_type_mapping` and `golden_info_type_mapping`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DeidentifySummary": {
      "type": "object",
      "id": "DeidentifySummary",
      "description": "Contains a detailed summary of the Deidentify operation.",
      "properties": {}
    },
    "LinkedEntity": {
      "id": "LinkedEntity",
      "properties": {
        "entityId": {
          "description": "entity_id is a concept unique identifier. These are prefixed by a string that identifies the entity coding system, followed by the unique identifier within that system. For example, \"UMLS/C0000970\". This also supports ad hoc entities, which are formed by normalizing entity mention content.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "EntityMentions can be linked to multiple entities using a LinkedEntity message lets us add other fields, e.g. confidence."
    },
    "SchemaConfig": {
      "properties": {
        "schemaType": {
          "type": "string",
          "enumDescriptions": [
            "No schema type specified. This type is unsupported.",
            "A data-driven schema generated from the fields present in the FHIR data being exported, with no additional simplification.",
            "Analytics schema defined by the FHIR community. See https://github.com/FHIR/sql-on-fhir/blob/master/sql-on-fhir.md. BigQuery only allows a maximum of 10,000 columns per table. Due to this limitation, the server will not generate schemas for fields of type `Resource`, which can hold any resource type. The affected fields are `Parameters.parameter.resource`, `Bundle.entry.resource`, and `Bundle.entry.response.outcome`.",
            "Analytics V2, similar to schema defined by the FHIR community, with added support for extensions with one or more occurrences and contained resources in stringified JSON. Analytics V2 uses more space in the destination table than Analytics V1."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "LOSSLESS",
            "ANALYTICS",
            "ANALYTICS_V2"
          ],
          "description": "Specifies the output schema type. Schema type is required."
        },
        "recursiveStructureDepth": {
          "format": "int64",
          "type": "string",
          "description": "The depth for all recursive structures in the output analytics schema. For example, `concept` in the CodeSystem resource is a recursive structure; when the depth is 2, the CodeSystem table will have a column called `concept.concept` but not `concept.concept.concept`. If not specified or set to 0, the server will use the default value 2. The maximum depth allowed is 5."
        },
        "lastUpdatedPartitionConfig": {
          "description": "The configuration for exported BigQuery tables to be partitioned by FHIR resource's last updated time column.",
          "$ref": "TimePartitioning"
        }
      },
      "id": "SchemaConfig",
      "type": "object",
      "description": "Configuration for the FHIR BigQuery schema. Determines how the server generates the schema."
    },
    "ImportAnnotationsRequest": {
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1beta1AnnotationGcsSource"
        }
      },
      "id": "ImportAnnotationsRequest",
      "type": "object",
      "description": "Request to import Annotations. The Annotations to be imported must have client-supplied resource names which indicate the annotation resource. The import operation is not atomic. If a failure occurs, any annotations already imported are not removed."
    },
    "EvaluateAnnotationStoreResponse": {
      "properties": {},
      "description": "Response for successful Annotation store evaluation operations. This structure is included in the response upon operation completion.",
      "type": "object",
      "id": "EvaluateAnnotationStoreResponse"
    },
    "IngestMessageRequest": {
      "id": "IngestMessageRequest",
      "type": "object",
      "description": "Ingests a message into the specified HL7v2 store.",
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "HL7v2 message to ingest."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "GoogleCloudHealthcareV1beta1FhirGcsSource": {
      "id": "GoogleCloudHealthcareV1beta1FhirGcsSource",
      "type": "object",
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) to import. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * `*` to match 0 or more non-separator characters * `**` to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .ndjson), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.ndjson` imports all files with `.ndjson` extensions in `my-directory/` and its sub-directories. * `?` to match 1 character Files matching the wildcard are expected to contain content only, no metadata."
        }
      }
    },
    "BatchGetMessagesResponse": {
      "type": "object",
      "description": "Gets multiple messages in a specified HL7v2 store.",
      "id": "BatchGetMessagesResponse",
      "properties": {
        "messages": {
          "description": "The returned Messages. See `MessageView` for populated fields.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      }
    },
    "GcsSource": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) to import. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * `*` to match 0 or more non-separator characters * `**` to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .ndjson), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.ndjson` imports all files with `.ndjson` extensions in `my-directory/` and its sub-directories. * `?` to match 1 character Files matching the wildcard are expected to contain content only, no metadata."
        }
      },
      "type": "object",
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "id": "GcsSource"
    },
    "DeidentifyFhirStoreRequest": {
      "properties": {
        "config": {
          "description": "Deidentify configuration. Only one of `config` and `gcs_config_uri` can be specified.",
          "$ref": "DeidentifyConfig"
        },
        "gcsConfigUri": {
          "description": "Cloud Storage location to read the JSON cloud.healthcare.deidentify.DeidentifyConfig from, overriding the default config. Must be of the form `gs://{bucket_id}/path/to/object`. The Cloud Storage location must grant the Cloud IAM role `roles/storage.objectViewer` to the project's Cloud Healthcare Service Agent service account. Only one of `config` and `gcs_config_uri` can be specified.",
          "type": "string"
        },
        "skipModifiedResources": {
          "description": "If true, skips resources that are created or modified after the de-identify operation is created.",
          "type": "boolean"
        },
        "resourceFilter": {
          "description": "A filter specifying the resources to include in the output. If not specified, all resources are included in the output.",
          "$ref": "FhirFilter"
        },
        "destinationStore": {
          "type": "string",
          "description": "The name of the FHIR store to create and write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`. * The destination dataset must exist. * The source dataset and destination dataset must both reside in the same location. De-identifying data across multiple locations is not supported. * The destination FHIR store must exist. * The caller must have the healthcare.fhirResources.update permission to write to the destination FHIR store."
        }
      },
      "description": "Creates a new FHIR store with sensitive information de-identified.",
      "type": "object",
      "id": "DeidentifyFhirStoreRequest"
    },
    "SearchParameter": {
      "description": "Contains the versioned name and the URL for one SearchParameter.",
      "properties": {
        "canonicalUrl": {
          "type": "string",
          "description": "The canonical url of the search parameter resource."
        },
        "parameter": {
          "type": "string",
          "description": "The versioned name of the search parameter resource. The format is projects/{project-id}/locations/{location}/datasets/{dataset-id}/fhirStores/{fhirStore-id}/fhir/SearchParameter/{resource-id}/_history/{version-id} For fhir stores with disable_resource_versioning=true, the format is projects/{project-id}/locations/{location}/datasets/{dataset-id}/fhirStores/{fhirStore-id}/fhir/SearchParameter/{resource-id}/"
        }
      },
      "id": "SearchParameter",
      "type": "object"
    },
    "DeidentifiedStoreDestination": {
      "id": "DeidentifiedStoreDestination",
      "description": "Contains configuration for streaming de-identified FHIR export.",
      "type": "object",
      "properties": {
        "store": {
          "type": "string",
          "description": "The full resource name of a Cloud Healthcare FHIR store, for example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "config": {
          "$ref": "DeidentifyConfig",
          "description": "The configuration to use when de-identifying resources that are added to this store."
        }
      }
    },
    "GoogleCloudHealthcareV1beta1DicomBigQueryDestination": {
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1DicomBigQueryDestination",
      "description": "The BigQuery table where the server writes output.",
      "properties": {
        "tableUri": {
          "type": "string",
          "description": "BigQuery URI to a table, up to 2000 characters long, in the format `bq://projectId.bqDatasetId.tableId`"
        },
        "writeDisposition": {
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Determines whether the existing table in the destination is to be overwritten or appended to. If a write_disposition is specified, the `force` parameter is ignored.",
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination table is empty.",
            "Erase all existing data in the destination table before writing the instances.",
            "Append data to the destination table."
          ],
          "type": "string"
        },
        "force": {
          "description": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE.",
          "type": "boolean"
        }
      }
    },
    "AnnotationStore": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-supplied key-value pairs used to organize Annotation stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store."
        },
        "name": {
          "description": "Resource name of the Annotation store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AnnotationStore",
      "description": "An Annotation store that can store annotation resources such as labels and tags for text, image and audio."
    },
    "CleanDescriptorsOption": {
      "description": "This option is based on the DICOM Standard's [Clean Descriptors Option](http://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/sect_E.3.5.html), and the `CleanText` `Action` is applied to all the specified fields. When cleaning text, the process attempts to transform phrases matching any of the tags marked for removal (action codes D, Z, X, and U) in the [Basic Profile](http://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html). These contextual phrases are replaced with the token \"[CTX]\". This option uses an additional `InfoType` during inspection.",
      "type": "object",
      "properties": {},
      "id": "CleanDescriptorsOption"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "DateShiftField": {
      "type": "object",
      "properties": {},
      "description": "Shift the date by a randomized number of days. See [date shifting](https://cloud.google.com/dlp/docs/concepts-date-shifting) for more information. Supported [types](https://www.hl7.org/fhir/datatypes.html): Date, DateTime",
      "id": "DateShiftField"
    },
    "ListFhirStoresResponse": {
      "type": "object",
      "properties": {
        "fhirStores": {
          "items": {
            "$ref": "FhirStore"
          },
          "type": "array",
          "description": "The returned FHIR stores. Won't be more FHIR stores than the value of page_size in the request."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListFhirStoresResponse",
      "description": "Lists the FHIR stores in the given dataset."
    },
    "ReplaceWithInfoTypeConfig": {
      "type": "object",
      "properties": {},
      "id": "ReplaceWithInfoTypeConfig",
      "description": "When using the INSPECT_AND_TRANSFORM action, each match is replaced with the name of the info_type. For example, \"My name is Jane\" becomes \"My name is [PERSON_NAME].\" The TRANSFORM action is equivalent to redacting."
    },
    "ExportMessagesResponse": {
      "id": "ExportMessagesResponse",
      "type": "object",
      "properties": {},
      "description": "Final response for the export operation. This structure is included in the response to describe the detailed outcome."
    },
    "TextSpan": {
      "type": "object",
      "description": "A span of text in the provided document.",
      "id": "TextSpan",
      "properties": {
        "content": {
          "type": "string",
          "description": "The original text contained in this span."
        },
        "beginOffset": {
          "format": "int32",
          "description": "The unicode codepoint index of the beginning of this span.",
          "type": "integer"
        }
      }
    },
    "ImportResourcesRequest": {
      "description": "Request to import resources.",
      "type": "object",
      "id": "ImportResourcesRequest",
      "properties": {
        "contentStructure": {
          "description": "The content structure in the source location. If not specified, the server treats the input source files as BUNDLE.",
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "BUNDLE",
            "RESOURCE",
            "BUNDLE_PRETTY",
            "RESOURCE_PRETTY"
          ],
          "type": "string",
          "enumDescriptions": [
            "If the content structure is not specified, the default value `BUNDLE` is used.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a bundle that contains one or more resources.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a single resource.",
            "The entire file is one JSON bundle. The JSON can span multiple lines.",
            "The entire file is one JSON resource. The JSON can span multiple lines."
          ]
        },
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1beta1FhirGcsSource",
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location. The Healthcare Service Agent Each Cloud Storage object should be a text file that contains the format specified in ContentStructure."
        }
      }
    },
    "ListConsentStoresResponse": {
      "id": "ListConsentStoresResponse",
      "type": "object",
      "properties": {
        "consentStores": {
          "items": {
            "$ref": "ConsentStore"
          },
          "type": "array",
          "description": "The returned consent stores. The maximum number of stores returned is determined by the value of page_size in the ListConsentStoresRequest."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudHealthcareV1beta1FhirGcsDestination": {
      "id": "GoogleCloudHealthcareV1beta1FhirGcsDestination",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "type": "string",
          "description": "URI for a Cloud Storage directory where result files should be written (in the format `gs://{bucket-id}/{path/to/destination/dir}`). If there is no trailing slash, the service appends one when composing the object path. The Cloud Storage bucket referenced in `uri_prefix` must exist or an error occurs."
        }
      },
      "description": "The configuration for exporting to Cloud Storage."
    },
    "NotificationConfig": {
      "properties": {
        "sendForBulkImport": {
          "type": "boolean",
          "description": "Indicates whether or not to send Pub/Sub notifications on bulk import. Only supported for DICOM imports."
        },
        "pubsubTopic": {
          "type": "string",
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. PubsubMessage.Data contains the resource name. PubsubMessage.MessageId is the ID of this message. It is guaranteed to be unique within the topic. PubsubMessage.PublishTime is the time at which the message was published. Notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. Cloud Healthcare API service account must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification can't be published to Pub/Sub, errors are logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). If the number of errors exceeds a certain rate, some aren't submitted. Note that not all operations trigger notifications, see [Configuring Pub/Sub notifications](https://cloud.google.com/healthcare/docs/how-tos/pubsub) for specific details."
        }
      },
      "description": "Specifies where to send notifications upon changes to a data store.",
      "type": "object",
      "id": "NotificationConfig"
    },
    "ContextualDeidConfig": {
      "properties": {},
      "description": "The fields that aren't marked `Keep` or `CleanText` in the `BASIC` profile are collected into a contextual phrase list. For fields marked `CleanText`, the process attempts to transform phrases matching these contextual entries. These contextual phrases are replaced with the token \"[CTX]\". This feature uses an additional InfoType during inspection.",
      "id": "ContextualDeidConfig",
      "type": "object"
    },
    "RemoveField": {
      "id": "RemoveField",
      "description": "Remove field.",
      "type": "object",
      "properties": {}
    },
    "ListMessagesResponse": {
      "properties": {
        "hl7V2Messages": {
          "description": "The returned Messages. Won't be more Messages than the value of page_size in the request. See view for populated fields.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        }
      },
      "description": "Lists the messages in the specified HL7v2 store.",
      "id": "ListMessagesResponse",
      "type": "object"
    },
    "AttributeDefinition": {
      "description": "A client-defined consent attribute.",
      "type": "object",
      "properties": {
        "dataMappingDefaultValue": {
          "description": "Optional. Default value of the attribute in User data mappings. If no default value is specified, it defaults to an empty value. This field is only applicable to attributes of the category `RESOURCE`.",
          "type": "string"
        },
        "allowedValues": {
          "description": "Required. Possible values for the attribute. The number of allowed values must not exceed 500. An empty list is invalid. The list can only be expanded after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "category": {
          "enumDescriptions": [
            "No category specified. This option is invalid.",
            "Specify this category when this attribute describes the properties of resources. For example, data anonymity or data type.",
            "Specify this category when this attribute describes the properties of requests. For example, requester's role or requester's organization."
          ],
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE",
            "REQUEST"
          ],
          "description": "Required. The category of the attribute. The value of this field cannot be changed after creation."
        },
        "description": {
          "description": "Optional. A description of the attribute.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the Attribute definition, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/attributeDefinitions/{attribute_definition_id}`. Cannot be changed after creation."
        },
        "consentDefaultValues": {
          "description": "Optional. Default values of the attribute in Consents. If no default values are specified, it defaults to an empty value.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AttributeDefinition"
    },
    "DateShiftConfig": {
      "type": "object",
      "description": "Shift a date forward or backward in time by a random amount which is consistent for a given patient and crypto key combination.",
      "id": "DateShiftConfig",
      "properties": {
        "kmsWrapped": {
          "$ref": "KmsWrappedCryptoKey",
          "description": "KMS wrapped key. If `kms_wrapped` is not set, then `crypto_key` is used to calculate the date shift. If neither is set, a default key is generated for each de-identify operation. Must not be set if `crypto_key` is set."
        },
        "cryptoKey": {
          "type": "string",
          "description": "An AES 128/192/256 bit key. The date shift is computed based on this key and the patient ID. If the patient ID is empty for a DICOM resource, the date shift is computed based on this key and the study instance UID. If `crypto_key` is not set, then `kms_wrapped` is used to calculate the date shift. If neither is set, a default key is generated for each de-identify operation. Must not be set if `kms_wrapped` is set.",
          "format": "byte"
        }
      }
    },
    "ListAnnotationsResponse": {
      "properties": {
        "annotations": {
          "description": "The returned Annotations. Won't be more values than the value of page_size in the request. See `AnnotationView` in the request for populated fields.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAnnotationsResponse",
      "description": "Lists the Annotations in the specified Annotation store."
    },
    "ResetTag": {
      "description": "Reset tag to a placeholder value.",
      "type": "object",
      "id": "ResetTag",
      "properties": {}
    },
    "KeepExtensionsConfig": {
      "description": "The behaviour for handling FHIR extensions that aren't otherwise specified for de-identification. If provided, all extensions are preserved during de-identification by default. If unspecified, all extensions are removed during de-identification by default.",
      "id": "KeepExtensionsConfig",
      "type": "object",
      "properties": {}
    },
    "ExportDicomDataResponse": {
      "type": "object",
      "description": "Returns additional information in regards to a completed DICOM store export.",
      "properties": {},
      "id": "ExportDicomDataResponse"
    },
    "ListHl7V2StoresResponse": {
      "description": "Lists the HL7v2 stores in the given dataset.",
      "type": "object",
      "id": "ListHl7V2StoresResponse",
      "properties": {
        "hl7V2Stores": {
          "items": {
            "$ref": "Hl7V2Store"
          },
          "description": "The returned HL7v2 stores. Won't be more HL7v2 stores than the value of page_size in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "FhirStoreMetrics": {
      "description": "List of metrics for a given FHIR store.",
      "id": "FhirStoreMetrics",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the FHIR store to get metrics for, in the format `projects/{project_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "metrics": {
          "description": "List of FhirStoreMetric by resource type.",
          "type": "array",
          "items": {
            "$ref": "FhirStoreMetric"
          }
        }
      }
    },
    "AnnotationSource": {
      "id": "AnnotationSource",
      "type": "object",
      "description": "AnnotationSource holds the source information of the annotation.",
      "properties": {
        "cloudHealthcareSource": {
          "$ref": "CloudHealthcareSource",
          "description": "Cloud Healthcare API resource."
        }
      }
    },
    "Image": {
      "properties": {
        "rawBytes": {
          "format": "byte",
          "type": "string",
          "description": "Consent artifact content represented as a stream of bytes. This field is populated when returned in GetConsentArtifact response, but not included in CreateConsentArtifact and ListConsentArtifact response."
        },
        "gcsUri": {
          "type": "string",
          "description": "Input only. Points to a Cloud Storage URI containing the consent artifact content. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location. The consent artifact content at this URI is copied to a Cloud Storage location managed by the Cloud Healthcare API. Responses to fetching requests return the consent artifact content in raw_bytes."
        }
      },
      "type": "object",
      "description": "Raw bytes representing consent artifact content.",
      "id": "Image"
    },
    "RecurseTag": {
      "id": "RecurseTag",
      "type": "object",
      "properties": {},
      "description": "Recursively apply DICOM de-id to tags nested in a sequence. Supported [Value Representation] (http://dicom.nema.org/medical/dicom/2018e/output/chtml/part05/sect_6.2.html#table_6.2-1): SQ"
    },
    "TimePartitioning": {
      "properties": {
        "expirationMs": {
          "type": "string",
          "format": "int64",
          "description": "Number of milliseconds for which to keep the storage for a partition."
        },
        "type": {
          "description": "Type of partitioning.",
          "enumDescriptions": [
            "Default unknown time.",
            "Data partitioned by hour.",
            "Data partitioned by day.",
            "Data partitioned by month.",
            "Data partitioned by year."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "HOUR",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string"
        }
      },
      "description": "Configuration for FHIR BigQuery time-partitioned tables.",
      "id": "TimePartitioning",
      "type": "object"
    },
    "ArchiveUserDataMappingResponse": {
      "type": "object",
      "id": "ArchiveUserDataMappingResponse",
      "description": "Archives the specified User data mapping.",
      "properties": {}
    },
    "SearchResourcesRequest": {
      "type": "object",
      "id": "SearchResourcesRequest",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The FHIR resource type to search, such as Patient or Observation. For a complete list, see the FHIR Resource Index ([DSTU2](https://hl7.org/implement/standards/fhir/DSTU2/resourcelist.html), [STU3](https://hl7.org/implement/standards/fhir/STU3/resourcelist.html), [R4](https://hl7.org/implement/standards/fhir/R4/resourcelist.html))."
        }
      },
      "description": "Request to search the resources in the specified FHIR store."
    },
    "InfoTypeConfig": {
      "description": "Specifies how to use infoTypes for evaluation. For example, a user might only want to evaluate `PERSON`, `LOCATION`, and `AGE`.",
      "id": "InfoTypeConfig",
      "type": "object",
      "properties": {
        "ignoreList": {
          "$ref": "FilterList"
        },
        "strictMatching": {
          "type": "boolean",
          "description": "If `TRUE`, infoTypes described by `filter` are used for evaluation. Otherwise, infoTypes are not considered for evaluation. For example: * Annotated text: \"Toronto is a location\" * Finding 1: `{\"infoType\": \"PERSON\", \"quote\": \"Toronto\", \"start\": 0, \"end\": 7}` * Finding 2: `{\"infoType\": \"CITY\", \"quote\": \"Toronto\", \"start\": 0, \"end\": 7}` * Finding 3: `{}` * Ground truth: `{\"infoType\": \"LOCATION\", \"quote\": \"Toronto\", \"start\": 0, \"end\": 7}` When `strict_matching` is `TRUE`: * Finding 1: 1 false positive * Finding 2: 1 false positive * Finding 3: 1 false negative When `strict_matching` is `FALSE`: * Finding 1: 1 true positive * Finding 2: 1 true positive * Finding 3: 1 false negative"
        },
        "evaluateList": {
          "$ref": "FilterList"
        }
      }
    },
    "Vertex": {
      "type": "object",
      "id": "Vertex",
      "properties": {
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      },
      "description": "A 2D coordinate in an image. The origin is the top-left."
    },
    "CryptoHashField": {
      "properties": {},
      "description": "Replace field value with a hash of that value. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml",
      "type": "object",
      "id": "CryptoHashField"
    },
    "ValidationConfig": {
      "type": "object",
      "id": "ValidationConfig",
      "properties": {
        "disableProfileValidation": {
          "type": "boolean",
          "description": "Whether to disable profile validation for this FHIR store. Set this to true to disable checking incoming resources for conformance against StructureDefinitions in this FHIR store."
        },
        "disableFhirpathValidation": {
          "description": "Whether to disable FHIRPath validation for incoming resources. Set this to true to disable checking incoming resources for conformance against FHIRPath requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        },
        "disableRequiredFieldValidation": {
          "type": "boolean",
          "description": "Whether to disable required fields validation for incoming resources. Set this to true to disable checking incoming resources for conformance against required fields requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced."
        },
        "disableReferenceTypeValidation": {
          "description": "Whether to disable reference type validation for incoming resources. Set this to true to disable checking incoming resources for conformance against reference type requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced.",
          "type": "boolean"
        },
        "enabledImplementationGuides": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of ImplementationGuide URLs in this FHIR store that are used to configure the profiles to use for validation. For example, to use the US Core profiles for validation, set `enabled_implementation_guides` to `[\"http://hl7.org/fhir/us/core/ImplementationGuide/ig\"]`. If `enabled_implementation_guides` is empty or omitted, then incoming resources are only required to conform to the base FHIR profiles. Otherwise, a resource must conform to at least one profile listed in the `global` property of one of the enabled ImplementationGuides. The Cloud Healthcare API does not currently enforce all of the rules in a StructureDefinition. The following rules are supported: - min/max - minValue/maxValue - maxLength - type - fixed[x] - pattern[x] on simple types - slicing, when using \"value\" as the discriminator type When a URL cannot be resolved (for example, in a type assertion), the server does not return an error."
        }
      },
      "description": "Contains the configuration for FHIR profiles and validation."
    },
    "Options": {
      "type": "object",
      "id": "Options",
      "description": "Specifies additional options to apply to the base profile.",
      "properties": {
        "cleanImage": {
          "description": "Apply `Action.clean_image` to [`PixelData`](http://dicom.nema.org/medical/dicom/2018e/output/chtml/part06/chapter_6.html) as configured.",
          "$ref": "ImageConfig"
        },
        "primaryIds": {
          "enum": [
            "PRIMARY_IDS_OPTION_UNSPECIFIED",
            "KEEP",
            "REGEN"
          ],
          "description": "Set `Action` for [`StudyInstanceUID`, `SeriesInstanceUID`, `SOPInstanceUID`, and `MediaStorageSOPInstanceUID`](http://dicom.nema.org/medical/dicom/2018e/output/chtml/part06/chapter_6.html).",
          "type": "string",
          "enumDescriptions": [
            "No value provided. Default to the behavior specified by the base profile.",
            "Keep primary IDs.",
            "Regenerate primary IDs."
          ]
        },
        "cleanDescriptors": {
          "description": "Set Clean Descriptors Option.",
          "$ref": "CleanDescriptorsOption"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudHealthcareV1beta1FhirImportResourcesResponse": {
      "properties": {},
      "description": "Final response of importing resources. This structure is included in the response to describe the detailed outcome after the operation finishes successfully.",
      "id": "GoogleCloudHealthcareV1beta1FhirImportResourcesResponse",
      "type": "object"
    },
    "EvaluateUserConsentsRequest": {
      "type": "object",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Optional. Limit on the number of User data mappings to return in a single response. If not specified, 100 is used. May not be larger than 1000.",
          "format": "int32"
        },
        "requestAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The values of request attributes associated with this access request."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. Token to retrieve the next page of results, or empty to get the first page."
        },
        "userId": {
          "description": "Required. User ID to evaluate consents for.",
          "type": "string"
        },
        "responseView": {
          "type": "string",
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `data_id` and `consented` fields are populated in the response.",
            "All fields within the response are populated. When set to `FULL`, all `ACTIVE` Consents are evaluated even if a matching policy is found during evaluation."
          ],
          "description": "Optional. The view for EvaluateUserConsentsResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`.",
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        },
        "resourceAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The values of resource attributes associated with the resources being requested. If no values are specified, then all resources are queried."
        },
        "consentList": {
          "description": "Optional. Specific Consents to evaluate the access request against. These Consents must have the same `user_id` as the User data mappings being evalauted, must exist in the current `consent_store`, and must have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can be provided here. If unspecified, all `ACTIVE` unexpired Consents in the current `consent_store` will be evaluated.",
          "$ref": "ConsentList"
        }
      },
      "id": "EvaluateUserConsentsRequest",
      "description": "Evaluate a user's Consents for all matching User data mappings. Note: User data mappings are indexed asynchronously, causing slight delays between the time mappings are created or updated and when they are included in EvaluateUserConsents results."
    },
    "BoundingPoly": {
      "properties": {
        "label": {
          "type": "string",
          "description": "A description of this polygon."
        },
        "vertices": {
          "items": {
            "$ref": "Vertex"
          },
          "description": "List of the vertices of this polygon.",
          "type": "array"
        }
      },
      "id": "BoundingPoly",
      "description": "A bounding polygon for the detected image annotation.",
      "type": "object"
    },
    "ImageAnnotation": {
      "id": "ImageAnnotation",
      "properties": {
        "frameIndex": {
          "type": "integer",
          "format": "int32",
          "description": "0-based index of the image frame. For example, an image frame in a DICOM instance."
        },
        "boundingPolys": {
          "description": "The list of polygons outlining the sensitive regions in the image.",
          "type": "array",
          "items": {
            "$ref": "BoundingPoly"
          }
        }
      },
      "type": "object",
      "description": "Image annotation."
    },
    "ImportMessagesRequest": {
      "id": "ImportMessagesRequest",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GcsSource"
        }
      },
      "type": "object",
      "description": "Request to import messages."
    },
    "StreamConfig": {
      "type": "object",
      "id": "StreamConfig",
      "description": "Contains configuration for streaming FHIR export.",
      "properties": {
        "resourceTypes": {
          "description": "Supply a FHIR resource type (such as \"Patient\" or \"Observation\"). See https://www.hl7.org/fhir/valueset-resource-types.html for a list of all FHIR resource types. The server treats an empty list as an intent to stream all the supported resource types in this FHIR store.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigqueryDestination": {
          "description": "The destination BigQuery structure that contains both the dataset location and corresponding schema config. The output is organized in one table per resource type. The server reuses the existing tables (if any) that are named after the resource types, e.g. \"Patient\", \"Observation\". When there is no existing table for a given resource type, the server attempts to create one. When a table schema doesn't align with the schema config, either because of existing incompatible schema or out of band incompatible modification, the server does not stream in new data. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any resource mutation that generates more than 1 MB of BigQuery data will not be streamed. Results are written to BigQuery tables according to the parameters in BigQueryDestination.WriteDisposition. Different versions of the same resource are distinguishable by the meta.versionId and meta.lastUpdated columns. The operation (CREATE/UPDATE/DELETE) that results in the new version is recorded in the meta.tag. The tables contain all historical resource versions since streaming was enabled. For query convenience, the server also creates one view per table of the same name containing only the current resource version. The streamed data in the BigQuery dataset is not guaranteed to be completely unique. The combination of the id and meta.versionId columns should ideally identify a single unique row. But in rare cases, duplicates may exist. At query time, users may use the SQL select statement to keep only one of the duplicate rows given an id and meta.versionId pair. Alternatively, the server created view mentioned above also filters out duplicates. If a resource mutation cannot be streamed to BigQuery, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).",
          "$ref": "GoogleCloudHealthcareV1beta1FhirBigQueryDestination"
        },
        "deidentifiedStoreDestination": {
          "$ref": "DeidentifiedStoreDestination",
          "description": "The destination FHIR store for de-identified resources. After this field is added, all subsequent creates/updates/patches to the source store will be de-identified using the provided configuration and applied to the destination store. Importing resources to the source store will not trigger the streaming. If the source store already contains resources when this option is enabled, those resources will not be copied to the destination store unless they are subsequently updated. This may result in invalid references in the destination store. Before adding this config, you must grant the healthcare.fhirResources.update permission on the destination store to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/healthcare/docs/how-tos/permissions-healthcare-api-gcp-products#the_cloud_healthcare_service_agent). The destination store must set enable_update_create to true. The destination store must have disable_referential_integrity set to true. If a resource cannot be de-identified, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging))."
        }
      }
    },
    "ResourceAnnotation": {
      "id": "ResourceAnnotation",
      "type": "object",
      "description": "Resource level annotation.",
      "properties": {
        "label": {
          "type": "string",
          "description": "A description of the annotation record."
        }
      }
    },
    "ExportAnnotationsRequest": {
      "type": "object",
      "description": "Request to export Annotations. The export operation is not atomic. If a failure occurs, any annotations already exported are not removed.",
      "properties": {
        "bigqueryDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1AnnotationBigQueryDestination",
          "description": "The BigQuery output destination, which requires two IAM roles: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`."
        },
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1AnnotationGcsDestination",
          "description": "The Cloud Storage destination, which requires the `roles/storage.objectAdmin` Cloud IAM role."
        }
      },
      "id": "ExportAnnotationsRequest"
    },
    "ParserConfig": {
      "id": "ParserConfig",
      "description": "The configuration for the parser. It determines how the server parses the messages.",
      "properties": {
        "allowNullHeader": {
          "description": "Determines whether messages with no header are allowed.",
          "type": "boolean"
        },
        "schema": {
          "description": "Schemas used to parse messages in this store, if schematized parsing is desired.",
          "$ref": "SchemaPackage"
        },
        "segmentTerminator": {
          "format": "byte",
          "type": "string",
          "description": "Byte(s) to use as the segment terminator. If this is unset, '\\r' is used as segment terminator, matching the HL7 version 2 specification."
        },
        "version": {
          "enumDescriptions": [
            "Unspecified parser version, equivalent to V1.",
            "The `parsed_data` includes every given non-empty message field except the Field Separator (MSH-1) field. As a result, the parsed MSH segment starts with the MSH-2 field and the field numbers are off-by-one with respect to the HL7 standard.",
            "The `parsed_data` includes every given non-empty message field.",
            "This version is the same as V2, with the following change. The `parsed_data` contains unescaped escaped field separators, component separators, sub-component separators, repetition separators, escape characters, and truncation characters. If `schema` is specified, the schematized parser uses improved parsing heuristics compared to previous versions."
          ],
          "type": "string",
          "enum": [
            "PARSER_VERSION_UNSPECIFIED",
            "V1",
            "V2",
            "V3"
          ],
          "description": "Immutable. Determines the version of both the default parser to be used when `schema` is not given, as well as the schematized parser used when `schema` is specified. This field is immutable after HL7v2 store creation."
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "AnalyzeEntitiesResponse": {
      "properties": {
        "relationships": {
          "type": "array",
          "items": {
            "$ref": "EntityMentionRelationship"
          },
          "description": "relationships contains all the binary relationships that were identified between entity mentions within the provided document."
        },
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "The union of all the candidate entities that the entity_mentions in this response could link to. These are UMLS concepts or normalized mention content."
        },
        "entityMentions": {
          "description": "entity_mentions contains all the annotated medical entities that were mentioned in the provided document.",
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          }
        }
      },
      "description": "Includes recognized entity mentions and relationships between them.",
      "type": "object",
      "id": "AnalyzeEntitiesResponse"
    },
    "CreateMessageRequest": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "HL7v2 message."
        }
      },
      "description": "Creates a new message.",
      "id": "CreateMessageRequest"
    },
    "DicomConfig": {
      "properties": {
        "keepList": {
          "description": "List of tags to keep. Remove all other tags.",
          "$ref": "TagFilterList"
        },
        "removeList": {
          "$ref": "TagFilterList",
          "description": "List of tags to remove. Keep all other tags."
        },
        "skipIdRedaction": {
          "description": "If true, skip replacing StudyInstanceUID, SeriesInstanceUID, SOPInstanceUID, and MediaStorageSOPInstanceUID and leave them untouched. The Cloud Healthcare API regenerates these UIDs by default based on the DICOM Standard's reasoning: \"Whilst these UIDs cannot be mapped directly to an individual out of context, given access to the original images, or to a database of the original images containing the UIDs, it would be possible to recover the individual's identity.\" http://dicom.nema.org/medical/dicom/current/output/chtml/part15/sect_E.3.9.html",
          "type": "boolean"
        },
        "filterProfile": {
          "enum": [
            "TAG_FILTER_PROFILE_UNSPECIFIED",
            "MINIMAL_KEEP_LIST_PROFILE",
            "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE",
            "KEEP_ALL_PROFILE",
            "DEIDENTIFY_TAG_CONTENTS"
          ],
          "description": "Tag filtering profile that determines which tags to keep/remove.",
          "enumDescriptions": [
            "No tag filtration profile provided. Same as KEEP_ALL_PROFILE.",
            "Keep only the tags required to produce valid DICOM objects.",
            "Remove tags based on DICOM Standard's Attribute Confidentiality Basic Profile (DICOM Standard Edition 2018e) http://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html.",
            "Keep all tags.",
            "Inspect within tag contents and replace sensitive text. The process can be configured using the TextConfig. Applies to all tags with the following Value Representation names: AE, LO, LT, PN, SH, ST, UC, UT, DA, DT, AS"
          ],
          "type": "string"
        }
      },
      "id": "DicomConfig",
      "type": "object",
      "description": "Specifies the parameters needed for de-identification of DICOM stores."
    },
    "GoogleCloudHealthcareV1beta1DeidentifyFieldMetadata": {
      "type": "object",
      "description": "Specifies the FHIR paths to match and how to handle the de-identification of matching fields.",
      "id": "GoogleCloudHealthcareV1beta1DeidentifyFieldMetadata",
      "properties": {
        "dateShiftField": {
          "description": "Shift the date by a randomized number of days. See [date shifting](https://cloud.google.com/dlp/docs/concepts-date-shifting) for more information. Supported [types](https://www.hl7.org/fhir/datatypes.html): Date, DateTime",
          "$ref": "DateShiftField"
        },
        "removeField": {
          "description": "Remove the field.",
          "$ref": "RemoveField"
        },
        "cryptoHashField": {
          "description": "Replace field value with a hash of that value. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml",
          "$ref": "CryptoHashField"
        },
        "paths": {
          "description": "List of paths to FHIR fields to redact. Each path is a period-separated list where each component is either a field name or FHIR type name. All types begin with an upper case letter. For example, the resource field \"Patient.Address.city\", which uses a string type, can be matched by \"Patient.Address.String\". Path also supports partialkk matching. For example, \"Patient.Address.city\" can be matched by \"Address.city\" (Patient omitted). Partial matching and type matching can be combined, for example \"Patient.Address.city\" can be matched by \"Address.String\". For \"choice\" types (those defined in the FHIR spec with the form: field[x]), use two separate components. For example, \"deceasedAge.unit\" is matched by \"Deceased.Age.unit\". Supported [types](https://www.hl7.org/fhir/datatypes.html) are: AdministrativeGenderCode, Base64Binary, Boolean, Code, Date, DateTime, Decimal, HumanName, Id, Instant, Integer, LanguageCode, Markdown, Oid, PositiveInt, String, UnsignedInt, Uri, Uuid, Xhtml. The sub-type for HumanName (for example HumanName.given, HumanName.family) can be omitted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "characterMaskField": {
          "description": "Replace the field's value with a masking character. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml",
          "$ref": "CharacterMaskField"
        },
        "cleanTextField": {
          "description": "Inspect the field's text and transform sensitive text. Configure using `TextConfig`. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Date, DateTime, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml",
          "$ref": "CleanTextField"
        },
        "keepField": {
          "description": "Keep the field unchanged.",
          "$ref": "KeepField"
        }
      }
    },
    "InfoTypeTransformation": {
      "properties": {
        "cryptoHashConfig": {
          "$ref": "CryptoHashConfig",
          "description": "Config for crypto hash."
        },
        "characterMaskConfig": {
          "description": "Config for character mask.",
          "$ref": "CharacterMaskConfig"
        },
        "replaceWithInfoTypeConfig": {
          "description": "Config for replace with InfoType.",
          "$ref": "ReplaceWithInfoTypeConfig"
        },
        "dateShiftConfig": {
          "description": "Config for date shift.",
          "$ref": "DateShiftConfig"
        },
        "infoTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "`InfoTypes` to apply this transformation to. If this is not specified, this transformation becomes the default transformation, and is used for any `info_type` that is not specified in another transformation."
        },
        "redactConfig": {
          "$ref": "RedactConfig",
          "description": "Config for text redaction."
        }
      },
      "type": "object",
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "id": "InfoTypeTransformation"
    },
    "FieldMetadata": {
      "description": "Specifies FHIR paths to match, and how to handle de-identification of matching fields.",
      "type": "object",
      "id": "FieldMetadata",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of paths to FHIR fields to redact. Each path is a period-separated list where each component is either a field name or FHIR type name. All types begin with an upper case letter. For example, the resource field \"Patient.Address.city\", which uses a string type, can be matched by \"Patient.Address.String\". Path also supports partial matching. For example, \"Patient.Address.city\" can be matched by \"Address.city\" (Patient omitted). Partial matching and type matching can be combined. For example, \"Patient.Address.city\" can be matched by \"Address.String\". For \"choice\" types (those defined in the FHIR spec with the form: field[x]), use two separate components. For example, \"deceasedAge.unit\" is matched by \"Deceased.Age.unit\". Supported types are: AdministrativeGenderCode, Base64Binary, Boolean, Code, Date, DateTime, Decimal, HumanName, Id, Instant, Integer, LanguageCode, Markdown, Oid, PositiveInt, String, UnsignedInt, Uri, Uuid, Xhtml. The sub-type for HumanName(for example HumanName.given, HumanName.family) can be omitted."
        },
        "action": {
          "type": "string",
          "description": "Deidentify action for one field.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "TRANSFORM",
            "INSPECT_AND_TRANSFORM",
            "DO_NOT_TRANSFORM"
          ],
          "enumDescriptions": [
            "No action specified.",
            "Transform the entire field based on transformations specified in TextConfig. When the specified transformation cannot be applied to a field, RedactConfig is used. For example, a Crypto Hash transformation can't be applied to a FHIR Date field.",
            "Inspect and transform any found PHI. When `AnnotationConfig` is provided, annotations of PHI will be generated, except for Date and Datetime.",
            "Do not transform."
          ]
        }
      }
    },
    "VersionSource": {
      "id": "VersionSource",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value to match with the field. For example, \"My Application Name\" or \"2.3\".",
          "type": "string"
        },
        "mshField": {
          "description": "The field to extract from the MSH segment. For example, \"3.1\" or \"18[1].1\".",
          "type": "string"
        }
      },
      "description": "Describes a selector for extracting and matching an MSH field to a value."
    },
    "ActivateConsentRequest": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Timestamp in UTC of when this Consent is considered expired.",
          "format": "google-datetime"
        },
        "ttl": {
          "type": "string",
          "description": "The time to live for this Consent from when it is marked as active.",
          "format": "google-duration"
        },
        "consentArtifact": {
          "description": "Required. The resource name of the Consent artifact that contains documentation of the user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Activates the latest revision of the specified Consent by committing a new revision with `state` updated to `ACTIVE`. If the latest revision of the given Consent is in the `ACTIVE` state, no new revision is committed. A FAILED_PRECONDITION error occurs if the latest revision of the given consent is in the `REJECTED` or `REVOKED` state.",
      "id": "ActivateConsentRequest"
    },
    "EntityMention": {
      "properties": {
        "certaintyAssessment": {
          "$ref": "Feature",
          "description": "The certainty assessment of the entity mention. Its value is one of: LIKELY, SOMEWHAT_LIKELY, UNCERTAIN, SOMEWHAT_UNLIKELY, UNLIKELY, CONDITIONAL"
        },
        "temporalAssessment": {
          "$ref": "Feature",
          "description": "How this entity mention relates to the subject temporally. Its value is one of: CURRENT, CLINICAL_HISTORY, FAMILY_HISTORY, UPCOMING, ALLERGY"
        },
        "type": {
          "description": "The semantic type of the entity: UNKNOWN_ENTITY_TYPE, ALONE, ANATOMICAL_STRUCTURE, ASSISTED_LIVING, BF_RESULT, BM_RESULT, BM_UNIT, BM_VALUE, BODY_FUNCTION, BODY_MEASUREMENT, COMPLIANT, DOESNOT_FOLLOWUP, FAMILY, FOLLOWSUP, LABORATORY_DATA, LAB_RESULT, LAB_UNIT, LAB_VALUE, MEDICAL_DEVICE, MEDICINE, MED_DOSE, MED_DURATION, MED_FORM, MED_FREQUENCY, MED_ROUTE, MED_STATUS, MED_STRENGTH, MED_TOTALDOSE, MED_UNIT, NON_COMPLIANT, OTHER_LIVINGSTATUS, PROBLEM, PROCEDURE, PROCEDURE_RESULT, PROC_METHOD, REASON_FOR_NONCOMPLIANCE, SEVERITY, SUBSTANCE_ABUSE, UNCLEAR_FOLLOWUP.",
          "type": "string"
        },
        "confidence": {
          "description": "The model's confidence in this entity mention annotation. A number between 0 and 1.",
          "type": "number",
          "format": "double"
        },
        "linkedEntities": {
          "type": "array",
          "items": {
            "$ref": "LinkedEntity"
          },
          "description": "linked_entities are candidate ontological concepts that this entity mention may refer to. They are sorted by decreasing confidence."
        },
        "subject": {
          "$ref": "Feature",
          "description": "The subject this entity mention relates to. Its value is one of: PATIENT, FAMILY_MEMBER, OTHER"
        },
        "text": {
          "$ref": "TextSpan",
          "description": "text is the location of the entity mention in the document."
        },
        "mentionId": {
          "type": "string",
          "description": "mention_id uniquely identifies each entity mention in a single response."
        }
      },
      "id": "EntityMention",
      "type": "object",
      "description": "An entity mention in the document."
    },
    "FhirStore": {
      "id": "FhirStore",
      "description": "Represents a FHIR store.",
      "type": "object",
      "properties": {
        "notificationConfig": {
          "description": "If non-empty, publish all resource modifications of this FHIR store to this destination. The Pub/Sub message attributes contain a map with a string describing the action that has triggered the notification. For example, \"action\":\"CreateResource\". Deprecated. Use `notification_configs` instead.",
          "$ref": "NotificationConfig"
        },
        "enableUpdateCreate": {
          "description": "Whether this FHIR store has the [updateCreate capability](https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.updateCreate). This determines if the client can use an Update operation to create a new resource with a client-specified ID. If false, all IDs are server-assigned through the Create operation and attempts to update a non-existent resource return errors. It is strongly advised not to include or encode any sensitive data such as patient identifiers in client-specified resource IDs. Those IDs are part of the FHIR resource path recorded in Cloud audit logs and Pub/Sub notifications. Those IDs can also be contained in reference fields within other resources.",
          "type": "boolean"
        },
        "defaultSearchHandlingStrict": {
          "type": "boolean",
          "description": "If true, overrides the default search behavior for this FHIR store to `handling=strict` which returns an error for unrecognized search parameters. If false, uses the FHIR specification default `handling=lenient` which ignores unrecognized search parameters. The handling can always be changed from the default on an individual API call by setting the HTTP header `Prefer: handling=strict` or `Prefer: handling=lenient`."
        },
        "validationConfig": {
          "$ref": "ValidationConfig",
          "description": "Configuration for how to validate incoming FHIR resources against configured profiles."
        },
        "name": {
          "description": "Output only. Resource name of the FHIR store, of the form `projects/{project_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.",
          "type": "string"
        },
        "streamConfigs": {
          "items": {
            "$ref": "StreamConfig"
          },
          "type": "array",
          "description": "A list of streaming configs that configure the destinations of streaming export for every resource mutation in this FHIR store. Each store is allowed to have up to 10 streaming configs. After a new config is added, the next resource mutation is streamed to the new location in addition to the existing ones. When a location is removed from the list, the server stops streaming to that location. Before adding a new config, you must add the required [`bigquery.dataEditor`](https://cloud.google.com/bigquery/docs/access-control#bigquery.dataEditor) role to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/iam/docs/service-accounts). Some lag (typically on the order of dozens of seconds) is expected before the results show up in the streaming destination."
        },
        "disableResourceVersioning": {
          "description": "Immutable. Whether to disable resource versioning for this FHIR store. This field can not be changed after the creation of FHIR store. If set to false, which is the default behavior, all write operations cause historical versions to be recorded automatically. The historical versions can be fetched through the history APIs, but cannot be updated. If set to true, no historical versions are kept. The server sends errors for attempts to read the historical versions.",
          "type": "boolean"
        },
        "searchConfig": {
          "$ref": "SearchConfig",
          "description": "Configuration for how FHIR resources can be searched."
        },
        "labels": {
          "type": "object",
          "description": "User-supplied key-value pairs used to organize FHIR stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "DSTU2",
            "STU3",
            "R4"
          ],
          "enumDescriptions": [
            "VERSION_UNSPECIFIED is treated as STU3 to accommodate the existing FHIR stores.",
[...]
