{
  "servicePath": "",
  "description": "An API for managing Drive Labels",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version": "v2beta",
  "basePath": "",
  "canonicalName": "Drive Labels",
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "title": "Drive Labels API",
  "revision": "20230222",
  "resources": {
    "labels": {
      "resources": {
        "revisions": {
          "resources": {
            "permissions": {
              "methods": {
                "batchDelete": {
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "path": "v2beta/{+parent}/permissions:batchDelete",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent Label resource name shared by all permissions being deleted. Format: labels/{label} If this is set, the parent field in the UpdateLabelPermissionRequest messages must either be empty or match this field.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Deletes Label permissions. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchDelete"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "description": "Updates a Label's permissions. If a permission for the indicated principal doesn't exist, a new Label Permission is created, otherwise the existing permission is updated. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
                  "httpMethod": "POST",
                  "path": "v2beta/{+parent}/permissions",
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "parameters": {
                    "useAdminAccess": {
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
                      "type": "boolean"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent Label resource name on the Label Permission is created. Format: labels/{label}",
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions"
                },
                "list": {
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "path": "v2beta/{+parent}/permissions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists a Label's permissions.",
                  "parameters": {
                    "pageToken": {
                      "description": "The token of the page to return.",
                      "location": "query",
                      "type": "string"
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access."
                    },
                    "parent": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "description": "Required. The parent Label resource name on which Label Permission are listed. Format: labels/{label}",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions"
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "description": "Updates Label permissions. If a permission for the indicated principal doesn't exist, a new Label Permission is created, otherwise the existing permission is updated. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
                  },
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent Label resource name shared by all permissions being updated. Format: labels/{label} If this is set, the parent field in the UpdateLabelPermissionRequest messages must either be empty or match this field.",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "path": "v2beta/{+parent}/permissions:batchUpdate",
                  "httpMethod": "POST"
                },
                "delete": {
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "parameters": {
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. Label Permission resource name.",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v2beta/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a Label's permission. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing."
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
                  },
                  "description": "Lists the LabelLocks on a Label.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "description": "Required. Label on which Locks are applied. Format: labels/{label}",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The token of the page to return.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of Locks to return per page. Default: 100. Max: 200."
                    }
                  },
                  "id": "drivelabels.labels.revisions.locks.list",
                  "path": "v2beta/{+parent}/locks"
                }
              }
            }
          },
          "methods": {
            "updatePermissions": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "description": "Required. The parent Label resource name.",
                  "type": "string",
                  "location": "path"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.revisions.updatePermissions",
              "path": "v2beta/{+parent}/permissions",
              "description": "Updates a Label's permissions. If a permission for the indicated principal doesn't exist, a new Label Permission is created, otherwise the existing permission is updated. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
              "httpMethod": "PATCH"
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "id": "drivelabels.labels.locks.list",
              "path": "v2beta/{+parent}/locks",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
              },
              "description": "Lists the LabelLocks on a Label.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to return.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Label on which Locks are applied. Format: labels/{label}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^labels/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of Locks to return per page. Default: 100. Max: 200.",
                  "location": "query"
                }
              },
              "flatPath": "v2beta/labels/{labelsId}/locks"
            }
          }
        },
        "permissions": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a Label's permission. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
              "flatPath": "v2beta/labels/{labelsId}/permissions/{permissionsId}",
              "id": "drivelabels.labels.permissions.delete",
              "httpMethod": "DELETE",
              "path": "v2beta/{+name}",
              "parameters": {
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access."
                },
                "name": {
                  "pattern": "^labels/[^/]+/permissions/[^/]+$",
                  "location": "path",
                  "description": "Required. Label Permission resource name.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
              },
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.permissions.list",
              "parameters": {
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent Label resource name on which Label Permission are listed. Format: labels/{label}",
                  "location": "path",
                  "required": true,
                  "pattern": "^labels/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v2beta/{+parent}/permissions",
              "description": "Lists a Label's permissions."
            },
            "batchDelete": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent Label resource name shared by all permissions being deleted. Format: labels/{label} If this is set, the parent field in the UpdateLabelPermissionRequest messages must either be empty or match this field.",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v2beta/{+parent}/permissions:batchDelete",
              "id": "drivelabels.labels.permissions.batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes Label permissions. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchDelete"
            },
            "batchUpdate": {
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchUpdate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.permissions.batchUpdate",
              "description": "Updates Label permissions. If a permission for the indicated principal doesn't exist, a new Label Permission is created, otherwise the existing permission is updated. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent Label resource name shared by all permissions being updated. Format: labels/{label} If this is set, the parent field in the UpdateLabelPermissionRequest messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2beta/{+parent}/permissions:batchUpdate",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/permissions",
              "description": "Updates a Label's permissions. If a permission for the indicated principal doesn't exist, a new Label Permission is created, otherwise the existing permission is updated. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
              "id": "drivelabels.labels.permissions.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent Label resource name on the Label Permission is created. Format: labels/{label}"
                },
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access."
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "flatPath": "v2beta/labels/{labelsId}/permissions"
            }
          }
        }
      },
      "methods": {
        "updateLabelCopyMode": {
          "path": "v2beta/{+name}:updateLabelCopyMode",
          "description": "Updates a Label's `CopyMode`. Changes to this policy are not revisioned, do not require publishing, and take effect immediately.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the Label to update."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.updateLabelCopyMode",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest"
          },
          "flatPath": "v2beta/labels/{labelsId}:updateLabelCopyMode",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.delete",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a Label and related metadata on Drive Items. Once deleted, the Label and related Drive item metadata will be deleted. Only draft Labels, and disabled Labels may be deleted.",
          "path": "v2beta/{+name}",
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access."
            },
            "name": {
              "pattern": "^labels/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Label resource name.",
              "type": "string"
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision_id of the label that the write request will be applied to. If this is not the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v2beta/labels/{labelsId}"
        },
        "publish": {
          "description": "Publish all draft changes to the Label. Once published, the Label may not return to its draft state. See `google.apps.drive.labels.v2.Lifecycle` for more information. Publishing a Label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the Label will be rejected. For example, the following changes to a Label will be rejected after the Label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * Field.FieldType cannot be changed. * Changes to Field validation options cannot reject something that was previously accepted. * Reducing the max entries.",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "flatPath": "v2beta/labels/{labelsId}:publish",
          "id": "drivelabels.labels.publish",
          "httpMethod": "POST",
          "path": "v2beta/{+name}:publish",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "location": "path",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string"
            }
          }
        },
        "create": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "id": "drivelabels.labels.create",
          "parameterOrder": [],
          "path": "v2beta/labels",
          "flatPath": "v2beta/labels",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameters": {
            "useAdminAccess": {
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "location": "query"
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized Field labels in response. When not specified, values in the default configured language will be used.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Creates a new Label.",
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "flatPath": "v2beta/labels/{labelsId}",
          "description": "Get a label by its resource name. Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "httpMethod": "GET",
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "location": "path",
              "required": true
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "location": "query",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "type": "string"
            }
          },
          "id": "drivelabels.labels.get"
        },
        "disable": {
          "httpMethod": "POST",
          "id": "drivelabels.labels.disable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "path": "v2beta/{+name}:disable",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDisableLabelRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/labels/{labelsId}:disable",
          "description": "Disable a published Label. Disabling a Label will result in a new disabled published revision based on the current published revision. If there is a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`."
        },
        "enable": {
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "id": "drivelabels.labels.enable",
          "flatPath": "v2beta/labels/{labelsId}:enable",
          "path": "v2beta/{+name}:enable",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaEnableLabelRequest"
          },
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Enable a disabled Label and restore it to its published state. This will result in a new published revision based on the current disabled published revision. If there is an existing disabled draft revision, a new revision will be created based on that draft and will be enabled."
        },
        "delta": {
          "flatPath": "v2beta/labels/{labelsId}:delta",
          "path": "v2beta/{+name}:delta",
          "id": "drivelabels.labels.delta",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "description": "Required. The resource name of the Label to update.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
          },
          "description": "Updates a single Label by applying a set of update requests resulting in a new draft revision. The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive Items.",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v2beta/labels",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaListLabelsResponse"
          },
          "parameters": {
            "view": {
              "location": "query",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "type": "string",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ]
            },
            "publishedOnly": {
              "type": "boolean",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "location": "query"
            },
            "minimumRole": {
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "type": "string",
              "description": "Specifies the level of access the user must have on the returned Labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "location": "query"
            },
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all Labels within the customer.",
              "type": "boolean"
            },
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token of the page to return."
            }
          },
          "id": "drivelabels.labels.list",
          "description": "List labels.",
          "parameterOrder": [],
          "path": "v2beta/labels"
        },
        "updatePermissions": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
              "type": "boolean"
            },
            "parent": {
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The parent Label resource name."
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates a Label's permissions. If a permission for the indicated principal doesn't exist, a new Label Permission is created, otherwise the existing permission is updated. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
          "path": "v2beta/{+parent}/permissions",
          "parameterOrder": [
            "parent"
          ],
          "id": "drivelabels.labels.updatePermissions",
          "flatPath": "v2beta/labels/{labelsId}/permissions"
        }
      }
    },
    "users": {
      "methods": {
        "getCapabilities": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^users/[^/]+/capabilities$",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "location": "path"
            }
          },
          "id": "drivelabels.users.getCapabilities",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the user capabilities.",
          "flatPath": "v2beta/users/{usersId}/capabilities"
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "id": "drivelabels.limits.getLabel",
          "parameterOrder": [],
          "description": "Get the constraints on the structure of a Label; such as, the maximum number of Fields allowed and maximum length of the label title.",
          "flatPath": "v2beta/limits/label",
          "path": "v2beta/limits/label",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLimits"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "query",
              "description": "Required. Label revision resource name Must be: \"limits/label\"",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "id": "drivelabels:v2beta",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "documentationLink": "https://developers.google.com/drive/labels",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read related applied metadata on items."
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this choice on applied metadata."
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "type": "object",
      "description": "Limits for integer Field type.",
      "properties": {
        "minValue": {
          "format": "int64",
          "description": "Minimum value for an integer Field type.",
          "type": "string"
        },
        "maxValue": {
          "type": "string",
          "description": "Maximum value for an integer Field type.",
          "format": "int64"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "description": "Label constraints governing the structure of a Label; such as, the maximum number of Fields allowed and maximum length of the label title.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "maxDeletedFields": {
          "type": "integer",
          "description": "The maximum number of published Fields that can be deleted.",
          "format": "int32"
        },
        "fieldLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits",
          "description": "The limits for Fields."
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "format": "int32",
          "type": "integer"
        },
        "maxTitleLength": {
          "type": "integer",
          "description": "The maximum number of characters allowed for the title.",
          "format": "int32"
        },
        "maxDraftRevisions": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts."
        },
        "maxFields": {
          "format": "int32",
          "description": "The maximum number of Fields allowed within the label.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits"
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "type": "object",
      "description": "The capabilities related to this field on applied metadata.",
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits",
      "properties": {
        "maxDeletedChoices": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of deleted choices."
        },
        "maxIdLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum ID length for a selection options."
        },
        "listLimits": {
          "description": "Limits for list-variant of a Field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        },
        "maxDisplayNameLength": {
          "description": "Maximum length for display name.",
          "format": "int32",
          "type": "integer"
        },
        "maxChoices": {
          "format": "int32",
          "type": "integer",
          "description": "The max number of choices."
        }
      },
      "description": "Limits for selection Field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Choice to delete."
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The Selection Field from which a Choice will be deleted."
        }
      },
      "description": "Request to delete a Choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "description": "Response following Choice disable.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "disableTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label was disabled. This value has no meaning when the label is not disabled.",
          "readOnly": true
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN"
          ],
          "description": "Required. The type of label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features."
          ],
          "type": "string"
        },
        "revisionCreator": {
          "readOnly": true,
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label is not disabled."
        },
        "schemaCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
          "description": "Output only. The capabilities the user has on this label."
        },
        "fields": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          },
          "description": "List of fields in descending priority order.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this label was created.",
          "format": "google-datetime"
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below."
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this label on applied metadata."
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`"
        },
        "lifecycle": {
          "readOnly": true,
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this label was published. This value has no meaning when the label is not published."
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this label."
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label revision was created.",
          "readOnly": true,
          "type": "string"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true,
          "description": "Output only. The LockStatus of this label."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabel"
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "description": "Basic properties of the label.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "type": "object",
      "properties": {
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "description": "Updates a Choice within a Selection Field."
        },
        "updateField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
          "description": "Updates basic properties of a Field."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
          "description": "Update Field type and/or type options."
        },
        "enableField": {
          "description": "Enables Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a Choice from a Selection Field."
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "description": "Enables a Choice within a Selection Field."
        },
        "deleteField": {
          "description": "Deletes a Field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
          "description": "Disables Field."
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a new selection list option to add to a Selection Field."
        },
        "updateLabel": {
          "description": "Updated basic properties of a Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a new Field."
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "description": "Disables a Choice within a Selection Field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "description": "A single response from an update."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "description": "Request to disable the Field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "properties": {
        "id": {
          "description": "Required. Key of the Field to disable.",
          "type": "string"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "Required. Field Disabled Policy."
        }
      },
      "type": "object"
    },
    "GoogleTypeColor": {
      "properties": {
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "red": {
          "format": "float",
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "description": "Response for updating one or more Label Permissions.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Required. Permissions updated.",
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n)."
        }
      },
      "description": "Response following update to Selection Choice properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "properties": {
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this choice was updated last."
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true,
          "description": "Output only. The LockStatus of this choice."
        },
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this choice."
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
          "description": "Basic properties of the choice."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this choice was created."
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "disabler": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
        },
        "publishTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "description": "Selection field choice."
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "properties": {
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true
        },
        "minValue": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object",
      "properties": {
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "soloColor": {
          "readOnly": true,
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "readOnly": true,
          "description": "Output only. Badge background that pairs with the foreground.",
          "$ref": "GoogleTypeColor"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors"
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "type": "object",
      "description": "The capabilities a user has on this label's applied metadata.",
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "properties": {
        "canApply": {
          "type": "boolean",
          "description": "Whether the user can apply this label to items."
        },
        "canRemove": {
          "type": "boolean",
          "description": "Whether the user can remove this label from items."
        },
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "type": "object",
      "properties": {
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        },
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the field should be shown in the UI as disabled."
        }
      },
      "description": "UI display hints for rendering a field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "description": "Request to update a Choice properties.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The Selection Field to update.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The Choice to update."
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
          "description": "Required. The Choice properties to update."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as short-hand for updating every field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access."
        },
        "copyMode": {
          "description": "Required. Indicates how the applied Label, and Field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values are not copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      },
      "type": "object",
      "description": "Request to update the `CopyMode` of the given Label. Changes to this policy are not revisioned, do not require publishing, and take effect immediately. \\"
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "description": "Information about a user.",
      "type": "object",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the People API to get more information. For example, people/12345678.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserInfo"
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "properties": {
        "canViewPolicy": {
          "type": "boolean",
          "description": "True if the user is authorized to view the policy."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "description": "A description of a user's capabilities on a LabelLock.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        },
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        }
      },
      "description": "Response following Field create.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "properties": {
        "fieldId": {
          "description": "Required. The Selection Field in which a Choice will be created.",
          "type": "string"
        },
        "choice": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
          "description": "Required. The Choice to create."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "type": "object",
      "description": "Request to create a Selection Choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "properties": {},
      "type": "object",
      "description": "Response following Field enable."
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "description": "Maximum number of values allowed for the Field type.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Limits for list-variant of a Field type."
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "type": "object",
      "description": "Behavior of this label when it's applied to Drive items.",
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values are not copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "description": "A single kind of update to apply to a Label.",
      "type": "object",
      "properties": {
        "updateField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
          "description": "Updates basic properties of a Field."
        },
        "enableField": {
          "description": "Enables the Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "disableField": {
          "description": "Disables the Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "createSelectionChoice": {
          "description": "Creates Choice within a Selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
          "description": "Deletes a Field from the label."
        },
        "deleteSelectionChoice": {
          "description": "Delete a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "createField": {
          "description": "Creates a new Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "description": "Update a Choice properties within a Selection Field."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
          "description": "Update Field type and/or type options."
        },
        "updateLabel": {
          "description": "Updates the Label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "type": "object",
      "description": "UI display hints for rendering the label.",
      "properties": {
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "description": "Order to display label in a list.",
          "type": "string",
          "format": "int64"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "type": "object",
      "description": "Response following update to Field type.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "description": "Response for listing the permissions on a Label.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelPermissions": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Label permissions.",
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "properties": {
        "priorityOverride": {
          "type": "string",
          "format": "int64",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used."
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
        }
      },
      "description": "Badge status of the label."
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "type": "object",
      "properties": {
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        },
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "type": "object",
      "properties": {},
      "description": "Response following update to Label properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "id": "GoogleAppsDriveLabelsV2betaWriteControl",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision_id of the label that the write request will be applied to. If this is not the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      },
      "type": "object",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins."
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "properties": {
        "selectionLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits",
          "description": "Selection Field limits."
        },
        "userLimits": {
          "description": "User Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "type": "integer",
          "description": "Limits for Field title."
        },
        "dateLimits": {
          "description": "Date Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        },
        "maxIdLength": {
          "format": "int32",
          "description": "Max length for the id.",
          "type": "integer"
        },
        "textLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits",
          "description": "The relevant limits for the specified Field.Type. Text Field limits."
        },
        "integerLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits",
          "description": "Integer Field limits."
        },
        "longTextLimits": {
          "description": "Long text Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        },
        "maxDescriptionLength": {
          "description": "Limits for Field description, also called help text.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "description": "Field constants governing the structure of a Field; such as, the maximum title length, minimum and maximum field values or length, etc."
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "description": "Updates one or more Label Permissions.",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access. If this is set, the use_admin_access field in the UpdateLabelPermissionRequest messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "type": "object",
      "properties": {
        "locked": {
          "readOnly": true,
          "description": "Output only. Indicates whether this label component is the (direct) target of a LabelLock. A label component can be implicitly locked even if it's not the direct target of a LabelLock, in which case this field is set to false.",
          "type": "boolean"
        }
      },
      "description": "Contains information about whether a label component should be considered locked.",
      "id": "GoogleAppsDriveLabelsV2betaLockStatus"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "type": "object",
      "description": "UI display hints for rendering an option.",
      "properties": {
        "badgePriority": {
          "format": "int64",
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority."
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This option should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "properties": {
        "maxValue": {
          "readOnly": true,
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        },
        "dateFormatType": {
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "type": "string"
        },
        "minValue": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. Minimum valid value (year, month, day)."
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Options for the date field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "description": "Request to change the type of a Field.",
      "properties": {
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
          "description": "Update field to Text."
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as short-hand for updating every field."
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Update field to Integer."
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "id": {
          "description": "Required. The Field to update.",
          "type": "string"
        },
        "longTextOptions": {
          "description": "Update field to Long Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLongTextOptions"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      },
      "description": "Request to create a Field within a Label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "properties": {
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this choice."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "properties": {
        "badgeConfig": {
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig",
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\"."
        },
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        }
      },
      "description": "Basic properties of the choice.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "type": "object",
      "description": "Request to update Field properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "properties": {
        "properties": {
          "description": "Required. Basic Field properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "id": {
          "description": "Required. The Field to update.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as short-hand for updating every field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Minimum value for the date Field type."
        },
        "maxValue": {
          "$ref": "GoogleTypeDate",
          "description": "Maximum value for the date Field type."
        }
      },
      "type": "object",
      "description": "Limits for date Field type.",
      "id": "GoogleAppsDriveLabelsV2betaDateLimits"
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "description": "The capabilities of a user.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities."
        },
        "canCreateAdminLabels": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create new admin labels."
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true,
          "type": "boolean"
        },
        "canCreateSharedLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create new shared labels.",
          "type": "boolean"
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelLocks": {
          "description": "LabelLocks.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          },
          "type": "array"
        }
      },
      "description": "The response to a ListLabelLocksRequest.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "description": "Response following Field delete.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "description": "Options for the user field type.",
      "type": "object",
      "properties": {
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions",
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "The policy that governs how to show a disabled label, field, or selection choice."
        },
        "state": {
          "description": "Output only. The state of the object associated with this lifecycle.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ]
        },
        "hasUnpublishedChanges": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes."
        }
      },
      "type": "object",
[...]
