{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "id": "localservices:v1",
  "canonicalName": "Localservices",
  "title": "Local Services API",
  "rootUrl": "https://localservices.googleapis.com/",
  "name": "localservices",
  "basePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "version": "v1",
  "baseUrl": "https://localservices.googleapis.com/",
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "id": "localservices.detailedLeadReports.search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "flatPath": "v1/detailedLeadReports:search",
          "parameters": {
            "endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "endDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "location": "query"
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "type": "string"
            },
            "startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "location": "query"
            },
            "startDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "location": "query",
              "type": "string"
            },
            "startDate.month": {
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "v1/detailedLeadReports:search",
          "parameterOrder": [],
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET"
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameters": {
            "endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "type": "string"
            },
            "startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "endDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "startDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "endDate.day": {
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "type": "integer"
            }
          },
          "id": "localservices.accountReports.search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/accountReports:search",
          "path": "v1/accountReports:search",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "parameterOrder": []
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "properties": {
        "aggregatorProviderId": {
          "type": "string",
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system."
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "description": "Container for booking lead specific information.",
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "type": "string",
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "properties": {
        "detailedLeadReports": {
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        }
      },
      "id": "GoogleTypeTimeZone"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "description": "Container for message lead specific information.",
      "properties": {
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object",
      "properties": {
        "bookingLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "description": "More information associated to only booking leads."
        },
        "messageLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
          "description": "More information associated to only message leads."
        },
        "leadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        },
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "accountId": {
          "description": "Identifies account that received the lead.",
          "format": "int64",
          "type": "string"
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "chargeStatus": {
          "description": "Whether the lead has been charged.",
          "type": "string",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ]
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "leadCreationTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when the lead was created."
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "disputeStatus": {
          "type": "string",
          "description": "Dispute status related to the lead."
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "leadPrice": {
          "format": "double",
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number"
        },
        "leadType": {
          "description": "Lead type.",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ]
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          }
        }
      },
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "object",
      "properties": {
        "previousPeriodChargedLeads": {
          "type": "string",
          "description": "Number of charged leads the account received in previous specified period.",
          "format": "int64"
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of the GLS account."
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "averageFiveStarRating": {
          "description": "Average review rating score from 1-5 stars.",
          "format": "double",
          "type": "number"
        },
        "currentPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "type": "number"
        },
        "impressionsLastTwoDays": {
          "format": "int64",
          "type": "string",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "previousPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "totalReview": {
          "format": "int32",
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer"
        },
        "currentPeriodConnectedPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the account."
        },
        "previousPeriodConnectedPhoneCalls": {
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "type": "string"
        },
        "previousPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "averageWeeklyBudget": {
          "format": "double",
          "description": "Average weekly budget in the currency code of the account.",
          "type": "number"
        }
      },
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "type": "object",
      "description": "Container for phone lead specific information.",
      "properties": {
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the phone lead."
        },
        "chargedConnectedCallDurationSeconds": {
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds.",
          "type": "string"
        },
        "chargedCallTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the phone call which resulted in a charged phone lead."
        }
      }
    }
  },
  "revision": "20230228"
}
