{
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "revision": "20230228",
  "baseUrl": "https://localservices.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "canonicalName": "Localservices",
  "id": "localservices:v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "localservices",
  "basePath": "",
  "rootUrl": "https://localservices.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "id": "localservices.detailedLeadReports.search",
          "path": "v1/detailedLeadReports:search",
          "parameterOrder": [],
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "flatPath": "v1/detailedLeadReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "endDate.day": {
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "type": "integer"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required."
            },
            "endDate.month": {
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32"
            },
            "startDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query"
            },
            "endDate.year": {
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            },
            "startDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "startDate.month": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "path": "v1/accountReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "flatPath": "v1/accountReports:search",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "type": "string"
            },
            "endDate.day": {
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "format": "int32"
            },
            "endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer"
            },
            "endDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "startDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "location": "query"
            },
            "startDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "startDate.year": {
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            }
          },
          "id": "localservices.accountReports.search",
          "httpMethod": "GET",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "Local Services API",
  "version": "v1",
  "version_module": true,
  "description": "",
  "protocol": "rest",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "type": "object",
      "properties": {
        "chargedConnectedCallDurationSeconds": {
          "description": "Duration of the charged phone call in seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the phone lead."
        },
        "chargedCallTimestamp": {
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "description": "Container for phone lead specific information."
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "type": "object",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        },
        "accountReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "type": "array"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        }
      },
      "description": "Container for message lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "detailedLeadReports": {
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "type": "object",
      "properties": {
        "consumerEmail": {
          "type": "string",
          "description": "Consumer email associated with the booking lead."
        },
        "bookingAppointmentTimestamp": {
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        }
      },
      "description": "Container for booking lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object",
      "properties": {
        "aggregatorProviderId": {
          "type": "string",
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system."
        }
      },
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "properties": {
        "totalReview": {
          "description": "Total number of reviews the account has up to current date.",
          "format": "int32",
          "type": "integer"
        },
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "impressionsLastTwoDays": {
          "type": "string",
          "format": "int64",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "accountId": {
          "format": "int64",
          "description": "Unique identifier of the GLS account.",
          "type": "string"
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "currentPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "averageWeeklyBudget": {
          "description": "Average weekly budget in the currency code of the account.",
          "type": "number",
          "format": "double"
        },
        "previousPeriodPhoneCalls": {
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "type": "string",
          "format": "int64"
        },
        "averageFiveStarRating": {
          "type": "number",
          "format": "double",
          "description": "Average review rating score from 1-5 stars."
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number"
        },
        "previousPeriodChargedLeads": {
          "description": "Number of charged leads the account received in previous specified period.",
          "format": "int64",
          "type": "string"
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "properties": {
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "leadType": {
          "description": "Lead type.",
          "type": "string",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ]
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "leadPrice": {
          "type": "number",
          "format": "double",
          "description": "Price of the lead (available only after it has been charged)."
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "disputeStatus": {
          "type": "string",
          "description": "Dispute status related to the lead."
        },
        "messageLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
          "description": "More information associated to only message leads."
        },
        "chargeStatus": {
          "type": "string",
          "description": "Whether the lead has been charged.",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ]
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code."
        },
        "leadCreationTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when the lead was created."
        },
        "leadId": {
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report.",
          "type": "string"
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "accountId": {
          "description": "Identifies account that received the lead.",
          "type": "string",
          "format": "int64"
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        }
      }
    }
  }
}
