{
  "ownerName": "Google",
  "id": "games:v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "schemas": {
    "EndPoint": {
      "id": "EndPoint",
      "type": "object",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      },
      "description": "Container for a URL end point of the requested type."
    },
    "EventDefinitionListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          },
          "description": "The event definitions."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "type": "object",
      "id": "EventDefinitionListResponse",
      "description": "A ListDefinitions response."
    },
    "EventUpdateResponse": {
      "description": "An event period update resource.",
      "type": "object",
      "properties": {
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        },
        "batchFailures": {
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array"
        }
      },
      "id": "EventUpdateResponse"
    },
    "LeaderboardEntry": {
      "properties": {
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreRank": {
          "type": "string",
          "description": "The rank of this score for this leaderboard.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        },
        "formattedScore": {
          "type": "string",
          "description": "The localized string for the numerical value of this score."
        },
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "writeTimestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "player": {
          "$ref": "Player",
          "description": "The player who holds this score."
        },
        "timeSpan": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span of this high score.",
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Leaderboard Entry resource.",
      "id": "LeaderboardEntry"
    },
    "PlayerScoreListResponse": {
      "description": "A list of score submission statuses.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "type": "array",
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        }
      },
      "id": "PlayerScoreListResponse"
    },
    "PlayerAchievement": {
      "properties": {
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "type": "string"
        },
        "achievementState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps for an incremental achievement.",
          "type": "integer"
        }
      },
      "id": "PlayerAchievement",
      "type": "object",
      "description": "An achievement object."
    },
    "AchievementRevealResponse": {
      "description": "An achievement reveal response",
      "id": "AchievementRevealResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        },
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enum": [
            "REVEAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        }
      }
    },
    "Snapshot": {
      "properties": {
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "enum": [
            "SNAPSHOT_TYPE_UNSPECIFIED",
            "SAVE_GAME"
          ],
          "type": "string",
          "description": "The type of this snapshot.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A snapshot representing a save game."
          ]
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "lastModifiedMillis": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot."
        }
      },
      "id": "Snapshot",
      "type": "object",
      "description": "An snapshot object."
    },
    "EventPeriodRange": {
      "properties": {
        "periodStartMillis": {
          "format": "int64",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodEndMillis": {
          "type": "string",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "An event period time range.",
      "id": "EventPeriodRange"
    },
    "EventDefinition": {
      "properties": {
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "imageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the event."
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "visibility": {
          "type": "string",
          "description": "The visibility of event being tracked in this definition.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "EVENT_VISIBILITY_UNSPECIFIED",
            "REVEALED",
            "HIDDEN"
          ]
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An event definition resource.",
      "id": "EventDefinition"
    },
    "PlayerEventListResponse": {
      "id": "PlayerEventListResponse",
      "type": "object",
      "description": "A ListByPlayer response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events.",
          "type": "array"
        }
      }
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "churn_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "high_spender_probability": {
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "spend_probability": {
          "type": "number",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "num_sessions": {
          "type": "integer",
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "avg_session_length_minutes": {
          "type": "number",
          "format": "float",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "total_spend_next_28_days": {
          "type": "number",
          "format": "float",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "num_purchases": {
          "type": "integer",
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        }
      },
      "id": "StatsResponse"
    },
    "EventBatchRecordFailure": {
      "type": "object",
      "id": "EventBatchRecordFailure",
      "properties": {
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "failureCause": {
          "enum": [
            "EVENT_FAILURE_CAUSE_UNSPECIFIED",
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "type": "string",
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        }
      },
      "description": "A batch update failure resource."
    },
    "Player": {
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "friendStatus": {
          "enum": [
            "FRIEND_STATUS_UNSPECIFIED",
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        }
      },
      "id": "Player"
    },
    "AchievementSetStepsAtLeastResponse": {
      "id": "AchievementSetStepsAtLeastResponse",
      "type": "object",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        }
      },
      "description": "An achievement set steps at least response."
    },
    "AchievementUpdateMultipleRequest": {
      "type": "object",
      "description": "A list of achievement update requests.",
      "properties": {
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`."
        }
      },
      "id": "AchievementUpdateMultipleRequest"
    },
    "LeaderboardListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects."
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "id": "EventRecordRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
        },
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "timePeriods": {
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request.",
          "type": "array"
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CategoryListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories with usage data.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A third party list metagame categories response.",
      "id": "CategoryListResponse"
    },
    "InstanceIosDetails": {
      "description": "The iOS details resource.",
      "id": "InstanceIosDetails",
      "properties": {
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        },
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        }
      },
      "type": "object"
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        },
        "failureCause": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not use.",
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "enum": [
            "EVENT_UPDATE_FAILURE_CAUSE_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "description": "The cause for the update failure."
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        }
      },
      "description": "An event update failure resource."
    },
    "PlayerEvent": {
      "description": "An event status resource.",
      "type": "object",
      "properties": {
        "numEvents": {
          "type": "string",
          "format": "int64",
          "description": "The current number of times this event has occurred."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        },
        "formattedNumEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        }
      },
      "id": "PlayerEvent"
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "properties": {
        "order": {
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "description": "How scores are ordered.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Leaderboard resource."
    },
    "SnapshotImage": {
      "type": "object",
      "id": "SnapshotImage",
      "description": "An image of a snapshot.",
      "properties": {
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the image."
        },
        "url": {
          "type": "string",
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "description": "The height of the image.",
          "format": "int32"
        },
        "mime_type": {
          "type": "string",
          "description": "The MIME type of the image."
        }
      }
    },
    "PlayerExperienceInfo": {
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "id": "PlayerExperienceInfo",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string"
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        }
      }
    },
    "EventUpdateRequest": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "updateCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times this event occurred in this time period."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        }
      },
      "description": "An event period update resource.",
      "id": "EventUpdateRequest"
    },
    "PlayerScore": {
      "id": "PlayerScore",
      "type": "object",
      "properties": {
        "timeSpan": {
          "description": "The time span for this player score.",
          "type": "string",
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "score": {
          "type": "string",
          "description": "The numerical value for this player score.",
          "format": "int64"
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted score for this player score."
        }
      },
      "description": "A player score."
    },
    "ScoreSubmission": {
      "id": "ScoreSubmission",
      "type": "object",
      "description": "A request to submit a score to leaderboards.",
      "properties": {
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "score": {
          "description": "The new score being submitted.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AchievementUnlockResponse": {
      "description": "An achievement unlock response",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "id": "AchievementUnlockResponse",
      "type": "object"
    },
    "LeaderboardScores": {
      "type": "object",
      "id": "LeaderboardScores",
      "description": "A ListScores response.",
      "properties": {
        "playerScore": {
          "$ref": "LeaderboardEntry",
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
        },
        "items": {
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "description": "The scores in the leaderboard.",
          "type": "array"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The pagination token for the previous page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "numScores": {
          "type": "string",
          "description": "The total number of scores in the leaderboard.",
          "format": "int64"
        }
      }
    },
    "SnapshotListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        }
      },
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response."
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "properties": {
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`."
        },
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        },
        "iosInstance": {
          "$ref": "InstanceIosDetails",
          "description": "Platform dependent details for iOS."
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should be unused.",
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "description": "The platform type."
        }
      },
      "description": "The Instance resource."
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "revisionStatus": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "enum": [
            "REVISION_STATUS_UNSPECIFIED",
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "description": "The result of the revision check."
        }
      },
      "description": "A third party checking a revision response."
    },
    "GamesAchievementIncrement": {
      "type": "object",
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string"
        },
        "steps": {
          "format": "int32",
          "description": "The number of steps to be incremented.",
          "type": "integer"
        }
      }
    },
    "PlayerScoreSubmissionList": {
      "description": "A list of score submission requests.",
      "properties": {
        "scores": {
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        }
      },
      "id": "PlayerScoreSubmissionList",
      "type": "object"
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "type": "object",
      "properties": {
        "player": {
          "$ref": "Player",
          "description": "The Player resources for the owner of this score."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of player leaderboard scores."
    },
    "GamesAchievementSetStepsAtLeast": {
      "type": "object",
      "id": "GamesAchievementSetStepsAtLeast",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "steps": {
          "format": "int32",
          "description": "The minimum number of steps for the achievement to be set to.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
        }
      }
    },
    "EventChild": {
      "id": "EventChild",
      "description": "An event child relationship resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerAchievementListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of achievement objects.",
      "id": "PlayerAchievementListResponse",
      "type": "object"
    },
    "ApplicationCategory": {
      "type": "object",
      "id": "ApplicationCategory",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        },
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        }
      },
      "description": "An application category object."
    },
    "Application": {
      "type": "object",
      "properties": {
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "assets": {
          "description": "The assets of the application.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "type": "integer",
          "format": "int32"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application."
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "leaderboard_count": {
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "format": "int64",
          "type": "string"
        },
        "enabledFeatures": {
          "type": "array",
          "items": {
            "enum": [
              "APPLICATION_FEATURE_UNSPECIFIED",
              "SNAPSHOTS"
            ],
            "enumDescriptions": [
              "Safe default, don't use.",
              "Saved Games (snapshots)."
            ],
            "type": "string"
          },
          "description": "A list of features that have been enabled for the application."
        }
      },
      "id": "Application",
      "description": "The Application resource."
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "type": "object",
      "properties": {
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "unbeatenScores": {
          "type": "array",
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          }
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "enum": [
              "SCORE_TIME_SPAN_UNSPECIFIED",
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ]
          }
        }
      },
      "description": "A list of leaderboard entry resources."
    },
    "EventPeriodUpdate": {
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`."
        },
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "type": "array",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        }
      },
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          }
        }
      },
      "description": "A list of achievement definition objects.",
      "type": "object"
    },
    "MetagameConfig": {
      "properties": {
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "format": "int32",
          "type": "integer"
        },
        "playerLevels": {
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array",
          "description": "The list of player levels."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
        }
      },
      "description": "The metagame config resource",
      "type": "object",
      "id": "MetagameConfig"
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "description": "An achievement definition object.",
      "properties": {
        "experiencePoints": {
          "type": "string",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "format": "int64"
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "enum": [
            "INITIAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "totalSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The total steps for an incremental achievement."
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement.",
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string"
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "description": "A third party application verification response resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "id": "ApplicationVerifyResponse",
      "type": "object"
    },
    "AchievementUpdateResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "currentState": {
          "enum": [
            "UPDATED_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The current state of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is was applied to."
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps recorded for this achievement if it is incremental.",
          "type": "integer"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Whether the requested updates actually affected the achievement."
        }
      },
      "description": "An updated achievement.",
      "id": "AchievementUpdateResponse"
    },
    "InstanceAndroidDetails": {
      "id": "InstanceAndroidDetails",
      "type": "object",
      "description": "The Android instance details resource.",
      "properties": {
        "enablePiracyCheck": {
          "type": "boolean",
          "description": "Flag indicating whether the anti-piracy check is enabled."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        },
        "packageName": {
          "type": "string",
          "description": "Android package name which maps to Google Play URL."
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      }
    },
    "PlayerListResponse": {
      "description": "A third party player list response.",
      "properties": {
        "items": {
          "items": {
            "$ref": "Player"
          },
          "description": "The players.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "type": "object",
      "id": "PlayerListResponse"
    },
    "Category": {
      "description": "Data related to individual game categories.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Category"
    },
    "InstanceWebDetails": {
      "description": "The Web details resource.",
      "properties": {
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InstanceWebDetails"
    },
    "PlayerLeaderboardScore": {
      "type": "object",
      "id": "PlayerLeaderboardScore",
      "properties": {
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "writeTimestamp": {
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`."
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "timeSpan": {
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string"
        }
      },
      "description": "A player leaderboard score object."
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "type": "string",
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged."
        }
      },
      "type": "object",
      "description": "Scoped player identifiers."
    },
    "LeaderboardScoreRank": {
      "type": "object",
      "id": "LeaderboardScoreRank",
      "properties": {
        "numScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard.",
          "format": "int64"
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        },
        "rank": {
          "description": "The rank in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        }
      },
      "description": "A score rank in a leaderboard."
    },
    "ImageAsset": {
      "type": "object",
      "id": "ImageAsset",
      "description": "An image asset object.",
      "properties": {
        "width": {
          "format": "int32",
          "description": "The width of the asset.",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "The height of the asset.",
          "format": "int32"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        },
        "name": {
          "type": "string",
          "description": "The name of the asset."
        }
      }
    },
    "AchievementUpdateRequest": {
      "properties": {
        "updateType": {
          "enum": [
            "ACHIEVEMENT_UPDATE_TYPE_UNSPECIFIED",
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "description": "The type of update being applied.",
          "type": "string",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        }
      },
      "id": "AchievementUpdateRequest",
      "type": "object",
      "description": "A request to update an achievement."
    },
    "PlayerLevel": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "minExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The minimum experience points for this level."
        },
        "level": {
          "type": "integer",
          "format": "int32",
          "description": "The level for the user."
        },
        "maxExperiencePoints": {
          "type": "string",
          "description": "The maximum experience points for this level.",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "id": "PlayerLevel",
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "id": "AchievementUpdateMultipleResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "type": "array"
        }
      },
      "description": "Response message for UpdateMultipleAchievements rpc."
    },
    "AchievementIncrementResponse": {
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementIncrementResponse",
      "type": "object",
      "description": "An achievement increment response"
    },
    "ProfileSettings": {
      "type": "object",
      "id": "ProfileSettings",
      "properties": {
        "friendsListVisibility": {
          "enum": [
            "FRIENDS_LIST_VISIBILITY_UNSPECIFIED",
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        }
      },
      "description": "Profile settings"
    }
  },
  "resources": {
    "achievements": {
      "methods": {
        "updateMultiple": {
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Updates multiple achievements for the currently authenticated player.",
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/updateMultiple",
          "id": "games.achievements.updateMultiple",
          "path": "games/v1/achievements/updateMultiple",
          "parameters": {},
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          }
        },
        "setStepsAtLeast": {
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "parameters": {
            "steps": {
              "location": "query",
              "description": "The minimum value to set the steps to.",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "id": "games.achievements.setStepsAtLeast",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ]
        },
        "reveal": {
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/reveal",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "id": "games.achievements.reveal",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player."
        },
        "increment": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "format": "int64"
            },
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            },
            "stepsToIncrement": {
              "location": "query",
              "description": "The number of steps to increment.",
              "required": true,
              "type": "integer",
              "format": "int32"
            }
          },
          "path": "games/v1/achievements/{achievementId}/increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "id": "games.achievements.increment",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player."
        },
        "list": {
          "path": "games/v1/players/{playerId}/achievements",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "state": {
              "location": "query",
              "type": "string",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ]
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "id": "games.achievements.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          }
        },
        "unlock": {
          "description": "Unlocks this achievement for the currently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "id": "games.achievements.unlock",
          "httpMethod": "POST",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Leaderboard"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "id": "games.leaderboards.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "games/v1/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard with the given ID."
        },
        "list": {
          "id": "games.leaderboards.list",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "path": "games/v1/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the leaderboard metadata for your application.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            }
          },
          "flatPath": "games/v1/leaderboards"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "id": "games.revisions.check",
          "parameters": {
            "clientRevision": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App."
            }
          },
          "parameterOrder": [
            "clientRevision"
          ],
          "flatPath": "games/v1/revisions/check",
          "path": "games/v1/revisions/check",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "description": "Checks whether the games client is out of date."
        }
      }
    },
    "applications": {
      "methods": {
        "getEndPoint": {
          "flatPath": "games/v1/applications/getEndPoint",
          "description": "Returns a URL for the requested end point type.",
          "id": "games.applications.getEndPoint",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "query"
            },
            "endPointType": {
              "description": "Type of endpoint being requested.",
              "type": "string",
              "location": "query",
              "enum": [
                "END_POINT_TYPE_UNSPECIFIED",
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "enumDescriptions": [
                "Default value. This value is unused.",
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ]
            }
          },
          "path": "games/v1/applications/getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "played": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "parameters": {},
          "path": "games/v1/applications/played",
          "flatPath": "games/v1/applications/played",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "id": "games.applications.played"
        },
        "verify": {
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "id": "games.applications.verify",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/applications/{applicationId}/verify"
        },
        "get": {
          "parameters": {
            "platformType": {
              "enumDescriptions": [
                "Default value, don't use.",
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "description": "Restrict application details returned to the specific platform.",
              "enum": [
                "PLATFORM_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "flatPath": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "id": "games.applications.get",
          "path": "games/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "get": {
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "timeSpan": {
              "type": "string",
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "path",
              "required": true,
              "enumDescriptions": [
                "Default value. This value is unused.",
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "description": "The time span for the scores and ranks you're requesting."
            },
            "includeRankType": {
              "enumDescriptions": [
                "Default value. Should be unused.",
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enum": [
                "INCLUDE_RANK_TYPE_UNSPECIFIED",
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string",
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "required": true
            }
          },
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "id": "games.scores.get",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listWindow": {
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "collection": {
              "enumDescriptions": [
                "Default value. This value is unused.",
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "type": "string",
              "required": true,
              "enum": [
                "SCORE_COLLECTION_UNSPECIFIED",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "location": "path"
            },
            "returnTopIfAbsent": {
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query"
            },
            "leaderboardId": {
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "timeSpan": {
              "type": "string",
              "description": "The time span for the scores and ranks you're requesting.",
              "location": "query",
              "required": true,
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "Default value. This value is unused.",
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "resultsAbove": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.listWindow",
          "httpMethod": "GET"
        },
        "submitMultiple": {
          "path": "games/v1/leaderboards/scores",
          "httpMethod": "POST",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "flatPath": "games/v1/leaderboards/scores",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "id": "games.scores.submitMultiple",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Submits multiple scores to leaderboards."
        },
        "list": {
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "id": "games.scores.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "collection": {
              "enum": [
                "SCORE_COLLECTION_UNSPECIFIED",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string",
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "required": true,
              "enumDescriptions": [
                "Default value. This value is unused.",
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ]
            },
            "timeSpan": {
              "description": "The time span for the scores and ranks you're requesting.",
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Default value. This value is unused.",
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "submit": {
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "id": "games.scores.submit",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameters": {
            "score": {
              "format": "int64",
              "location": "query",
              "required": true,
              "description": "The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "type": "string"
            },
            "scoreTag": {
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "type": "string",
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "Submits a score to the specified leaderboard.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "getScopedPlayerIds": {
          "id": "games.players.getScopedPlayerIds",
          "path": "games/v1/players/me/scopedIds",
          "parameters": {},
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "flatPath": "games/v1/players/me/scopedIds",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "Player"
          },
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "path": "games/v1/players/{playerId}",
          "flatPath": "games/v1/players/{playerId}",
          "id": "games.players.get",
[...]
