{
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "revision": "20230216",
  "discoveryVersion": "v1",
  "version": "v1",
  "servicePath": "",
  "canonicalName": "Home Graph Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "homegraph:v1",
  "schemas": {
    "Device": {
      "description": "Third-party device definition.",
      "type": "object",
      "properties": {
        "traits": {
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "otherDeviceIds": {
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Device manufacturer, model, hardware version, and software version."
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "roomHint": {
          "type": "string",
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "attributes": {
          "type": "object",
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "Device"
    },
    "DeviceNames": {
      "type": "object",
      "description": "Identifiers used to describe the device.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user."
        },
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nicknames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional names provided by the user for the device."
        }
      },
      "id": "DeviceNames"
    },
    "AgentDeviceId": {
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "description": "Third-party device ID for one device.",
      "type": "object",
      "id": "AgentDeviceId"
    },
    "ReportStateAndNotificationResponse": {
      "type": "object",
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      }
    },
    "QueryRequestInput": {
      "description": "Device ID inputs to QueryRequest.",
      "id": "QueryRequestInput",
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      },
      "type": "object"
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "properties": {
        "notifications": {
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "states": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        }
      },
      "id": "ReportStateAndNotificationDevice",
      "type": "object"
    },
    "ReportStateAndNotificationRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "followUpToken": {
          "type": "string",
          "description": "Deprecated."
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        }
      },
      "id": "ReportStateAndNotificationRequest",
      "type": "object",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 } }, } } } ```"
    },
    "RequestSyncDevicesResponse": {
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "properties": {},
      "id": "RequestSyncDevicesResponse"
    },
    "QueryRequest": {
      "type": "object",
      "id": "QueryRequest",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "inputs": {
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        }
      },
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
    },
    "QueryResponse": {
      "type": "object",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "id": "QueryResponse",
      "properties": {
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        },
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SyncResponsePayload": {
      "type": "object",
      "description": "Payload containing device information.",
      "id": "SyncResponsePayload",
      "properties": {
        "devices": {
          "description": "Devices associated with the third-party user.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "properties": {
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "type": "object",
      "id": "RequestSyncDevicesRequest"
    },
    "QueryResponsePayload": {
      "id": "QueryResponsePayload",
      "type": "object",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        }
      },
      "description": "Payload containing device states information."
    },
    "QueryRequestPayload": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "description": "Third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload"
    },
    "SyncRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
    },
    "StateAndNotificationPayload": {
      "type": "object",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "description": "Payload containing the state and notification information for devices.",
      "id": "StateAndNotificationPayload"
    },
    "DeviceInfo": {
      "properties": {
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        }
      },
      "description": "Device information.",
      "id": "DeviceInfo",
      "type": "object"
    },
    "SyncResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        }
      },
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "id": "SyncResponse"
    },
    "AgentOtherDeviceId": {
      "id": "AgentOtherDeviceId",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Project ID for your smart home Action."
        },
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        }
      },
      "description": "Alternate third-party device ID.",
      "type": "object"
    }
  },
  "resources": {
    "devices": {
      "methods": {
        "reportStateAndNotification": {
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "flatPath": "v1/devices:reportStateAndNotification",
          "id": "homegraph.devices.reportStateAndNotification",
          "path": "v1/devices:reportStateAndNotification"
        },
        "requestSync": {
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "flatPath": "v1/devices:requestSync",
          "id": "homegraph.devices.requestSync",
          "path": "v1/devices:requestSync",
          "parameters": {},
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [],
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "POST"
        },
        "sync": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "SyncResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1/devices:sync",
          "request": {
            "$ref": "SyncRequest"
          },
          "parameters": {},
          "path": "v1/devices:sync",
          "id": "homegraph.devices.sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project."
        },
        "query": {
          "flatPath": "v1/devices:query",
          "path": "v1/devices:query",
          "response": {
            "$ref": "QueryResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "id": "homegraph.devices.query",
          "request": {
            "$ref": "QueryRequest"
          },
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "id": "homegraph.agentUsers.delete",
          "httpMethod": "DELETE",
          "path": "v1/{+agentUserId}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "agentUserId"
          ],
          "parameters": {
            "agentUserId": {
              "required": true,
              "pattern": "^agentUsers/.*$",
              "type": "string",
              "location": "path",
              "description": "Required. Third-party user ID."
            },
            "requestId": {
              "type": "string",
              "description": "Request ID used for debugging.",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://homegraph.googleapis.com/",
  "basePath": "",
  "title": "HomeGraph API",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "description": "",
  "baseUrl": "https://homegraph.googleapis.com/",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "version_module": true,
  "ownerName": "Google",
  "name": "homegraph"
}
