{
  "servicePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "revision": "20230227",
  "basePath": "",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "canonicalName": "Domains RDAP",
  "id": "domainsrdap:v1",
  "description": "Read-only public API that lets users search for information about domain names.",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/domains/rdap/",
  "mtlsRootUrl": "https://domainsrdap.mtls.googleapis.com/",
  "schemas": {
    "HttpBody": {
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "id": "HttpBody"
    },
    "RdapResponse": {
      "description": "Response to a general RDAP query.",
      "id": "RdapResponse",
      "type": "object",
      "properties": {
        "lang": {
          "type": "string",
          "description": "Error language code. Error response info fields are defined in [section 6 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-6)."
        },
        "description": {
          "type": "array",
          "description": "Error description.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Error title.",
          "type": "string"
        },
        "rdapConformance": {
          "description": "RDAP conformance level.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorCode": {
          "description": "Error HTTP code. Example: \"501\".",
          "type": "integer",
          "format": "int32"
        },
        "notices": {
          "description": "Notices applying to this response.",
          "items": {
            "$ref": "Notice"
          },
          "type": "array"
        },
        "jsonResponse": {
          "description": "HTTP response with content type set to \"application/json+rdap\".",
          "$ref": "HttpBody"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of this link. Example: \"title\"."
        },
        "type": {
          "type": "string",
          "description": "Content type of the link. Example: \"application/json\"."
        },
        "hreflang": {
          "description": "Language code of a link. Example: \"en\".",
          "type": "string"
        },
        "rel": {
          "type": "string",
          "description": "Relation type of a link. Example: \"previous\"."
        },
        "media": {
          "type": "string",
          "description": "Media type of the link destination. Example: \"screen\"."
        },
        "href": {
          "description": "Target URL of a link. Example: \"http://example.com/previous\".",
          "type": "string"
        },
        "value": {
          "description": "URL giving context for the link. Example: \"http://example.com/current\".",
          "type": "string"
        }
      },
      "description": "Links object defined in [section 4.2 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-4.2).",
      "id": "Link"
    },
    "Notice": {
      "properties": {
        "links": {
          "description": "Link to a document containing more information.",
          "items": {
            "$ref": "Link"
          },
          "type": "array"
        },
        "description": {
          "description": "Description of the notice.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Title of a notice. Example: \"Terms of Service\".",
          "type": "string"
        },
        "type": {
          "description": "Type values defined in [section 10.2.1 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-10.2.1) specific to a whole response: \"result set truncated due to authorization\", \"result set truncated due to excessive load\", \"result set truncated due to unexplainable reasons\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Notices object defined in [section 4.3 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-4.3).",
      "id": "Notice"
    }
  },
  "rootUrl": "https://domainsrdap.googleapis.com/",
  "title": "Domains RDAP API",
  "name": "domainsrdap",
  "protocol": "rest",
  "batchPath": "batch",
  "baseUrl": "https://domainsrdap.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "domain": {
      "methods": {
        "get": {
          "response": {
            "$ref": "HttpBody"
          },
          "parameters": {
            "domainName": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Full domain name to look up. Example: \"example.com\"",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/domain/{domainId}",
          "parameterOrder": [
            "domainName"
          ],
          "id": "domainsrdap.domain.get",
          "path": "v1/domain/{+domainName}",
          "description": "Look up RDAP information for a domain by name.",
          "httpMethod": "GET"
        }
      }
    },
    "autnum": {
      "methods": {
        "get": {
          "parameters": {
            "autnumId": {
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/autnum/{autnumId}",
          "id": "domainsrdap.autnum.get",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "httpMethod": "GET",
          "parameterOrder": [
            "autnumId"
          ],
          "response": {
            "$ref": "RdapResponse"
          },
          "path": "v1/autnum/{autnumId}"
        }
      }
    },
    "entity": {
      "methods": {
        "get": {
          "path": "v1/entity/{entityId}",
          "parameters": {
            "entityId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "domainsrdap.entity.get",
          "response": {
            "$ref": "RdapResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/entity/{entityId}",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameterOrder": [
            "entityId"
          ]
        }
      }
    },
    "ip": {
      "methods": {
        "get": {
          "id": "domainsrdap.ip.get",
          "response": {
            "$ref": "RdapResponse"
          },
          "flatPath": "v1/ip/{ipId}/{ipId1}",
          "path": "v1/ip/{ipId}/{ipId1}",
          "parameterOrder": [
            "ipId",
            "ipId1"
          ],
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameters": {
            "ipId": {
              "required": true,
              "type": "string",
              "location": "path"
            },
            "ipId1": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "nameserver": {
      "methods": {
        "get": {
          "parameters": {
            "nameserverId": {
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "RdapResponse"
          },
          "id": "domainsrdap.nameserver.get",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameterOrder": [
            "nameserverId"
          ],
          "flatPath": "v1/nameserver/{nameserverId}",
          "httpMethod": "GET",
          "path": "v1/nameserver/{nameserverId}"
        }
      }
    },
    "v1": {
      "methods": {
        "getHelp": {
          "path": "v1/help",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Get help information for the RDAP API, including links to documentation.",
          "flatPath": "v1/help",
          "id": "domainsrdap.getHelp",
          "response": {
            "$ref": "HttpBody"
          },
          "parameters": {}
        },
        "getIp": {
          "httpMethod": "GET",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "response": {
            "$ref": "HttpBody"
          },
          "path": "v1/ip",
          "flatPath": "v1/ip",
          "parameters": {},
          "id": "domainsrdap.getIp",
          "parameterOrder": []
        },
        "getNameservers": {
          "httpMethod": "GET",
          "path": "v1/nameservers",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "RdapResponse"
          },
          "flatPath": "v1/nameservers",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "id": "domainsrdap.getNameservers"
        },
        "getDomains": {
          "flatPath": "v1/domains",
          "response": {
            "$ref": "RdapResponse"
          },
          "id": "domainsrdap.getDomains",
          "parameterOrder": [],
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "httpMethod": "GET",
          "path": "v1/domains",
          "parameters": {}
        },
        "getEntities": {
          "parameterOrder": [],
          "path": "v1/entities",
          "httpMethod": "GET",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "flatPath": "v1/entities",
          "id": "domainsrdap.getEntities",
          "parameters": {},
          "response": {
            "$ref": "RdapResponse"
          }
        }
      }
    }
  }
}
