{
  "baseUrl": "https://area120tables.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "canonicalName": "Area120 Tables",
  "rootUrl": "https://area120tables.googleapis.com/",
  "basePath": "",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "version": "v1alpha1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "name": "area120tables",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "BatchDeleteRowsRequest": {
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchDeleteRowsRequest",
      "description": "Request message for TablesService.BatchDeleteRows"
    },
    "BatchCreateRowsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "type": "array",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      },
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows."
    },
    "Row": {
      "description": "A single row in a table.",
      "type": "object",
      "id": "Row",
      "properties": {
        "updateTime": {
          "description": "Time when the row was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Time when the row was created.",
          "format": "google-datetime"
        },
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request."
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DateDetails": {
      "type": "object",
      "properties": {
        "hasTime": {
          "type": "boolean",
          "description": "Whether the date column includes time."
        }
      },
      "id": "DateDetails",
      "description": "Details about a date column."
    },
    "BatchCreateRowsResponse": {
      "type": "object",
      "id": "BatchCreateRowsResponse",
      "description": "Response message for TablesService.BatchCreateRows.",
      "properties": {
        "rows": {
          "description": "The created rows.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      }
    },
    "LabeledItem": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        }
      },
      "description": "A single item in a labeled column.",
      "id": "LabeledItem"
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUpdateRowsRequest",
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "ListRowsResponse": {
      "description": "Response message for TablesService.ListRows.",
      "type": "object",
      "id": "ListRowsResponse",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The rows from the specified table.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string"
        }
      },
      "id": "RelationshipDetails",
      "description": "Details about a relationship column.",
      "type": "object"
    },
    "LookupDetails": {
      "properties": {
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        },
        "relationshipColumn": {
          "type": "string",
          "description": "The name of the relationship column associated with the lookup."
        }
      },
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "id": "LookupDetails",
      "type": "object"
    },
    "ColumnDescription": {
      "type": "object",
      "id": "ColumnDescription",
      "description": "Details on a column in the table.",
      "properties": {
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "readonly": {
          "type": "boolean",
          "description": "Optional. Indicates that values for the column cannot be set by the user."
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        },
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "dateDetails": {
          "description": "Optional. Additional details about a date column.",
          "$ref": "DateDetails"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation."
        },
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        },
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean"
        }
      }
    },
    "SavedView": {
      "type": "object",
      "id": "SavedView",
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        }
      },
      "description": "A saved view of a table. NextId: 3"
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "description": "The list of workspaces.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "ListTablesResponse": {
      "type": "object",
      "properties": {
        "tables": {
          "type": "array",
          "description": "The list of tables.",
          "items": {
            "$ref": "Table"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for TablesService.ListTables.",
      "id": "ListTablesResponse"
    },
    "Table": {
      "properties": {
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "savedViews": {
          "description": "Saved views for this table.",
          "items": {
            "$ref": "SavedView"
          },
          "type": "array"
        },
        "timeZone": {
          "description": "The time zone of the table. IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the table was created."
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ColumnDescription"
          },
          "description": "List of columns in this table. Order of columns matches the display order."
        },
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Table",
      "description": "A single table. NextId: 8",
      "type": "object"
    },
    "BatchUpdateRowsResponse": {
      "type": "object",
      "description": "Response message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsResponse",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows.",
          "type": "array"
        }
      }
    },
    "UpdateRowRequest": {
      "properties": {
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "updateMask": {
          "type": "string",
          "description": "The list of fields to update.",
          "format": "google-fieldmask"
        },
        "view": {
          "type": "string",
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        }
      },
      "id": "UpdateRowRequest",
      "description": "Request message for TablesService.UpdateRow.",
      "type": "object"
    },
    "CreateRowRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        },
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "type": "string"
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        }
      },
      "description": "Request message for TablesService.CreateRow.",
      "type": "object",
      "id": "CreateRowRequest"
    },
    "Workspace": {
      "properties": {
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables in the workspace."
        },
        "createTime": {
          "description": "Time when the workspace was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Time when the workspace was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        }
      },
      "description": "A single workspace.",
      "id": "Workspace",
      "type": "object"
    }
  },
  "revision": "20230226",
  "ownerDomain": "google.com",
  "resources": {
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "list": {
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "id": "area120tables.tables.rows.list",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "batchUpdate": {
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "type": "string"
                }
              },
              "id": "area120tables.tables.rows.batchUpdate",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "description": "Updates multiple rows.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "batchDelete": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "required": true,
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "area120tables.tables.rows.batchDelete",
              "description": "Deletes multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "description": "Creates a row.",
              "request": {
                "$ref": "Row"
              },
              "response": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/rows",
              "id": "area120tables.tables.rows.create",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "delete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Deletes a row.",
              "id": "area120tables.tables.rows.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string"
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "location": "path"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of fields to update.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates a row.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Row"
              },
              "request": {
                "$ref": "Row"
              }
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Row"
              },
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.get"
            },
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "id": "area120tables.tables.rows.batchCreate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "description": "Creates multiple rows.",
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "BatchCreateRowsRequest"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "area120tables.tables.get",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Table"
          },
          "flatPath": "v1alpha1/tables/{tablesId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^tables/[^/]+$"
            }
          },
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "area120tables.tables.list",
          "parameterOrder": [],
          "parameters": {
            "orderBy": {
              "type": "string",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "flatPath": "v1alpha1/tables",
          "path": "v1alpha1/tables",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "ListTablesResponse"
          },
          "description": "Lists tables for the user."
        }
      }
    },
    "workspaces": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "id": "area120tables.workspaces.list",
          "httpMethod": "GET",
          "description": "Lists workspaces for the user.",
          "flatPath": "v1alpha1/workspaces",
          "path": "v1alpha1/workspaces",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            }
          },
          "response": {
            "$ref": "ListWorkspacesResponse"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "id": "area120tables.workspaces.get",
          "parameters": {
            "name": {
              "pattern": "^workspaces/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "location": "path"
            }
          },
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Workspace"
          },
          "flatPath": "v1alpha1/workspaces/{workspacesId}"
        }
      }
    }
  },
  "description": "",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "title": "Area120 Tables API",
  "id": "area120tables:v1alpha1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/"
}
