{
  "discoveryVersion": "v1",
  "name": "businessprofileperformance",
  "servicePath": "",
  "id": "businessprofileperformance:v1",
  "ownerDomain": "google.com",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "title": "Business Profile Performance API",
  "version": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "canonicalName": "Business Profile Performance",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/my-business/",
  "resources": {
    "locations": {
      "methods": {
        "getDailyMetricsTimeSeries": {
          "parameters": {
            "dailyRange.endDate.year": {
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            },
            "name": {
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id."
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "location": "query",
              "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
              "format": "int32",
              "type": "integer"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.endDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Minutes of hour of day. Must be from 0 to 59."
            },
            "dailyRange.startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "dailyMetric": {
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "type": "string",
              "description": "Required. The metric to retrieve time series.",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings received from the business profile.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "location": "query"
            },
            "dailyRange.startDate.month": {
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "dailyRange.startDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer"
            },
            "dailySubEntityType.dayOfWeek": {
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "type": "string",
              "description": "Represents the day of the week. Eg: MONDAY.",
              "location": "query",
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ]
            }
          },
          "httpMethod": "GET",
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`"
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^locations/[^/]+$",
                          "location": "path",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.month": {
                          "type": "integer",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "format": "int32",
                          "location": "query"
                        },
                        "monthlyRange.endMonth.year": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query"
                        },
                        "monthlyRange.startMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "format": "byte",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token indicating the next paginated result to be returned."
                        },
                        "monthlyRange.startMonth.day": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                        },
                        "monthlyRange.endMonth.day": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                        },
                        "monthlyRange.startMonth.year": {
                          "location": "query",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "revision": "20230227",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "type": "object",
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "properties": {
        "nextPageToken": {
          "format": "byte",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "type": "string"
        },
        "searchKeywordsCounts": {
          "type": "array",
          "description": "Search terms which have been used to find a business.",
          "items": {
            "$ref": "SearchKeywordCount"
          }
        }
      }
    },
    "DatedValue": {
      "properties": {
        "value": {
          "format": "int64",
          "description": "The value of the datapoint.",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set."
        }
      },
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "id": "DatedValue",
      "type": "object"
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "id": "GetDailyMetricsTimeSeriesResponse",
      "type": "object",
      "properties": {
        "timeSeries": {
          "$ref": "TimeSeries",
          "description": "The daily time series."
        }
      }
    },
    "TimeSeries": {
      "properties": {
        "datedValues": {
          "type": "array",
          "items": {
            "$ref": "DatedValue"
          },
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair."
        }
      },
      "type": "object",
      "id": "TimeSeries",
      "description": "Represents a timeseries."
    },
    "InsightsValue": {
      "type": "object",
      "description": "Represents an insights value.",
      "id": "InsightsValue",
      "properties": {
        "value": {
          "format": "int64",
          "description": "Represents the actual value.",
          "type": "string"
        },
        "threshold": {
          "format": "int64",
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string"
        }
      }
    },
    "SearchKeywordCount": {
      "properties": {
        "searchKeyword": {
          "description": "The lower-cased string that the user entered.",
          "type": "string"
        },
        "insightsValue": {
          "$ref": "InsightsValue",
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold."
        }
      },
      "type": "object",
      "description": "Represents a single search keyword and its value.",
      "id": "SearchKeywordCount"
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date"
    }
  },
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "version_module": true
}
