{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "rootUrl": "https://androidmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Android Management",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "title": "Android Management API",
  "revision": "20230217",
  "ownerName": "Google",
  "version": "v1",
  "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
  "schemas": {
    "ComplianceRule": {
      "type": "object",
      "description": "A rule declaring which mitigating actions to take when a device is not compliant with its policy. For every rule, there is always an implicit mitigating action to set policy_compliant to false for the Device resource, and display a message on the device indicating that the device is not compliant with its policy. Other mitigating actions may optionally be taken as well, depending on the field values in the rule.",
      "properties": {
        "packageNamesToDisable": {
          "description": "If set, the rule includes a mitigating action to disable apps specified in the list, but app data is preserved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disableApps": {
          "description": "If set to true, the rule includes a mitigating action to disable apps so that the device is effectively disabled, but app data is preserved. If the device is running an app in locked task mode, the app will be closed and a UI showing the reason for non-compliance will be displayed.",
          "type": "boolean"
        },
        "apiLevelCondition": {
          "$ref": "ApiLevelCondition",
          "description": "A condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement."
        },
        "nonComplianceDetailCondition": {
          "$ref": "NonComplianceDetailCondition",
          "description": "A condition which is satisfied if there exists any matching NonComplianceDetail for the device."
        }
      },
      "id": "ComplianceRule"
    },
    "PersonalUsagePolicies": {
      "properties": {
        "maxDaysWithWorkOff": {
          "type": "integer",
          "description": "Controls how long the work profile can stay off. The duration must be at least 3 days.",
          "format": "int32"
        },
        "personalPlayStoreMode": {
          "type": "string",
          "description": "Used together with personalApplications to control how apps in the personal profile are allowed or blocked.",
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "BLACKLIST",
            "BLOCKLIST",
            "ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCKLIST.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "Only apps explicitly specified in personalApplications with installType set to AVAILABLE are allowed to be installed in the personal profile."
          ]
        },
        "screenCaptureDisabled": {
          "description": "If true, screen capture is disabled for all users.",
          "type": "boolean"
        },
        "accountTypesWithManagementDisabled": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Account types that can't be managed by the user."
        },
        "cameraDisabled": {
          "description": "If true, the camera is disabled on the personal profile.",
          "type": "boolean"
        },
        "personalApplications": {
          "description": "Policy applied to applications in the personal profile.",
          "type": "array",
          "items": {
            "$ref": "PersonalApplicationPolicy"
          }
        }
      },
      "type": "object",
      "description": "Policies controlling personal usage on a company-owned device with a work profile.",
      "id": "PersonalUsagePolicies"
    },
    "DnsEvent": {
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "The hostname that was looked up."
        },
        "totalIpAddressesReturned": {
          "description": "The number of IP addresses returned from the DNS lookup event. May be higher than the amount of ip_addresses if there were too many addresses to log.",
          "type": "string",
          "format": "int64"
        },
        "ipAddresses": {
          "description": "The (possibly truncated) list of the IP addresses returned for DNS lookup (max 10 IPv4 or IPv6 addresses).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the UID that performed the DNS lookup."
        }
      },
      "description": "A DNS lookup event was initiated through the standard network stack.",
      "id": "DnsEvent"
    },
    "PowerManagementEvent": {
      "description": "A power management event.",
      "id": "PowerManagementEvent",
      "type": "object",
      "properties": {
        "batteryLevel": {
          "type": "number",
          "description": "For BATTERY_LEVEL_COLLECTED events, the battery level as a percentage.",
          "format": "float"
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the event.",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "POWER_MANAGEMENT_EVENT_TYPE_UNSPECIFIED",
            "BATTERY_LEVEL_COLLECTED",
            "POWER_CONNECTED",
            "POWER_DISCONNECTED",
            "BATTERY_LOW",
            "BATTERY_OKAY",
            "BOOT_COMPLETED",
            "SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Battery level was measured.",
            "The device started charging.",
            "The device stopped charging.",
            "The device entered low-power mode.",
            "The device exited low-power mode.",
            "The device booted.",
            "The device shut down."
          ],
          "description": "Event type."
        }
      }
    },
    "DeviceSettings": {
      "properties": {
        "isDeviceSecure": {
          "description": "Whether the device is secured with PIN/password.",
          "type": "boolean"
        },
        "developmentSettingsEnabled": {
          "description": "Whether developer mode is enabled on the device.",
          "type": "boolean"
        },
        "verifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced on the device."
        },
        "unknownSourcesEnabled": {
          "description": "Whether installing apps from unknown sources is enabled.",
          "type": "boolean"
        },
        "adbEnabled": {
          "type": "boolean",
          "description": "Whether ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the device."
        },
        "encryptionStatus": {
          "enumDescriptions": [
            "Unspecified. No device should have this type.",
            "Encryption is not supported by the device.",
            "Encryption is supported by the device, but is not currently active.",
            "Encryption is not currently active, but is currently being activated.",
            "Encryption is active.",
            "Encryption is active, but an encryption key is not set by the user.",
            "Encryption is active, and the encryption key is tied to the user profile."
          ],
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "UNSUPPORTED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "ACTIVE_DEFAULT_KEY",
            "ACTIVE_PER_USER"
          ],
          "description": "Encryption status from DevicePolicyManager.",
          "type": "string"
        },
        "isEncrypted": {
          "type": "boolean",
          "description": "Whether the storage encryption is enabled."
        }
      },
      "id": "DeviceSettings",
      "type": "object",
      "description": "Information about security related device settings on device."
    },
    "ExtensionConfig": {
      "description": "Configuration to enable an app as an extension app, with the capability of interacting with Android Device Policy offline. For Android versions 13 and above, extension apps are exempt from battery restrictions so will not be placed into the restricted App Standby Bucket (https://developer.android.com/topic/performance/appstandby#restricted-bucket). Extensions apps are also protected against users clearing their data or force-closing the application, although admins can continue to use the clear app data command (https://developer.android.com/management/reference/rest/v1/enterprises.devices/issueCommand#CommandType) on extension apps if needed for Android 13 and above.",
      "id": "ExtensionConfig",
      "type": "object",
      "properties": {
        "signingKeyFingerprintsSha256": {
          "type": "array",
          "description": "Hex-encoded SHA-256 hash of the signing certificate of the extension app. Only hexadecimal string representations of 64 characters are valid.If not specified, the signature for the corresponding package name is obtained from the Play Store instead.If this list is empty, the signature of the extension app on the device must match the signature obtained from the Play Store for the app to be able to communicate with Android Device Policy.If this list is not empty, the signature of the extension app on the device must match one of the entries in this list for the app to be able to communicate with Android Device Policy.In production use cases, it is recommended to leave this empty.",
          "items": {
            "type": "string"
          }
        },
        "notificationReceiver": {
          "description": "Fully qualified class name of the receiver service class for Android Device Policy to notify the extension app of any local command status updates.",
          "type": "string"
        }
      }
    },
    "CryptoSelfTestCompletedEvent": {
      "properties": {
        "success": {
          "type": "boolean",
          "description": "Whether the test succeeded."
        }
      },
      "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted.",
      "id": "CryptoSelfTestCompletedEvent",
      "type": "object"
    },
    "Application": {
      "type": "object",
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "A link to an image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 512 x 512."
        },
        "appTracks": {
          "type": "array",
          "items": {
            "$ref": "AppTrackInfo"
          },
          "description": "Application tracks visible to the enterprise."
        },
        "appVersions": {
          "items": {
            "$ref": "AppVersion"
          },
          "description": "Versions currently available for this app.",
          "type": "array"
        },
        "distributionChannel": {
          "enum": [
            "DISTRIBUTION_CHANNEL_UNSPECIFIED",
            "PUBLIC_GOOGLE_HOSTED",
            "PRIVATE_GOOGLE_HOSTED",
            "PRIVATE_SELF_HOSTED"
          ],
          "description": "How and to whom the package is made available.",
          "enumDescriptions": [
            "Unspecified.",
            "Package is available through the Play store and not restricted to a specific enterprise.",
            "Package is a private app (restricted to an enterprise) but hosted by Google.",
            "Private app (restricted to an enterprise) and is privately hosted."
          ],
          "type": "string"
        },
        "author": {
          "description": "The name of the author of the apps (for example, the app developer).",
          "type": "string"
        },
        "appPricing": {
          "type": "string",
          "enum": [
            "APP_PRICING_UNSPECIFIED",
            "FREE",
            "FREE_WITH_IN_APP_PURCHASE",
            "PAID"
          ],
          "description": "Whether this app is free, free with in-app purchases, or paid. If the pricing is unspecified, this means the app is not generally available anymore (even though it might still be available to people who own it).",
          "enumDescriptions": [
            "Unknown pricing, used to denote an approved app that is not generally available.",
            "The app is free.",
            "The app is free, but offers in-app purchases.",
            "The app is paid."
          ]
        },
        "managedProperties": {
          "items": {
            "$ref": "ManagedProperty"
          },
          "type": "array",
          "description": "The set of managed properties available to be pre-configured for the app."
        },
        "playStoreUrl": {
          "description": "A link to the (consumer) Google Play details page for the app.",
          "type": "string"
        },
        "features": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "The app is a VPN."
            ],
            "enum": [
              "APP_FEATURE_UNSPECIFIED",
              "VPN_APP"
            ],
            "type": "string"
          },
          "description": "Noteworthy features (if any) of this app."
        },
        "recentChanges": {
          "type": "string",
          "description": "A localised description of the recent changes made to the app."
        },
        "description": {
          "description": "The localized promotional description, if available.",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "description": "The permissions required by the app.",
          "items": {
            "$ref": "ApplicationPermission"
          }
        },
        "fullDescription": {
          "type": "string",
          "description": "Full app description, if available."
        },
        "category": {
          "description": "The app category (e.g. RACING, SOCIAL, etc.)",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The approximate time (within 7 days) the app was last published."
        },
        "smallIconUrl": {
          "description": "A link to a smaller image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 128 x 128.",
          "type": "string"
        },
        "title": {
          "description": "The title of the app. Localized.",
          "type": "string"
        },
        "contentRating": {
          "enumDescriptions": [
            "Unspecified.",
            "Content suitable for ages 3 and above only.",
            "Content suitable for ages 7 and above only.",
            "Content suitable for ages 12 and above only.",
            "Content suitable for ages 16 and above only.",
            "Content suitable for ages 18 and above only."
          ],
          "type": "string",
          "enum": [
            "CONTENT_RATING_UNSPECIFIED",
            "THREE_YEARS",
            "SEVEN_YEARS",
            "TWELVE_YEARS",
            "SIXTEEN_YEARS",
            "EIGHTEEN_YEARS"
          ],
          "description": "The content rating for this app."
        },
        "screenshotUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of screenshot links representing the app."
        },
        "minAndroidSdkVersion": {
          "description": "The minimum Android SDK necessary to run the app.",
          "format": "int32",
          "type": "integer"
        },
        "availableCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The countries which this app is available in as per ISO 3166-1 alpha-2."
        },
        "name": {
          "type": "string",
          "description": "The name of the app in the form enterprises/{enterprise}/applications/{package_name}."
        }
      },
      "description": "Information about an app.",
      "id": "Application"
    },
    "PostureDetail": {
      "description": "Additional details regarding the security posture of the device.",
      "type": "object",
      "properties": {
        "securityRisk": {
          "type": "string",
          "enum": [
            "SECURITY_RISK_UNSPECIFIED",
            "UNKNOWN_OS",
            "COMPROMISED_OS",
            "HARDWARE_BACKED_EVALUATION_FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SafetyNet detects that the device is running an unknown OS (basicIntegrity check succeeds but ctsProfileMatch fails).",
            "SafetyNet detects that the device is running a compromised OS (basicIntegrity check fails).",
            "SafetyNet detects that the device does not have a strong guarantee of system integrity, such as a hardware-backed keystore (https://developer.android.com/training/articles/security-key-attestation)."
          ],
          "description": "A specific security risk that negatively affects the security posture of the device."
        },
        "advice": {
          "type": "array",
          "description": "Corresponding admin-facing advice to mitigate this security risk and improve the security posture of the device.",
          "items": {
            "$ref": "UserFacingMessage"
          }
        }
      },
      "id": "PostureDetail"
    },
    "KeyedAppState": {
      "description": "Keyed app state reported by the app.",
      "properties": {
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the app state was most recently updated."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the app state on the device."
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity level.",
            "Information severity level.",
            "Error severity level. This should only be set for genuine error conditions that a management organization needs to take action to fix."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR"
          ],
          "description": "The severity of the app state."
        },
        "data": {
          "type": "string",
          "description": "Optionally, a machine-readable value to be read by the EMM. For example, setting values that the admin can choose to query against in the EMM console (e.g. “notify me if the battery_warning data \u003c 10”)."
        },
        "message": {
          "type": "string",
          "description": "Optionally, a free-form message string to explain the app state. If the state was triggered by a particular value (e.g. a managed configuration value), it should be included in the message."
        },
        "key": {
          "type": "string",
          "description": "The key for the app state. Acts as a point of reference for what the app is providing state for. For example, when providing managed configuration feedback, this key could be the managed configuration key."
        }
      },
      "id": "KeyedAppState",
      "type": "object"
    },
    "WebAppIcon": {
      "id": "WebAppIcon",
      "properties": {
        "imageData": {
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. ",
          "type": "string"
        }
      },
      "description": "An icon for a web app. Supported formats are: png, jpg and webp.",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "usbMassStorageEnabled": {
          "description": "Whether USB storage is enabled. Deprecated.",
          "type": "boolean"
        },
        "safeBootDisabled": {
          "type": "boolean",
          "description": "Whether rebooting the device into safe boot is disabled."
        },
        "permittedInputMethods": {
          "description": "If present, only the input methods provided by packages in this list are permitted. If this field is present, but the list is empty, then only system input methods are permitted.",
          "$ref": "PackageNameList"
        },
        "installUnknownSourcesAllowed": {
          "description": "This field has no effect.",
          "type": "boolean"
        },
        "autoDateAndTimeZone": {
          "description": "Whether auto date, time, and time zone are enabled on a company-owned device. If this is set, then autoTimeRequired is ignored.",
          "enum": [
            "AUTO_DATE_AND_TIME_ZONE_UNSPECIFIED",
            "AUTO_DATE_AND_TIME_ZONE_USER_CHOICE",
            "AUTO_DATE_AND_TIME_ZONE_ENFORCED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_DATE_AND_TIME_ZONE_USER_CHOICE.",
            "Auto date, time, and time zone are left to user's choice.",
            "Enforce auto date, time, and time zone on the device."
          ],
          "type": "string"
        },
        "passwordPolicies": {
          "description": "Password requirement policies. Different policies can be set for work profile or fully managed devices by setting the password_scope field in the policy.",
          "items": {
            "$ref": "PasswordRequirements"
          },
          "type": "array"
        },
        "mobileNetworksConfigDisabled": {
          "description": "Whether configuring mobile networks is disabled.",
          "type": "boolean"
        },
        "microphoneAccess": {
          "type": "string",
          "description": "Controls the use of the microphone and whether the user has access to the microphone access toggle. This applies only on fully managed devices.",
          "enum": [
            "MICROPHONE_ACCESS_UNSPECIFIED",
            "MICROPHONE_ACCESS_USER_CHOICE",
            "MICROPHONE_ACCESS_DISABLED",
            "MICROPHONE_ACCESS_ENFORCED"
          ],
          "enumDescriptions": [
            "If unmute_microphone_disabled is true, this is equivalent to MICROPHONE_ACCESS_DISABLED. Otherwise, this is equivalent to MICROPHONE_ACCESS_USER_CHOICE.",
            "The field unmute_microphone_disabled is ignored. This is the default device behaviour: the microphone on the device is available. On Android 12 and above, the user can use the microphone access toggle.",
            "The field unmute_microphone_disabled is ignored. The microphone on the device is disabled (for fully managed devices, this applies device-wide).The microphone access toggle has no effect as the microphone is disabled.",
            "The field unmute_microphone_disabled is ignored. The microphone on the device is available. On devices running Android 12 and above, the user is unable to use the microphone access toggle. On devices which run Android 11 or below, this is equivalent to MICROPHONE_ACCESS_USER_CHOICE."
          ]
        },
        "tetheringConfigDisabled": {
          "description": "Whether configuring tethering and portable hotspots is disabled.",
          "type": "boolean"
        },
        "openNetworkConfiguration": {
          "type": "object",
          "description": "Network configuration for the device. See configure networks for more information.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "passwordRequirements": {
          "description": "Password requirements. The field password_requirements.require_password_unlock must not be set. DEPRECATED - Use passwordPolicies.Note:Complexity-based values of PasswordQuality, that is, COMPLEXITY_LOW, COMPLEXITY_MEDIUM, and COMPLEXITY_HIGH, cannot be used here. unified_lock_settings cannot be used here.",
          "$ref": "PasswordRequirements"
        },
        "setupActions": {
          "description": "Action to take during the setup process. At most one action may be specified.",
          "items": {
            "$ref": "SetupAction"
          },
          "type": "array"
        },
        "kioskCustomization": {
          "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.",
          "$ref": "KioskCustomization"
        },
        "alwaysOnVpnPackage": {
          "$ref": "AlwaysOnVpnPackage",
          "description": "Configuration for an always-on VPN connection. Use with vpn_config_disabled to prevent modification of this setting."
        },
        "setUserIconDisabled": {
          "type": "boolean",
          "description": "Whether changing the user icon is disabled."
        },
        "cellBroadcastsConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring cell broadcast is disabled."
        },
        "factoryResetDisabled": {
          "description": "Whether factory resetting from settings is disabled.",
          "type": "boolean"
        },
        "modifyAccountsDisabled": {
          "type": "boolean",
          "description": "Whether adding or removing accounts is disabled."
        },
        "name": {
          "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
          "type": "string"
        },
        "networkEscapeHatchEnabled": {
          "type": "boolean",
          "description": "Whether the network escape hatch is enabled. If a network connection can't be made at boot time, the escape hatch prompts the user to temporarily connect to a network in order to refresh the device policy. After applying policy, the temporary network will be forgotten and the device will continue booting. This prevents being unable to connect to a network if there is no suitable network in the last policy and the device boots into an app in lock task mode, or the user is otherwise unable to reach device settings.Note: Setting wifiConfigDisabled to true will override this setting under specific circumstances. Please see wifiConfigDisabled for further details."
        },
        "usageLog": {
          "description": "Configuration of device activity logging.",
          "$ref": "UsageLog"
        },
        "stayOnPluggedModes": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "Power source is an AC charger.",
              "Power source is a USB port.",
              "Power source is wireless."
            ],
            "type": "string",
            "enum": [
              "BATTERY_PLUGGED_MODE_UNSPECIFIED",
              "AC",
              "USB",
              "WIRELESS"
            ]
          },
          "description": "The battery plugged in modes for which the device stays on. When using this setting, it is recommended to clear maximum_time_to_lock so that the device doesn't lock itself while it stays on.",
          "type": "array"
        },
        "version": {
          "format": "int64",
          "description": "The version of the policy. This is a read-only field. The version is incremented each time the policy is updated.",
          "type": "string"
        },
        "oncCertificateProviders": {
          "items": {
            "$ref": "OncCertificateProvider"
          },
          "type": "array",
          "description": "This feature is not generally available."
        },
        "keyguardDisabled": {
          "description": "If true, this disables the Lock Screen (https://source.android.com/docs/core/display/multi_display/lock-screen) for primary and/or secondary displays.",
          "type": "boolean"
        },
        "usbFileTransferDisabled": {
          "description": "Whether transferring files over USB is disabled. This is supported only on company-owned devices.",
          "type": "boolean"
        },
        "dataRoamingDisabled": {
          "type": "boolean",
          "description": "Whether roaming data services are disabled."
        },
        "permittedAccessibilityServices": {
          "description": "Specifies permitted accessibility services. If the field is not set, any accessibility service can be used. If the field is set, only the accessibility services in this list and the system's built-in accessibility service can be used. In particular, if the field is set to empty, only the system's built-in accessibility servicess can be used. This can be set on fully managed devices and on work profiles. When applied to a work profile, this affects both the personal profile and the work profile.",
          "$ref": "PackageNameList"
        },
        "shortSupportMessage": {
          "$ref": "UserFacingMessage",
          "description": "A message displayed to the user in the settings screen wherever functionality has been disabled by the admin. If the message is longer than 200 characters it may be truncated."
        },
        "keyguardDisabledFeatures": {
          "type": "array",
          "description": "Disabled keyguard customizations, such as widgets.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "Disable the camera on secure keyguard screens (e.g. PIN).",
              "Disable showing all notifications on secure keyguard screens.",
              "Disable unredacted notifications on secure keyguard screens.",
              "Ignore trust agent state on secure keyguard screens.",
              "Disable fingerprint sensor on secure keyguard screens.",
              "On devices running Android 6 and below, disables text entry into notifications on secure keyguard screens. Has no effect on Android 7 and above.",
              "Disable face authentication on secure keyguard screens.",
              "Disable iris authentication on secure keyguard screens.",
              "Disable all biometric authentication on secure keyguard screens.",
              "Disable all current and future keyguard customizations."
            ],
            "enum": [
              "KEYGUARD_DISABLED_FEATURE_UNSPECIFIED",
              "CAMERA",
              "NOTIFICATIONS",
              "UNREDACTED_NOTIFICATIONS",
              "TRUST_AGENTS",
              "DISABLE_FINGERPRINT",
              "DISABLE_REMOTE_INPUT",
              "FACE",
              "IRIS",
              "BIOMETRICS",
              "ALL_FEATURES"
            ]
          }
        },
        "privateKeySelectionEnabled": {
          "description": "Allows showing UI on a device for a user to choose a private key alias if there are no matching rules in ChoosePrivateKeyRules. For devices below Android P, setting this may leave enterprise keys vulnerable.",
          "type": "boolean"
        },
        "skipFirstUseHintsEnabled": {
          "type": "boolean",
          "description": "Flag to skip hints on the first use. Enterprise admin can enable the system recommendation for apps to skip their user tutorial and other introductory hints on first start-up."
        },
        "permissionGrants": {
          "description": "Explicit permission or group grants or denials for all apps. These values override the default_permission_policy.",
          "type": "array",
          "items": {
            "$ref": "PermissionGrant"
          }
        },
        "bluetoothContactSharingDisabled": {
          "description": "Whether bluetooth contact sharing is disabled.",
          "type": "boolean"
        },
        "maximumTimeToLock": {
          "format": "int64",
          "description": "Maximum time in milliseconds for user activity until the device locks. A value of 0 means there is no restriction.",
          "type": "string"
        },
        "statusBarDisabled": {
          "type": "boolean",
          "description": "Whether the status bar is disabled. This disables notifications, quick settings, and other screen overlays that allow escape from full-screen mode. DEPRECATED. To disable the status bar on a kiosk device, use InstallType KIOSK or kioskCustomLauncherEnabled."
        },
        "adjustVolumeDisabled": {
          "type": "boolean",
          "description": "Whether adjusting the master volume is disabled. Also mutes the device."
        },
        "kioskCustomLauncherEnabled": {
          "type": "boolean",
          "description": "Whether the kiosk custom launcher is enabled. This replaces the home screen with a launcher that locks down the device to the apps installed via the applications setting. Apps appear on a single page in alphabetical order. Use kioskCustomization to further configure the kiosk device behavior."
        },
        "personalUsagePolicies": {
          "description": "Policies managing personal usage on a company-owned device.",
          "$ref": "PersonalUsagePolicies"
        },
        "debuggingFeaturesAllowed": {
          "type": "boolean",
          "description": "Whether the user is allowed to enable debugging features."
        },
        "funDisabled": {
          "type": "boolean",
          "description": "Whether the user is allowed to have fun. Controls whether the Easter egg game in Settings is disabled."
        },
        "wifiConfigDisabled": {
          "description": "Whether configuring Wi-Fi access points is disabled. Note: If a network connection can't be made at boot time and configuring Wi-Fi is disabled then network escape hatch will be shown in order to refresh the device policy (see networkEscapeHatchEnabled).",
          "type": "boolean"
        },
        "vpnConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring VPN is disabled."
        },
        "smsDisabled": {
          "type": "boolean",
          "description": "Whether sending and receiving SMS messages is disabled."
        },
        "networkResetDisabled": {
          "type": "boolean",
          "description": "Whether resetting network settings is disabled."
        },
        "uninstallAppsDisabled": {
          "type": "boolean",
          "description": "Whether user uninstallation of applications is disabled. This prevents apps from being uninstalled, even those removed using applications"
        },
        "statusReportingSettings": {
          "description": "Status reporting settings",
          "$ref": "StatusReportingSettings"
        },
        "playStoreMode": {
          "enumDescriptions": [
            "Unspecified. Defaults to WHITELIST.",
            "Only apps that are in the policy are available and any app not in the policy will be automatically uninstalled from the device.",
            "All apps are available and any app that should not be on the device should be explicitly marked as 'BLOCKED' in the applications policy."
          ],
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "WHITELIST",
            "BLACKLIST"
          ],
          "type": "string",
          "description": "This mode controls which apps are available to the user in the Play Store and the behavior on the device when apps are removed from the policy."
        },
        "ensureVerifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether app verification is force-enabled."
        },
        "wifiConfigsLockdownEnabled": {
          "description": "DEPRECATED - Use wifi_config_disabled.",
          "type": "boolean"
        },
        "setWallpaperDisabled": {
          "type": "boolean",
          "description": "Whether changing the wallpaper is disabled."
        },
        "blockApplicationsEnabled": {
          "type": "boolean",
          "description": "Whether applications other than the ones configured in applications are blocked from being installed. When set, applications that were installed under a previous policy but no longer appear in the policy are automatically uninstalled."
        },
        "applications": {
          "description": "Policy applied to apps.",
          "items": {
            "$ref": "ApplicationPolicy"
          },
          "type": "array"
        },
        "locationMode": {
          "enumDescriptions": [
            "Defaults to LOCATION_USER_CHOICE.",
            "On Android 8 and below, all location detection methods are enabled, including GPS, networks, and other sensors. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only GPS and other sensors are enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only the network location provider is enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, location setting and accuracy are disabled. On Android 9 and above, this is equivalent to LOCATION_DISABLED.",
            "Location setting is not restricted on the device. No specific behavior is set or enforced.",
            "Enable location setting on the device.",
            "Disable location setting on the device."
          ],
          "enum": [
            "LOCATION_MODE_UNSPECIFIED",
            "HIGH_ACCURACY",
            "SENSORS_ONLY",
            "BATTERY_SAVING",
            "OFF",
            "LOCATION_USER_CHOICE",
            "LOCATION_ENFORCED",
            "LOCATION_DISABLED"
          ],
          "type": "string",
          "description": "The degree of location detection enabled."
        },
        "installAppsDisabled": {
          "description": "Whether user installation of apps is disabled.",
          "type": "boolean"
        },
        "advancedSecurityOverrides": {
          "description": "Security policies set to secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values.",
          "$ref": "AdvancedSecurityOverrides"
        },
        "addUserDisabled": {
          "description": "Whether adding new users and profiles is disabled.",
          "type": "boolean"
        },
        "minimumApiLevel": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum allowed Android API level."
        },
        "choosePrivateKeyRules": {
          "items": {
            "$ref": "ChoosePrivateKeyRule"
          },
          "description": "Rules for determining apps' access to private keys. See ChoosePrivateKeyRule for details.",
          "type": "array"
        },
        "screenCaptureDisabled": {
          "type": "boolean",
          "description": "Whether screen capture is disabled."
        },
        "accountTypesWithManagementDisabled": {
          "description": "Account types that can't be managed by the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "autoTimeRequired": {
          "type": "boolean",
          "description": "Whether auto time is required, which prevents the user from manually setting the date and time. If autoDateAndTimeZone is set, this field is ignored."
        },
        "frpAdminEmails": {
          "items": {
            "type": "string"
          },
          "description": "Email addresses of device administrators for factory reset protection. When the device is factory reset, it will require one of these admins to log in with the Google account email and password to unlock the device. If no admins are specified, the device won't provide factory reset protection.",
          "type": "array"
        },
        "complianceRules": {
          "type": "array",
          "items": {
            "$ref": "ComplianceRule"
          },
          "description": "Rules declaring which mitigating actions to take when a device is not compliant with its policy. When the conditions for multiple rules are satisfied, all of the mitigating actions for the rules are taken. There is a maximum limit of 100 rules. Use policy enforcement rules instead."
        },
        "mountPhysicalMediaDisabled": {
          "type": "boolean",
          "description": "Whether the user mounting physical external media is disabled."
        },
        "systemUpdate": {
          "$ref": "SystemUpdate",
          "description": "The system update policy, which controls how OS updates are applied. If the update type is WINDOWED, the update window will automatically apply to Play app updates as well."
        },
        "cameraDisabled": {
          "description": "If camera_access is set to any value other than CAMERA_ACCESS_UNSPECIFIED, this has no effect. Otherwise this field controls whether cameras are disabled: If true, all cameras are disabled, otherwise they are available. For fully managed devices this field applies for all apps on the device. For work profiles, this field applies only to apps in the work profile, and the camera access of apps outside the work profile is unaffected.",
          "type": "boolean"
        },
        "encryptionPolicy": {
          "enumDescriptions": [
            "This value is ignored, i.e. no encryption required",
            "Encryption required but no password required to boot",
            "Encryption required with password required to boot"
          ],
          "description": "Whether encryption is enabled",
          "type": "string",
          "enum": [
            "ENCRYPTION_POLICY_UNSPECIFIED",
            "ENABLED_WITHOUT_PASSWORD",
            "ENABLED_WITH_PASSWORD"
          ]
        },
        "longSupportMessage": {
          "description": "A message displayed to the user in the device administators settings screen.",
          "$ref": "UserFacingMessage"
        },
        "persistentPreferredActivities": {
          "items": {
            "$ref": "PersistentPreferredActivity"
          },
          "description": "Default intent handler activities.",
          "type": "array"
        },
        "removeUserDisabled": {
          "description": "Whether removing other users is disabled.",
          "type": "boolean"
        },
        "crossProfilePolicies": {
          "description": "Cross-profile policies applied on the device.",
          "$ref": "CrossProfilePolicies"
        },
        "outgoingCallsDisabled": {
          "description": "Whether outgoing calls are disabled.",
          "type": "boolean"
        },
        "shareLocationDisabled": {
          "description": "Whether location sharing is disabled. share_location_disabled is supported for both fully managed devices and personally owned work profiles.",
          "type": "boolean"
        },
        "bluetoothDisabled": {
          "description": "Whether bluetooth is disabled. Prefer this setting over bluetooth_config_disabled because bluetooth_config_disabled can be bypassed by the user.",
          "type": "boolean"
        },
        "preferentialNetworkService": {
          "enum": [
            "PREFERENTIAL_NETWORK_SERVICE_UNSPECIFIED",
            "PREFERENTIAL_NETWORK_SERVICE_DISABLED",
            "PREFERENTIAL_NETWORK_SERVICE_ENABLED"
          ],
          "description": "Controls whether preferential network service is enabled on the work profile. For example, an organization may have an agreement with a carrier that all of the work data from its employees' devices will be sent via a network service dedicated for enterprise use. An example of a supported preferential network service is the enterprise slice on 5G networks. This has no effect on fully managed devices.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to PREFERENTIAL_NETWORK_SERVICES_DISABLED.",
            "Preferential network service is disabled on the work profile.",
            "Preferential network service is enabled on the work profile."
          ]
        },
        "deviceOwnerLockScreenInfo": {
          "description": "The device owner information to be shown on the lock screen.",
          "$ref": "UserFacingMessage"
        },
        "unmuteMicrophoneDisabled": {
          "description": "If microphone_access is set to any value other than MICROPHONE_ACCESS_UNSPECIFIED, this has no effect. Otherwise this field controls whether microphones are disabled: If true, all microphones are disabled, otherwise they are available. This is available only on fully managed devices.",
          "type": "boolean"
        },
        "androidDevicePolicyTracks": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "The production track, which provides the latest stable release.",
              "The beta track, which provides the latest beta release."
            ],
            "type": "string",
            "enum": [
              "APP_TRACK_UNSPECIFIED",
              "PRODUCTION",
              "BETA"
            ]
          },
          "description": "The app tracks for Android Device Policy the device can access. The device receives the latest version among all accessible tracks. If no tracks are specified, then the device only uses the production track.",
          "type": "array"
        },
        "bluetoothConfigDisabled": {
          "description": "Whether configuring bluetooth is disabled.",
          "type": "boolean"
        },
        "defaultPermissionPolicy": {
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "type": "string",
          "description": "The default permission policy for runtime permission requests."
        },
        "recommendedGlobalProxy": {
          "$ref": "ProxyInfo",
          "description": "The network-independent global HTTP proxy. Typically proxies should be configured per-network in open_network_configuration. However for unusual configurations like general internal filtering a global HTTP proxy may be useful. If the proxy is not accessible, network access may break. The global proxy is only a recommendation and some apps may ignore it."
        },
        "createWindowsDisabled": {
          "type": "boolean",
          "description": "Whether creating windows besides app windows is disabled."
        },
        "policyEnforcementRules": {
          "items": {
            "$ref": "PolicyEnforcementRule"
          },
          "description": "Rules that define the behavior when a particular policy can not be applied on device",
          "type": "array"
        },
        "credentialsConfigDisabled": {
          "description": "Whether configuring user credentials is disabled.",
          "type": "boolean"
        },
        "appAutoUpdatePolicy": {
          "description": "Deprecated. Use autoUpdateMode instead.When autoUpdateMode is set to AUTO_UPDATE_POSTPONED or AUTO_UPDATE_HIGH_PRIORITY, this field has no effect.The app auto update policy, which controls when automatic app updates can be applied.",
          "enumDescriptions": [
            "The auto-update policy is not set. Equivalent to CHOICE_TO_THE_USER.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over Wi-Fi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ],
          "enum": [
            "APP_AUTO_UPDATE_POLICY_UNSPECIFIED",
            "CHOICE_TO_THE_USER",
            "NEVER",
            "WIFI_ONLY",
            "ALWAYS"
          ],
          "type": "string"
        },
        "outgoingBeamDisabled": {
          "description": "Whether using NFC to beam data from apps is disabled.",
          "type": "boolean"
        },
        "cameraAccess": {
          "enumDescriptions": [
            "If camera_disabled is true, this is equivalent to CAMERA_ACCESS_DISABLED. Otherwise, this is equivalent to CAMERA_ACCESS_USER_CHOICE.",
            "The field camera_disabled is ignored. This is the default device behaviour: all cameras on the device are available. On Android 12 and above, the user can use the camera access toggle.",
            "The field camera_disabled is ignored. All cameras on the device are disabled (for fully managed devices, this applies device-wide and for work profiles this applies only to the work profile).There are no explicit restrictions placed on the camera access toggle on Android 12 and above: on fully managed devices, the camera access toggle has no effect as all cameras are disabled. On devices with a work profile, this toggle has no effect on apps in the work profile, but it affects apps outside the work profile.",
            "The field camera_disabled is ignored. All cameras on the device are available. On fully managed devices running Android 12 and above, the user is unable to use the camera access toggle. On devices which are not fully managed or which run Android 11 or below, this is equivalent to CAMERA_ACCESS_USER_CHOICE."
          ],
          "enum": [
            "CAMERA_ACCESS_UNSPECIFIED",
            "CAMERA_ACCESS_USER_CHOICE",
            "CAMERA_ACCESS_DISABLED",
            "CAMERA_ACCESS_ENFORCED"
          ],
          "description": "Controls the use of the camera and whether the user has access to the camera access toggle.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A policy resource represents a group of settings that govern the behavior of a managed device and the apps installed on it.",
      "id": "Policy"
    },
    "KeyguardDismissedEvent": {
      "properties": {},
      "id": "KeyguardDismissedEvent",
      "description": "The keyguard was dismissed. Intentionally empty.",
      "type": "object"
    },
    "KeyDestructionEvent": {
      "properties": {
        "applicationUid": {
          "description": "UID of the application which owns the key.",
          "type": "integer",
          "format": "int32"
        },
        "success": {
          "description": "Whether the operation was successful.",
          "type": "boolean"
        },
        "keyAlias": {
          "type": "string",
          "description": "Alias of the key."
        }
      },
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "type": "object",
      "id": "KeyDestructionEvent"
    },
    "StatusReportingSettings": {
      "id": "StatusReportingSettings",
      "description": "Settings controlling the behavior of status reports.",
      "properties": {
        "memoryInfoEnabled": {
          "type": "boolean",
          "description": "Whether memory event reporting is enabled."
        },
        "deviceSettingsEnabled": {
          "type": "boolean",
          "description": "Whether device settings reporting is enabled."
        },
        "displayInfoEnabled": {
          "type": "boolean",
          "description": "Whether displays reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "hardwareStatusEnabled": {
          "type": "boolean",
          "description": "Whether hardware status reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "commonCriteriaModeEnabled": {
          "description": "Whether Common Criteria Mode reporting is enabled.",
          "type": "boolean"
        },
        "softwareInfoEnabled": {
          "description": "Whether software info reporting is enabled.",
          "type": "boolean"
        },
        "applicationReportsEnabled": {
          "type": "boolean",
          "description": "Whether app reports are enabled."
        },
        "applicationReportingSettings": {
          "description": "Application reporting settings. Only applicable if application_reports_enabled is true.",
          "$ref": "ApplicationReportingSettings"
        },
        "networkInfoEnabled": {
          "type": "boolean",
          "description": "Whether network info reporting is enabled."
        },
        "powerManagementEventsEnabled": {
          "description": "Whether power management event reporting is enabled. Report data is not available for personally owned devices with work profiles.",
          "type": "boolean"
        },
        "systemPropertiesEnabled": {
          "type": "boolean",
          "description": "Whether system properties reporting is enabled."
        }
      },
      "type": "object"
    },
    "UsageLogEvent": {
      "type": "object",
      "id": "UsageLogEvent",
      "description": "An event logged on the device.",
      "properties": {
        "certValidationFailureEvent": {
          "$ref": "CertValidationFailureEvent",
          "description": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate. Part of SECURITY_LOGS."
        },
        "adbShellCommandEvent": {
          "description": "A shell command was issued over ADB via “adb shell command”. Part of SECURITY_LOGS.",
          "$ref": "AdbShellCommandEvent"
        },
        "mediaMountEvent": {
          "description": "Removable media was mounted. Part of SECURITY_LOGS.",
          "$ref": "MediaMountEvent"
        },
        "logBufferSizeCriticalEvent": {
          "description": "The audit log buffer has reached 90% of its capacity, therefore older events may be dropped. Part of SECURITY_LOGS.",
          "$ref": "LogBufferSizeCriticalEvent"
        },
        "keyguardSecuredEvent": {
          "$ref": "KeyguardSecuredEvent",
          "description": "The device was locked either by user or timeout. Part of SECURITY_LOGS."
        },
        "remoteLockEvent": {
          "$ref": "RemoteLockEvent",
          "description": "The device or profile has been remotely locked via the LOCK command. Part of SECURITY_LOGS."
        },
        "cryptoSelfTestCompletedEvent": {
          "$ref": "CryptoSelfTestCompletedEvent",
          "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted. Part of SECURITY_LOGS."
        },
        "certAuthorityInstalledEvent": {
          "$ref": "CertAuthorityInstalledEvent",
          "description": "A new root certificate was installed into the system's trusted credential storage. Part of SECURITY_LOGS."
        },
        "osStartupEvent": {
          "$ref": "OsStartupEvent",
          "description": "Device was started. Part of SECURITY_LOGS."
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Device timestamp when the event was logged.",
          "type": "string"
        },
        "filePulledEvent": {
          "description": "A file was downloaded from the device. Part of SECURITY_LOGS.",
          "$ref": "FilePulledEvent"
        },
        "keyguardDismissAuthAttemptEvent": {
          "$ref": "KeyguardDismissAuthAttemptEvent",
          "description": "An attempt was made to unlock the device. Part of SECURITY_LOGS."
        },
        "keyIntegrityViolationEvent": {
          "$ref": "KeyIntegrityViolationEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. Part of SECURITY_LOGS."
        },
        "certAuthorityRemovedEvent": {
          "description": "A root certificate was removed from the system's trusted credential storage. Part of SECURITY_LOGS.",
          "$ref": "CertAuthorityRemovedEvent"
        },
        "eventId": {
          "type": "string",
          "description": "Unique id of the event.",
          "format": "int64"
        },
        "keyImportEvent": {
          "$ref": "KeyImportEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. Part of SECURITY_LOGS."
        },
        "osShutdownEvent": {
          "description": "Device was shutdown. Part of SECURITY_LOGS.",
          "$ref": "OsShutdownEvent"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ADB_SHELL_COMMAND",
            "ADB_SHELL_INTERACTIVE",
            "APP_PROCESS_START",
            "KEYGUARD_DISMISSED",
            "KEYGUARD_DISMISS_AUTH_ATTEMPT",
            "KEYGUARD_SECURED",
            "FILE_PULLED",
            "FILE_PUSHED",
            "CERT_AUTHORITY_INSTALLED",
            "CERT_AUTHORITY_REMOVED",
            "CERT_VALIDATION_FAILURE",
            "CRYPTO_SELF_TEST_COMPLETED",
            "KEY_DESTRUCTION",
            "KEY_GENERATED",
            "KEY_IMPORT",
            "KEY_INTEGRITY_VIOLATION",
            "LOGGING_STARTED",
            "LOGGING_STOPPED",
            "LOG_BUFFER_SIZE_CRITICAL",
            "MEDIA_MOUNT",
            "MEDIA_UNMOUNT",
            "OS_SHUTDOWN",
            "OS_STARTUP",
            "REMOTE_LOCK",
            "WIPE_FAILURE",
            "CONNECT",
            "DNS"
          ],
          "enumDescriptions": [
            "This value is not used",
            "Indicates adb_shell_command_event has been set.",
            "Indicates adb_shell_interactive_event has been set.",
            "Indicates app_process_start_event has been set.",
            "Indicates keyguard_dismissed_event has been set.",
            "Indicates keyguard_dismiss_auth_attempt_event has been set.",
            "Indicates keyguard_secured_event has been set.",
            "Indicates file_pulled_event has been set.",
            "Indicates file_pushed_event has been set.",
            "Indicates cert_authority_installed_event has been set.",
            "Indicates cert_authority_removed_event has been set.",
            "Indicates cert_validation_failure_event has been set.",
            "Indicates crypto_self_test_completed_event has been set.",
            "Indicates key_destruction_event has been set.",
            "Indicates key_generated_event has been set.",
            "Indicates key_import_event has been set.",
            "Indicates key_integrity_violation_event has been set.",
            "Indicates logging_started_event has been set.",
            "Indicates logging_stopped_event has been set.",
            "Indicates log_buffer_size_critical_event has been set.",
            "Indicates media_mount_event has been set.",
            "Indicates media_unmount_event has been set.",
            "Indicates os_shutdown_event has been set.",
            "Indicates os_startup_event has been set.",
            "Indicates remote_lock_event has been set.",
            "Indicates wipe_failure_event has been set.",
            "Indicates connect_event has been set.",
            "Indicates dns_event has been set."
          ],
          "description": "The particular usage log event type that was reported on the device. Use this to determine which event field to access.",
          "type": "string"
        },
        "dnsEvent": {
          "description": "A DNS lookup event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS.",
          "$ref": "DnsEvent"
        },
        "loggingStartedEvent": {
          "$ref": "LoggingStartedEvent",
          "description": "usageLog policy has been enabled. Part of SECURITY_LOGS."
        },
        "keyDestructionEvent": {
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. Part of SECURITY_LOGS.",
          "$ref": "KeyDestructionEvent"
        },
        "appProcessStartEvent": {
          "description": "An app process was started. Part of SECURITY_LOGS.",
          "$ref": "AppProcessStartEvent"
        },
        "adbShellInteractiveEvent": {
          "$ref": "AdbShellInteractiveEvent",
          "description": "An ADB interactive shell was opened via “adb shell”. Part of SECURITY_LOGS."
        },
        "mediaUnmountEvent": {
          "description": "Removable media was unmounted. Part of SECURITY_LOGS.",
          "$ref": "MediaUnmountEvent"
        },
        "filePushedEvent": {
          "description": "A file was uploaded onto the device. Part of SECURITY_LOGS.",
          "$ref": "FilePushedEvent"
        },
        "keyGeneratedEvent": {
          "$ref": "KeyGeneratedEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management. Part of SECURITY_LOGS."
        },
        "loggingStoppedEvent": {
          "$ref": "LoggingStoppedEvent",
          "description": "usageLog policy has been disabled. Part of SECURITY_LOGS."
        },
        "wipeFailureEvent": {
          "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Part of SECURITY_LOGS.",
          "$ref": "WipeFailureEvent"
        },
        "keyguardDismissedEvent": {
          "description": "The keyguard was dismissed. Part of SECURITY_LOGS.",
          "$ref": "KeyguardDismissedEvent"
        },
        "connectEvent": {
          "description": "A TCP connect event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS.",
          "$ref": "ConnectEvent"
        }
      }
    },
    "ListPoliciesResponse": {
      "description": "Response to a request to list policies for a given enterprise.",
      "id": "ListPoliciesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        },
        "policies": {
          "type": "array",
          "description": "The list of policies.",
          "items": {
            "$ref": "Policy"
          }
        }
      }
    },
    "ManagedConfigurationTemplate": {
      "type": "object",
      "properties": {
        "templateId": {
          "description": "The ID of the managed configurations template.",
          "type": "string"
        },
        "configurationVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional, a map containing configuration variables defined for the configuration."
        }
      },
      "description": "The managed configurations template for the app, saved from the managed configurations iframe.",
      "id": "ManagedConfigurationTemplate"
    },
    "WipeAction": {
      "description": "An action to reset a company owned device or delete a work profile. Note: blockAction must also be specified.",
      "type": "object",
      "id": "WipeAction",
      "properties": {
        "wipeAfterDays": {
          "type": "integer",
          "description": "Number of days the policy is non-compliant before the device or work profile is wiped. wipeAfterDays must be greater than blockAfterDays.",
          "format": "int32"
        },
        "preserveFrp": {
          "type": "boolean",
          "description": "Whether the factory-reset protection data is preserved on the device. This setting doesn’t apply to work profiles."
        }
      }
    },
    "WipeFailureEvent": {
      "properties": {},
      "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Intentionally empty.",
      "id": "WipeFailureEvent",
      "type": "object"
    },
    "ListEnrollmentTokensResponse": {
      "description": "Response to a request to list enrollment tokens for a given enterprise.",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        },
        "enrollmentTokens": {
          "items": {
            "$ref": "EnrollmentToken"
          },
          "description": "The list of enrollment tokens.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListEnrollmentTokensResponse"
    },
    "HardwareInfo": {
      "properties": {
        "skinShutdownTemperatures": {
          "type": "array",
          "description": "Device skin shutdown temperature thresholds in Celsius.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "gpuShutdownTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "GPU shutdown temperature thresholds in Celsius for each GPU on the device."
        },
        "serialNumber": {
          "type": "string",
          "description": "The device serial number."
        },
        "deviceBasebandVersion": {
          "description": "Baseband version. For example, MDM9625_104662.22.05.34p.",
          "type": "string"
        },
        "gpuThrottlingTemperatures": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "GPU throttling temperature thresholds in Celsius for each GPU on the device.",
          "type": "array"
        },
        "enterpriseSpecificId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID that uniquely identifies a personally-owned device in a particular organization. On the same physical device when enrolled with the same organization, this ID persists across setups and even factory resets. This ID is available on personally-owned devices with a work profile on devices running Android 12 and above."
        },
        "brand": {
          "description": "Brand of the device. For example, Google.",
          "type": "string"
        },
        "cpuThrottlingTemperatures": {
          "description": "CPU throttling temperature thresholds in Celsius for each CPU on the device.",
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "model": {
          "type": "string",
          "description": "The model of the device. For example, Asus Nexus 7."
        },
        "batteryShutdownTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Battery shutdown temperature thresholds in Celsius for each battery on the device.",
          "type": "array"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer. For example, Motorola."
        },
        "skinThrottlingTemperatures": {
          "description": "Device skin throttling temperature thresholds in Celsius.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "batteryThrottlingTemperatures": {
          "type": "array",
          "description": "Battery throttling temperature thresholds in Celsius for each battery on the device.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "hardware": {
          "type": "string",
          "description": "Name of the hardware. For example, Angler."
        },
        "cpuShutdownTemperatures": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "CPU shutdown temperature thresholds in Celsius for each CPU on the device."
        }
      },
      "id": "HardwareInfo",
      "description": "Information about device hardware. The fields related to temperature thresholds are only available if hardwareStatusEnabled is true in the device's policy.",
      "type": "object"
    },
    "MemoryInfo": {
      "description": "Information about device memory and storage.",
      "id": "MemoryInfo",
      "properties": {
        "totalRam": {
          "format": "int64",
          "type": "string",
          "description": "Total RAM on device in bytes."
        },
        "totalInternalStorage": {
          "type": "string",
          "description": "Total internal storage on device in bytes.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "BlockAction": {
      "properties": {
        "blockScope": {
          "description": "Specifies the scope of this BlockAction. Only applicable to devices that are company-owned.",
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCK_SCOPE_WORK_PROFILE.",
            "Block action is only applied to apps in the work profile. Apps in the personal profile are unaffected.",
            "Block action is applied to the entire device, including apps in the personal profile."
          ],
          "type": "string",
          "enum": [
            "BLOCK_SCOPE_UNSPECIFIED",
            "BLOCK_SCOPE_WORK_PROFILE",
            "BLOCK_SCOPE_DEVICE"
          ]
        },
        "blockAfterDays": {
          "format": "int32",
          "type": "integer",
          "description": "Number of days the policy is non-compliant before the device or work profile is blocked. To block access immediately, set to 0. blockAfterDays must be less than wipeAfterDays."
        }
      },
      "id": "BlockAction",
      "description": "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a device or work profile to displays a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified.",
      "type": "object"
    },
    "KeyIntegrityViolationEvent": {
      "properties": {
        "keyAlias": {
          "description": "Alias of the key.",
          "type": "string"
        },
        "applicationUid": {
          "format": "int32",
          "description": "UID of the application which owns the key",
          "type": "integer"
        }
      },
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "type": "object",
      "id": "KeyIntegrityViolationEvent"
    },
    "PerAppResult": {
      "id": "PerAppResult",
      "properties": {
        "clearingResult": {
          "enumDescriptions": [
            "Unspecified result.",
            "This app’s data was successfully cleared.",
            "This app’s data could not be cleared because the app was not found.",
            "This app’s data could not be cleared because the app is protected. For example, this may apply to apps critical to the functioning of the device, such as Google Play Store.",
            "This app’s data could not be cleared because the device API level does not support this command."
          ],
          "type": "string",
          "enum": [
            "CLEARING_RESULT_UNSPECIFIED",
            "SUCCESS",
            "APP_NOT_FOUND",
            "APP_PROTECTED",
            "API_LEVEL"
          ],
          "description": "The result of an attempt to clear the data of a single app."
        }
      },
      "type": "object",
      "description": "The result of an attempt to clear the data of a single app."
    },
    "ListDevicesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The list of devices."
        }
      },
      "id": "ListDevicesResponse",
      "type": "object",
      "description": "Response to a request to list devices for a given enterprise."
    },
    "ApplicationPermission": {
      "properties": {
        "description": {
          "description": "A longer description of the permission, providing more detail on what it affects. Localized.",
          "type": "string"
        },
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission. Not localized.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the permission. Localized."
        }
      },
      "description": "A permission required by the app.",
      "id": "ApplicationPermission",
      "type": "object"
    },
    "User": {
      "description": "A user belonging to an enterprise.",
      "properties": {
        "accountIdentifier": {
          "description": "A unique identifier you create for this user, such as user342 or asset#44418. This field must be set when the user is created and can't be updated. This field must not contain personally identifiable information (PII). This identifier must be 1024 characters or less; otherwise, the update policy request will fail.",
          "type": "string"
        }
      },
      "id": "User",
      "type": "object"
    },
    "ManagedPropertyEntry": {
      "description": "An entry of a managed property.",
      "id": "ManagedPropertyEntry",
      "properties": {
        "value": {
          "description": "The machine-readable value of the entry, which should be used in the configuration. Not localized.",
          "type": "string"
        },
        "name": {
          "description": "The human-readable name of the value. Localized.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListEnterprisesResponse": {
      "description": "Response to a request to list enterprises.",
      "type": "object",
      "id": "ListEnterprisesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        },
        "enterprises": {
          "items": {
            "$ref": "Enterprise"
          },
          "description": "The list of enterprises.",
          "type": "array"
        }
      }
    },
    "AdbShellCommandEvent": {
      "description": "A shell command was issued over ADB via “adb shell command”.",
      "id": "AdbShellCommandEvent",
      "type": "object",
      "properties": {
        "shellCmd": {
          "type": "string",
          "description": "Shell command that was issued over ADB via \"adb shell command\". Redacted to empty string on organization-owned managed profile devices."
        }
      }
    },
    "SoftwareInfo": {
      "description": "Information about device software.",
      "id": "SoftwareInfo",
      "type": "object",
      "properties": {
        "primaryLanguageCode": {
          "type": "string",
          "description": "An IETF BCP 47 language code for the primary locale on the device."
        },
        "deviceKernelVersion": {
          "type": "string",
          "description": "Kernel version, for example, 2.6.32.9-g103d848."
        },
        "systemUpdateInfo": {
          "description": "Information about a potential pending system update.",
          "$ref": "SystemUpdateInfo"
        },
        "androidDevicePolicyVersionName": {
          "type": "string",
          "description": "The Android Device Policy app version as displayed to the user."
        },
        "securityPatchLevel": {
          "type": "string",
          "description": "Security patch level, e.g. 2016-05-01."
        },
        "androidBuildNumber": {
          "description": "Android build ID string meant for displaying to the user. For example, shamu-userdebug 6.0.1 MOB30I 2756745 dev-keys.",
          "type": "string"
        },
        "androidVersion": {
          "description": "The user-visible Android version string. For example, 6.0.1.",
          "type": "string"
        },
        "androidDevicePolicyVersionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The Android Device Policy app version code."
        },
        "deviceBuildSignature": {
          "type": "string",
          "description": "SHA-256 hash of android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the system package, which can be used to verify that the system build hasn't been modified."
        },
        "bootloaderVersion": {
          "type": "string",
          "description": "The system bootloader version number, e.g. 0.6.7."
        },
        "androidBuildTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Build time."
        }
      }
    },
    "Command": {
      "type": "object",
      "properties": {
        "newPassword": {
          "type": "string",
          "description": "For commands of type RESET_PASSWORD, optionally specifies the new password."
        },
        "type": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "LOCK",
            "RESET_PASSWORD",
            "REBOOT",
            "RELINQUISH_OWNERSHIP",
            "CLEAR_APP_DATA"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "Lock the device, as if the lock screen timeout had expired.",
            "Reset the user's password.",
            "Reboot the device. Only supported on fully managed devices running Android 7.0 (API level 24) or higher.",
            "Removes the work profile and all policies from a company-owned Android 8.0+ device, relinquishing the device for personal use. Apps and data associated with the personal profile(s) are preserved. The device will be deleted from the server after it acknowledges the command.",
            "Clears the application data of specified apps. This is supported on Android 9 and above. Note that an application can store data outside of its application data, for example in external storage or in a user dictionary. See also clear_apps_data_params."
          ],
          "description": "The type of the command."
        },
        "errorCode": {
          "enum": [
            "COMMAND_ERROR_CODE_UNSPECIFIED",
            "UNKNOWN",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "INVALID_VALUE",
            "UNSUPPORTED"
          ],
          "description": "If the command failed, an error code explaining the failure. This is not set when the command is cancelled by the caller.",
          "enumDescriptions": [
            "There was no error.",
            "An unknown error occurred.",
            "The API level of the device does not support this command.",
            "The management mode (profile owner, device owner, etc.) does not support the command.",
            "The command has an invalid parameter value.",
            "The device doesn't support the command. Updating Android Device Policy to the latest version may resolve the issue."
          ],
          "type": "string"
        },
        "resetPasswordFlags": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RESET_PASSWORD_FLAG_UNSPECIFIED",
              "REQUIRE_ENTRY",
              "DO_NOT_ASK_CREDENTIALS_ON_BOOT",
              "LOCK_NOW"
            ],
            "enumDescriptions": [
              "This value is ignored.",
              "Don't allow other admins to change the password again until the user has entered it.",
              "Don't ask for user credentials on device boot.",
              "Lock the device after password reset."
            ]
          },
          "description": "For commands of type RESET_PASSWORD, optionally specifies flags."
        },
        "duration": {
          "description": "The duration for which the command is valid. The command will expire if not executed by the device during this time. The default duration if unspecified is ten minutes. There is no maximum duration.",
          "type": "string",
          "format": "google-duration"
        },
        "userName": {
          "type": "string",
          "description": "The resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}. This is automatically generated by the server based on the device the command is sent to."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp at which the command was created. The timestamp is automatically generated by the server.",
          "type": "string"
        },
        "clearAppsDataParams": {
          "description": "Parameters for the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to CLEAR_APP_DATA. It is also acceptable to explicitly set type to CLEAR_APP_DATA.",
          "$ref": "ClearAppsDataParams"
        },
        "clearAppsDataStatus": {
          "$ref": "ClearAppsDataStatus",
          "description": "Output only. Status of the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataStatus.",
          "readOnly": true
        }
      },
      "description": "A command.",
      "id": "Command"
    },
    "LogBufferSizeCriticalEvent": {
      "type": "object",
      "id": "LogBufferSizeCriticalEvent",
      "description": "The usageLog buffer on the device has reached 90% of its capacity, therefore older events may be dropped. Intentionally empty.",
      "properties": {}
    },
    "PersistentPreferredActivity": {
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "The intent actions to match in the filter. If any actions are included in the filter, then an intent's action must be one of those values for it to match. If no actions are included, the intent action is ignored.",
          "type": "array"
        },
        "receiverActivity": {
          "type": "string",
          "description": "The activity that should be the default intent handler. This should be an Android component name, e.g. com.android.enterprise.app/.MainActivity. Alternatively, the value may be the package name of an app, which causes Android Device Policy to choose an appropriate activity from the app to handle the intent."
        },
        "categories": {
          "type": "array",
          "description": "The intent categories to match in the filter. An intent includes the categories that it requires, all of which must be included in the filter in order to match. In other words, adding a category to the filter has no impact on matching unless that category is specified in the intent.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PersistentPreferredActivity",
      "description": "A default activity for handling intents that match a particular intent filter. Note: To set up a kiosk, use InstallType to KIOSK rather than use persistent preferred activities."
    },
    "CertAuthorityRemovedEvent": {
      "description": "A root certificate was removed from the system's trusted credential storage. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "Whether the removal succeeded."
        },
        "certificate": {
          "type": "string",
          "description": "Subject of the certificate."
        },
        "userId": {
          "type": "integer",
          "description": "The user in which the certificate removal event occurred. Only available for devices running Android 11 and above.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "CertAuthorityRemovedEvent"
    },
    "ManagedProperty": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the property.",
          "enumDescriptions": [
            "Not used.",
            "A property of boolean type.",
            "A property of string type.",
            "A property of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that can't be modified, such as a version code).",
            "A bundle of properties",
            "An array of property bundles."
          ],
          "type": "string",
          "enum": [
            "MANAGED_PROPERTY_TYPE_UNSPECIFIED",
            "BOOL",
            "STRING",
            "INTEGER",
            "CHOICE",
            "MULTISELECT",
            "HIDDEN",
            "BUNDLE",
            "BUNDLE_ARRAY"
          ]
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ManagedPropertyEntry"
          },
          "description": "For CHOICE or MULTISELECT properties, the list of possible entries."
        },
        "description": {
          "type": "string",
          "description": "A longer description of the property, providing more detail of what it affects. Localized."
        },
        "defaultValue": {
          "description": "The default value of the property. BUNDLE_ARRAY properties don't have a default value.",
          "type": "any"
        },
        "nestedProperties": {
          "type": "array",
          "items": {
            "$ref": "ManagedProperty"
          },
          "description": "For BUNDLE_ARRAY properties, the list of nested properties. A BUNDLE_ARRAY property is at most two levels deep."
        },
        "title": {
          "description": "The name of the property. Localized.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The unique key that the app uses to identify the property, e.g. \"com.google.android.gm.fieldname\"."
        }
      },
      "id": "ManagedProperty",
      "description": "Managed property."
    },
    "ContactInfo": {
      "id": "ContactInfo",
      "type": "object",
      "properties": {
        "euRepresentativeName": {
          "description": "The name of the EU representative.",
          "type": "string"
        },
        "euRepresentativePhone": {
          "description": "The phone number of the EU representative. The phone number is validated but not verified.",
          "type": "string"
        },
        "euRepresentativeEmail": {
          "description": "The email of the EU representative. The email is validated but not verified.",
          "type": "string"
        },
        "contactEmail": {
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play.",
          "type": "string"
        },
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "dataProtectionOfficerEmail": {
          "description": "The email of the data protection officer. The email is validated but not verified.",
          "type": "string"
        },
        "dataProtectionOfficerPhone": {
          "type": "string",
          "description": "The phone number of the data protection officer The phone number is validated but not verified."
        }
      },
      "description": "Contact details for managed Google Play enterprises."
    },
    "PackageNameList": {
      "properties": {
        "packageNames": {
          "type": "array",
          "description": "A list of package names.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PackageNameList",
      "description": "A list of package names.",
      "type": "object"
    },
    "UserFacingMessage": {
      "type": "object",
      "properties": {
        "localizedMessages": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map containing pairs, where locale is a well-formed BCP 47 language (https://www.w3.org/International/articles/language-tags/) code, such as en-US, es-ES, or fr.",
          "type": "object"
        },
        "defaultMessage": {
          "type": "string",
          "description": "The default message displayed if no localized message is specified or the user's locale doesn't match with any of the localized messages. A default message must be provided if any localized messages are provided."
        }
      },
      "description": "Provides a user-facing message with locale info. The maximum message length is 4096 characters.",
      "id": "UserFacingMessage"
    },
    "OncCertificateProvider": {
      "properties": {
        "certificateReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "This feature is not generally available."
        },
        "contentProviderEndpoint": {
          "$ref": "ContentProviderEndpoint",
          "description": "This feature is not generally available."
        }
      },
      "id": "OncCertificateProvider",
      "type": "object",
      "description": "This feature is not generally available."
    },
    "ApplicationEvent": {
      "description": "An app-related event.",
      "type": "object",
      "id": "ApplicationEvent",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "This value is disallowed.",
            "The app was installed.",
            "The app was changed, for example, a component was enabled or disabled.",
            "The app data was cleared.",
            "The app was removed.",
            "A new version of the app has been installed, replacing the old version.",
            "The app was restarted.",
            "The app was pinned to the foreground.",
            "The app was unpinned."
          ],
          "description": "App event type.",
          "enum": [
            "APPLICATION_EVENT_TYPE_UNSPECIFIED",
            "INSTALLED",
            "CHANGED",
            "DATA_CLEARED",
            "REMOVED",
            "REPLACED",
            "RESTARTED",
            "PINNED",
            "UNPINNED"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the event."
        }
      }
    },
    "SystemUpdate": {
      "type": "object",
      "properties": {
        "endMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "If the type is WINDOWED, the end of the maintenance window, measured as the number of minutes after midnight in device's local time. This value must be between 0 and 1439, inclusive. If this value is less than start_minutes, then the maintenance window spans midnight. If the maintenance window specified is smaller than 30 minutes, the actual window is extended to 30 minutes beyond the start time."
        },
        "type": {
          "type": "string",
          "description": "The type of system update to configure.",
          "enum": [
            "SYSTEM_UPDATE_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "WINDOWED",
            "POSTPONE"
          ],
          "enumDescriptions": [
            "Follow the default update behavior for the device, which typically requires the user to accept system updates.",
            "Install automatically as soon as an update is available.",
            "Install automatically within a daily maintenance window. This also configures Play apps to be updated within the window. This is strongly recommended for kiosk devices because this is the only way apps persistently pinned to the foreground can be updated by Play.If autoUpdateMode is set to AUTO_UPDATE_HIGH_PRIORITY for an app, then the maintenance window is ignored for that app and it is updated as soon as possible even outside of the maintenance window.",
            "Postpone automatic install up to a maximum of 30 days."
          ]
        },
        "startMinutes": {
          "description": "If the type is WINDOWED, the start of the maintenance window, measured as the number of minutes after midnight in the device's local time. This value must be between 0 and 1439, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "freezePeriods": {
          "type": "array",
          "items": {
            "$ref": "FreezePeriod"
          },
          "description": "An annually repeating time period in which over-the-air (OTA) system updates are postponed to freeze the OS version running on a device. To prevent freezing the device indefinitely, each freeze period must be separated by at least 60 days."
        }
      },
      "description": "Configuration for managing system updates",
      "id": "SystemUpdate"
    },
    "SignupUrl": {
      "type": "object",
      "description": "An enterprise signup URL.",
      "id": "SignupUrl",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow."
        },
        "url": {
          "description": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe.",
          "type": "string"
        }
      }
    },
    "OsShutdownEvent": {
      "type": "object",
      "properties": {},
      "id": "OsShutdownEvent",
      "description": "Device was shutdown. Intentionally empty."
    },
    "FilePulledEvent": {
      "properties": {
        "filePath": {
          "description": "The path of the file being pulled.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FilePulledEvent",
      "description": "A file was downloaded from the device."
    },
    "PermissionGrant": {
      "description": "Configuration for an Android permission and its grant state.",
      "type": "object",
      "id": "PermissionGrant",
      "properties": {
        "permission": {
          "type": "string",
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR."
        },
        "policy": {
          "description": "The policy for granting the permission.",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "type": "string"
        }
[...]
