{
  "description": "Manage your product listings and accounts for Google Shopping",
  "basePath": "/content/v2.1/",
  "canonicalName": "Shopping Content",
  "protocol": "rest",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "title": "Content API for Shopping",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2.1/",
  "discoveryVersion": "v1",
  "version": "v2.1",
  "id": "content:v2.1",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "batchPath": "batch",
  "revision": "20230223",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "name": "content",
  "ownerDomain": "google.com",
  "schemas": {
    "MerchantOrderReturn": {
      "properties": {
        "returnPricingInfo": {
          "description": "Information about shipping costs.",
          "$ref": "ReturnPricingInfo"
        },
        "returnItems": {
          "description": "Items of the return.",
          "type": "array",
          "items": {
            "$ref": "MerchantOrderReturnItem"
          }
        },
        "orderId": {
          "type": "string",
          "description": "Google order ID."
        },
        "returnShipments": {
          "description": "Shipments of the return.",
          "items": {
            "$ref": "ReturnShipment"
          },
          "type": "array"
        },
        "merchantOrderId": {
          "type": "string",
          "description": "Merchant defined order ID."
        },
        "creationDate": {
          "type": "string",
          "description": "The date of creation of the return, in ISO 8601 format."
        },
        "orderReturnId": {
          "type": "string",
          "description": "Order return ID generated by Google."
        }
      },
      "type": "object",
      "description": "Order return. Production access (all methods) requires the order manager role. Sandbox access does not.",
      "id": "MerchantOrderReturn"
    },
    "LiasettingsRequestGmbAccessResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsRequestGmbAccessResponse`\".",
          "type": "string"
        }
      },
      "id": "LiasettingsRequestGmbAccessResponse",
      "type": "object"
    },
    "OrdersRefundItemResponse": {
      "id": "OrdersRefundItemResponse",
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersRefundItemResponse`\"."
        }
      },
      "type": "object"
    },
    "PosCustomBatchRequest": {
      "id": "PosCustomBatchRequest",
      "properties": {
        "entries": {
          "items": {
            "$ref": "PosCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "type": "object"
    },
    "LiasettingsCustomBatchResponseEntry": {
      "id": "LiasettingsCustomBatchResponseEntry",
      "properties": {
        "posDataProviders": {
          "description": "The list of POS data providers.",
          "type": "array",
          "items": {
            "$ref": "PosDataProviders"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsCustomBatchResponseEntry`\""
        },
        "liaSettings": {
          "$ref": "LiaSettings",
          "description": "The retrieved or updated Lia settings."
        },
        "gmbAccounts": {
          "description": "The list of accessible Business Profiles.",
          "$ref": "GmbAccounts"
        },
        "batchId": {
          "format": "uint32",
          "description": "The ID of the request entry to which this entry responds.",
          "type": "integer"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if, and only if, the request failed."
        }
      },
      "type": "object"
    },
    "Region": {
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes or, in some countries, using predefined geotargets.",
      "properties": {
        "regionalInventoryEligible": {
          "description": "Output only. Indicates if the region is eligible to use in the Regional Inventory configuration.",
          "type": "boolean",
          "readOnly": true
        },
        "postalCodeArea": {
          "$ref": "RegionPostalCodeArea",
          "description": "A list of postal codes that defines the region area."
        },
        "geotargetArea": {
          "description": "A list of geotargets that defines the region area.",
          "$ref": "RegionGeoTargetArea"
        },
        "shippingEligible": {
          "description": "Output only. Indicates if the region is eligible to use in the Shipping Services configuration.",
          "type": "boolean",
          "readOnly": true
        },
        "merchantId": {
          "description": "Output only. Immutable. Merchant that owns the region.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "regionId": {
          "readOnly": true,
          "description": "Output only. Immutable. The ID uniquely identifying each region.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the region."
        }
      },
      "type": "object",
      "id": "Region"
    },
    "LinkedAccount": {
      "type": "object",
      "properties": {
        "services": {
          "items": {
            "$ref": "LinkService"
          },
          "description": "List of provided services.",
          "type": "array"
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The ID of the linked account."
        }
      },
      "id": "LinkedAccount"
    },
    "LiasettingsGetAccessibleGmbAccountsResponse": {
      "type": "object",
      "id": "LiasettingsGetAccessibleGmbAccountsResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsGetAccessibleGmbAccountsResponse`\"."
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the Merchant Center account."
        },
        "gmbAccounts": {
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          },
          "description": "A list of Business Profiles which are available to the merchant.",
          "type": "array"
        }
      }
    },
    "ListMethodQuotasResponse": {
      "type": "object",
      "description": "Response message for the ListMethodQuotas method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "methodQuotas": {
          "type": "array",
          "description": "The current quota usage and limits per each method.",
          "items": {
            "$ref": "MethodQuota"
          }
        }
      },
      "id": "ListMethodQuotasResponse"
    },
    "ProductsCustomBatchResponse": {
      "id": "ProductsCustomBatchResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponse`\"."
        },
        "entries": {
          "items": {
            "$ref": "ProductsCustomBatchResponseEntry"
          },
          "type": "array",
          "description": "The result of the execution of the batch requests."
        }
      }
    },
    "OrdersGetByMerchantOrderIdResponse": {
      "properties": {
        "order": {
          "$ref": "Order",
          "description": "The requested order."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersGetByMerchantOrderIdResponse`\"."
        }
      },
      "id": "OrdersGetByMerchantOrderIdResponse",
      "type": "object"
    },
    "RepricingRuleRestriction": {
      "type": "object",
      "description": "Definition of a rule restriction. At least one of the following needs to be true: (1) use_auto_pricing_min_price is true (2) floor.price_delta exists (3) floor.percentage_delta exists If floor.price_delta and floor.percentage_delta are both set on a rule, the highest value will be chosen by the Repricer. In other words, for a product with a price of $50, if the `floor.percentage_delta` is \"-10\" and the floor.price_delta is \"-12\", the offer price will only be lowered $5 (10% lower than the original offer price).",
      "properties": {
        "floor": {
          "description": "The inclusive floor lower bound. The repricing rule only applies when new price \u003e= floor.",
          "$ref": "RepricingRuleRestrictionBoundary"
        },
        "useAutoPricingMinPrice": {
          "type": "boolean",
          "description": "If true, use the AUTO_PRICING_MIN_PRICE offer attribute as the lower bound of the rule. If use_auto_pricing_min_price is true, then only offers with `AUTO_PRICING_MIN_PRICE` existing on the offer will get Repricer treatment, even if a floor value is set on the rule. Also, if use_auto_pricing_min_price is true, the floor restriction will be ignored."
        }
      },
      "id": "RepricingRuleRestriction"
    },
    "OrderLineItemProduct": {
      "properties": {
        "brand": {
          "description": "Brand of the item.",
          "type": "string"
        },
        "fees": {
          "type": "array",
          "description": "Associated fees at order creation time.",
          "items": {
            "$ref": "OrderLineItemProductFee"
          }
        },
        "variantAttributes": {
          "items": {
            "$ref": "OrderLineItemProductVariantAttribute"
          },
          "type": "array",
          "description": "Variant attributes for the item. These are dimensions of the product, such as color, gender, material, pattern, and size. You can find a comprehensive list of variant attributes here."
        },
        "title": {
          "type": "string",
          "description": "The title of the product."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "price": {
          "description": "Price of the item.",
          "$ref": "Price"
        },
        "condition": {
          "type": "string",
          "description": "Condition or state of the item. Acceptable values are: - \"`new`\" - \"`refurbished`\" - \"`used`\" "
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "contentLanguage": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language code for the item."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number (MPN) of the item."
        },
        "id": {
          "type": "string",
          "description": "The REST ID of the product."
        },
        "offerId": {
          "type": "string",
          "description": "An identifier of the item."
        },
        "targetCountry": {
          "type": "string",
          "description": "The CLDR territory code of the target country of the product."
        },
        "shownImage": {
          "type": "string",
          "description": "URL to the cached image shown to the user when order was placed."
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number (GTIN) of the item."
        }
      },
      "id": "OrderLineItemProduct",
      "type": "object"
    },
    "OrderreturnsRefundOperation": {
      "id": "OrderreturnsRefundOperation",
      "properties": {
        "partialRefund": {
          "description": "If this is set, the item will be partially refunded. Merchant can choose this refund option to specify the customized amount that to be refunded to the customer.",
          "$ref": "OrderreturnsPartialRefund"
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "paymentType": {
          "type": "string",
          "description": "The payment way of issuing refund. Default value is ORIGINAL_FOP if not set."
        },
        "returnRefundReason": {
          "type": "string",
          "description": "Code of the refund reason."
        },
        "fullRefund": {
          "description": "If true, the item will be fully refunded. Allowed only when payment_type is FOP. Merchant can choose this refund option to indicate the full remaining amount of corresponding object to be refunded to the customer through FOP.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MethodQuota": {
      "type": "object",
      "properties": {
        "quotaLimit": {
          "description": "The current quota limit per day, meaning the maximum number of calls for the method.",
          "format": "int64",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The method name, for example `products.list`. Method name does not contain version because quota can be shared between different API versions of the same method."
        },
        "quotaUsage": {
          "description": "The current quota usage, meaning the number of calls already made to the method.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The quota information per method in the Content API. Includes only methods with current usage greater than zero for your account.",
      "id": "MethodQuota"
    },
    "ReturnpolicyListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#returnpolicyListResponse`\".",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "ReturnPolicy"
          },
          "type": "array"
        }
      },
      "id": "ReturnpolicyListResponse"
    },
    "Error": {
      "id": "Error",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The error code."
        },
        "domain": {
          "type": "string",
          "description": "The domain of the error."
        },
        "message": {
          "type": "string",
          "description": "A description of the error."
        }
      },
      "description": "An error returned by the API.",
      "type": "object"
    },
    "OrderreturnsCreateOrderReturnResponse": {
      "type": "object",
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#orderreturnsCreateOrderReturnResponse`\".",
          "type": "string"
        },
        "orderReturn": {
          "$ref": "MerchantOrderReturn",
          "description": "Created order return."
        }
      },
      "id": "OrderreturnsCreateOrderReturnResponse"
    },
    "AccountsCustomBatchRequestEntryLinkRequest": {
      "id": "AccountsCustomBatchRequestEntryLinkRequest",
      "type": "object",
      "properties": {
        "action": {
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" ",
          "type": "string"
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        },
        "linkType": {
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" - \"`paymentServiceProvider`\" ",
          "type": "string"
        },
        "services": {
          "type": "array",
          "description": "Provided services. Acceptable values are: - \"`shoppingAdsProductManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingActionsOrderManagement`\" - \"`paymentProcessing`\" ",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LiasettingsSetPosDataProviderResponse": {
      "id": "LiasettingsSetPosDataProviderResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsSetPosDataProviderResponse`\"."
        }
      }
    },
    "DatafeedsCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "datafeedId": {
          "format": "uint64",
          "description": "The ID of the data feed to get, delete or fetch.",
          "type": "string"
        },
        "datafeed": {
          "description": "The data feed to insert.",
          "$ref": "Datafeed"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" "
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "DatafeedsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch datafeeds request."
    },
    "Product": {
      "description": " Required product attributes are primarily defined by the product data specification. See the Product Data Specification Help Center article for information. Product data. After inserting, updating, or deleting a product, it may take several minutes before changes take effect.",
      "properties": {
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item."
        },
        "customAttributes": {
          "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google (formerly known as Shopping Actions).",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign."
        },
        "minEnergyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "multipack": {
          "format": "int64",
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack."
        },
        "displayAdsTitle": {
          "type": "string",
          "description": "Title of an item for dynamic remarketing campaigns."
        },
        "pattern": {
          "description": "The item's pattern (for example, polka dots).",
          "type": "string"
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign."
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Bullet points describing the most relevant highlights of a product."
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "productTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in product data specification)."
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number (GTIN) of the item."
        },
        "sizes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see size definition)."
        },
        "unitPricingMeasure": {
          "description": "The measure and dimension of an item.",
          "$ref": "ProductUnitPricingMeasure"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item's country of sale.",
          "type": "string"
        },
        "adult": {
          "type": "boolean",
          "description": "Should be set to true if the item is targeted towards adults."
        },
        "externalSellerId": {
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account.",
          "type": "string"
        },
        "lifestyleImageLinks": {
          "description": "Additional URLs of lifestyle images of the item, used to explicitly identify images that showcase your item in a real-world context. See the Help Center article for more information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "adsGrouping": {
          "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise.",
          "type": "string"
        },
        "link": {
          "description": "URL directly linking to your item's page on your website.",
          "type": "string"
        },
        "costOfGoodsSold": {
          "description": "Cost of goods sold. Used for gross profit reporting.",
          "$ref": "Price"
        },
        "maxEnergyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "productDetails": {
          "type": "array",
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductProductDetail"
          }
        },
        "displayAdsSimilarIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Advertiser-specified recommendations."
        },
        "displayAdsValue": {
          "type": "number",
          "description": "Offer margin for dynamic remarketing campaigns.",
          "format": "double"
        },
        "availability": {
          "type": "string",
          "description": "Availability status of the item."
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "adsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "promotionIds": {
          "items": {
            "type": "string"
          },
          "description": "The unique ID of a promotion.",
          "type": "array"
        },
        "additionalImageLinks": {
          "type": "array",
          "description": "Additional URLs of images of the item.",
          "items": {
            "type": "string"
          }
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "shippingLabel": {
          "type": "string",
          "description": "The shipping label of the product, used to group product in account-level shipping rules."
        },
        "sellOnGoogleQuantity": {
          "type": "string",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products.",
          "format": "int64"
        },
        "sizeType": {
          "type": "string",
          "description": "The cut of the item. Recommended for apparel items."
        },
        "energyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
        },
        "linkTemplate": {
          "type": "string",
          "description": "URL template for merchant hosted local storefront."
        },
        "shoppingAdsExcludedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in MC feed settings.",
          "items": {
            "type": "string"
          }
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to cleared check boxes in Merchant Center). Products that are excluded from all destinations for more than 7 days are automatically deleted."
        },
        "expirationDate": {
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in ISO 8601 format. The actual expiration date in Google Shopping is exposed in `productstatuses` as `googleExpirationDate` and might be earlier if `expirationDate` is too far in the future."
        },
        "taxCategory": {
          "type": "string",
          "description": "The tax category of the product, used to configure detailed tax nexus in account-level tax settings."
        },
        "availabilityDate": {
          "type": "string",
          "description": "The day a pre-ordered product becomes available for delivery, in ISO 8601 format."
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "transitTimeLabel": {
          "type": "string",
          "description": "The transit time label of the product, used to group product in account-level transit time tables."
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "pause": {
          "type": "string",
          "description": "Publication of this item should be temporarily paused. Acceptable values are: - \"`ads`\" "
        },
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "feedLabel": {
          "description": "Feed label for the item. Either `targetCountry` or `feedLabel` is required.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#product`\""
        },
        "pickupMethod": {
          "type": "string",
          "description": "The pick up option for the item. Acceptable values are: - \"`buy`\" - \"`reserve`\" - \"`ship to store`\" - \"`not supported`\" "
        },
        "adsLabels": {
          "type": "array",
          "description": "Similar to ads_grouping, but only works on CPC.",
          "items": {
            "type": "string"
          }
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "Date range during which the item is on sale (see product data specification )."
        },
        "mobileLinkTemplate": {
          "type": "string",
          "description": "URL template for merchant hosted local storefront optimized for mobile devices."
        },
        "salePrice": {
          "$ref": "Price",
          "description": "Advertised sale price of the item."
        },
        "maxHandlingTime": {
          "type": "string",
          "description": "Maximal product handling time (in business days).",
          "format": "int64"
        },
        "pickupSla": {
          "type": "string",
          "description": "Item store pickup timeline. Acceptable values are: - \"`same day`\" - \"`next day`\" - \"`2-day`\" - \"`3-day`\" - \"`4-day`\" - \"`5-day`\" - \"`6-day`\" - \"`7-day`\" - \"`multi-week`\" "
        },
        "subscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "ProductSubscriptionCost"
        },
        "minHandlingTime": {
          "description": "Minimal product handling time (in business days).",
          "type": "string",
          "format": "int64"
        },
        "identifierExists": {
          "type": "boolean",
          "description": "False when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Required according to the Unique Product Identifier Rules for all target countries except for Canada."
        },
        "price": {
          "description": "Price of the item.",
          "$ref": "Price"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "id": {
          "description": "The REST ID of the product. Content API methods that operate on products take this as their `productId` parameter. The REST ID for a product has one of the 2 forms channel:contentLanguage: targetCountry: offerId or channel:contentLanguage:feedLabel: offerId.",
          "type": "string"
        },
        "additionalSizeType": {
          "type": "string",
          "description": "Additional cut of the item. Used together with size_type to represent combined size types for apparel items."
        },
        "taxes": {
          "items": {
            "$ref": "ProductTax"
          },
          "description": "Tax information.",
          "type": "array"
        },
        "brand": {
          "description": "Brand of the item.",
          "type": "string"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "source": {
          "description": "The source of the offer, that is, how the offer was created. Acceptable values are: - \"`api`\" - \"`crawl`\" - \"`feed`\" ",
          "type": "string"
        },
        "shipping": {
          "type": "array",
          "items": {
            "$ref": "ProductShipping"
          },
          "description": "Shipping rules."
        },
        "shippingLength": {
          "description": "Length of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "displayAdsId": {
          "description": "An identifier for an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items."
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ProductShippingWeight"
        },
        "mobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of your item's landing page."
        },
        "color": {
          "description": "Color of the item.",
          "type": "string"
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number (MPN) of the item."
        },
        "condition": {
          "type": "string",
          "description": "Condition or state of the item."
        },
        "offerId": {
          "description": "Required. A unique identifier for the item. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. Only valid unicode characters are accepted. See the products feed specification for details. *Note:* Content API methods that operate on products take the REST ID of the product, *not* this identifier.",
          "type": "string"
        },
        "shippingWidth": {
          "$ref": "ProductShippingDimension",
          "description": "Width of the item for shipping."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "unitPricingBaseMeasure": {
          "$ref": "ProductUnitPricingBaseMeasure",
          "description": "The preference of the denominator of the unit price."
        },
        "channel": {
          "type": "string",
          "description": "Required. The item's channel (online or local). Acceptable values are: - \"`local`\" - \"`online`\" "
        }
      },
      "type": "object",
      "id": "Product"
    },
    "ShippingsettingsGetSupportedPickupServicesResponse": {
      "properties": {
        "pickupServices": {
          "items": {
            "$ref": "PickupServicesPickupService"
          },
          "description": "A list of supported pickup services. May be empty.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#shippingsettingsGetSupportedPickupServicesResponse`\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ShippingsettingsGetSupportedPickupServicesResponse"
    },
    "LiasettingsRequestInventoryVerificationResponse": {
      "type": "object",
      "id": "LiasettingsRequestInventoryVerificationResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsRequestInventoryVerificationResponse`\".",
          "type": "string"
        }
      }
    },
    "ProductsCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ProductsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "ProductsCustomBatchRequest",
      "type": "object"
    },
    "LiaAboutPageSettings": {
      "id": "LiaAboutPageSettings",
      "properties": {
        "url": {
          "description": "The URL for the About page.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of the verification process for the About page. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      },
      "type": "object"
    },
    "ProductViewItemIssue": {
      "type": "object",
      "description": "Item issue associated with the product.",
      "id": "ProductViewItemIssue",
      "properties": {
        "severity": {
          "description": "Item issue severity.",
          "$ref": "ProductViewItemIssueItemIssueSeverity"
        },
        "resolution": {
          "description": "Item issue resolution.",
          "enumDescriptions": [
            "Unknown resolution type.",
            "The merchant has to fix the issue.",
            "The issue will be resolved automatically (for example, image crawl), or Google review. No merchant action is required now. Resolution might lead to another issue (for example, if crawl fails)."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "MERCHANT_ACTION",
            "PENDING_PROCESSING"
          ]
        },
        "issueType": {
          "description": "Item issue type.",
          "$ref": "ProductViewItemIssueItemIssueType"
        }
      }
    },
    "LiasettingsCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "LiasettingsCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "LiasettingsCustomBatchRequest",
      "type": "object"
    },
    "OrderTrackingSignalLineItemDetails": {
      "properties": {
        "sku": {
          "description": "Merchant SKU for this item (deprecated).",
          "type": "string"
        },
        "upc": {
          "description": "Universal product code for this item (deprecated: Please use GTIN instead).",
          "type": "string"
        },
        "productDescription": {
          "type": "string",
          "description": "Plain text description of this product (deprecated: Please use product_title instead)."
        },
        "productId": {
          "description": "Required. The Content API REST ID of the product, in the form channel:contentLanguage:targetCountry:offerId.",
          "type": "string"
        },
        "brand": {
          "description": "Brand of the product.",
          "type": "string"
        },
        "quantity": {
          "description": "The quantity of the line item in the order.",
          "type": "string",
          "format": "int64"
        },
        "gtin": {
          "description": "The Global Trade Item Number.",
          "type": "string"
        },
        "productTitle": {
          "description": "Plain text title of this product.",
          "type": "string"
        },
        "mpn": {
          "description": "The manufacturer part number.",
          "type": "string"
        },
        "lineItemId": {
          "description": "Required. The ID for this line item.",
          "type": "string"
        }
      },
      "description": "The line items of the order.",
      "type": "object",
      "id": "OrderTrackingSignalLineItemDetails"
    },
    "OrdersSetLineItemMetadataResponse": {
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersSetLineItemMetadataResponse`\"."
        }
      },
      "id": "OrdersSetLineItemMetadataResponse",
      "type": "object"
    },
    "Installment": {
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        },
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Installment",
      "type": "object"
    },
    "OrderCustomerLoyaltyInfo": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of card/membership holder, this field will be populated when"
        },
        "loyaltyNumber": {
          "type": "string",
          "description": "The loyalty card/membership number."
        }
      },
      "id": "OrderCustomerLoyaltyInfo"
    },
    "PromotionPromotionStatusPromotionIssue": {
      "id": "PromotionPromotionStatusPromotionIssue",
      "properties": {
        "detail": {
          "description": "Explanation of the issue.",
          "type": "string"
        },
        "code": {
          "description": "Code of the issue.",
          "type": "string"
        }
      },
      "description": "The issue associated with the promotion.",
      "type": "object"
    },
    "RepricingRuleReportBuyboxWinningRuleStats": {
      "type": "object",
      "description": "Stats specific to buybox winning rules for rule report.",
      "properties": {
        "buyboxWonProductCount": {
          "description": "Number of unique products that won the buybox with this rule during this period of time.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RepricingRuleReportBuyboxWinningRuleStats"
    },
    "OrderPromotionItem": {
      "properties": {
        "quantity": {
          "format": "int32",
          "description": "The quantity of the associated product. Do not provide for `orders.createtestorder`.",
          "type": "integer"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Offer ID of a product. Only for `orders.createtestorder`."
        },
        "productId": {
          "type": "string",
          "description": "`orders.createtestorder`."
        },
        "lineItemId": {
          "description": "The line item ID of a product. Do not provide for `orders.createtestorder`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderPromotionItem"
    },
    "OrderShipmentScheduledDeliveryDetails": {
      "properties": {
        "scheduledDate": {
          "type": "string",
          "description": "The date a shipment is scheduled for delivery, in ISO 8601 format."
        },
        "carrierPhoneNumber": {
          "type": "string",
          "description": "The phone number of the carrier fulfilling the delivery. The phone number is formatted as the international notation in ITU-T Recommendation E.123 (for example, \"+41 44 668 1800\")."
        }
      },
      "type": "object",
      "id": "OrderShipmentScheduledDeliveryDetails"
    },
    "ReturnpolicyCustomBatchRequestEntry": {
      "type": "object",
      "id": "ReturnpolicyCustomBatchRequestEntry",
      "properties": {
        "method": {
          "description": "Method of the batch request entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" ",
          "type": "string"
        },
        "returnPolicyId": {
          "type": "string",
          "description": "The return policy ID. This should be set only if the method is `delete` or `get`."
        },
        "merchantId": {
          "format": "uint64",
          "description": "The Merchant Center account ID.",
          "type": "string"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "returnPolicy": {
          "$ref": "ReturnPolicy",
          "description": "The return policy to submit. This should be set only if the method is `insert`."
        }
      }
    },
    "OrderreturnsRejectOperation": {
      "id": "OrderreturnsRejectOperation",
      "properties": {
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the return."
        }
      },
      "type": "object"
    },
    "TestOrderAddress": {
      "type": "object",
      "properties": {
        "recipientName": {
          "description": "Name of the recipient.",
          "type": "string"
        },
        "isPostOfficeBox": {
          "type": "boolean",
          "description": "Whether the address is a post office box."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal Code or ZIP (for example, \"94043\")."
        },
        "country": {
          "type": "string",
          "description": "CLDR country code (for example, \"US\")."
        },
        "streetAddress": {
          "description": "Street-level part of the address. Use `\\n` to add a second line.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "region": {
          "type": "string",
          "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
        },
        "fullAddress": {
          "description": "Strings representing the lines of the printed label for mailing the order, for example: John Smith 1600 Amphitheatre Parkway Mountain View, CA, 94043 United States ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "locality": {
          "type": "string",
          "description": "City, town or commune. May also include dependent localities or sublocalities (for example, neighborhoods or suburbs)."
        }
      },
      "id": "TestOrderAddress"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "deliveryCountry": {
          "description": "The CLDR territory code of the country to which the service applies. Required.",
          "type": "string"
        },
        "active": {
          "description": "A boolean exposing the active status of the shipping service. Required.",
          "type": "boolean"
        },
        "shipmentType": {
          "type": "string",
          "description": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup`\" "
        },
        "name": {
          "type": "string",
          "description": "Free-form name of the service. Must be unique within target account. Required."
        },
        "currency": {
          "type": "string",
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
        },
        "minimumOrderValueTable": {
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value.",
          "$ref": "MinimumOrderValueTable"
        },
        "pickupService": {
          "description": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved through the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`.",
          "$ref": "PickupCarrierService"
        },
        "deliveryTime": {
          "$ref": "DeliveryTime",
          "description": "Time spent in various aspects from order to the delivery of the product. Required."
        },
        "rateGroups": {
          "type": "array",
          "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap.",
          "items": {
            "$ref": "RateGroup"
          }
        },
        "minimumOrderValue": {
          "$ref": "Price",
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table."
        },
        "eligibility": {
          "description": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" ",
          "type": "string"
        }
      }
    },
    "AccountUser": {
      "type": "object",
      "id": "AccountUser",
      "properties": {
        "admin": {
          "type": "boolean",
          "description": "Whether user is an admin."
        },
        "orderManager": {
          "description": "Whether user is an order manager.",
          "type": "boolean"
        },
        "paymentsAnalyst": {
          "type": "boolean",
          "description": "Whether user can access payment statements."
        },
        "reportingManager": {
          "description": "Whether user is a reporting manager.",
          "type": "boolean"
        },
        "paymentsManager": {
          "description": "Whether user can manage payment settings.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        }
      }
    },
    "OrderTrackingSignal": {
      "properties": {
        "orderId": {
          "description": "Required. The ID of the order on the merchant side. This field will be hashed in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "customerShippingFee": {
          "$ref": "PriceAmount",
          "description": "The shipping fee of the order; this value should be set to zero in the case of free shipping."
        },
        "shipmentLineItemMapping": {
          "items": {
            "$ref": "OrderTrackingSignalShipmentLineItemMapping"
          },
          "type": "array",
          "description": "The mapping of the line items to the shipment information."
        },
        "orderCreatedTime": {
          "$ref": "DateTime",
          "description": "Required. The time when the order was created on the merchant side. Include the year and timezone string, if available."
        },
        "deliveryPostalCode": {
          "description": "Required. The delivery postal code, as a continuous string without spaces or dashes, e.g. \"95016\". This field will be anonymized in returned OrderTrackingSignal creation response.",
          "type": "string"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "OrderTrackingSignalLineItemDetails"
          },
          "description": "Information about line items in the order."
        },
        "deliveryRegionCode": {
          "type": "string",
          "description": "Required. The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) for the shipping destination."
        },
        "merchantId": {
          "type": "string",
          "description": "The Google merchant ID of this order tracking signal. This value is optional. If left unset, the caller's merchant ID is used. You must request access in order to provide data on behalf of another merchant. For more information, see [Submitting Order Tracking Signals](/shopping-content/guides/order-tracking-signals).",
          "format": "int64"
        },
        "orderTrackingSignalId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID that uniquely identifies this order tracking signal."
        },
        "shippingInfo": {
          "items": {
            "$ref": "OrderTrackingSignalShippingInfo"
          },
          "description": "The shipping information for the order.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "OrderTrackingSignal",
      "description": "Represents a merchant trade from which signals are extracted, e.g. shipping."
    },
    "PosListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posListResponse`\".",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "PosStore"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PosListResponse"
    },
    "LoyaltyPoints": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters.",
          "type": "string"
        },
        "ratio": {
          "type": "number",
          "format": "double",
          "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0."
        },
        "pointsValue": {
          "type": "string",
          "format": "int64",
          "description": "The retailer's loyalty points in absolute value."
        }
      },
      "id": "LoyaltyPoints"
    },
    "AccounttaxCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch accounttax response.",
      "id": "AccounttaxCustomBatchResponseEntry",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        },
        "accountTax": {
          "description": "The retrieved or updated account tax settings.",
          "$ref": "AccountTax"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponseEntry`\""
        }
      },
      "type": "object"
    },
    "OrderCancellation": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason for the cancellation. Orders that are canceled with a noInventory reason will lead to the removal of the product from Buy on Google until you make an update to that product. This won't affect your Shopping ads. Acceptable values are: - \"`autoPostInternal`\" - \"`autoPostInvalidBillingAddress`\" - \"`autoPostNoInventory`\" - \"`autoPostPriceError`\" - \"`autoPostUndeliverableShippingAddress`\" - \"`couponAbuse`\" - \"`customerCanceled`\" - \"`customerInitiatedCancel`\" - \"`customerSupportRequested`\" - \"`failToPushOrderGoogleError`\" - \"`failToPushOrderMerchantError`\" - \"`failToPushOrderMerchantFulfillmentError`\" - \"`failToPushOrderToMerchant`\" - \"`failToPushOrderToMerchantOutOfStock`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`merchantDidNotShipOnTime`\" - \"`noInventory`\" - \"`orderTimeout`\" - \"`other`\" - \"`paymentAbuse`\" - \"`paymentDeclined`\" - \"`priceError`\" - \"`returnRefundAbuse`\" - \"`shippingPriceError`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`failedToCaptureFunds`\" ",
          "type": "string"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "quantity": {
          "description": "The quantity that was canceled.",
          "type": "integer",
          "format": "uint32"
        },
        "actor": {
          "description": "The actor that created the cancellation. Acceptable values are: - \"`customer`\" - \"`googleBot`\" - \"`googleCustomerService`\" - \"`googlePayments`\" - \"`googleSabre`\" - \"`merchant`\" ",
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the cancellation has been created, in ISO 8601 format."
        }
      },
      "id": "OrderCancellation"
    },
    "RegionGeoTargetArea": {
      "id": "RegionGeoTargetArea",
      "properties": {
        "geotargetCriteriaIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (e.g., state).",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "A list of geotargets that defines the region area.",
      "type": "object"
    },
    "ListConversionSourcesResponse": {
      "description": "Response message for the ListConversionSources method.",
      "id": "ListConversionSourcesResponse",
      "type": "object",
      "properties": {
        "conversionSources": {
          "type": "array",
          "items": {
            "$ref": "ConversionSource"
          },
          "description": "List of conversion sources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be used to fetch the next results page."
        }
      }
    },
    "OrderLineItemReturnInfo": {
      "id": "OrderLineItemReturnInfo",
      "type": "object",
      "properties": {
        "daysToReturn": {
          "description": "Required. How many days later the item can be returned.",
          "format": "int32",
          "type": "integer"
        },
        "isReturnable": {
          "type": "boolean",
          "description": "Required. Whether the item is returnable."
        },
        "policyUrl": {
          "description": "Required. URL of the item return policy.",
          "type": "string"
        }
      }
    },
    "DatafeedstatusesCustomBatchResponseEntry": {
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeedstatuses response.",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        },
        "datafeedStatus": {
          "$ref": "DatafeedStatus",
          "description": "The requested data feed status. Defined if and only if the request was successful."
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "DatafeedstatusesCustomBatchResponseEntry"
    },
    "OrderinvoicesCreateChargeInvoiceResponse": {
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#orderinvoicesCreateChargeInvoiceResponse`\".",
          "type": "string"
        }
      },
      "id": "OrderinvoicesCreateChargeInvoiceResponse",
      "type": "object"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Required. The length units. Acceptable values are: - \"`in`\" - \"`cm`\" ",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Required. The length value represented as a number. The value can have a maximum precision of four decimal places.",
          "format": "double"
        }
      }
    },
    "OrdersRejectReturnLineItemResponse": {
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersRejectReturnLineItemResponse`\"."
        }
      },
      "type": "object",
      "id": "OrdersRejectReturnLineItemResponse"
    },
    "ShipmentTrackingInfo": {
      "id": "ShipmentTrackingInfo",
      "properties": {
        "trackingNumber": {
          "description": "The tracking number for the package.",
          "type": "string"
        },
        "carrier": {
          "type": "string",
          "description": "The shipping carrier that handles the package. Acceptable values are: - \"`boxtal`\" - \"`bpost`\" - \"`chronopost`\" - \"`colisPrive`\" - \"`colissimo`\" - \"`cxt`\" - \"`deliv`\" - \"`dhl`\" - \"`dpd`\" - \"`dynamex`\" - \"`eCourier`\" - \"`easypost`\" - \"`efw`\" - \"`fedex`\" - \"`fedexSmartpost`\" - \"`geodis`\" - \"`gls`\" - \"`googleCourier`\" - \"`gsx`\" - \"`jdLogistics`\" - \"`laPoste`\" - \"`lasership`\" - \"`manual`\" - \"`mpx`\" - \"`onTrac`\" - \"`other`\" - \"`tnt`\" - \"`uds`\" - \"`ups`\" - \"`usps`\" "
        }
      },
      "type": "object"
    },
    "OrdersCancelResponse": {
      "id": "OrdersCancelResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersCancelResponse`\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReturnPolicyOnlinePolicy": {
      "id": "ReturnPolicyOnlinePolicy",
      "properties": {
        "days": {
          "description": "The number of days items can be returned after delivery, where one day is defined to be 24 hours after the delivery timestamp. Required for `numberOfDaysAfterDelivery` returns.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Number of days after a return is delivered.",
            "No returns.",
            "Life time returns."
          ],
          "description": "Policy type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ]
        }
      },
      "description": "The available policies.",
      "type": "object"
    },
    "PriceCompetitiveness": {
      "description": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`. https://support.google.com/merchants/answer/9626903",
      "properties": {
        "benchmarkPriceMicros": {
          "type": "string",
          "description": "The latest available price benchmark in micros (1 millionth of a standard unit, 1 USD = 1000000 micros) for the product's catalog in the benchmark country.",
          "format": "int64"
        },
        "benchmarkPriceCurrencyCode": {
          "type": "string",
          "description": "The price benchmark currency (ISO 4217 code)."
        },
        "countryCode": {
          "type": "string",
          "description": "The country of the price benchmark (ISO 3166 code)."
        }
      },
      "id": "PriceCompetitiveness",
      "type": "object"
    },
    "PickupServicesPickupService": {
      "id": "PickupServicesPickupService",
      "properties": {
        "country": {
          "description": "The CLDR country code of the carrier (for example, \"US\"). Always present.",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "The name of the pickup service (for example, `\"Access point\"`). Always present."
        },
        "carrierName": {
          "description": "The name of the carrier (for example, `\"UPS\"`). Always present.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductStatusDestinationStatus": {
      "id": "ProductStatusDestinationStatus",
      "type": "object",
      "properties": {
        "approvedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "status": {
          "description": "Destination approval status in `targetCountry` of the offer.",
          "type": "string"
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "type": "array"
        },
        "pendingCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
        }
      }
    },
    "AccountAutomaticImprovements": {
      "description": "The automatic improvements of the account can be used to automatically update items, improve images and shipping.",
      "id": "AccountAutomaticImprovements",
      "properties": {
        "shippingImprovements": {
          "description": "Not available for MCAs [accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: - Delivery address of an order - Current handling time and shipping time settings - Estimated weekdays or business days - Parcel tracking data This field is only updated (cleared) if provided.",
          "$ref": "AccountShippingImprovements"
        },
        "itemUpdates": {
          "$ref": "AccountItemUpdates",
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided."
        },
        "imageImprovements": {
          "$ref": "AccountImageImprovements",
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided."
        }
      },
      "type": "object"
    },
    "OrdersUpdateShipmentResponse": {
      "type": "object",
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersUpdateShipmentResponse`\"."
        }
      },
      "id": "OrdersUpdateShipmentResponse"
    },
    "RegionPostalCodeAreaPostalCodeRange": {
      "type": "object",
      "properties": {
        "begin": {
          "type": "string",
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: \"94108\", \"9410*\", \"9*\"."
        },
        "end": {
          "description": "Optional. A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        }
      },
      "id": "RegionPostalCodeAreaPostalCodeRange",
      "description": "A range of postal codes that defines the region area."
    },
    "CaptureOrderRequest": {
      "description": "Request message for the CaptureOrder method.",
      "properties": {},
      "id": "CaptureOrderRequest",
      "type": "object"
    },
    "SettlementTransactionAmount": {
      "id": "SettlementTransactionAmount",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the amount. Acceptable values are: - \"`itemPrice`\" - \"`orderPrice`\" - \"`refund`\" - \"`earlyRefund`\" - \"`courtesyRefund`\" - \"`returnRefund`\" - \"`returnLabelShippingFeeAmount`\" - \"`lumpSumCorrectionAmount`\" ",
          "type": "string"
        },
        "commission": {
          "$ref": "SettlementTransactionAmountCommission"
        },
        "description": {
          "description": "The description of the event. Acceptable values are: - \"`taxWithhold`\" - \"`principal`\" - \"`principalAdjustment`\" - \"`shippingFee`\" - \"`merchantRemittedSalesTax`\" - \"`googleRemittedSalesTax`\" - \"`merchantCoupon`\" - \"`merchantCouponTax`\" - \"`merchantRemittedDisposalTax`\" - \"`googleRemittedDisposalTax`\" - \"`merchantRemittedRedemptionFee`\" - \"`googleRemittedRedemptionFee`\" - \"`eeeEcoFee`\" - \"`furnitureEcoFee`\" - \"`copyPrivateFee`\" - \"`eeeEcoFeeCommission`\" - \"`furnitureEcoFeeCommission`\" - \"`copyPrivateFeeCommission`\" - \"`principalRefund`\" - \"`principalRefundTax`\" - \"`itemCommission`\" - \"`adjustmentCommission`\" - \"`shippingFeeCommission`\" - \"`commissionRefund`\" - \"`damaged`\" - \"`damagedOrDefectiveItem`\" - \"`expiredItem`\" - \"`faultyItem`\" - \"`incorrectItemReceived`\" - \"`itemMissing`\" - \"`qualityNotExpected`\" - \"`receivedTooLate`\" - \"`storePackageMissing`\" - \"`transitPackageMissing`\" - \"`unsuccessfulDeliveryUndeliverable`\" - \"`wrongChargeInStore`\" - \"`wrongItem`\" - \"`returns`\" - \"`undeliverable`\" - \"`issueRelatedRefundAndReplacementAmountDescription`\" - \"`refundFromMerchant`\" - \"`returnLabelShippingFee`\" - \"`lumpSumCorrection`\" - \"`pspFee`\" - \"`principalRefundDoesNotFit`\" - \"`principalRefundOrderedWrongItem`\" - \"`principalRefundQualityNotExpected`\" - \"`principalRefundBetterPriceFound`\" - \"`principalRefundNoLongerNeeded`\" - \"`principalRefundChangedMind`\" - \"`principalRefundReceivedTooLate`\" - \"`principalRefundIncorrectItemReceived`\" - \"`principalRefundDamagedOrDefectiveItem`\" - \"`principalRefundDidNotMatchDescription`\" - \"`principalRefundExpiredItem`\" ",
          "type": "string"
        },
        "transactionAmount": {
          "$ref": "Price",
          "description": "The amount that contributes to the line item price."
        }
      }
    },
    "SettlementTransaction": {
      "properties": {
        "identifiers": {
          "description": "Identifiers of the transaction.",
          "$ref": "SettlementTransactionIdentifiers"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#settlementTransaction`\""
        },
        "transaction": {
          "description": "Details of the transaction.",
          "$ref": "SettlementTransactionTransaction"
        },
        "amount": {
          "$ref": "SettlementTransactionAmount",
          "description": "The amount for the transaction."
        }
      },
      "id": "SettlementTransaction",
      "description": "Settlement transactions give a detailed breakdown of the settlement report.",
      "type": "object"
    },
    "AccountstatusesCustomBatchRequestEntry": {
      "properties": {
        "accountId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the (sub-)account whose status to get."
        },
        "destinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
        },
        "batchId": {
          "format": "uint32",
          "description": "An entry ID, unique within the batch request.",
          "type": "integer"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the managing account."
        }
      },
      "description": "A batch entry encoding a single non-batch accountstatuses request.",
      "id": "AccountstatusesCustomBatchRequestEntry",
      "type": "object"
    },
    "ShoppingAdsProgramStatusRegionStatus": {
      "properties": {
        "onboardingIssues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Issues that must be fixed to be eligible for review."
        },
        "reviewIneligibilityReasonDescription": {
          "description": "Reason a program in a specific region isn’t eligible for review. Only visible if `reviewEligibilityStatus` is `INELIGIBLE`.",
          "type": "string"
        },
        "reviewIneligibilityReasonDetails": {
          "description": "Additional information for ineligibility. If `reviewIneligibilityReason` is `IN_COOLDOWN_PERIOD`, a timestamp for the end of the cooldown period is provided.",
          "$ref": "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails"
        },
        "reviewEligibilityStatus": {
          "enumDescriptions": [
            "Review eligibility state is unknown.",
            "Account is eligible for review for a specified region code.",
            "Account is not eligible for review for a specified region code."
          ],
          "type": "string",
          "enum": [
            "REVIEW_ELIGIBILITY_UNSPECIFIED",
            "ELIGIBLE",
            "INELIGIBLE"
          ],
          "description": "If a program is eligible for review in a specific region. Only visible if `eligibilityStatus` is `DISAPPROVED`."
        },
        "reviewIssues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Issues evaluated in the review process. Fix all issues before requesting a review."
        },
        "eligibilityStatus": {
          "enumDescriptions": [
            "State is not known.",
            "If the account has no issues and review is completed successfully.",
            "There are one or more issues that needs to be resolved for account to be active for the program. Detailed list of account issues are available in [accountstatuses](https://developers.google.com/shopping-content/reference/rest/v2.1/accountstatuses) API.",
            "If account has issues but offers are servable. Some of the issue can make account DISAPPROVED after a certain deadline.",
            "Account is under review.",
            "Account is waiting for review to start.",
            "Program is currently onboarding. Upload valid offers to complete onboarding."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "DISAPPROVED",
            "WARNING",
            "UNDER_REVIEW",
            "PENDING_REVIEW",
            "ONBOARDING"
          ],
          "description": "Eligibility status of the Shopping Ads program."
        },
        "reviewIneligibilityReason": {
          "description": "Review ineligibility reason if account is not eligible for review.",
          "enumDescriptions": [
            "Requesting a review from Google is not possible.",
            "All onboarding issues needs to be fixed.",
            "Not enough offers uploaded for this country.",
            "Cooldown period applies. Wait until cooldown period ends.",
            "Account is already under review.",
            "No issues available to review.",
            "Account will be automatically reviewed at the end of the grace period.",
            "Account is retired. Should not appear in MC.",
            "Account was already reviewd."
          ],
          "enum": [
            "REVIEW_INELIGIBILITY_REASON_UNSPECIFIED",
            "ONBOARDING_ISSUES",
            "NOT_ENOUGH_OFFERS",
            "IN_COOLDOWN_PERIOD",
            "ALREADY_UNDER_REVIEW",
            "NO_REVIEW_REQUIRED",
            "WILL_BE_REVIEWED_AUTOMATICALLY",
            "IS_RETIRED",
            "ALREADY_REVIEWED"
          ],
          "type": "string"
        },
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "description": "The two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) codes for all the regions with the same `eligibilityStatus` and `reviewEligibility`.",
          "type": "array"
        },
        "disapprovalDate": {
          "description": "Date by which eligibilityStatus will go from `WARNING` to `DISAPPROVED`. Only visible when your eligibilityStatus is WARNING. In [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DD`.",
          "type": "string"
        }
      },
      "description": "Status of program and region.",
      "id": "ShoppingAdsProgramStatusRegionStatus",
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryUpdateShipmentScheduledDeliveryDetails": {
      "properties": {
        "scheduledDate": {
          "type": "string",
          "description": "The date a shipment is scheduled for delivery, in ISO 8601 format."
        },
        "carrierPhoneNumber": {
          "type": "string",
          "description": "The phone number of the carrier fulfilling the delivery. The phone number should be formatted as the international notation in"
        }
      },
      "type": "object",
      "id": "OrdersCustomBatchRequestEntryUpdateShipmentScheduledDeliveryDetails",
      "description": "ScheduledDeliveryDetails used to update the scheduled delivery order."
    },
    "LabelIds": {
      "id": "LabelIds",
      "description": "The IDs of labels that should be assigned to the CSS domain.",
      "type": "object",
      "properties": {
        "labelIds": {
          "description": "The list of label IDs.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RequestReviewFreeListingsRequest": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "The code [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the country for which review is to be requested.",
          "type": "string"
        }
      },
      "description": "Request message for the RequestReviewFreeListings Program method.",
      "id": "RequestReviewFreeListingsRequest"
    },
    "ReturnaddressCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "ReturnaddressCustomBatchRequestEntry"
          }
        }
      },
      "id": "ReturnaddressCustomBatchRequest",
      "type": "object"
    },
    "OrderinvoicesCreateRefundInvoiceRequest": {
      "properties": {
        "operationId": {
          "description": "[required] The ID of the operation, unique across all operations for a given order.",
          "type": "string"
        },
        "refundOnlyOption": {
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption",
          "description": "Option to create a refund-only invoice. Exactly one of `refundOnlyOption` or `returnOption` must be provided."
        },
        "invoiceId": {
          "description": "[required] The ID of the invoice.",
          "type": "string"
        },
        "shipmentInvoices": {
          "items": {
            "$ref": "ShipmentInvoice"
          },
          "description": "Invoice details for different shipment groups.",
          "type": "array"
        },
        "returnOption": {
          "description": "Option to create an invoice for a refund and mark all items within the invoice as returned. Exactly one of `refundOnlyOption` or `returnOption` must be provided.",
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption"
        }
      },
      "id": "OrderinvoicesCreateRefundInvoiceRequest",
      "type": "object"
    },
    "ProductSubscriptionCost": {
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        },
        "period": {
          "description": "The type of subscription period.",
          "type": "string"
        },
        "periodLength": {
          "type": "string",
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64"
        }
      },
      "id": "ProductSubscriptionCost",
      "type": "object"
    },
    "AccountsUpdateLabelsRequest": {
      "id": "AccountsUpdateLabelsRequest",
      "type": "object",
      "properties": {
        "labelIds": {
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "The IDs of labels that should be assigned to the account.",
          "type": "array"
        }
      }
    },
    "PickupCarrierService": {
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "The name of the pickup service (for example, `\"Access point\"`). Required."
        },
        "carrierName": {
          "description": "The name of the pickup carrier (for example, `\"UPS\"`). Required.",
          "type": "string"
        }
      },
      "id": "PickupCarrierService",
      "type": "object"
    },
    "ProductStatus": {
      "type": "object",
      "id": "ProductStatus",
      "properties": {
        "link": {
          "description": "The link to the product.",
          "type": "string"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "ProductStatusDestinationStatus"
          },
          "description": "The intended destinations for the product.",
          "type": "array"
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires in Google Shopping, in ISO 8601 format.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product for which status is reported.",
          "type": "string"
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the item has been last updated, in ISO 8601 format."
        },
        "title": {
          "description": "The title of the product.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productStatus`\""
        },
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "ProductStatusItemLevelIssue"
          }
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the item has been created, in ISO 8601 format."
        }
      },
      "description": "The status of a product, that is, information about a product computed asynchronously."
    },
    "PubsubNotificationSettings": {
      "id": "PubsubNotificationSettings",
      "type": "object",
      "description": "Settings for Pub/Sub notifications, all methods require that the caller is a direct user of the merchant center account.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#pubsubNotificationSettings`\""
        },
        "cloudTopicName": {
          "type": "string",
          "description": "Cloud pub/sub topic to which notifications are sent (read-only)."
        },
        "registeredEvents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of event types. Acceptable values are: - \"`orderPendingShipment`\" "
        }
      }
    },
    "LocalinventoryCustomBatchRequest": {
      "id": "LocalinventoryCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "LocalinventoryCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "AccountsCustomBatchResponseEntry": {
      "properties": {
        "account": {
          "description": "The retrieved, created, or updated account. Not defined if the method was `delete`, `claimwebsite` or `link`.",
          "$ref": "Account"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsCustomBatchResponseEntry`\""
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry this entry responds to."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors for failed custombatch entries. *Note:* Schema errors fail the whole request."
        }
      },
      "id": "AccountsCustomBatchResponseEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch accounts response."
    },
    "ReportRow": {
      "id": "ReportRow",
      "properties": {
        "priceCompetitiveness": {
          "description": "Price competitiveness fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceCompetitivenessProductView`.",
          "$ref": "PriceCompetitiveness"
        },
        "bestSellers": {
          "description": "Best sellers fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView` or `BestSellersBrandView`.",
          "$ref": "BestSellers"
        },
        "productView": {
          "description": "Product fields requested by the merchant in the query. Field values are only set if the merchant queries `ProductView`. Available only to selected merchants. Submit the [interest form](https://forms.gle/7Uy8htzAN8oNokz9A) to request access.",
          "$ref": "ProductView"
        },
        "segments": {
          "description": "Segmentation dimensions requested by the merchant in the query. Dimension values are only set for dimensions requested explicitly in the query.",
          "$ref": "Segments"
        },
        "metrics": {
          "$ref": "Metrics",
          "description": "Metrics requested by the merchant in the query. Metric values are only set for metrics requested explicitly in the query."
        },
        "productCluster": {
          "$ref": "ProductCluster",
          "description": "Product cluster fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersProductClusterView`."
        },
        "brand": {
          "description": "Brand fields requested by the merchant in the query. Field values are only set if the merchant queries `BestSellersBrandView`.",
          "$ref": "Brand"
        },
        "priceInsights": {
          "$ref": "PriceInsights",
          "description": "Price insights fields requested by the merchant in the query. Field values are only set if the merchant queries `PriceInsightsProductView`."
        }
      },
      "type": "object",
      "description": "Result row returned from the search query."
    },
    "OrdersAdvanceTestOrderResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersAdvanceTestOrderResponse`\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersAdvanceTestOrderResponse"
    },
    "TransitTable": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "TransitTableTransitTimeRow"
          },
          "type": "array"
        },
        "transitTimeLabels": {
          "description": "A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "postalCodeGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service."
        }
      },
      "id": "TransitTable",
      "type": "object"
    },
    "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails": {
      "type": "object",
      "id": "ShoppingAdsProgramStatusReviewIneligibilityReasonDetails",
      "description": "Additional details for review ineligibility reasons.",
      "properties": {
        "cooldownTime": {
          "format": "google-datetime",
          "description": "This timestamp represents end of cooldown period for review ineligbility reason `IN_COOLDOWN_PERIOD`.",
          "type": "string"
        }
      }
    },
    "OrdersCancelTestOrderByCustomerRequest": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the cancellation. Acceptable values are: - \"`changedMind`\" - \"`orderedWrongItem`\" - \"`other`\" "
        }
      },
      "id": "OrdersCancelTestOrderByCustomerRequest"
    },
    "OrdersUpdateLineItemShippingDetailsRequest": {
      "type": "object",
      "id": "OrdersUpdateLineItemShippingDetailsRequest",
      "properties": {
        "deliverByDate": {
          "description": "Updated delivery by date, in ISO 8601 format. If not specified only ship by date is updated. Provided date should be within 1 year timeframe and can't be a date in the past.",
          "type": "string"
        },
        "shipByDate": {
          "type": "string",
          "description": "Updated ship by date, in ISO 8601 format. If not specified only deliver by date is updated. Provided date should be within 1 year timeframe and can't be a date in the past."
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to set metadata. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to set metadata. Either lineItemId or productId is required."
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        }
      }
    },
    "ReturnaddressListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of addresses.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "ReturnAddress"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#returnaddressListResponse`\"."
        }
      },
      "id": "ReturnaddressListResponse",
      "type": "object"
    },
    "SettlementTransactionTransaction": {
      "type": "object",
      "properties": {
        "postDate": {
          "type": "string",
          "description": "The time on which the event occurred in ISO 8601 format."
        },
        "type": {
          "description": "The type of the transaction that occurred. Acceptable values are: - \"`order`\" - \"`reversal`\" - \"`orderRefund`\" - \"`reversalRefund`\" - \"`issueRelatedRefundAndReplacement`\" - \"`returnLabelShippingFeeTransaction`\" - \"`reversalIssueRelatedRefundAndReplacement`\" - \"`reversalReturnLabelShippingFeeTransaction`\" - \"`lumpSumCorrectionTransaction`\" ",
          "type": "string"
        }
      },
      "id": "SettlementTransactionTransaction"
    },
    "PosSaleRequest": {
      "id": "PosSaleRequest",
      "properties": {
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "quantity": {
          "format": "int64",
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "type": "string"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in a Business Profile."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "saleId": {
          "type": "string",
          "description": "A unique ID to group items from the same sale event."
        }
      },
      "type": "object"
    },
    "AccountStatusStatistics": {
      "properties": {
        "pending": {
          "format": "int64",
          "type": "string",
          "description": "Number of pending offers."
        },
        "expiring": {
          "description": "Number of expiring offers.",
          "format": "int64",
          "type": "string"
        },
        "active": {
          "format": "int64",
          "type": "string",
          "description": "Number of active offers."
        },
        "disapproved": {
          "description": "Number of disapproved offers.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AccountStatusStatistics",
      "type": "object"
    },
    "LiasettingsListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "LiaSettings"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of LIA settings."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liasettingsListResponse`\".",
          "type": "string"
        }
      },
      "id": "LiasettingsListResponse"
    },
    "SettlementReport": {
      "type": "object",
      "description": " Settlement reports detail order-level and item-level credits and debits between you and Google.",
      "id": "SettlementReport",
      "properties": {
        "startDate": {
          "type": "string",
[...]
