{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "revision": "20230219",
  "id": "dlp:v2",
  "protocol": "rest",
  "name": "dlp",
  "baseUrl": "https://dlp.googleapis.com/",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "rootUrl": "https://dlp.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Data Loss Prevention (DLP) API",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "GooglePrivacyDlpV2CategoricalStatsResult": {
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
          },
          "type": "array",
          "description": "Histogram of value frequencies in the column."
        }
      },
      "type": "object",
      "description": "Result of the categorical stats computation.",
      "id": "GooglePrivacyDlpV2CategoricalStatsResult"
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "properties": {
        "maxFindingsPerItem": {
          "description": "Max number of findings that will be returned for each item scanned. When set within `InspectJobConfig`, the maximum returned is 2000 regardless if this is set higher. When set within `InspectContentRequest`, this field is ignored.",
          "type": "integer",
          "format": "int32"
        },
        "maxFindingsPerInfoType": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          },
          "description": "Configuration of findings limit given for specified infoTypes.",
          "type": "array"
        },
        "maxFindingsPerRequest": {
          "description": "Max number of findings that will be returned per request/job. When set within `InspectContentRequest`, the maximum returned is 2000 regardless if this is set higher.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration to control the number of findings returned for inspection. This is not used for de-identification or data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error.",
      "type": "object",
      "id": "GooglePrivacyDlpV2FindingLimits"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "properties": {
        "unwrapped": {
          "description": "Unwrapped crypto key",
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "kmsWrapped": {
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
          "description": "Key wrapped using Cloud KMS"
        },
        "transient": {
          "description": "Transient crypto key",
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoKey",
      "type": "object",
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by Cloud Key Management Service (Cloud KMS). When using Cloud KMS to wrap or unwrap a DEK, be sure to set an appropriate IAM policy on the KEK to ensure an attacker cannot unwrap the DEK."
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "type": "object",
      "id": "GooglePrivacyDlpV2LDiversityResult",
      "description": "Result of the l-diversity computation.",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies."
        }
      }
    },
    "GooglePrivacyDlpV2TransformationResultStatus": {
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationResultStatus",
      "properties": {
        "resultStatusType": {
          "enum": [
            "STATE_TYPE_UNSPECIFIED",
            "INVALID_TRANSFORM",
            "BIGQUERY_MAX_ROW_SIZE_EXCEEDED",
            "METADATA_UNRETRIEVABLE",
            "SUCCESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "This will be set when a finding could not be transformed (i.e. outside user set bucket range).",
            "This will be set when a BigQuery transformation was successful but could not be stored back in BigQuery because the transformed row exceeds BigQuery's max row size.",
            "This will be set when there is a finding in the custom metadata of a file, but at the write time of the transformed file, this key / value pair is unretrievable.",
            "This will be set when the transformation and storing of it is successful."
          ],
          "description": "Transformation result status type, this will be either SUCCESS, or it will be the reason for why the transformation was not completely successful."
        },
        "details": {
          "$ref": "GoogleRpcStatus",
          "description": "Detailed error codes and messages"
        }
      }
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "reidentifyConfig": {
          "description": "Configuration for the re-identification of the content item. This field shares the same proto message type that is used for de-identification, however its usage here is for the reversal of the previous de-identification. Re-identification is performed by examining the transformations used to de-identify the items and executing the reverse. This requires that only reversible transformations be provided here. The reversible transformations are: - `CryptoDeterministicConfig` - `CryptoReplaceFfxFpeConfig`",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "reidentifyTemplateName": {
          "type": "string",
          "description": "Template to use. References an instance of `DeidentifyTemplate`. Any configuration directly specified in `reidentify_config` or `inspect_config` will override those set in the template. The `DeidentifyTemplate` used must include only reversible transformations. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "item": {
          "description": "The item to re-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in `inspect_config` will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to re-identify an item."
    },
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "type": "object",
      "description": "Response message for ListInspectTemplates.",
      "properties": {
        "inspectTemplates": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          },
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in following ListInspectTemplates request."
        }
      },
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
    },
    "GooglePrivacyDlpV2DataProfileJobConfig": {
      "id": "GooglePrivacyDlpV2DataProfileJobConfig",
      "description": "Configuration for setting up a job to scan resources for profile generation. Only one data profile configuration may exist per organization, folder, or project. The generated data profiles are retained according to the [data retention policy] (https://cloud.google.com/dlp/docs/data-profiles#retention).",
      "properties": {
        "dataProfileActions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DataProfileAction"
          },
          "description": "Actions to execute at the completion of the job."
        },
        "inspectTemplates": {
          "description": "Detection logic for profile generation. Not all template features are used by profiles. FindingLimits, include_quote and exclude_info_types have no impact on data profiling. Multiple templates may be provided if there is data in multiple regions. At most one template must be specified per-region (including \"global\"). Each region is scanned using the applicable template. If no region-specific template is specified, but a \"global\" template is specified, it will be copied to that region and used instead. If no global or region-specific template is provided for a region with data, that region's data will not be scanned. For more information, see https://cloud.google.com/dlp/docs/data-profiles#data_residency.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "projectId": {
          "type": "string",
          "description": "The project that will run the scan. The DLP service account that exists within this project must have access to all resources that are profiled, and the Cloud DLP API must be enabled."
        },
        "location": {
          "$ref": "GooglePrivacyDlpV2DataProfileLocation",
          "description": "The data to scan."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "properties": {
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "Required. The InspectTemplate to create.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "description": "Request message for CreateInspectTemplate."
    },
    "GooglePrivacyDlpV2EntityId": {
      "id": "GooglePrivacyDlpV2EntityId",
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity.",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "description": "Quota exceeded errors will be thrown once quota has been met.",
      "properties": {},
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridInspectResponse"
    },
    "GooglePrivacyDlpV2FieldId": {
      "id": "GooglePrivacyDlpV2FieldId",
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "General identifier of a data field in a storage service."
    },
    "GooglePrivacyDlpV2ImageTransformations": {
      "properties": {
        "transforms": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageTransformation"
          }
        }
      },
      "type": "object",
      "description": "A type of transformation that is applied over images.",
      "id": "GooglePrivacyDlpV2ImageTransformations"
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "properties": {},
      "type": "object",
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'.",
      "id": "GooglePrivacyDlpV2PublishToStackdriver"
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest",
      "description": "Request message for CreateStoredInfoType.",
      "type": "object",
      "properties": {
        "storedInfoTypeId": {
          "type": "string",
          "description": "The storedInfoType ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "config": {
          "description": "Required. Configuration of the storedInfoType to create.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        }
      }
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "Required. The DeidentifyTemplate to create."
        }
      },
      "description": "Request message for CreateDeidentifyTemplate.",
      "type": "object"
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "type": "object",
      "description": "Configuration to suppress records whose suppression conditions evaluate to true.",
      "properties": {
        "condition": {
          "$ref": "GooglePrivacyDlpV2RecordCondition",
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content."
        }
      },
      "id": "GooglePrivacyDlpV2RecordSuppression"
    },
    "GooglePrivacyDlpV2Trigger": {
      "properties": {
        "schedule": {
          "$ref": "GooglePrivacyDlpV2Schedule",
          "description": "Create a job on a repeating basis based on the elapse of time."
        },
        "manual": {
          "description": "For use with hybrid jobs. Jobs must be manually created and finished.",
          "$ref": "GooglePrivacyDlpV2Manual"
        }
      },
      "type": "object",
      "description": "What event needs to occur for a new job to be started.",
      "id": "GooglePrivacyDlpV2Trigger"
    },
    "GooglePrivacyDlpV2InfoTypeSummary": {
      "id": "GooglePrivacyDlpV2InfoTypeSummary",
      "description": "The infoType details for this column.",
      "properties": {
        "infoType": {
          "description": "The infoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "estimatedPrevalence": {
          "description": "Not populated for predicted infotypes.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2PubSubNotification": {
      "description": "Send a Pub/Sub message into the given Pub/Sub topic to connect other systems to data profile generation. The message payload data will be the byte serialization of `DataProfilePubSubMessage`.",
      "id": "GooglePrivacyDlpV2PubSubNotification",
      "type": "object",
      "properties": {
        "event": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ],
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "Changed one of the following profile metrics: * Table data risk score * Table sensitivity score * Table resource visibility * Table encryption type * Table predicted infoTypes * Table other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "description": "The type of event that triggers a Pub/Sub. At most one `PubSubNotification` per EventType is permitted.",
          "type": "string"
        },
        "topic": {
          "description": "Cloud Pub/Sub topic to send notifications to. Format is projects/{project}/topics/{topic}.",
          "type": "string"
        },
        "pubsubCondition": {
          "description": "Conditions (e.g., data risk or sensitivity level) for triggering a Pub/Sub.",
          "$ref": "GooglePrivacyDlpV2DataProfilePubSubCondition"
        },
        "detailOfMessage": {
          "enumDescriptions": [
            "Unused.",
            "The full table data profile.",
            "The resource name of the table."
          ],
          "description": "How much data to include in the Pub/Sub message. If the user wishes to limit the size of the message, they can use resource_name and fetch the profile fields they wish to. Per table profile (not per column).",
          "type": "string",
          "enum": [
            "DETAIL_LEVEL_UNSPECIFIED",
            "TABLE_PROFILE",
            "RESOURCE_NAME"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2RiskAnalysisJobConfig": {
      "id": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
      "description": "Configuration for a risk analysis job. See https://cloud.google.com/dlp/docs/concepts-risk-analysis to learn more.",
      "properties": {
        "sourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "actions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          },
          "type": "array",
          "description": "Actions to execute at the completion of the job. Are executed in the order provided."
        },
        "privacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "type": "object",
      "properties": {
        "config": {
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for UpdateStoredInfoType."
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "id": "GooglePrivacyDlpV2TransformationDetails",
      "properties": {
        "statusDetails": {
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful.",
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus"
        },
        "transformationLocation": {
          "$ref": "GooglePrivacyDlpV2TransformationLocation",
          "description": "The precise location of the transformed content in the original container."
        },
        "resourceName": {
          "description": "The name of the job that completed the transformation.",
          "type": "string"
        },
        "transformedBytes": {
          "format": "int64",
          "type": "string",
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero."
        },
        "transformation": {
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          }
        },
        "containerName": {
          "type": "string",
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name)."
        }
      },
      "type": "object",
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table."
    },
    "GooglePrivacyDlpV2Bucket": {
      "type": "object",
      "description": "Bucket is represented as a range, along with replacement values.",
      "properties": {
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "min": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Lower bound of the range, inclusive. Type should be the same as max if used."
        },
        "replacementValue": {
          "description": "Required. Replacement value for this bucket.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "id": "GooglePrivacyDlpV2Bucket"
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including min, max, and quantiles.",
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are integer, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2NumericalStatsConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values.",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "description": "Message for infoType-dependent details parsed from quote.",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2WordList": {
      "description": "Message defining a list of words or phrases to search for in the data.",
      "id": "GooglePrivacyDlpV2WordList",
      "type": "object",
      "properties": {
        "words": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Words or phrases defining the dictionary. The dictionary must contain at least one phrase and every phrase must contain at least 2 characters that are letters or digits. [required]"
        }
      }
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given publishing access rights to the DLP API service account executing the long running DlpJob sending the notifications. Format is projects/{project}/topics/{topic}."
        }
      },
      "id": "GooglePrivacyDlpV2PublishToPubSub",
      "type": "object",
      "description": "Publish a message into a given Pub/Sub topic when DlpJob has completed. The message contains a single field, `DlpJobName`, which is equal to the finished job's [`DlpJob.name`](https://cloud.google.com/dlp/docs/reference/rest/v2/projects.dlpJobs#DlpJob). Compatible with: Inspect, Risk"
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DatastoreOptions",
      "properties": {
        "kind": {
          "$ref": "GooglePrivacyDlpV2KindExpression",
          "description": "The kind to process."
        },
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2PartitionId",
          "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty."
        }
      },
      "description": "Options defining a data set within Google Cloud Datastore."
    },
    "GooglePrivacyDlpV2OtherInfoTypeSummary": {
      "id": "GooglePrivacyDlpV2OtherInfoTypeSummary",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The other infoType."
        },
        "estimatedPrevalence": {
          "format": "int32",
          "description": "Approximate percentage of non-null rows that contained data detected by this infotype.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Infotype details for other infoTypes found within a column."
    },
    "GooglePrivacyDlpV2PubSubCondition": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PubSubCondition",
      "description": "A condition consisting of a value.",
      "properties": {
        "minimumRiskScore": {
          "description": "The minimum data risk score that triggers the condition.",
          "enumDescriptions": [
            "Unused.",
            "High risk/sensitivity detected.",
            "Medium or high risk/sensitivity detected."
          ],
          "type": "string",
          "enum": [
            "PROFILE_SCORE_BUCKET_UNSPECIFIED",
            "HIGH",
            "MEDIUM_OR_HIGH"
          ]
        },
        "minimumSensitivityScore": {
          "enumDescriptions": [
            "Unused.",
            "High risk/sensitivity detected.",
            "Medium or high risk/sensitivity detected."
          ],
          "enum": [
            "PROFILE_SCORE_BUCKET_UNSPECIFIED",
            "HIGH",
            "MEDIUM_OR_HIGH"
          ],
          "type": "string",
          "description": "The minimum sensitivity level that triggers the condition."
        }
      }
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "id": "GooglePrivacyDlpV2RecordTransformations",
      "properties": {
        "fieldTransformations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "description": "Transform the record by applying various field transformations."
        },
        "recordSuppressions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          },
          "description": "Configuration defining which records get suppressed entirely. Records that match any suppression rule are omitted from the output.",
          "type": "array"
        }
      },
      "description": "A type of transformation that is applied over structured data such as a table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request.",
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          },
          "description": "Set of sensitive infoTypes."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Table": {
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed. See https://cloud.google.com/dlp/docs/inspecting-structured-text#inspecting_a_table to learn more.",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          },
          "type": "array",
          "description": "Rows of the table."
        },
        "headers": {
          "description": "Headers of the table.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2Table"
    },
    "GooglePrivacyDlpV2Action": {
      "properties": {
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        },
        "publishFindingsToCloudDataCatalog": {
          "description": "Publish findings to Cloud Datahub.",
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
        },
        "deidentify": {
          "$ref": "GooglePrivacyDlpV2Deidentify",
          "description": "Create a de-identified copy of the input data."
        },
        "publishToStackdriver": {
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver",
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count."
        },
        "jobNotificationEmails": {
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails",
          "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts)."
        },
        "publishSummaryToCscc": {
          "description": "Publish summary to Cloud Security Command Center (Alpha).",
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc"
        },
        "pubSub": {
          "$ref": "GooglePrivacyDlpV2PublishToPubSub",
          "description": "Publish a notification to a Pub/Sub topic."
        }
      },
      "description": "A task to execute on the completion of a job. See https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "id": "GooglePrivacyDlpV2Action",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationDescription": {
      "properties": {
        "infoType": {
          "description": "Set if the transformation was limited to a specific `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "description": {
          "description": "A description of the transformation. This is empty for a RECORD_SUPPRESSION, or is the output of calling toString() on the `PrimitiveTransformation` protocol buffer message for any other type of transformation.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TRANSFORMATION_TYPE_UNSPECIFIED",
            "RECORD_SUPPRESSION",
            "REPLACE_VALUE",
            "REPLACE_DICTIONARY",
            "REDACT",
            "CHARACTER_MASK",
            "CRYPTO_REPLACE_FFX_FPE",
            "FIXED_SIZE_BUCKETING",
            "BUCKETING",
            "REPLACE_WITH_INFO_TYPE",
            "TIME_PART",
            "CRYPTO_HASH",
            "DATE_SHIFT",
            "CRYPTO_DETERMINISTIC_CONFIG",
            "REDACT_IMAGE"
          ],
          "enumDescriptions": [
            "Unused",
            "Record suppression",
            "Replace value",
            "Replace value using a dictionary.",
            "Redact",
            "Character mask",
            "FFX-FPE",
            "Fixed size bucketing",
            "Bucketing",
            "Replace with info type",
            "Time part",
            "Crypto hash",
            "Date shift",
            "Deterministic crypto",
            "Redact image"
          ],
          "type": "string",
          "description": "The transformation type."
        },
        "condition": {
          "description": "A human-readable string representation of the `RecordCondition` corresponding to this transformation. Set if a `RecordCondition` was used to determine whether or not to apply this transformation. Examples: * (age_field \u003e 85) * (age_field \u003c= 18) * (zip_field exists) * (zip_field == 01234) && (city_field != \"Springville\") * (zip_field == 01234) && (age_field \u003c= 18) && (city_field exists)",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TransformationDescription",
      "description": "A flattened description of a `PrimitiveTransformation` or `RecordSuppression`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StoredType": {
      "description": "A reference to a StoredInfoType to use with scanning.",
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredType",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations/433245324/storedInfoTypes/432452342` or `projects/project-id/storedInfoTypes/432452342`."
        },
        "createTime": {
          "type": "string",
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system.",
          "format": "google-datetime"
        }
      }
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "description": "Request message for UpdateJobTrigger.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask"
        },
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "New JobTrigger value."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "type": "object",
      "properties": {
        "auxiliaryTables": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          },
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "type": "array"
        },
        "quasiIds": {
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          },
          "type": "array"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        }
      },
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead.",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig"
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig."
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        }
      },
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ImageRedactionConfig"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GooglePrivacyDlpV2KindExpression": {
      "id": "GooglePrivacyDlpV2KindExpression",
      "description": "A representation of a Datastore kind.",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ReplaceValueConfig": {
      "type": "object",
      "description": "Replace each input value with a given `Value`.",
      "properties": {
        "newValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to replace it with."
        }
      },
      "id": "GooglePrivacyDlpV2ReplaceValueConfig"
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "type": "object",
      "properties": {},
      "description": "Publish the result summary of a DlpJob to [Security Command Center](https://cloud.google.com/security-command-center). This action is available for only projects that belong to an organization. This action publishes the count of finding instances and their infoTypes. The summary of findings are persisted in Security Command Center and are governed by [service-specific policies for Security Command Center](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. Compatible with: Inspect",
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc"
    },
    "GooglePrivacyDlpV2ExcludeByHotword": {
      "properties": {
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "proximity": {
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The windowBefore property in proximity should be set to 1 if the hotword needs to be included in a column header.",
          "$ref": "GooglePrivacyDlpV2Proximity"
        }
      },
      "description": "The rule to exclude findings based on a hotword. For record inspection of tables, column names are considered hotwords. An example of this is to exclude a finding if it belongs to a BigQuery column that matches a specific pattern.",
      "id": "GooglePrivacyDlpV2ExcludeByHotword",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "type": "object",
      "properties": {
        "requiredFindingLabelKeys": {
          "items": {
            "type": "string"
          },
          "description": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required.",
          "type": "array"
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys."
        },
        "description": {
          "type": "string",
          "description": "A short description of where the data is coming from. Will be stored once in the job. 256 max length."
        },
        "labels": {
          "description": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform.",
      "id": "GooglePrivacyDlpV2HybridOptions"
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "properties": {},
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation` transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the output would be 'My phone number is '.",
      "type": "object",
      "id": "GooglePrivacyDlpV2RedactConfig"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ImageLocation",
      "description": "Location of the finding within an image.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationConfig": {
      "description": "User specified templates and configs for how to deidentify structured, unstructures, and image files. User must provide either a unstructured deidentify template or at least one redact image config.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationConfig",
      "properties": {
        "deidentifyTemplate": {
          "description": "De-identify template. If this template is specified, it will serve as the default de-identify template. This template cannot contain `record_transformations` since it can be used for unstructured content such as free-form text files. If this template is not set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify unstructured content.",
          "type": "string"
        },
        "imageRedactTemplate": {
          "description": "Image redact template. If this template is specified, it will serve as the de-identify template for images. If this template is not set, all findings in the image will be redacted with a black box.",
          "type": "string"
        },
        "structuredDeidentifyTemplate": {
          "description": "Structured de-identify template. If this template is specified, it will serve as the de-identify template for structured content such as delimited files and tables. If this template is not set but the `deidentify_template` is set, then `deidentify_template` will also apply to the structured content. If neither template is set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify structured content.",
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GooglePrivacyDlpV2Deidentify": {
      "type": "object",
      "properties": {
        "fileTypesToTransform": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other FileType's in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. bytes_limit_per_file has no effect on image files. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
              "Word files \u003e30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm",
              "PDF files \u003e30 MB will be scanned as binary files. Included file extensions: pdf",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv",
              "Powerpoint files \u003e30 MB will be scanned as binary files. Included file extensions: pptx, pptm, potx, potm, pot",
              "Excel files \u003e30 MB will be scanned as binary files. Included file extensions: xlsx, xlsm, xltx, xltm"
            ],
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV",
              "POWERPOINT",
              "EXCEL"
            ]
          },
          "description": "List of user-specified file type groups to transform. If specified, only the files with these filetypes will be transformed. If empty, all supported files will be transformed. Supported types may be automatically added over time. If a file type is set in this field that isn't supported by the Deidentify action then the job will fail and will not be successfully created/started. Currently the only filetypes supported are: IMAGES, TEXT_FILES, CSV, TSV.",
          "type": "array"
        },
        "transformationDetailsStorageConfig": {
          "$ref": "GooglePrivacyDlpV2TransformationDetailsStorageConfig",
          "description": "Config for storing transformation details. This is separate from the de-identified content, and contains metadata about the successful transformations and/or failures that occurred while de-identifying. This needs to be set in order for users to access information about the status of each transformation (see TransformationDetails message for more information about what is noted)."
        },
        "cloudStorageOutput": {
          "type": "string",
          "description": "Required. User settable Cloud Storage bucket and folders to store de-identified files. This field must be set for cloud storage deidentification. The output Cloud Storage bucket must be different from the input bucket. De-identified files will overwrite files in the output path. Form of: gs://bucket/folder/ or gs://bucket"
        },
        "transformationConfig": {
          "description": "User specified deidentify templates and configs for structured, unstructured, and image files.",
          "$ref": "GooglePrivacyDlpV2TransformationConfig"
        }
      },
      "description": "Create a de-identified copy of the requested table or files. A TransformationDetail will be created for each transformation. If any rows in BigQuery are skipped during de-identification (transformation errors or row size exceeds BigQuery insert API limits) they are placed in the failure output table. If the original row exceeds the BigQuery insert API limit it will be truncated when written to the failure output table. The failure output table can be set in the action.deidentify.output.big_query_output.deidentified_failure_output_table field, if no table is set, a table will be automatically created in the same project and dataset as the original table. Compatible with: Inspect",
      "id": "GooglePrivacyDlpV2Deidentify"
    },
    "GooglePrivacyDlpV2CharsToIgnore": {
      "id": "GooglePrivacyDlpV2CharsToIgnore",
      "properties": {
        "charactersToSkip": {
          "description": "Characters to not transform when masking.",
          "type": "string"
        },
        "commonCharactersToIgnore": {
          "description": "Common characters to not transform when masking. Useful to avoid removing punctuation.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-./:;\u003c=\u003e?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ],
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ]
        }
      },
      "type": "object",
      "description": "Characters to skip when doing deidentification of a value. These will be left alone and skipped."
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryStats": {
      "type": "object",
      "description": "Summary statistics of a custom dictionary.",
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
      "properties": {
        "approxNumPhrases": {
          "format": "int64",
          "description": "Approximate number of distinct phrases in the dictionary.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationDetailsStorageConfig": {
      "description": "Config for storing transformation details.",
      "id": "GooglePrivacyDlpV2TransformationDetailsStorageConfig",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "The BigQuery table in which to store the output. This may be an existing table or in a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_transformation_details_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details."
        }
      }
    },
    "GooglePrivacyDlpV2SelectedInfoTypes": {
      "type": "object",
      "id": "GooglePrivacyDlpV2SelectedInfoTypes",
      "properties": {
        "infoTypes": {
          "description": "Required. InfoTypes to apply the transformation to. Required. Provided InfoType must be unique within the ImageTransformations message.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array"
        }
      },
      "description": "Apply transformation to the selected info_types."
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain circumstances, depending on the specific details of the rules within the set.",
      "properties": {
        "infoTypes": {
          "type": "array",
          "description": "List of infoTypes this rule set is applied to.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          },
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "description": "Configuration of the timespan of the items to include in scanning. Currently only supported when inspecting Cloud Storage and BigQuery.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Exclude files, tables, or rows older than this value. If not set, no lower time limit is applied.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Exclude files, tables, or rows newer than this value. If not set, no upper time limit is applied."
        },
        "enableAutoPopulationOfTimespanConfig": {
          "type": "boolean",
          "description": "When the job is started by a JobTrigger we will automatically figure out a valid start_time to avoid scanning files that have not been modified since the last time the JobTrigger executed. This will be based on the time of the execution of the last run of the JobTrigger or the timespan end_time used in the last run of the JobTrigger."
        },
        "timestampField": {
          "description": "Specification of the field containing the timestamp of scanned items. Used for data sources like Datastore and BigQuery. *For BigQuery* If this value is not specified and the table was modified between the given start and end times, the entire table will be scanned. If this value is specified, then rows are filtered based on the given start and end times. Rows with a `NULL` value in the provided BigQuery column are skipped. Valid data types of the provided BigQuery column are: `INTEGER`, `DATE`, `TIMESTAMP`, and `DATETIME`. If your BigQuery table is [partitioned at ingestion time](https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time), you can use any of the following pseudo-columns as your timestamp field. When used with Cloud DLP, these pseudo-column names are case sensitive. - _PARTITIONTIME - _PARTITIONDATE - _PARTITION_LOAD_TIME *For Datastore* If this value is specified, then entities are filtered based on the given start and end times. If an entity does not contain the provided timestamp property or contains empty or invalid values, then it is included. Valid data types of the provided timestamp property are: `TIMESTAMP`. See the [known issue](https://cloud.google.com/dlp/docs/known-issues#bq-timespan) related to this operation.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2TimespanConfig"
    },
    "GoogleTypeTimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        }
      },
      "id": "GoogleTypeTimeOfDay"
    },
    "GooglePrivacyDlpV2Key": {
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "path": {
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          },
          "type": "array",
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. A path can never be empty, and a path can have at most 100 elements."
        }
      },
      "type": "object",
      "description": "A unique identifier for a Datastore entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "id": "GooglePrivacyDlpV2Key"
    },
    "GooglePrivacyDlpV2Export": {
      "id": "GooglePrivacyDlpV2Export",
      "type": "object",
      "description": "If set, the detailed data profiles will be persisted to the location of your choice whenever updated.",
      "properties": {
        "profileTable": {
          "description": "Store all table and column profiles in an existing table or a new table in an existing dataset. Each re-generation will result in a new row in BigQuery.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      }
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "properties": {
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string"
        },
        "reverseOrder": {
          "type": "boolean",
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`."
        },
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally. If `number_to_mask` is negative, this denotes inverse masking. Cloud DLP masks all but a number of characters. For example, suppose you have the following values: - `masking_character` is `*` - `number_to_mask` is `-4` - `reverse_order` is `false` - `CharsToIgnore` includes `-` - Input string is `1234-5678-9012-3456` The resulting de-identified string is `****-****-****-3456`. Cloud DLP masks all but the last four characters. If `reverse_order` is `true`, all but the first four characters are masked as `1234-****-****-****`.",
          "type": "integer",
          "format": "int32"
        },
        "charactersToIgnore": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          },
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CharacterMaskConfig"
    },
    "GooglePrivacyDlpV2CategoricalStatsConfig": {
      "id": "GooglePrivacyDlpV2CategoricalStatsConfig",
      "properties": {
        "field": {
          "description": "Field to compute categorical stats on. All column types are supported except for arrays and structs. However, it may be more informative to use NumericalStats when the field type is supported, depending on the data.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "type": "object",
      "description": "Compute numerical stats over an individual column, including number of distinct values and value count distribution."
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "id": "GooglePrivacyDlpV2CloudStorageFileSet",
      "description": "Message representing a set of files in Cloud Storage.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "description": "Contains a configuration to make dlp api calls on a repeating basis. See https://cloud.google.com/dlp/docs/concepts-job-triggers to learn more.",
      "id": "GooglePrivacyDlpV2JobTrigger",
      "type": "object",
      "properties": {
        "inspectJob": {
          "description": "For inspect jobs, a snapshot of the configuration.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a triggeredJob."
        },
        "lastRunTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of the last time this trigger executed.",
          "format": "google-datetime"
        },
        "description": {
          "description": "User provided description (max 256 chars)",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The creation timestamp of a triggeredJob.",
          "format": "google-datetime",
          "type": "string"
        },
        "triggers": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          },
          "type": "array",
          "description": "A list of triggers which will be OR'ed together. Only one in the list needs to trigger for a job to be started. The list may contain only a single Schedule trigger and must have at least one object."
        },
        "displayName": {
          "description": "Display name (max 100 chars)",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Unused.",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "description": "Required. A status for this trigger.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Unique resource name for the triggeredJob, assigned by the service when the triggeredJob is created, for example `projects/dlp-test-project/jobTriggers/53234423`."
        },
        "errors": {
          "description": "Output only. A stream of errors encountered when the trigger was activated. Repeated errors may result in the JobTrigger automatically being paused. Will return the last 100 errors. Whenever the JobTrigger is modified this list will be cleared.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Container": {
      "description": "Represents a container that may contain DLP findings. Examples of a container include a file, table, or database record.",
      "type": "object",
      "properties": {
        "rootPath": {
          "type": "string",
          "description": "The root of the container. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the root is `dataset_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the root is `gs://bucket`"
        },
        "projectId": {
          "description": "Project where the finding was found. Can be different from the project that owns the finding.",
          "type": "string"
        },
        "relativePath": {
          "type": "string",
          "description": "The rest of the path after the root. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the relative path is `table_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the relative path is `folder/filename.txt`"
        },
        "type": {
          "type": "string",
          "description": "Container type, for example BigQuery or Cloud Storage."
        },
        "updateTime": {
          "description": "Findings container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "type": "string",
          "description": "Findings container version, if available (\"generation\" for Cloud Storage)."
        },
        "fullPath": {
          "type": "string",
          "description": "A string representation of the full container name. Examples: - BigQuery: 'Project:DataSetId.TableId' - Cloud Storage: 'gs://Bucket/folders/filename.txt'"
        }
      },
      "id": "GooglePrivacyDlpV2Container"
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "description": "Use this to have a random data crypto key generated. It will be discarded after the request finishes.",
      "properties": {
        "name": {
          "description": "Required. Name of the key. This is an arbitrary string used to differentiate different keys. A unique key is generated per name: two separate `TransientCryptoKey` protos share the same generated key if their names are the same. When the data crypto key is generated, this name is not used in any way (repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TransientCryptoKey",
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog": {
      "properties": {},
      "type": "object",
      "description": "Publish findings of a DlpJob to Data Catalog. In Data Catalog, tag templates are applied to the resource that Cloud DLP scanned. Data Catalog tag templates are stored in the same project and region where the BigQuery table exists. For Cloud DLP to create and apply the tag template, the Cloud DLP service agent must have the `roles/datacatalog.tagTemplateOwner` permission on the project. The tag template contains fields summarizing the results of the DlpJob. Any field values previously written by another DlpJob are deleted. InfoType naming patterns are strictly enforced when using this feature. Findings are persisted in Data Catalog storage and are governed by service-specific policies for Data Catalog. For more information, see [Service Specific Terms](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. This action is allowed only if all resources being scanned are BigQuery tables. Compatible with: Inspect",
      "id": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
    },
    "GooglePrivacyDlpV2Error": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Error",
      "description": "Details information about an error encountered during job execution or the results of an unsuccessful activation of the JobTrigger.",
      "properties": {
        "details": {
          "$ref": "GoogleRpcStatus",
          "description": "Detailed error codes and messages."
        },
        "timestamps": {
          "type": "array",
          "description": "The times the error occurred.",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "properties": {
        "replaceWithInfoTypeConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
          "description": "Replace with infotype"
        },
        "redactConfig": {
          "$ref": "GooglePrivacyDlpV2RedactConfig",
          "description": "Redact"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2BucketingConfig",
          "description": "Bucketing"
        },
        "replaceConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig",
          "description": "Replace with a specified value."
        },
        "fixedSizeBucketingConfig": {
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
          "description": "Fixed size bucketing"
        },
        "timePartConfig": {
          "$ref": "GooglePrivacyDlpV2TimePartConfig",
          "description": "Time extraction"
        },
        "characterMaskConfig": {
          "description": "Mask",
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig"
        },
        "dateShiftConfig": {
          "description": "Date Shift",
          "$ref": "GooglePrivacyDlpV2DateShiftConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
          "description": "Ffx-Fpe"
        },
        "cryptoDeterministicConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig",
          "description": "Deterministic Crypto"
        },
        "replaceDictionaryConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
          "description": "Replace with a value randomly drawn (with replacement) from a dictionary."
        },
        "cryptoHashConfig": {
          "description": "Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value."
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "description": "Snapshot of the inspection configuration.",
      "id": "GooglePrivacyDlpV2RequestedOptions",
      "properties": {
        "snapshotInspectTemplate": {
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of this run.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "Inspect config."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "properties": {
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "estimatedProbability": {
          "description": "The estimated probability that a given individual sharing these quasi-identifier values is in the dataset. This value, typically called δ, is the ratio between the number of records in the dataset with these quasi-identifier values, and the total number of individuals (inside *and* outside the dataset) with these quasi-identifier values. For example, if there are 15 individuals in the dataset who share the same quasi-identifier values, and an estimated 100 people in the entire population with these values, then δ is 0.15.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2TableDataProfile": {
      "id": "GooglePrivacyDlpV2TableDataProfile",
      "description": "The profile for a scanned table.",
      "type": "object",
      "properties": {
        "datasetProjectId": {
          "type": "string",
          "description": "The GCP project ID that owns the BigQuery dataset."
        },
        "resourceVisibility": {
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ],
          "type": "string",
          "description": "How broadly a resource has been shared.",
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "Visible only to specific users."
          ]
        },
        "profileLastGenerated": {
          "description": "The last time the profile was generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "expirationTime": {
          "description": "Optional. The time when this table expires.",
          "type": "string",
          "format": "google-datetime"
        },
        "fullResource": {
          "description": "The resource name of the table. https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "description": "State of a profile.",
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "type": "string"
        },
        "predictedInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
          },
          "description": "The infoTypes predicted from this table's data.",
          "type": "array"
        },
        "configSnapshot": {
          "description": "The snapshot of the configurations used to generate the profile.",
          "$ref": "GooglePrivacyDlpV2DataProfileConfigSnapshot"
        },
        "datasetId": {
          "description": "The BigQuery dataset ID.",
          "type": "string"
        },
        "dataRiskLevel": {
          "$ref": "GooglePrivacyDlpV2DataRiskLevel",
          "description": "The data risk level of this table."
        },
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of rows in the table when the profile was generated. This will not be populated for BigLake tables."
        },
        "otherInfoTypes": {
          "description": "Other infoTypes found in this table's data.",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the table was created.",
          "format": "google-datetime"
        },
        "tableId": {
          "type": "string",
          "description": "The BigQuery table ID."
        },
        "projectDataProfile": {
          "type": "string",
          "description": "The resource name to the project data profile for this table."
        },
        "failedColumnCount": {
          "type": "string",
          "description": "The number of columns skipped in the table because of an error.",
          "format": "int64"
        },
        "encryptionStatus": {
          "enumDescriptions": [
            "Unused.",
            "Google manages server-side encryption keys on your behalf.",
            "Customer provides the key."
          ],
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "ENCRYPTION_GOOGLE_MANAGED",
            "ENCRYPTION_CUSTOMER_MANAGED"
          ],
          "type": "string",
          "description": "How the table is encrypted."
        },
        "lastModifiedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this table was last modified"
        },
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The sensitivity score of this table."
        },
        "name": {
          "type": "string",
          "description": "The name of the profile."
        },
        "datasetLocation": {
          "type": "string",
          "description": "The BigQuery location where the dataset's data is stored. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "scannedColumnCount": {
          "type": "string",
          "description": "The number of columns profiled in the table.",
          "format": "int64"
        },
        "resourceLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels applied to the resource at the time the profile was generated."
        },
        "tableSizeBytes": {
          "format": "int64",
          "description": "The size of the table when the profile was generated.",
          "type": "string"
        },
        "profileStatus": {
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        }
      }
    },
    "GooglePrivacyDlpV2InspectResult": {
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings for an item.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          }
        },
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned, and the findings returned are an arbitrary subset of all findings. The findings list might be truncated because the input items were too large, or because the server reached the maximum amount of resources allowed for a single API call. For best results, divide the input into smaller batches.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2InspectResult"
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "type": "object",
      "description": "A tuple of values for the quasi-identifier columns.",
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues",
      "properties": {
        "estimatedAnonymity": {
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64",
          "type": "string"
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2LDiversityEquivalenceClass": {
      "description": "The set of columns' values that share the same ldiversity value.",
      "id": "GooglePrivacyDlpV2LDiversityEquivalenceClass",
      "properties": {
        "quasiIdsValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "Quasi-identifier values defining the k-anonymity equivalence class. The order is always the same as the original request.",
          "type": "array"
        },
        "numDistinctSensitiveValues": {
          "format": "int64",
          "type": "string",
          "description": "Number of distinct sensitive values in this equivalence class."
        },
        "equivalenceClassSize": {
          "type": "string",
          "format": "int64",
          "description": "Size of the k-anonymity equivalence class."
        },
        "topSensitiveValues": {
          "description": "Estimated frequencies of top sensitive values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "type": "object",
      "description": "Replace each matching finding with the name of the info_type.",
      "properties": {},
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "description": "The configuration that controls how the data will change.",
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "type": "object",
      "properties": {
        "recordTransformations": {
          "$ref": "GooglePrivacyDlpV2RecordTransformations",
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table."
        },
        "imageTransformations": {
          "$ref": "GooglePrivacyDlpV2ImageTransformations",
          "description": "Treat the dataset as an image and redact."
        },
        "infoTypeTransformations": {
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "transformationErrorHandling": {
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`.",
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling"
        }
      }
    },
    "GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "type": "object",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "id": "GooglePrivacyDlpV2HybridInspectDlpJobRequest"
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "description": "Result of the numerical stats computation.",
      "properties": {
        "maxValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Maximum value appearing in the column."
        },
        "quantileValues": {
          "description": "List of 99 values that partition the set of field values into 100 equal sized buckets.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array"
        },
        "minValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Minimum value appearing in the column."
        }
      },
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "properties": {
        "transformedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total size in bytes that were transformed in some way."
        },
        "results": {
          "description": "Collection of all transformations that took place or had an error.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          }
        },
        "fieldTransformations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "type": "array",
          "description": "The field transformation that was applied. If multiple field transformations are requested for a single field, this list will contain all of them; otherwise, only one is supplied."
        },
        "transformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "The specific transformation these stats apply to."
        },
        "infoType": {
          "description": "Set if the transformation was limited to a specific InfoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "recordSuppress": {
          "description": "The specific suppression option these stats apply to.",
          "$ref": "GooglePrivacyDlpV2RecordSuppression"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationSummary",
      "description": "Summary of a single transformation. Only one of 'transformation', 'field_transformation', or 'record_suppress' will be set."
    },
    "GooglePrivacyDlpV2KAnonymityResult": {
      "id": "GooglePrivacyDlpV2KAnonymityResult",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
          },
          "description": "Histogram of k-anonymity equivalence classes."
        }
      },
      "description": "Result of the k-anonymity computation.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Result": {
      "properties": {
        "totalEstimatedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Estimate of the number of bytes to process."
        },
        "infoTypeStats": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          },
          "type": "array",
          "description": "Statistics of how many instances of each info type were found during inspect job."
        },
        "hybridStats": {
          "description": "Statistics related to the processing of hybrid inspect.",
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics"
        },
        "processedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total size in bytes that were processed."
        }
      },
      "description": "All result fields mentioned below are updated while the job is processing.",
      "id": "GooglePrivacyDlpV2Result",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "properties": {
        "rowNumber": {
          "description": "Row number inferred at the time the table was scanned. This value is nondeterministic, cannot be queried, and may be null for inspection jobs. To locate findings within a table, specify `inspect_job.storage_config.big_query_options.identifying_fields` in `CreateDlpJobRequest`.",
          "type": "string",
          "format": "int64"
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Complete BigQuery table reference."
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryKey",
      "description": "Row key for identifying a record in BigQuery table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "type": "object",
      "description": "A value of a field, including its frequency.",
      "id": "GooglePrivacyDlpV2ValueFrequency",
      "properties": {
        "count": {
          "type": "string",
          "description": "How many times the value is contained in the field.",
          "format": "int64"
        },
        "value": {
          "description": "A value contained in the field in question.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectConfig",
      "properties": {
        "ruleSet": {
          "description": "Set of rules to apply to the findings for this InspectConfig. Exclusion rules, contained in the set are executed in the end, other rules are executed in the order they are specified for each info type.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          }
        },
        "minLikelihood": {
          "description": "Only returns findings equal or above this threshold. The default is POSSIBLE. See https://cloud.google.com/dlp/docs/likelihood to learn more.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ]
        },
        "contentOptions": {
          "description": "Deprecated and unused.",
          "type": "array",
          "items": {
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Includes entire content of a file or a data stream.",
              "Text content within the data, excluding any metadata.",
              "Images found in the data."
            ]
          }
        },
        "limits": {
          "$ref": "GooglePrivacyDlpV2FindingLimits",
          "description": "Configuration to control the number of findings returned. This is not used for data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error. When set within `InspectJobConfig`, the specified maximum values aren't hard limits. If an inspection job reaches these limits, the job ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns can be multiple times higher than these maximum values."
        },
        "customInfoTypes": {
          "type": "array",
          "description": "CustomInfoTypes provided by the user. See https://cloud.google.com/dlp/docs/creating-custom-infotypes to learn more.",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          }
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is included in the response; see Finding.quote. This is not used for data profiling.",
          "type": "boolean"
        },
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array",
          "description": "Restricts what info_types to look for. The values must correspond to InfoType values returned by ListInfoTypes or listed at https://cloud.google.com/dlp/docs/infotypes-reference. When no InfoTypes or CustomInfoTypes are specified in a request, the system may automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. If you need precise control and predictability as to what detectors are run you should specify specific InfoTypes listed in the reference, otherwise a default list will be used, which may change over time."
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings. This is not used for data profiling.",
          "type": "boolean"
        }
      },
      "description": "Configuration description of the scanning process. When used with redactContent only info_types and min_likelihood are currently used."
    },
    "GooglePrivacyDlpV2TransformationLocation": {
      "type": "object",
      "description": "Specifies the location of a transformation.",
      "id": "GooglePrivacyDlpV2TransformationLocation",
      "properties": {
        "containerType": {
          "enum": [
            "TRANSFORM_UNKNOWN_CONTAINER",
            "TRANSFORM_BODY",
            "TRANSFORM_METADATA",
            "TRANSFORM_TABLE"
          ],
          "type": "string",
          "description": "Information about the functionality of the container where this finding occurred, if available.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "findingId": {
          "type": "string",
          "description": "For infotype transformations, link to the corresponding findings ID so that location information does not need to be duplicated. Each findings ID correlates to an entry in the findings output table, this table only gets created when users specify to save findings (add the save findings action to the request)."
        },
        "recordTransformation": {
[...]
