{
  "name": "blogger",
  "mtlsRootUrl": "https://blogger.mtls.googleapis.com/",
  "rootUrl": "https://blogger.googleapis.com/",
  "revision": "20230226",
  "discoveryVersion": "v1",
  "version": "v3",
  "canonicalName": "Blogger",
  "id": "blogger:v3",
  "kind": "discovery#restDescription",
  "description": "The Blogger API provides access to posts, comments and pages of a Blogger blog.",
  "baseUrl": "https://blogger.googleapis.com/",
  "resources": {
    "postUserInfos": {
      "methods": {
        "list": {
          "id": "blogger.postUserInfos.list",
          "description": "Lists post and user info pairs.",
          "parameterOrder": [
            "userId",
            "blogId"
          ],
          "parameters": {
            "status": {
              "repeated": true,
              "type": "string",
              "enum": [
                "LIVE",
                "DRAFT",
                "SCHEDULED",
                "SOFT_TRASHED"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query"
            },
            "userId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "orderBy": {
              "default": "PUBLISHED",
              "enum": [
                "ORDER_BY_UNSPECIFIED",
                "PUBLISHED",
                "UPDATED"
              ],
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "startDate": {
              "type": "string",
              "location": "query"
            },
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "endDate": {
              "type": "string",
              "location": "query"
            },
            "labels": {
              "type": "string",
              "location": "query"
            },
            "fetchBodies": {
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query"
            }
          },
          "path": "v3/users/{userId}/blogs/{blogId}/posts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "flatPath": "v3/users/{userId}/blogs/{blogId}/posts",
          "response": {
            "$ref": "PostUserInfosList"
          }
        },
        "get": {
          "response": {
            "$ref": "PostUserInfo"
          },
          "description": "Gets one post and user info pair, by post_id and user_id.",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId",
            "blogId",
            "postId"
          ],
          "id": "blogger.postUserInfos.get",
          "parameters": {
            "userId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxComments": {
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "blogId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "postId": {
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v3/users/{userId}/blogs/{blogId}/posts/{postId}",
          "flatPath": "v3/users/{userId}/blogs/{blogId}/posts/{postId}",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "parameters": {
            "postId": {
              "type": "string",
              "required": true,
              "location": "path"
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a comment by blog id, post id and comment id.",
          "id": "blogger.comments.delete",
          "httpMethod": "DELETE",
          "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}"
        },
        "approve": {
          "parameters": {
            "postId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/approve",
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "id": "blogger.comments.approve",
          "httpMethod": "POST",
          "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/approve",
          "description": "Marks a comment as not spam by blog id, post id and comment id.",
          "response": {
            "$ref": "Comment"
          }
        },
        "removeContent": {
          "id": "blogger.comments.removeContent",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "description": "Removes the content of a comment by blog id, post id and comment id.",
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent",
          "httpMethod": "POST",
          "parameters": {
            "postId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "required": true,
              "location": "path",
              "type": "string"
            },
            "blogId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent",
          "response": {
            "$ref": "Comment"
          }
        },
        "get": {
          "parameters": {
            "view": {
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "blogId": {
              "required": true,
              "location": "path",
              "type": "string"
            },
            "postId": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "description": "Gets a comment by id.",
          "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "id": "blogger.comments.get",
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ]
        },
        "listByBlog": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentList"
          },
          "description": "Lists comments by blog.",
          "id": "blogger.comments.listByBlog",
          "parameters": {
            "status": {
              "enum": [
                "LIVE",
                "EMPTIED",
                "PENDING",
                "SPAM"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "endDate": {
              "type": "string",
              "location": "query"
            },
            "startDate": {
              "location": "query",
              "type": "string"
            },
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "fetchBodies": {
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "path": "v3/blogs/{blogId}/comments",
          "flatPath": "v3/blogs/{blogId}/comments",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ]
        },
        "markAsSpam": {
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/spam",
          "parameters": {
            "postId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/spam",
          "id": "blogger.comments.markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "httpMethod": "POST",
          "description": "Marks a comment as spam by blog id, post id and comment id."
        },
        "list": {
          "path": "v3/blogs/{blogId}/posts/{postId}/comments",
          "httpMethod": "GET",
          "id": "blogger.comments.list",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/comments",
          "description": "Lists comments.",
          "parameters": {
            "status": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "LIVE",
                "EMPTIED",
                "PENDING",
                "SPAM"
              ],
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "endDate": {
              "location": "query",
              "type": "string"
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            },
            "postId": {
              "required": true,
              "location": "path",
              "type": "string"
            },
            "fetchBodies": {
              "type": "boolean",
              "location": "query"
            },
            "view": {
              "type": "string",
              "location": "query",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "startDate": {
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CommentList"
          },
          "parameterOrder": [
            "blogId",
            "postId"
          ]
        }
      }
    },
    "blogUserInfos": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "BlogUserInfo"
          },
          "parameterOrder": [
            "userId",
            "blogId"
          ],
          "description": "Gets one blog and user info pair by blog id and user id.",
          "parameters": {
            "maxPosts": {
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "userId": {
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "blogger.blogUserInfos.get",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "path": "v3/users/{userId}/blogs/{blogId}",
          "flatPath": "v3/users/{userId}/blogs/{blogId}"
        }
      }
    },
    "blogs": {
      "methods": {
        "getByUrl": {
          "flatPath": "v3/blogs/byurl",
          "path": "v3/blogs/byurl",
          "parameters": {
            "url": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            }
          },
          "parameterOrder": [
            "url"
          ],
          "httpMethod": "GET",
          "description": "Gets a blog by url.",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "id": "blogger.blogs.getByUrl",
          "response": {
            "$ref": "Blog"
          }
        },
        "get": {
          "parameterOrder": [
            "blogId"
          ],
          "description": "Gets a blog by id.",
          "httpMethod": "GET",
          "path": "v3/blogs/{blogId}",
          "parameters": {
            "maxPosts": {
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "view": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "location": "query",
              "type": "string"
            },
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "flatPath": "v3/blogs/{blogId}",
          "id": "blogger.blogs.get",
          "response": {
            "$ref": "Blog"
          }
        },
        "listByUser": {
          "id": "blogger.blogs.listByUser",
          "response": {
            "$ref": "BlogList"
          },
          "path": "v3/users/{userId}/blogs",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "description": "Lists blogs by user.",
          "httpMethod": "GET",
          "flatPath": "v3/users/{userId}/blogs",
          "parameters": {
            "view": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "location": "query"
            },
            "userId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "role": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ]
            },
            "fetchUserInfo": {
              "type": "boolean",
              "location": "query"
            },
            "status": {
              "type": "string",
              "default": "LIVE",
              "enum": [
                "LIVE",
                "DELETED"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Default value of status is LIVE.",
              "repeated": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "userId"
          ]
        }
      }
    },
    "pageViews": {
      "methods": {
        "get": {
          "parameterOrder": [
            "blogId"
          ],
          "id": "blogger.pageViews.get",
          "httpMethod": "GET",
          "description": "Gets page views by blog id.",
          "flatPath": "v3/blogs/{blogId}/pageviews",
          "response": {
            "$ref": "Pageviews"
          },
          "parameters": {
            "range": {
              "enum": [
                "all",
                "30DAYS",
                "7DAYS"
              ],
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            },
            "blogId": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "v3/blogs/{blogId}/pageviews",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ]
        }
      }
    },
    "pages": {
      "methods": {
        "revert": {
          "path": "v3/blogs/{blogId}/pages/{pageId}/revert",
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "parameters": {
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageId": {
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v3/blogs/{blogId}/pages/{pageId}/revert",
          "description": "Reverts a published or scheduled page to draft state.",
          "response": {
            "$ref": "Page"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "id": "blogger.pages.revert",
          "httpMethod": "POST"
        },
        "update": {
          "description": "Updates a page by blog id and page id.",
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "request": {
            "$ref": "Page"
          },
          "id": "blogger.pages.update",
          "path": "v3/blogs/{blogId}/pages/{pageId}",
          "response": {
            "$ref": "Page"
          },
          "parameters": {
            "publish": {
              "type": "boolean",
              "location": "query"
            },
            "blogId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "revert": {
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "v3/blogs/{blogId}/pages/{pageId}",
          "httpMethod": "PUT"
        },
        "get": {
          "id": "blogger.pages.get",
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "parameters": {
            "pageId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "view": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ]
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets a page by blog id and page id.",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "response": {
            "$ref": "Page"
          },
          "flatPath": "v3/blogs/{blogId}/pages/{pageId}",
          "path": "v3/blogs/{blogId}/pages/{pageId}",
          "httpMethod": "GET"
        },
        "publish": {
          "response": {
            "$ref": "Page"
          },
          "httpMethod": "POST",
          "parameters": {
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageId": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Publishes a page.",
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "path": "v3/blogs/{blogId}/pages/{pageId}/publish",
          "flatPath": "v3/blogs/{blogId}/pages/{pageId}/publish",
          "id": "blogger.pages.publish"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "flatPath": "v3/blogs/{blogId}/pages",
          "description": "Lists pages.",
          "path": "v3/blogs/{blogId}/pages",
          "parameterOrder": [
            "blogId"
          ],
          "response": {
            "$ref": "PageList"
          },
          "parameters": {
            "blogId": {
              "type": "string",
              "required": true,
              "location": "path"
            },
            "status": {
              "enum": [
                "LIVE",
                "DRAFT",
                "SOFT_TRASHED"
              ],
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "type": "string"
            },
            "view": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "location": "query"
            },
            "fetchBodies": {
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "id": "blogger.pages.list"
        },
        "delete": {
          "parameters": {
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "useTrash": {
              "location": "query",
              "type": "boolean",
              "description": "Move to Trash if possible"
            },
            "pageId": {
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "flatPath": "v3/blogs/{blogId}/pages/{pageId}",
          "description": "Deletes a page by blog id and page id.",
          "id": "blogger.pages.delete",
          "path": "v3/blogs/{blogId}/pages/{pageId}",
          "parameterOrder": [
            "blogId",
            "pageId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "Page"
          },
          "flatPath": "v3/blogs/{blogId}/pages/{pageId}",
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "description": "Patches a page.",
          "parameters": {
            "revert": {
              "type": "boolean",
              "location": "query"
            },
            "pageId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "publish": {
              "location": "query",
              "type": "boolean"
            },
            "blogId": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "response": {
            "$ref": "Page"
          },
          "id": "blogger.pages.patch",
          "path": "v3/blogs/{blogId}/pages/{pageId}",
          "httpMethod": "PATCH"
        },
        "insert": {
          "flatPath": "v3/blogs/{blogId}/pages",
          "id": "blogger.pages.insert",
          "parameters": {
            "isDraft": {
              "location": "query",
              "type": "boolean"
            },
            "blogId": {
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Page"
          },
          "path": "v3/blogs/{blogId}/pages",
          "parameterOrder": [
            "blogId"
          ],
          "response": {
            "$ref": "Page"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "description": "Inserts a page."
        }
      }
    },
    "posts": {
      "methods": {
        "list": {
          "description": "Lists posts.",
          "id": "blogger.posts.list",
          "path": "v3/blogs/{blogId}/posts",
          "flatPath": "v3/blogs/{blogId}/posts",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "parameters": {
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "view": {
              "type": "string",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query"
            },
            "labels": {
              "location": "query",
              "type": "string"
            },
            "fetchImages": {
              "location": "query",
              "type": "boolean"
            },
            "endDate": {
              "location": "query",
              "type": "string"
            },
            "fetchBodies": {
              "type": "boolean",
              "default": "true",
              "location": "query"
            },
            "startDate": {
              "type": "string",
              "location": "query"
            },
            "status": {
              "enum": [
                "LIVE",
                "DRAFT",
                "SCHEDULED",
                "SOFT_TRASHED"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "type": "string"
            },
            "orderBy": {
              "enum": [
                "ORDER_BY_UNSPECIFIED",
                "PUBLISHED",
                "UPDATED"
              ],
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "default": "PUBLISHED"
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "sortOption": {
              "default": "DESCENDING",
              "enumDescriptions": [
                "The unspecified sort option.",
                "The option to sort posts in descending order in time.",
                "The option to sort posts in ascending order in time."
              ],
              "type": "string",
              "enum": [
                "SORT_OPTION_UNSPECIFIED",
                "DESCENDING",
                "ASCENDING"
              ],
              "location": "query",
              "description": "Sort direction applied to post list."
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "response": {
            "$ref": "PostList"
          },
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Post"
          },
          "description": "Updates a post by blog id and post id.",
          "parameters": {
            "publish": {
              "type": "boolean",
              "location": "query"
            },
            "fetchImages": {
              "location": "query",
              "type": "boolean"
            },
            "fetchBody": {
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "maxComments": {
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "revert": {
              "type": "boolean",
              "location": "query"
            },
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "postId": {
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v3/blogs/{blogId}/posts/{postId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "path": "v3/blogs/{blogId}/posts/{postId}",
          "response": {
            "$ref": "Post"
          },
          "id": "blogger.posts.update",
          "parameterOrder": [
            "blogId",
            "postId"
          ]
        },
        "getByPath": {
          "parameterOrder": [
            "blogId",
            "path"
          ],
          "description": "Gets a post by path.",
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "id": "blogger.posts.getByPath",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ]
            },
            "path": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "maxComments": {
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v3/blogs/{blogId}/posts/bypath",
          "response": {
            "$ref": "Post"
          },
          "flatPath": "v3/blogs/{blogId}/posts/bypath"
        },
        "patch": {
          "response": {
            "$ref": "Post"
          },
          "request": {
            "$ref": "Post"
          },
          "description": "Patches a post.",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "httpMethod": "PATCH",
          "path": "v3/blogs/{blogId}/posts/{postId}",
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "parameters": {
            "maxComments": {
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "postId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fetchImages": {
              "type": "boolean",
              "location": "query"
            },
            "revert": {
              "location": "query",
              "type": "boolean"
            },
            "blogId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "publish": {
              "location": "query",
              "type": "boolean"
            },
            "fetchBody": {
              "default": "true",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "blogger.posts.patch",
          "flatPath": "v3/blogs/{blogId}/posts/{postId}"
        },
        "revert": {
          "parameters": {
            "postId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "blogId": {
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "id": "blogger.posts.revert",
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/revert",
          "response": {
            "$ref": "Post"
          },
          "description": "Reverts a published or scheduled post to draft state.",
          "path": "v3/blogs/{blogId}/posts/{postId}/revert"
        },
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "description": "Searches for posts matching given query terms in the specified blog.",
          "id": "blogger.posts.search",
          "flatPath": "v3/blogs/{blogId}/posts/search",
          "parameters": {
            "blogId": {
              "type": "string",
              "required": true,
              "location": "path"
            },
            "q": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "orderBy": {
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "type": "string",
              "default": "PUBLISHED",
              "location": "query",
              "enum": [
                "ORDER_BY_UNSPECIFIED",
                "PUBLISHED",
                "UPDATED"
              ]
            },
            "fetchBodies": {
              "type": "boolean",
              "location": "query",
              "default": "true"
            }
          },
          "path": "v3/blogs/{blogId}/posts/search",
          "response": {
            "$ref": "PostList"
          },
          "parameterOrder": [
            "blogId",
            "q"
          ],
          "httpMethod": "GET"
        },
        "publish": {
          "response": {
            "$ref": "Post"
          },
          "description": "Publishes a post.",
          "parameters": {
            "blogId": {
              "required": true,
              "type": "string",
              "location": "path"
            },
            "publishDate": {
              "type": "string",
              "location": "query"
            },
            "postId": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "path": "v3/blogs/{blogId}/posts/{postId}/publish",
          "httpMethod": "POST",
          "id": "blogger.posts.publish",
          "flatPath": "v3/blogs/{blogId}/posts/{postId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "response": {
            "$ref": "Post"
          },
          "parameterOrder": [
            "blogId"
          ],
          "path": "v3/blogs/{blogId}/posts",
          "description": "Inserts a post.",
          "parameters": {
            "fetchImages": {
              "type": "boolean",
              "location": "query"
            },
            "blogId": {
              "type": "string",
              "location": "path",
              "required": true
            },
            "isDraft": {
              "location": "query",
              "type": "boolean"
            },
            "fetchBody": {
              "location": "query",
              "type": "boolean",
              "default": "true"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Post"
          },
          "id": "blogger.posts.insert",
          "flatPath": "v3/blogs/{blogId}/posts"
        },
        "get": {
          "description": "Gets a post by blog id and post id",
          "response": {
            "$ref": "Post"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "v3/blogs/{blogId}/posts/{postId}",
          "id": "blogger.posts.get",
          "parameters": {
            "fetchBody": {
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "fetchImages": {
              "type": "boolean",
              "location": "query"
            },
            "maxComments": {
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "postId": {
              "type": "string",
              "required": true,
              "location": "path"
            },
            "view": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "VIEW_TYPE_UNSPECIFIED",
                "READER",
                "AUTHOR",
                "ADMIN"
              ]
            },
            "blogId": {
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "path": "v3/blogs/{blogId}/posts/{postId}"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "blogger.posts.delete",
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "flatPath": "v3/blogs/{blogId}/posts/{postId}",
          "path": "v3/blogs/{blogId}/posts/{postId}",
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "parameters": {
            "blogId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useTrash": {
              "location": "query",
              "type": "boolean",
              "description": "Move to Trash if possible"
            },
            "postId": {
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes a post by blog id and post id."
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "path": "v3/users/{userId}",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "parameters": {
            "userId": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets one user by user_id.",
          "flatPath": "v3/users/{userId}",
          "id": "blogger.users.get"
        }
      }
    }
  },
  "basePath": "",
  "title": "Blogger API",
  "schemas": {
    "PostPerUserInfo": {
      "type": "object",
      "properties": {
        "postId": {
          "description": "ID of the Post resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#postPerUserInfo."
        },
        "userId": {
          "description": "ID of the User.",
          "type": "string"
        },
        "blogId": {
          "description": "ID of the Blog that the post resource belongs to.",
          "type": "string"
        },
        "hasEditAccess": {
          "description": "True if the user has Author level access to the post.",
          "type": "boolean"
        }
      },
      "id": "PostPerUserInfo"
    },
    "Page": {
      "properties": {
        "id": {
          "description": "The identifier for this resource.",
          "type": "string"
        },
        "author": {
          "properties": {
            "image": {
              "description": "The creator's avatar.",
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The creator's avatar URL."
                }
              }
            },
            "url": {
              "description": "The URL of the creator's Profile page.",
              "type": "string"
            },
            "id": {
              "description": "The identifier of the creator.",
              "type": "string"
            },
            "displayName": {
              "type": "string",
              "description": "The display name."
            }
          },
          "type": "object",
          "description": "The author of this Page."
        },
        "updated": {
          "type": "string",
          "description": "RFC 3339 date-time when this Page was last updated."
        },
        "blog": {
          "properties": {
            "id": {
              "description": "The identifier of the blog containing this page.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Data about the blog containing this Page."
        },
        "published": {
          "description": "RFC 3339 date-time when this Page was published.",
          "type": "string"
        },
        "url": {
          "description": "The URL that this Page is displayed at.",
          "type": "string"
        },
        "content": {
          "description": "The body content of this Page, in HTML.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#page."
        },
        "status": {
          "enum": [
            "LIVE",
            "DRAFT",
            "SOFT_TRASHED"
          ],
          "type": "string",
          "description": "The status of the page for admin resources (either LIVE or DRAFT).",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity. This is the name displayed in the Admin user interface."
        },
        "trashed": {
          "type": "string",
          "description": "RFC 3339 date-time when this Page was trashed."
        }
      },
      "type": "object",
      "id": "Page"
    },
    "PostUserInfosList": {
      "type": "object",
      "id": "PostUserInfosList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#postList."
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PostUserInfo"
          },
          "description": "The list of Posts with User information for the post, for this Blog."
        }
      }
    },
    "PageList": {
      "id": "PageList",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to fetch the next page, if one exists."
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#pageList.",
          "type": "string"
        },
        "items": {
          "description": "The list of Pages for a Blog.",
          "items": {
            "$ref": "Page"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag of the response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommentList": {
      "type": "object",
      "id": "CommentList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this entry. Always blogger#commentList."
        },
        "prevPageToken": {
          "type": "string",
          "description": "Pagination token to fetch the previous page, if one exists."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to fetch the next page, if one exists."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "The List of Comments for a Post."
        },
        "etag": {
          "description": "Etag of the response.",
          "type": "string"
        }
      }
    },
    "Blog": {
      "properties": {
        "published": {
          "type": "string",
          "description": "RFC 3339 date-time when this blog was published."
        },
        "customMetaData": {
          "type": "string",
          "description": "The JSON custom meta-data for the Blog."
        },
        "updated": {
          "type": "string",
          "description": "RFC 3339 date-time when this blog was last updated."
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier for this resource."
        },
        "name": {
          "type": "string",
          "description": "The name of this blog. This is displayed as the title."
        },
        "url": {
          "description": "The URL where this blog is published.",
          "type": "string"
        },
        "posts": {
          "description": "The container of posts in this blog.",
          "type": "object",
          "properties": {
            "selfLink": {
              "description": "The URL of the container for posts in this blog.",
              "type": "string"
            },
            "totalItems": {
              "format": "int32",
              "description": "The count of posts in this blog.",
              "type": "integer"
            },
            "items": {
              "items": {
                "$ref": "Post"
              },
              "description": "The List of Posts for this Blog.",
              "type": "array"
            }
          }
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#blog.",
          "type": "string"
        },
        "description": {
          "description": "The description of this blog. This is displayed underneath the title.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "LIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The status of the blog."
        },
        "locale": {
          "description": "The locale this Blog is set to.",
          "type": "object",
          "properties": {
            "language": {
              "type": "string",
              "description": "The language this blog is authored in."
            },
            "variant": {
              "type": "string",
              "description": "The language variant this blog is authored in."
            },
            "country": {
              "description": "The country this blog's locale is set to.",
              "type": "string"
            }
          }
        },
        "pages": {
          "properties": {
            "totalItems": {
              "type": "integer",
              "description": "The count of pages in this blog.",
              "format": "int32"
            },
            "selfLink": {
              "description": "The URL of the container for pages in this blog.",
              "type": "string"
            }
          },
          "description": "The container of pages in this blog.",
          "type": "object"
        }
      },
      "id": "Blog",
      "type": "object"
    },
    "BlogPerUserInfo": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "ID of the User."
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#blogPerUserInfo.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "READER",
            "AUTHOR",
            "ADMIN"
          ]
        },
        "hasAdminAccess": {
          "type": "boolean",
          "description": "True if the user has Admin level access to the blog."
        },
        "blogId": {
          "description": "ID of the Blog resource.",
          "type": "string"
        },
        "photosAlbumKey": {
          "description": "The Photo Album Key for the user when adding photos to the blog.",
          "type": "string"
        }
      },
      "id": "BlogPerUserInfo",
      "type": "object"
    },
    "BlogUserInfo": {
      "type": "object",
      "properties": {
        "blog_user_info": {
          "description": "Information about a User for the Blog.",
          "$ref": "BlogPerUserInfo"
        },
        "blog": {
          "$ref": "Blog",
          "description": "The Blog resource."
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#blogUserInfo.",
          "type": "string"
        }
      },
      "id": "BlogUserInfo"
    },
    "Pageviews": {
      "id": "Pageviews",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this entry. Always blogger#page_views."
        },
        "counts": {
          "description": "The container of posts in this blog.",
          "items": {
            "type": "object",
            "properties": {
              "timeRange": {
                "type": "string",
                "enumDescriptions": [
                  "",
                  "",
                  ""
                ],
                "description": "Time range the given count applies to.",
                "enum": [
                  "ALL_TIME",
                  "THIRTY_DAYS",
                  "SEVEN_DAYS"
                ]
              },
              "count": {
                "format": "int64",
                "type": "string",
                "description": "Count of page views for the given time range."
              }
            }
          },
          "type": "array"
        },
        "blogId": {
          "description": "Blog Id.",
          "type": "string"
        }
      }
    },
    "PostList": {
      "id": "PostList",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "Pagination token to fetch the previous page, if one exists.",
          "type": "string"
        },
        "items": {
          "description": "The list of Posts for this Blog.",
          "type": "array",
          "items": {
            "$ref": "Post"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#postList.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of the response.",
          "type": "string"
        }
      }
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "author": {
          "description": "The author of this Comment.",
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "The identifier of the creator."
            },
            "image": {
              "type": "object",
              "description": "The creator's avatar.",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The creator's avatar URL."
                }
              }
            },
            "url": {
              "type": "string",
              "description": "The URL of the creator's Profile page."
            }
          },
          "type": "object"
        },
        "published": {
          "type": "string",
          "description": "RFC 3339 date-time when this comment was published."
        },
        "inReplyTo": {
          "properties": {
            "id": {
              "type": "string",
              "description": "The identified of the parent of this comment."
            }
          },
          "description": "Data about the comment this is in reply to.",
          "type": "object"
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#comment.",
          "type": "string"
        },
        "post": {
          "properties": {
            "id": {
              "description": "The identifier of the post containing this comment.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Data about the post containing this comment."
        },
        "blog": {
          "description": "Data about the blog containing this comment.",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The identifier of the blog containing this comment."
            }
          }
        },
        "content": {
          "type": "string",
          "description": "The actual content of the comment. May include HTML markup."
        },
        "updated": {
          "type": "string",
          "description": "RFC 3339 date-time when this comment was last updated."
        },
        "selfLink": {
          "type": "string",
          "description": "The API REST URL to fetch this resource from."
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string"
        },
        "status": {
          "description": "The status of the comment (only populated for admin users).",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LIVE",
            "EMPTIED",
            "PENDING",
            "SPAM"
          ]
        }
      },
      "type": "object"
    },
    "BlogList": {
      "type": "object",
      "id": "BlogList",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Blog"
          },
          "description": "The list of Blogs this user has Authorship or Admin rights over."
        },
        "blogUserInfos": {
          "type": "array",
          "items": {
            "$ref": "BlogUserInfo"
          },
          "description": "Admin level list of blog per-user information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this entity. Always blogger#blogList."
        }
      }
    },
    "PostUserInfo": {
      "id": "PostUserInfo",
      "properties": {
        "kind": {
          "description": "The kind of this entity. Always blogger#postUserInfo.",
          "type": "string"
        },
        "post_user_info": {
          "$ref": "PostPerUserInfo",
          "description": "Information about a User for the Post."
        },
        "post": {
          "description": "The Post resource.",
          "$ref": "Post"
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "url": {
          "description": "The user's profile page.",
          "type": "string"
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#user.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name.",
          "type": "string"
        },
        "locale": {
          "type": "object",
          "properties": {
            "language": {
              "type": "string",
              "description": "The language this blog is authored in."
            },
            "variant": {
              "description": "The language variant this blog is authored in.",
              "type": "string"
            },
            "country": {
              "description": "The country this blog's locale is set to.",
              "type": "string"
            }
          },
          "description": "This user's locale"
        },
        "created": {
          "type": "string",
          "description": "The timestamp of when this profile was created, in seconds since epoch."
        },
        "blogs": {
          "description": "The container of blogs for this user.",
          "properties": {
            "selfLink": {
              "description": "The URL of the Blogs for this user.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "about": {
          "description": "Profile summary information.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier for this User."
        }
      },
      "id": "User",
      "type": "object"
    },
    "Post": {
      "type": "object",
      "id": "Post",
      "properties": {
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string"
        },
        "replies": {
          "type": "object",
          "properties": {
            "items": {
              "type": "array",
              "description": "The List of Comments for this Post.",
              "items": {
                "$ref": "Comment"
              }
            },
            "totalItems": {
              "description": "The count of comments on this post.",
              "format": "int64",
              "type": "string"
            },
            "selfLink": {
              "type": "string",
              "description": "The URL of the comments on this post."
            }
          },
          "description": "The container of comments on this Post."
        },
        "location": {
          "type": "object",
          "description": "The location for geotagged posts.",
          "properties": {
            "lng": {
              "description": "Location's longitude.",
              "format": "double",
              "type": "number"
            },
            "name": {
              "type": "string",
              "description": "Location name."
            },
            "span": {
              "type": "string",
              "description": "Location's viewport span. Can be used when rendering a map preview."
            },
            "lat": {
              "type": "number",
              "description": "Location's latitude.",
              "format": "double"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The identifier of this Post."
        },
        "labels": {
          "items": {
            "type": "string"
          },
          "description": "The list of labels this Post was tagged with.",
          "type": "array"
        },
        "readerComments": {
          "type": "string",
          "description": "Comment control and display setting for readers of this post.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ALLOW",
            "DONT_ALLOW_SHOW_EXISTING",
            "DONT_ALLOW_HIDE_EXISTING"
          ]
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#post.",
          "type": "string"
        },
        "trashed": {
          "type": "string",
          "description": "RFC 3339 date-time when this Post was last trashed."
        },
        "content": {
          "type": "string",
          "description": "The content of the Post. May contain HTML markup."
        },
        "blog": {
          "type": "object",
          "properties": {
            "id": {
              "description": "The identifier of the Blog that contains this Post.",
              "type": "string"
            }
          },
          "description": "Data about the blog containing this Post."
        },
        "status": {
          "description": "Status of the post. Only set for admin-level requests.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "LIVE",
            "DRAFT",
            "SCHEDULED",
            "SOFT_TRASHED"
          ]
        },
        "author": {
          "properties": {
            "image": {
              "properties": {
                "url": {
                  "description": "The creator's avatar URL.",
                  "type": "string"
                }
              },
              "type": "object",
              "description": "The creator's avatar."
            },
            "url": {
              "type": "string",
              "description": "The URL of the creator's Profile page."
            },
            "id": {
              "type": "string",
              "description": "The identifier of the creator."
            },
            "displayName": {
              "type": "string",
              "description": "The display name."
            }
          },
          "description": "The author of this Post.",
          "type": "object"
        },
        "images": {
          "type": "array",
          "items": {
            "properties": {
              "url": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Display image for the Post."
        },
        "updated": {
          "type": "string",
          "description": "RFC 3339 date-time when this Post was last updated."
        },
        "titleLink": {
          "description": "The title link URL, similar to atom's related link.",
          "type": "string"
        },
        "published": {
          "description": "RFC 3339 date-time when this Post was published.",
          "type": "string"
        },
        "customMetaData": {
          "description": "The JSON meta-data for the Post.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL where this Post is displayed."
        },
        "title": {
          "description": "The title of the Post.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/blogger.readonly": {
          "description": "View your Blogger account"
        },
        "https://www.googleapis.com/auth/blogger": {
          "description": "Manage your Blogger account"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google"
}
