{
  "documentationLink": "https://developers.google.com/keep/api",
  "id": "keep:v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "supportsMediaDownload": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "description": "Required. The name of the attachment.",
              "required": true
            },
            "mimeType": {
              "type": "string",
              "location": "query",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            }
          },
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Attachment"
          },
          "id": "keep.media.download",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "notes": {
      "methods": {
        "delete": {
          "id": "keep.notes.delete",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. Name of the note to delete.",
              "location": "path",
              "pattern": "^notes/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}"
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "location": "path",
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "GET",
          "description": "Gets a note.",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "response": {
            "$ref": "Note"
          },
          "id": "keep.notes.get",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.list",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return.",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1/notes",
          "parameterOrder": [],
          "flatPath": "v1/notes"
        },
        "create": {
          "httpMethod": "POST",
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Creates a new note.",
          "response": {
            "$ref": "Note"
          },
          "request": {
            "$ref": "Note"
          },
          "id": "keep.notes.create",
          "parameters": {},
          "parameterOrder": []
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "id": "keep.notes.permissions.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field."
                }
              },
              "path": "v1/{+parent}/permissions:batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchCreate": {
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "id": "keep.notes.permissions.batchCreate",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "baseUrl": "https://keep.googleapis.com/",
  "rootUrl": "https://keep.googleapis.com/",
  "title": "Google Keep API",
  "canonicalName": "Keep",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "batchPath": "batch",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "Family": {
      "properties": {},
      "type": "object",
      "id": "Family",
      "description": "Describes a single Google Family."
    },
    "ListNotesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        },
        "notes": {
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        }
      },
      "id": "ListNotesResponse",
      "type": "object",
      "description": "The response when listing a page of notes."
    },
    "ListItem": {
      "id": "ListItem",
      "description": "A single list item in a note's list.",
      "properties": {
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        }
      },
      "type": "object"
    },
    "Attachment": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available."
        }
      },
      "id": "Attachment",
      "description": "An attachment to a note.",
      "type": "object"
    },
    "TextContent": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent",
      "type": "object"
    },
    "Section": {
      "properties": {
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        },
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        }
      },
      "type": "object",
      "description": "The content of the note.",
      "id": "Section"
    },
    "Group": {
      "id": "Group",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "description": "Describes a single Group.",
      "type": "object"
    },
    "ListContent": {
      "description": "The list of items for a single list note.",
      "type": "object",
      "properties": {
        "listItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "id": "ListContent"
    },
    "BatchCreatePermissionsRequest": {
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object"
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created.",
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "description": "The response for creating permissions on a note."
    },
    "Note": {
      "type": "object",
      "description": "A single note.",
      "id": "Note",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "type": "string",
          "readOnly": true
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "type": "boolean",
          "readOnly": true
        },
        "permissions": {
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "type": "array"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "trashTime": {
          "readOnly": true,
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "User": {
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "description": "Describes a single user.",
      "type": "object",
      "id": "User"
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      }
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "type": "object",
      "properties": {
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name."
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "family": {
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user to whom this role applies."
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "CreatePermissionRequest": {
      "type": "object",
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      }
    }
  },
  "name": "keep",
  "version_module": true,
  "basePath": "",
  "revision": "20230221",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  }
}
