{
  "rootUrl": "https://datalabeling.googleapis.com/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "title": "Data Labeling API",
  "discoveryVersion": "v1",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "baseUrl": "https://datalabeling.googleapis.com/",
  "schemas": {
    "GoogleCloudDatalabelingV1beta1LabelTextRequest": {
      "id": "GoogleCloudDatalabelingV1beta1LabelTextRequest",
      "description": "Request message for LabelText.",
      "type": "object",
      "properties": {
        "textClassificationConfig": {
          "description": "Configuration for text classification task. One of text_classification_config and text_entity_extraction_config is required.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "TEXT_CLASSIFICATION",
            "TEXT_ENTITY_EXTRACTION"
          ],
          "enumDescriptions": [
            "",
            "Label text content to one of more labels.",
            "Label entities and their span in text."
          ],
          "type": "string",
          "description": "Required. The type of text labeling task."
        },
        "textEntityExtractionConfig": {
          "description": "Configuration for entity extraction task. One of text_classification_config and text_entity_extraction_config is required.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig"
        },
        "basicConfig": {
          "description": "Required. Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse": {
      "properties": {
        "totalCount": {
          "description": "Output only. Total number of examples requested to import",
          "format": "int32",
          "type": "integer"
        },
        "dataset": {
          "description": "Ouptut only. The name of imported dataset.",
          "type": "string"
        },
        "importCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples imported successfully."
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse",
      "description": "Response used for ImportData longrunning operation.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ClassificationMetrics": {
      "properties": {
        "confusionMatrix": {
          "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrix",
          "description": "Confusion matrix of predicted labels vs. ground truth labels."
        },
        "prCurve": {
          "$ref": "GoogleCloudDatalabelingV1beta1PrCurve",
          "description": "Precision-recall curve based on ground truth labels, predicted labels, and scores for the predicted labels."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ClassificationMetrics",
      "description": "Metrics calculated for a classification model."
    },
    "GoogleCloudDatalabelingV1beta1PdfInstruction": {
      "properties": {
        "gcsFileUri": {
          "type": "string",
          "description": "PDF file for the instruction. Only gcs path is allowed."
        }
      },
      "type": "object",
      "description": "Instruction from a PDF file.",
      "id": "GoogleCloudDatalabelingV1beta1PdfInstruction"
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig": {
      "description": "Provides details for how an evaluation job sends email alerts based on the results of a run.",
      "properties": {
        "minAcceptableMeanAveragePrecision": {
          "description": "Required. A number between 0 and 1 that describes a minimum mean average precision threshold. When the evaluation job runs, if it calculates that your model version's predictions from the recent interval have meanAveragePrecision below this threshold, then it sends an alert to your specified email.",
          "type": "number",
          "format": "double"
        },
        "email": {
          "type": "string",
          "description": "Required. An email address to send alerts to."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig"
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig": {
      "properties": {
        "overlapLength": {
          "format": "int32",
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 0.3s.",
          "type": "integer"
        },
        "clipLength": {
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 20s.",
          "type": "integer",
          "format": "int32"
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig",
      "description": "Config for video object tracking human labeling task.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1GcsFolderDestination": {
      "description": "Export folder destination of the data.",
      "id": "GoogleCloudDatalabelingV1beta1GcsFolderDestination",
      "type": "object",
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse": {
      "type": "object",
      "description": "Response used for ExportDataset longrunning operation.",
      "properties": {
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1OutputConfig"
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "exportCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples exported successfully."
        },
        "dataset": {
          "type": "string",
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\""
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Total number of examples requested to export"
        },
        "labelStats": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1LabelStats",
          "description": "Output only. Statistic infos of labels in the exported dataset."
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse"
    },
    "GoogleCloudDatalabelingV1beta1BoundingPoly": {
      "id": "GoogleCloudDatalabelingV1beta1BoundingPoly",
      "description": "A bounding polygon in the image.",
      "type": "object",
      "properties": {
        "vertices": {
          "description": "The bounding polygon vertices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Vertex"
          }
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1SequentialSegment": {
      "description": "Start and end position in a sequence (e.g. text segment).",
      "properties": {
        "end": {
          "description": "End position (exclusive).",
          "format": "int32",
          "type": "integer"
        },
        "start": {
          "description": "Start position (inclusive).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SequentialSegment"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Metadata of a LabelImageClassification operation.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationResponse": {
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Ouptut only. The name of imported dataset.",
          "type": "string"
        },
        "importCount": {
          "description": "Output only. Number of examples imported successfully.",
          "format": "int32",
          "type": "integer"
        },
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of examples requested to import"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationResponse",
      "description": "Response used for ImportData longrunning operation."
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoObjectTracking operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata": {
      "properties": {
        "lastUpdateTime": {
          "type": "string",
          "description": "When the thread is last updated.",
          "format": "google-datetime"
        },
        "thumbnail": {
          "format": "byte",
          "description": "An image thumbnail of this thread.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Feedback thread is created with no reply;",
            "Feedback thread is replied at least once;"
          ],
          "enum": [
            "FEEDBACK_THREAD_STATUS_UNSPECIFIED",
            "NEW",
            "REPLIED"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "When the thread is created",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry": {
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of a predicted label."
        },
        "itemCount": {
          "description": "Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsDestination": {
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsDestination",
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Required. The output uri of destination file."
        },
        "mimeType": {
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri."
    },
    "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata": {
      "properties": {
        "videoObjectTrackingDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata",
          "description": "Details of label video object tracking operation."
        },
        "videoClassificationDetails": {
          "description": "Details of label video classification operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata"
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\""
        },
        "imageBoundingPolyDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata",
          "description": "Details of label image bounding poly operation."
        },
        "videoObjectDetectionDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
          "description": "Details of label video object detection operation."
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when labeling request was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "imageSegmentationDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata",
          "description": "Details of label image segmentation operation."
        },
        "imagePolylineDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata",
          "description": "Details of label image polyline operation."
        },
        "imageClassificationDetails": {
          "description": "Details of label image classification operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata"
        },
        "textClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata",
          "description": "Details of label text classification operation."
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata"
        },
        "imageOrientedBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
          "description": "Details of label image oriented bounding box operation."
        },
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "imageBoundingBoxDetails": {
          "description": "Details of label image bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata"
        },
        "progressPercent": {
          "format": "int32",
          "description": "Output only. Progress of label operation. Range: [0, 100].",
          "type": "integer"
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23",
      "id": "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation",
      "properties": {
        "normalizedBoundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPoly"
        },
        "annotationSpec": {
          "description": "Label of object in this bounding polygon.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        }
      },
      "description": "Image bounding poly annotation. It represents a polygon including bounding box in the image."
    },
    "GoogleCloudDatalabelingV1beta1NormalizedPolyline": {
      "id": "GoogleCloudDatalabelingV1beta1NormalizedPolyline",
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
          },
          "description": "The normalized polyline vertices.",
          "type": "array"
        }
      },
      "description": "Normalized polyline.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry": {
      "type": "object",
      "properties": {
        "recall": {
          "format": "float",
          "type": "number",
          "description": "Recall value."
        },
        "precisionAt5": {
          "format": "float",
          "description": "Precision value for entries with label that has highest 5 scores.",
          "type": "number"
        },
        "recallAt1": {
          "description": "Recall value for entries with label that has highest score.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "description": "Threshold used for this entry. For classification tasks, this is a classification threshold: a predicted label is categorized as positive or negative (in the context of this point on the PR curve) based on whether the label's score meets this threshold. For image object detection (bounding box) tasks, this is the [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) threshold for the context of this point on the PR curve.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "description": "Precision value.",
          "format": "float",
          "type": "number"
        },
        "f1ScoreAt1": {
          "format": "float",
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "type": "number"
        },
        "f1ScoreAt5": {
          "type": "number",
          "description": "The harmonic mean of recall_at5 and precision_at5.",
          "format": "float"
        },
        "recallAt5": {
          "type": "number",
          "description": "Recall value for entries with label that has highest 5 scores.",
          "format": "float"
        },
        "precisionAt1": {
          "format": "float",
          "description": "Precision value for entries with label that has highest score.",
          "type": "number"
        },
        "f1Score": {
          "format": "float",
          "type": "number",
          "description": "Harmonic mean of recall and precision."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry"
    },
    "GoogleCloudDatalabelingV1beta1InputConfig": {
      "properties": {
        "gcsSource": {
          "description": "Source located in Cloud Storage.",
          "$ref": "GoogleCloudDatalabelingV1beta1GcsSource"
        },
        "textMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextMetadata",
          "description": "Required for text import, as language code must be specified."
        },
        "dataType": {
          "description": "Required. Data type must be specifed when user tries to import data.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "IMAGE",
            "VIDEO",
            "TEXT",
            "GENERAL_DATA"
          ],
          "enumDescriptions": [
            "Data type is unspecified.",
            "Allowed for continuous evaluation.",
            "Video data type.",
            "Allowed for continuous evaluation.",
            "Allowed for continuous evaluation."
          ],
          "type": "string"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDatalabelingV1beta1BigQuerySource",
          "description": "Source located in BigQuery. You must specify this field if you are using this InputConfig in an EvaluationJob."
        },
        "annotationType": {
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "type": "string",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Optional. The type of annotation to be performed on this data. You must specify this field if you are using this InputConfig in an EvaluationJob."
        },
        "classificationMetadata": {
          "description": "Optional. Metadata about annotations for the input. You must specify this field if you are using this InputConfig in an EvaluationJob for a model version that performs classification.",
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetadata"
        }
      },
      "description": "The configuration of input data, including data type, location, etc.",
      "id": "GoogleCloudDatalabelingV1beta1InputConfig",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpec": {
      "properties": {
        "index": {
          "description": "Output only. This is the integer index of the AnnotationSpec. The index for the whole AnnotationSpecSet is sequential starting from 0. For example, an AnnotationSpecSet with classes `dog` and `cat`, might contain one AnnotationSpec with `{ display_name: \"dog\", index: 0 }` and one AnnotationSpec with `{ display_name: \"cat\", index: 1 }`. This is especially useful for model training as it encodes the string labels into numeric values.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the AnnotationSpec. Maximum of 64 characters."
        },
        "description": {
          "description": "Optional. User-provided description of the annotation specification. The description can be up to 10,000 characters long.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
      "description": "Container of information related to one possible annotation that can be used in a labeling task. For example, an image classification task where images are labeled as `dog` or `cat` must reference an AnnotationSpec for `dog` and an AnnotationSpec for `cat`.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelTextClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelTextClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of a LabelTextClassification operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ImagePayload": {
      "id": "GoogleCloudDatalabelingV1beta1ImagePayload",
      "properties": {
        "imageUri": {
          "description": "Image uri from the user bucket.",
          "type": "string"
        },
        "signedUri": {
          "type": "string",
          "description": "Signed uri of the image file in the service bucket."
        },
        "imageThumbnail": {
          "description": "A byte string of a thumbnail image.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Image format."
        }
      },
      "type": "object",
      "description": "Container of information about an image."
    },
    "GoogleCloudDatalabelingV1beta1TextClassificationAnnotation": {
      "description": "Text classification annotation.",
      "type": "object",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of the text."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1TextClassificationAnnotation"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1BigQuerySource": {
      "description": "The BigQuery location for input data. If used in an EvaluationJob, this is where the service saves the prediction input and output sampled from the model version.",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Required. BigQuery URI to a table, up to 2,000 characters long. If you specify the URI of a table that does not exist, Data Labeling Service creates a table at the URI with the correct schema when you create your EvaluationJob. If you specify the URI of a table that already exists, it must have the [correct schema](/ml-engine/docs/continuous-evaluation/create-job#table-schema). Provide the table URI in the following format: \"bq://{your_project_id}/ {your_dataset_name}/{your_table_name}\" [Learn more](/ml-engine/docs/continuous-evaluation/create-job#table-schema)."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1BigQuerySource",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics": {
      "properties": {
        "prCurve": {
          "description": "Precision-recall curve.",
          "$ref": "GoogleCloudDatalabelingV1beta1PrCurve"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics",
      "type": "object",
      "description": "Metrics calculated for an image object detection (bounding box) model."
    },
    "GoogleCloudDatalabelingV1p1alpha1OutputConfig": {
      "description": "The configuration of output data.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1OutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1GcsDestination"
        },
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest": {
      "properties": {
        "job": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob",
          "description": "Required. The evaluation job to create."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest",
      "description": "Request message for CreateEvaluationJob.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse": {
      "id": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse",
      "type": "object",
      "properties": {
        "feedbackMessages": {
          "type": "array",
          "description": "The list of feedback messages to return.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "description": "Results for listing FeedbackMessages."
    },
    "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse",
      "properties": {
        "exampleComparisons": {
          "description": "A list of example comparisons matching the search criteria.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ExampleComparison"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        }
      },
      "description": "Results of searching example comparisons."
    },
    "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata",
      "description": "Details of LabelImagePolyline operation metadata."
    },
    "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination": {
      "id": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
      "type": "object",
      "description": "Export folder destination of the data.",
      "properties": {
        "outputFolderUri": {
          "description": "Required. Cloud Storage directory to export data to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1EvaluationConfig": {
      "properties": {
        "boundingBoxEvaluationOptions": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
          "description": "Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes."
        }
      },
      "description": "Configuration details used for calculating evaluation metrics and creating an Evaluation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1EvaluationConfig"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata": {
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelTextClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelTextClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of a LabelTextClassification operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoEventOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoEventOperationMetadata",
      "description": "Details of a LabelVideoEvent operation metadata."
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1GcsDestination": {
      "id": "GoogleCloudDatalabelingV1alpha1GcsDestination",
      "properties": {
        "outputUri": {
          "description": "Required. The output uri of destination file.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported."
        }
      },
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1GcsDestination",
      "properties": {
        "outputUri": {
          "description": "Required. The output uri of destination file.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported.",
          "type": "string"
        }
      },
      "description": "Export destination of the data.Only gcs path is allowed in output_uri."
    },
    "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse": {
      "id": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse",
      "description": "Results for listing FeedbackThreads.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        },
        "feedbackThreads": {
          "description": "The list of feedback threads to return.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1VideoPayload": {
      "properties": {
        "videoUri": {
          "description": "Video uri from the user bucket.",
          "type": "string"
        },
        "signedUri": {
          "type": "string",
          "description": "Signed uri of the video file in the service bucket."
        },
        "frameRate": {
          "type": "number",
          "description": "FPS of the video.",
          "format": "float"
        },
        "videoThumbnails": {
          "description": "The list of video thumbnails.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1VideoThumbnail"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "Video format."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1VideoPayload",
      "description": "Container of information of a video."
    },
    "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation": {
      "description": "A polyline for the image annotation.",
      "type": "object",
      "properties": {
        "polyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1Polyline"
        },
        "normalizedPolyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedPolyline"
        },
        "annotationSpec": {
          "description": "Label of this polyline.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation"
    },
    "GoogleCloudDatalabelingV1beta1ClassificationMetadata": {
      "description": "Metadata for classification annotations.",
      "properties": {
        "isMultiLabel": {
          "description": "Whether the classification task is multi-label or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ClassificationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata": {
      "description": "Metadata of a CreateInstruction operation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata",
      "properties": {
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "instruction": {
          "type": "string",
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp when create instruction request was created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      },
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of a LabelVideoClassification operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1Row": {
      "id": "GoogleCloudDatalabelingV1beta1Row",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry"
          },
          "description": "A list of the confusion matrix entries. One entry for each possible predicted label."
        },
        "annotationSpec": {
          "description": "The annotation spec of the ground truth label for this row.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        }
      },
      "description": "A row in the confusion matrix. Each entry in this row has the same ground truth label."
    },
    "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationMetadata": {
      "description": "Metadata of an ImportData operation.",
      "type": "object",
      "properties": {
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when import dataset request was created.",
          "format": "google-datetime"
        },
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination": {
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination",
      "description": "Export folder destination of the data.",
      "type": "object",
      "properties": {
        "outputFolderUri": {
          "description": "Required. Cloud Storage directory to export data to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata",
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when import dataset request was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        }
      },
      "description": "Metadata of an ImportData operation.",
      "id": "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelOperationMetadata",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23",
      "properties": {
        "videoClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoClassificationOperationMetadata",
          "description": "Details of label video classification operation."
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when labeling request was created.",
          "format": "google-datetime"
        },
        "textEntityExtractionDetails": {
          "description": "Details of label text entity extraction operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata"
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Progress of label operation. Range: [0, 100]."
        },
        "imageOrientedBoundingBoxDetails": {
          "description": "Details of label image oriented bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata"
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata"
        },
        "videoObjectDetectionDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
          "description": "Details of label video object detection operation."
        },
        "imageBoundingPolyDetails": {
          "description": "Details of label image bounding poly operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata"
        },
        "dataset": {
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "videoObjectTrackingDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectTrackingOperationMetadata",
          "description": "Details of label video object tracking operation."
        },
        "textClassificationDetails": {
          "description": "Details of label text classification operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelTextClassificationOperationMetadata"
        },
        "imageBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata",
          "description": "Details of label image bounding box operation."
        },
        "imagePolylineDetails": {
          "description": "Details of label image polyline operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageSegmentationOperationMetadata"
        },
        "imageClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata",
          "description": "Details of label image classification operation."
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata": {
      "description": "Metadata of an ExportData operation.",
      "properties": {
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "dataset": {
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when export dataset request was created."
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImagePolylineOperationMetadata": {
      "description": "Details of LabelImagePolyline operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImagePolylineOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search rquest. If you don't specify this field, the API call requests the first page of the search."
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest",
      "description": "Request message of SearchExampleComparisons."
    },
    "GoogleCloudDatalabelingV1beta1AnnotationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationMetadata",
      "type": "object",
      "properties": {
        "operatorMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1OperatorMetadata",
          "description": "Metadata related to human labeling."
        }
      },
      "description": "Additional information associated with the annotation."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageRequest": {
      "description": "Request message for starting an image labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageRequest",
      "type": "object",
      "properties": {
        "boundingPolyConfig": {
          "description": "Configuration for bounding box and bounding poly task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig"
        },
        "feature": {
          "type": "string",
          "description": "Required. The type of image labeling task.",
          "enumDescriptions": [
            "",
            "Label whole image with one or more of labels.",
            "Label image with bounding boxes for labels.",
            "Label oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Label images with bounding poly. A bounding poly is a plane figure that is bounded by a finite chain of straight line segments closing in a loop.",
            "Label images with polyline. Polyline is formed by connected line segments which are not in closed form.",
            "Label images with segmentation. Segmentation is different from bounding poly since it is more fine-grained, pixel level annotation."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "CLASSIFICATION",
            "BOUNDING_BOX",
            "ORIENTED_BOUNDING_BOX",
            "BOUNDING_POLY",
            "POLYLINE",
            "SEGMENTATION"
          ]
        },
        "polylineConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig",
          "description": "Configuration for polyline task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
        },
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Required. Basic human annotation config."
        },
        "segmentationConfig": {
          "description": "Configuration for segmentation task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required.",
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig"
        },
        "imageClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
          "description": "Configuration for image classification task. One of image_classification_config, bounding_poly_config, polyline_config and segmentation_config are required."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoEventOperationMetadata": {
      "description": "Details of a LabelVideoEvent operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoEventOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ListExamplesResponse": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ListExamplesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        },
        "examples": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Example"
          },
          "description": "The list of examples to return.",
          "type": "array"
        }
      },
      "description": "Results of listing Examples in and annotated dataset."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata": {
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ImageClassificationConfig": {
      "properties": {
        "answerAggregationType": {
          "enumDescriptions": [
            "",
            "Majority vote to aggregate answers.",
            "Unanimous answers will be adopted.",
            "Preserve all answers by crowd compute."
          ],
          "enum": [
            "STRING_AGGREGATION_TYPE_UNSPECIFIED",
            "MAJORITY_VOTE",
            "UNANIMOUS_VOTE",
            "NO_AGGREGATION"
          ],
          "type": "string",
          "description": "Optional. The type of how to aggregate answers."
        },
        "allowMultiLabel": {
          "type": "boolean",
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one image."
        },
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
      "description": "Config for image classification human labeling task."
    },
    "GoogleCloudDatalabelingV1beta1FeedbackMessage": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1FeedbackMessage",
      "description": "A feedback message inside a feedback thread.",
      "properties": {
        "requesterFeedbackMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata"
        },
        "name": {
          "description": "Name of the feedback message in a feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessage/{feedback_message_id}'",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Create time."
        },
        "body": {
          "description": "String content of the feedback. Maximum of 10000 characters.",
          "type": "string"
        },
        "operatorFeedbackMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata"
        },
        "image": {
          "description": "The image storing this feedback if the feedback is an image representing operator's comments.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
        },
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when import dataset request was created."
        }
      },
      "type": "object",
      "description": "Metadata of an ImportData operation."
    },
    "GoogleCloudDatalabelingV1beta1ExampleComparison": {
      "properties": {
        "modelCreatedExamples": {
          "type": "array",
          "description": "Predictions by the model for the input.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Example"
          }
        },
        "groundTruthExample": {
          "$ref": "GoogleCloudDatalabelingV1beta1Example",
          "description": "The ground truth output for the input."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ExampleComparison",
      "type": "object",
      "description": "Example comparisons comparing ground truth output and predictions for a specific input."
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame": {
      "description": "Video frame level annotation for object detection and tracking.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "The time offset of this frame relative to the beginning of the video.",
          "format": "google-duration"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPoly"
        },
        "normalizedBoundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame"
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJobConfig": {
      "type": "object",
      "description": "Configures specific details of how a continuous evaluation job works. Provide this configuration when you create an EvaluationJob.",
      "properties": {
        "humanAnnotationConfig": {
          "description": "Optional. Details for human annotation of your data. If you set labelMissingGroundTruth to `true` for this evaluation job, then you must specify this field. If you plan to provide your own ground truth labels, then omit this field. Note that you must create an Instruction resource before you can specify this field. Provide the name of the instruction resource in the `instruction` field within this configuration.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "evaluationJobAlertConfig": {
          "description": "Optional. Configuration details for evaluation job alerts. Specify this field if you want to receive email alerts if the evaluation job finds that your predictions have low mean average precision during a run.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig"
        },
        "inputConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1InputConfig",
          "description": "Rquired. Details for the sampled prediction input. Within this configuration, there are requirements for several fields: * `dataType` must be one of `IMAGE`, `TEXT`, or `GENERAL_DATA`. * `annotationType` must be one of `IMAGE_CLASSIFICATION_ANNOTATION`, `TEXT_CLASSIFICATION_ANNOTATION`, `GENERAL_CLASSIFICATION_ANNOTATION`, or `IMAGE_BOUNDING_BOX_ANNOTATION` (image object detection). * If your machine learning model performs classification, you must specify `classificationMetadata.isMultiLabel`. * You must specify `bigquerySource` (not `gcsSource`)."
        },
        "boundingPolyConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
          "description": "Specify this field if your model version performs image object detection (bounding box detection). `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet."
        },
        "evaluationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
          "description": "Required. Details for calculating evaluation metrics and creating Evaulations. If your model version performs image object detection, you must specify the `boundingBoxEvaluationOptions` field within this configuration. Otherwise, provide an empty object for this configuration."
        },
        "exampleSamplePercentage": {
          "description": "Required. Fraction of predictions to sample and save to BigQuery during each evaluation interval. For example, 0.1 means 10% of predictions served by your model version get saved to BigQuery.",
          "format": "double",
          "type": "number"
        },
        "textClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
          "description": "Specify this field if your model version performs text classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config."
        },
        "bigqueryImportKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Prediction keys that tell Data Labeling Service where to find the data for evaluation in your BigQuery table. When the service samples prediction input and output from your model version and saves it to BigQuery, the data gets stored as JSON strings in the BigQuery table. These keys tell Data Labeling Service how to parse the JSON. You can provide the following entries in this field: * `data_json_key`: the data key for prediction input. You must provide either this key or `reference_json_key`. * `reference_json_key`: the data reference key for prediction input. You must provide either this key or `data_json_key`. * `label_json_key`: the label key for prediction output. Required. * `label_score_json_key`: the score key for prediction output. Required. * `bounding_box_json_key`: the bounding box key for prediction output. Required if your model version perform image object detection. Learn [how to configure prediction keys](/ml-engine/docs/continuous-evaluation/create-job#prediction-keys).",
          "type": "object"
        },
        "imageClassificationConfig": {
          "description": "Specify this field if your model version performs image classification or general classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
        },
        "exampleCount": {
          "format": "int32",
          "description": "Required. The maximum number of predictions to sample and save to BigQuery during each evaluation interval. This limit overrides `example_sample_percentage`: even if the service has not sampled enough predictions to fulfill `example_sample_perecentage` during an interval, it stops sampling predictions when it meets this limit.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobConfig"
    },
    "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata": {
      "properties": {},
      "id": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata",
      "type": "object",
      "description": "Metadata describing the feedback from the labeling task requester."
    },
    "GoogleCloudDatalabelingV1beta1LabelStats": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelStats",
      "properties": {
        "exampleCount": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
        }
      },
      "description": "Statistics about annotation specs."
    },
    "GoogleCloudDatalabelingV1beta1ImportDataOperationMetadata": {
      "description": "Metadata of an ImportData operation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImportDataOperationMetadata",
      "properties": {
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when import dataset request was created."
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly": {
      "id": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly",
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices.",
          "type": "array"
        }
      },
      "description": "Normalized bounding polygon."
    },
    "GoogleCloudDatalabelingV1beta1SegmentationConfig": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SegmentationConfig",
      "properties": {
        "instructionMessage": {
          "type": "string",
          "description": "Instruction message showed on labelers UI."
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name. format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
          "type": "string"
        }
      },
      "description": "Config for image segmentation"
    },
    "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationResponse",
      "properties": {
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelStats"
        },
        "totalCount": {
          "type": "integer",
          "description": "Output only. Total number of examples requested to export",
          "format": "int32"
        },
        "exportCount": {
          "format": "int32",
          "description": "Output only. Number of examples exported successfully.",
          "type": "integer"
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1OutputConfig",
          "description": "Output only. output_config in the ExportData request."
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        }
      },
      "description": "Response used for ExportDataset longrunning operation.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1DataItem": {
      "id": "GoogleCloudDatalabelingV1beta1DataItem",
      "properties": {
        "videoPayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoPayload",
          "description": "The video payload, a container of the video uri."
        },
        "textPayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextPayload",
          "description": "The text payload, a container of text content."
        },
        "imagePayload": {
          "description": "The image payload, a container of the image bytes/uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload"
        },
        "name": {
          "description": "Output only. Name of the data item, in format of: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
          "type": "string"
        }
      },
      "description": "DataItem is a piece of data, without annotation. For example, an image.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1TextClassificationConfig": {
      "type": "object",
      "properties": {
        "allowMultiLabel": {
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one text segment.",
          "type": "boolean"
        },
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        },
        "sentimentConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1SentimentConfig",
          "description": "Optional. Configs for sentiment selection. We deprecate sentiment analysis in data labeling side as it is incompatible with uCAIP."
        }
      },
      "description": "Config for text classification human labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
    },
    "GoogleCloudDatalabelingV1alpha1LabelStats": {
      "properties": {
        "exampleCount": {
          "type": "object",
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1LabelStats",
      "type": "object",
      "description": "Statistics about annotation specs."
    },
    "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata": {
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when export dataset request was created.",
          "type": "string"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata",
      "description": "Metadata of an ExportData operation."
    },
    "GoogleCloudDatalabelingV1beta1VideoEventAnnotation": {
      "type": "object",
      "description": "Video event annotation.",
      "properties": {
        "annotationSpec": {
          "description": "Label of the event in this annotation.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "timeSegment": {
          "description": "The time segment of the video to which the annotation applies.",
          "$ref": "GoogleCloudDatalabelingV1beta1TimeSegment"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1VideoEventAnnotation"
    },
    "GoogleCloudDatalabelingV1beta1Dataset": {
      "id": "GoogleCloudDatalabelingV1beta1Dataset",
      "description": "Dataset is the resource to hold your data. You can request multiple labeling tasks for a dataset while each one will generate an AnnotatedDataset.",
      "properties": {
        "dataItemCount": {
          "description": "Output only. The number of data items in the dataset.",
          "type": "string",
          "format": "int64"
        },
        "blockingResources": {
          "description": "Output only. The names of any related resources that are blocking changes to the dataset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the annotation specification set. The description can be up to 10000 characters long."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the dataset is created."
        },
        "name": {
          "description": "Output only. Dataset resource name, format is: projects/{project_id}/datasets/{dataset_id}",
          "type": "string"
        },
        "lastMigrateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time that the Dataset is migrated to AI Platform V2. If any of the AnnotatedDataset is migrated, the last_migration_time in Dataset is also updated."
        },
        "inputConfigs": {
          "description": "Output only. This is populated with the original input configs where ImportData is called. It is available only after the clients import data to this dataset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1InputConfig"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the dataset. Maximum of 64 characters."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata",
      "description": "Details of a LabelImageSegmentation operation metadata."
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation": {
      "type": "object",
      "description": "Video classification annotation.",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of the segment specified by time_segment."
        },
        "timeSegment": {
          "description": "The time segment of the video to which the annotation applies.",
          "$ref": "GoogleCloudDatalabelingV1beta1TimeSegment"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation"
    },
    "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata",
      "type": "object",
      "description": "Details of a LabelTextClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJob": {
      "description": "Defines an evaluation job that runs periodically to generate Evaluations. [Creating an evaluation job](/ml-engine/docs/continuous-evaluation/create-job) is the starting point for using continuous evaluation.",
      "type": "object",
      "properties": {
        "modelVersion": {
          "description": "Required. The [AI Platform Prediction model version](/ml-engine/docs/prediction-overview) to be evaluated. Prediction input and output is sampled from this model version. When creating an evaluation job, specify the model version in the following format: \"projects/{project_id}/models/{model_name}/versions/{version_name}\" There can only be one evaluation job per model version.",
          "type": "string"
        },
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Name of the AnnotationSpecSet describing all the labels that your machine learning model outputs. You must create this resource before you create an evaluation job and provide its name in the following format: \"projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}\""
        },
        "name": {
          "type": "string",
          "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\""
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The job is scheduled to run at the configured interval. You can pause or delete the job. When the job is in this state, it samples prediction input and output from your model version into your BigQuery table as predictions occur.",
            "The job is currently running. When the job runs, Data Labeling Service does several things: 1. If you have configured your job to use Data Labeling Service for ground truth labeling, the service creates a Dataset and a labeling task for all data sampled since the last time the job ran. Human labelers provide ground truth labels for your data. Human labeling may take hours, or even days, depending on how much data has been sampled. The job remains in the `RUNNING` state during this time, and it can even be running multiple times in parallel if it gets triggered again (for example 24 hours later) before the earlier run has completed. When human labelers have finished labeling the data, the next step occurs. If you have configured your job to provide your own ground truth labels, Data Labeling Service still creates a Dataset for newly sampled data, but it expects that you have already added ground truth labels to the BigQuery table by this time. The next step occurs immediately. 2. Data Labeling Service creates an Evaluation by comparing your model version's predictions with the ground truth labels. If the job remains in this state for a long time, it continues to sample prediction data into your BigQuery table and will run again at the next interval, even if it causes the job to run multiple times in parallel.",
            "The job is not sampling prediction input and output into your BigQuery table and it will not run according to its schedule. You can resume the job.",
            "The job has this state right before it is deleted."
          ],
          "description": "Output only. Describes the current state of the job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "RUNNING",
            "PAUSED",
            "STOPPED"
          ]
        },
        "evaluationJobConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJobConfig",
          "description": "Required. Configuration details for the evaluation job."
        },
        "schedule": {
          "type": "string",
          "description": "Required. Describes the interval at which the job runs. This interval must be at least 1 day, and it is rounded to the nearest day. For example, if you specify a 50-hour interval, the job runs every 2 days. You can provide the schedule in [crontab format](/scheduler/docs/configuring/cron-job-schedules) or in an [English-like format](/appengine/docs/standard/python/config/cronref#schedule_format). Regardless of what you specify, the job will run at 10:00 AM UTC. Only the interval from this schedule is used, not the specific time of day."
        },
        "createTime": {
          "description": "Output only. Timestamp of when this evaluation job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Required. Description of the job. The description can be up to 25,000 characters long.",
          "type": "string"
        },
        "attempts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Attempt"
          },
          "description": "Output only. Every time the evaluation job runs and an error occurs, the failed attempt is appended to this array."
        },
        "labelMissingGroundTruth": {
          "type": "boolean",
          "description": "Required. Whether you want Data Labeling Service to provide ground truth labels for prediction input. If you want the service to assign human labelers to annotate your data, set this to `true`. If you want to provide your own ground truth labels in the evaluation job's BigQuery table, set this to `false`."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJob"
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelOperationMetadata": {
      "properties": {
        "videoObjectDetectionDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata",
          "description": "Details of label video object detection operation."
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "textClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata",
          "description": "Details of label text classification operation."
        },
        "imageBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata",
          "description": "Details of label image bounding box operation."
        },
        "progressPercent": {
          "format": "int32",
          "description": "Output only. Progress of label operation. Range: [0, 100].",
          "type": "integer"
        },
        "imageBoundingPolyDetails": {
          "description": "Details of label image bounding poly operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata"
        },
        "imagePolylineDetails": {
          "description": "Details of label image polyline operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata"
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\""
        },
        "imageOrientedBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata",
          "description": "Details of label image oriented bounding box operation."
        },
        "videoObjectTrackingDetails": {
          "description": "Details of label video object tracking operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata"
        },
        "imageClassificationDetails": {
          "description": "Details of label image classification operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when labeling request was created.",
          "type": "string"
        },
        "videoClassificationDetails": {
          "description": "Details of label video classification operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata"
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoEventOperationMetadata"
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata"
        }
      },
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23",
      "id": "GoogleCloudDatalabelingV1beta1LabelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation": {
      "id": "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation",
      "properties": {
        "annotationSpec": {
          "description": "Label of the object tracked in this annotation.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "objectTrackingFrames": {
          "description": "The list of frames where this object track appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame"
          }
        },
        "timeSegment": {
          "$ref": "GoogleCloudDatalabelingV1beta1TimeSegment",
          "description": "The time segment of the video to which object tracking applies."
        }
      },
      "type": "object",
      "description": "Video object tracking annotation."
    },
    "GoogleCloudDatalabelingV1beta1Example": {
      "properties": {
        "textPayload": {
          "description": "The text payload, a container of the text content.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextPayload"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the example, in format of: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}"
        },
        "annotations": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Annotation"
          },
          "type": "array",
          "description": "Output only. Annotations for the piece of data in Example. One piece of data can have multiple annotations."
        },
        "imagePayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload",
          "description": "The image payload, a container of the image bytes/uri."
        },
        "videoPayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoPayload",
          "description": "The video payload, a container of the video uri."
        }
      },
      "description": "An Example is a piece of data and its annotation. For example, an image with label \"house\".",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1Example"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelStats": {
      "properties": {
        "exampleCount": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelStats",
      "type": "object",
      "description": "Statistics about annotation specs."
    },
    "GoogleCloudDatalabelingV1beta1CreateInstructionRequest": {
      "description": "Request message for CreateInstruction.",
      "properties": {
        "instruction": {
          "description": "Required. Instruction of how to perform the labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata": {
      "type": "object",
      "description": "Metadata of a LabelImageClassification operation.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1Attempt": {
      "type": "object",
      "properties": {
        "attemptTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "partialFailures": {
          "description": "Details of errors that occurred.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Records a failed evaluation job run.",
      "id": "GoogleCloudDatalabelingV1beta1Attempt"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
      "type": "object",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelStats": {
      "type": "object",
      "properties": {
        "exampleCount": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelStats",
      "description": "Statistics about annotation specs."
    },
    "GoogleCloudDatalabelingV1beta1ImportDataRequest": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImportDataRequest",
      "properties": {
        "inputConfig": {
[...]
