{
  "ownerDomain": "google.com",
  "version_module": true,
  "ownerName": "Google",
  "version": "v1",
  "canonicalName": "Localservices",
  "baseUrl": "https://localservices.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "object",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "properties": {
        "totalReview": {
          "format": "int32",
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer"
        },
        "currentPeriodChargedLeads": {
          "format": "int64",
          "description": "Number of charged leads the account received in current specified period.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Unique identifier of the GLS account.",
          "type": "string"
        },
        "currentPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "type": "number"
        },
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number"
        },
        "previousPeriodPhoneCalls": {
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "type": "string",
          "format": "int64"
        },
        "previousPeriodChargedLeads": {
          "format": "int64",
          "type": "string",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "description": "Number of connected phone calls (duration over 30s) in current specified period.",
          "format": "int64"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "averageWeeklyBudget": {
          "format": "double",
          "type": "number",
          "description": "Average weekly budget in the currency code of the account."
        },
        "previousPeriodTotalCost": {
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "format": "double",
          "type": "number"
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        },
        "impressionsLastTwoDays": {
          "type": "string",
          "format": "int64",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "averageFiveStarRating": {
          "description": "Average review rating score from 1-5 stars.",
          "type": "number",
          "format": "double"
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "type": "object",
      "description": "Container for booking lead specific information.",
      "properties": {
        "bookingAppointmentTimestamp": {
          "type": "string",
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime"
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "type": "object",
      "properties": {
        "accountReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      },
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      },
      "type": "object",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "properties": {
        "disputeStatus": {
          "type": "string",
          "description": "Dispute status related to the lead."
        },
        "businessName": {
          "type": "string",
          "description": "Business name associated to the account."
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code."
        },
        "leadPrice": {
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number",
          "format": "double"
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "leadType": {
          "type": "string",
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "chargeStatus": {
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "description": "Whether the lead has been charged.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ]
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "leadCreationTimestamp": {
          "type": "string",
          "description": "Timestamp of when the lead was created.",
          "format": "google-datetime"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the lead."
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "accountId": {
          "description": "Identifies account that received the lead.",
          "format": "int64",
          "type": "string"
        },
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "leadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data."
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "type": "object",
      "properties": {
        "chargedCallTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the phone call which resulted in a charged phone lead."
        },
        "chargedConnectedCallDurationSeconds": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds."
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "description": "Container for phone lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "type": "object",
      "description": "Container for message lead specific information.",
      "properties": {
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Local Services API",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "id": "localservices:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "rootUrl": "https://localservices.googleapis.com/",
  "revision": "20230226",
  "protocol": "rest",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "basePath": "",
  "name": "localservices",
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "flatPath": "v1/detailedLeadReports:search",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "path": "v1/detailedLeadReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "id": "localservices.detailedLeadReports.search",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "type": "string"
            },
            "startDate.year": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "endDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required."
            },
            "endDate.year": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "endDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "location": "query",
              "format": "int32"
            },
            "startDate.day": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          }
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "parameters": {
            "startDate.year": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "location": "query"
            },
            "endDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            },
            "endDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "startDate.day": {
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "endDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            }
          },
          "id": "localservices.accountReports.search",
          "flatPath": "v1/accountReports:search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "path": "v1/accountReports:search",
          "httpMethod": "GET"
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/"
}
