{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "title": "Gmail API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        }
      }
    }
  },
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "basePath": "",
  "kind": "discovery#restDescription",
  "version": "v1",
  "revision": "20230220",
  "canonicalName": "Gmail",
  "documentationLink": "https://developers.google.com/gmail/api/",
  "batchPath": "batch",
  "resources": {
    "users": {
      "methods": {
        "getProfile": {
          "description": "Gets the current user's Gmail profile.",
          "flatPath": "gmail/v1/users/{userId}/profile",
          "response": {
            "$ref": "Profile"
          },
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path",
              "type": "string",
              "default": "me",
              "required": true
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "GET",
          "id": "gmail.users.getProfile",
          "path": "gmail/v1/users/{userId}/profile",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ]
        },
        "watch": {
          "request": {
            "$ref": "WatchRequest"
          },
          "response": {
            "$ref": "WatchResponse"
          },
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "path": "gmail/v1/users/{userId}/watch",
          "httpMethod": "POST",
          "flatPath": "gmail/v1/users/{userId}/watch",
          "id": "gmail.users.watch",
          "description": "Set up or update a push notification watch on the given user mailbox.",
          "parameters": {
            "userId": {
              "required": true,
              "default": "me",
              "location": "path",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "type": "string"
            }
          }
        },
        "stop": {
          "httpMethod": "POST",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "description": "Stop receiving push notifications for the given user mailbox.",
          "flatPath": "gmail/v1/users/{userId}/stop",
          "parameters": {
            "userId": {
              "default": "me",
              "location": "path",
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true
            }
          },
          "path": "gmail/v1/users/{userId}/stop",
          "id": "gmail.users.stop"
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "list": {
              "id": "gmail.users.labels.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLabelsResponse"
              },
              "description": "Lists all labels in the user's mailbox.",
              "flatPath": "gmail/v1/users/{userId}/labels",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/labels"
            },
            "patch": {
              "response": {
                "$ref": "Label"
              },
              "httpMethod": "PATCH",
              "id": "gmail.users.labels.patch",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "The ID of the label to update.",
                  "required": true,
                  "location": "path"
                },
                "userId": {
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "Label"
              },
              "description": "Patch the specified label.",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}"
            },
            "delete": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "id": "gmail.users.labels.delete",
              "httpMethod": "DELETE",
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the label to delete.",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "update": {
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "PUT",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "request": {
                "$ref": "Label"
              },
              "description": "Updates the specified label.",
              "id": "gmail.users.labels.update",
              "parameters": {
                "id": {
                  "description": "The ID of the label to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Label"
              }
            },
            "create": {
              "path": "gmail/v1/users/{userId}/labels",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "default": "me"
                }
              },
              "id": "gmail.users.labels.create",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "response": {
                "$ref": "Label"
              },
              "request": {
                "$ref": "Label"
              },
              "description": "Creates a new label.",
              "flatPath": "gmail/v1/users/{userId}/labels"
            },
            "get": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.labels.get",
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "description": "The ID of the label to retrieve.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "Label"
              },
              "httpMethod": "GET",
              "description": "Gets the specified label."
            }
          }
        },
        "drafts": {
          "methods": {
            "list": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "parameters": {
                "q": {
                  "type": "string",
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "location": "query"
                },
                "maxResults": {
                  "type": "integer",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "format": "uint32",
                  "default": "100",
                  "location": "query"
                },
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "id": "gmail.users.drafts.list",
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "description": "Lists the drafts in the user's mailbox.",
              "response": {
                "$ref": "ListDraftsResponse"
              }
            },
            "update": {
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "The ID of the draft to update.",
                  "type": "string",
                  "required": true
                },
                "userId": {
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Draft"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "description": "Replaces a draft's content.",
              "response": {
                "$ref": "Draft"
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  }
                },
                "maxSize": "36700160",
                "accept": [
                  "message/*"
                ]
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "id": "gmail.users.drafts.update",
              "httpMethod": "PUT"
            },
            "send": {
              "id": "gmail.users.drafts.send",
              "parameterOrder": [
                "userId"
              ],
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                }
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "response": {
                "$ref": "Message"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/drafts/send",
              "request": {
                "$ref": "Draft"
              },
              "supportsMediaUpload": true,
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "flatPath": "gmail/v1/users/{userId}/drafts/send"
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "description": "Creates a new draft with the `DRAFT` label.",
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "path": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "Draft"
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160"
              },
              "request": {
                "$ref": "Draft"
              },
              "id": "gmail.users.drafts.create",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "get": {
              "id": "gmail.users.drafts.get",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "id": {
                  "description": "The ID of the draft to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "format": {
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "default": "full",
                  "type": "string",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "description": "The format to return the draft in.",
                  "location": "query"
                }
              },
              "description": "Gets the specified draft.",
              "response": {
                "$ref": "Draft"
              }
            },
            "delete": {
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "DELETE",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
              "id": "gmail.users.drafts.delete",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the draft to delete.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}"
            }
          }
        },
        "settings": {
          "methods": {
            "updateLanguage": {
              "response": {
                "$ref": "LanguageSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "httpMethod": "PUT",
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "id": "gmail.users.settings.updateLanguage",
              "request": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/settings/language"
            },
            "getVacation": {
              "response": {
                "$ref": "VacationSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "description": "Gets vacation responder settings.",
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "location": "path"
                }
              },
              "id": "gmail.users.settings.getVacation",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "GET"
            },
            "updatePop": {
              "path": "gmail/v1/users/{userId}/settings/pop",
              "httpMethod": "PUT",
              "response": {
                "$ref": "PopSettings"
              },
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "id": "gmail.users.settings.updatePop",
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "description": "Updates POP settings.",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "request": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "getImap": {
              "httpMethod": "GET",
              "description": "Gets IMAP settings.",
              "id": "gmail.users.settings.getImap",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              },
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "default": "me",
                  "required": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "parameterOrder": [
                "userId"
              ]
            },
            "updateAutoForwarding": {
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority.",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true
                }
              },
              "id": "gmail.users.settings.updateAutoForwarding",
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "request": {
                "$ref": "AutoForwarding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "response": {
                "$ref": "AutoForwarding"
              }
            },
            "getPop": {
              "id": "gmail.users.settings.getPop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "description": "Gets POP settings.",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "PopSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/settings/pop"
            },
            "updateVacation": {
              "description": "Updates vacation responder settings.",
              "request": {
                "$ref": "VacationSettings"
              },
              "id": "gmail.users.settings.updateVacation",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "PUT",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "response": {
                "$ref": "VacationSettings"
              }
            },
            "getLanguage": {
              "httpMethod": "GET",
              "response": {
                "$ref": "LanguageSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/language",
              "parameters": {
                "userId": {
                  "location": "path",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "default": "me"
                }
              },
              "description": "Gets language settings.",
              "id": "gmail.users.settings.getLanguage",
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/language"
            },
            "getAutoForwarding": {
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "response": {
                "$ref": "AutoForwarding"
              },
              "id": "gmail.users.settings.getAutoForwarding",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the auto-forwarding setting for the specified account."
            },
            "updateImap": {
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "ImapSettings"
              },
              "id": "gmail.users.settings.updateImap",
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me"
                }
              },
              "response": {
                "$ref": "ImapSettings"
              },
              "description": "Updates IMAP settings.",
              "httpMethod": "PUT"
            }
          },
          "resources": {
            "forwardingAddresses": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameters": {
                    "forwardingEmail": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The forwarding address to be retrieved."
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "gmail.users.settings.forwardingAddresses.get",
                  "description": "Gets the specified forwarding address.",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "gmail.users.settings.forwardingAddresses.create",
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "request": {
                    "$ref": "ForwardingAddress"
                  },
                  "description": "Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. This method is only available to service account clients that have been delegated domain-wide authority."
                },
                "list": {
                  "id": "gmail.users.settings.forwardingAddresses.list",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Lists the forwarding addresses for the specified account.",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "response": {
                    "$ref": "ListForwardingAddressesResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "default": "me"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified forwarding address and revokes any verification that may have been required. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameters": {
                    "forwardingEmail": {
                      "location": "path",
                      "type": "string",
                      "description": "The forwarding address to be deleted.",
                      "required": true
                    },
                    "userId": {
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "id": "gmail.users.settings.forwardingAddresses.delete"
                }
              }
            },
            "filters": {
              "methods": {
                "get": {
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "id": "gmail.users.settings.filters.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Gets a filter.",
                  "response": {
                    "$ref": "Filter"
                  },
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me"
                    },
                    "id": {
                      "location": "path",
                      "description": "The ID of the filter to be fetched.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "id": "gmail.users.settings.filters.delete",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "id": {
                      "description": "The ID of the filter to be deleted.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "userId": {
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Immediately and permanently deletes the specified filter."
                },
                "create": {
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "request": {
                    "$ref": "Filter"
                  },
                  "response": {
                    "$ref": "Filter"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "id": "gmail.users.settings.filters.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "location": "path",
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters."
                },
                "list": {
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "parameterOrder": [
                    "userId"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the message filters of a Gmail user.",
                  "id": "gmail.users.settings.filters.list",
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                }
              }
            },
            "sendAs": {
              "methods": {
                "delete": {
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be deleted.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "description": "Deletes the specified send-as alias. Revokes any verification that may have been required for using it. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.sendAs.delete",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "description": "Patch the specified send-as alias.",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "id": "gmail.users.settings.sendAs.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The send-as alias to be updated."
                    }
                  },
                  "request": {
                    "$ref": "SendAs"
                  },
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ]
                },
                "create": {
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "id": "gmail.users.settings.sendAs.create",
                  "parameterOrder": [
                    "userId"
                  ],
                  "request": {
                    "$ref": "SendAs"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "SendAs"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. This method is only available to service account clients that have been delegated domain-wide authority."
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "request": {
                    "$ref": "SendAs"
                  },
                  "id": "gmail.users.settings.sendAs.update",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "required": true
                    },
                    "sendAsEmail": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The send-as alias to be updated."
                    }
                  },
                  "httpMethod": "PUT",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}"
                },
                "verify": {
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "httpMethod": "POST",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "description": "Sends a verification email to the specified send-as alias address. The verification status must be `pending`. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "location": "path",
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    },
                    "sendAsEmail": {
                      "required": true,
                      "location": "path",
                      "description": "The send-as alias to be verified.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "id": "gmail.users.settings.sendAs.verify"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "id": "gmail.users.settings.sendAs.get",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    },
                    "sendAsEmail": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The send-as alias to be retrieved."
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}"
                },
                "list": {
                  "description": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases.",
                  "id": "gmail.users.settings.sendAs.list",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "response": {
                    "$ref": "ListSendAsResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    }
                  }
                }
              },
              "resources": {
                "smimeInfo": {
                  "methods": {
                    "insert": {
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "description": "Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key.",
                      "request": {
                        "$ref": "SmimeInfo"
                      },
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "id": "gmail.users.settings.sendAs.smimeInfo.insert",
                      "parameters": {
                        "userId": {
                          "required": true,
                          "default": "me",
                          "type": "string",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "location": "path"
                        },
                        "sendAsEmail": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo"
                    },
                    "setDefault": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Sets the default S/MIME config for the specified send-as alias.",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "parameters": {
                        "sendAsEmail": {
                          "type": "string",
                          "required": true,
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path"
                        },
                        "id": {
                          "type": "string",
                          "description": "The immutable ID for the SmimeInfo.",
                          "required": true,
                          "location": "path"
                        },
                        "userId": {
                          "default": "me",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "id": "gmail.users.settings.sendAs.smimeInfo.setDefault",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault"
                    },
                    "get": {
                      "id": "gmail.users.settings.sendAs.smimeInfo.get",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "parameters": {
                        "sendAsEmail": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias."
                        },
                        "id": {
                          "description": "The immutable ID for the SmimeInfo.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "type": "string",
                          "required": true,
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me",
                          "location": "path"
                        }
                      },
                      "description": "Gets the specified S/MIME config for the specified send-as alias.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "httpMethod": "DELETE",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "parameters": {
                        "id": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The immutable ID for the SmimeInfo."
                        },
                        "userId": {
                          "required": true,
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "type": "string",
                          "default": "me"
                        },
                        "sendAsEmail": {
                          "required": true,
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "type": "string"
                        }
                      },
                      "description": "Deletes the specified S/MIME config for the specified send-as alias.",
                      "id": "gmail.users.settings.sendAs.smimeInfo.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.sendAs.smimeInfo.list",
                      "description": "Lists S/MIME configs for the specified send-as alias.",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "default": "me",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "required": true,
                          "type": "string"
                        },
                        "sendAsEmail": {
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "response": {
                        "$ref": "ListSmimeInfoResponse"
                      }
                    }
                  }
                }
              }
            },
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "list": {
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "description": "Lists the client-side encrypted identities for an authenticated user.",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
                          "location": "query",
                          "default": "20",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.cse.identities.list",
                      "parameterOrder": [
                        "userId"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "parameterOrder": [
                        "userId"
                      ],
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "default": "me"
                        }
                      },
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "id": "gmail.users.settings.cse.identities.create",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887).",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "default": "me"
                        },
                        "emailAddress": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The email address of the client-side encryption identity to update."
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "id": "gmail.users.settings.cse.identities.patch"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "cseEmailAddress": {
                          "required": true,
                          "description": "The primary email address associated with the client-side encryption identity configuration that's removed.",
                          "location": "path",
                          "type": "string"
                        },
                        "userId": {
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "gmail.users.settings.cse.identities.delete",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}"
                    },
                    "get": {
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "id": "gmail.users.settings.cse.identities.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "parameters": {
                        "cseEmailAddress": {
                          "type": "string",
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "location": "path",
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "description": "Retrieves a client-side encryption identity configuration."
                    }
                  }
                },
                "keypairs": {
                  "methods": {
                    "list": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "description": "Lists client-side encryption key pairs for an authenticated user.",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me"
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
                          "default": "20"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "create": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "request": {
                        "$ref": "CseKeyPair"
                      },
                      "id": "gmail.users.settings.cse.keypairs.create",
                      "httpMethod": "POST",
                      "description": "Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user.",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId"
                      ],
                      "parameters": {
                        "userId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        }
                      }
                    },
                    "get": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "keyPairId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The identifier of the key pair to retrieve."
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "required": true,
                          "default": "me",
                          "location": "path"
                        }
                      },
                      "description": "Retrieves an existing client-side encryption key pair.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "id": "gmail.users.settings.cse.keypairs.get",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "disable": {
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "parameters": {
                        "keyPairId": {
                          "location": "path",
                          "type": "string",
                          "description": "The identifier of the key pair to turn off.",
                          "required": true
                        },
                        "userId": {
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method.",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      }
                    },
                    "enable": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "keyPairId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The identifier of the key pair to turn on."
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "default": "me"
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      }
                    },
                    "obliterate": {
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "httpMethod": "POST",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "description": "Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages.",
                      "parameters": {
                        "keyPairId": {
                          "type": "string",
                          "description": "The identifier of the key pair to obliterate.",
                          "required": true,
                          "location": "path"
                        },
                        "userId": {
                          "required": true,
                          "default": "me",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "ObliterateCseKeyPairRequest"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "id": "gmail.users.settings.cse.keypairs.obliterate"
                    }
                  }
                }
              }
            },
            "delegates": {
              "methods": {
                "get": {
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "description": "Gets the specified delegate. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "parameters": {
                    "delegateEmail": {
                      "required": true,
                      "description": "The email address of the user whose delegate relationship is to be retrieved.",
                      "type": "string",
                      "location": "path"
                    },
                    "userId": {
                      "type": "string",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "id": "gmail.users.settings.delegates.get"
                },
                "delete": {
                  "id": "gmail.users.settings.delegates.delete",
                  "httpMethod": "DELETE",
                  "description": "Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "default": "me",
                      "location": "path",
                      "required": true
                    },
                    "delegateEmail": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The email address of the user to be removed as a delegate."
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}"
                },
                "create": {
                  "parameterOrder": [
                    "userId"
                  ],
                  "description": "Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. Note that a delegate user must be referred to by their primary email address, and not an email alias. Also note that when a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "POST",
                  "id": "gmail.users.settings.delegates.create",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "request": {
                    "$ref": "Delegate"
                  },
                  "parameters": {
                    "userId": {
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Delegate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates"
                },
                "list": {
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "ListDelegatesResponse"
                  },
                  "description": "Lists the delegates for the specified account. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "id": "gmail.users.settings.delegates.list",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "threads": {
          "methods": {
            "delete": {
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/"
              ],
              "id": "gmail.users.threads.delete",
              "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead.",
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "location": "path",
                  "description": "ID of the Thread to delete.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "gmail/v1/users/{userId}/threads/{id}"
            },
            "list": {
              "id": "gmail.users.threads.list",
[...]
