{
  "batchPath": "batch",
  "basePath": "",
  "canonicalName": "Domains RDAP",
  "name": "domainsrdap",
  "revision": "20230228",
  "version": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/domains/rdap/",
  "protocol": "rest",
  "id": "domainsrdap:v1",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "mtlsRootUrl": "https://domainsrdap.mtls.googleapis.com/",
  "description": "Read-only public API that lets users search for information about domain names.",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://domainsrdap.googleapis.com/",
  "rootUrl": "https://domainsrdap.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Domains RDAP API",
  "resources": {
    "entity": {
      "methods": {
        "get": {
          "path": "v1/entity/{entityId}",
          "httpMethod": "GET",
          "parameters": {
            "entityId": {
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "flatPath": "v1/entity/{entityId}",
          "parameterOrder": [
            "entityId"
          ],
          "response": {
            "$ref": "RdapResponse"
          },
          "id": "domainsrdap.entity.get"
        }
      }
    },
    "domain": {
      "methods": {
        "get": {
          "parameters": {
            "domainName": {
              "required": true,
              "location": "path",
              "description": "Full domain name to look up. Example: \"example.com\"",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "HttpBody"
          },
          "path": "v1/domain/{+domainName}",
          "httpMethod": "GET",
          "id": "domainsrdap.domain.get",
          "parameterOrder": [
            "domainName"
          ],
          "description": "Look up RDAP information for a domain by name.",
          "flatPath": "v1/domain/{domainId}"
        }
      }
    },
    "v1": {
      "methods": {
        "getDomains": {
          "response": {
            "$ref": "RdapResponse"
          },
          "flatPath": "v1/domains",
          "parameters": {},
          "path": "v1/domains",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "httpMethod": "GET",
          "id": "domainsrdap.getDomains",
          "parameterOrder": []
        },
        "getEntities": {
          "parameterOrder": [],
          "path": "v1/entities",
          "response": {
            "$ref": "RdapResponse"
          },
          "httpMethod": "GET",
          "parameters": {},
          "id": "domainsrdap.getEntities",
          "flatPath": "v1/entities",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error."
        },
        "getIp": {
          "httpMethod": "GET",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameters": {},
          "path": "v1/ip",
          "response": {
            "$ref": "HttpBody"
          },
          "parameterOrder": [],
          "flatPath": "v1/ip",
          "id": "domainsrdap.getIp"
        },
        "getHelp": {
          "id": "domainsrdap.getHelp",
          "httpMethod": "GET",
          "response": {
            "$ref": "HttpBody"
          },
          "parameters": {},
          "path": "v1/help",
          "flatPath": "v1/help",
          "parameterOrder": [],
          "description": "Get help information for the RDAP API, including links to documentation."
        },
        "getNameservers": {
          "id": "domainsrdap.getNameservers",
          "path": "v1/nameservers",
          "parameterOrder": [],
          "flatPath": "v1/nameservers",
          "response": {
            "$ref": "RdapResponse"
          },
          "httpMethod": "GET",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "parameters": {}
        }
      }
    },
    "ip": {
      "methods": {
        "get": {
          "id": "domainsrdap.ip.get",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "path": "v1/ip/{ipId}/{ipId1}",
          "parameterOrder": [
            "ipId",
            "ipId1"
          ],
          "flatPath": "v1/ip/{ipId}/{ipId1}",
          "httpMethod": "GET",
          "parameters": {
            "ipId": {
              "location": "path",
              "type": "string",
              "required": true
            },
            "ipId1": {
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "RdapResponse"
          }
        }
      }
    },
    "autnum": {
      "methods": {
        "get": {
          "response": {
            "$ref": "RdapResponse"
          },
          "id": "domainsrdap.autnum.get",
          "parameterOrder": [
            "autnumId"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/autnum/{autnumId}",
          "parameters": {
            "autnumId": {
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error.",
          "path": "v1/autnum/{autnumId}"
        }
      }
    },
    "nameserver": {
      "methods": {
        "get": {
          "id": "domainsrdap.nameserver.get",
          "httpMethod": "GET",
          "path": "v1/nameserver/{nameserverId}",
          "response": {
            "$ref": "RdapResponse"
          },
          "parameterOrder": [
            "nameserverId"
          ],
          "parameters": {
            "nameserverId": {
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/nameserver/{nameserverId}",
          "description": "The RDAP API recognizes this command from the RDAP specification but does not support it. The response is a formatted 501 error."
        }
      }
    }
  },
  "schemas": {
    "Notice": {
      "description": "Notices object defined in [section 4.3 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-4.3).",
      "id": "Notice",
      "properties": {
        "title": {
          "description": "Title of a notice. Example: \"Terms of Service\".",
          "type": "string"
        },
        "description": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Description of the notice."
        },
        "links": {
          "items": {
            "$ref": "Link"
          },
          "description": "Link to a document containing more information.",
          "type": "array"
        },
        "type": {
          "description": "Type values defined in [section 10.2.1 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-10.2.1) specific to a whole response: \"result set truncated due to authorization\", \"result set truncated due to excessive load\", \"result set truncated due to unexplainable reasons\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Link": {
      "type": "object",
      "description": "Links object defined in [section 4.2 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-4.2).",
      "properties": {
        "value": {
          "description": "URL giving context for the link. Example: \"http://example.com/current\".",
          "type": "string"
        },
        "media": {
          "type": "string",
          "description": "Media type of the link destination. Example: \"screen\"."
        },
        "rel": {
          "description": "Relation type of a link. Example: \"previous\".",
          "type": "string"
        },
        "hreflang": {
          "description": "Language code of a link. Example: \"en\".",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Content type of the link. Example: \"application/json\"."
        },
        "title": {
          "description": "Title of this link. Example: \"title\".",
          "type": "string"
        },
        "href": {
          "type": "string",
          "description": "Target URL of a link. Example: \"http://example.com/previous\"."
        }
      },
      "id": "Link"
    },
    "HttpBody": {
      "id": "HttpBody",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "RdapResponse": {
      "properties": {
        "description": {
          "description": "Error description.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rdapConformance": {
          "type": "array",
          "description": "RDAP conformance level.",
          "items": {
            "type": "string"
          }
        },
        "notices": {
          "description": "Notices applying to this response.",
          "items": {
            "$ref": "Notice"
          },
          "type": "array"
        },
        "jsonResponse": {
          "description": "HTTP response with content type set to \"application/json+rdap\".",
          "$ref": "HttpBody"
        },
        "title": {
          "type": "string",
          "description": "Error title."
        },
        "errorCode": {
          "description": "Error HTTP code. Example: \"501\".",
          "format": "int32",
          "type": "integer"
        },
        "lang": {
          "type": "string",
          "description": "Error language code. Error response info fields are defined in [section 6 of RFC 7483](https://tools.ietf.org/html/rfc7483#section-6)."
        }
      },
      "id": "RdapResponse",
      "description": "Response to a general RDAP query.",
      "type": "object"
    }
  }
}
