{
  "revision": "20230213",
  "ownerDomain": "google.com",
  "version": "v1b3",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "jobs": {
          "resources": {
            "messages": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A project id."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string",
                      "description": "Return only messages with timestamps \u003c end_time. The default is now (i.e. return up to the latest messages available).",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job to get messages about.",
                      "location": "path",
                      "type": "string"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "If specified, return only messages with timestamps \u003e= start_time. The default is the job creation time (i.e. beginning of messages)."
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query"
                    },
                    "minimumImportance": {
                      "description": "Filter to only get messages with importance \u003e= level",
                      "location": "query",
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "type": "string",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ]
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "id": "dataflow.projects.jobs.messages.list",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages"
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "httpMethod": "POST",
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the WorkItem's job.",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "required": true,
                      "location": "path",
                      "description": "The job which the WorkItem is part of.",
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  }
                },
                "lease": {
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "description": "Leases a dataflow WorkItem to run.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Identifies the project this worker belongs to.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  }
                }
              }
            },
            "debug": {
              "methods": {
                "getConfig": {
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project id.",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "The job id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.debug.getConfig"
                },
                "sendCapture": {
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "description": "Send encoded debug capture data for component.",
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "type": "string",
                      "description": "The job id.",
                      "required": true
                    },
                    "projectId": {
                      "description": "The project id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "snapshot": {
              "response": {
                "$ref": "Snapshot"
              },
              "httpMethod": "POST",
              "description": "Snapshot the state of a streaming job.",
              "id": "dataflow.projects.jobs.snapshot",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "parameters": {
                "jobId": {
                  "location": "path",
                  "description": "The job to be snapshotted.",
                  "type": "string",
                  "required": true
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The project which owns the job to be snapshotted."
                }
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "request": {
                "$ref": "SnapshotJobRequest"
              }
            },
            "aggregated": {
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.aggregated",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "ListJobsResponse"
              },
              "description": "List the jobs of a project across all regions.",
              "parameters": {
                "filter": {
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "type": "string",
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "location": "query"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query"
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string"
                },
                "name": {
                  "location": "query",
                  "description": "Optional. The job name. Optional.",
                  "type": "string"
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "type": "string",
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "parameterOrder": [
                "projectId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/jobs",
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.jobs.list",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "The project which owns the jobs.",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query"
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The job name. Optional."
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "view": {
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "location": "query"
                },
                "filter": {
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "type": "string",
                  "description": "The kind of filter to use.",
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                }
              },
              "response": {
                "$ref": "ListJobsResponse"
              },
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, as you can only get the list of jobs that are running in `us-central1`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "update": {
              "parameters": {
                "jobId": {
                  "type": "string",
                  "description": "The job ID.",
                  "location": "path",
                  "required": true
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.update",
              "request": {
                "$ref": "Job"
              },
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "response": {
                "$ref": "Job"
              }
            },
            "getMetrics": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "id": "dataflow.projects.jobs.getMetrics",
              "httpMethod": "GET",
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string",
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job."
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "type": "string"
                },
                "jobId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The job to get metrics for."
                },
                "projectId": {
                  "description": "A project id.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "JobMetrics"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ]
            },
            "create": {
              "parameters": {
                "replaceJobId": {
                  "description": "Deprecated. This field is now in the Job message.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "id": "dataflow.projects.jobs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Creates a Cloud Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "request": {
                "$ref": "Job"
              },
              "path": "v1b3/projects/{projectId}/jobs"
            },
            "get": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Job"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "jobId": {
                  "location": "path",
                  "type": "string",
                  "description": "The job ID.",
                  "required": true
                },
                "view": {
                  "location": "query",
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "flexTemplates": {
              "methods": {
                "launch": {
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "description": "Launch a job with a FlexTemplate.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true
                    },
                    "location": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "required": true
                    }
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "create": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "id": "dataflow.projects.locations.templates.create",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "id": "dataflow.projects.locations.templates.get",
                  "parameters": {
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path"
                    },
                    "view": {
                      "location": "query",
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "location": "path"
                    },
                    "gcsPath": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "Get the template associated with a template.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "launch": {
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "description": "Launch a template.",
                  "id": "dataflow.projects.locations.templates.launch",
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, the request is validated but not actually executed. Defaults to false."
                    },
                    "dynamicTemplate.stagingLocation": {
                      "location": "query",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "gcsPath": {
                      "description": "A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query",
                      "type": "string"
                    },
                    "dynamicTemplate.gcsPath": {
                      "type": "string",
                      "description": "Path to dynamic template spec file on Cloud Storage. The file must be a Json serialized DynamicTemplateFieSpec object.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch"
                }
              }
            },
            "snapshots": {
              "methods": {
                "list": {
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The project ID to list snapshots for.",
                      "required": true
                    },
                    "location": {
                      "type": "string",
                      "description": "The location to list snapshots in.",
                      "required": true,
                      "location": "path"
                    },
                    "jobId": {
                      "description": "If specified, list snapshots created from this job.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists snapshots.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "delete": {
                  "description": "Deletes a snapshot.",
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The location that contains this snapshot."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                },
                "get": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "id": "dataflow.projects.locations.snapshots.get",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "parameters": {
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "description": "Gets information about a snapshot.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "jobs": {
              "resources": {
                "messages": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A project id."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "location": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                        },
                        "minimumImportance": {
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ],
                          "description": "Filter to only get messages with importance \u003e= level",
                          "type": "string",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "location": "query"
                        },
                        "jobId": {
                          "type": "string",
                          "location": "path",
                          "description": "The job to get messages about.",
                          "required": true
                        },
                        "startTime": {
                          "description": "If specified, return only messages with timestamps \u003e= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "description": "Return only messages with timestamps \u003c end_time. The default is now (i.e. return up to the latest messages available).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                      "httpMethod": "GET",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "lease": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Identifies the project this worker belongs to."
                        },
                        "location": {
                          "type": "string",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path"
                        },
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Leases a dataflow WorkItem to run."
                    },
                    "reportStatus": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The project which owns the WorkItem's job."
                        },
                        "location": {
                          "type": "string",
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "required": true
                        },
                        "jobId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The job which the WorkItem is part of."
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "description": "Reports the status of dataflow WorkItems leased by a worker."
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "description": "Lists snapshots.",
                      "httpMethod": "GET",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "type": "string",
                          "description": "The location to list snapshots in.",
                          "required": true
                        },
                        "jobId": {
                          "description": "If specified, list snapshots created from this job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project ID to list snapshots for.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "sendCapture": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "description": "The project id.",
                          "location": "path",
                          "required": true
                        },
                        "jobId": {
                          "description": "The job id.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "location": {
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "description": "Send encoded debug capture data for component."
                    },
                    "getConfig": {
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "httpMethod": "POST",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "description": "The job id.",
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The project id."
                        }
                      },
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig"
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The job to get execution details for."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query",
                          "format": "int32"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "A project id.",
                          "required": true
                        },
                        "endTime": {
                          "description": "Upper time bound of work items to include, by start time.",
                          "type": "string",
                          "format": "google-datetime",
                          "location": "query"
                        },
                        "location": {
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "type": "string",
                          "location": "path"
                        },
                        "stageId": {
                          "location": "path",
                          "type": "string",
                          "description": "The stage for which to fetch information.",
                          "required": true
                        },
                        "startTime": {
                          "format": "google-datetime",
                          "description": "Lower time bound of work items to include, by start time.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "getMetrics": {
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "A project id.",
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job."
                    },
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "description": "The job to get metrics for.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Cloud Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
                  "parameters": {
                    "replaceJobId": {
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message.",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "type": "string",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job.",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "dataflow.projects.locations.jobs.create"
                },
                "get": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameters": {
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job.",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "description": "The level of information requested in response.",
                      "location": "query"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`."
                },
                "snapshot": {
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The job to be snapshotted."
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project which owns the job to be snapshotted."
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "description": "Snapshot the state of a streaming job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "POST"
                },
                "update": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true,
                      "location": "path"
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.update",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "PUT"
                },
                "list": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "name": {
                      "description": "Optional. The job name. Optional.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job.",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The project which owns the jobs."
                    },
                    "filter": {
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "description": "The kind of filter to use.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, as you can only get the list of jobs that are running in `us-central1`.",
                  "id": "dataflow.projects.locations.jobs.list"
                },
                "getExecutionDetails": {
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "A project id.",
                      "location": "path",
                      "required": true
                    },
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The job to get execution details for."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails"
                }
              }
            }
          },
          "methods": {
            "workerMessages": {
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "id": "dataflow.projects.locations.workerMessages",
              "parameters": {
                "location": {
                  "location": "path",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "required": true
                },
                "projectId": {
                  "required": true,
                  "description": "The project to send the WorkerMessages to.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "description": "Send a worker_message to the service.",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "httpMethod": "POST"
            }
          }
        },
        "templates": {
          "methods": {
            "create": {
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "dataflow.projects.templates.create",
              "response": {
                "$ref": "Job"
              },
              "path": "v1b3/projects/{projectId}/templates"
            },
            "launch": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "dynamicTemplate.gcsPath": {
                  "type": "string",
                  "description": "Path to dynamic template spec file on Cloud Storage. The file must be a Json serialized DynamicTemplateFieSpec object.",
                  "location": "query"
                },
                "dynamicTemplate.stagingLocation": {
                  "location": "query",
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true
                },
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed. Defaults to false."
                },
                "gcsPath": {
                  "description": "A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1b3/projects/{projectId}/templates:launch",
              "parameterOrder": [
                "projectId"
              ],
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch",
              "description": "Launch a template.",
              "response": {
                "$ref": "LaunchTemplateResponse"
              }
            },
            "get": {
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "type": "string",
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "location": "query"
                },
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                }
              },
              "path": "v1b3/projects/{projectId}/templates:get",
              "id": "dataflow.projects.templates.get",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Get the template associated with a template.",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GetTemplateResponse"
              }
            }
          }
        },
        "snapshots": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "description": "Gets information about a snapshot.",
              "id": "dataflow.projects.snapshots.get",
              "parameters": {
                "snapshotId": {
                  "description": "The ID of the snapshot.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "description": "The location that contains this snapshot.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Snapshot"
              },
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
[...]
