{
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "basePath": "/dfareporting/v4/",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "name": "dfareporting",
  "version": "v4",
  "id": "dfareporting:v4",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "dfareporting/v4/",
  "canonicalName": "Dfareporting",
  "discoveryVersion": "v1",
  "resources": {
    "placementStrategies": {
      "methods": {
        "patch": {
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "path": "userprofiles/{profileId}/placementStrategies",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "query",
              "description": "PlacementStrategy ID."
            }
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "id": "dfareporting.placementStrategies.patch",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "get": {
          "id": "dfareporting.placementStrategies.get",
          "description": "Gets one placement strategy by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/placementStrategies/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Placement strategy ID.",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "response": {
            "$ref": "PlacementStrategy"
          }
        },
        "delete": {
          "id": "dfareporting.placementStrategies.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing placement strategy.",
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "description": "Placement strategy ID.",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "path": "userprofiles/{profileId}/placementStrategies/{id}"
        },
        "list": {
          "id": "dfareporting.placementStrategies.list",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "maximum": "1000",
              "minimum": "0",
              "default": "1000",
              "format": "int32"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement strategies with these IDs.",
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\"."
            }
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "path": "userprofiles/{profileId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new placement strategy.",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "response": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{profileId}/placementStrategies",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dfareporting.placementStrategies.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/placementStrategies"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "description": "Updates an existing placement strategy.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "id": "dfareporting.placementStrategies.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlacementStrategy"
          }
        }
      }
    },
    "contentCategories": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "id": "dfareporting.contentCategories.list",
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "parameters": {
            "ids": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only content categories with these IDs.",
              "format": "int64"
            },
            "maxResults": {
              "minimum": "0",
              "default": "1000",
              "location": "query",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ASCENDING",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "location": "query",
              "type": "string"
            }
          },
          "path": "userprofiles/{profileId}/contentCategories",
          "flatPath": "userprofiles/{profileId}/contentCategories",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "flatPath": "userprofiles/{profileId}/contentCategories",
          "id": "dfareporting.contentCategories.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "ContentCategory ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/contentCategories",
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category. This method supports patch semantics."
        },
        "insert": {
          "request": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.insert",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/contentCategories",
          "path": "userprofiles/{profileId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "description": "Inserts a new content category.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets one content category by ID.",
          "id": "dfareporting.contentCategories.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Content category ID.",
              "required": true
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/contentCategories/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/contentCategories/{id}"
        },
        "delete": {
          "description": "Deletes an existing content category.",
          "flatPath": "userprofiles/{profileId}/contentCategories/{id}",
          "httpMethod": "DELETE",
          "id": "dfareporting.contentCategories.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Content category ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/contentCategories/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.update",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category.",
          "response": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{profileId}/contentCategories"
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Billing Profile ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.billingProfiles.get",
          "response": {
            "$ref": "BillingProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/billingProfiles/{id}",
          "path": "userprofiles/{profileId}/billingProfiles/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one billing profile by ID."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/billingProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.billingProfiles.list",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameters": {
            "subaccountIds": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported."
            },
            "onlySuggestion": {
              "type": "boolean",
              "location": "query",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API."
            },
            "maxResults": {
              "type": "integer",
              "maximum": "1000",
              "format": "int32",
              "location": "query",
              "minimum": "0",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "currency_code": {
              "type": "string",
              "description": "Select only billing profile with currency.",
              "location": "query"
            },
            "ids": {
              "description": "Select only billing profile with these IDs.",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "name": {
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID"
            },
            "status": {
              "location": "query",
              "description": "Select only billing profile with the specified status.",
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "repeated": true
            }
          },
          "flatPath": "userprofiles/{profileId}/billingProfiles",
          "response": {
            "$ref": "BillingProfilesListResponse"
          }
        },
        "update": {
          "response": {
            "$ref": "BillingProfile"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing billing profile.",
          "path": "userprofiles/{profileId}/billingProfiles",
          "id": "dfareporting.billingProfiles.update",
          "flatPath": "userprofiles/{profileId}/billingProfiles",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "request": {
            "$ref": "BillingProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one operating system version by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Operating system version ID.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "path": "userprofiles/{profileId}/operatingSystemVersions/{id}",
          "id": "dfareporting.operatingSystemVersions.get",
          "flatPath": "userprofiles/{profileId}/operatingSystemVersions/{id}"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.operatingSystemVersions.list",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/operatingSystemVersions",
          "flatPath": "userprofiles/{profileId}/operatingSystemVersions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a list of operating system versions."
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightActivityGroups.list",
          "parameters": {
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "floodlightConfigurationId": {
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "format": "int64"
            },
            "type": {
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "maximum": "1000",
              "format": "int32",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Order of sorted results."
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "FloodlightActivityGroup ID."
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "id": "dfareporting.floodlightActivityGroups.patch",
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/floodlightActivityGroups"
        },
        "update": {
          "id": "dfareporting.floodlightActivityGroups.update",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group.",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PUT"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivityGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "id": {
              "location": "path",
              "description": "Floodlight activity Group ID.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Gets one floodlight activity group by ID.",
          "path": "userprofiles/{profileId}/floodlightActivityGroups/{id}",
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups/{id}"
        },
        "insert": {
          "id": "dfareporting.floodlightActivityGroups.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "description": "Inserts a new floodlight activity group.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          }
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "list": {
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Retrieves the list of account permissions.",
          "path": "userprofiles/{profileId}/accountPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountPermissions.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "flatPath": "userprofiles/{profileId}/accountPermissions"
        },
        "get": {
          "response": {
            "$ref": "AccountPermission"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accountPermissions.get",
          "httpMethod": "GET",
          "description": "Gets one account permission by ID.",
          "path": "userprofiles/{profileId}/accountPermissions/{id}",
          "flatPath": "userprofiles/{profileId}/accountPermissions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Account permission ID.",
              "location": "path"
            }
          }
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "update": {
          "path": "userprofiles/{profileId}/advertiserGroups",
          "description": "Updates an existing advertiser group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "id": "dfareporting.advertiserGroups.update",
          "flatPath": "userprofiles/{profileId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/advertiserGroups",
          "flatPath": "userprofiles/{profileId}/advertiserGroups",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserGroups.patch",
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "AdvertiserGroup ID.",
              "format": "int64"
            }
          }
        },
        "list": {
          "path": "userprofiles/{profileId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.list",
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "minimum": "0"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only advertiser groups with these IDs.",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging."
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/advertiserGroups/{id}",
          "flatPath": "userprofiles/{profileId}/advertiserGroups/{id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Advertiser group ID."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing advertiser group.",
          "id": "dfareporting.advertiserGroups.delete"
        },
        "get": {
          "description": "Gets one advertiser group by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Advertiser group ID.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "id": "dfareporting.advertiserGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/advertiserGroups/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{profileId}/advertiserGroups/{id}"
        },
        "insert": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Inserts a new advertiser group.",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{profileId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.insert",
          "path": "userprofiles/{profileId}/advertiserGroups",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{profileId}/connectionTypes/{id}",
          "description": "Gets one connection type by ID.",
          "response": {
            "$ref": "ConnectionType"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Connection type ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "id": "dfareporting.connectionTypes.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/connectionTypes/{id}"
        },
        "list": {
          "id": "dfareporting.connectionTypes.list",
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "path": "userprofiles/{profileId}/connectionTypes",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/connectionTypes",
          "description": "Retrieves a list of connection types."
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "patch": {
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "id": "dfareporting.remarketingLists.patch",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "RemarketingList ID.",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "RemarketingList"
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{profileId}/remarketingLists",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/remarketingLists"
        },
        "insert": {
          "response": {
            "$ref": "RemarketingList"
          },
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.remarketingLists.insert",
          "description": "Inserts a new remarketing list.",
          "path": "userprofiles/{profileId}/remarketingLists",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/remarketingLists",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "update": {
          "request": {
            "$ref": "RemarketingList"
          },
          "path": "userprofiles/{profileId}/remarketingLists",
          "httpMethod": "PUT",
          "id": "dfareporting.remarketingLists.update",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing remarketing list.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/remarketingLists"
        },
        "list": {
          "flatPath": "userprofiles/{profileId}/remarketingLists",
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "minimum": "0",
              "type": "integer",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "active": {
              "description": "Select only active or only inactive remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "advertiserId": {
              "required": true,
              "format": "int64",
              "description": "Select only remarketing lists owned by this advertiser.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "type": "string"
            },
            "floodlightActivityId": {
              "format": "int64",
              "location": "query",
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "path": "userprofiles/{profileId}/remarketingLists",
          "id": "dfareporting.remarketingLists.list",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging."
        },
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "description": "Remarketing list ID.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/remarketingLists/{id}",
          "id": "dfareporting.remarketingLists.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/remarketingLists/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Gets one remarketing list by ID."
        }
      }
    },
    "ads": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/ads",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Ad ID.",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "response": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.patch",
          "description": "Updates an existing ad. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/ads",
          "response": {
            "$ref": "AdsListResponse"
          },
          "id": "dfareporting.ads.list",
          "parameters": {
            "creativeIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these creative IDs assigned.",
              "format": "int64",
              "location": "query"
            },
            "sslCompliant": {
              "description": "Select only ads that are SSL-compliant.",
              "location": "query",
              "type": "boolean"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only ads with this advertiser ID."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "maximum": "1000",
              "type": "integer",
              "location": "query",
              "default": "1000",
              "format": "int32"
            },
            "landingPageIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only ads with these landing page IDs.",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "campaignIds": {
              "description": "Select only ads with these campaign IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "audienceSegmentIds": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only ads with these audience segment IDs."
            },
            "remarketingListIds": {
              "type": "string",
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "repeated": true,
              "format": "int64",
              "location": "query"
            },
            "placementIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only ads with these placement IDs assigned."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "creativeOptimizationConfigurationIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only ads with these creative optimization configuration IDs.",
              "type": "string",
              "repeated": true
            },
            "active": {
              "description": "Select only active ads.",
              "location": "query",
              "type": "boolean"
            },
            "type": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only ads with these types."
            },
            "sizeIds": {
              "repeated": true,
              "format": "int64",
              "description": "Select only ads with these size IDs.",
              "type": "string",
              "location": "query"
            },
            "compatibility": {
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "archived": {
              "description": "Select only archived ads.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sslRequired": {
              "type": "boolean",
              "location": "query",
              "description": "Select only ads that require SSL."
            },
            "sortOrder": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only ads with these IDs.",
              "format": "int64",
              "type": "string"
            },
            "dynamicClickTracker": {
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "location": "query",
              "type": "boolean"
            },
            "overriddenEventTagId": {
              "description": "Select only ads with this event tag override ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "type": "string",
              "location": "query"
            }
          }
        },
        "insert": {
          "id": "dfareporting.ads.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "path": "userprofiles/{profileId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new ad.",
          "response": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/ads"
        },
        "get": {
          "response": {
            "$ref": "Ad"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "location": "path",
              "description": "Ad ID.",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets one ad by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/ads/{id}",
          "flatPath": "userprofiles/{profileId}/ads/{id}",
          "id": "dfareporting.ads.get",
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{profileId}/ads",
          "path": "userprofiles/{profileId}/ads",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "description": "Updates an existing ad.",
          "id": "dfareporting.ads.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Ad"
          }
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one account permission group by ID.",
          "response": {
            "$ref": "AccountPermissionGroup"
          },
          "id": "dfareporting.accountPermissionGroups.get",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Account permission group ID.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/accountPermissionGroups/{id}",
          "path": "userprofiles/{profileId}/accountPermissionGroups/{id}",
          "httpMethod": "GET"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves the list of account permission groups.",
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "id": "dfareporting.accountPermissionGroups.list",
          "path": "userprofiles/{profileId}/accountPermissionGroups",
          "flatPath": "userprofiles/{profileId}/accountPermissionGroups"
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "path": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "description": "Gets the account's active ad summary by account ID.",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "summaryAccountId": {
              "required": true,
              "description": "Account ID.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "changeLogs": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/changeLogs",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/changeLogs",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "maxChangeTime": {
              "location": "query",
              "description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "description": "Select only change logs with these IDs.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "minChangeTime": {
              "type": "string",
              "location": "query",
              "description": "Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "objectIds": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only change logs with these object IDs."
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "userProfileIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only change logs with these user profile IDs.",
              "format": "int64"
            },
            "objectType": {
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_FLOODLIGHT_CONFIGURATION",
                "OBJECT_AD",
                "OBJECT_FLOODLIGHT_ACTVITY",
                "OBJECT_CAMPAIGN",
                "OBJECT_FLOODLIGHT_ACTIVITY_GROUP",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT",
                "OBJECT_DFA_SITE",
                "OBJECT_USER_ROLE",
                "OBJECT_USER_PROFILE",
                "OBJECT_ADVERTISER_GROUP",
                "OBJECT_ACCOUNT",
                "OBJECT_SUBACCOUNT",
                "OBJECT_RICHMEDIA_CREATIVE",
                "OBJECT_INSTREAM_CREATIVE",
                "OBJECT_MEDIA_ORDER",
                "OBJECT_CONTENT_CATEGORY",
                "OBJECT_PLACEMENT_STRATEGY",
                "OBJECT_SD_SITE",
                "OBJECT_SIZE",
                "OBJECT_CREATIVE_GROUP",
                "OBJECT_CREATIVE_ASSET",
                "OBJECT_USER_PROFILE_FILTER",
                "OBJECT_LANDING_PAGE",
                "OBJECT_CREATIVE_FIELD",
                "OBJECT_REMARKETING_LIST",
                "OBJECT_PROVIDED_LIST_CLIENT",
                "OBJECT_EVENT_TAG",
                "OBJECT_CREATIVE_BUNDLE",
                "OBJECT_BILLING_ACCOUNT_GROUP",
                "OBJECT_BILLING_FEATURE",
                "OBJECT_RATE_CARD",
                "OBJECT_ACCOUNT_BILLING_FEATURE",
                "OBJECT_BILLING_MINIMUM_FEE",
                "OBJECT_BILLING_PROFILE",
                "OBJECT_PLAYSTORE_LINK",
                "OBJECT_TARGETING_TEMPLATE",
                "OBJECT_SEARCH_LIFT_STUDY",
                "OBJECT_FLOODLIGHT_DV360_LINK",
                "OBJECT_ADVERTISER_CUSTOMER_LINK"
              ],
              "type": "string",
              "location": "query",
              "description": "Select only change logs with the specified object type.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "maxResults": {
              "maximum": "1000",
              "format": "int32",
              "type": "integer",
              "minimum": "0",
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "action": {
              "enum": [
                "ACTION_CREATE",
                "ACTION_UPDATE",
                "ACTION_DELETE",
                "ACTION_ENABLE",
                "ACTION_DISABLE",
                "ACTION_ADD",
                "ACTION_REMOVE",
                "ACTION_MARK_AS_DEFAULT",
                "ACTION_ASSOCIATE",
                "ACTION_ASSIGN",
                "ACTION_UNASSIGN",
                "ACTION_SEND",
                "ACTION_LINK",
                "ACTION_UNLINK",
                "ACTION_PUSH",
                "ACTION_EMAIL_TAGS",
                "ACTION_SHARE"
              ],
              "description": "Select only change logs with the specified action.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Select only change logs whose object ID, user name, old or new values match the search string.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dfareporting.changeLogs.list",
          "description": "Retrieves a list of change logs. This method supports paging.",
          "response": {
            "$ref": "ChangeLogsListResponse"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/changeLogs/{id}",
          "id": "dfareporting.changeLogs.get",
          "description": "Gets one change log by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            },
            "id": {
              "format": "int64",
              "required": true,
              "description": "Change log ID.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ChangeLog"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/changeLogs/{id}",
          "httpMethod": "GET"
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.mobileCarriers.list",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/mobileCarriers",
          "description": "Retrieves a list of mobile carriers.",
          "path": "userprofiles/{profileId}/mobileCarriers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "MobileCarriersListResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/mobileCarriers/{id}",
          "id": "dfareporting.mobileCarriers.get",
          "description": "Gets one mobile carrier by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/mobileCarriers/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "MobileCarrier"
          },
          "parameters": {
            "id": {
              "type": "string",
              "description": "Mobile carrier ID.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          }
        }
      }
    },
    "directorySites": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DirectorySite"
          },
          "flatPath": "userprofiles/{profileId}/directorySites",
          "httpMethod": "POST",
          "description": "Inserts a new directory site.",
          "id": "dfareporting.directorySites.insert",
          "path": "userprofiles/{profileId}/directorySites",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DirectorySite"
          }
        },
        "list": {
          "parameters": {
            "acceptsInStreamVideoPlacements": {
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank."
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "maximum": "1000",
              "minimum": "0",
              "location": "query"
            },
            "dfpNetworkCode": {
              "type": "string",
              "location": "query",
              "description": "Select only directory sites with this Ad Manager network code."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only directory sites with these IDs.",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "acceptsInterstitialPlacements": {
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites."
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/directorySites",
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "id": "dfareporting.directorySites.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/directorySites"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/directorySites/{id}",
          "id": "dfareporting.directorySites.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "type": "string",
              "description": "Directory site ID.",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "DirectorySite"
          },
          "flatPath": "userprofiles/{profileId}/directorySites/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one directory site by ID."
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "description": "Gets a list of all supported user role permission groups.",
          "path": "userprofiles/{profileId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissionGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/userRolePermissionGroups",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{profileId}/userRolePermissionGroups/{id}",
          "httpMethod": "GET",
          "description": "Gets one user role permission group by ID.",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/userRolePermissionGroups/{id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "id": {
              "type": "string",
              "description": "User role permission group ID.",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.userRolePermissionGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "userprofiles/{profileId}/languages",
          "id": "dfareporting.languages.list",
          "flatPath": "userprofiles/{profileId}/languages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of languages.",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          }
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "BillingAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "BillingAssignment"
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "id": "dfareporting.billingAssignments.insert",
          "path": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingAssignments",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "billingProfileId": {
              "description": "Billing profile ID of this billing assignment.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingAssignments"
        },
        "list": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "billingProfileId": {
              "location": "path",
              "type": "string",
              "description": "Billing profile ID of this billing assignment.",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingAssignments.list",
          "description": "Retrieves a list of billing assignments.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "flatPath": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingAssignments",
          "path": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          }
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "id": "dfareporting.billingRates.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingRates",
          "parameters": {
            "billingProfileId": {
              "required": true,
              "description": "Billing profile ID of this billing rate.",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "path": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingRates",
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        }
      }
    },
    "advertisers": {
      "methods": {
        "insert": {
          "description": "Inserts a new advertiser.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.insert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/advertisers"
        },
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/advertisers",
          "parameters": {
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query",
              "type": "boolean"
            },
            "advertiserGroupIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only advertisers with these advertiser group IDs."
            },
            "status": {
              "location": "query",
              "description": "Select only advertisers with the specified status.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "minimum": "0",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "maximum": "1000"
            },
            "ids": {
              "description": "Select only advertisers with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query",
              "description": "Order of sorted results."
            },
            "floodlightConfigurationIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "type": "string",
              "repeated": true
            },
            "sortField": {
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "onlyParent": {
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "subaccountId": {
              "format": "int64",
              "description": "Select only advertisers with these subaccount IDs.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{profileId}/advertisers",
          "id": "dfareporting.advertisers.list",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertisersListResponse"
          }
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/advertisers",
          "id": "dfareporting.advertisers.patch",
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{profileId}/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "location": "query",
[...]
