{
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "title": "Campaign Manager 360 API",
  "servicePath": "dfareporting/v4/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "id": "dfareporting:v4",
  "resources": {
    "regions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "RegionsListResponse"
          },
          "id": "dfareporting.regions.list",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/regions",
          "description": "Retrieves a list of regions.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{profileId}/regions"
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "update": {
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Updates an existing floodlight configuration.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightConfigurations.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations",
          "httpMethod": "PUT"
        },
        "patch": {
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "FloodlightConfiguration ID.",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightConfigurations.patch",
          "httpMethod": "PATCH",
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "path": "userprofiles/{profileId}/floodlightConfigurations"
        },
        "list": {
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "ids": {
              "location": "query",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.list",
          "description": "Retrieves a list of floodlight configurations, possibly filtered."
        },
        "get": {
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Floodlight configuration ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.floodlightConfigurations.get",
          "description": "Gets one floodlight configuration by ID.",
          "path": "userprofiles/{profileId}/floodlightConfigurations/{id}",
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations/{id}"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "id": "dfareporting.languages.list",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of languages.",
          "path": "userprofiles/{profileId}/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/languages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "subaccounts": {
      "methods": {
        "list": {
          "id": "dfareporting.subaccounts.list",
          "flatPath": "userprofiles/{profileId}/subaccounts",
          "httpMethod": "GET",
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only subaccounts with these IDs."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "maximum": "1000",
              "minimum": "0",
              "default": "1000",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "path": "userprofiles/{profileId}/subaccounts"
        },
        "update": {
          "id": "dfareporting.subaccounts.update",
          "path": "userprofiles/{profileId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing subaccount.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          }
        },
        "get": {
          "response": {
            "$ref": "Subaccount"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Subaccount ID.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/subaccounts/{id}",
          "description": "Gets one subaccount by ID.",
          "path": "userprofiles/{profileId}/subaccounts/{id}",
          "id": "dfareporting.subaccounts.get"
        },
        "insert": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/subaccounts",
          "id": "dfareporting.subaccounts.insert",
          "response": {
            "$ref": "Subaccount"
          },
          "description": "Inserts a new subaccount.",
          "request": {
            "$ref": "Subaccount"
          }
        },
        "patch": {
          "response": {
            "$ref": "Subaccount"
          },
          "request": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{profileId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "description": "Subaccount ID.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{profileId}/subaccounts",
          "id": "dfareporting.subaccounts.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/accountUserProfiles",
          "description": "Inserts a new account user profile.",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "dfareporting.accountUserProfiles.insert"
        },
        "list": {
          "path": "userprofiles/{profileId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "parameters": {
            "sortOrder": {
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Order of sorted results."
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only user profiles with these IDs."
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "minimum": "0",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "maximum": "1000",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "type": "string",
              "location": "query"
            },
            "subaccountId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only user profiles with the specified subaccount ID."
            },
            "userRoleId": {
              "description": "Select only user profiles with the specified user role ID.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "active": {
              "location": "query",
              "description": "Select only active user profiles.",
              "type": "boolean"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Field by which to sort the list."
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.accountUserProfiles.list",
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "path": "userprofiles/{profileId}/accountUserProfiles",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "AccountUserProfile ID.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accountUserProfiles.patch",
          "request": {
            "$ref": "AccountUserProfile"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "type": "string",
              "description": "User profile ID.",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{id}",
          "description": "Gets one account user profile by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.accountUserProfiles.get",
          "path": "userprofiles/{profileId}/accountUserProfiles/{id}"
        },
        "update": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "id": "dfareporting.accountUserProfiles.update",
          "description": "Updates an existing account user profile.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "httpMethod": "PUT",
          "path": "userprofiles/{profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "request": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "get": {
          "description": "Gets one floodlight activity group by ID.",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.floodlightActivityGroups.get",
          "path": "userprofiles/{profileId}/floodlightActivityGroups/{id}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Floodlight activity Group ID."
            }
          },
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups/{id}"
        },
        "list": {
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "id": "dfareporting.floodlightActivityGroups.list",
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "parameters": {
            "ids": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "floodlightConfigurationId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "advertiserId": {
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "type": {
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "type": "string",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "maximum": "1000",
              "minimum": "0"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "id": "dfareporting.floodlightActivityGroups.update",
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "insert": {
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new floodlight activity group.",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.insert"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "FloodlightActivityGroup ID.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightActivityGroups.patch",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Updates an existing floodlight activity group. This method supports patch semantics."
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "LandingPage"
          },
          "id": "dfareporting.advertiserLandingPages.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "path": "userprofiles/{profileId}/advertiserLandingPages",
          "description": "Inserts a new landing page.",
          "flatPath": "userprofiles/{profileId}/advertiserLandingPages",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "path": "userprofiles/{profileId}/advertiserLandingPages/{id}",
          "id": "dfareporting.advertiserLandingPages.get",
          "flatPath": "userprofiles/{profileId}/advertiserLandingPages/{id}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "description": "Gets one landing page by ID.",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Landing page ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "id": "dfareporting.advertiserLandingPages.patch",
          "response": {
            "$ref": "LandingPage"
          },
          "path": "userprofiles/{profileId}/advertiserLandingPages",
          "request": {
            "$ref": "LandingPage"
          },
          "description": "Updates an existing advertiser landing page. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "LandingPage ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{profileId}/advertiserLandingPages",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/advertiserLandingPages",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of landing pages.",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/advertiserLandingPages",
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "ids": {
              "location": "query",
              "description": "Select only landing pages with these IDs.",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "advertiserIds": {
              "format": "int64",
              "description": "Select only landing pages that belong to these advertisers.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "campaignIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only landing pages that are associated with these campaigns."
            },
            "archived": {
              "location": "query",
              "type": "boolean",
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages."
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "minimum": "0",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "maximum": "1000"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\"."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "description": "Select only landing pages that belong to this subaccount.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dfareporting.advertiserLandingPages.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "LandingPage"
          },
          "id": "dfareporting.advertiserLandingPages.update",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing landing page.",
          "flatPath": "userprofiles/{profileId}/advertiserLandingPages",
          "path": "userprofiles/{profileId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          }
        }
      }
    },
    "conversions": {
      "methods": {
        "batchinsert": {
          "description": "Inserts conversions.",
          "path": "userprofiles/{profileId}/conversions/batchinsert",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ConversionsBatchInsertResponse"
          },
          "request": {
            "$ref": "ConversionsBatchInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/conversions/batchinsert",
          "httpMethod": "POST",
          "id": "dfareporting.conversions.batchinsert"
        },
        "batchupdate": {
          "path": "userprofiles/{profileId}/conversions/batchupdate",
          "request": {
            "$ref": "ConversionsBatchUpdateRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "id": "dfareporting.conversions.batchupdate",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/conversions/batchupdate",
          "response": {
            "$ref": "ConversionsBatchUpdateResponse"
          },
          "description": "Updates existing conversions.",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          }
        }
      }
    },
    "reports": {
      "resources": {
        "compatibleFields": {
          "methods": {
            "query": {
              "path": "userprofiles/{profileId}/reports/compatiblefields/query",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "parameters": {
                "profileId": {
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The Campaign Manager 360 user profile ID."
                }
              },
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "id": "dfareporting.reports.compatibleFields.query",
              "request": {
                "$ref": "Report"
              },
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query",
              "response": {
                "$ref": "CompatibleFields"
              },
              "parameterOrder": [
                "profileId"
              ]
            }
          }
        },
        "files": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "response": {
                "$ref": "File"
              },
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "supportsMediaDownload": true,
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "id": "dfareporting.reports.files.get",
              "parameters": {
                "fileId": {
                  "required": true,
                  "description": "The ID of the report file.",
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "description": "The Campaign Manager 360 user profile ID.",
                  "location": "path"
                },
                "reportId": {
                  "type": "string",
                  "description": "The ID of the report.",
                  "location": "path",
                  "format": "int64",
                  "required": true
                }
              }
            },
            "list": {
              "path": "userprofiles/{profileId}/reports/{reportId}/files",
              "id": "dfareporting.reports.files.list",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "httpMethod": "GET",
              "parameters": {
                "reportId": {
                  "description": "The ID of the parent report.",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                },
                "sortField": {
                  "default": "LAST_MODIFIED_TIME",
                  "type": "string",
                  "description": "The field by which to sort the list.",
                  "location": "query",
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ],
                  "enumDescriptions": [
                    "",
                    ""
                  ]
                },
                "maxResults": {
                  "format": "int32",
                  "description": "Maximum number of results to return.",
                  "minimum": "0",
                  "type": "integer",
                  "default": "10",
                  "maximum": "10",
                  "location": "query"
                },
                "profileId": {
                  "type": "string",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "required": true,
                  "location": "path",
                  "format": "int64"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value of the nextToken from the previous result page."
                },
                "sortOrder": {
                  "default": "DESCENDING",
                  "location": "query",
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ],
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ],
                  "description": "Order of sorted results.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "FileList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "parameterOrder": [
                "profileId",
                "reportId"
              ],
              "description": "Lists files for a report."
            }
          }
        }
      },
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "The ID of the report.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Report"
          },
          "description": "Retrieves a report by its ID.",
          "id": "dfareporting.reports.get",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "description": "Retrieves list of reports.",
          "id": "dfareporting.reports.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/reports",
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "DESCENDING",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string"
            },
            "scope": {
              "default": "MINE",
              "location": "query",
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "type": "string",
              "enum": [
                "ALL",
                "MINE"
              ],
              "description": "The scope that defines which results are returned."
            },
            "sortField": {
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ],
              "location": "query",
              "default": "LAST_MODIFIED_TIME",
              "description": "The field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ]
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "maximum": "10",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "default": "10"
            },
            "pageToken": {
              "type": "string",
              "description": "The value of the nextToken from the previous result page.",
              "location": "query"
            }
          },
          "path": "userprofiles/{profileId}/reports",
          "response": {
            "$ref": "ReportList"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "reportId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the report."
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.reports.patch",
          "response": {
            "$ref": "Report"
          },
          "request": {
            "$ref": "Report"
          },
          "description": "Updates an existing report. This method supports patch semantics.",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameterOrder": [
            "profileId",
            "reportId"
          ]
        },
        "run": {
          "httpMethod": "POST",
          "description": "Runs a report.",
          "id": "dfareporting.reports.run",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "synchronous": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "If set and true, tries to run the report synchronously."
            },
            "reportId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "The ID of the report.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run",
          "path": "userprofiles/{profileId}/reports/{reportId}/run"
        },
        "update": {
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "request": {
            "$ref": "Report"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID."
            },
            "reportId": {
              "description": "The ID of the report.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "description": "Updates a report.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.reports.update",
          "response": {
            "$ref": "Report"
          }
        },
        "delete": {
          "id": "dfareporting.reports.delete",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "description": "Deletes a report by its ID.",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "httpMethod": "DELETE",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameters": {
            "reportId": {
              "format": "int64",
              "required": true,
              "description": "The ID of the report.",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "insert": {
          "flatPath": "userprofiles/{profileId}/reports",
          "request": {
            "$ref": "Report"
          },
          "id": "dfareporting.reports.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Report"
          },
          "description": "Creates a report.",
          "path": "userprofiles/{profileId}/reports"
        }
      }
    },
    "inventoryItems": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Inventory item ID."
            },
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "projectId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Project ID for order documents.",
              "location": "path"
            }
          },
          "path": "userprofiles/{profileId}/projects/{projectId}/inventoryItems/{id}",
          "httpMethod": "GET",
          "description": "Gets one inventory item by ID.",
          "parameterOrder": [
            "profileId",
            "projectId",
            "id"
          ],
          "response": {
            "$ref": "InventoryItem"
          },
          "id": "dfareporting.inventoryItems.get",
          "flatPath": "userprofiles/{profileId}/projects/{projectId}/inventoryItems/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{profileId}/projects/{projectId}/inventoryItems",
          "description": "Retrieves a list of inventory items, possibly filtered. This method supports paging.",
          "id": "dfareporting.inventoryItems.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "InventoryItemsListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "projectId"
          ],
          "path": "userprofiles/{profileId}/projects/{projectId}/inventoryItems",
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "inPlan": {
              "type": "boolean",
              "location": "query",
              "description": "Select only inventory items that are in plan."
            },
            "maxResults": {
              "location": "query",
              "maximum": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "default": "1000",
              "type": "integer"
            },
            "type": {
              "enum": [
                "PLANNING_PLACEMENT_TYPE_REGULAR",
                "PLANNING_PLACEMENT_TYPE_CREDIT"
              ],
              "description": "Select only inventory items with this type.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "orderId": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only inventory items that belong to specified orders.",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "description": "Select only inventory items with these IDs.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID"
            },
            "siteId": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only inventory items that are associated with these sites."
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Project ID for order documents."
            }
          }
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/dynamicTargetingKeys",
          "flatPath": "userprofiles/{profileId}/dynamicTargetingKeys",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID."
            },
            "objectType": {
              "location": "query",
              "description": "Select only dynamic targeting keys with this object type.",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "objectId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only dynamic targeting keys with this object ID."
            },
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "names": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names."
            }
          },
          "description": "Retrieves a list of dynamic targeting keys."
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{profileId}/dynamicTargetingKeys/{objectId}",
          "description": "Deletes an existing dynamic targeting key.",
          "path": "userprofiles/{profileId}/dynamicTargetingKeys/{objectId}",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "name": {
              "description": "Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "objectType": {
              "required": true,
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "description": "Type of the object of this dynamic targeting key. This is a required field.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "location": "query"
            },
            "objectId": {
              "location": "path",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{profileId}/dynamicTargetingKeys",
          "httpMethod": "POST"
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "id": "dfareporting.browsers.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of browsers.",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/browsers",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "flatPath": "userprofiles/{profileId}/browsers"
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/targetableRemarketingLists",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "path": "userprofiles/{profileId}/targetableRemarketingLists",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "id": "dfareporting.targetableRemarketingLists.list",
          "parameters": {
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "default": "ASCENDING",
              "description": "Order of sorted results."
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "query",
              "description": "Select only targetable remarketing lists targetable by these advertisers."
            },
            "active": {
              "description": "Select only active or only inactive targetable remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "minimum": "0"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging."
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/targetableRemarketingLists/{id}",
          "description": "Gets one remarketing list by ID.",
          "flatPath": "userprofiles/{profileId}/targetableRemarketingLists/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Remarketing list ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            }
          },
          "id": "dfareporting.targetableRemarketingLists.get"
        }
      }
    },
    "placementGroups": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{profileId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing placement group.",
          "flatPath": "userprofiles/{profileId}/placementGroups",
          "id": "dfareporting.placementGroups.update",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "patch": {
          "path": "userprofiles/{profileId}/placementGroups",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.patch",
          "flatPath": "userprofiles/{profileId}/placementGroups",
          "request": {
            "$ref": "PlacementGroup"
          },
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "PlacementGroup ID.",
              "format": "int64",
              "location": "query"
            }
          },
          "description": "Updates an existing placement group. This method supports patch semantics."
        },
        "insert": {
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Inserts a new placement group.",
          "id": "dfareporting.placementGroups.insert",
          "path": "userprofiles/{profileId}/placementGroups",
          "flatPath": "userprofiles/{profileId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "siteIds": {
              "format": "int64",
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Select only placement groups that are associated with these sites."
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only placement groups with these IDs."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that belong to these advertisers."
            },
            "campaignIds": {
              "description": "Select only placement groups that belong to these campaigns.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "pricingTypes": {
              "description": "Select only placement groups with these pricing types.",
              "type": "string",
              "location": "query",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "maxResults": {
              "default": "800",
              "type": "integer",
              "minimum": "0",
              "format": "int32",
              "maximum": "800",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "placementStrategyIds": {
              "location": "query",
              "description": "Select only placement groups that are associated with these placement strategies.",
              "type": "string",
              "format": "int64",
              "repeated": true
            },
            "activeStatus": {
              "type": "string",
              "repeated": true,
              "description": "Select only placements with these active statuses.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxEndDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "minStartDate": {
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "contentCategoryIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that are associated with these content categories.",
              "location": "query",
              "format": "int64"
            },
            "placementGroupType": {
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ]
            },
            "minEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "directorySiteIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that are associated with these directory sites."
            }
          },
          "flatPath": "userprofiles/{profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.list",
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "path": "userprofiles/{profileId}/placementGroups",
          "httpMethod": "GET"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "id": {
              "description": "Placement group ID.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Gets one placement group by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/placementGroups/{id}",
          "httpMethod": "GET",
          "id": "dfareporting.placementGroups.get",
          "flatPath": "userprofiles/{profileId}/placementGroups/{id}"
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "get": {
          "path": "userprofiles/{profileId}/remarketingListShares/{remarketingListId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "description": "Gets one remarketing list share by remarketing list ID.",
          "id": "dfareporting.remarketingListShares.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "flatPath": "userprofiles/{profileId}/remarketingListShares/{remarketingListId}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "remarketingListId": {
              "location": "path",
              "required": true,
              "description": "Remarketing list ID.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "description": "Updates an existing remarketing list share.",
          "path": "userprofiles/{profileId}/remarketingListShares",
          "id": "dfareporting.remarketingListShares.update",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/remarketingListShares"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true,
              "description": "RemarketingList ID."
            }
          },
          "request": {
            "$ref": "RemarketingListShare"
          },
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "path": "userprofiles/{profileId}/remarketingListShares",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/remarketingListShares",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "id": "dfareporting.remarketingListShares.patch"
        }
      }
    },
    "creativeFields": {
      "methods": {
        "update": {
          "description": "Updates an existing creative field.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{profileId}/creativeFields",
          "path": "userprofiles/{profileId}/creativeFields",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.update"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{profileId}/creativeFields",
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "location": "query",
              "description": "CreativeField ID.",
              "type": "string",
              "format": "int64",
              "required": true
            }
          }
        },
        "list": {
          "id": "dfareporting.creativeFields.list",
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "searchString": {
              "location": "query",
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "advertiserIds": {
              "description": "Select only creative fields that belong to these advertisers.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "minimum": "0",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "description": "Select only creative fields with these IDs.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{profileId}/creativeFields",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/creativeFields",
          "response": {
            "$ref": "CreativeFieldsListResponse"
          }
        },
        "get": {
          "description": "Gets one creative field by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/creativeFields/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFields.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "CreativeField"
          },
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Creative Field ID",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "path": "userprofiles/{profileId}/creativeFields/{id}"
        },
        "insert": {
          "path": "userprofiles/{profileId}/creativeFields",
          "request": {
            "$ref": "CreativeField"
          },
          "response": {
            "$ref": "CreativeField"
          },
          "description": "Inserts a new creative field.",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creativeFields.insert",
          "flatPath": "userprofiles/{profileId}/creativeFields",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "description": "Deletes an existing creative field.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Creative Field ID",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{profileId}/creativeFields/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "id": "dfareporting.creativeFields.delete",
          "flatPath": "userprofiles/{profileId}/creativeFields/{id}"
        }
      }
    },
    "userRoles": {
      "methods": {
        "get": {
          "id": "dfareporting.userRoles.get",
          "description": "Gets one user role by ID.",
          "path": "userprofiles/{profileId}/userRoles/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{profileId}/userRoles/{id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "id": {
              "description": "User role ID.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "path": "userprofiles/{profileId}/userRoles",
          "flatPath": "userprofiles/{profileId}/userRoles",
          "id": "dfareporting.userRoles.list",
          "parameters": {
            "ids": {
              "format": "int64",
              "type": "string",
              "description": "Select only user roles with the specified IDs.",
              "repeated": true,
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "default": "1000",
              "maximum": "1000",
              "format": "int32",
              "type": "integer"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "location": "query",
              "type": "string"
            },
            "accountUserRoleOnly": {
              "type": "boolean",
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "location": "query"
            },
            "subaccountId": {
              "location": "query",
              "type": "string",
              "description": "Select only user roles that belong to this subaccount.",
              "format": "int64"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
[...]
