{
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "/dfareporting/v4/",
  "protocol": "rest",
  "revision": "20230210",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v4",
  "name": "dfareporting",
  "resources": {
    "countries": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/countries",
          "flatPath": "userprofiles/{profileId}/countries",
          "id": "dfareporting.countries.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "CountriesListResponse"
          },
          "description": "Retrieves a list of countries.",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "get": {
          "description": "Gets one country by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.countries.get",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "dartId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Country DART ID.",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Country"
          },
          "path": "userprofiles/{profileId}/countries/{dartId}",
          "flatPath": "userprofiles/{profileId}/countries/{dartId}"
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/cities",
          "response": {
            "$ref": "CitiesListResponse"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "regionDartIds": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only cities from these regions.",
              "type": "string"
            },
            "namePrefix": {
              "type": "string",
              "location": "query",
              "description": "Select only cities with names starting with this prefix."
            },
            "dartIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only cities with these DART IDs."
            },
            "countryDartIds": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only cities from these countries.",
              "format": "int64"
            }
          },
          "id": "dfareporting.cities.list",
          "path": "userprofiles/{profileId}/cities",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of cities, possibly filtered."
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "summaryAccountId": {
              "description": "Account ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "flatPath": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "description": "Gets the account's active ad summary by account ID.",
          "path": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountActiveAdSummary"
          }
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "mediaUpload": {
            "maxSize": "1073741824",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v4/userprofiles/{profileId}/creativeAssets/{advertiserId}/creativeAssets"
              }
            }
          },
          "id": "dfareporting.creativeAssets.insert",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "supportsMediaUpload": true,
          "description": "Inserts a new creative asset.",
          "flatPath": "userprofiles/{profileId}/creativeAssets/{advertiserId}/creativeAssets",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "httpMethod": "POST",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Advertiser ID of this creative. This is a required field."
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "path": "userprofiles/{profileId}/creativeAssets/{advertiserId}/creativeAssets"
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Placement strategy ID."
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementStrategies.delete",
          "path": "userprofiles/{profileId}/placementStrategies/{id}",
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "description": "Deletes an existing placement strategy."
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.placementStrategies.update",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "path": "userprofiles/{profileId}/placementStrategies",
          "description": "Updates an existing placement strategy.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "get": {
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one placement strategy by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementStrategies.get",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/placementStrategies/{id}",
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "description": "Placement strategy ID.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "PlacementStrategy ID."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.placementStrategies.patch",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "path": "userprofiles/{profileId}/placementStrategies",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only placement strategies with these IDs."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "maximum": "1000",
              "minimum": "0",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID"
            }
          },
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "path": "userprofiles/{profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.placementStrategies.list"
        },
        "insert": {
          "id": "dfareporting.placementStrategies.insert",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Inserts a new placement strategy.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/placementStrategies"
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "description": "TargetingTemplate ID.",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{profileId}/targetingTemplates",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "response": {
            "$ref": "TargetingTemplate"
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/targetingTemplates",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging.",
          "id": "dfareporting.targetingTemplates.list",
          "path": "userprofiles/{profileId}/targetingTemplates",
          "parameters": {
            "ids": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only targeting templates with these IDs."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "maximum": "1000",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "description": "Select only targeting templates with this advertiser ID.",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "type": "string"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "location": "query",
              "default": "ID"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "response": {
            "$ref": "TargetingTemplate"
          },
          "description": "Updates an existing targeting template.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.update",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/targetingTemplates"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{profileId}/targetingTemplates/{id}",
          "flatPath": "userprofiles/{profileId}/targetingTemplates/{id}",
          "parameters": {
            "id": {
              "description": "Targeting template ID.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "id": "dfareporting.targetingTemplates.get",
          "httpMethod": "GET",
          "description": "Gets one targeting template by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Inserts a new targeting template.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/targetingTemplates",
          "id": "dfareporting.targetingTemplates.insert",
          "path": "userprofiles/{profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TargetingTemplate"
          }
        }
      }
    },
    "sizes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Size"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "location": "path",
              "format": "int64",
              "description": "Size ID.",
              "required": true,
              "type": "string"
            }
          },
          "path": "userprofiles/{profileId}/sizes/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one size by ID.",
          "id": "dfareporting.sizes.get",
          "flatPath": "userprofiles/{profileId}/sizes/{id}"
        },
        "list": {
          "response": {
            "$ref": "SizesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/sizes",
          "parameters": {
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only sizes with these IDs.",
              "repeated": true,
              "format": "int64"
            },
            "iabStandard": {
              "description": "Select only IAB standard sizes.",
              "location": "query",
              "type": "boolean"
            },
            "width": {
              "minimum": "0",
              "format": "int32",
              "maximum": "32767",
              "type": "integer",
              "location": "query",
              "description": "Select only sizes with this width."
            },
            "height": {
              "location": "query",
              "maximum": "32767",
              "type": "integer",
              "format": "int32",
              "description": "Select only sizes with this height.",
              "minimum": "0"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.sizes.list",
          "path": "userprofiles/{profileId}/sizes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI."
        },
        "insert": {
          "id": "dfareporting.sizes.insert",
          "request": {
            "$ref": "Size"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/sizes",
          "description": "Inserts a new size.",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{profileId}/sizes",
          "httpMethod": "POST",
          "response": {
            "$ref": "Size"
          }
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/userRolePermissions",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only user role permissions with these IDs.",
              "repeated": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "description": "Gets a list of user role permissions, possibly filtered.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/userRolePermissions",
          "id": "dfareporting.userRolePermissions.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one user role permission by ID.",
          "flatPath": "userprofiles/{profileId}/userRolePermissions/{id}",
          "id": "dfareporting.userRolePermissions.get",
          "response": {
            "$ref": "UserRolePermission"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/userRolePermissions/{id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "User role permission ID.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/languages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of languages.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/languages",
          "id": "dfareporting.languages.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "path": "userprofiles/{profileId}/metros",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of metros.",
          "id": "dfareporting.metros.list",
          "response": {
            "$ref": "MetrosListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{profileId}/metros"
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The value of the nextToken from the previous result page.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "location": "query",
              "default": "100",
              "type": "integer",
              "maximum": "100",
              "format": "int32"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "DimensionValueList"
          },
          "description": "Retrieves list of report dimension values for a list of filters.",
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "id": "dfareporting.dimensionValues.query",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/browsers",
          "httpMethod": "GET",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            }
          },
          "id": "dfareporting.browsers.list",
          "flatPath": "userprofiles/{profileId}/browsers",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of browsers."
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "parameters": {
            "issueMonth": {
              "location": "query",
              "type": "string",
              "description": "Month for which invoices are needed in the format YYYYMM. Required field"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "minimum": "0",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000"
            },
            "advertiserId": {
              "type": "string",
              "location": "path",
              "description": "Advertiser ID of this invoice.",
              "required": true,
              "format": "int64"
            }
          },
          "id": "dfareporting.advertiserInvoices.list",
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "path": "userprofiles/{profileId}/advertisers/{advertiserId}/invoices",
          "flatPath": "userprofiles/{profileId}/advertisers/{advertiserId}/invoices",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "update": {
          "id": "dfareporting.accounts.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{profileId}/accounts",
          "flatPath": "userprofiles/{profileId}/accounts",
          "description": "Updates an existing account."
        },
        "patch": {
          "flatPath": "userprofiles/{profileId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "description": "Updates an existing account. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/accounts",
          "id": "dfareporting.accounts.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Account ID.",
              "location": "query",
              "required": true
            }
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "response": {
            "$ref": "AccountsListResponse"
          },
          "parameters": {
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only accounts with these IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "maximum": "1000",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "minimum": "0"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/accounts",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{profileId}/accounts",
          "id": "dfareporting.accounts.list"
        },
        "get": {
          "flatPath": "userprofiles/{profileId}/accounts/{id}",
          "path": "userprofiles/{profileId}/accounts/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one account by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Account ID.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "response": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.get"
        }
      }
    },
    "directorySites": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.insert",
          "path": "userprofiles/{profileId}/directorySites",
          "flatPath": "userprofiles/{profileId}/directorySites",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "DirectorySite"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new directory site."
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "DirectorySite"
          },
          "flatPath": "userprofiles/{profileId}/directorySites/{id}",
          "id": "dfareporting.directorySites.get",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "format": "int64",
              "location": "path",
              "description": "Directory site ID.",
              "type": "string",
              "required": true
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/directorySites/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one directory site by ID."
        },
        "list": {
          "id": "dfareporting.directorySites.list",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/directorySites",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "acceptsInStreamVideoPlacements": {
              "type": "boolean",
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\"."
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "maximum": "1000",
              "minimum": "0",
              "type": "integer"
            },
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites."
            },
            "ids": {
              "description": "Select only directory sites with these IDs.",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "acceptsInterstitialPlacements": {
              "type": "boolean",
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "default": "ASCENDING"
            },
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{profileId}/directorySites",
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "subaccounts": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/subaccounts",
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "type": "integer",
              "minimum": "0"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only subaccounts with these IDs.",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/subaccounts",
          "id": "dfareporting.subaccounts.list"
        },
        "update": {
          "path": "userprofiles/{profileId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing subaccount.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{profileId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          }
        },
        "patch": {
          "request": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "id": "dfareporting.subaccounts.patch",
          "response": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{profileId}/subaccounts",
          "parameters": {
            "id": {
              "required": true,
              "description": "Subaccount ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/subaccounts"
        },
        "get": {
          "description": "Gets one subaccount by ID.",
          "path": "userprofiles/{profileId}/subaccounts/{id}",
          "response": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.subaccounts.get",
          "flatPath": "userprofiles/{profileId}/subaccounts/{id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Subaccount ID.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.insert",
          "response": {
            "$ref": "Subaccount"
          },
          "description": "Inserts a new subaccount.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/subaccounts"
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "path": "userprofiles/{profileId}/targetableRemarketingLists",
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/targetableRemarketingLists",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "id": "dfareporting.targetableRemarketingLists.list",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active or only inactive targetable remarketing lists.",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "maximum": "1000",
              "minimum": "0",
              "type": "integer"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Select only targetable remarketing lists targetable by these advertisers.",
              "format": "int64"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/targetableRemarketingLists/{id}",
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "httpMethod": "GET",
          "id": "dfareporting.targetableRemarketingLists.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "description": "Remarketing list ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/targetableRemarketingLists/{id}",
          "description": "Gets one remarketing list by ID."
        }
      }
    },
    "postalCodes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "PostalCode"
          },
          "description": "Gets one postal code by ID.",
          "flatPath": "userprofiles/{profileId}/postalCodes/{code}",
          "path": "userprofiles/{profileId}/postalCodes/{code}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "code": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Postal code ID."
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.postalCodes.get"
        },
        "list": {
          "id": "dfareporting.postalCodes.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/postalCodes",
          "httpMethod": "GET",
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/postalCodes",
          "description": "Retrieves a list of postal codes.",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        }
      }
    },
    "campaigns": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Campaign"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.campaigns.insert",
          "flatPath": "userprofiles/{profileId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/campaigns",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Inserts a new campaign.",
          "request": {
            "$ref": "Campaign"
          }
        },
        "get": {
          "response": {
            "$ref": "Campaign"
          },
          "id": "dfareporting.campaigns.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/campaigns/{id}",
          "description": "Gets one campaign by ID.",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Campaign ID.",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/campaigns/{id}"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "location": "query",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "maximum": "1000"
            },
            "advertiserIds": {
              "type": "string",
              "description": "Select only campaigns that belong to these advertisers.",
              "repeated": true,
              "format": "int64",
              "location": "query"
            },
            "archived": {
              "type": "boolean",
              "location": "query",
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns."
            },
            "overriddenEventTagId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only campaigns that have overridden this event tag ID."
            },
            "ids": {
              "repeated": true,
              "description": "Select only campaigns with these IDs.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\"."
            },
            "atLeastOneOptimizationActivity": {
              "type": "boolean",
              "location": "query",
              "description": "Select only campaigns that have at least one optimization activity."
            },
            "advertiserGroupIds": {
              "format": "int64",
              "repeated": true,
              "description": "Select only campaigns whose advertisers belong to these advertiser groups.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "description": "Select only campaigns that belong to this subaccount.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID"
            },
            "excludedIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Exclude campaigns with these IDs."
            }
          },
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{profileId}/campaigns",
          "path": "userprofiles/{profileId}/campaigns",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.campaigns.list"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/campaigns",
          "parameters": {
            "id": {
              "format": "int64",
              "location": "query",
              "description": "Campaign ID.",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.campaigns.patch",
          "response": {
            "$ref": "Campaign"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing campaign. This method supports patch semantics.",
          "path": "userprofiles/{profileId}/campaigns",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Campaign"
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "id": "dfareporting.campaigns.update",
          "response": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing campaign.",
          "flatPath": "userprofiles/{profileId}/campaigns",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{profileId}/campaigns",
          "request": {
            "$ref": "Campaign"
          }
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "Mobile carrier ID.",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "MobileCarrier"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/mobileCarriers/{id}",
          "description": "Gets one mobile carrier by ID.",
          "path": "userprofiles/{profileId}/mobileCarriers/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.mobileCarriers.get"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/mobileCarriers",
          "path": "userprofiles/{profileId}/mobileCarriers",
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.mobileCarriers.list",
          "description": "Retrieves a list of mobile carriers."
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "insert": {
          "id": "dfareporting.floodlightActivities.insert",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{profileId}/floodlightActivities",
          "httpMethod": "POST",
          "path": "userprofiles/{profileId}/floodlightActivities",
          "description": "Inserts a new floodlight activity.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "description": "Updates an existing floodlight activity. This method supports patch semantics.",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{profileId}/floodlightActivities",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivities.patch",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "description": "FloodlightActivity ID.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/floodlightActivities",
          "httpMethod": "PATCH"
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivities.delete",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "format": "int64",
              "location": "path",
              "description": "Floodlight activity ID.",
              "type": "string",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/floodlightActivities/{id}",
          "flatPath": "userprofiles/{profileId}/floodlightActivities/{id}",
          "httpMethod": "DELETE",
          "description": "Deletes an existing floodlight activity."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "path": "userprofiles/{profileId}/floodlightActivities",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\"."
            },
            "floodlightActivityGroupType": {
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "floodlightConfigurationId": {
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query"
            },
            "floodlightActivityGroupIds": {
              "repeated": true,
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ASCENDING"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "maximum": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "format": "int32",
              "type": "integer"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result."
            },
            "tagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified tag string.",
              "location": "query"
            },
            "floodlightActivityGroupName": {
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "floodlightActivityGroupTagString": {
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activities with the specified floodlight activity group tag string."
            }
          },
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.list"
        },
        "get": {
          "id": "dfareporting.floodlightActivities.get",
          "flatPath": "userprofiles/{profileId}/floodlightActivities/{id}",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Floodlight activity ID.",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/floodlightActivities/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one floodlight activity by ID."
        },
        "generatetag": {
          "id": "dfareporting.floodlightActivities.generatetag",
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "description": "Generates a tag for a floodlight activity.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/floodlightActivities/generatetag",
          "parameters": {
            "floodlightActivityId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Floodlight activity ID for which we want to generate a tag."
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "POST",
          "path": "userprofiles/{profileId}/floodlightActivities/generatetag",
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "path": "userprofiles/{profileId}/floodlightActivities",
          "description": "Updates an existing floodlight activity.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          },
          "response": {
            "$ref": "FloodlightActivity"
          }
        }
      }
    },
    "inventoryItems": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "id": {
              "description": "Inventory item ID.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Project ID for order documents."
            }
          },
          "flatPath": "userprofiles/{profileId}/projects/{projectId}/inventoryItems/{id}",
          "path": "userprofiles/{profileId}/projects/{projectId}/inventoryItems/{id}",
          "id": "dfareporting.inventoryItems.get",
          "parameterOrder": [
            "profileId",
            "projectId",
            "id"
          ],
          "description": "Gets one inventory item by ID.",
          "response": {
            "$ref": "InventoryItem"
          }
        },
        "list": {
          "response": {
            "$ref": "InventoryItemsListResponse"
          },
          "description": "Retrieves a list of inventory items, possibly filtered. This method supports paging.",
          "path": "userprofiles/{profileId}/projects/{projectId}/inventoryItems",
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "inPlan": {
              "description": "Select only inventory items that are in plan.",
              "location": "query",
              "type": "boolean"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only inventory items with these IDs.",
              "type": "string",
              "format": "int64"
            },
            "projectId": {
              "format": "int64",
              "type": "string",
              "description": "Project ID for order documents.",
              "location": "path",
              "required": true
            },
            "orderId": {
              "description": "Select only inventory items that belong to specified orders.",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "siteId": {
              "format": "int64",
              "description": "Select only inventory items that are associated with these sites.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "default": "1000",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "type": {
              "description": "Select only inventory items with this type.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "PLANNING_PLACEMENT_TYPE_REGULAR",
                "PLANNING_PLACEMENT_TYPE_CREDIT"
              ]
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "projectId"
          ],
          "id": "dfareporting.inventoryItems.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/projects/{projectId}/inventoryItems"
        }
      }
    },
    "platformTypes": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/platformTypes",
          "id": "dfareporting.platformTypes.list",
          "path": "userprofiles/{profileId}/platformTypes",
          "description": "Retrieves a list of platform types.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlatformTypesListResponse"
          }
        },
        "get": {
          "flatPath": "userprofiles/{profileId}/platformTypes/{id}",
          "path": "userprofiles/{profileId}/platformTypes/{id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Platform type ID."
            }
          },
          "id": "dfareporting.platformTypes.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one platform type by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlatformType"
          }
        }
      }
    },
    "creatives": {
      "methods": {
        "get": {
          "id": "dfareporting.creatives.get",
          "description": "Gets one creative by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "description": "Creative ID.",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Creative"
          },
          "path": "userprofiles/{profileId}/creatives/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/creatives/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "path": "userprofiles/{profileId}/creatives",
          "id": "dfareporting.creatives.insert",
          "request": {
            "$ref": "Creative"
          },
          "description": "Inserts a new creative.",
          "response": {
            "$ref": "Creative"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/creatives",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "response": {
            "$ref": "Creative"
          },
          "id": "dfareporting.creatives.update",
          "httpMethod": "PUT",
          "path": "userprofiles/{profileId}/creatives",
          "description": "Updates an existing creative.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/creatives",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "id": "dfareporting.creatives.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/creatives",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Creative ID.",
              "required": true
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "Creative"
          },
          "request": {
            "$ref": "Creative"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/creatives",
          "description": "Updates an existing creative. This method supports patch semantics."
        },
        "list": {
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "CreativesListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/creatives",
          "path": "userprofiles/{profileId}/creatives",
          "parameters": {
            "campaignId": {
              "format": "int64",
              "location": "query",
              "description": "Select only creatives with this campaign ID.",
              "type": "string"
            },
            "types": {
              "repeated": true,
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only creatives with these creative types.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "description": "Select only creatives with this advertiser ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\"."
            },
            "sizeIds": {
              "repeated": true,
              "description": "Select only creatives with these size IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "studioCreativeId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only creatives corresponding to this Studio creative ID."
            },
            "active": {
              "location": "query",
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "type": "boolean"
            },
            "companionCreativeIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only in-stream video creatives with these companion IDs.",
              "format": "int64"
            },
            "creativeFieldIds": {
              "description": "Select only creatives with these creative field IDs.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "maxResults": {
              "location": "query",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "minimum": "0",
              "format": "int32",
              "default": "1000"
            },
            "archived": {
              "type": "boolean",
              "location": "query",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives."
            },
[...]
