{
  "documentationLink": "https://cloud.google.com/vision/",
  "revision": "20230210",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudVisionV1p4beta1WebDetectionWebLabel": {
      "description": "Label to provide extra metadata for the web detection.",
      "id": "GoogleCloudVisionV1p4beta1WebDetectionWebLabel",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "label": {
          "description": "Label for extra metadata.",
          "type": "string"
        }
      }
    },
    "DetectedLanguage": {
      "type": "object",
      "id": "DetectedLanguage",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse": {
      "description": "A list of file annotation responses.",
      "properties": {
        "responses": {
          "description": "The list of file annotation responses, each response corresponding to each AnnotateFileRequest in BatchAnnotateFilesRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AnnotateFileResponse"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse"
    },
    "GoogleCloudVisionV1p3beta1Word": {
      "id": "GoogleCloudVisionV1p3beta1Word",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "type": "number"
        },
        "symbols": {
          "type": "array",
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Symbol"
          }
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the word."
        }
      },
      "description": "A word representation.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1WebDetectionWebImage": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The result image URL.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1WebDetectionWebImage",
      "description": "Metadata for online images."
    },
    "SafeSearchAnnotation": {
      "id": "SafeSearchAnnotation",
      "type": "object",
      "properties": {
        "racy": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas."
        },
        "medical": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Likelihood that this is a medical image.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string"
        },
        "adult": {
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "violence": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "description": "Likelihood that this image contains violent content."
        },
        "spoof": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "type": "string"
        }
      },
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence)."
    },
    "GoogleCloudVisionV1p1beta1SafeSearchAnnotation": {
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "id": "GoogleCloudVisionV1p1beta1SafeSearchAnnotation",
      "properties": {
        "racy": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "adult": {
          "type": "string",
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "violence": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Likelihood that this image contains violent content.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "spoof": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive."
        },
        "medical": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that this is a medical image.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1CropHintsAnnotation": {
      "id": "GoogleCloudVisionV1p1beta1CropHintsAnnotation",
      "description": "Set of crop hints that are used to generate new crops when serving images.",
      "properties": {
        "cropHints": {
          "description": "Crop hint results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1CropHint"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResults": {
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResults",
      "type": "object",
      "properties": {
        "indexTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult"
          },
          "description": "List of results, one for each product match."
        },
        "productGroupedResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult"
          },
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results."
        }
      }
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product."
        },
        "productLabels": {
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "KeyValue"
          },
          "type": "array"
        },
        "productCategory": {
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long."
        }
      },
      "description": "A Product contains ReferenceImages."
    },
    "GoogleCloudVisionV1p3beta1ImageProperties": {
      "id": "GoogleCloudVisionV1p3beta1ImageProperties",
      "properties": {
        "dominantColors": {
          "$ref": "GoogleCloudVisionV1p3beta1DominantColorsAnnotation",
          "description": "If present, dominant colors completed successfully."
        }
      },
      "type": "object",
      "description": "Stores image properties, such as dominant colors."
    },
    "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty": {
      "properties": {
        "detectedBreak": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak",
          "description": "Detected start or end of a text segment."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        }
      },
      "description": "Additional information detected on the structural component.",
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty"
    },
    "GoogleCloudVisionV1p4beta1GcsSource": {
      "id": "GoogleCloudVisionV1p4beta1GcsSource",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported."
        }
      },
      "description": "The Google Cloud Storage location where the input will be read from.",
      "type": "object"
    },
    "Position": {
      "type": "object",
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "id": "Position",
      "properties": {
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "z": {
          "format": "float",
          "description": "Z coordinate (or depth).",
          "type": "number"
        }
      }
    },
    "Vertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "id": "Vertex",
      "properties": {
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "Y coordinate."
        },
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ProductKeyValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      },
      "description": "A product label represented as a key-value pair.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1ProductKeyValue"
    },
    "GoogleCloudVisionV1p1beta1DominantColorsAnnotation": {
      "id": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation",
      "properties": {
        "colors": {
          "description": "RGB color values with their score and pixel fraction.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ColorInfo"
          },
          "type": "array"
        }
      },
      "description": "Set of dominant colors and their corresponding scores.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1TextAnnotation": {
      "type": "object",
      "properties": {
        "pages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Page"
          },
          "description": "List of pages detected by OCR.",
          "type": "array"
        },
        "text": {
          "description": "UTF-8 text detected on the pages.",
          "type": "string"
        }
      },
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -\u003e Page -\u003e Block -\u003e Paragraph -\u003e Word -\u003e Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail.",
      "id": "GoogleCloudVisionV1p3beta1TextAnnotation"
    },
    "GoogleCloudVisionV1p3beta1ProductKeyValue": {
      "type": "object",
      "description": "A product label represented as a key-value pair.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1ProductKeyValue"
    },
    "GoogleCloudVisionV1p2beta1Block": {
      "id": "GoogleCloudVisionV1p2beta1Block",
      "type": "object",
      "description": "Logical element on the page.",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "paragraphs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Paragraph"
          },
          "description": "List of paragraphs in this block (if this blocks is of type text)."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results on the block. Range [0, 1]."
        },
        "blockType": {
          "description": "Detected block type (text, image etc) for this block.",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "type": "string"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the block."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1AnnotateImageResponse": {
      "description": "Response to an image annotation request.",
      "properties": {
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p1beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1ImageProperties"
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation"
          },
          "type": "array"
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1CropHintsAnnotation"
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "type": "array"
        },
        "fullTextAnnotation": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set."
        },
        "logoAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "type": "array",
          "description": "If present, logo detection has completed successfully."
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1SafeSearchAnnotation"
        },
        "faceAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1FaceAnnotation"
          },
          "description": "If present, face detection has completed successfully."
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "description": "If present, text (OCR) detection has completed successfully."
        },
        "landmarkAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "description": "If present, landmark detection has completed successfully."
        },
        "productSearchResults": {
          "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResults",
          "description": "If present, product search has completed successfully."
        },
        "context": {
          "$ref": "GoogleCloudVisionV1p1beta1ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1AnnotateImageResponse"
    },
    "GoogleCloudVisionV1p1beta1GcsSource": {
      "id": "GoogleCloudVisionV1p1beta1GcsSource",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      },
      "description": "The Google Cloud Storage location where the input will be read from.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1TextAnnotationDetectedLanguage": {
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedLanguage",
      "description": "Detected language for a structural component.",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range [0, 1]."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ProductSearchResults": {
      "properties": {
        "results": {
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResultsResult"
          },
          "type": "array"
        },
        "productGroupedResults": {
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResultsGroupedResult"
          },
          "type": "array"
        },
        "indexTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results."
        }
      },
      "type": "object",
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p4beta1ProductSearchResults"
    },
    "GoogleCloudVisionV1p2beta1ProductKeyValue": {
      "properties": {
        "value": {
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        },
        "key": {
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1ProductKeyValue",
      "description": "A product label represented as a key-value pair.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1EntityAnnotation": {
      "id": "GoogleCloudVisionV1p3beta1EntityAnnotation",
      "description": "Set of detected entity features.",
      "properties": {
        "properties": {
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Property"
          }
        },
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "topicality": {
          "type": "number",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "format": "float"
        },
        "score": {
          "description": "Overall score of the result. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "locations": {
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocationInfo"
          },
          "type": "array"
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "locale": {
          "type": "string",
          "description": "The language code for the locale in which the entity textual `description` is expressed."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1]."
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1ProductSearchResultsResult": {
      "properties": {
        "product": {
          "$ref": "GoogleCloudVisionV1p2beta1Product",
          "description": "The Product."
        },
        "score": {
          "type": "number",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "format": "float"
        },
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1ProductSearchResultsResult",
      "type": "object",
      "description": "Information about a product."
    },
    "GoogleCloudVisionV1p1beta1Property": {
      "id": "GoogleCloudVisionV1p1beta1Property",
      "properties": {
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Value of numeric properties."
        },
        "value": {
          "type": "string",
          "description": "Value of the property."
        },
        "name": {
          "description": "Name of the property.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A `Property` consists of a user-supplied name/value pair."
    },
    "FaceAnnotation": {
      "type": "object",
      "id": "FaceAnnotation",
      "description": "A face annotation object contains the results of face detection.",
      "properties": {
        "tiltAngle": {
          "format": "float",
          "type": "number",
          "description": "Pitch angle, which indicates the upwards/downwards angle that the face is pointing relative to the image's horizontal plane. Range [-180,180]."
        },
        "surpriseLikelihood": {
          "type": "string",
          "description": "Surprise likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "detectionConfidence": {
          "format": "float",
          "description": "Detection confidence. Range [0, 1].",
          "type": "number"
        },
        "panAngle": {
          "format": "float",
          "type": "number",
          "description": "Yaw angle, which indicates the leftward/rightward angle that the face is pointing relative to the vertical plane perpendicular to the image. Range [-180,180]."
        },
        "underExposedLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Under-exposed likelihood.",
          "type": "string"
        },
        "rollAngle": {
          "type": "number",
          "format": "float",
          "description": "Roll angle, which indicates the amount of clockwise/anti-clockwise rotation of the face relative to the image vertical about the axis perpendicular to the face. Range [-180,180]."
        },
        "landmarks": {
          "items": {
            "$ref": "Landmark"
          },
          "type": "array",
          "description": "Detected face landmarks."
        },
        "angerLikelihood": {
          "type": "string",
          "description": "Anger likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "landmarkingConfidence": {
          "type": "number",
          "description": "Face landmarking confidence. Range [0, 1].",
          "format": "float"
        },
        "boundingPoly": {
          "$ref": "BoundingPoly",
          "description": "The bounding polygon around the face. The coordinates of the bounding box are in the original image's scale. The bounding box is computed to \"frame\" the face in accordance with human expectations. It is based on the landmarker results. Note that one or more x and/or y coordinates may not be generated in the `BoundingPoly` (the polygon will be unbounded) if only a partial face appears in the image to be annotated."
        },
        "joyLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Joy likelihood."
        },
        "sorrowLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Sorrow likelihood.",
          "type": "string"
        },
        "fdBoundingPoly": {
          "description": "The `fd_bounding_poly` bounding polygon is tighter than the `boundingPoly`, and encloses only the skin part of the face. Typically, it is used to eliminate the face from any image analysis that detects the \"amount of skin\" visible in an image. It is not based on the landmarker results, only on the initial face detection, hence the fd (face detection) prefix.",
          "$ref": "BoundingPoly"
        },
        "headwearLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Headwear likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "blurredLikelihood": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Blurred likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        }
      }
    },
    "GoogleCloudVisionV1p2beta1Property": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the property."
        },
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Value of numeric properties."
        },
        "value": {
          "description": "Value of the property.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "id": "GoogleCloudVisionV1p2beta1Property"
    },
    "GoogleCloudVisionV1p4beta1AnnotateImageResponse": {
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1AnnotateImageResponse",
      "properties": {
        "faceAnnotations": {
          "description": "If present, face detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1FaceAnnotation"
          }
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p4beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "fullTextAnnotation": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        },
        "safeSearchAnnotation": {
          "$ref": "GoogleCloudVisionV1p4beta1SafeSearchAnnotation",
          "description": "If present, safe-search annotation has completed successfully."
        },
        "landmarkAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          },
          "description": "If present, landmark detection has completed successfully."
        },
        "imagePropertiesAnnotation": {
          "$ref": "GoogleCloudVisionV1p4beta1ImageProperties",
          "description": "If present, image properties were extracted successfully."
        },
        "productSearchResults": {
          "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResults",
          "description": "If present, product search has completed successfully."
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p4beta1CropHintsAnnotation"
        },
        "labelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          },
          "type": "array",
          "description": "If present, label detection has completed successfully."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set."
        },
        "logoAnnotations": {
          "description": "If present, logo detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          },
          "type": "array",
          "description": "If present, text (OCR) detection has completed successfully."
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1LocalizedObjectAnnotation"
          }
        },
        "context": {
          "$ref": "GoogleCloudVisionV1p4beta1ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        }
      },
      "description": "Response to an image annotation request."
    },
    "Property": {
      "id": "Property",
      "properties": {
        "name": {
          "description": "Name of the property.",
          "type": "string"
        },
        "uint64Value": {
          "format": "uint64",
          "description": "Value of numeric properties.",
          "type": "string"
        },
        "value": {
          "description": "Value of the property.",
          "type": "string"
        }
      },
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1ColorInfo": {
      "properties": {
        "score": {
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "pixelFraction": {
          "format": "float",
          "type": "number",
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1]."
        },
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        }
      },
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "id": "GoogleCloudVisionV1p3beta1ColorInfo",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ImageAnnotationContext": {
      "id": "GoogleCloudVisionV1p1beta1ImageAnnotationContext",
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "type": "object",
      "properties": {
        "pageNumber": {
          "type": "integer",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1WebDetection": {
      "properties": {
        "partialMatchingImages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          },
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops."
        },
        "webEntities": {
          "description": "Deduced entities from similar images on the Internet.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebEntity"
          }
        },
        "bestGuessLabels": {
          "type": "array",
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebLabel"
          }
        },
        "visuallySimilarImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          },
          "description": "The visually similar image results.",
          "type": "array"
        },
        "pagesWithMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebPage"
          },
          "description": "Web pages containing the matching images from the Internet.",
          "type": "array"
        },
        "fullMatchingImages": {
          "type": "array",
          "description": "Fully matching images from the Internet. Can include resized copies of the query image.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          }
        }
      },
      "id": "GoogleCloudVisionV1p1beta1WebDetection",
      "type": "object",
      "description": "Relevant information for the image from the Internet."
    },
    "GoogleCloudVisionV1p3beta1Position": {
      "id": "GoogleCloudVisionV1p3beta1Position",
      "type": "object",
      "properties": {
        "z": {
          "type": "number",
          "format": "float",
          "description": "Z coordinate (or depth)."
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        }
      },
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image."
    },
    "GoogleCloudVisionV1p3beta1AnnotateImageResponse": {
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1AnnotateImageResponse",
      "properties": {
        "landmarkAnnotations": {
          "description": "If present, landmark detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          }
        },
        "imagePropertiesAnnotation": {
          "$ref": "GoogleCloudVisionV1p3beta1ImageProperties",
          "description": "If present, image properties were extracted successfully."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set."
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "type": "array",
          "description": "If present, text (OCR) detection has completed successfully."
        },
        "cropHintsAnnotation": {
          "$ref": "GoogleCloudVisionV1p3beta1CropHintsAnnotation",
          "description": "If present, crop hints have completed successfully."
        },
        "fullTextAnnotation": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "type": "array"
        },
        "context": {
          "$ref": "GoogleCloudVisionV1p3beta1ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "productSearchResults": {
          "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResults",
          "description": "If present, product search has completed successfully."
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation"
          }
        },
        "logoAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "type": "array",
          "description": "If present, logo detection has completed successfully."
        },
        "safeSearchAnnotation": {
          "$ref": "GoogleCloudVisionV1p3beta1SafeSearchAnnotation",
          "description": "If present, safe-search annotation has completed successfully."
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1FaceAnnotation"
          },
          "type": "array",
          "description": "If present, face detection has completed successfully."
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p3beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        }
      },
      "description": "Response to an image annotation request."
    },
    "GoogleCloudVisionV1p4beta1OutputConfig": {
      "id": "GoogleCloudVisionV1p4beta1OutputConfig",
      "properties": {
        "batchSize": {
          "format": "int32",
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations.",
          "type": "integer"
        },
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output(s) to.",
          "$ref": "GoogleCloudVisionV1p4beta1GcsDestination"
        }
      },
      "description": "The desired output location and metadata.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1CropHint": {
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "properties": {
        "importanceFraction": {
          "type": "number",
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "format": "float"
        },
        "boundingPoly": {
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale.",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1CropHint",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Page": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Page",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results on the page. Range [0, 1]."
        },
        "property": {
          "description": "Additional information detected on the page.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels."
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Block"
          },
          "description": "List of blocks of text, images etc on this page.",
          "type": "array"
        },
        "height": {
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Detected page from OCR."
    },
    "GoogleCloudVisionV1p4beta1ProductSearchResultsObjectAnnotation": {
      "properties": {
        "mid": {
          "type": "string",
          "description": "Object ID that should align with EntityAnnotation mid."
        },
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        },
        "score": {
          "description": "Score of the result. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1ProductSearchResultsObjectAnnotation",
      "description": "Prediction for what the object in the bounding box is.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse": {
      "id": "GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse",
      "type": "object",
      "description": "The response for a single offline file annotation request.",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudVisionV1p3beta1OutputConfig",
          "description": "The output location and metadata from AsyncAnnotateFileRequest."
        }
      }
    },
    "WebDetection": {
      "description": "Relevant information for the image from the Internet.",
      "id": "WebDetection",
      "type": "object",
      "properties": {
        "webEntities": {
          "description": "Deduced entities from similar images on the Internet.",
          "items": {
            "$ref": "WebEntity"
          },
          "type": "array"
        },
        "fullMatchingImages": {
          "type": "array",
          "items": {
            "$ref": "WebImage"
          },
          "description": "Fully matching images from the Internet. Can include resized copies of the query image."
        },
        "visuallySimilarImages": {
          "type": "array",
          "description": "The visually similar image results.",
          "items": {
            "$ref": "WebImage"
          }
        },
        "partialMatchingImages": {
          "type": "array",
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "WebImage"
          }
        },
        "pagesWithMatchingImages": {
          "type": "array",
          "description": "Web pages containing the matching images from the Internet.",
          "items": {
            "$ref": "WebPage"
          }
        },
        "bestGuessLabels": {
          "items": {
            "$ref": "WebLabel"
          },
          "type": "array",
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web."
        }
      }
    },
    "WebLabel": {
      "description": "Label to provide extra metadata for the web detection.",
      "type": "object",
      "id": "WebLabel",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "label": {
          "description": "Label for extra metadata.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1ImageContext": {
      "properties": {
        "languageHints": {
          "description": "List of languages to use for TEXT_DETECTION. In most cases, an empty value yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting `language_hints` is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong). Text detection returns an error if one or more of the specified languages is not one of the [supported languages](https://cloud.google.com/vision/docs/languages).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cropHintsParams": {
          "description": "Parameters for crop hints annotation request.",
          "$ref": "GoogleCloudVisionV1p2beta1CropHintsParams"
        },
        "textDetectionParams": {
          "$ref": "GoogleCloudVisionV1p2beta1TextDetectionParams",
          "description": "Parameters for text detection and document text detection."
        },
        "productSearchParams": {
          "$ref": "GoogleCloudVisionV1p2beta1ProductSearchParams",
          "description": "Parameters for product search."
        },
        "webDetectionParams": {
          "description": "Parameters for web detection.",
          "$ref": "GoogleCloudVisionV1p2beta1WebDetectionParams"
        },
        "latLongRect": {
          "$ref": "GoogleCloudVisionV1p2beta1LatLongRect",
          "description": "Not used."
        }
      },
      "type": "object",
      "description": "Image context and/or feature-specific parameters.",
      "id": "GoogleCloudVisionV1p2beta1ImageContext"
    },
    "GoogleCloudVisionV1p3beta1FaceAnnotation": {
      "id": "GoogleCloudVisionV1p3beta1FaceAnnotation",
      "properties": {
        "boundingPoly": {
          "description": "The bounding polygon around the face. The coordinates of the bounding box are in the original image's scale. The bounding box is computed to \"frame\" the face in accordance with human expectations. It is based on the landmarker results. Note that one or more x and/or y coordinates may not be generated in the `BoundingPoly` (the polygon will be unbounded) if only a partial face appears in the image to be annotated.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "surpriseLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Surprise likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "tiltAngle": {
          "description": "Pitch angle, which indicates the upwards/downwards angle that the face is pointing relative to the image's horizontal plane. Range [-180,180].",
          "type": "number",
          "format": "float"
        },
        "blurredLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Blurred likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "detectionConfidence": {
          "description": "Detection confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "headwearLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Headwear likelihood.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "rollAngle": {
          "description": "Roll angle, which indicates the amount of clockwise/anti-clockwise rotation of the face relative to the image vertical about the axis perpendicular to the face. Range [-180,180].",
          "format": "float",
          "type": "number"
        },
        "fdBoundingPoly": {
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly",
          "description": "The `fd_bounding_poly` bounding polygon is tighter than the `boundingPoly`, and encloses only the skin part of the face. Typically, it is used to eliminate the face from any image analysis that detects the \"amount of skin\" visible in an image. It is not based on the landmarker results, only on the initial face detection, hence the fd (face detection) prefix."
        },
        "panAngle": {
          "description": "Yaw angle, which indicates the leftward/rightward angle that the face is pointing relative to the vertical plane perpendicular to the image. Range [-180,180].",
          "format": "float",
          "type": "number"
        },
        "joyLikelihood": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Joy likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "underExposedLikelihood": {
          "description": "Under-exposed likelihood.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "landmarks": {
          "description": "Detected face landmarks.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1FaceAnnotationLandmark"
          },
          "type": "array"
        },
        "angerLikelihood": {
          "description": "Anger likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "sorrowLikelihood": {
          "description": "Sorrow likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "landmarkingConfidence": {
          "description": "Face landmarking confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A face annotation object contains the results of face detection."
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebEntity": {
      "description": "Entity deduced from similar images on the Internet.",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries."
        },
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebEntity"
    },
    "GoogleCloudVisionV1p2beta1CropHint": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1CropHint",
      "properties": {
        "importanceFraction": {
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "type": "number",
          "format": "float"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly",
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
        },
        "confidence": {
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Single crop hint that is used to generate a new crop when serving an image."
    },
    "Result": {
      "description": "Information about a product.",
      "id": "Result",
      "type": "object",
      "properties": {
        "product": {
          "description": "The Product.",
          "$ref": "Product"
        },
        "score": {
          "format": "float",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "type": "number"
        },
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1OperationMetadata": {
      "description": "Contains metadata for the BatchAnnotateImages operation.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Current state of the batch operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ],
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time when the operation result was last updated.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the batch request was received.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1OperationMetadata"
    },
    "EntityAnnotation": {
      "id": "EntityAnnotation",
      "properties": {
        "properties": {
          "items": {
            "$ref": "Property"
          },
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "type": "array"
        },
        "topicality": {
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "mid": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "score": {
          "description": "Overall score of the result. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "confidence": {
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "BoundingPoly"
        },
        "locations": {
          "type": "array",
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "items": {
            "$ref": "LocationInfo"
          }
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        }
      },
      "description": "Set of detected entity features.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1ImageSource": {
      "description": "External image source (Google Cloud Storage or web URL image location).",
      "type": "object",
      "properties": {
        "imageUri": {
          "description": "The URI of the source image. Can be either: 1. A Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info. 2. A publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications. When both `gcs_image_uri` and `image_uri` are specified, `image_uri` takes precedence.",
          "type": "string"
        },
        "gcsImageUri": {
          "type": "string",
          "description": "**Use `image_uri` instead.** The Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1ImageSource"
    },
    "GoogleCloudVisionV1p1beta1BoundingPoly": {
      "id": "GoogleCloudVisionV1p1beta1BoundingPoly",
      "properties": {
        "normalizedVertices": {
          "description": "The bounding polygon normalized vertices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1NormalizedVertex"
          }
        },
        "vertices": {
          "description": "The bounding polygon vertices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Vertex"
          }
        }
      },
      "description": "A bounding polygon for the detected image annotation.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Symbol": {
      "type": "object",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the symbol."
        },
        "text": {
          "description": "The actual UTF-8 representation of the symbol.",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Symbol",
      "description": "A single symbol representation."
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak": {
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak",
      "description": "Detected start or end of a structural component.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "description": "Detected break type.",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ],
          "type": "string"
        },
        "isPrefix": {
          "type": "boolean",
          "description": "True if break prepends the element."
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1AnnotateFileResponse": {
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses.",
      "id": "GoogleCloudVisionV1p2beta1AnnotateFileResponse",
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p2beta1InputConfig",
          "description": "Information about the file for which this response is generated."
        },
        "totalPages": {
          "description": "This field gives the total number of pages in the file.",
          "type": "integer",
          "format": "int32"
        },
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AnnotateImageResponse"
          },
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set."
        },
        "error": {
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case.",
          "$ref": "Status"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1Vertex": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Vertex",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "int32",
          "type": "integer"
        },
        "y": {
          "format": "int32",
          "description": "Y coordinate.",
          "type": "integer"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
    },
    "GoogleCloudVisionV1p1beta1OutputConfig": {
      "id": "GoogleCloudVisionV1p1beta1OutputConfig",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudVisionV1p1beta1GcsDestination",
          "description": "The Google Cloud Storage location to write the output(s) to."
        },
        "batchSize": {
          "format": "int32",
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The desired output location and metadata."
    },
    "GoogleCloudVisionV1p4beta1WebDetectionWebImage": {
      "id": "GoogleCloudVisionV1p4beta1WebDetectionWebImage",
      "type": "object",
      "description": "Metadata for online images.",
      "properties": {
        "score": {
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float",
          "type": "number"
        },
        "url": {
          "description": "The result image URL.",
          "type": "string"
        }
      }
    },
    "NormalizedVertex": {
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "NormalizedVertex",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "type": "number",
          "format": "float"
        },
        "y": {
          "description": "Y coordinate.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse": {
      "type": "object",
      "description": "Response to a batch image annotation request.",
      "properties": {
        "responses": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AnnotateImageResponse"
          },
          "type": "array",
          "description": "Individual responses to image annotation requests within the batch."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse"
    },
    "Word": {
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "BoundingPoly"
        },
        "symbols": {
          "items": {
            "$ref": "Symbol"
          },
          "type": "array",
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order."
        },
        "property": {
          "$ref": "TextProperty",
          "description": "Additional information detected for the word."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results for the word. Range [0, 1]."
        }
      },
      "id": "Word",
      "description": "A word representation.",
      "type": "object"
    },
    "WebImage": {
      "description": "Metadata for online images.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The result image URL."
        },
        "score": {
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "WebImage",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1Celebrity": {
      "id": "GoogleCloudVisionV1p4beta1Celebrity",
      "properties": {
        "description": {
          "type": "string",
          "description": "The Celebrity's description."
        },
        "displayName": {
          "type": "string",
          "description": "The Celebrity's display name."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the preloaded Celebrity. Has the format `builtin/{mid}`."
        }
      },
      "type": "object",
      "description": "A Celebrity is a group of Faces with an identity."
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation"
    },
    "GoogleCloudVisionV1p1beta1Position": {
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        },
        "z": {
          "type": "number",
          "format": "float",
          "description": "Z coordinate (or depth)."
        }
      },
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Position"
    },
    "GoogleCloudVisionV1p3beta1FaceAnnotationLandmark": {
      "description": "A face-specific landmark (for example, a face feature).",
      "id": "GoogleCloudVisionV1p3beta1FaceAnnotationLandmark",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "description": "Face landmark type.",
          "type": "string",
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ]
        },
        "position": {
          "$ref": "GoogleCloudVisionV1p3beta1Position",
          "description": "Face landmark position."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Word": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results for the word. Range [0, 1]."
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the word."
        },
        "symbols": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Symbol"
          },
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "type": "array"
        }
      },
      "description": "A word representation.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Word"
    },
    "GoogleCloudVisionV1p4beta1ProductKeyValue": {
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1ProductKeyValue",
      "description": "A product label represented as a key-value pair.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      }
    },
    "GoogleCloudVisionV1p3beta1CropHint": {
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1CropHint",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of this being a salient region. Range [0, 1]."
        },
        "importanceFraction": {
          "format": "float",
          "type": "number",
          "description": "Fraction of importance of this salient region with respect to the original image."
        },
        "boundingPoly": {
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        }
      },
      "description": "Single crop hint that is used to generate a new crop when serving an image."
    },
    "GoogleCloudVisionV1p4beta1SafeSearchAnnotation": {
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "properties": {
        "violence": {
          "description": "Likelihood that this image contains violent content.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "medical": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "adult": {
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string"
        },
        "spoof": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "racy": {
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        }
      },
      "id": "GoogleCloudVisionV1p4beta1SafeSearchAnnotation",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1CropHint": {
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of this being a salient region. Range [0, 1]."
        },
        "importanceFraction": {
          "type": "number",
          "format": "float",
          "description": "Fraction of importance of this salient region with respect to the original image."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
        }
      },
      "id": "GoogleCloudVisionV1p4beta1CropHint"
    },
    "GoogleCloudVisionV1p2beta1TextDetectionParams": {
      "description": "Parameters for text detections. This is used to control TEXT_DETECTION and DOCUMENT_TEXT_DETECTION features.",
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1TextDetectionParams",
      "properties": {
        "advancedOcrOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of advanced OCR options to fine-tune OCR behavior."
        },
        "enableTextDetectionConfidenceScore": {
          "type": "boolean",
          "description": "By default, Cloud Vision API only includes confidence score for DOCUMENT_TEXT_DETECTION result. Set the flag to true to include confidence score for TEXT_DETECTION as well."
        }
      }
    },
    "Landmark": {
      "id": "Landmark",
      "description": "A face-specific landmark (for example, a face feature).",
      "type": "object",
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "Face landmark position."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "description": "Face landmark type.",
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
[...]
