{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "basePath": "",
  "schemas": {
    "DeployJobRun": {
      "type": "object",
      "properties": {
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy. Format is projects/{project}/locations/{location}/builds/{build}.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "DeployJobRunMetadata",
          "readOnly": true,
          "description": "Output only. Metadata containing information about the deploy job run."
        },
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the deploy failure, if available."
        },
        "failureCause": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [Required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "The deploy build did not complete within the alloted time.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "description": "Output only. The reason the deploy failed. This will always be unspecified while the deploy is in progress or if it succeeded."
        }
      },
      "description": "DeployJobRun contains information specific to a deploy `JobRun`.",
      "id": "DeployJobRun"
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata includes information associated with a `Rollout`.",
      "properties": {
        "cloudRun": {
          "readOnly": true,
          "$ref": "CloudRunMetadata",
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`."
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "DeployJob": {
      "properties": {},
      "description": "A deploy Job.",
      "id": "DeployJob",
      "type": "object"
    },
    "PipelineReadyCondition": {
      "description": "PipelineReadyCondition contains information around the status of the Pipeline.",
      "type": "object",
      "id": "PipelineReadyCondition",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the condition was updated."
        },
        "status": {
          "type": "boolean",
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline."
        }
      }
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date"
    },
    "DeliveryPipeline": {
      "description": "A `DeliveryPipeline` resource in the Google Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress.",
      "type": "object",
      "id": "DeliveryPipeline",
      "properties": {
        "suspended": {
          "description": "When suspended, no new releases or rollouts can be created, but in-progress ones will complete.",
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the `DeliveryPipeline`."
        },
        "serialPipeline": {
          "$ref": "SerialPipeline",
          "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`."
        },
        "condition": {
          "$ref": "PipelineCondition",
          "readOnly": true,
          "description": "Output only. Information around the state of the Delivery Pipeline."
        },
        "description": {
          "description": "Description of the `DeliveryPipeline`. Max length is 255 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Most recent time at which the pipeline was updated."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the pipeline was created.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "name": {
          "description": "Optional. Name of the `DeliveryPipeline`. Format is projects/{project}/ locations/{location}/deliveryPipelines/a-z{0,62}.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy."
        }
      }
    },
    "TargetsTypeCondition": {
      "type": "object",
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type.",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters."
        },
        "errorDetails": {
          "description": "Human readable error message.",
          "type": "string"
        }
      },
      "id": "TargetsTypeCondition"
    },
    "Release": {
      "id": "Release",
      "description": "A `Release` resource in the Google Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "properties": {
        "deliveryPipelineSnapshot": {
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time.",
          "readOnly": true,
          "$ref": "DeliveryPipeline"
        },
        "renderEndTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the render completed."
        },
        "description": {
          "description": "Description of the `Release`. Max length is 255 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `Release` was created.",
          "readOnly": true
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "targetArtifacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TargetArtifact"
          },
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "type": "string",
          "description": "Filepath of the Skaffold config inside of the config URI."
        },
        "name": {
          "description": "Optional. Name of the `Release`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/a-z{0,62}.",
          "type": "string"
        },
        "renderStartTime": {
          "readOnly": true,
          "description": "Output only. Time at which the render began.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetRenders": {
          "readOnly": true,
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "additionalProperties": {
            "$ref": "TargetRender"
          },
          "type": "object"
        },
        "skaffoldVersion": {
          "description": "The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Google Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "buildArtifacts": {
          "items": {
            "$ref": "BuildArtifact"
          },
          "type": "array",
          "description": "List of artifacts to pass through to Skaffold command."
        },
        "abandoned": {
          "description": "Output only. Indicates whether this is an abandoned release.",
          "readOnly": true,
          "type": "boolean"
        },
        "skaffoldConfigUri": {
          "description": "Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "targetSnapshots": {
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "readOnly": true
        },
        "condition": {
          "$ref": "ReleaseCondition",
          "description": "Output only. Information around the state of the Release.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "renderState": {
          "readOnly": true,
          "description": "Output only. Current state of the render operation.",
          "type": "string",
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ]
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the `Release`."
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ApproveRolloutRequest": {
      "id": "ApproveRolloutRequest",
      "type": "object",
      "properties": {
        "approved": {
          "type": "boolean",
          "description": "Required. True = approve; false = reject"
        }
      },
      "description": "The request object used by `ApproveRollout`."
    },
    "ReleaseNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification.",
      "type": "object",
      "properties": {
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        }
      },
      "id": "ReleaseNotificationEvent"
    },
    "Job": {
      "id": "Job",
      "properties": {
        "id": {
          "description": "Output only. The ID of the Job.",
          "type": "string",
          "readOnly": true
        },
        "verifyJob": {
          "$ref": "VerifyJob",
          "description": "Output only. A verify Job.",
          "readOnly": true
        },
        "jobRun": {
          "type": "string",
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "type": "string",
          "description": "Output only. The current state of the Job."
        },
        "deployJob": {
          "description": "Output only. A deploy Job.",
          "readOnly": true,
          "$ref": "DeployJob"
        }
      },
      "description": "Job represents an operation for a `Rollout`.",
      "type": "object"
    },
    "ReleaseRenderEvent": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states."
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change.",
      "id": "ReleaseRenderEvent"
    },
    "AbandonReleaseRequest": {
      "id": "AbandonReleaseRequest",
      "properties": {},
      "type": "object",
      "description": "The request object used by `AbandonRelease`."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "RetryJobResponse": {
      "id": "RetryJobResponse",
      "type": "object",
      "description": "The response object from 'RetryJob'.",
      "properties": {}
    },
    "TargetRender": {
      "properties": {
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "renderingState": {
          "description": "Output only. Current state of the render operation for this Target.",
          "type": "string",
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ]
        },
        "failureMessage": {
          "type": "string",
          "description": "Output only. Additional information about the render failure, if available.",
          "readOnly": true
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "readOnly": true,
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress."
        }
      },
      "type": "object",
      "description": "Details of rendering for a single target.",
      "id": "TargetRender"
    },
    "VerifyJob": {
      "description": "A verify Job.",
      "id": "VerifyJob",
      "type": "object",
      "properties": {}
    },
    "PrivatePool": {
      "type": "object",
      "id": "PrivatePool",
      "description": "Execution using a private Cloud Build pool.",
      "properties": {
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`.",
          "type": "string"
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
        }
      }
    },
    "ListReleasesResponse": {
      "description": "The response object from `ListReleases`.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releases": {
          "description": "The `Release` objects.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListReleasesResponse"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnthosCluster": {
      "description": "Information specifying an Anthos Cluster.",
      "id": "AnthosCluster",
      "properties": {
        "membership": {
          "description": "Membership of the GKE Hub-registered cluster to which to apply the Skaffold configuration. Format is `projects/{project}/locations/{location}/memberships/{membership_name}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApproveRolloutResponse": {
      "properties": {},
      "id": "ApproveRolloutResponse",
      "description": "The response object from `ApproveRollout`.",
      "type": "object"
    },
    "TargetArtifact": {
      "properties": {
        "artifactUri": {
          "description": "Output only. URI of a directory containing the artifacts. This contains deployment configuration used by Skaffold during a rollout, and all paths are relative to this location.",
          "type": "string",
          "readOnly": true
        },
        "manifestPath": {
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true,
          "type": "string"
        },
        "skaffoldConfigPath": {
          "type": "string",
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true
        }
      },
      "description": "The artifacts produced by a target render operation.",
      "id": "TargetArtifact",
      "type": "object"
    },
    "DefaultPool": {
      "type": "object",
      "id": "DefaultPool",
      "properties": {
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      },
      "description": "Execution using the default Cloud Build pool."
    },
    "Config": {
      "id": "Config",
      "type": "object",
      "description": "Service-wide configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the configuration."
        },
        "defaultSkaffoldVersion": {
          "type": "string",
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version."
        },
        "supportedVersions": {
          "type": "array",
          "description": "All supported versions of Skaffold.",
          "items": {
            "$ref": "SkaffoldVersion"
          }
        }
      }
    },
    "CloudRunMetadata": {
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is projects/{project}/locations/{location}/services/{service}."
        },
        "revision": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`."
        },
        "serviceUrls": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "CloudRunMetadata"
    },
    "AbandonReleaseResponse": {
      "properties": {},
      "description": "The response object for `AbandonRelease`.",
      "type": "object",
      "id": "AbandonReleaseResponse"
    },
    "SkaffoldVersion": {
      "type": "object",
      "description": "Details of a supported Skaffold version.",
      "id": "SkaffoldVersion",
      "properties": {
        "maintenanceModeTime": {
          "type": "string",
          "description": "The time at which this version of skaffold will enter maintenance mode.",
          "format": "google-datetime"
        },
        "supportExpirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this version of skaffold will no longer be supported."
        },
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "supportEndDate": {
          "$ref": "Date",
          "description": "Date when this version is expected to no longer be supported."
        }
      }
    },
    "CloudRunLocation": {
      "properties": {
        "location": {
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudRunLocation",
      "description": "Information specifying where to deploy a Cloud Run Service."
    },
    "DeliveryPipelineNotificationEvent": {
      "id": "DeliveryPipelineNotificationEvent",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "deliveryPipeline": {
          "type": "string",
          "description": "The name of the `Delivery Pipeline`."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification."
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "id": "AuditConfig",
      "type": "object"
    },
    "TargetNotificationEvent": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "target": {
          "description": "The name of the `Target`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string"
        }
      },
      "id": "TargetNotificationEvent",
      "type": "object",
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification."
    },
    "PipelineCondition": {
      "id": "PipelineCondition",
      "description": "PipelineCondition contains all conditions relevant to a Delivery Pipeline.",
      "properties": {
        "pipelineReadyCondition": {
          "description": "Details around the Pipeline's overall status.",
          "$ref": "PipelineReadyCondition"
        },
        "targetsPresentCondition": {
          "$ref": "TargetsPresentCondition",
          "description": "Details around targets enumerated in the pipeline."
        },
        "targetsTypeCondition": {
          "$ref": "TargetsTypeCondition",
          "description": "Details on the whether the targets enumerated in the pipeline are of the same type."
        }
      },
      "type": "object"
    },
    "TargetsPresentCondition": {
      "id": "TargetsPresentCondition",
      "description": "TargetsPresentCondition contains information on any Targets defined in the Delivery Pipeline that do not actually exist.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Last time the condition was updated.",
          "format": "google-datetime"
        },
        "missingTargets": {
          "items": {
            "type": "string"
          },
          "description": "The list of Target names that do not exist. For example, projects/{project_id}/locations/{location_name}/targets/{target_name}.",
          "type": "array"
        },
        "status": {
          "description": "True if there aren't any missing Targets.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GkeCluster": {
      "description": "Information specifying a GKE Cluster.",
      "properties": {
        "internalIp": {
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept).",
          "type": "boolean"
        },
        "cluster": {
          "type": "string",
          "description": "Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}."
        }
      },
      "type": "object",
      "id": "GkeCluster"
    },
    "BuildArtifact": {
      "id": "BuildArtifact",
      "description": "Description of an a image to use during Skaffold rendering.",
      "properties": {
        "image": {
          "type": "string",
          "description": "Image name in Skaffold configuration."
        },
        "tag": {
          "type": "string",
          "description": "Image tag to use. This will generally be the full path to an image, such as \"gcr.io/my-project/busybox:1.2.3\" or \"gcr.io/my-project/busybox@sha256:abc123\"."
        }
      },
      "type": "object"
    },
    "RolloutNotificationEvent": {
      "type": "object",
      "properties": {
        "rollout": {
          "type": "string",
          "description": "The name of the `Rollout`."
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target` that the rollout is deployed to."
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification.",
      "id": "RolloutNotificationEvent"
    },
    "DeployJobRunMetadata": {
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`.",
          "readOnly": true,
          "$ref": "CloudRunMetadata"
        }
      },
      "type": "object",
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "id": "DeployJobRunMetadata"
    },
    "Rollout": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "type": "object"
        },
        "deployStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Description of the `Rollout` for user purposes. Max length is 255 characters."
        },
        "enqueueTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "failureReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the rollout failure, if available."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was created.",
          "readOnly": true,
          "type": "string"
        },
        "approvalState": {
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ],
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ],
          "readOnly": true,
          "description": "Output only. Approval state of the `Rollout`.",
          "type": "string"
        },
        "deployingBuild": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "deployEndTime": {
          "type": "string",
          "description": "Output only. Time at which the `Rollout` finished deploying.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Optional. Name of the `Rollout`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/{release}/rollouts/a-z{0,62}.",
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata contains information about the rollout.",
          "$ref": "Metadata"
        },
        "approveTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was approved.",
          "format": "google-datetime"
        },
        "phases": {
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "items": {
            "$ref": "Phase"
          },
          "type": "array",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the `Rollout`.",
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE"
          ]
        },
        "targetId": {
          "description": "Required. The ID of Target to which this `Rollout` is deploying.",
          "type": "string"
        },
        "deployFailureCause": {
          "readOnly": true,
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the alloted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string"
        }
      },
      "description": "A `Rollout` resource in the Google Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`.",
      "id": "Rollout",
      "type": "object"
    },
    "ReleaseReadyCondition": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release."
        }
      },
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "id": "ReleaseReadyCondition"
    },
    "Standard": {
      "description": "Standard represents the standard deployment strategy.",
      "properties": {
        "verify": {
          "type": "boolean",
          "description": "Whether to verify a deployment."
        }
      },
      "type": "object",
      "id": "Standard"
    },
    "RetryJobRequest": {
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to retry."
        },
        "phaseId": {
          "description": "Required. The phase ID the Job to retry belongs to.",
          "type": "string"
        }
      },
      "id": "RetryJobRequest",
      "type": "object",
      "description": "RetryJobRequest is the request object used by `RetryJob`."
    },
    "SerialPipeline": {
      "type": "object",
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "properties": {
        "stages": {
          "description": "Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "type": "array",
          "items": {
            "$ref": "Stage"
          }
        }
      },
      "id": "SerialPipeline"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "Location"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "Target": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Time at which the `Target` was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the `Target` was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requireApproval": {
          "type": "boolean",
          "description": "Optional. Whether or not the `Target` requires approval."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Target`.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the `Target`. Max length is 255 characters.",
          "type": "string"
        },
        "gke": {
          "description": "Information specifying a GKE Cluster.",
          "$ref": "GkeCluster"
        },
        "name": {
          "description": "Optional. Name of the `Target`. Format is projects/{project}/locations/{location}/targets/a-z{0,62}.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "run": {
          "description": "Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "anthosCluster": {
          "description": "Information specifying an Anthos Cluster.",
          "$ref": "AnthosCluster"
        },
        "executionConfigs": {
          "type": "array",
          "items": {
            "$ref": "ExecutionConfig"
          },
          "description": "Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes."
        },
        "targetId": {
          "readOnly": true,
          "description": "Output only. Resource id of the `Target`.",
          "type": "string"
        }
      },
      "id": "Target",
      "description": "A `Target` resource in the Google Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed."
    },
    "DeploymentJobs": {
      "type": "object",
      "description": "Deployment job composition.",
      "properties": {
        "verifyJob": {
          "description": "Output only. The verify Job. Runs after a deploy if the deploy succeeds.",
          "$ref": "Job",
          "readOnly": true
        },
        "deployJob": {
          "$ref": "Job",
          "readOnly": true,
          "description": "Output only. The deploy Job. This is the first job run in the phase."
        }
      },
      "id": "DeploymentJobs"
    },
    "ExecutionConfig": {
      "properties": {
        "executionTimeout": {
          "type": "string",
          "description": "Optional. Execution timeout for a Cloud Build Execution. This must be between 10m and 24h in seconds format. If unspecified, a default timeout of 1h is used.",
          "format": "google-duration"
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location in which to store execution outputs. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        },
        "workerPool": {
          "type": "string",
          "description": "Optional. The resource name of the `WorkerPool`, with the format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. If this optional field is unspecified, the default Cloud Build pool will be used."
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) is used.",
          "type": "string"
        },
        "defaultPool": {
          "description": "Optional. Use default Cloud Build pool.",
          "$ref": "DefaultPool"
        },
        "usages": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Use for rendering.",
              "Use for deploying and deployment hooks.",
              "Use for deployment verification."
            ],
            "enum": [
              "EXECUTION_ENVIRONMENT_USAGE_UNSPECIFIED",
              "RENDER",
              "DEPLOY",
              "VERIFY"
            ],
            "type": "string"
          },
          "description": "Required. Usages when this configuration should be applied."
        },
        "privatePool": {
          "description": "Optional. Use private Cloud Build pool.",
          "$ref": "PrivatePool"
        }
      },
      "id": "ExecutionConfig",
      "type": "object",
      "description": "Configuration of the environment to use when calling Skaffold."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "Phase": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted."
          ],
          "description": "Output only. Current state of the Phase.",
          "readOnly": true
        },
        "deploymentJobs": {
          "readOnly": true,
          "$ref": "DeploymentJobs",
          "description": "Output only. Deployment job composition."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the Phase.",
          "readOnly": true
        }
      },
      "id": "Phase",
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "type": "object"
    },
    "ListTargetsResponse": {
      "type": "object",
      "description": "The response object from `ListTargets`.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targets": {
          "type": "array",
          "description": "The `Target` objects.",
          "items": {
            "$ref": "Target"
          }
        }
      },
      "id": "ListTargetsResponse"
    },
    "ListRolloutsResponse": {
      "type": "object",
      "description": "ListRolloutsResponse is the response object reutrned by `ListRollouts`.",
      "id": "ListRolloutsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "rollouts": {
          "description": "The `Rollout` objects.",
          "items": {
            "$ref": "Rollout"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ReleaseCondition": {
      "description": "ReleaseCondition contains all conditions relevant to a Release.",
      "properties": {
        "releaseReadyCondition": {
          "$ref": "ReleaseReadyCondition",
          "description": "Details around the Releases's overall status."
        },
        "skaffoldSupportedCondition": {
          "description": "Details around the support state of the release's skaffold version.",
          "$ref": "SkaffoldSupportedCondition"
        }
      },
      "type": "object",
      "id": "ReleaseCondition"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Strategy": {
      "id": "Strategy",
      "type": "object",
      "properties": {
        "standard": {
          "$ref": "Standard",
          "description": "Standard deployment strategy executes a single deploy and allows verifying the deployment."
        }
      },
      "description": "Strategy contains deployment strategy information."
    },
    "Expr": {
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "OperationMetadata"
    },
    "ListDeliveryPipelinesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "deliveryPipelines": {
          "type": "array",
          "description": "The `DeliveryPipeline` objects.",
          "items": {
            "$ref": "DeliveryPipeline"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListDeliveryPipelinesResponse",
      "description": "The response object from `ListDeliveryPipelines`."
    },
    "Binding": {
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "JobRunNotificationEvent": {
      "type": "object",
      "id": "JobRunNotificationEvent",
      "properties": {
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "rolloutUid": {
          "type": "string",
          "description": "Unique identifier of the `Rollout`."
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "jobRun": {
          "description": "The name of the `JobRun`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target`."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification."
    },
    "VerifyJobRun": {
      "type": "object",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "id": "VerifyJobRun",
      "properties": {
        "failureMessage": {
          "description": "Output only. Additional information about the verify failure, if available.",
          "type": "string",
          "readOnly": true
        },
        "artifactUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log."
        },
        "failureCause": {
          "readOnly": true,
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify build did not complete within the alloted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is projects/{project}/locations/{location}/builds/{build}.",
          "type": "string",
          "readOnly": true
        },
        "eventLogPath": {
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SkaffoldSupportedCondition": {
      "properties": {
        "skaffoldSupportState": {
          "enum": [
            "SKAFFOLD_SUPPORT_STATE_UNSPECIFIED",
            "SKAFFOLD_SUPPORT_STATE_SUPPORTED",
            "SKAFFOLD_SUPPORT_STATE_MAINTENANCE_MODE",
            "SKAFFOLD_SUPPORT_STATE_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This skaffold version is currently supported.",
            "This skaffold version is in maintenance mode.",
            "This skaffold version is no longer supported."
          ],
          "description": "The skaffold support state for this release's version of skaffold.",
          "type": "string"
        },
        "status": {
          "description": "True if the version of skaffold used by this release is supported.",
          "type": "boolean"
        },
        "supportExpirationTime": {
          "format": "google-datetime",
          "description": "The time at which this release's version of skaffold will no longer be supported.",
          "type": "string"
        },
        "maintenanceModeTime": {
          "description": "The time at which this release's version of skaffold will enter maintenance mode.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "SkaffoldSupportedCondition contains information about when support for the release's version of skaffold ends.",
      "type": "object",
      "id": "SkaffoldSupportedCondition"
    },
    "ListJobRunsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jobRuns": {
          "type": "array",
          "description": "The `JobRun` objects.",
          "items": {
            "$ref": "JobRun"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListJobRunsResponse",
      "description": "ListJobRunsResponse is the response object returned by `ListJobRuns`.",
      "type": "object"
    },
    "Stage": {
      "id": "Stage",
      "type": "object",
      "properties": {
        "profiles": {
          "items": {
            "type": "string"
          },
          "description": "Skaffold profiles to use when rendering the manifest for this stage's `Target`.",
          "type": "array"
        },
        "strategy": {
          "description": "Optional. The strategy to use for a `Rollout` to this stage.",
          "$ref": "Strategy"
        },
        "targetId": {
          "type": "string",
          "description": "The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects/project/locations/location/targets/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`."
        }
      },
      "description": "Stage specifies a location to which to deploy."
    },
    "JobRun": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the `JobRun`. Format is projects/{project}/locations/{location}/ deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/ {rollouts}/jobRuns/{uuid}."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the `JobRun`."
        },
        "phaseId": {
          "readOnly": true,
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in.",
          "type": "string"
        },
        "verifyJobRun": {
          "readOnly": true,
          "description": "Output only. Information specific to a verify `JobRun`.",
          "$ref": "VerifyJobRun"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` ended."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` was created.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `JobRun` was started."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the `JobRun`."
        },
        "jobId": {
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to.",
          "readOnly": true,
          "type": "string"
        },
        "deployJobRun": {
          "readOnly": true,
          "$ref": "DeployJobRun",
          "description": "Output only. Information specific to a deploy `JobRun`."
        }
      },
      "id": "JobRun",
      "type": "object",
      "description": "A `JobRun` resource in the Google Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation."
    }
  },
  "name": "clouddeploy",
  "description": "",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                }
              },
              "description": "Lists information about the supported locations for this service.",
              "parameterOrder": [
                "name"
              ],
              "id": "clouddeploy.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations"
            },
            "getConfig": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "clouddeploy.projects.locations.getConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
              "response": {
                "$ref": "Config"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                  "location": "path",
                  "description": "Required. Name of requested configuration.",
                  "type": "string"
                }
              },
              "description": "Gets the configuration for a location."
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "clouddeploy.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "deliveryPipelines": {
              "methods": {
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "id": "clouddeploy.projects.locations.deliveryPipelines.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/deliveryPipelines/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deliveryPipelines/{deliveryPipelinesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/deliveryPipelines",
                  "httpMethod": "POST",
                  "description": "Creates a new DeliveryPipeline in a given project and location.",
                  "request": {
                    "$ref": "DeliveryPipeline"
                  },
                  "id": "clouddeploy.projects.locations.deliveryPipelines.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made."
                    },
                    "parent": {
                      "description": "Required. The parent collection in which the `DeliveryPipeline` should be created. Format should be projects/{project_id}/locations/{location_name}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "deliveryPipelineId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the `DeliveryPipeline`."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
[...]
