{
  "basePath": "/dfareporting/v3.5/",
  "kind": "discovery#restDescription",
  "version": "v3.5",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "canonicalName": "Dfareporting",
  "id": "dfareporting:v3.5",
  "protocol": "rest",
  "revision": "20230210",
  "discoveryVersion": "v1",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "schemas": {
    "UserProfileList": {
      "type": "object",
      "id": "UserProfileList",
      "properties": {
        "items": {
          "description": "The user profiles returned in this response.",
          "type": "array",
          "items": {
            "$ref": "UserProfile"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\"."
        }
      },
      "description": "Represents the list of user profiles."
    },
    "DayPartTargeting": {
      "type": "object",
      "properties": {
        "daysOfWeek": {
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" ",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "userLocalTime": {
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies.",
          "type": "boolean"
        },
        "hoursOfDay": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive."
        }
      },
      "description": "Day Part Targeting.",
      "id": "DayPartTargeting"
    },
    "Campaign": {
      "type": "object",
      "id": "Campaign",
      "properties": {
        "additionalCreativeOptimizationConfigurations": {
          "description": "Additional creative optimization configurations for the campaign.",
          "items": {
            "$ref": "CreativeOptimizationConfiguration"
          },
          "type": "array"
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix override properties for this campaign.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "measurementPartnerLink": {
          "description": "Measurement partner campaign link for tag wrapping.",
          "$ref": "MeasurementPartnerCampaignLink"
        },
        "eventTagOverrides": {
          "items": {
            "$ref": "EventTagOverride"
          },
          "description": "Overrides that can be used to activate or deactivate advertiser event tags.",
          "type": "array"
        },
        "traffickerEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Campaign trafficker contact emails."
        },
        "createInfo": {
          "description": "Information about the creation of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "externalId": {
          "type": "string",
          "description": "External ID for this campaign."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field."
        },
        "defaultClickThroughEventTagProperties": {
          "description": "Click-through event tag ID override properties for this campaign.",
          "$ref": "DefaultClickThroughEventTagProperties"
        },
        "archived": {
          "description": "Whether this campaign has been archived.",
          "type": "boolean"
        },
        "defaultLandingPageId": {
          "type": "string",
          "format": "int64",
          "description": "The default landing page ID for this campaign."
        },
        "adBlockingConfiguration": {
          "description": "Ad blocking settings for this campaign.",
          "$ref": "AdBlockingConfiguration"
        },
        "subaccountId": {
          "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this campaign. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this campaign. This is a read-only auto-generated field."
        },
        "audienceSegmentGroups": {
          "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups.",
          "type": "array",
          "items": {
            "$ref": "AudienceSegmentGroup"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\".",
          "type": "string"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "creativeGroupIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of creative group IDs that are assigned to the campaign."
        },
        "billingInvoiceCode": {
          "description": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign.",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "Arbitrary comments about this campaign. Must be less than 256 characters long."
        },
        "creativeOptimizationConfiguration": {
          "$ref": "CreativeOptimizationConfiguration",
          "description": "Creative optimization configuration for the campaign."
        },
        "nielsenOcrEnabled": {
          "type": "boolean",
          "description": "Whether Nielsen reports are enabled for this campaign."
        },
        "advertiserGroupId": {
          "description": "Advertiser group ID of the associated advertiser.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this campaign. This is a required field.",
          "type": "string"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field."
        }
      },
      "description": "Contains properties of a Campaign Manager campaign."
    },
    "AdvertiserGroup": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this advertiser group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\".",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank.",
          "type": "string"
        }
      },
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "id": "AdvertiserGroup"
    },
    "Size": {
      "type": "object",
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\"."
        },
        "iab": {
          "type": "boolean",
          "description": "IAB standard size. This is a read-only, auto-generated field."
        },
        "height": {
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Size"
    },
    "TechnologyTargeting": {
      "type": "object",
      "id": "TechnologyTargeting",
      "description": "Technology Targeting.",
      "properties": {
        "operatingSystemVersions": {
          "description": "Operating system versions that this ad targets. To target all versions, use operatingSystems. For each operating system version, only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system version, do not set targeting for the corresponding operating system in operatingSystems.",
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "type": "array"
        },
        "connectionTypes": {
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated.",
          "items": {
            "$ref": "ConnectionType"
          },
          "type": "array"
        },
        "mobileCarriers": {
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes.",
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          }
        },
        "platformTypes": {
          "items": {
            "$ref": "PlatformType"
          },
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "type": "array"
        },
        "browsers": {
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Browser"
          }
        },
        "operatingSystems": {
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          },
          "description": "Operating systems that this ad targets. To target specific versions, use operatingSystemVersions. For each operating system only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system, do not set targeting for operating system versions for the same operating system."
        }
      }
    },
    "DisjunctiveMatchStatement": {
      "id": "DisjunctiveMatchStatement",
      "description": "Represents a Disjunctive Match Statement resource, which is a conjunction (and) of disjunctive (or) boolean statements.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#disjunctiveMatchStatement.",
          "type": "string"
        },
        "eventFilters": {
          "items": {
            "$ref": "EventFilter"
          },
          "description": "The event filters contained within this disjunctive match statement.",
          "type": "array"
        }
      }
    },
    "GeoTargeting": {
      "properties": {
        "metros": {
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "items": {
            "$ref": "Metro"
          },
          "type": "array"
        },
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "type": "array",
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country."
        },
        "postalCodes": {
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "items": {
            "$ref": "PostalCode"
          },
          "type": "array"
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "Region"
          },
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region."
        },
        "cities": {
          "items": {
            "$ref": "City"
          },
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city.",
          "type": "array"
        },
        "excludeCountries": {
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad.",
          "type": "boolean"
        }
      },
      "id": "GeoTargeting",
      "description": "Geographical Targeting.",
      "type": "object"
    },
    "Creative": {
      "properties": {
        "artworkType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "overrideCss": {
          "type": "string",
          "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA."
        },
        "renderingId": {
          "type": "string",
          "format": "int64",
          "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types."
        },
        "adTagKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "companionCreatives": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "type": "array"
        },
        "clickTags": {
          "type": "array",
          "items": {
            "$ref": "ClickTag"
          },
          "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "id": {
          "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "backupImageClickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE."
        },
        "archived": {
          "type": "boolean",
          "description": "Whether the creative is archived. Applicable to all creative types."
        },
        "requiredFlashPluginVersion": {
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "counterCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
          "type": "array"
        },
        "backupImageReportingLabel": {
          "type": "string",
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "obaIcon": {
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "ObaIcon"
        },
        "studioAdvertiserId": {
          "type": "string",
          "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "description": "Creative last modification information. This is a read-only field. Applicable to all creative types.",
          "$ref": "LastModifiedInfo"
        },
        "latestTraffickedCreativeId": {
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64",
          "type": "string"
        },
        "backgroundColor": {
          "type": "string",
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE."
        },
        "mediaDuration": {
          "description": "Creative audio or video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, INSTREAM_AUDIO, all RICH_MEDIA, and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "commercialId": {
          "type": "string",
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives."
        },
        "dynamicAssetSelection": {
          "description": "Set this to true to enable the use of rules to target individual assets in this creative. When set to true creativeAssetSelection must be set. This also controls asset-level companions. When this is true, companion creatives should be assigned to creative assets. Learn more. Applicable to INSTREAM_VIDEO creatives.",
          "type": "boolean"
        },
        "creativeFieldAssignments": {
          "type": "array",
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "items": {
            "$ref": "CreativeFieldAssignment"
          }
        },
        "thirdPartyUrls": {
          "description": "Third-party URLs for tracking in-stream creative events. Applicable to the following creative types: all INSTREAM_VIDEO, all INSTREAM_AUDIO, and all VPAID.",
          "items": {
            "$ref": "ThirdPartyTrackingUrl"
          },
          "type": "array"
        },
        "creativeAssets": {
          "type": "array",
          "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
          "items": {
            "$ref": "CreativeAsset"
          }
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "creativeAssetSelection": {
          "description": "Required if dynamicAssetSelection is true.",
          "$ref": "CreativeAssetSelection"
        },
        "mediaDescription": {
          "description": "Description of the audio or video ad. Applicable to the following creative types: all INSTREAM_VIDEO, INSTREAM_AUDIO, and all VPAID.",
          "type": "string"
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "fsCommand": {
          "$ref": "FsCommand",
          "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE."
        },
        "timerCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE."
        },
        "customKeyValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "studioTraffickedCreativeId": {
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64",
          "type": "string"
        },
        "allowScriptAccess": {
          "type": "boolean",
          "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE."
        },
        "version": {
          "format": "int32",
          "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
          "type": "integer"
        },
        "renderingIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "totalFileSize": {
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64",
          "type": "string"
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "studioCreativeId": {
          "type": "string",
          "format": "int64",
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "active": {
          "type": "boolean",
          "description": "Whether the creative is active. Applicable to all creative types."
        },
        "authoringTool": {
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "NINJA",
            "SWIFFY"
          ],
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types."
        },
        "adParameters": {
          "type": "string",
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID."
        },
        "convertFlashToHtml5": {
          "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "backupImageFeatures": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "exitCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "authoringSource": {
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS"
          ],
          "type": "string"
        },
        "htmlCodeLocked": {
          "type": "boolean",
          "description": "Whether HTML code is generated by Campaign Manager or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this creative. This is a required field. Applicable to all creative types."
        },
        "subaccountId": {
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "requiredFlashVersion": {
          "type": "integer",
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "format": "int32"
        },
        "sslOverride": {
          "type": "boolean",
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types."
        },
        "backupImageTargetWindow": {
          "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "TargetWindow"
        },
        "name": {
          "description": "Name of the creative. This is a required field and must be less than 256 characters long. Applicable to all creative types.",
          "type": "string"
        },
        "universalAdId": {
          "$ref": "UniversalAdId",
          "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO and INSTREAM_VIDEO and VPAID."
        },
        "skippable": {
          "type": "boolean",
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID."
        },
        "redirectUrl": {
          "type": "string",
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT"
        },
        "type": {
          "enum": [
            "IMAGE",
            "DISPLAY_REDIRECT",
            "CUSTOM_DISPLAY",
            "INTERNAL_REDIRECT",
            "CUSTOM_DISPLAY_INTERSTITIAL",
            "INTERSTITIAL_INTERNAL_REDIRECT",
            "TRACKING_TEXT",
            "RICH_MEDIA_DISPLAY_BANNER",
            "RICH_MEDIA_INPAGE_FLOATING",
            "RICH_MEDIA_IM_EXPAND",
            "RICH_MEDIA_DISPLAY_EXPANDING",
            "RICH_MEDIA_DISPLAY_INTERSTITIAL",
            "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
            "RICH_MEDIA_MOBILE_IN_APP",
            "FLASH_INPAGE",
            "INSTREAM_VIDEO",
            "VPAID_LINEAR_VIDEO",
            "VPAID_NON_LINEAR_VIDEO",
            "INSTREAM_VIDEO_REDIRECT",
            "RICH_MEDIA_PEEL_DOWN",
            "HTML5_BANNER",
            "DISPLAY",
            "DISPLAY_IMAGE_GALLERY",
            "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
            "INSTREAM_AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of this creative. This is a required field. Applicable to all creative types. *Note:* FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types."
        },
        "additionalSizes": {
          "type": "array",
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE.",
          "items": {
            "$ref": "Size"
          }
        },
        "htmlCode": {
          "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA.",
          "type": "string"
        },
        "autoAdvanceImages": {
          "type": "boolean",
          "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY."
        },
        "compatibility": {
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" ",
          "items": {
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\"."
        }
      },
      "description": "Contains properties of a Creative.",
      "id": "Creative",
      "type": "object"
    },
    "SiteTranscodeSetting": {
      "type": "object",
      "properties": {
        "enabledVideoFormats": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\"."
        }
      },
      "id": "SiteTranscodeSetting",
      "description": "Transcode Settings"
    },
    "PostalCodesListResponse": {
      "properties": {
        "postalCodes": {
          "description": "Postal code collection.",
          "items": {
            "$ref": "PostalCode"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Postal Code List Response",
      "id": "PostalCodesListResponse"
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "type": "object",
      "description": "Contains properties of a package or roadblock.",
      "properties": {
        "externalId": {
          "type": "string",
          "description": "External ID for this placement."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field."
        },
        "placementGroupType": {
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "type": "string"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this placement group. This is a read-only field."
        },
        "accountId": {
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "comment": {
          "type": "string",
          "description": "Comments for this placement group."
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "primaryPlacementId": {
          "format": "int64",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "placementStrategyId": {
          "type": "string",
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "childPlacementIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field."
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "archived": {
          "description": "Whether this placement group is archived.",
          "type": "boolean"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this placement group. This is a required field on insertion."
        },
        "siteId": {
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this placement group. This is a read-only field."
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        }
      }
    },
    "UserRolePermissionsListResponse": {
      "id": "UserRolePermissionsListResponse",
      "description": "User Role Permission List Response",
      "type": "object",
      "properties": {
        "userRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "User role permission collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\"."
        }
      }
    },
    "AccountUserProfilesListResponse": {
      "id": "AccountUserProfilesListResponse",
      "type": "object",
      "description": "Account User Profile List Response",
      "properties": {
        "accountUserProfiles": {
          "type": "array",
          "description": "Account user profile collection.",
          "items": {
            "$ref": "AccountUserProfile"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "PathFilter": {
      "type": "object",
      "description": "Represents a DfaReporting path filter.",
      "properties": {
        "pathMatchPosition": {
          "enum": [
            "PATH_MATCH_POSITION_UNSPECIFIED",
            "ANY",
            "FIRST",
            "LAST"
          ],
          "type": "string",
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathFilter.",
          "type": "string"
        },
        "eventFilters": {
          "items": {
            "$ref": "EventFilter"
          },
          "description": "Event filters in path report.",
          "type": "array"
        }
      },
      "id": "PathFilter"
    },
    "UserRolePermissionGroup": {
      "id": "UserRolePermissionGroup",
      "type": "object",
      "description": "Represents a grouping of related user role permissions.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\"."
        },
        "name": {
          "type": "string",
          "description": "Name of this user role permission group."
        },
        "id": {
          "format": "int64",
          "description": "ID of this user role permission.",
          "type": "string"
        }
      }
    },
    "LanguageTargeting": {
      "description": "Language Targeting.",
      "id": "LanguageTargeting",
      "properties": {
        "languages": {
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        }
      },
      "type": "object"
    },
    "PlacementStrategiesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\"."
        },
        "placementStrategies": {
          "description": "Placement strategy collection.",
          "type": "array",
          "items": {
            "$ref": "PlacementStrategy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "description": "Placement Strategy List Response",
      "id": "PlacementStrategiesListResponse",
      "type": "object"
    },
    "TargetingTemplatesListResponse": {
      "type": "object",
      "id": "TargetingTemplatesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "targetingTemplates": {
          "description": "Targeting template collection.",
          "type": "array",
          "items": {
            "$ref": "TargetingTemplate"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\"."
        }
      },
      "description": "Targeting Template List Response"
    },
    "VideoFormat": {
      "type": "object",
      "properties": {
        "resolution": {
          "description": "The resolution of this video format.",
          "$ref": "Size"
        },
        "fileType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "File type of the video format.",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "type": "string"
        },
        "targetBitRate": {
          "description": "The target bit rate of this video format.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "format": "int32",
          "description": "ID of the video format.",
          "type": "integer"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        }
      },
      "description": "Contains information about supported video formats.",
      "id": "VideoFormat"
    },
    "DeepLink": {
      "id": "DeepLink",
      "properties": {
        "remarketingListIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE.",
          "type": "array"
        },
        "appUrl": {
          "type": "string",
          "description": "The URL of the mobile app being linked to."
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app targeted by this deep link."
        },
        "fallbackUrl": {
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\"."
        }
      },
      "type": "object",
      "description": "Contains information about a landing page deep link."
    },
    "DimensionValueRequest": {
      "id": "DimensionValueRequest",
      "type": "object",
      "description": "Represents a DimensionValuesRequest.",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "DimensionFilter"
          },
          "description": "The list of filters by which to filter values. The filters are ANDed."
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension for which values should be requested.",
          "annotations": {
            "required": [
              "dfareporting.dimensionValues.query"
            ]
          },
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest ."
        },
        "startDate": {
          "format": "date",
          "type": "string"
        }
      }
    },
    "CreativeAssetSelection": {
      "type": "object",
      "description": "Encapsulates the list of rules for asset selection and a default asset in case none of the rules match. Applicable to INSTREAM_VIDEO creatives.",
      "properties": {
        "defaultAssetId": {
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative, and will be served if none of the rules match. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "Rules determine which asset will be served to a viewer. Rules will be evaluated in the order in which they are stored in this list. This list must contain at least one rule. Applicable to INSTREAM_VIDEO creatives.",
          "type": "array"
        }
      },
      "id": "CreativeAssetSelection"
    },
    "Language": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\"."
        },
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Language ID of this language. This is the ID used for targeting and generating reports."
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        }
      },
      "description": "Contains information about a language that can be targeted by ads.",
      "id": "Language",
      "type": "object"
    },
    "MobileApp": {
      "properties": {
        "publisherName": {
          "type": "string",
          "description": "Publisher name."
        },
        "id": {
          "type": "string",
          "description": "ID of this mobile app."
        },
        "directory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ],
          "description": "Mobile app directory."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\"."
        },
        "title": {
          "description": "Title of this mobile app.",
          "type": "string"
        }
      },
      "id": "MobileApp",
      "description": "Contains information about a mobile app. Used as a landing page deep link.",
      "type": "object"
    },
    "CreativeAsset": {
      "type": "object",
      "id": "CreativeAsset",
      "properties": {
        "hideSelectionBoxes": {
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "active": {
          "type": "boolean",
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "expandedDimension": {
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "$ref": "Size"
        },
        "durationType": {
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ],
          "type": "string",
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "position": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "positionLeftUnit": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ]
        },
        "alignment": {
          "type": "string",
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL .",
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "frameRate": {
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "audioSampleRate": {
          "format": "int32",
          "type": "integer",
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "displayType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "positionTopUnit": {
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA."
        },
        "politeLoad": {
          "type": "boolean",
          "description": "Whether this asset is used as a polite load asset."
        },
        "startTimeType": {
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "originalBackup": {
          "type": "boolean",
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA."
        },
        "flashVersion": {
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer",
          "format": "int32"
        },
        "windowMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "type": "string",
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ]
        },
        "orientation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ],
          "description": "Orientation of video asset. This is a read-only, auto-generated field."
        },
        "zipFilename": {
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "duration": {
          "type": "integer",
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1.",
          "format": "int32"
        },
        "fileSize": {
          "type": "string",
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "format": "int64"
        },
        "collapsedSize": {
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "Size"
        },
        "zIndex": {
          "type": "integer",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive.",
          "format": "int32"
        },
        "bitRate": {
          "type": "integer",
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "format": "int32"
        },
        "actionScript3": {
          "type": "boolean",
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "audioBitRate": {
          "format": "int32",
          "type": "integer",
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "mimeType": {
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "mediaDuration": {
          "type": "number",
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "format": "float"
        },
        "pushdownDuration": {
          "type": "number",
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "format": "float"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "additionalSizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render."
        },
        "offset": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
        },
        "horizontallyLocked": {
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "zipFilesize": {
          "type": "string",
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER."
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "streamingServingUrl": {
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "role": {
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "type": "string",
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "customStartTimeValue": {
          "format": "int32",
          "type": "integer",
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0."
        },
        "hideFlashObjects": {
          "type": "boolean",
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "companionCreativeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true."
        },
        "transparency": {
          "type": "boolean",
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets."
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "progressiveServingUrl": {
          "type": "string",
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "backupImageExit": {
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "CreativeCustomEvent"
        },
        "assetIdentifier": {
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "$ref": "CreativeAssetId"
        },
        "childAssetType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ]
        },
        "artworkType": {
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "pushdown": {
          "type": "boolean",
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height."
        }
      },
      "description": "Creative Asset."
    },
    "LastModifiedInfo": {
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Modification timestamp.",
      "id": "LastModifiedInfo",
      "type": "object"
    },
    "AccountUserProfile": {
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "type": "object",
      "id": "AccountUserProfile",
      "properties": {
        "siteFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which sites are visible to the user profile."
        },
        "campaignFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which campaigns are visible to the user profile."
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;\u003c\u003e\"#%,\".",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "userRoleId": {
          "format": "int64",
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string"
        },
        "userAccessType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ]
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "id": {
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "traffickerType": {
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ]
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\"."
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "Email of the user profile. The email addresss must be linked to a Google Account. This field is required on insertion and is read-only after insertion."
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        }
      }
    },
    "AudienceSegmentGroup": {
      "description": "Audience Segment Group.",
      "properties": {
        "audienceSegments": {
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          },
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AudienceSegmentGroup"
    },
    "ConversionsBatchInsertResponse": {
      "description": "Insert Conversions Response.",
      "type": "object",
      "id": "ConversionsBatchInsertResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\"."
        },
        "status": {
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
          "items": {
            "$ref": "ConversionStatus"
          },
          "type": "array"
        },
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to insert.",
          "type": "boolean"
        }
      }
    },
    "Flight": {
      "id": "Flight",
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "units": {
          "type": "string",
          "description": "Units of this flight.",
          "format": "int64"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "rateOrCost": {
          "description": "Rate or cost of this flight.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Flight"
    },
    "AdvertiserGroupsListResponse": {
      "id": "AdvertiserGroupsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "advertiserGroups": {
          "type": "array",
          "items": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Advertiser group collection."
        }
      },
      "description": "Advertiser Group List Response"
    },
    "CreativeFieldValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        }
      },
      "description": "Contains properties of a creative field value.",
      "id": "CreativeFieldValue"
    },
    "CreativeRotation": {
      "id": "CreativeRotation",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CREATIVE_ROTATION_TYPE_SEQUENTIAL",
            "CREATIVE_ROTATION_TYPE_RANDOM"
          ],
          "description": "Type of creative rotation. Can be used to specify whether to use sequential or random rotation.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "weightCalculationStrategy": {
          "type": "string",
          "enum": [
            "WEIGHT_STRATEGY_EQUAL",
            "WEIGHT_STRATEGY_CUSTOM",
            "WEIGHT_STRATEGY_HIGHEST_CTR",
            "WEIGHT_STRATEGY_OPTIMIZED"
          ],
          "description": "Strategy for calculating weights. Used with CREATIVE_ROTATION_TYPE_RANDOM.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "creativeOptimizationConfigurationId": {
          "description": "Creative optimization configuration that is used by this ad. It should refer to one of the existing optimization configurations in the ad's campaign. If it is unset or set to 0, then the campaign's default optimization configuration will be used for this ad.",
          "format": "int64",
          "type": "string"
        },
        "creativeAssignments": {
          "description": "Creative assignments in this creative rotation.",
          "type": "array",
          "items": {
            "$ref": "CreativeAssignment"
          }
        }
      },
      "description": "Creative Rotation.",
      "type": "object"
    },
    "DefaultClickThroughEventTagProperties": {
      "description": "Properties of inheriting and overriding the default click-through event tag. A campaign may override the event tag defined at the advertiser level, and an ad may also override the campaign's setting further.",
      "properties": {
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply to all ads in this entity's scope.",
          "type": "string",
          "format": "int64"
        },
        "overrideInheritedEventTag": {
          "type": "boolean",
          "description": "Whether this entity should override the inherited default click-through event tag with its own defined value."
        }
      },
      "id": "DefaultClickThroughEventTagProperties",
      "type": "object"
    },
    "EventTag": {
      "id": "EventTag",
      "properties": {
        "siteFilterType": {
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "type": "string",
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ]
        },
        "id": {
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long."
        },
        "status": {
          "type": "string",
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion."
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this event tag. This is a read-only field that can be left blank."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "type": "string"
        },
        "urlEscapeLevels": {
          "format": "int32",
          "type": "integer",
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "siteIds": {
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "type": "array",
[...]
