{
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Run",
  "version_module": true,
  "id": "run:v2",
  "schemas": {
    "GoogleCloudRunV2EnvVarSource": {
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "id": "GoogleCloudRunV2EnvVarSource",
      "properties": {
        "secretKeyRef": {
          "$ref": "GoogleCloudRunV2SecretKeySelector",
          "description": "Selects a secret and a specific version from Cloud Secret Manager."
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2Revision": {
      "description": "A Revision is an immutable snapshot of code and configuration. A Revision references a container image. Revisions are only created by updates to its parent Service.",
      "properties": {
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string",
          "readOnly": true
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Revision currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style annotations for the resource."
        },
        "encryptionKeyRevocationAction": {
          "type": "string",
          "enum": [
            "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
            "PREVENT_NEW",
            "SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Prevents the creation of new instances.",
            "Shuts down existing instances, and prevents creation of new ones."
          ],
          "description": "The action to take if the encryption key is revoked."
        },
        "labels": {
          "description": "KRM-style labels for the resource. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "service": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the parent service."
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "description": "Holds the single container that defines the unit of execution for this Revision.",
          "type": "array"
        },
        "generation": {
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "type": "string",
          "format": "int64"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "readOnly": true,
          "type": "string"
        },
        "executionEnvironment": {
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "description": "The execution environment being used to host this Revision.",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "type": "string"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "vpcAccess": {
          "description": "VPC Access configuration for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "timeout": {
          "description": "Max allowed time for an instance to respond to a request.",
          "format": "google-duration",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Revision. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "readOnly": true
        },
        "maxInstanceRequestConcurrency": {
          "description": "Sets the maximum number of requests that each serving instance can receive.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Output only. The Condition of this Revision, containing its readiness status, and detailed error information in case it did not reach a serving state.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true,
          "type": "array"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request."
        },
        "encryptionKeyShutdownDuration": {
          "description": "If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour.",
          "format": "google-duration",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation time."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Service.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean"
        },
        "scaling": {
          "description": "Scaling settings for this revision.",
          "$ref": "GoogleCloudRunV2RevisionScaling"
        },
        "logUri": {
          "description": "Output only. The Google Console URI to obtain logs for the Revision.",
          "readOnly": true,
          "type": "string"
        },
        "launchStage": {
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Set the launch stage to a preview stage on write to allow use of preview features in that stage. On read, describes whether the resource uses preview features. Launch Stages are defined at [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages)."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name of this Revision."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "volumes": {
          "description": "A list of Volumes to make available to containers.",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRunV2Revision",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object"
    },
    "GoogleCloudRunV2ContainerPort": {
      "id": "GoogleCloudRunV2ContainerPort",
      "properties": {
        "containerPort": {
          "type": "integer",
          "description": "Port number the container listens on. This must be a valid TCP port number, 0 \u003c container_port \u003c 65536.",
          "format": "int32"
        },
        "name": {
          "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ContainerPort represents a network port in a single container."
    },
    "GoogleCloudRunV2GRPCAction": {
      "type": "object",
      "description": "GRPCAction describes an action involving a GRPC port.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Service is the name of the service to place in the gRPC HealthCheckRequest (see https://github.com/grpc/grpc/blob/master/doc/health-checking.md). If this is not specified, the default behavior is defined by gRPC."
        },
        "port": {
          "format": "int32",
          "description": "Port number of the gRPC service. Number must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudRunV2GRPCAction"
    },
    "GoogleCloudRunV2Service": {
      "properties": {
        "generation": {
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "type": "string",
          "format": "int64"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the Service. This field currently has a 512-character limit.",
          "type": "string"
        },
        "uri": {
          "description": "Output only. The main URI in which this Service is serving traffic.",
          "type": "string",
          "readOnly": true
        },
        "clientVersion": {
          "description": "Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "lastModifier": {
          "type": "string",
          "description": "Output only. Email address of the last authenticated modifier.",
          "readOnly": true
        },
        "terminalCondition": {
          "description": "Output only. The Condition of this Service, containing its readiness status, and detailed error information in case it did not reach a serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "$ref": "GoogleCloudRunV2Condition"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 Service. This field follows Kubernetes annotations' namespacing, limits, and rules. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "trafficStatuses": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Detailed status information for corresponding traffic targets. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTargetStatus"
          }
        },
        "name": {
          "description": "The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
          "type": "string"
        },
        "conditions": {
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Service does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true,
          "type": "array"
        },
        "latestReadyRevision": {
          "description": "Output only. Name of the latest revision that is serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation time.",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. Returns true if the Service is currently being acted upon by the system to bring it into the desired state. When a new Service is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Service to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revison`, `traffic_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the Service, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `traffic` and `traffic_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `traffic_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created Services. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "readOnly": true,
          "type": "boolean"
        },
        "deleteTime": {
          "description": "Output only. The deletion time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Service currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        },
        "traffic": {
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTarget"
          },
          "description": "Specifies how to distribute traffic over a collection of Revisions belonging to the Service. If traffic is empty or not provided, defaults to 100% traffic to the latest `Ready` Revision.",
          "type": "array"
        },
        "ingress": {
          "description": "Provides the ingress settings for this Service. On output, returns the currently observed ingress settings, or INGRESS_TRAFFIC_UNSPECIFIED if no revision is active.",
          "enumDescriptions": [
            "Unspecified",
            "All inbound traffic is allowed.",
            "Only internal traffic is allowed.",
            "Both internal and Google Cloud Load Balancer traffic is allowed."
          ],
          "type": "string",
          "enum": [
            "INGRESS_TRAFFIC_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALL",
            "INGRESS_TRAFFIC_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_INTERNAL_LOAD_BALANCER"
          ]
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of string keys and values that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Service."
        },
        "template": {
          "$ref": "GoogleCloudRunV2RevisionTemplate",
          "description": "Required. The template used to create revisions for this Service."
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the authenticated creator."
        },
        "latestCreatedRevision": {
          "readOnly": true,
          "description": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
          "type": "string"
        },
        "launchStage": {
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "binaryAuthorization": {
          "description": "Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        }
      },
      "id": "GoogleCloudRunV2Service",
      "type": "object",
      "description": "Service acts as a top-level container that manages a set of configurations and revision templates which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership."
    },
    "GoogleCloudRunV2Probe": {
      "properties": {
        "timeoutSeconds": {
          "type": "integer",
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "format": "int32"
        },
        "periodSeconds": {
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds.",
          "type": "integer",
          "format": "int32"
        },
        "httpGet": {
          "description": "HTTPGet specifies the http request to perform. Exactly one of httpGet, tcpSocket, or grpc must be specified.",
          "$ref": "GoogleCloudRunV2HTTPGetAction"
        },
        "initialDelaySeconds": {
          "format": "int32",
          "description": "Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "type": "integer"
        },
        "failureThreshold": {
          "type": "integer",
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "format": "int32"
        },
        "tcpSocket": {
          "description": "TCPSocket specifies an action involving a TCP port. Exactly one of httpGet, tcpSocket, or grpc must be specified.",
          "$ref": "GoogleCloudRunV2TCPSocketAction"
        },
        "grpc": {
          "description": "GRPC specifies an action involving a gRPC port. Exactly one of httpGet, tcpSocket, or grpc must be specified.",
          "$ref": "GoogleCloudRunV2GRPCAction"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic."
    },
    "GoogleCloudRunV2TaskAttemptResult": {
      "properties": {
        "status": {
          "description": "Output only. The status of this attempt. If the status code is OK, then the attempt succeeded.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "exitCode": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2TaskAttemptResult",
      "description": "Result of a task attempt."
    },
    "GoogleCloudRunV2ListTasksResponse": {
      "properties": {
        "tasks": {
          "description": "The resulting list of Tasks.",
          "items": {
            "$ref": "GoogleCloudRunV2Task"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListTasks request to continue."
        }
      },
      "id": "GoogleCloudRunV2ListTasksResponse",
      "description": "Response message containing a list of Tasks.",
      "type": "object"
    },
    "GoogleCloudRunV2SecretVolumeSource": {
      "properties": {
        "items": {
          "description": "If unspecified, the volume will expose a file whose name is the secret, relative to VolumeMount.mount_path. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a path and a version.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2VersionToPath"
          }
        },
        "defaultMode": {
          "format": "int32",
          "type": "integer",
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 0000 and 0777 (octal), defaulting to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. This might be in conflict with other options that affect the file mode, like fsGroup, and as a result, other mode bits could be set."
        },
        "secret": {
          "type": "string",
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret} if the secret is in the same project. projects/{project}/secrets/{secret} if the secret is in a different project."
        }
      },
      "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret.",
      "id": "GoogleCloudRunV2SecretVolumeSource",
      "type": "object"
    },
    "GoogleCloudRunV2Task": {
      "properties": {
        "maxRetries": {
          "description": "Number of retries allowed per Task, before marking this Task failed.",
          "type": "integer",
          "format": "int32"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style annotations for the resource."
        },
        "logUri": {
          "readOnly": true,
          "description": "Output only. URI where logs for this execution can be found in Cloud Console.",
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "type": "array",
          "description": "Holds the single container that defines the unit of execution for this task."
        },
        "vpcAccess": {
          "readOnly": true,
          "description": "Output only. VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "lastAttemptResult": {
          "$ref": "GoogleCloudRunV2TaskAttemptResult",
          "description": "Output only. Result of the last attempt of this Task.",
          "readOnly": true
        },
        "encryptionKey": {
          "readOnly": true,
          "description": "Output only. A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "timeout": {
          "format": "google-duration",
          "description": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the parent Job.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string",
          "readOnly": true
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "A list of Volumes to make available to containers."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name of this Task.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Represents time when the task was created by the job controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Task. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "labels": {
          "description": "KRM-style labels for the resource. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generation": {
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "executionEnvironment": {
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "type": "string",
          "description": "The execution environment being used to host this Task.",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ]
        },
        "index": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Index of the Task, unique per execution, and beginning at 0."
        },
        "startTime": {
          "description": "Output only. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last-modified time."
        },
        "completionTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents time when the Task was completed. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime"
        },
        "retried": {
          "description": "Output only. The number of times this Task was retried. Tasks are retried when they fail up to the maxRetries limit.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "description": "Output only. The Condition of this Task, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "readOnly": true,
          "type": "array"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "execution": {
          "description": "Output only. The name of the parent Execution.",
          "readOnly": true,
          "type": "string"
        },
        "observedGeneration": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The generation of this Task. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true
        }
      },
      "description": "Task represents a single run of a container to completion.",
      "id": "GoogleCloudRunV2Task",
      "type": "object"
    },
    "GoogleCloudRunV2TaskTemplate": {
      "id": "GoogleCloudRunV2TaskTemplate",
      "properties": {
        "containers": {
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "type": "array",
          "description": "Holds the single container that defines the unit of execution for this task."
        },
        "vpcAccess": {
          "description": "VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "executionEnvironment": {
          "description": "The execution environment being used to host this Task.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ]
        },
        "volumes": {
          "description": "A list of Volumes to make available to containers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          }
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds."
        },
        "maxRetries": {
          "format": "int32",
          "description": "Number of retries allowed per Task, before marking this Task failed. Defaults to 3.",
          "type": "integer"
        },
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account.",
          "type": "string"
        }
      },
      "description": "TaskTemplate describes the data a task should have when created from a template.",
      "type": "object"
    },
    "GoogleCloudRunV2ResourceRequirements": {
      "id": "GoogleCloudRunV2ResourceRequirements",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "properties": {
        "limits": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Only memory and CPU are supported. Note: The only supported values for CPU are '1', '2', '4', and '8'. Setting 4 CPU requires at least 2Gi of memory. The values of the map is string form of the 'quantity' k8s type: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go"
        },
        "cpuIdle": {
          "type": "boolean",
          "description": "Determines whether CPU should be throttled or not outside of requests."
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2TrafficTargetStatus": {
      "id": "GoogleCloudRunV2TrafficTargetStatus",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Displays the target URI."
        },
        "tag": {
          "description": "Indicates the string used in the URI to exclusively reference this target.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Revision to which this traffic is sent."
        },
        "percent": {
          "format": "int32",
          "description": "Specifies percent of the traffic to this Revision.",
          "type": "integer"
        },
        "type": {
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "description": "The allocation type for this traffic target."
        }
      },
      "description": "Represents the observed state of a single `TrafficTarget` entry.",
      "type": "object"
    },
    "GoogleCloudRunV2BinaryAuthorization": {
      "type": "object",
      "properties": {
        "useDefault": {
          "description": "If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled.",
          "type": "boolean"
        },
        "breakglassJustification": {
          "type": "string",
          "description": "If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
        }
      },
      "description": "Settings for Binary Authorization feature.",
      "id": "GoogleCloudRunV2BinaryAuthorization"
    },
    "GoogleCloudRunV2ExecutionTemplate": {
      "description": "ExecutionTemplate describes the data an execution should have when created from a template.",
      "type": "object",
      "id": "GoogleCloudRunV2ExecutionTemplate",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "KRM-style labels for the resource. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 ExecutionTemplate.",
          "type": "object"
        },
        "taskCount": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. Defaults to 1."
        },
        "template": {
          "$ref": "GoogleCloudRunV2TaskTemplate",
          "description": "Required. Describes the task(s) that will be created when executing an execution."
        },
        "parallelism": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the maximum desired number of tasks the execution should run at given time. Must be \u003c= task_count. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed remaining, i.e. when the work left to do is less than max parallelism."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style annotations for the resource. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 ExecutionTemplate."
        }
      }
    },
    "GoogleCloudRunV2ListServicesResponse": {
      "id": "GoogleCloudRunV2ListServicesResponse",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Service"
          },
          "description": "The resulting list of Services."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListServices request to continue."
        }
      },
      "type": "object",
      "description": "Response message containing a list of Services."
    },
    "GoogleCloudRunV2Container": {
      "id": "GoogleCloudRunV2Container",
      "properties": {
        "ports": {
          "items": {
            "$ref": "GoogleCloudRunV2ContainerPort"
          },
          "type": "array",
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on."
        },
        "image": {
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed. More info: https://kubernetes.io/docs/concepts/containers/images",
          "type": "string"
        },
        "env": {
          "type": "array",
          "description": "List of environment variables to set in the container.",
          "items": {
            "$ref": "GoogleCloudRunV2EnvVar"
          }
        },
        "command": {
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell",
          "type": "array"
        },
        "volumeMounts": {
          "items": {
            "$ref": "GoogleCloudRunV2VolumeMount"
          },
          "description": "Volume to mount into the container's filesystem.",
          "type": "array"
        },
        "resources": {
          "$ref": "GoogleCloudRunV2ResourceRequirements",
          "description": "Compute Resource requirements by this container. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#resources"
        },
        "startupProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not be added to service endpoints if the probe fails. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes"
        },
        "livenessProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes"
        },
        "workingDir": {
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123)."
        }
      },
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "type": "object"
    },
    "GoogleCloudRunV2ExecutionReference": {
      "id": "GoogleCloudRunV2ExecutionReference",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the execution.",
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation timestamp of the execution."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation timestamp of the execution."
        }
      },
      "description": "Reference to an Execution. Use /Executions.GetExecution with the given name to get full execution including the latest status."
    },
    "GoogleCloudRunV2Condition": {
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the condition.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONDITION_PENDING",
            "CONDITION_RECONCILING",
            "CONDITION_FAILED",
            "CONDITION_SUCCEEDED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Transient state: Reconciliation has not started yet.",
            "Transient state: reconciliation is still in progress.",
            "Terminal state: Reconciliation did not succeed.",
            "Terminal state: Reconciliation completed successfully."
          ],
          "type": "string"
        },
        "reason": {
          "enum": [
            "COMMON_REASON_UNDEFINED",
            "UNKNOWN",
            "REVISION_FAILED",
            "PROGRESS_DEADLINE_EXCEEDED",
            "CONTAINER_MISSING",
            "CONTAINER_PERMISSION_DENIED",
            "CONTAINER_IMAGE_UNAUTHORIZED",
            "CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED",
            "ENCRYPTION_KEY_PERMISSION_DENIED",
            "ENCRYPTION_KEY_CHECK_FAILED",
            "SECRETS_ACCESS_CHECK_FAILED",
            "WAITING_FOR_OPERATION",
            "IMMEDIATE_RETRY",
            "POSTPONED_RETRY",
            "INTERNAL"
          ],
          "type": "string",
          "description": "A common (service-level) reason for this condition.",
          "enumDescriptions": [
            "Default value.",
            "Reason unknown. Further details will be in message.",
            "Revision creation process failed.",
            "Timed out waiting for completion.",
            "The container image path is incorrect.",
            "Insufficient permissions on the container image.",
            "Container image is not authorized by policy.",
            "Container image policy authorization check failed.",
            "Insufficient permissions on encryption key.",
            "Permission check on encryption key failed.",
            "At least one Access check on secrets failed.",
            "Waiting for operation to complete.",
            "System will retry immediately.",
            "System will retry later; current attempt failed.",
            "An internal error occurred. Further information may be in the message."
          ]
        },
        "executionReason": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Internal system error getting execution status. System will retry.",
            "A task reached its retry limit and the last attempt failed due to the user container exiting with a non-zero exit code.",
            "The execution was cancelled by users."
          ],
          "enum": [
            "EXECUTION_REASON_UNDEFINED",
            "JOB_STATUS_SERVICE_POLLING_ERROR",
            "NON_ZERO_EXIT_CODE",
            "CANCELLED"
          ],
          "description": "A reason for the execution condition."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity",
            "Error severity.",
            "Warning severity.",
            "Info severity."
          ],
          "description": "How to interpret failures of this condition, one of Error, Warning, Info",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "type": {
          "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready.",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Last time the condition transitioned from one status to another.",
          "format": "google-datetime"
        },
        "revisionReason": {
          "enum": [
            "REVISION_REASON_UNDEFINED",
            "PENDING",
            "RESERVE",
            "RETIRED",
            "RETIRING",
            "RECREATING",
            "HEALTH_CHECK_CONTAINER_ERROR",
            "CUSTOMIZED_PATH_RESPONSE_PENDING",
            "MIN_INSTANCES_NOT_PROVISIONED",
            "ACTIVE_REVISION_LIMIT_REACHED",
            "NO_DEPLOYMENT",
            "HEALTH_CHECK_SKIPPED",
            "MIN_INSTANCES_WARMING"
          ],
          "description": "A reason for the revision condition.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Revision in Pending state.",
            "Revision is in Reserve state.",
            "Revision is Retired.",
            "Revision is being retired.",
            "Revision is being recreated.",
            "There was a health check error.",
            "Health check failed due to user error from customized path of the container. System will retry.",
            "A revision with min_instance_count \u003e 0 was created and is reserved, but it was not configured to serve traffic, so it's not live. This can also happen momentarily during traffic migration.",
            "The maximum allowed number of active revisions has been reached.",
            "There was no deployment defined. This value is no longer used, but Services created in older versions of the API might contain this value.",
            "A revision's container has no port specified since the revision is of a manually scaled service with 0 instance count",
            "A revision with min_instance_count \u003e 0 was created and is waiting for enough instances to begin a traffic migration."
          ]
        },
        "message": {
          "type": "string",
          "description": "Human readable message indicating details about the current status."
        }
      },
      "description": "Defines a status condition for a resource.",
      "id": "GoogleCloudRunV2Condition"
    },
    "GoogleCloudRunV2Job": {
      "id": "GoogleCloudRunV2Job",
      "description": "Job represents the configuration of a single job, which references a container image that is run to completion.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last-modified time."
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation time.",
          "format": "google-datetime"
        },
        "template": {
          "$ref": "GoogleCloudRunV2ExecutionTemplate",
          "description": "Required. The template used to create executions for this Job."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        },
        "lastModifier": {
          "description": "Output only. Email address of the last authenticated modifier.",
          "readOnly": true,
          "type": "string"
        },
        "clientVersion": {
          "type": "string",
          "description": "Arbitrary version identifier for the API client."
        },
        "launchStage": {
          "type": "string",
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Returns true if the Job is currently being acted upon by the system to bring it into the desired state. When a new Job is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Job to the desired state. This process is called reconciliation. While reconciliation is in process, `observed_generation` and `latest_succeeded_execution`, will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the state matches the Job, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `observed_generation` and `generation`, `latest_succeeded_execution` and `latest_created_execution`. If reconciliation failed, `observed_generation` and `latest_succeeded_execution` will have the state of the last succeeded execution or empty for newly created Job. Additional information on the failure can be found in `terminal_condition` and `conditions`."
        },
        "executionCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of executions created for this job.",
          "type": "integer"
        },
        "labels": {
          "description": "KRM-style labels for the resource. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deleteTime": {
          "description": "Output only. The deletion time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestCreatedExecution": {
          "$ref": "GoogleCloudRunV2ExecutionReference",
          "readOnly": true,
          "description": "Output only. Name of the last created execution."
        },
        "uid": {
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "terminalCondition": {
          "$ref": "GoogleCloudRunV2Condition",
          "description": "Output only. The Condition of this Job, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "readOnly": true
        },
        "observedGeneration": {
          "readOnly": true,
          "description": "Output only. The generation of this Job. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "format": "int64"
        },
        "annotations": {
          "type": "object",
          "description": "KRM-style annotations for the resource. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 Job. This field follows Kubernetes annotations' namespacing, limits, and rules. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conditions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Job does not reach its desired state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "array"
        },
        "generation": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state."
        },
        "name": {
          "type": "string",
          "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted."
        },
        "binaryAuthorization": {
          "description": "Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudRunV2HTTPHeader": {
      "id": "GoogleCloudRunV2HTTPHeader",
      "properties": {
        "value": {
          "description": "The header field value",
          "type": "string"
        },
        "name": {
          "description": "Required. The header field name",
          "type": "string"
        }
      },
      "type": "object",
      "description": "HTTPHeader describes a custom header to be used in HTTP probes"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleLongrunningWaitOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.WaitOperation.",
      "id": "GoogleLongrunningWaitOperationRequest",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudRunV2HTTPGetAction": {
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "description": "Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort.",
          "format": "int32"
        },
        "path": {
          "type": "string",
          "description": "Path to access on the HTTP server. Defaults to '/'."
        },
        "httpHeaders": {
          "items": {
            "$ref": "GoogleCloudRunV2HTTPHeader"
          },
          "description": "Custom headers to set in the request. HTTP allows repeated headers.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRunV2HTTPGetAction",
      "description": "HTTPGetAction describes an action based on HTTP Get requests."
    },
    "GoogleCloudRunV2ListJobsResponse": {
      "id": "GoogleCloudRunV2ListJobsResponse",
      "description": "Response message containing a list of Jobs.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListJobs request to continue.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "description": "The resulting list of Jobs.",
          "items": {
            "$ref": "GoogleCloudRunV2Job"
          }
        }
      }
    },
    "GoogleCloudRunV2VolumeMount": {
      "id": "GoogleCloudRunV2VolumeMount",
      "type": "object",
      "properties": {
        "mountPath": {
          "type": "string",
          "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'. For Cloud SQL volumes, it can be left empty, or must otherwise be `/cloudsql`. All instances defined in the Volume will be available as `/cloudsql/[instance]`. For more information on Cloud SQL volumes, visit https://cloud.google.com/sql/docs/mysql/connect-run"
        },
        "name": {
          "description": "Required. This must match the Name of a Volume.",
          "type": "string"
        }
      },
      "description": "VolumeMount describes a mounting of a Volume within a container."
    },
    "GoogleCloudRunV2TrafficTarget": {
      "properties": {
        "percent": {
          "description": "Specifies percent of the traffic to this Revision. This defaults to zero if unspecified.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ],
          "description": "The allocation type for this traffic target.",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "type": "string"
        },
        "tag": {
          "description": "Indicates a string to be part of the URI to exclusively reference this target.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Revision to which to send this portion of traffic, if traffic allocation is by revision."
        }
      },
      "description": "Holds a single traffic routing entry for the Service. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "id": "GoogleCloudRunV2TrafficTarget",
      "type": "object"
    },
    "GoogleCloudRunV2RevisionScaling": {
      "id": "GoogleCloudRunV2RevisionScaling",
      "properties": {
        "maxInstanceCount": {
          "format": "int32",
          "description": "Maximum number of serving instances that this resource should have.",
          "type": "integer"
        },
        "minInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of serving instances that this resource should have."
        }
      },
      "description": "Settings for revision-level scaling settings.",
      "type": "object"
    },
    "GoogleCloudRunV2EnvVar": {
      "type": "object",
      "id": "GoogleCloudRunV2EnvVar",
      "properties": {
        "valueSource": {
          "$ref": "GoogleCloudRunV2EnvVarSource",
          "description": "Source for the environment variable's value."
        },
        "name": {
          "description": "Required. Name of the environment variable. Must be a C_IDENTIFIER, and mnay not exceed 32768 characters.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any route environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\", and the maximum length is 32768 bytes."
        }
      },
      "description": "EnvVar represents an environment variable present in a Container."
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudRunV2Execution": {
      "description": "Execution represents the configuration of a single execution. A execution an immutable resource that references a container image which is run to completion.",
      "id": "GoogleCloudRunV2Execution",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Represents time when the execution started to run. It is not guaranteed to be set in happens-before order across separate operations.",
          "type": "string"
        },
        "cancelledCount": {
          "description": "Output only. The number of tasks which reached phase Cancelled.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "annotations": {
          "type": "object",
          "description": "KRM-style annotations for the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "observedGeneration": {
          "readOnly": true,
          "description": "Output only. The generation of this Execution. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "format": "int64"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string",
          "description": "Set the launch stage to a preview stage on write to allow use of preview features in that stage. On read, describes whether the resource uses preview features. Launch Stages are defined at [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages)."
        },
        "logUri": {
          "description": "Output only. URI where logs for this execution can be found in Cloud Console.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Represents time when the execution was acknowledged by the execution controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime",
          "readOnly": true
        },
        "failedCount": {
          "description": "Output only. The number of tasks which reached phase Failed.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "template": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2TaskTemplate",
          "description": "Output only. The template used to create tasks for this execution."
        },
        "generation": {
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true,
          "description": "Output only. The Condition of this Execution, containing its readiness status, and detailed error information in case it did not reach the desired state."
        },
        "completionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents time when the execution was completed. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last-modified time."
        },
        "runningCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of actively running tasks."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name of this Execution."
        },
        "succeededCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of tasks which reached phase Succeeded."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string",
          "readOnly": true
        },
        "parallelism": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Specifies the maximum desired number of tasks the execution should run at any given time. Must be \u003c= task_count. The actual number of tasks running in steady state will be less than this number when ((.spec.task_count - .status.successful) \u003c .spec.parallelism), i.e. when the work left to do is less than max parallelism. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
        },
        "retriedCount": {
          "description": "Output only. The number of tasks which have retried at least once.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "type": "string",
          "readOnly": true
        },
        "taskCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the parent Job.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string"
        },
        "labels": {
          "description": "KRM-style labels for the resource. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2RunJobRequest": {
      "properties": {
        "validateOnly": {
          "description": "Indicates that the request should be validated without actually deleting any resources.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2RunJobRequest",
      "description": "Request message to create a new Execution of a Job."
    },
    "GoogleCloudRunV2RevisionTemplate": {
      "type": "object",
      "id": "GoogleCloudRunV2RevisionTemplate",
      "description": "RevisionTemplate describes the data a revision should have when created from a template.",
      "properties": {
        "maxInstanceRequestConcurrency": {
          "description": "Sets the maximum number of requests that each serving instance can receive.",
          "type": "integer",
          "format": "int32"
        },
        "timeout": {
          "description": "Max allowed time for an instance to respond to a request.",
          "type": "string",
          "format": "google-duration"
        },
        "containers": {
          "description": "Holds the single container that defines the unit of execution for this Revision.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          }
        },
        "executionEnvironment": {
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "description": "The sandbox environment to host this Revision.",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "The unique name for the revision. If this field is omitted, it will be automatically generated based on the Service name."
        },
        "annotations": {
          "description": "KRM-style annotations for the resource. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 RevisionTemplate.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "A list of Volumes to make available to containers."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "KRM-style labels for the resource. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 RevisionTemplate."
        },
        "scaling": {
          "description": "Scaling settings for this Revision.",
          "$ref": "GoogleCloudRunV2RevisionScaling"
        },
        "vpcAccess": {
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "VPC Access configuration to use for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account."
        }
      }
    },
    "GoogleCloudRunV2VpcAccess": {
      "description": "VPC Access settings. For more information on creating a VPC Connector, visit https://cloud.google.com/vpc/docs/configure-serverless-vpc-access For information on how to configure Cloud Run with an existing VPC Connector, visit https://cloud.google.com/run/docs/configuring/connecting-vpc",
      "type": "object",
      "id": "GoogleCloudRunV2VpcAccess",
      "properties": {
        "egress": {
          "enumDescriptions": [
            "Unspecified",
            "All outbound traffic is routed through the VPC connector.",
            "Only private IP ranges are routed through the VPC connector."
          ],
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_RANGES_ONLY"
          ],
          "description": "Traffic VPC egress settings.",
          "type": "string"
        },
        "connector": {
          "type": "string",
          "description": "VPC Access connector name. Format: projects/{project}/locations/{location}/connectors/{connector}, where {project} can be project id or number."
        }
      }
    },
    "GoogleCloudRunV2SecretKeySelector": {
      "id": "GoogleCloudRunV2SecretKeySelector",
      "description": "SecretEnvVarSource represents a source for the value of an EnvVar.",
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name} if the secret is in the same project. projects/{project}/secrets/{secret_name} if the secret is in a different project."
        },
        "version": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest version, an integer for a specific version, or a version alias.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
[...]
