{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "name": "androiddeviceprovisioning",
  "batchPath": "batch",
  "basePath": "",
  "canonicalName": "Android Provisioning Partner",
  "title": "Android Device Provisioning Partner API",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "protocol": "rest",
  "schemas": {
    "UnclaimDevicesRequest": {
      "id": "UnclaimDevicesRequest",
      "properties": {
        "unclaims": {
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array",
          "description": "Required. The list of devices to unclaim."
        }
      },
      "type": "object",
      "description": "Request to unclaim devices asynchronously in batch."
    },
    "Device": {
      "id": "Device",
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "properties": {
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          },
          "type": "array",
          "readOnly": true
        },
        "deviceId": {
          "format": "int64",
          "description": "Output only. The ID of the device. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
        },
        "name": {
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeviceIdentifier": {
      "type": "object",
      "id": "DeviceIdentifier",
      "properties": {
        "deviceType": {
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "description": "The type of the device",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "type": "string"
        },
        "chromeOsAttestedDeviceId": {
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices.",
          "type": "string"
        },
        "imei": {
          "type": "string",
          "description": "The device’s IMEI number. Validated on input."
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "model": {
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible).",
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        }
      },
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
    },
    "Company": {
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "type": "object",
      "properties": {
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
        },
        "companyId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the company. Assigned by the server.",
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal."
        },
        "ownerEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users."
        },
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "type": "string",
          "readOnly": true
        },
        "termsStatus": {
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "readOnly": true,
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)"
        },
        "adminEmails": {
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "googleWorkspaceAccount": {
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount",
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies."
        }
      },
      "id": "Company"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object"
        }
      }
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "id": "UpdateDeviceMetadataInBatchRequest",
      "type": "object",
      "description": "Request to update device metadata in batch.",
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "type": "array"
        }
      }
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "type": "object",
      "properties": {
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "description": "Required. The section type of the device's provisioning record."
        },
        "vacationModeDays": {
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32",
          "type": "integer"
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "type": "string",
          "format": "google-datetime"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier of the device."
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PartnerUnclaim"
    },
    "ListVendorCustomersResponse": {
      "description": "Response message to list customers of the vendor.",
      "type": "object",
      "id": "ListVendorCustomersResponse",
      "properties": {
        "customers": {
          "description": "List of customers of the vendor.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        }
      }
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
    },
    "Configuration": {
      "type": "object",
      "id": "Configuration",
      "properties": {
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "configurationId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "type": "string"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.",
          "type": "string"
        },
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.",
          "type": "string"
        }
      },
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases."
    },
    "ListVendorsResponse": {
      "description": "Response message to list vendors of the partner.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "vendors": {
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ListVendorsResponse",
      "type": "object"
    },
    "OperationPerDevice": {
      "properties": {
        "unclaim": {
          "$ref": "PartnerUnclaim",
          "description": "A copy of the original device-unclaim request received by the server."
        },
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        },
        "result": {
          "$ref": "PerDeviceStatusInBatch",
          "description": "The processing result for each device."
        },
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        }
      },
      "type": "object",
      "id": "OperationPerDevice",
      "description": "A task for each device in the operation. Corresponds to each device change in the request."
    },
    "DeviceClaim": {
      "type": "object",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "id": "DeviceClaim",
      "properties": {
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The ID of the Google Workspace account that owns the Chrome OS device."
        },
        "ownerCompanyId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the Customer that purchased the device."
        },
        "resellerId": {
          "type": "string",
          "description": "The ID of the reseller that claimed the device.",
          "format": "int64"
        },
        "sectionType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Output only. The type of claim made on the device."
        },
        "vacationModeStartTime": {
          "type": "string",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        },
        "additionalService": {
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "description": "The Additional service registered for the device."
        }
      }
    },
    "UpdateMetadataArguments": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Device ID of the device."
        }
      },
      "description": "Identifies metadata updates to one device.",
      "id": "UpdateMetadataArguments"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CustomerUnclaimDeviceRequest": {
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "description": "Request message for customer to unclaim a device.",
      "id": "CustomerUnclaimDeviceRequest",
      "type": "object"
    },
    "DeviceReference": {
      "id": "DeviceReference",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the device."
        }
      }
    },
    "CustomerListDpcsResponse": {
      "type": "object",
      "description": "Response message of customer's listing DPCs.",
      "id": "CustomerListDpcsResponse",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "items": {
            "$ref": "Dpc"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "FindDevicesByOwnerResponse": {
      "id": "FindDevicesByOwnerResponse",
      "description": "Response containing found devices.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "type": "array",
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "type": "object"
    },
    "ListCustomersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of customers related to this reseller partner."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        }
      },
      "id": "ListCustomersResponse",
      "description": "Response message of all customers related to this partner."
    },
    "CustomerApplyConfigurationRequest": {
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator",
          "$ref": "DeviceReference"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      },
      "id": "CustomerApplyConfigurationRequest",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "id": "CustomerListConfigurationsResponse",
      "properties": {
        "configurations": {
          "type": "array",
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          }
        }
      },
      "description": "Response message of customer's listing configuration.",
      "type": "object"
    },
    "PerDeviceStatusInBatch": {
      "properties": {
        "errorIdentifier": {
          "type": "string",
          "description": "If processing fails, the error type."
        },
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        },
        "status": {
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN"
          ],
          "type": "string",
          "description": "The result status of the device after processing.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token."
          ]
        },
        "deviceId": {
          "type": "string",
          "description": "If processing succeeds, the device ID of the device.",
          "format": "int64"
        }
      },
      "description": "Captures the processing status for each device in the operation.",
      "id": "PerDeviceStatusInBatch",
      "type": "object"
    },
    "CustomerRemoveConfigurationRequest": {
      "description": "Request message for customer to remove the configuration from device.",
      "id": "CustomerRemoveConfigurationRequest",
      "type": "object",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      }
    },
    "PartnerClaim": {
      "id": "PartnerClaim",
      "properties": {
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device at claim."
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Identifies one claim request."
    },
    "UnclaimDeviceRequest": {
      "type": "object",
      "properties": {
        "vacationModeExpireTime": {
          "description": "The expiration time of the vacation unlock.",
          "type": "string",
          "format": "google-datetime"
        },
        "vacationModeDays": {
          "type": "integer",
          "format": "int32",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The device ID returned by `ClaimDevice`."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. The device identifier you used when you claimed this device."
        },
        "sectionType": {
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        }
      },
      "id": "UnclaimDeviceRequest",
      "description": "Request message to unclaim a device."
    },
    "UpdateDeviceMetadataRequest": {
      "type": "object",
      "id": "UpdateDeviceMetadataRequest",
      "description": "Request to set metadata for a device.",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device."
        }
      }
    },
    "GoogleWorkspaceAccount": {
      "properties": {
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        },
        "preProvisioningTokens": {
          "readOnly": true,
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleWorkspaceAccount",
      "description": "A Google Workspace customer.",
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "type": "object",
      "id": "ClaimDevicesRequest",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "properties": {
        "claims": {
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          },
          "description": "Required. A list of device claims."
        }
      }
    },
    "DevicesLongRunningOperationResponse": {
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "type": "object",
      "id": "DevicesLongRunningOperationResponse",
      "properties": {
        "perDeviceStatus": {
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "items": {
            "$ref": "OperationPerDevice"
          }
        },
        "successCount": {
          "type": "integer",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "format": "int32"
        }
      }
    },
    "CreateCustomerRequest": {
      "properties": {
        "customer": {
          "$ref": "Company",
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty."
        }
      },
      "id": "CreateCustomerRequest",
      "type": "object",
      "description": "Request message to create a customer."
    },
    "DevicesLongRunningOperationMetadata": {
      "id": "DevicesLongRunningOperationMetadata",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "processingStatus": {
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "type": "string",
          "description": "The processing status of the operation."
        },
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field."
        },
        "devicesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates."
        }
      },
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FindDevicesByDeviceIdentifierRequest",
      "description": "Request to find devices."
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "id": "FindDevicesByDeviceIdentifierResponse",
      "properties": {
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        },
        "devices": {
          "type": "array",
          "description": "Found devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response containing found devices."
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "sectionType": {
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "googleWorkspaceCustomerId": {
          "items": {
            "type": "string"
          },
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "type": "array"
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "customerId": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The list of customer IDs to search for.",
          "type": "array"
        }
      },
      "id": "FindDevicesByOwnerRequest"
    },
    "CustomerListCustomersResponse": {
      "description": "Response message for listing my customers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "description": "The customer accounts the calling user is a member of.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        }
      },
      "id": "CustomerListCustomersResponse"
    },
    "Dpc": {
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "type": "object",
      "properties": {
        "dpcName": {
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "readOnly": true,
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Dpc"
    },
    "ClaimDeviceResponse": {
      "description": "Response message containing device id of the claim.",
      "properties": {
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "The device ID of the claimed device."
        }
      },
      "type": "object",
      "id": "ClaimDeviceResponse"
    },
    "CustomerListDevicesResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      },
      "id": "CustomerListDevicesResponse",
      "description": "Response message of customer's liting devices."
    },
    "ClaimDeviceRequest": {
      "id": "ClaimDeviceRequest",
      "properties": {
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Optional. The metadata to attach to the device."
        },
        "sectionType": {
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "simlockProfileId": {
          "type": "string",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile (go/simlock/profiles).",
          "format": "int64"
        }
      },
      "description": "Request message to claim a device on behalf of a customer.",
      "type": "object"
    }
  },
  "version_module": true,
  "resources": {
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/customers",
              "response": {
                "$ref": "Company"
              },
              "id": "androiddeviceprovisioning.partners.customers.create",
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal."
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned."
                },
                "partnerId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner."
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "androiddeviceprovisioning.partners.customers.list",
              "flatPath": "v1/partners/{partnersId}/customers",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "path": "v1/partners/{+partnerId}/customers"
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the customers of the vendor.",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customers",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of results to be returned.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "flatPath": "v1/partners/{partnersId}/vendors",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to be returned."
                }
              },
              "path": "v1/{+parent}/vendors",
              "description": "Lists the vendors of the partner.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "devices": {
          "methods": {
            "updateMetadataAsync": {
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The reseller partner ID.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync"
            },
            "findByIdentifier": {
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true,
                  "location": "path",
                  "format": "int64"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier"
            },
            "claimAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync"
            },
            "get": {
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Device"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a device.",
              "id": "androiddeviceprovisioning.partners.devices.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "type": "string",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}"
            },
            "findByOwner": {
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST"
            },
            "unclaimAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The reseller partner ID.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "response": {
                "$ref": "Operation"
              }
            },
            "unclaim": {
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment."
            },
            "claim": {
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "path": "v1/partners/{+partnerId}/devices:claim",
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.claim"
            },
            "metadata": {
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "httpMethod": "POST",
              "parameters": {
                "deviceId": {
                  "description": "Required. The ID of the device.",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$"
                },
                "metadataOwnerId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "description": "Updates reseller metadata associated with the device. Android devices only."
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "androiddeviceprovisioning.operations.get",
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "path": "v1/{+name}",
          "httpMethod": "GET"
        }
      }
    },
    "customers": {
      "resources": {
        "configurations": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                }
              },
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "path": "v1/{+name}"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the details of a configuration.",
              "response": {
                "$ref": "Configuration"
              },
              "parameters": {
                "name": {
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.customers.configurations.get"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a customer's configurations.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "path": "v1/{+parent}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              }
            },
            "create": {
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "request": {
                "$ref": "Configuration"
              },
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "path": "v1/{+parent}/configurations"
            },
            "patch": {
              "request": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Updates a configuration's field values.",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "PATCH",
              "id": "androiddeviceprovisioning.customers.configurations.patch"
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/dpcs",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CustomerListDpcsResponse"
              }
            }
          }
        },
        "devices": {
          "methods": {
            "list": {
              "flatPath": "v1/customers/{customersId}/devices",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a customer's devices.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int64",
                  "location": "query",
                  "description": "The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token specifying which result page to return.",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/devices",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Device"
              },
              "id": "androiddeviceprovisioning.customers.devices.get",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the details of a device."
            },
            "unclaim": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "path": "v1/{+parent}/devices:unclaim",
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "httpMethod": "POST"
            },
            "removeConfiguration": {
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "description": "Removes a configuration from device.",
              "path": "v1/{+parent}/devices:removeConfiguration",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              }
            },
            "applyConfiguration": {
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration"
            }
          }
        }
      },
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "flatPath": "v1/customers",
          "id": "androiddeviceprovisioning.customers.list",
          "description": "Lists the user's customer accounts.",
          "parameters": {
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "path": "v1/customers",
          "parameterOrder": []
        }
      }
    }
  },
  "id": "androiddeviceprovisioning:v1",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230222",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}
