{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/data-catalog/docs/",
  "baseUrl": "https://datacatalog.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1",
  "canonicalName": "Data Catalog",
  "version_module": true,
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "revision": "20230221",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleCloudDatacatalogV1SerializedPolicyTag": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the serialized policy tag. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "policyTag": {
          "description": "Resource name of the policy tag. This field is ignored when calling `ImportTaxonomies`.",
          "type": "string"
        },
        "childPolicyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          },
          "description": "Children of the policy tag, if any.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the policy tag. At most 200 bytes when encoded in UTF-8."
        }
      },
      "description": "A nested protocol buffer that represents a policy tag and all its descendants.",
      "id": "GoogleCloudDatacatalogV1SerializedPolicyTag",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SerializedTaxonomy": {
      "id": "GoogleCloudDatacatalogV1SerializedTaxonomy",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the taxonomy. At most 200 bytes when encoded in UTF-8."
        },
        "description": {
          "description": "Description of the serialized taxonomy. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        },
        "activatedPolicyTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ],
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "type": "string"
          },
          "description": "A list of policy types that are activated per taxonomy."
        },
        "policyTags": {
          "type": "array",
          "description": "Top level policy tags associated with the taxonomy, if any.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          }
        }
      },
      "description": "A nested protocol buffer that represents a taxonomy and the hierarchy of its policy tags. Used for taxonomy replacement, import, and export.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1EntryGroup": {
      "id": "GoogleCloudDatacatalogV1EntryGroup",
      "properties": {
        "description": {
          "type": "string",
          "description": "Entry group description. Can consist of several sentences or paragraphs that describe the entry group contents. Default value is an empty string."
        },
        "displayName": {
          "type": "string",
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string."
        },
        "name": {
          "description": "The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name.",
          "type": "string"
        },
        "dataCatalogTimestamps": {
          "description": "Output only. Timestamps of the entry group. Default value is empty.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        }
      },
      "description": "Entry group metadata. An `EntryGroup` resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1FieldType": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1FieldType",
      "properties": {
        "enumType": {
          "description": "An enum type.",
          "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumType"
        },
        "primitiveType": {
          "enumDescriptions": [
            "The default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp.",
            "A Richtext description."
          ],
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP",
            "RICHTEXT"
          ],
          "description": "Primitive types, such as string, boolean, etc.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "properties": {
        "dataplexTable": {
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec",
          "readOnly": true,
          "description": "Output only. Fields specific to a Dataplex table and present only in the Dataplex table entries."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ],
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ],
          "description": "Type of this table."
        },
        "databaseViewSpec": {
          "description": "Spec what aplies to tables that are actually views. Not set for \"real\" tables.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsRequest": {
      "id": "GoogleCloudDatacatalogV1ReconcileTagsRequest",
      "description": "Request message for ReconcileTags.",
      "properties": {
        "tags": {
          "type": "array",
          "description": "A list of tags to apply to an entry. A tag can specify a tag template, which must be the template specified in the `ReconcileTagsRequest`. The sole entry and each of its columns must be mentioned at most once.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          }
        },
        "tagTemplate": {
          "description": "Required. The name of the tag template, which is used for reconciliation.",
          "type": "string"
        },
        "forceDeleteMissing": {
          "description": "If set to `true`, deletes entry tags related to a tag template not listed in the tags source from an entry. If set to `false`, unlisted tags are retained.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "type": "object",
      "description": "An enum value.",
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest": {
      "properties": {
        "newEnumValueDisplayName": {
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest",
      "description": "Request message for RenameTagTemplateFieldEnumValue.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ListPolicyTagsResponse": {
      "id": "GoogleCloudDatacatalogV1ListPolicyTagsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more results in the list.",
          "type": "string"
        },
        "policyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1PolicyTag"
          },
          "description": "The policy tags that belong to the taxonomy.",
          "type": "array"
        }
      },
      "description": "Response message for ListPolicyTags."
    },
    "GoogleCloudDatacatalogV1InlineSource": {
      "id": "GoogleCloudDatacatalogV1InlineSource",
      "type": "object",
      "description": "Inline source containing taxonomies to import.",
      "properties": {
        "taxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          },
          "description": "Required. Taxonomies to import."
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "description": "Schema in Avro JSON format.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
      "properties": {
        "text": {
          "type": "string",
          "description": "JSON source of the Avro schema."
        }
      }
    },
    "GoogleCloudDatacatalogV1UnstarEntryResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDatacatalogV1UnstarEntryResponse",
      "description": "Response message for UnstarEntry. Empty for now"
    },
    "GoogleCloudDatacatalogV1TagTemplate": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
          },
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. The map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. The IDs have the following limitations: * Can contain uppercase and lowercase letters, numbers (0-9) and underscores (_). * Must be at least 1 character and at most 64 characters long. * Must start with a letter or underscore.",
          "type": "object"
        },
        "isPubliclyReadable": {
          "type": "boolean",
          "description": "Indicates whether tags created with this template are public. Public tags do not require tag template access to appear in ListTags API response. Additionally, you can search for a public tag by value with a simple search query in addition to using a ``tag:`` predicate."
        },
        "displayName": {
          "description": "Display name for this template. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the tag template in URL format. Note: The tag template itself and its child resources might not be stored in the location specified in its name."
        }
      },
      "id": "GoogleCloudDatacatalogV1TagTemplate",
      "type": "object",
      "description": "A tag template defines a tag that can have one or more typed fields. The template is used to create tags that are attached to Google Cloud resources. [Tag template roles] (https://cloud.google.com/iam/docs/understanding-roles#data-catalog-roles) provide permissions to create, edit, and use the template. For example, see the [TagTemplate User] (https://cloud.google.com/data-catalog/docs/how-to/template-user) role that includes a permission to use the tag template to tag resources."
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "type": "object",
      "properties": {
        "viewQuery": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The query that defines the table view."
        }
      },
      "description": "Table view specification."
    },
    "GoogleCloudDatacatalogV1ExportTaxonomiesResponse": {
      "description": "Response message for ExportTaxonomies.",
      "properties": {
        "taxonomies": {
          "description": "List of taxonomies and policy tags as nested protocol buffers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1ExportTaxonomiesResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexFilesetSpec": {
      "type": "object",
      "description": "Entry specyfication for a Dataplex fileset.",
      "id": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
      "properties": {
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex fields."
        }
      }
    },
    "GoogleCloudDatacatalogV1TagField": {
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "The value of a tag field with a boolean type."
        },
        "order": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.",
          "readOnly": true
        },
        "doubleValue": {
          "description": "The value of a tag field with a double type.",
          "format": "double",
          "type": "number"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of this field."
        },
        "enumValue": {
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.",
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue"
        },
        "richtextValue": {
          "type": "string",
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB."
        },
        "stringValue": {
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "description": "The value of a tag field with a timestamp type.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TagField",
      "description": "Contains the value and additional information on a field within a Tag."
    },
    "GoogleCloudDatacatalogV1ListEntriesResponse": {
      "id": "GoogleCloudDatacatalogV1ListEntriesResponse",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Entry"
          },
          "description": "Entry details.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more items in results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListEntries."
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequestScope": {
      "description": "The criteria that select the subspace used for query matching.",
      "properties": {
        "includePublicTagTemplates": {
          "type": "boolean",
          "description": "Optional. This field is deprecated. The search mechanism for public and private tag templates is the same."
        },
        "starredOnly": {
          "description": "Optional. If `true`, search only among starred entries. By default, all results are returned, starred or not.",
          "type": "boolean"
        },
        "includeGcpPublicDatasets": {
          "description": "If `true`, include Google Cloud public datasets in search results. By default, they are excluded. See [Google Cloud Public Datasets](/public-datasets) for more information.",
          "type": "boolean"
        },
        "includeOrgIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of organization IDs to search within. To find your organization ID, follow the steps from [Creating and managing organizations] (/resource-manager/docs/creating-managing-organization)."
        },
        "restrictedLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of locations to search within. If empty, all locations are searched. Returns an error if any location in the list isn't one of the [Supported regions](https://cloud.google.com/data-catalog/docs/concepts/regions#supported_regions). If a location is unreachable, its name is returned in the `SearchCatalogResponse.unreachable` field. To get additional information on the error, repeat the search request and set the location name as the value of this parameter."
        },
        "includeProjectIds": {
          "description": "The list of project IDs to search within. For more information on the distinction between project names, IDs, and numbers, see [Projects](/docs/overview/#projects).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequestScope"
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the enum value. Must not be an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue"
    },
    "GoogleCloudDatacatalogV1TaxonomyService": {
      "description": "The source system of the Taxonomy.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Google Cloud service name.",
          "enumDescriptions": [
            "Default value",
            "Dataplex.",
            "Other"
          ],
          "enum": [
            "MANAGING_SYSTEM_UNSPECIFIED",
            "MANAGING_SYSTEM_DATAPLEX",
            "MANAGING_SYSTEM_OTHER"
          ]
        },
        "identity": {
          "description": "P4SA Identity of the service.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1TaxonomyService",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexSpec": {
      "description": "Common Dataplex fields.",
      "id": "GoogleCloudDatacatalogV1DataplexSpec",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the correspondingly Dataplex lake / zone / asset.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Format of the data.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchema"
        },
        "compressionFormat": {
          "description": "Compression format of the data, e.g., zip, gzip etc.",
          "type": "string"
        },
        "asset": {
          "type": "string",
          "description": "Fully qualified resource name of an asset in Dataplex, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached."
        }
      }
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "type": "object",
      "properties": {
        "parentModelDisplayName": {
          "type": "string",
          "description": "Name of the parent Model. Empty if it does not exist."
        },
        "parentViewDisplayName": {
          "type": "string",
          "description": "Name of the parent View. Empty if it does not exist."
        },
        "parentInstanceId": {
          "type": "string",
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`"
        },
        "parentViewId": {
          "description": "ID of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentModelId": {
          "type": "string",
          "description": "ID of the parent Model. Empty if it does not exist."
        },
        "parentInstanceDisplayName": {
          "description": "Name of the parent Looker Instance. Empty if it does not exist.",
          "type": "string"
        }
      },
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)"
    },
    "GoogleCloudDatacatalogV1CrossRegionalSource": {
      "properties": {
        "taxonomy": {
          "description": "Required. The resource name of the source taxonomy to import.",
          "type": "string"
        }
      },
      "description": "Cross-regional source used to import an existing taxonomy into a different region.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1CrossRegionalSource"
    },
    "GoogleCloudDatacatalogV1EntryOverview": {
      "id": "GoogleCloudDatacatalogV1EntryOverview",
      "type": "object",
      "description": "Entry overview fields for rich text descriptions of entries.",
      "properties": {
        "overview": {
          "description": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1Tag": {
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Tag",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name."
        },
        "template": {
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation.",
          "type": "string"
        },
        "templateDisplayName": {
          "description": "Output only. The display name of the tag template.",
          "readOnly": true,
          "type": "string"
        },
        "column": {
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          },
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields."
        }
      }
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest": {
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest",
      "properties": {
        "newTagTemplateFieldId": {
          "type": "string",
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`."
        }
      },
      "type": "object",
      "description": "Request message for RenameTagTemplateField."
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "id": "GoogleCloudDatacatalogV1BusinessContext",
      "description": "Business Context of the entry.",
      "properties": {
        "contacts": {
          "$ref": "GoogleCloudDatacatalogV1Contacts",
          "description": "Contact people for the entry."
        },
        "entryOverview": {
          "$ref": "GoogleCloudDatacatalogV1EntryOverview",
          "description": "Entry overview fields for rich text descriptions of entries."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Entry": {
      "properties": {
        "userSpecifiedType": {
          "type": "string",
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
        },
        "schema": {
          "$ref": "GoogleCloudDatacatalogV1Schema",
          "description": "Schema of the entry. An entry might not have any schema attached to it."
        },
        "lookerSystemSpec": {
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`",
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec"
        },
        "dataSourceConnectionSpec": {
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type.",
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
        },
        "integratedSystem": {
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex.",
            "Cloud Sql",
            "Looker"
          ],
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SQL",
            "LOOKER"
          ]
        },
        "sqlDatabaseSystemSpec": {
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`"
        },
        "usageSignal": {
          "$ref": "GoogleCloudDatacatalogV1UsageSignal",
          "description": "Resource usage statistics."
        },
        "personalDetails": {
          "description": "Output only. Additional information related to the entry. Private to the current user.",
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails",
          "readOnly": true
        },
        "labels": {
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "filesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec",
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type."
        },
        "routineSpec": {
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec",
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type."
        },
        "gcsFilesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec",
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type."
        },
        "dataSource": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataSource",
          "description": "Output only. Physical location of the entry."
        },
        "businessContext": {
          "$ref": "GoogleCloudDatacatalogV1BusinessContext",
          "description": "Business Context of the entry. Not supported for BigQuery datasets"
        },
        "bigqueryDateShardedSpec": {
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
          "readOnly": true
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
          "type": "string"
        },
        "sourceSystemTimestamps": {
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "type": {
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "Output only. The type of models. For more information, see [Supported models in BigQuery ML] (https://cloud.google.com/bigquery-ml/docs/introduction#supported_models_in).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Output only. Connection to a data source. For example, a BigQuery connection.",
            "Output only. Routine, for example, a BigQuery routine.",
            "A Dataplex lake.",
            "A Dataplex zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look)."
          ],
          "description": "The type of the entry. Only used for entries with types listed in the `EntryType` enum. Currently, only `FILESET` enum value is allowed. All other entries created in Data Catalog must use the `user_specified_type`."
        },
        "fullyQualifiedName": {
          "type": "string",
          "description": "Fully qualified name (FQN) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation and read-only afterwards. Can be used for search and lookup of the entries. FQNs take two forms: * For non-regionalized resources: `{SYSTEM}:{PROJECT}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` * For regionalized resources: `{SYSTEM}:{PROJECT}.{LOCATION_ID}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` Example for a DPMS table: `dataproc_metastore:{PROJECT_ID}.{LOCATION_ID}.{INSTANCE_ID}.{DATABASE_ID}.{TABLE_ID}`"
        },
        "bigqueryTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec",
          "readOnly": true,
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type."
        },
        "databaseTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec",
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type."
        },
        "userSpecifiedSystem": {
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string."
        },
        "description": {
          "type": "string",
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Entry",
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag."
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema": {
      "properties": {},
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
      "type": "object",
      "description": "Marks a Parquet-encoded data source."
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequest": {
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. Pagination token that, if specified, returns the next page of search results. If empty, returns the first page. This token is returned in the SearchCatalogResponse.next_page_token field of the response to a previous SearchCatalogRequest call.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Number of results to return in a single search page. Can't be negative or 0, defaults to 10 in this case. The maximum number is 1000. If exceeded, throws an \"invalid argument\" exception.",
          "type": "integer"
        },
        "orderBy": {
          "type": "string",
          "description": "Specifies the order of results. Currently supported case-sensitive values are: * `relevance` that can only be descending * `last_modified_timestamp [asc|desc]` with descending (`desc`) as default * `default` that can only be descending If this parameter is omitted, it defaults to the descending `relevance`."
        },
        "scope": {
          "description": "Required. The scope of this search request. The `scope` is invalid if `include_org_ids`, `include_project_ids` are empty AND `include_gcp_public_datasets` is set to `false`. In this case, the request returns an error.",
          "$ref": "GoogleCloudDatacatalogV1SearchCatalogRequestScope"
        },
        "query": {
          "description": "Optional. The query string with a minimum of 3 characters and specific syntax. For more information, see [Data Catalog search syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference). An empty query string returns all data assets (in the specified scope) that you have access to. A query string can be a simple `xyz` or qualified by predicates: * `name:x` * `column:y` * `description:z`",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequest",
      "description": "Request message for SearchCatalog."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1ReconcileTagsMetadata": {
      "description": "Long-running operation metadata message returned by the ReconcileTags.",
      "type": "object",
      "properties": {
        "errors": {
          "type": "object",
          "description": "Maps the name of each tagged column (or empty string for a sole entry) to tagging operation status.",
          "additionalProperties": {
            "$ref": "Status"
          }
        },
        "state": {
          "description": "State of the reconciliation operation.",
          "type": "string",
          "enum": [
            "RECONCILIATION_STATE_UNSPECIFIED",
            "RECONCILIATION_QUEUED",
            "RECONCILIATION_IN_PROGRESS",
            "RECONCILIATION_DONE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The reconciliation has been queued and awaits for execution.",
            "The reconciliation is in progress.",
            "The reconciliation has been finished."
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1ReconcileTagsMetadata"
    },
    "GoogleCloudDatacatalogV1SystemTimestamps": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation timestamp of the resource within the given system.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Timestamps associated with this resource in a particular system.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SystemTimestamps"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
      "properties": {
        "text": {
          "description": "Protocol buffer source of the schema.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Schema in protocol buffer format."
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec",
      "description": "Entry specification for a Dataplex table.",
      "properties": {
        "userManaged": {
          "description": "Indicates if the table schema is managed by the user or not.",
          "type": "boolean"
        },
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex fields."
        },
        "externalTables": {
          "type": "array",
          "description": "List of external tables registered by Dataplex in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UsageStats": {
      "type": "object",
      "properties": {
        "totalFailures": {
          "description": "The number of failed attempts to use the underlying entry.",
          "type": "number",
          "format": "float"
        },
        "totalCompletions": {
          "description": "The number of successful uses of the underlying entry.",
          "format": "float",
          "type": "number"
        },
        "totalExecutionTimeForCompletionsMillis": {
          "type": "number",
          "description": "Total time spent only on successful uses, in milliseconds.",
          "format": "float"
        },
        "totalCancellations": {
          "description": "The number of cancelled attempts to use the underlying entry.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)",
      "id": "GoogleCloudDatacatalogV1UsageStats"
    },
    "GoogleCloudDatacatalogV1ListTaxonomiesResponse": {
      "description": "Response message for ListTaxonomies.",
      "id": "GoogleCloudDatacatalogV1ListTaxonomiesResponse",
      "type": "object",
      "properties": {
        "taxonomies": {
          "description": "Taxonomies that the project contains.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Taxonomy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest": {
      "id": "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest",
      "type": "object",
      "properties": {
        "entryOverview": {
          "$ref": "GoogleCloudDatacatalogV1EntryOverview",
          "description": "Required. The new value for the Entry Overview."
        }
      },
      "description": "Request message for ModifyEntryOverview."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "id": "Binding"
    },
    "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest": {
      "id": "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest",
      "type": "object",
      "description": "Request message for ReplaceTaxonomy.",
      "properties": {
        "serializedTaxonomy": {
          "description": "Required. Taxonomy to update along with its child policy tags.",
          "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
        }
      }
    },
    "GoogleCloudDatacatalogV1Taxonomy": {
      "properties": {
        "policyTagCount": {
          "format": "int32",
          "description": "Output only. Number of policy tags in this taxonomy.",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined name of this taxonomy. The name can't start or end with spaces, must contain only Unicode letters, numbers, underscores, dashes, and spaces, and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization."
        },
        "taxonomyTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "readOnly": true,
          "description": "Output only. Creation and modification timestamps of this taxonomy."
        },
        "description": {
          "description": "Optional. Description of this taxonomy. If not set, defaults to empty. The description must contain only Unicode characters, tabs, newlines, carriage returns, and page breaks, and be at most 2000 bytes long when encoded in UTF-8.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this taxonomy in URL format. Note: Policy tag manager generates unique taxonomy IDs."
        },
        "service": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1TaxonomyService",
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported."
        },
        "activatedPolicyTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ],
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "type": "string"
          },
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Taxonomy",
      "description": "A taxonomy is a collection of hierarchical policy tags that classify data along a common axis. For example, a \"data sensitivity\" taxonomy might contain the following policy tags: ``` + PII + Account number + Age + SSN + Zipcode + Financials + Revenue ``` A \"data origin\" taxonomy might contain the following policy tags: ``` + User data + Employee data + Partner data + Public data ```"
    },
    "GoogleCloudDatacatalogV1ImportTaxonomiesResponse": {
      "properties": {
        "taxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Taxonomy"
          },
          "description": "Imported taxonomies."
        }
      },
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesResponse",
      "description": "Response message for ImportTaxonomies.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "properties": {
        "latestShardResource": {
          "readOnly": true,
          "description": "Output only. BigQuery resource name of the latest shard.",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.",
          "readOnly": true,
          "type": "string"
        },
        "shardCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total number of shards.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding)."
    },
    "GoogleCloudDatacatalogV1ColumnSchema": {
      "id": "GoogleCloudDatacatalogV1ColumnSchema",
      "description": "A column within a schema. Columns can be nested inside other columns.",
      "properties": {
        "type": {
          "description": "Required. Type of the column. Must be a UTF-8 string with the maximum size of 128 bytes.",
          "type": "string"
        },
        "gcRule": {
          "description": "Optional. Garbage collection policy for the column or column family. Applies to systems like Cloud Bigtable.",
          "type": "string"
        },
        "mode": {
          "description": "Optional. A column's mode indicates whether values in this column are required, nullable, or repeated. Only `NULLABLE`, `REQUIRED`, and `REPEATED` values are supported. Default mode is `NULLABLE`.",
          "type": "string"
        },
        "subcolumns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "type": "array",
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns."
        },
        "lookerColumnSpec": {
          "$ref": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
          "description": "Looker specific column info of this column."
        },
        "ordinalPosition": {
          "type": "integer",
          "description": "Optional. Ordinal position",
          "format": "int32"
        },
        "column": {
          "description": "Required. Name of the column. Must be a UTF-8 string without dots (.). The maximum size is 64 bytes.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string. The description must be a UTF-8 string with the maximum size of 2000 bytes.",
          "type": "string"
        },
        "highestIndexingType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Column not a part of an index.",
            "Column Part of non unique index.",
            "Column part of unique index.",
            "Column part of the primary key."
          ],
          "description": "Optional. Most important inclusion of this column.",
          "enum": [
            "INDEXING_TYPE_UNSPECIFIED",
            "INDEXING_TYPE_NONE",
            "INDEXING_TYPE_NON_UNIQUE",
            "INDEXING_TYPE_UNIQUE",
            "INDEXING_TYPE_PRIMARY_KEY"
          ]
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. Default value for the column."
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumType": {
      "properties": {
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue"
          },
          "type": "array",
          "description": "The set of allowed values for this enum. This set must not be empty and can include up to 100 allowed values. The display names of the values in this set must not be empty and must be case-insensitively unique within this set. The order of items in this set is preserved. This field can be used to create, remove, and reorder enum values. To rename enum values, use the `RenameTagTemplateFieldEnumValue` method."
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumType",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ListTagsResponse": {
      "description": "Response message for ListTags.",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more items in results.",
          "type": "string"
        },
        "tags": {
          "description": "Tag details.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1ListTagsResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "description": "Contact people for the entry.",
      "type": "object",
      "properties": {
        "people": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "type": "array",
          "description": "The list of contact people for the entry."
        }
      },
      "id": "GoogleCloudDatacatalogV1Contacts"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudDatacatalogV1SearchCatalogResponse": {
      "id": "GoogleCloudDatacatalogV1SearchCatalogResponse",
      "properties": {
        "unreachable": {
          "description": "Unreachable locations. Search results don't include data from those locations. To get additional information on an error, repeat the search request and restrict it to specific locations by setting the `SearchCatalogRequest.scope.restricted_locations` parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "results": {
          "description": "Search results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SearchCatalogResult"
          }
        },
        "nextPageToken": {
          "description": "Pagination token that can be used in subsequent calls to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for SearchCatalog."
    },
    "GoogleCloudDatacatalogV1TableSpec": {
      "properties": {
        "groupedEntry": {
          "description": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Normal BigQuery table specification.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TableSpec"
    },
    "GoogleCloudDatacatalogV1StorageProperties": {
      "description": "Details the properties of the underlying storage.",
      "id": "GoogleCloudDatacatalogV1StorageProperties",
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileType": {
          "description": "File type in MIME format, for example, `text/plain`.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleCloudDatacatalogV1BigQueryConnectionSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BigQueryConnectionSpec",
      "description": "Specification for the BigQuery connection.",
      "properties": {
        "cloudSql": {
          "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
          "$ref": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
        },
        "connectionType": {
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud SQL connection."
          ],
          "description": "The type of the BigQuery connection.",
          "type": "string",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CLOUD_SQL"
          ]
        },
        "hasCredential": {
          "description": "True if there are credentials attached to the BigQuery connection; false otherwise.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogV1DataSourceConnectionSpec": {
      "properties": {
        "bigqueryConnectionSpec": {
          "description": "Output only. Fields specific to BigQuery connections.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryConnectionSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1DataSourceConnectionSpec",
      "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type. Only one of internal specs can be set at the time, and cannot be changed later.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagTemplateField": {
      "description": "The template for an individual field within a tag template.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description for this field. Defaults to an empty string."
        },
        "isRequired": {
          "type": "boolean",
          "description": "If true, this field is required. Defaults to false."
        },
        "displayName": {
          "description": "The display name for this field. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the tag template field in URL format. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE}/fields/{FIELD}` Note: The tag template field itself might not be stored in the location specified in its name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 64 characters.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag template. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order and field orders within a tag don't have to be sequential.",
          "format": "int32"
        },
        "type": {
          "$ref": "GoogleCloudDatacatalogV1FieldType",
          "description": "Required. The type of value this tag field can contain."
        }
      },
      "id": "GoogleCloudDatacatalogV1TagTemplateField"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "properties": {
        "text": {
          "description": "Thrift IDL source of the schema.",
          "type": "string"
        }
      },
      "description": "Schema in Thrift format.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ContactsPerson": {
      "properties": {
        "designation": {
          "type": "string",
          "description": "Designation of the person, for example, Data Steward."
        },
        "email": {
          "type": "string",
          "description": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`."
        }
      },
      "description": "A contact person for the entry.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ContactsPerson"
    },
    "GoogleCloudDatacatalogV1ImportEntriesRequest": {
      "description": "Request message for ImportEntries method.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ImportEntriesRequest",
      "properties": {
        "gcsBucketPath": {
          "description": "Path to a Cloud Storage bucket that contains a dump ready for ingestion.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ListEntryGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ListEntryGroupsResponse",
      "description": "Response message for ListEntryGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to specify in the next call to retrieve the next page of results. Empty if there are no more items."
        },
        "entryGroups": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1EntryGroup"
          },
          "description": "Entry group details.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1DataSource": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataSource",
      "properties": {
        "resource": {
          "description": "Full name of a resource as defined by the service. For example: `//bigquery.googleapis.com/projects/{PROJECT_ID}/locations/{LOCATION}/datasets/{DATASET_ID}/tables/{TABLE_ID}`",
          "type": "string"
        },
        "storageProperties": {
          "$ref": "GoogleCloudDatacatalogV1StorageProperties",
          "description": "Detailed properties of the underlying storage."
        },
        "sourceEntry": {
          "description": "Output only. Data Catalog entry name, if applicable.",
          "type": "string",
          "readOnly": true
        },
        "service": {
          "enum": [
            "SERVICE_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ],
          "description": "Service that physically stores the data.",
          "enumDescriptions": [
            "Default unknown service.",
            "Google Cloud Storage service.",
            "BigQuery service."
          ],
          "type": "string"
        }
      },
      "description": "Physical location of an entry."
    },
    "GoogleCloudDatacatalogV1StarEntryResponse": {
      "id": "GoogleCloudDatacatalogV1StarEntryResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for StarEntry. Empty for now"
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Cloud SQL instance ID in the format of `project:location:instance`.",
          "type": "string"
        },
        "database": {
          "description": "Database name.",
          "type": "string"
        },
        "type": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ],
          "description": "Type of the Cloud SQL database."
        }
      },
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec",
      "description": "Specification for the BigQuery connection to a Cloud SQL instance."
    },
    "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "id": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
      "type": "object",
      "properties": {
        "instanceHost": {
          "description": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Version of the database engine.",
          "type": "string"
        },
        "sqlEngine": {
          "type": "string",
          "description": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance."
        }
      },
      "description": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)"
    },
    "GoogleCloudDatacatalogV1Schema": {
      "id": "GoogleCloudDatacatalogV1Schema",
      "description": "Represents a schema, for example, a BigQuery, GoogleSQL, or Avro schema.",
      "type": "object",
      "properties": {
        "columns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "type": "array",
          "description": "The unified GoogleSQL-like schema of columns. The overall maximum number of columns and nested columns is 10,000. The maximum nested depth is 15 levels."
        }
      }
    },
    "GoogleCloudDatacatalogV1StarEntryRequest": {
      "description": "Request message for StarEntry.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1StarEntryRequest",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1ImportEntriesMetadata": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Partial errors that are encountered during the ImportEntries operation. There is no guarantee that all the encountered errors are reported. However, if no errors are reported, it means that no errors were encountered."
        },
        "state": {
          "enum": [
            "IMPORT_STATE_UNSPECIFIED",
            "IMPORT_QUEUED",
            "IMPORT_IN_PROGRESS",
            "IMPORT_DONE",
            "IMPORT_OBSOLETE"
          ],
          "description": "State of the import operation.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The dump with entries has been queued for import.",
            "The import of entries is in progress.",
            "The import of entries has been finished.",
            "The import of entries has been abandoned in favor of a newer request."
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1ImportEntriesMetadata",
      "description": "Metadata message for long-running operation returned by the ImportEntries.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "properties": {
        "type": {
          "description": "Type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "type": "string",
          "description": "Specifies whether the argument is input or output."
        },
        "name": {
          "type": "string",
          "description": "The name of the argument. A return argument of a function might not have a name."
        }
      },
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument",
      "type": "object",
      "description": "Input or output argument of a function or stored procedure."
    },
    "GoogleCloudDatacatalogV1ModifyEntryContactsRequest": {
      "type": "object",
      "properties": {
        "contacts": {
          "$ref": "GoogleCloudDatacatalogV1Contacts",
          "description": "Required. The new value for the Contacts."
        }
      },
      "description": "Request message for ModifyEntryContacts.",
      "id": "GoogleCloudDatacatalogV1ModifyEntryContactsRequest"
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec",
      "type": "object",
      "description": "Describes a BigQuery table.",
      "properties": {
        "tableSpec": {
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1TableSpec"
        },
        "tableSourceType": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "description": "Output only. The table source type.",
          "readOnly": true
        },
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1ViewSpec",
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`."
        }
      }
    },
    "GoogleCloudDatacatalogV1GcsFileSpec": {
      "description": "Specification of a single file in Cloud Storage.",
      "properties": {
        "gcsTimestamps": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "description": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file."
        },
        "sizeBytes": {
          "description": "Output only. File size in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "filePath": {
          "type": "string",
          "description": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`."
        }
      },
      "id": "GoogleCloudDatacatalogV1GcsFileSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "type": "object",
      "description": "Long-running operation response message returned by ReconcileTags.",
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "properties": {
        "createdTagsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of tags created in the request."
        },
        "updatedTagsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of tags updated in the request."
        },
        "deletedTagsCount": {
          "format": "int64",
          "description": "Number of tags deleted in the request.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "The end timestamp of the duration of usage statistics.",
          "type": "string"
        },
        "favoriteCount": {
          "format": "int64",
          "type": "string",
          "description": "Favorite count in the source system."
        },
        "usageWithinTimeRange": {
          "readOnly": true,
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          }
        },
        "commonUsageWithinTimeRange": {
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1UsageSignal",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1RoutineSpec": {
      "id": "GoogleCloudDatacatalogV1RoutineSpec",
      "type": "object",
      "properties": {
        "definitionBody": {
          "type": "string",
          "description": "The body of the routine."
        },
        "routineType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ],
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "description": "The type of the routine."
        },
        "bigqueryRoutineSpec": {
          "description": "Fields specific for BigQuery routines.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryRoutineSpec"
        },
        "returnType": {
          "type": "string",
          "description": "Return type of the argument. The exact value depends on the source system and the language."
        },
        "routineArguments": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1RoutineSpecArgument"
          },
          "description": "Arguments of the routine.",
          "type": "array"
        },
        "language": {
          "type": "string",
          "description": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`"
        }
      },
      "description": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type."
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "type": "object",
      "properties": {
        "googleCloudResource": {
          "description": "Google Cloud resource name of the external table.",
          "type": "string"
        },
        "dataCatalogEntry": {
          "description": "Name of the Data Catalog entry representing the external table.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "type": "string",
          "description": "Fully qualified name (FQN) of the external table."
        },
        "system": {
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex.",
            "Cloud Sql",
            "Looker"
          ],
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SQL",
            "LOOKER"
          ],
          "description": "Service in which the external table is registered.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable",
      "description": "External table registered by Dataplex. Dataplex publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog."
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleCloudDatacatalogV1PersonalDetails": {
      "id": "GoogleCloudDatacatalogV1PersonalDetails",
      "description": "Entry metadata relevant only to the user and private to them.",
      "properties": {
        "starTime": {
          "description": "Set if the entry is starred; unset otherwise.",
          "format": "google-datetime",
          "type": "string"
        },
        "starred": {
          "type": "boolean",
          "description": "True if the entry is starred by the user; false otherwise."
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec": {
      "id": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "LOOKER_COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "DIMENSION_GROUP",
            "FILTER",
            "MEASURE",
            "PAREMETER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Dimension.",
            "Dimension group - parent for Dimension.",
            "Filter.",
            "Measure.",
            "Parameter."
          ],
          "description": "Looker specific column type of this column."
        }
      },
      "description": "Column info specific to Looker System."
    },
    "GoogleCloudDatacatalogV1PhysicalSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchema",
      "type": "object",
      "properties": {
        "avro": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
          "description": "Schema in Avro JSON format."
        },
        "protobuf": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
          "description": "Schema in protocol buffer format."
        },
        "parquet": {
          "description": "Marks a Parquet-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema"
        },
        "csv": {
          "description": "Marks a CSV-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema"
        },
        "thrift": {
          "description": "Schema in Thrift format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema"
        },
        "orc": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
          "description": "Marks an ORC-encoded data source."
        }
      },
      "description": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data."
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "type": "object",
      "properties": {
        "dataplexFileset": {
          "description": "Fields specific to a Dataplex fileset and present only in the Dataplex fileset entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec"
        }
      },
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type.",
      "id": "GoogleCloudDatacatalogV1FilesetSpec"
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse",
      "description": "Response message for long-running operation returned by the ImportEntries.",
      "properties": {
        "upsertedEntriesCount": {
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "type": "string",
          "format": "int64"
        },
        "deletedEntriesCount": {
          "description": "Number of entries deleted as a result of import operation.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
      "description": "Specification that applies to database view.",
      "type": "object",
      "properties": {
        "baseTable": {
          "type": "string",
          "description": "Name of a singular table this view reflects one to one."
        },
        "sqlQuery": {
          "type": "string",
          "description": "SQL query used to generate this view."
        },
        "viewType": {
          "type": "string",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ],
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ],
          "description": "Type of this view."
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "type": "object",
      "description": "Fields specific for BigQuery routines.",
      "properties": {
        "importedLibraries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Paths of the imported libraries."
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogV1UnstarEntryRequest": {
      "properties": {},
      "id": "GoogleCloudDatacatalogV1UnstarEntryRequest",
      "type": "object",
      "description": "Request message for UnstarEntry."
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "description": "Common statistics on the entry's usage. They can be set on any system.",
      "id": "GoogleCloudDatacatalogV1CommonUsageStats",
      "type": "object",
      "properties": {
        "viewCount": {
          "format": "int64",
          "type": "string",
          "description": "View count in source system."
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "description": "Marks an ORC-encoded data source.",
      "properties": {},
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GcsFilesetSpec": {
      "type": "object",
      "description": "Describes a Cloud Storage fileset entry.",
      "properties": {
        "filePatterns": {
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. For more information, see [Wildcard Names] (https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames). Note: Currently, bucket wildcards are not supported. Examples of valid `file_patterns`: * `gs://bucket_name/dir/*`: matches all files in `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` and all subdirectories * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to match complex sets of files, for example: `gs://bucket_name/[a-m]??.j*g`",
[...]
