{
  "ownerDomain": "google.com",
  "basePath": "",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "revision": "20230221",
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "methods": {
        "updateOrganizationSettings": {
          "description": "Updates an organization's settings.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true,
              "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The FieldMask to use when updating the settings resource. If empty all mutable fields will be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "path": "v1/{+name}",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "OrganizationSettings"
          },
          "httpMethod": "PATCH"
        },
        "getOrganizationSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the settings for an organization.",
          "httpMethod": "GET",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1/{+name}",
          "id": "securitycenter.organizations.getOrganizationSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "type": "string",
              "location": "path",
              "description": "Required. Name of the organization to get organization settings for. Its format is \"organizations/[organization_id]/organizationSettings\".",
              "required": true
            }
          }
        }
      },
      "resources": {
        "sources": {
          "resources": {
            "findings": {
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\"",
                          "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "The FieldMask to use when updating the external system resource. If empty all mutable fields will be updated."
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "description": "Updates external system. This is for a given finding.",
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "securitycenter.organizations.sources.findings.externalSystems.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "description": "Creates a finding. The corresponding source must exist for finding creation to succeed.",
                  "request": {
                    "$ref": "Finding"
                  },
                  "path": "v1/{+parent}/findings",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the new finding's parent. Its format should be \"organizations/[organization_id]/sources/[source_id]\".",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string"
                    },
                    "findingId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Unique identifier provided by the client within the parent scope. It must be alphanumeric and less than or equal to 32 characters and greater than 0 characters in length."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Finding"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.create"
                },
                "patch": {
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Finding"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "path": "v1/{+name}",
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$"
                    },
                    "updateMask": {
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding. When updating a finding, an empty mask is treated as updating all mutable fields and replacing source_properties. Individual source_properties can be added/updated by using \"source_properties.\" in the field mask.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH"
                },
                "group": {
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings, /v1/folders/{folder_id}/sources/-/findings, /v1/projects/{project_id}/sources/-/findings",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\", folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]. To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/-, or projects/{project_id}/sources/-",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/findings:group",
                  "id": "securitycenter.organizations.sources.findings.group"
                },
                "setMute": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:setMute",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Finding"
                  },
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "description": "Updates the mute state of a finding.",
                  "id": "securitycenter.organizations.sources.findings.setMute"
                },
                "setState": {
                  "response": {
                    "$ref": "Finding"
                  },
                  "path": "v1/{+name}:setState",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "description": "Updates the state of a finding.",
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/findings",
                  "parameters": {
                    "compareDuration": {
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added in any state during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data."
                    },
                    "fieldMask": {
                      "type": "string",
                      "location": "query",
                      "description": "A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
                      "format": "google-fieldmask"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id], folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/- or projects/{projects_id}/sources/-",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.display_name: `=`, `:`",
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "orderBy": {
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent. The following fields are supported: name parent state category resource_name event_time source_properties security_marks.marks",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.organizations.sources.findings.list",
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings"
                },
                "updateSecurityMarks": {
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "description": "Updates security marks.",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "parameters": {
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string",
                      "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\"."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "required": true,
                      "location": "path",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Resource name of the new source's parent. Its format should be \"organizations/[organization_id]\".",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Source"
              },
              "flatPath": "v1/organizations/{organizationsId}/sources",
              "path": "v1/{+parent}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a source.",
              "id": "securitycenter.organizations.sources.create",
              "response": {
                "$ref": "Source"
              }
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/sources",
              "id": "securitycenter.organizations.sources.list",
              "description": "Lists all sources belonging to an organization.",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/sources",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "name": {
                  "description": "Required. Relative resource name of the source. Its format is \"organizations/[organization_id]/source/[source_id]\".",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Source"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a source.",
              "id": "securitycenter.organizations.sources.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a source.",
              "id": "securitycenter.organizations.sources.patch",
              "request": {
                "$ref": "Source"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "The FieldMask to use when updating the source resource. If empty all mutable fields will be updated."
                },
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}",
              "response": {
                "$ref": "Source"
              }
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy on the specified Source.",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST"
            },
            "testIamPermissions": {
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "description": "Returns the permissions that a caller has on the specified source.",
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified Source.",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy"
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/findings:bulkMute",
              "description": "Kicks off an LRO to bulk mute findings for a parent based on a filter. The parent can be either an organization, folder or project. The findings matched by the filter will be muted after the LRO is done.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "path": "v1/{+parent}/findings:bulkMute",
              "id": "securitycenter.organizations.findings.bulkMute",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent, at which bulk action needs to be applied. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\"."
                }
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a mute config.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
                  "required": true,
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "id": "securitycenter.organizations.muteConfigs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "create": {
              "id": "securitycenter.organizations.muteConfigs.create",
              "path": "v1/{+parent}/muteConfigs",
              "parameters": {
                "muteConfigId": {
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the new mute configs's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\"."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "description": "Creates a mute config.",
              "httpMethod": "POST"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "description": "Deletes an existing mute config.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.muteConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "description": "Required. Name of the mute config to delete. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+name}"
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "id": "securitycenter.organizations.muteConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the mute config to retrieve. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": "Gets a mute config."
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListMuteConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMuteConfigs` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent, which owns the collection of mute configs. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\"."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "id": "securitycenter.organizations.muteConfigs.list",
              "path": "v1/{+parent}/muteConfigs",
              "description": "Lists mute configs.",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "assets": {
          "methods": {
            "updateSecurityMarks": {
              "request": {
                "$ref": "SecurityMarks"
              },
              "response": {
                "$ref": "SecurityMarks"
              },
              "description": "Updates security marks.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query",
                  "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time."
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.updateSecurityMarks"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/assets",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "readTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
                },
                "filter": {
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following are the allowed field and operator combinations: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent. The following fields are supported: name update_time resource_properties security_marks.marks security_center_properties.resource_name security_center_properties.resource_display_name security_center_properties.resource_parent security_center_properties.resource_parent_display_name security_center_properties.resource_project security_center_properties.resource_project_display_name security_center_properties.resource_type"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query"
                },
                "compareDuration": {
                  "location": "query",
                  "format": "google-duration",
                  "description": "When compare_duration is set, the ListAssetsResult's \"state_change\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the parent resource that contains the assets. The value that you can specify on parent depends on the method in which you specify parent. You can specify one of the following values: \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "id": "securitycenter.organizations.assets.list",
              "description": "Lists an organization's assets.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/assets"
            },
            "group": {
              "flatPath": "v1/organizations/{organizationsId}/assets:group",
              "httpMethod": "POST",
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "path": "v1/{+parent}/assets:group",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the parent to group the assets by. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true
                }
              },
              "id": "securitycenter.organizations.assets.group",
              "request": {
                "$ref": "GroupAssetsRequest"
              }
            },
            "runDiscovery": {
              "flatPath": "v1/organizations/{organizationsId}/assets:runDiscovery",
              "path": "v1/{+parent}/assets:runDiscovery",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization to run asset discovery for. Its format is \"organizations/[organization_id]\".",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.assets.runDiscovery",
              "description": "Runs asset discovery. The discovery is tracked with a long-running operation. This API can only be called with limited frequency for an organization. If it is called too frequently the caller will receive a TOO_MANY_REQUESTS error.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST"
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent resource of the new BigQuery export. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "bigQueryExportId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum."
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "description": "Creates a BigQuery export.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/bigQueryExports",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports",
              "id": "securitycenter.organizations.bigQueryExports.create"
            },
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a BigQuery export.",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.bigQueryExports.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the BigQuery export to retrieve. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "description": "Updates a BigQuery export.",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests.",
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "securitycenter.organizations.bigQueryExports.patch",
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            },
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.bigQueryExports.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/bigQueryExports/[^/]+$",
                  "description": "Required. The name of the BigQuery export to delete. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "description": "Deletes an existing BigQuery export."
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/bigQueryExports",
              "id": "securitycenter.organizations.bigQueryExports.list",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListBigQueryExports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryExports` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent, which owns the collection of BigQuery exports. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/bigQueryExports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists BigQuery exports. Note that when requesting BigQuery exports at a given level all exports under that level are also returned e.g. if requesting BigQuery exports under a folder, then all BigQuery exports immediately under the folder plus the ones created under the projects within the folder are returned.",
              "httpMethod": "GET"
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "patch": {
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The FieldMask to use when updating the notification config. If empty all mutable fields will be updated.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\".",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "description": " Updates a notification config. The following update fields are allowed: description, pubsub_topic, streaming_config.filter",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.notificationConfigs.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the notification config to get. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "description": "Gets a notification config.",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "id": "securitycenter.organizations.notificationConfigs.get"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListNotificationConfigsResponse`; indicates that this is a continuation of a prior `ListNotificationConfigs` call, and that the system should return the next page of data."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent in which to list the notification configurations. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.organizations.notificationConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "description": "Lists notification configs.",
              "path": "v1/{+parent}/notificationConfigs"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the notification config to delete. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "securitycenter.organizations.notificationConfigs.delete",
              "description": "Deletes a notification config.",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "configId": {
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must be between 1 and 128 characters and contain alphanumeric characters, underscores, or hyphens only.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Resource name of the new notification config's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "NotificationConfig"
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "id": "securitycenter.organizations.notificationConfigs.create",
              "description": "Creates a notification config.",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "path": "v1/{+parent}/notificationConfigs"
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations$",
                  "required": true,
                  "description": "The name of the operation's parent resource."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "id": "securitycenter.organizations.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1/{+name}",
              "id": "securitycenter.organizations.operations.get",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.operations.delete",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "muteConfigs": {
          "methods": {
            "create": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "id": "securitycenter.folders.muteConfigs.create",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the new mute configs's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$"
                },
                "muteConfigId": {
                  "type": "string",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/muteConfigs",
              "description": "Creates a mute config."
            },
            "patch": {
              "description": "Updates a mute config.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.muteConfigs.patch",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "get": {
              "id": "securitycenter.folders.muteConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "httpMethod": "GET",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets a mute config.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the mute config to retrieve. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "required": true
                }
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "description": "Required. Name of the mute config to delete. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "securitycenter.folders.muteConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "description": "Deletes an existing mute config.",
              "httpMethod": "DELETE"
            },
            "list": {
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "description": "Lists mute configs.",
              "id": "securitycenter.folders.muteConfigs.list",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/muteConfigs",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "description": "Required. The parent, which owns the collection of mute configs. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListMuteConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMuteConfigs` must match the call that provided the page token.",
                  "location": "query"
                }
              }
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "id": "securitycenter.folders.bigQueryExports.create",
              "parameters": {
                "bigQueryExportId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum."
                },
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the parent resource of the new BigQuery export. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "path": "v1/{+parent}/bigQueryExports",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "httpMethod": "POST",
              "description": "Creates a BigQuery export."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "path": "v1/{+parent}/bigQueryExports",
              "id": "securitycenter.folders.bigQueryExports.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, which owns the collection of BigQuery exports. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListBigQueryExports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryExports` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "description": "Lists BigQuery exports. Note that when requesting BigQuery exports at a given level all exports under that level are also returned e.g. if requesting BigQuery exports under a folder, then all BigQuery exports immediately under the folder plus the ones created under the projects within the folder are returned.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "description": "Updates a BigQuery export.",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.folders.bigQueryExports.patch",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "description": "Deletes an existing BigQuery export.",
              "id": "securitycenter.folders.bigQueryExports.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the BigQuery export to delete. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "location": "path",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "securitycenter.folders.bigQueryExports.get",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the BigQuery export to retrieve. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "description": "Gets a BigQuery export.",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "delete": {
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "id": "securitycenter.folders.notificationConfigs.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the notification config to delete. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a notification config.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "NotificationConfig"
              },
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the notification config to get. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "securitycenter.folders.notificationConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a notification config.",
              "httpMethod": "GET"
            },
            "create": {
              "request": {
                "$ref": "NotificationConfig"
              },
              "description": "Creates a notification config.",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "path": "v1/{+parent}/notificationConfigs",
              "response": {
                "$ref": "NotificationConfig"
              },
              "id": "securitycenter.folders.notificationConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the new notification config's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "configId": {
                  "location": "query",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must be between 1 and 128 characters and contain alphanumeric characters, underscores, or hyphens only.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.notificationConfigs.patch",
              "response": {
                "$ref": "NotificationConfig"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the notification config. If empty all mutable fields will be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path",
                  "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\"."
                }
              },
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "description": " Updates a notification config. The following update fields are allowed: description, pubsub_topic, streaming_config.filter",
              "path": "v1/{+name}",
              "request": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+parent}/notificationConfigs",
              "description": "Lists notification configs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListNotificationConfigsResponse`; indicates that this is a continuation of a prior `ListNotificationConfigs` call, and that the system should return the next page of data.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the parent in which to list the notification configurations. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "location": "path"
                }
              },
              "id": "securitycenter.folders.notificationConfigs.list"
            }
          }
        },
        "assets": {
          "methods": {
            "updateSecurityMarks": {
              "description": "Updates security marks.",
              "parameters": {
                "startTime": {
                  "format": "google-datetime",
                  "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time.",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/assets/[^/]+/securityMarks$",
                  "required": true,
                  "type": "string",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
                }
              },
              "flatPath": "v1/folders/{foldersId}/assets/{assetsId}/securityMarks",
              "id": "securitycenter.folders.assets.updateSecurityMarks",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "SecurityMarks"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SecurityMarks"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
[...]
