{
  "fullyEncodeReservedExpansion": true,
  "revision": "20230227",
  "kind": "discovery#restDescription",
  "version_module": true,
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        }
      }
    }
  },
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "customBiddingAlgorithms": {
      "methods": {
        "uploadScript": {
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "CustomBiddingScriptRef"
          },
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "httpMethod": "GET",
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript",
          "id": "displayvideo.customBiddingAlgorithms.uploadScript",
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object.",
          "parameters": {
            "partnerId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
            },
            "customBiddingAlgorithmId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the custom bidding algorithm owns the script.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "type": "string",
              "location": "query"
            },
            "partnerId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "customBiddingAlgorithmId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the custom bidding algorithm to fetch.",
              "required": true,
              "location": "path"
            }
          },
          "id": "displayvideo.customBiddingAlgorithms.get",
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "description": "Gets a custom bidding algorithm."
        },
        "patch": {
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "httpMethod": "PATCH",
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "customBiddingAlgorithmId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful."
        },
        "list": {
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "type": "integer"
            },
            "partnerId": {
              "type": "string",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query",
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query"
            },
            "filter": {
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions * implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)` or `EQUALS (=)`. * The operator must be `CONTAINS (:)` for the following field: - `displayName` * The operator must be `EQUALS (=)` for the following field: - `customBiddingAlgorithmType` * For `displayName`, the value is a string. We return all custom bidding algorithms whose display_name contains such string. * For `customBiddingAlgorithmType`, the value is a string. We return all algorithms whose custom_bidding_algorithm_type is equal to the given type. Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:politics`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "v2/customBiddingAlgorithms",
          "httpMethod": "GET",
          "path": "v2/customBiddingAlgorithms",
          "id": "displayvideo.customBiddingAlgorithms.list",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "create": {
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "parameterOrder": [],
          "flatPath": "v2/customBiddingAlgorithms",
          "parameters": {},
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "id": "displayvideo.customBiddingAlgorithms.create",
          "path": "v2/customBiddingAlgorithms",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      },
      "resources": {
        "scripts": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}",
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}",
              "description": "Gets a custom bidding script.",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameters": {
                "customBiddingScriptId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding script to fetch."
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "required": true
                },
                "partnerId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "format": "int64"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                }
              },
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "request": {
                "$ref": "CustomBiddingScript"
              },
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "description": "Creates a new custom bidding script. Returns the newly created script if successful.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter.",
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "httpMethod": "GET",
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "type": "string"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "type": "string"
                },
                "customBiddingAlgorithmId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "partners": {
      "resources": {
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.get",
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "description": "Gets a single targeting option assigned to a partner.",
                  "httpMethod": "GET",
                  "parameters": {
                    "targetingType": {
                      "location": "path",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "required": true,
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ]
                    },
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "format": "int64",
                      "description": "Required. The ID of the partner."
                    },
                    "assignedTargetingOptionId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "description": "Required. An identifier unique to the targeting type in this partner that identifies the assigned targeting option being requested."
                    }
                  },
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  }
                },
                "delete": {
                  "parameters": {
                    "targetingType": {
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path"
                    },
                    "assignedTargetingOptionId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the assigned targeting option to delete."
                    },
                    "partnerId": {
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the partner.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "description": "Deletes an assigned targeting option from a partner.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ]
                },
                "list": {
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.list",
                  "parameters": {
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartnerAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Allows filtering by assigned targeting option properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `assignedTargetingOptionId` Examples: * AssignedTargetingOption with ID 123456 `assignedTargetingOptionId=\"123456\"` The length of this field should be no more than 500 characters.",
                      "location": "query"
                    },
                    "partnerId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "description": "Required. The ID of the partner."
                    },
                    "targetingType": {
                      "pattern": "^[^/]+$",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ]
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "description": "Lists the targeting options assigned to a partner.",
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPartnerAssignedTargetingOptionsResponse"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.create",
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "parameters": {
                    "partnerId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the partner."
                    },
                    "targetingType": {
                      "pattern": "^[^/]+$",
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "location": "path",
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "required": true
                    }
                  },
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "request": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "description": "Assigns a targeting option to a partner. Returns the assigned targeting option if successful.",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "channels": {
          "resources": {
            "sites": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Deletes a site from a channel.",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "parameterOrder": [
                    "partnerId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "parameters": {
                    "urlOrAppId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The URL or app ID of the site to delete.",
                      "location": "path",
                      "pattern": "^[^/]+$"
                    },
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "location": "query",
                      "type": "string",
                      "format": "int64"
                    },
                    "channelId": {
                      "type": "string",
                      "location": "path",
                      "format": "int64",
                      "description": "Required. The ID of the parent channel to which the site belongs.",
                      "pattern": "^[^/]+$",
                      "required": true
                    },
                    "partnerId": {
                      "format": "int64",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the partner that owns the parent channel."
                    }
                  },
                  "id": "displayvideo.partners.channels.sites.delete",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites",
                  "id": "displayvideo.partners.channels.sites.create",
                  "description": "Creates a site in a channel.",
                  "request": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "partnerId": {
                      "location": "path",
                      "required": true,
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel.",
                      "type": "string"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "format": "int64",
                      "required": true,
                      "type": "string"
                    },
                    "advertiserId": {
                      "type": "string",
                      "format": "int64",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  }
                },
                "replace": {
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:replace",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:replace",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "parameters": {
                    "channelId": {
                      "format": "int64",
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true
                    },
                    "partnerId": {
                      "location": "path",
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites.",
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  },
                  "id": "displayvideo.partners.channels.sites.replace"
                },
                "bulkEdit": {
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "id": "displayvideo.partners.channels.sites.bulkEdit",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:bulkEdit",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit",
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "parameters": {
                    "partnerId": {
                      "format": "int64",
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the partner that owns the parent channel.",
                      "required": true
                    },
                    "channelId": {
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "format": "int64"
                    }
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ]
                },
                "list": {
                  "id": "displayvideo.partners.channels.sites.list",
                  "description": "Lists sites in a channel.",
                  "path": "v2/partners/{+partnerId}/channels/{+channelId}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "flatPath": "v2/partners/{partnersId}/channels/{channelsId}/sites",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "location": "query",
                      "type": "integer"
                    },
                    "partnerId": {
                      "type": "string",
                      "format": "int64",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "The ID of the partner that owns the parent channel."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`."
                    },
                    "channelId": {
                      "required": true,
                      "description": "Required. The ID of the parent channel to which the requested sites belong.",
                      "format": "int64",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site currently can only contain at most one * restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "advertiserId": {
                      "format": "int64",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "id": "displayvideo.partners.channels.patch",
              "response": {
                "$ref": "Channel"
              },
              "description": "Updates a channel. Returns the updated channel if successful.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "path": "v2/partners/{+partnerId}/channels/{channelId}",
              "flatPath": "v2/partners/{partnersId}/channels/{channelId}",
              "httpMethod": "PATCH",
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "type": "string",
                  "format": "int64"
                },
                "channelId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "description": "Output only. The unique ID of the channel. Assigned by the system."
                },
                "partnerId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "The ID of the partner that owns the created channel.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Channel"
              }
            },
            "get": {
              "parameters": {
                "channelId": {
                  "type": "string",
                  "description": "Required. The ID of the channel to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true
                },
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The ID of the partner that owns the fetched channel.",
                  "format": "int64",
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the fetched channel."
                }
              },
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "description": "Gets a channel for a partner or advertiser.",
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/partners/{partnersId}/channels/{channelsId}",
              "id": "displayvideo.partners.channels.get",
              "path": "v2/partners/{+partnerId}/channels/{+channelId}",
              "httpMethod": "GET"
            },
            "create": {
              "response": {
                "$ref": "Channel"
              },
              "path": "v2/partners/{+partnerId}/channels",
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "The ID of the partner that owns the created channel."
                }
              },
              "request": {
                "$ref": "Channel"
              },
              "flatPath": "v2/partners/{partnersId}/channels",
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "id": "displayvideo.partners.channels.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "description": "Lists channels for a partner or advertiser.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "partnerId": {
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the partner that owns the channels."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned."
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the channels.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel currently can only contain at most one * restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters."
                }
              },
              "path": "v2/partners/{+partnerId}/channels",
              "flatPath": "v2/partners/{partnersId}/channels",
              "id": "displayvideo.partners.channels.list",
              "response": {
                "$ref": "ListChannelsResponse"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Partner"
          },
          "flatPath": "v2/partners/{partnersId}",
          "path": "v2/partners/{+partnerId}",
          "parameters": {
            "partnerId": {
              "type": "string",
              "description": "Required. The ID of the partner to fetch.",
              "required": true,
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "partnerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.get",
          "description": "Gets a partner."
        },
        "editAssignedTargetingOptions": {
          "path": "v2/partners/{+partnerId}:editAssignedTargetingOptions",
          "id": "displayvideo.partners.editAssignedTargetingOptions",
          "request": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsRequest"
          },
          "response": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsResponse"
          },
          "description": "Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests .",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/partners/{partnersId}:editAssignedTargetingOptions",
          "parameterOrder": [
            "partnerId"
          ],
          "parameters": {
            "partnerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the partner.",
              "format": "int64"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v2/partners",
          "parameters": {
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Allows filtering by partner properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `entityStatus` Examples: * All active partners: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` The length of this field should be no more than 500 characters."
            }
          },
          "path": "v2/partners",
          "response": {
            "$ref": "ListPartnersResponse"
          },
          "id": "displayvideo.partners.list",
          "description": "Lists partners that are accessible to the current user. The order is defined by the order_by parameter."
        }
      }
    },
    "firstAndThirdPartyAudiences": {
      "methods": {
        "patch": {
          "flatPath": "v2/firstAndThirdPartyAudiences/{firstAndThirdPartyAudiencesId}",
          "request": {
            "$ref": "FirstAndThirdPartyAudience"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "FirstAndThirdPartyAudience"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update. Updates are only supported for the following fields: * `displayName` * `description` * `membershipDurationDays`"
            },
            "firstAndThirdPartyAudienceId": {
              "description": "Output only. The unique ID of the first and third party audience. Assigned by the system.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "advertiserId": {
              "description": "Required. The ID of the owner advertiser of the updated FirstAndThirdPartyAudience.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "v2/firstAndThirdPartyAudiences/{+firstAndThirdPartyAudienceId}",
          "id": "displayvideo.firstAndThirdPartyAudiences.patch",
          "description": "Updates an existing FirstAndThirdPartyAudience. Only supported for the following audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`",
          "parameterOrder": [
            "firstAndThirdPartyAudienceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "path": "v2/firstAndThirdPartyAudiences/{+firstAndThirdPartyAudienceId}",
          "id": "displayvideo.firstAndThirdPartyAudiences.get",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched first and third party audience.",
              "location": "query"
            },
            "firstAndThirdPartyAudienceId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the first and third party audience to fetch.",
              "format": "int64"
            },
            "partnerId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that has access to the fetched first and third party audience.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "firstAndThirdPartyAudienceId"
          ],
          "response": {
            "$ref": "FirstAndThirdPartyAudience"
          },
          "description": "Gets a first and third party audience.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/firstAndThirdPartyAudiences/{firstAndThirdPartyAudiencesId}"
        },
        "create": {
          "request": {
            "$ref": "FirstAndThirdPartyAudience"
          },
          "id": "displayvideo.firstAndThirdPartyAudiences.create",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/firstAndThirdPartyAudiences",
          "response": {
            "$ref": "FirstAndThirdPartyAudience"
          },
          "path": "v2/firstAndThirdPartyAudiences",
          "parameterOrder": [],
          "description": "Creates a FirstAndThirdPartyAudience. Only supported for the following audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "Required. The ID of the advertiser under whom the FirstAndThirdPartyAudience will be created.",
              "format": "int64"
            }
          },
          "httpMethod": "POST"
        },
        "list": {
          "response": {
            "$ref": "ListFirstAndThirdPartyAudiencesResponse"
          },
          "parameters": {
            "orderBy": {
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `firstAndThirdPartyAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that has access to the fetched first and third party audiences.",
              "format": "int64"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Allows filtering by first and third party audience fields. Supported syntax: * Filter expressions for first and third party audiences currently can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `displayName` Examples: * All first and third party audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListFirstAndThirdPartyAudiences` method. If not specified, the first page of results will be returned."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the fetched first and third party audiences.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Lists first and third party audiences. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "id": "displayvideo.firstAndThirdPartyAudiences.list",
          "flatPath": "v2/firstAndThirdPartyAudiences",
          "path": "v2/firstAndThirdPartyAudiences"
        },
        "editCustomerMatchMembers": {
          "httpMethod": "POST",
          "id": "displayvideo.firstAndThirdPartyAudiences.editCustomerMatchMembers",
          "request": {
            "$ref": "EditCustomerMatchMembersRequest"
          },
          "parameters": {
            "firstAndThirdPartyAudienceId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the Customer Match FirstAndThirdPartyAudience whose members will be edited."
            }
          },
          "parameterOrder": [
            "firstAndThirdPartyAudienceId"
          ],
          "description": "Updates the member list of a Customer Match audience. Only supported for the following audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "EditCustomerMatchMembersResponse"
          },
          "flatPath": "v2/firstAndThirdPartyAudiences/{firstAndThirdPartyAudiencesId}:editCustomerMatchMembers",
          "path": "v2/firstAndThirdPartyAudiences/{+firstAndThirdPartyAudienceId}:editCustomerMatchMembers"
        }
      }
    },
    "inventorySourceGroups": {
      "resources": {
        "assignedInventorySources": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAssignedInventorySourcesResponse"
              },
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.list",
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "flatPath": "v2/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "parameters": {
                "partnerId": {
                  "description": "The ID of the partner that has access to the assignment. If the parent inventory source group is advertiser-owned, the assignment cannot be accessed via a partner.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `assignedInventorySourceId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `assignedInventorySourceId desc`."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAssignedInventorySources` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "inventorySourceGroupId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the inventory source group to which these assignments are assigned.",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                },
                "filter": {
                  "type": "string",
                  "description": "Allows filtering by assigned inventory source fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `assignedInventorySourceId` The length of this field should be no more than 500 characters.",
                  "location": "query"
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the advertiser that has access to the assignment. If the parent inventory source group is partner-owned, only advertisers to which the parent group is explicitly shared can access the assigned inventory source."
                }
              },
              "path": "v2/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources",
              "httpMethod": "GET",
              "description": "Lists inventory sources assigned to an inventory source group.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "create": {
              "description": "Creates an assignment between an inventory source and an inventory source group.",
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "request": {
                "$ref": "AssignedInventorySource"
              },
              "response": {
                "$ref": "AssignedInventorySource"
              },
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.create",
              "httpMethod": "POST",
              "flatPath": "v2/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner will not have access to this assigned inventory source.",
                  "type": "string"
                },
                "inventorySourceGroupId": {
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the inventory source group to which the assignment will be assigned.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true
                },
                "partnerId": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner will have write access to this assigned inventory source."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v2/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources"
            },
            "delete": {
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "inventorySourceGroupId",
                "assignedInventorySourceId"
              ],
              "flatPath": "v2/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources/{assignedInventorySourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v2/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources/{+assignedInventorySourceId}",
              "description": "Deletes the assignment between an inventory source and an inventory source group.",
              "parameters": {
                "assignedInventorySourceId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the assigned inventory source to delete.",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to this assigned inventory source.",
                  "format": "int64",
                  "type": "string",
                  "location": "query"
                },
                "inventorySourceGroupId": {
                  "location": "path",
                  "description": "Required. The ID of the inventory source group to which this assignment is assigned.",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$"
                },
                "partnerId": {
                  "type": "string",
                  "location": "query",
                  "format": "int64",
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner has write access to this assigned inventory source."
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "bulkEdit": {
              "httpMethod": "POST",
              "request": {
                "$ref": "BulkEditAssignedInventorySourcesRequest"
              },
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "flatPath": "v2/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources:bulkEdit",
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.bulkEdit",
              "description": "Bulk edits multiple assignments between inventory sources and a single inventory source group. The operation will delete the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.deleted_assigned_inventory_sources and then create the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.created_assigned_inventory_sources.",
              "response": {
[...]
